Repository apache/arrow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kou, @westonpace, @wgtmac, @lidavidm, @curthagenlocher, @zeroshade, @domoritz, @trxcllnt, @kevingurney, @sgilmore10, @wjones127, @paleolimbot, @thisisnic, @assignUser, @raulcd

.github/CODEOWNERS:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Any committer can add themselves to any  of the path patterns
# and will subsequently get requested as a reviewer for any PRs
# that change matching files.
#
# This file uses .gitignore syntax with a few exceptions see the
# documentation about the syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Arrow Format
# /format/

## Components
/c_glib/ @kou
# /cpp/
/cpp/src/arrow/acero @westonpace
/cpp/src/arrow/adapters/orc @wgtmac
/cpp/src/arrow/engine @westonpace
/cpp/src/arrow/flight/ @lidavidm
/cpp/src/parquet @wgtmac
/csharp/ @curthagenlocher
/go/ @zeroshade
/java/ @lidavidm
/js/ @domoritz @trxcllnt
/matlab/ @kevingurney @kou @sgilmore10
/python/pyarrow/_flight.pyx @lidavidm
/python/pyarrow/**/*gandiva* @wjones127
/r/ @paleolimbot @thisisnic
/ruby/ @kou
/swift/ @kou

# Docs
# /docs/
# .readthedocs.yml
# *.md
# *.rmd
# *.rst
# *.txt

# PR CI and repository files
/.github/ @assignUser @kou @raulcd
.asf.yaml @assignUser @kou @raulcd
.pre-commit-config.yaml @raulcd
.travis.yml @assignUser @kou @raulcd
appveyor.yml @assignUser @kou @raulcd
# .git*

# release scripts, archery etc.
/ci/ @assignUser @kou @raulcd
/dev/ @assignUser @kou @raulcd
.dockerignore @raulcd
.env @assignUser @kou @raulcd
docker-compose.yml @assignUser @kou @raulcd

# R specific packaging tooling
/r/configure* @assignUser
/r/Makefile @assignUser
/r/PACKAGING.md @assignUser
/r/tools/ @assignUser
.Rbuildignore @assignUser

MINOR: [Java] Remove superfluous add-source execution (#43216)
  java/flight/flight-core/pom.xml
Owners: @lidavidm

update vendored/datetime
  cpp/src/arrow/vendored/datetime/README.md
  cpp/src/arrow/vendored/datetime/date.h
  cpp/src/arrow/vendored/datetime/ios.h
  cpp/src/arrow/vendored/datetime/ios.mm
  cpp/src/arrow/vendored/datetime/tz.cpp
  cpp/src/arrow/vendored/datetime/tz.h
  cpp/src/arrow/vendored/datetime/tz_private.h
Owners: none

applying arrow specific patches
  cpp/src/arrow/vendored/datetime/date.h
  cpp/src/arrow/vendored/datetime/ios.h
  cpp/src/arrow/vendored/datetime/ios.mm
  cpp/src/arrow/vendored/datetime/tz.cpp
  cpp/src/arrow/vendored/datetime/tz.h
  cpp/src/arrow/vendored/datetime/tz_private.h
Owners: none

GH-43204: [CI][Packaging] Apply vcpkg patch to fix Thrift version (#43208)
  ci/vcpkg/ports.patch
Owners: @assignUser, @kou, @raulcd

GH-41541: [Go][Parquet] More fixes for writer performance regression (#42003)
  go/arrow/compute/utils.go
  go/parquet/internal/encoding/types.go
Owners: @zeroshade

MINOR: [Release] Update CHANGELOG.md for 17.0.0
  CHANGELOG.md
Owners: none

MINOR: [Release] Update .deb/.rpm changelogs for 17.0.0
  dev/tasks/linux-packages/apache-arrow-apt-source/debian/changelog
  dev/tasks/linux-packages/apache-arrow-release/yum/apache-arrow-release.spec.in
  dev/tasks/linux-packages/apache-arrow/debian/changelog
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
Owners: @assignUser, @kou, @raulcd

1. support preallocation for [Large]ListView's data type 2. support NullGeneralization for chunked-array 3. simple refactor some execute logic and remove finished TODO
  cpp/src/arrow/compute/exec.cc
  cpp/src/arrow/compute/exec_internal.h
Owners: none

refactoring the setup preallocation logic in-place
  cpp/src/arrow/compute/exec.cc
Owners: none

revert more precise pre-allocation for VectorExecutor
  cpp/src/arrow/compute/exec.cc
Owners: none

keep ChunkedArray same constraint with Array in NullGeneration
  cpp/src/arrow/compute/exec.cc
Owners: none

extracting the setup preallocation logic to a function for VectorExecutor
  cpp/src/arrow/compute/exec.cc
Owners: none

Finish test
  cpp/src/arrow/compute/row/encode_internal.cc
  cpp/src/arrow/compute/row/row_internal.cc
  cpp/src/arrow/compute/row/row_test.cc
Owners: none

Refactor parquet::encryption::AesEncryptor
  cpp/src/parquet/encryption/encryption_internal.cc
  cpp/src/parquet/encryption/encryption_internal.h
  cpp/src/parquet/encryption/encryption_internal_nossl.cc
  cpp/src/parquet/encryption/internal_file_encryptor.cc
  cpp/src/parquet/encryption/internal_file_encryptor.h
  cpp/src/parquet/metadata.cc
Owners: @wgtmac

Change buffer size checks to test for equality
  cpp/src/parquet/encryption/encryption_internal.cc
Owners: @wgtmac

Change CiphertextLength to return int32_t rather than int
  cpp/src/parquet/encryption/encryption_internal.cc
  cpp/src/parquet/encryption/encryption_internal.h
  cpp/src/parquet/encryption/encryption_internal_nossl.cc
  cpp/src/parquet/encryption/encryption_internal_test.cc
  cpp/src/parquet/encryption/internal_file_encryptor.cc
  cpp/src/parquet/encryption/internal_file_encryptor.h
  cpp/src/parquet/encryption/key_toolkit_internal.cc
Owners: @wgtmac

Replace Encryptor::CiphertextSizeDelta with CiphertextLength method
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/encryption/encryption_internal.cc
  cpp/src/parquet/encryption/encryption_internal.h
  cpp/src/parquet/encryption/encryption_internal_nossl.cc
  cpp/src/parquet/encryption/encryption_internal_test.cc
  cpp/src/parquet/encryption/internal_file_encryptor.cc
  cpp/src/parquet/encryption/internal_file_encryptor.h
  cpp/src/parquet/encryption/key_toolkit_internal.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/thrift_internal.h
Owners: @wgtmac

Refactor AesEncryptor to use arrow::util::span
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/encryption/encryption_internal.cc
  cpp/src/parquet/encryption/encryption_internal.h
  cpp/src/parquet/encryption/encryption_internal_nossl.cc
  cpp/src/parquet/encryption/encryption_internal_test.cc
  cpp/src/parquet/encryption/internal_file_encryptor.cc
  cpp/src/parquet/encryption/internal_file_encryptor.h
  cpp/src/parquet/encryption/key_toolkit_internal.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/thrift_internal.h
Owners: @wgtmac

Remove unnecessary cast from int to unsigned
  cpp/src/parquet/metadata.cc
Owners: @wgtmac

Fix incorrect use of int32_t instead of int
  cpp/src/parquet/encryption/encryption_internal.cc
Owners: @wgtmac

Use std::array instead of C arrays in encryption_internal.cc
  cpp/src/parquet/encryption/encryption_internal.cc
Owners: @wgtmac

Remove unnecessary cast to resizable buffer
  cpp/src/parquet/thrift_internal.h
Owners: @wgtmac

Remove another unnecessary cast to ResizableBuffer
  cpp/src/parquet/metadata.cc
Owners: @wgtmac

Check for addition overflow in CiphertextLength
  cpp/src/parquet/encryption/encryption_internal.cc
Owners: @wgtmac

Fix checking for overflow when reading ciphertext length
  cpp/src/parquet/encryption/encryption_internal.cc
Owners: @wgtmac

s/unsigned/int/
  cpp/src/parquet/metadata.cc
Owners: @wgtmac

Update encryptor impl
  cpp/src/parquet/encryption/internal_file_encryptor.cc
  cpp/src/parquet/encryption/internal_file_encryptor.h
Owners: @wgtmac

more strict check?
  cpp/src/parquet/metadata.cc
Owners: @wgtmac

GH-43142: [C++][Parquet] Refactor Encryptor API to use arrow::util::span instead of raw pointers (#43195)
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/encryption/encryption_internal.cc
  cpp/src/parquet/encryption/encryption_internal.h
  cpp/src/parquet/encryption/encryption_internal_nossl.cc
  cpp/src/parquet/encryption/encryption_internal_test.cc
  cpp/src/parquet/encryption/internal_file_encryptor.cc
  cpp/src/parquet/encryption/internal_file_encryptor.h
  cpp/src/parquet/encryption/key_toolkit_internal.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/thrift_internal.h
Owners: @wgtmac

Add method to create Grpc.Core service definition to allow pre-Kestrel flight servers on .Net framework
  csharp/src/Apache.Arrow.Flight/Apache.Arrow.Flight.csproj
  csharp/src/Apache.Arrow.Flight/Server/GrpcCoreFlightServerExtensions.cs
Owners: @curthagenlocher

cmake: Pass correct package name to resolve_dependency(absl...)
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

Refine error message
  cpp/src/arrow/compute/row/encode_internal.cc
  cpp/src/arrow/compute/row/row_test.cc
Owners: none

Add decimal256 in docs
  docs/source/python/api/datatypes.rst
Owners: none

Remove jars from the verification list
  dev/tasks/tasks.yml
Owners: @assignUser, @kou, @raulcd

GH-43217: [Java] Remove flight-core shaded jars
  java/flight/flight-core/pom.xml
Owners: @lidavidm

GH-43229: [Java] Update Maven project info
  dev/release/utils-prepare.sh
  java/bom/pom.xml
  java/maven/pom.xml
  java/pom.xml
Owners: @assignUser, @kou, @raulcd, @lidavidm

cmake: Force gRPC_SOURCE to BUNDLED if absl is BUNDLED as well
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

docker: Remove absl_SOURCE=BUNDLED from fedora build
  ci/docker/fedora-39-cpp.dockerfile
Owners: @assignUser, @kou, @raulcd

cmake: Set ARROW_ABSL_REQUIRED_VERSION explicitly
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

GH-43218: [C++] Resolve Abseil like any other dependency in the build system (#43219)
  ci/docker/fedora-39-cpp.dockerfile
  cpp/CMakeLists.txt
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: @assignUser, @kou, @raulcd
