Repository apache/arrow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kou, @westonpace, @wgtmac, @lidavidm, @curthagenlocher, @zeroshade, @domoritz, @trxcllnt, @kevingurney, @sgilmore10, @wjones127, @paleolimbot, @thisisnic, @assignUser, @raulcd

Update ParquetFileWriter.Rd
  r/man/ParquetFileWriter.Rd
Owners: @paleolimbot, @thisisnic

Make WriteBatch just call WriteTable
  r/R/parquet.R
Owners: @paleolimbot, @thisisnic

Fix crash in ParquetFileWriter$WriteTable
  r/R/parquet.R
Owners: @paleolimbot, @thisisnic

Bump minimum supported R version to 15.0.0
  .github/workflows/r.yml
Owners: @assignUser, @kou, @raulcd

Remove skip_on_cpp_older_than
  r/tests/testthat/helper-skip.R
  r/tests/testthat/test-parquet.R
Owners: @paleolimbot, @thisisnic

Remove ARROW_VERSION_MAJOR >= 15 guard
  r/src/r_to_arrow.cpp
Owners: @paleolimbot, @thisisnic

Use 15.0.2 for minimum Arrow C++ version
  .github/workflows/r.yml
Owners: @assignUser, @kou, @raulcd

Bump min version in check-versions.R
  r/tools/check-versions.R
Owners: @assignUser

Include NEWS.md entry
  r/NEWS.md
Owners: @paleolimbot, @thisisnic

Bump min version in more places
  r/tools/check-versions.R
  r/tools/test-check-versions.R
Owners: @assignUser

GH-43143: [C++][Parquet] Default initialize some parquet metadata variables (#43144)
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/schema.cc
  cpp/src/parquet/schema.h
Owners: @wgtmac

Use zero-copy instead
  cpp/src/arrow/compute/kernels/scalar_cast_temporal.cc
  python/pyarrow/tests/test_compute.py
  python/pyarrow/tests/test_ipc.py
Owners: none

GH-43129: [C++][Compute] Fix the unnecessary allocation of extra bytes when encoding row table (#43125)
  cpp/src/arrow/compute/CMakeLists.txt
  cpp/src/arrow/compute/row/encode_internal.cc
  cpp/src/arrow/compute/row/row_internal.cc
  cpp/src/arrow/compute/row/row_internal.h
  cpp/src/arrow/compute/row/row_test.cc
Owners: none

GH-43046: [C++] Fix avx2 gather rows more than 2^31 issue in `CompareColumnsToRows` (#43065)
  cpp/src/arrow/compute/row/compare_internal_avx2.cc
  cpp/src/arrow/compute/row/row_internal.cc
Owners: none

use auto-aligned atomic int64 for pathbuilder refcounts
  go/parquet/pqarrow/path_builder.go
Owners: @zeroshade

GH-43183: [C++] Add `date{32,64}` to `date{32,64}` cast (#43192)
  cpp/src/arrow/compute/kernels/scalar_cast_temporal.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
  python/pyarrow/tests/test_compute.py
Owners: none

add tests for 386
  .github/workflows/go.yml
Owners: @assignUser, @kou, @raulcd

limit scope of tests
  .github/workflows/go.yml
Owners: @assignUser, @kou, @raulcd

cleanup workflow
  .github/workflows/go.yml
Owners: @assignUser, @kou, @raulcd

extract counter creation to function
  go/internal/utils/ref_count.go
  go/parquet/pqarrow/path_builder.go
Owners: @zeroshade

GH-43204: [CI][Packaging] Apply vcpkg patch to fix Thrift version
  ci/vcpkg/ports.patch
Owners: @assignUser, @kou, @raulcd

Add trailing whitespace
  ci/vcpkg/ports.patch
Owners: @assignUser, @kou, @raulcd

add tests
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/page_index.cc
  cpp/src/parquet/page_index_test.cc
  cpp/src/parquet/size_statistics.cc
  cpp/src/parquet/size_statistics_test.cc
Owners: @wgtmac

GH-43211: [C++] Fix decimal benchmarks to avoid out-of-bounds accesses
  cpp/src/arrow/util/decimal_benchmark.cc
Owners: none

Add test for `write_feather` `use_threads=False` option
  python/pyarrow/tests/test_feather.py
Owners: none

Fix comment error
  python/pyarrow/feather.py
Owners: none

Add a `use_threads` parameter to `feather.write_feather()`
  python/pyarrow/feather.py
Owners: none

Fix
  cpp/src/arrow/compute/row/encode_internal.cc
  cpp/src/arrow/compute/row/encode_internal.h
  cpp/src/arrow/compute/row/row_internal.cc
  cpp/src/arrow/compute/row/row_test.cc
Owners: none

Fix and test
  cpp/src/arrow/compute/row/encode_internal.cc
  cpp/src/arrow/compute/row/row_internal.cc
  cpp/src/arrow/compute/row/row_test.cc
Owners: none

GH-41541: [Go][Parquet] More fixes for writer performance regression (#42003)
  go/arrow/compute/utils.go
  go/parquet/internal/encoding/types.go
Owners: @zeroshade

bmi support for 386
  .github/workflows/go.yml
  go/parquet/internal/bmi/bitmap_bmi2_386.go
Owners: @assignUser, @kou, @raulcd, @zeroshade

moved dependencies which are only required while testing and development and not in runtime to devdependencies
  js/package.json
Owners: @domoritz, @trxcllnt

add Go implementation
  go/arrow/extensions/doc.go
  go/arrow/extensions/opaque.go
  go/arrow/extensions/opaque_test.go
Owners: @zeroshade

GH-43204: [CI][Packaging] Apply vcpkg patch to fix Thrift version (#43208)
  ci/vcpkg/ports.patch
Owners: @assignUser, @kou, @raulcd

GH-43186: [Go] Use auto-aligned atomic int64 for pqarrow pathbuilders (#43206)
  .github/workflows/go.yml
  go/internal/utils/ref_count.go
  go/parquet/internal/bmi/bitmap_bmi2_386.go
  go/parquet/pqarrow/path_builder.go
Owners: @assignUser, @kou, @raulcd, @zeroshade

MINOR: [Java] Remove superfluous add-source execution
  java/flight/flight-core/pom.xml
Owners: @lidavidm

GH-42240: [R] Fix crash in ParquetFileWriter$WriteTable and add WriteBatch (#42241)
  .github/workflows/r.yml
  r/NEWS.md
  r/R/parquet.R
  r/man/ParquetFileWriter.Rd
  r/src/r_to_arrow.cpp
  r/tests/testthat/test-parquet.R
  r/tools/check-versions.R
  r/tools/test-check-versions.R
Owners: @assignUser, @kou, @raulcd, @paleolimbot, @thisisnic

GH-43168: Add buffer and array builders for Struct type
  swift/Arrow/Sources/Arrow/ArrowArray.swift
  swift/Arrow/Sources/Arrow/ArrowArrayBuilder.swift
  swift/Arrow/Sources/Arrow/ArrowBufferBuilder.swift
  swift/Arrow/Sources/Arrow/ArrowReaderHelper.swift
  swift/Arrow/Tests/ArrowTests/ArrayTests.swift
Owners: @kou

cmake: Use the normal dependency resolution scheme for abseil
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

cmake: Improve error message hinting to alternative way of fixing
  cpp/CMakeLists.txt
Owners: none

.github/CODEOWNERS:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Any committer can add themselves to any  of the path patterns
# and will subsequently get requested as a reviewer for any PRs
# that change matching files.
#
# This file uses .gitignore syntax with a few exceptions see the
# documentation about the syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Arrow Format
# /format/

## Components
/c_glib/ @kou
# /cpp/
/cpp/src/arrow/acero @westonpace
/cpp/src/arrow/adapters/orc @wgtmac
/cpp/src/arrow/engine @westonpace
/cpp/src/arrow/flight/ @lidavidm
/cpp/src/parquet @wgtmac
/csharp/ @curthagenlocher
/go/ @zeroshade
/java/ @lidavidm
/js/ @domoritz @trxcllnt
/matlab/ @kevingurney @kou @sgilmore10
/python/pyarrow/_flight.pyx @lidavidm
/python/pyarrow/**/*gandiva* @wjones127
/r/ @paleolimbot @thisisnic
/ruby/ @kou
/swift/ @kou

# Docs
# /docs/
# .readthedocs.yml
# *.md
# *.rmd
# *.rst
# *.txt

# PR CI and repository files
/.github/ @assignUser @kou @raulcd
.asf.yaml @assignUser @kou @raulcd
.pre-commit-config.yaml @raulcd
.travis.yml @assignUser @kou @raulcd
appveyor.yml @assignUser @kou @raulcd
# .git*

# release scripts, archery etc.
/ci/ @assignUser @kou @raulcd
/dev/ @assignUser @kou @raulcd
.dockerignore @raulcd
.env @assignUser @kou @raulcd
docker-compose.yml @assignUser @kou @raulcd

# R specific packaging tooling
/r/configure* @assignUser
/r/Makefile @assignUser
/r/PACKAGING.md @assignUser
/r/tools/ @assignUser
.Rbuildignore @assignUser
