Repository apache/arrow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kou, @westonpace, @wgtmac, @lidavidm, @curthagenlocher, @zeroshade, @domoritz, @trxcllnt, @kevingurney, @sgilmore10, @wjones127, @paleolimbot, @thisisnic, @assignUser, @raulcd

.github/CODEOWNERS:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Any committer can add themselves to any  of the path patterns
# and will subsequently get requested as a reviewer for any PRs
# that change matching files.
#
# This file uses .gitignore syntax with a few exceptions see the
# documentation about the syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Arrow Format
# /format/

## Components
/c_glib/ @kou
# /cpp/
/cpp/src/arrow/acero @westonpace
/cpp/src/arrow/adapters/orc @wgtmac
/cpp/src/arrow/engine @westonpace
/cpp/src/arrow/flight/ @lidavidm
/cpp/src/parquet @wgtmac
/csharp/ @curthagenlocher
/go/ @zeroshade
/java/ @lidavidm
/js/ @domoritz @trxcllnt
/matlab/ @kevingurney @kou @sgilmore10
/python/pyarrow/_flight.pyx @lidavidm
/python/pyarrow/**/*gandiva* @wjones127
/r/ @paleolimbot @thisisnic
/ruby/ @kou
/swift/ @kou

# Docs
# /docs/
# .readthedocs.yml
# *.md
# *.rmd
# *.rst
# *.txt

# PR CI and repository files
/.github/ @assignUser @kou @raulcd
.asf.yaml @assignUser @kou @raulcd
.pre-commit-config.yaml @raulcd
.travis.yml @assignUser @kou @raulcd
appveyor.yml @assignUser @kou @raulcd
# .git*

# release scripts, archery etc.
/ci/ @assignUser @kou @raulcd
/dev/ @assignUser @kou @raulcd
.dockerignore @raulcd
.env @assignUser @kou @raulcd
docker-compose.yml @assignUser @kou @raulcd

# R specific packaging tooling
/r/configure* @assignUser
/r/Makefile @assignUser
/r/PACKAGING.md @assignUser
/r/tools/ @assignUser
.Rbuildignore @assignUser

remove unused template arguments in DeltaLengthByteArrayEncoder
  cpp/src/parquet/encoding.cc
Owners: @wgtmac

GH-43194: [R] R_existsVarInFrame isn't available earlier than R 4.2 (#43243)
  r/src/arrow_cpp11.h
Owners: @paleolimbot, @thisisnic

fix format
  cpp/src/parquet/encoding.cc
Owners: @wgtmac

Fix lint script
  cpp/build-support/lint_cpp_cli.py
Owners: none

Replace DCHECK with ARROW_DCHECK in all public headers
  cpp/src/arrow/acero/unmaterialized_table.h
  cpp/src/arrow/acero/util.h
  cpp/src/arrow/public_api_test.cc
  cpp/src/arrow/util/bit_stream_utils.h
  cpp/src/arrow/util/rle_encoding.h
  cpp/src/arrow/util/tdigest.h
  cpp/src/arrow/util/vector.h
  cpp/src/gandiva/dex_visitor.h
  cpp/src/gandiva/engine.h
  cpp/src/gandiva/eval_batch.h
  cpp/src/gandiva/llvm_types.h
  cpp/src/gandiva/local_bitmaps_holder.h
  cpp/src/gandiva/selection_vector_impl.h
  cpp/src/parquet/bloom_filter.h
  cpp/src/parquet/level_conversion_inc.h
Owners: @westonpace, @wgtmac

Format
  cpp/src/arrow/acero/unmaterialized_table.h
Owners: @westonpace

Revert test
  cpp/src/arrow/public_api_test.cc
Owners: none

Remove using
  cpp/src/parquet/column_writer.h
Owners: @wgtmac

Address review comment
  cpp/src/parquet/column_writer.cc
Owners: @wgtmac

Update test
  python/pyarrow/tests/parquet/test_metadata.py
Owners: none

fix `"nNull"` docstring typo -> `"null"`
  cpp/src/arrow/compute/kernels/vector_sort.cc
Owners: none

GH-43245: [Packaging][deb] Add missing libabsl-dev dependency (#43246)
  dev/tasks/linux-packages/apache-arrow/apt/debian-trixie/Dockerfile
  dev/tasks/linux-packages/apache-arrow/debian/control.in
Owners: @assignUser, @kou, @raulcd

GH-43164: [C++] Fix CMake link order for AWS SDK (#43230)
  cpp/src/arrow/filesystem/CMakeLists.txt
Owners: none

GH-43211: [C++] Fix decimal benchmarks to avoid out-of-bounds accesses (#43212)
  cpp/src/arrow/util/decimal_benchmark.cc
Owners: none

EXPERIMENT: [C++] Always prefer mimalloc to jemalloc
  cpp/src/arrow/memory_pool.cc
  dev/archery/archery/benchmark/runner.py
Owners: @assignUser, @kou, @raulcd
