Repository apache/arrow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kou, @westonpace, @wgtmac, @lidavidm, @curthagenlocher, @zeroshade, @domoritz, @trxcllnt, @kevingurney, @sgilmore10, @wjones127, @paleolimbot, @thisisnic, @assignUser, @raulcd

.github/CODEOWNERS:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Any committer can add themselves to any  of the path patterns
# and will subsequently get requested as a reviewer for any PRs
# that change matching files.
#
# This file uses .gitignore syntax with a few exceptions see the
# documentation about the syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Arrow Format
# /format/

## Components
/c_glib/ @kou
# /cpp/
/cpp/src/arrow/acero @westonpace
/cpp/src/arrow/adapters/orc @wgtmac
/cpp/src/arrow/engine @westonpace
/cpp/src/arrow/flight/ @lidavidm
/cpp/src/parquet @wgtmac
/csharp/ @curthagenlocher
/go/ @zeroshade
/java/ @lidavidm
/js/ @domoritz @trxcllnt
/matlab/ @kevingurney @kou @sgilmore10
/python/pyarrow/_flight.pyx @lidavidm
/python/pyarrow/**/*gandiva* @wjones127
/r/ @paleolimbot @thisisnic
/ruby/ @kou
/swift/ @kou

# Docs
# /docs/
# .readthedocs.yml
# *.md
# *.rmd
# *.rst
# *.txt

# PR CI and repository files
/.github/ @assignUser @kou @raulcd
.asf.yaml @assignUser @kou @raulcd
.pre-commit-config.yaml @raulcd
.travis.yml @assignUser @kou @raulcd
appveyor.yml @assignUser @kou @raulcd
# .git*

# release scripts, archery etc.
/ci/ @assignUser @kou @raulcd
/dev/ @assignUser @kou @raulcd
.dockerignore @raulcd
.env @assignUser @kou @raulcd
docker-compose.yml @assignUser @kou @raulcd

# R specific packaging tooling
/r/configure* @assignUser
/r/Makefile @assignUser
/r/PACKAGING.md @assignUser
/r/tools/ @assignUser
.Rbuildignore @assignUser

Fix release test script
  dev/release/01-prepare-test.rb
Owners: @assignUser, @kou, @raulcd

also check nullptr for decryptor
  cpp/src/parquet/encryption/internal_file_decryptor.cc
Owners: @wgtmac

one more check
  cpp/src/parquet/encryption/internal_file_decryptor.cc
Owners: @wgtmac

Fix release test
  dev/release/01-prepare-test.rb
Owners: @assignUser, @kou, @raulcd

Add missing end
  dev/release/01-prepare-test.rb
Owners: @assignUser, @kou, @raulcd

GH-43232: [Release][Packaging][Python] Add tzdata as conda env requirement to avoid ORC failure
  dev/release/verify-release-candidate.sh
Owners: @assignUser, @kou, @raulcd

initial bool8
  go/arrow/type_traits.go
  go/internal/types/extension_types.go
  go/internal/types/extension_types_test.go
Owners: @zeroshade

copy extensions package
  go/arrow/extensions/doc.go
Owners: @zeroshade

move to extensions dir
  go/arrow/extensions/bool8.go
  go/arrow/extensions/bool8_test.go
  go/internal/types/extension_types.go
  go/internal/types/extension_types_test.go
Owners: @zeroshade

general cleanup
  go/arrow/extensions/bool8.go
  go/arrow/extensions/bool8_test.go
Owners: @zeroshade

change storage type to int8
  go/arrow/extensions/bool8.go
Owners: @zeroshade

refactor custom builders to create extension builder internally
  go/arrow/array/builder.go
  go/arrow/array/extension_builder.go
  go/arrow/extensions/bool8.go
  go/arrow/extensions/bool8_test.go
  go/internal/types/extension_types.go
  go/internal/types/extension_types_test.go
  go/parquet/pqarrow/encode_arrow_test.go
Owners: @zeroshade

concatenate.cc: Move the new Concatenate overload to internal::
  cpp/src/arrow/array/concatenate.cc
  cpp/src/arrow/array/concatenate.h
  cpp/src/arrow/array/concatenate_test.cc
Owners: none

flight: Extract repetitive deserialization code to templates
  cpp/src/arrow/flight/types.cc
Owners: @lidavidm

flight: Use ParseFromArray to parse from std::string_view
  cpp/src/arrow/flight/types.cc
Owners: @lidavidm

flight: Don't inline the creation of Status messages
  cpp/src/arrow/flight/types.cc
Owners: @lidavidm

flight: Extract repetitive serialization code to templates
  cpp/src/arrow/flight/types.cc
Owners: @lidavidm

add general extension tests
  go/arrow/array/builder.go
  go/arrow/extensions/extensions_test.go
Owners: @zeroshade

incorporate review suggestions
  go/arrow/extensions/bool8.go
  go/arrow/type_traits.go
Owners: @zeroshade

MINOR: [Docs][Python] Add missing decimal256 docs entries (#43225)
  docs/source/python/api/datatypes.rst
Owners: none

GH-43232: [Release][Packaging][Python] Add tzdata as conda env requirement to avoid ORC failure (#43233)
  dev/release/verify-release-candidate.sh
Owners: @assignUser, @kou, @raulcd

add missing license headers
  go/arrow/extensions/bool8.go
  go/arrow/extensions/bool8_test.go
  go/arrow/extensions/extensions_test.go
Owners: @zeroshade

GH-43114: [Archery][Dev] Support setuptools-scm >= 8.0.0 (#43156)
  dev/archery/archery/crossbow/core.py
  dev/archery/setup.py
Owners: @assignUser, @kou, @raulcd

GH-43095: [C++] Update bundled vendor/datetime to support for building with libc++ and C++20 (#43094)
  cpp/src/arrow/vendored/datetime/README.md
  cpp/src/arrow/vendored/datetime/date.h
  cpp/src/arrow/vendored/datetime/tz.cpp
  cpp/src/arrow/vendored/datetime/tz.h
  cpp/src/arrow/vendored/datetime/tz_private.h
Owners: none

Use ChunkedArray to keep statistics
  cpp/src/parquet/arrow/reader_internal.cc
Owners: @wgtmac

Remove TypedArrayStatistics
  cpp/src/arrow/array/array_primitive.h
  cpp/src/arrow/array/statistics.h
  cpp/src/arrow/type_fwd.h
  cpp/src/parquet/arrow/arrow_statistics_test.cc
  cpp/src/parquet/arrow/reader_internal.cc
Owners: @wgtmac

Use BooleanArrayStatistics
  cpp/src/parquet/arrow/reader_internal.cc
Owners: @wgtmac

Move statistics to Array from ArrayData
  cpp/src/arrow/array/array_base.h
  cpp/src/arrow/array/array_primitive.h
  cpp/src/arrow/array/data.h
  cpp/src/parquet/arrow/arrow_statistics_test.cc
  cpp/src/parquet/arrow/reader_internal.cc
Owners: @wgtmac

Add is_min_exact/is_max_exact
  cpp/src/arrow/array/statistics.h
  cpp/src/parquet/arrow/arrow_statistics_test.cc
  cpp/src/parquet/arrow/reader_internal.cc
Owners: @wgtmac

Add a missing &
  cpp/src/arrow/array/util.cc
Owners: none

GH-41909: PoC: [C++] Add arrow::ArrayStatistics
  cpp/src/arrow/array/array_base.h
  cpp/src/arrow/array/array_primitive.h
  cpp/src/arrow/array/data.h
  cpp/src/arrow/array/statistics.h
  cpp/src/arrow/type_fwd.h
  cpp/src/parquet/arrow/arrow_statistics_test.cc
  cpp/src/parquet/arrow/reader.cc
  cpp/src/parquet/arrow/reader_internal.cc
  cpp/src/parquet/arrow/reader_internal.h
Owners: @wgtmac

Fix style
  cpp/src/arrow/type_fwd.h
Owners: none

Use Array's ArrayData constructor to assign statistics
  cpp/src/arrow/array/array_base.h
  cpp/src/arrow/array/array_binary.cc
  cpp/src/arrow/array/array_binary.h
  cpp/src/arrow/array/array_dict.cc
  cpp/src/arrow/array/array_dict.h
  cpp/src/arrow/array/array_nested.cc
  cpp/src/arrow/array/array_nested.h
  cpp/src/arrow/array/array_primitive.cc
  cpp/src/arrow/array/array_primitive.h
  cpp/src/arrow/array/array_run_end.cc
  cpp/src/arrow/array/array_run_end.h
  cpp/src/arrow/array/util.cc
  cpp/src/arrow/array/util.h
  cpp/src/arrow/extension_type.h
  cpp/src/parquet/arrow/arrow_statistics_test.cc
  cpp/src/parquet/arrow/reader_internal.cc
Owners: @wgtmac

Don't use virtual functions in constructor directly
  cpp/src/arrow/array/array_base.h
  cpp/src/arrow/array/array_binary.h
  cpp/src/arrow/array/array_dict.cc
  cpp/src/arrow/array/array_nested.cc
  cpp/src/arrow/array/array_nested.h
  cpp/src/arrow/array/array_primitive.h
  cpp/src/arrow/array/array_run_end.h
Owners: none

fallback to Rf_findvarinframe3
  r/src/arrow_cpp11.h
Owners: @paleolimbot, @thisisnic

GH-43245: [Packaging][deb] Add missing libabsl-dev dependency
  dev/tasks/linux-packages/apache-arrow/debian/control.in
Owners: @assignUser, @kou, @raulcd

fix CMake link order to prevent AWS SDK for C++ static variable conflicts
  cpp/src/arrow/filesystem/CMakeLists.txt
Owners: none

Remove mold
  dev/tasks/linux-packages/apache-arrow/apt/debian-trixie/Dockerfile
Owners: @assignUser, @kou, @raulcd

Add lint for DCHECK in headers
  cpp/build-support/lint_cpp_cli.py
Owners: none

Protect DCHECK macros by ifdef
  cpp/src/arrow/util/logging.h
Owners: none
