Repository apache/arrow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kou, @westonpace, @wgtmac, @lidavidm, @curthagenlocher, @zeroshade, @domoritz, @trxcllnt, @kevingurney, @sgilmore10, @wjones127, @paleolimbot, @thisisnic, @assignUser, @raulcd

.github/CODEOWNERS:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Any committer can add themselves to any  of the path patterns
# and will subsequently get requested as a reviewer for any PRs
# that change matching files.
#
# This file uses .gitignore syntax with a few exceptions see the
# documentation about the syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Arrow Format
# /format/

## Components
/c_glib/ @kou
# /cpp/
/cpp/src/arrow/acero @westonpace
/cpp/src/arrow/adapters/orc @wgtmac
/cpp/src/arrow/engine @westonpace
/cpp/src/arrow/flight/ @lidavidm
/cpp/src/parquet @wgtmac
/csharp/ @curthagenlocher
/go/ @zeroshade
/java/ @lidavidm
/js/ @domoritz @trxcllnt
/matlab/ @kevingurney @kou @sgilmore10
/python/pyarrow/_flight.pyx @lidavidm
/python/pyarrow/**/*gandiva* @wjones127
/r/ @paleolimbot @thisisnic
/ruby/ @kou
/swift/ @kou

# Docs
# /docs/
# .readthedocs.yml
# *.md
# *.rmd
# *.rst
# *.txt

# PR CI and repository files
/.github/ @assignUser @kou @raulcd
.asf.yaml @assignUser @kou @raulcd
.pre-commit-config.yaml @raulcd
.travis.yml @assignUser @kou @raulcd
appveyor.yml @assignUser @kou @raulcd
# .git*

# release scripts, archery etc.
/ci/ @assignUser @kou @raulcd
/dev/ @assignUser @kou @raulcd
.dockerignore @raulcd
.env @assignUser @kou @raulcd
docker-compose.yml @assignUser @kou @raulcd

# R specific packaging tooling
/r/configure* @assignUser
/r/Makefile @assignUser
/r/PACKAGING.md @assignUser
/r/tools/ @assignUser
.Rbuildignore @assignUser

Update VCPKG_OSX_DEPLOYMENT_TARGET to 12.0
  ci/vcpkg/arm64-osx-static-debug.cmake
  ci/vcpkg/arm64-osx-static-release.cmake
  ci/vcpkg/universal2-osx-static-debug.cmake
  ci/vcpkg/universal2-osx-static-release.cmake
Owners: @assignUser, @kou, @raulcd

resolve comments
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/bloom_filter_builder.cc
  cpp/src/parquet/column_writer.cc
Owners: @wgtmac

Other possible updates required to bump everything to macOS 12
  dev/tasks/java-jars/github.yml
  python/CMakeLists.txt
  ruby/red-arrow/ext/arrow/extconf.rb
  swift/ArrowFlight/Sources/ArrowFlight/Flight.grpc.swift
Owners: @assignUser, @kou, @raulcd

GH-31924: [FlightRPC][Java] Provide standard way to get client IPaddress
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/RequestInfo.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/auth2/BearerTokenAuthenticator.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/auth2/CallHeaderAuthenticator.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/auth2/ServerCallHeaderAuthMiddleware.java
Owners: @lidavidm

handle batched encoding
  go/parquet/file/file_writer_test.go
  go/parquet/internal/encoding/byte_stream_split.go
  go/parquet/internal/encoding/encoding_test.go
  go/parquet/internal/encoding/fixed_len_byte_array_encoder.go
  go/parquet/internal/encoding/typed_encoder.gen.go
  go/parquet/internal/encoding/typed_encoder.gen.go.tmpl
Owners: @zeroshade

handle batched decoding
  go/parquet/file/file_writer_test.go
  go/parquet/internal/encoding/byte_stream_split.go
  go/parquet/internal/encoding/fixed_len_byte_array_decoder.go
  go/parquet/internal/encoding/typed_encoder.gen.go
  go/parquet/internal/encoding/typed_encoder.gen.go.tmpl
Owners: @zeroshade

improve buffer reuse
  go/parquet/file/file_writer_test.go
  go/parquet/internal/encoding/byte_stream_split.go
  go/parquet/internal/encoding/fixed_len_byte_array_decoder.go
  go/parquet/internal/encoding/fixed_len_byte_array_encoder.go
Owners: @zeroshade

MINOR: Add laurentgo to contributors list
  .asf.yaml
Owners: @assignUser, @kou, @raulcd

incorporate comments
  go/parquet/file/file_reader_test.go
  go/parquet/internal/encoding/byte_stream_split.go
Owners: @zeroshade

add comment to encoder/decoders
  go/parquet/internal/encoding/byte_stream_split.go
Owners: @zeroshade

MINOR: Add laurentgo to contributors list (#43140)
  .asf.yaml
Owners: @assignUser, @kou, @raulcd

Add using ::arrow::util::span
  cpp/src/parquet/encryption/encryption_internal.cc
Owners: @wgtmac

Check for negative plaintext length
  cpp/src/parquet/encryption/encryption_internal.cc
Owners: @wgtmac

Tidy up checking ciphertext length against length buffer length
  cpp/src/parquet/encryption/encryption_internal.cc
Owners: @wgtmac

Fix incorrect use of int instead of int32
  cpp/src/parquet/encryption/encryption_internal.cc
Owners: @wgtmac

[CI][JS] Update semicolon
  js/test/unit/vector/interval-month-day-nano-tests.ts
Owners: @domoritz, @trxcllnt

[JS]: Remove skip js test and update ci test
  dev/archery/archery/integration/datagen.py
  js/test/unit/vector/interval-month-day-nano-tests.ts
Owners: @assignUser, @kou, @raulcd, @domoritz, @trxcllnt

[JS]: Add interval for unit MONTH_DAY_NANO
  js/src/Arrow.dom.ts
  js/src/Arrow.ts
  js/src/builder/interval.ts
  js/src/enum.ts
  js/src/interfaces.ts
  js/src/type.ts
  js/src/visitor.ts
  js/src/visitor/builderctor.ts
  js/src/visitor/get.ts
  js/src/visitor/indexof.ts
  js/src/visitor/iterator.ts
  js/src/visitor/set.ts
  js/src/visitor/typecomparator.ts
  js/src/visitor/typector.ts
  js/test/data/tables.ts
  js/test/generate-test-data.ts
  js/test/unit/builders/builder-tests.ts
  js/test/unit/builders/utf8-tests.ts
  js/test/unit/generated-data-tests.ts
  js/test/unit/vector/interval-month-day-nano-tests.ts
Owners: @domoritz, @trxcllnt

[CI][JS] Update code formatting
  js/src/type.ts
  js/test/unit/vector/interval-month-day-nano-tests.ts
Owners: @domoritz, @trxcllnt

GH-43143: Default initialize some parquet metadata variables
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/schema.cc
  cpp/src/parquet/schema.h
Owners: @wgtmac

GH-43070: [C++][Parquet] Check for valid ciphertext length to prevent segfault (#43071)
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/encryption/encryption.h
  cpp/src/parquet/encryption/encryption_internal.cc
  cpp/src/parquet/encryption/encryption_internal.h
  cpp/src/parquet/encryption/encryption_internal_nossl.cc
  cpp/src/parquet/encryption/encryption_internal_test.cc
  cpp/src/parquet/encryption/internal_file_decryptor.cc
  cpp/src/parquet/encryption/internal_file_decryptor.h
  cpp/src/parquet/encryption/key_toolkit_internal.cc
  cpp/src/parquet/encryption/read_configurations_test.cc
  cpp/src/parquet/thrift_internal.h
Owners: @wgtmac

Add Python tests
  python/pyarrow/tests/test_extension_type.py
Owners: none

Allow direct usage of BoundExpressions
  python/pyarrow/_compute.pyx
  python/pyarrow/_dataset.pyx
  python/pyarrow/_substrait.pyx
  python/pyarrow/tests/test_dataset.py
  python/pyarrow/tests/test_substrait.py
Owners: none

Support serializing and deserializing schemas
  python/pyarrow/_substrait.pyx
  python/pyarrow/includes/common.pxd
  python/pyarrow/includes/libarrow_substrait.pxd
  python/pyarrow/substrait.py
Owners: none

Ease usage of schemas with extensions
  cpp/src/arrow/engine/substrait/serde.cc
  python/pyarrow/_substrait.pyx
  python/pyarrow/tests/test_substrait.py
Owners: @westonpace

expose data as memoryviews and test
  python/pyarrow/_substrait.pyx
  python/pyarrow/tests/test_substrait.py
Owners: none

Ignore unused import in Cython
  python/pyarrow/_substrait.pyx
Owners: none

Ignore unused import
  python/pyarrow/_substrait.pyx
Owners: none

Remove trailing spaces
  docs/source/python/integration/substrait.rst
Owners: none

Fix typo
  python/pyarrow/_compute.pyx
Owners: none

Add documentation
  docs/source/python/api/substrait.rst
  docs/source/python/integration.rst
  docs/source/python/integration/substrait.rst
  python/pyarrow/_substrait.pyx
  python/pyarrow/substrait.py
Owners: none

GH-43070: [C++][Parquet] Check for valid ciphertext length to prevent segfault (#43071)
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/encryption/encryption.h
  cpp/src/parquet/encryption/encryption_internal.cc
  cpp/src/parquet/encryption/encryption_internal.h
  cpp/src/parquet/encryption/encryption_internal_nossl.cc
  cpp/src/parquet/encryption/encryption_internal_test.cc
  cpp/src/parquet/encryption/internal_file_decryptor.cc
  cpp/src/parquet/encryption/internal_file_decryptor.h
  cpp/src/parquet/encryption/key_toolkit_internal.cc
  cpp/src/parquet/encryption/read_configurations_test.cc
  cpp/src/parquet/thrift_internal.h
Owners: @wgtmac

remove warning
  docs/source/cpp/dataset.rst
Owners: none

Modified comments
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/DateTimeUtils.java
Owners: @lidavidm

- Refactored duplicate code in ArrowFlightJdbcTimeStampVectorAccessorTest - Made timezone converting logic more readable in ArrowFlightJdbcTimeStampVectorAccessor - Fixed checkstyle issues
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessor.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessorTest.java
Owners: @lidavidm

- renamed compareOffset to a more descriptive name - Refactored getTimestampForVector() to be more concise and readable
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessorTest.java
Owners: @lidavidm

Refactored getLongToUTCDateTimeForVector
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessor.java
Owners: @lidavidm

Executed spotless after cherry picks
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessor.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/DateTimeUtils.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessorTest.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/utils/DateTimeUtilsTest.java
Owners: @lidavidm

Removed unused variables
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessor.java
Owners: @lidavidm

Fixed millis truncation.
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcTimeStampVectorAccessorTest.java
Owners: @lidavidm
