Repository apache/arrow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kou, @westonpace, @wgtmac, @lidavidm, @curthagenlocher, @zeroshade, @domoritz, @trxcllnt, @kevingurney, @sgilmore10, @wjones127, @paleolimbot, @thisisnic, @assignUser, @raulcd

.github/CODEOWNERS:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Any committer can add themselves to any  of the path patterns
# and will subsequently get requested as a reviewer for any PRs
# that change matching files.
#
# This file uses .gitignore syntax with a few exceptions see the
# documentation about the syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Arrow Format
# /format/

## Components
/c_glib/ @kou
# /cpp/
/cpp/src/arrow/acero @westonpace
/cpp/src/arrow/adapters/orc @wgtmac
/cpp/src/arrow/engine @westonpace
/cpp/src/arrow/flight/ @lidavidm
/cpp/src/parquet @wgtmac
/csharp/ @curthagenlocher
/go/ @zeroshade
/java/ @lidavidm
/js/ @domoritz @trxcllnt
/matlab/ @kevingurney @kou @sgilmore10
/python/pyarrow/_flight.pyx @lidavidm
/python/pyarrow/**/*gandiva* @wjones127
/r/ @paleolimbot @thisisnic
/ruby/ @kou
/swift/ @kou

# Docs
# /docs/
# .readthedocs.yml
# *.md
# *.rmd
# *.rst
# *.txt

# PR CI and repository files
/.github/ @assignUser @kou @raulcd
.asf.yaml @assignUser @kou @raulcd
.pre-commit-config.yaml @raulcd
.travis.yml @assignUser @kou @raulcd
appveyor.yml @assignUser @kou @raulcd
# .git*

# release scripts, archery etc.
/ci/ @assignUser @kou @raulcd
/dev/ @assignUser @kou @raulcd
.dockerignore @raulcd
.env @assignUser @kou @raulcd
docker-compose.yml @assignUser @kou @raulcd

# R specific packaging tooling
/r/configure* @assignUser
/r/Makefile @assignUser
/r/PACKAGING.md @assignUser
/r/tools/ @assignUser
.Rbuildignore @assignUser

Ensure using bundled zlib
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

Require CMake 3.29+ for FetchContent
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

Disable unity build
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

Add missing libprotobuf dependency
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

Don't use ORC with CentOS 7
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
Owners: @assignUser, @kou, @raulcd

Set ZLIB::ZLIB's include directory for Emscripten
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

Disable ORC on Ubuntu 20.04 because CMake is old
  ci/docker/ubuntu-20.04-cpp.dockerfile
Owners: @assignUser, @kou, @raulcd

Add target_include_directories() again
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

Use ExternalProject with old CMake
  ci/docker/ubuntu-20.04-cpp-minimal.dockerfile
  ci/docker/ubuntu-20.04-cpp.dockerfile
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  dev/release/verify-release-candidate.sh
  dev/tasks/linux-packages/apache-arrow/debian/rules
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
Owners: @assignUser, @kou, @raulcd

Update comment
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

Use CMake targets directly
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

Use ARROW_ORC
  dev/tasks/linux-packages/apache-arrow/debian/rules
Owners: @assignUser, @kou, @raulcd

Disable ORC with old CMake
  dev/tasks/linux-packages/apache-arrow/debian/rules
Owners: @assignUser, @kou, @raulcd

Adjust file list
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
Owners: @assignUser, @kou, @raulcd

Revert package version bump
  r/DESCRIPTION
Owners: @paleolimbot, @thisisnic

GH-43160: Add Struct Array
  swift/Arrow/Sources/Arrow/ArrowArray.swift
  swift/Arrow/Sources/Arrow/ArrowCImporter.swift
  swift/Arrow/Sources/Arrow/ArrowDecoder.swift
  swift/Arrow/Sources/Arrow/ArrowTable.swift
  swift/Arrow/Sources/Arrow/ChunkedArray.swift
  swift/Arrow/Tests/ArrowTests/CodableTests.swift
Owners: @kou

GH-43160: [Swift] Add Struct Array (#43161)
  swift/Arrow/Sources/Arrow/ArrowArray.swift
  swift/Arrow/Sources/Arrow/ArrowCImporter.swift
  swift/Arrow/Sources/Arrow/ArrowDecoder.swift
  swift/Arrow/Sources/Arrow/ArrowTable.swift
  swift/Arrow/Sources/Arrow/ChunkedArray.swift
  swift/Arrow/Tests/ArrowTests/CodableTests.swift
Owners: @kou

Disable FETCHCONTENT_FULLY_DISCONNECTED
  cpp/CMakeLists.txt
  dev/tasks/linux-packages/apache-arrow/debian/rules
Owners: @assignUser, @kou, @raulcd

fix pull on grouped datasets
  r/R/dplyr-collect.R
  r/tests/testthat/test-dplyr-query.R
Owners: @paleolimbot, @thisisnic

remove Rf_findVarInFrame3
  r/src/arrow_cpp11.h
Owners: @paleolimbot, @thisisnic

Remove LEVELS
  r/src/arrow_cpp11.h
Owners: @paleolimbot, @thisisnic

lint
  r/src/arrow_cpp11.h
Owners: @paleolimbot, @thisisnic

Update r/R/dplyr-collect.R
  r/R/dplyr-collect.R
Owners: @paleolimbot, @thisisnic

Ooops, delete two more
  r/src/arrow_cpp11.h
Owners: @paleolimbot, @thisisnic

GH-43153: [R] pull on a grouped query returns the wrong column (#43172)
  r/R/dplyr-collect.R
  r/tests/testthat/test-dplyr-query.R
Owners: @paleolimbot, @thisisnic

GH-43044: [R] So-called non-API entry points (#43173)
  r/src/arrow_cpp11.h
Owners: @paleolimbot, @thisisnic

GH-43163: [R] Fix bindings in Math group generics (#43162)
  r/R/arrow-datum.R
  r/tests/testthat/test-compute-arith.R
Owners: @paleolimbot, @thisisnic

GH-43075: [CI][Crossbow][Docker] Set timeout for docker-tests (#43078)
  dev/tasks/docker-tests/github.cuda.yml
  dev/tasks/docker-tests/github.linux.yml
  dev/tasks/tasks.yml
Owners: @assignUser, @kou, @raulcd

fix comment
  cpp/src/parquet/schema.h
Owners: @wgtmac

GH-42149: [C++] Use FetchContent for bundled ORC (#43011)
  cpp/CMakeLists.txt
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
  dev/tasks/linux-packages/apache-arrow/debian/rules
Owners: @assignUser, @kou, @raulcd

GH-42149: [C++] Use FetchContent for bundled ORC (#43011)
  cpp/CMakeLists.txt
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
  dev/tasks/linux-packages/apache-arrow/debian/rules
Owners: @assignUser, @kou, @raulcd

GH-43158: [Packaging] Use bundled nlohmann/json on AlmaLinux 8/CentOS Stream 8 (#43159)
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
Owners: @assignUser, @kou, @raulcd

reproduce error
  go/arrow/ipc/ipc_test.go
Owners: @zeroshade

Remove inactive contributors
  .asf.yaml
Owners: @assignUser, @kou, @raulcd

MINOR: Remove inactive contributors (#43177)
  .asf.yaml
Owners: @assignUser, @kou, @raulcd

rewrite decoder to handle batches
  go/parquet/internal/encoding/byte_stream_split.go
  go/parquet/internal/encoding/encoding_benchmarks_test.go
  go/parquet/internal/encoding/fixed_len_byte_array_decoder.go
  go/parquet/internal/encoding/typed_encoder.gen.go
  go/parquet/internal/encoding/typed_encoder.gen.go.tmpl
Owners: @zeroshade

MINOR: [Release] Update .deb/.rpm changelogs for 17.0.0
  dev/tasks/linux-packages/apache-arrow-apt-source/debian/changelog
  dev/tasks/linux-packages/apache-arrow-release/yum/apache-arrow-release.spec.in
  dev/tasks/linux-packages/apache-arrow/debian/changelog
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
Owners: @assignUser, @kou, @raulcd

MINOR: [Release] Update CHANGELOG.md for 17.0.0
  CHANGELOG.md
Owners: none

MINOR: [R] Add news bullet for mutate() enhancement in 17.0
  r/NEWS.md
Owners: @paleolimbot, @thisisnic

add batched benchmark
  go/parquet/internal/encoding/encoding_benchmarks_test.go
Owners: @zeroshade
