Repository apache/arrow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kou, @westonpace, @wgtmac, @lidavidm, @curthagenlocher, @zeroshade, @domoritz, @trxcllnt, @kevingurney, @sgilmore10, @wjones127, @paleolimbot, @thisisnic, @assignUser, @raulcd

GH-43150: [Docs] Correct documentation of pyarrow.compute.microsecond
  cpp/src/arrow/compute/kernels/scalar_temporal_unary.cc
Owners: none

GH-43150: [Docs] Correct documentation of pyarrow.compute.microsecond (#43151)
  cpp/src/arrow/compute/kernels/scalar_temporal_unary.cc
Owners: none

GH-41623: [Docs] Remove the warning for `arrow::dataset` (#43148)
  docs/source/cpp/dataset.rst
Owners: none

Use MultipleHeaders
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

Specify nlohmann_json path explicitly
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

Use CXXFLAGS
  ci/scripts/PKGBUILD
Owners: @assignUser, @kou, @raulcd

Specify CURL_STATICLIB explicitly
  ci/scripts/PKGBUILD
Owners: @assignUser, @kou, @raulcd

GH-43134: [C++] Upgrade bundled google-cloud-cpp to 2.22.0
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Owners: none

concatenate.cc: Add local enum OffsetBufferOpOutcome
  cpp/src/arrow/array/concatenate.cc
Owners: none

GH-43152: [Release] Require "digest/sha1" explicitly for thread safety
  dev/release/binary-task.rb
Owners: @assignUser, @kou, @raulcd

GH-43130: [C++][ArrowFlight] Crash due to UCS thread mode (#43120)
  cpp/src/arrow/flight/transport/ucx/ucx_client.cc
Owners: @lidavidm

GH-43134: [C++] Upgrade bundled google-cloud-cpp to 2.22.0 (#43136)
  ci/scripts/PKGBUILD
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Owners: @assignUser, @kou, @raulcd

code tidying
  python/scripts/run_emscripten_tests.py
Owners: none

python tidying from code review
  python/pyarrow/_parquet.pyx
  python/pyarrow/conftest.py
  python/pyarrow/error.pxi
  python/pyarrow/tests/test_dataset.py
  python/scripts/run_emscripten_tests.py
Owners: none

review fixes
  python/pyarrow/io.pxi
  python/pyarrow/tests/test_csv.py
  python/scripts/run_emscripten_tests.py
Owners: none

GH-43116: [C++][Compute] Mark KeyCompare.CompareColumnsToRowsLarge as large memory test (#43128)
  cpp/src/arrow/compute/row/compare_test.cc
Owners: none

GH-43116: [C++][Compute] Mark KeyCompare.CompareColumnsToRowsLarge as large memory test (#43128)
  cpp/src/arrow/compute/row/compare_test.cc
Owners: none

GH-43134: [C++] Upgrade bundled google-cloud-cpp to 2.22.0 (#43136)
  ci/scripts/PKGBUILD
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Owners: @assignUser, @kou, @raulcd

tidy
  python/pyarrow/io.pxi
Owners: none

GH-36518: [Java] Fix ArrowFlightJdbcTimeStampVectorAccessor to return Timestamp objects with date and time that corresponds with local time instead of UTC date and time
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/accessor/impl/calendar/ArrowFlightJdbcDateVectorAccessor.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/DateTimeUtils.java
Owners: @lidavidm

update get_version for setuptools-scm > 8.x
  dev/archery/archery/crossbow/core.py
Owners: @assignUser, @kou, @raulcd

update setuptools_scm requirement to >= 8.0.0
  dev/archery/setup.py
Owners: @assignUser, @kou, @raulcd

GH-43152: [Release] Require "digest/sha1" explicitly for thread safety (#43154)
  dev/release/binary-task.rb
Owners: @assignUser, @kou, @raulcd

In Math.ArrowDatum, add support for log2, log1p, cumprod, cummin, cummax and fix bindings after support was added for cumsum
  r/DESCRIPTION
  r/R/arrow-datum.R
  r/tests/testthat/test-compute-arith.R
Owners: @paleolimbot, @thisisnic

GH-43158: [Packaging] Use bundled nlohmann/json on AlmaLinux 8/CentOS Stream 8
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
Owners: @assignUser, @kou, @raulcd

concatenate.cc: Suggest a cast to LARGE_(BINARY|STRING) when offsets overflow
  cpp/src/arrow/array/concatenate.cc
  cpp/src/arrow/array/concatenate.h
  cpp/src/arrow/array/concatenate_test.cc
Owners: none

concatenate.cc: Add ErrorHints struct
  cpp/src/arrow/array/concatenate.cc
Owners: none

concatenate.cc: Suggest casts when concatenation of [LARGE_]LIST array fails due to overflow
  cpp/src/arrow/array/concatenate.cc
  cpp/src/arrow/array/concatenate_test.cc
Owners: none

concatenate.cc: Suggest casts when concatenation of [LARGE_]LIST_VIEW array fails due to overflow
  cpp/src/arrow/array/concatenate.cc
  cpp/src/arrow/array/concatenate_test.cc
Owners: none

concatenate.cc: Suggest casts when concatenation of the values of an FSL fail due to overflow
  cpp/src/arrow/array/concatenate.cc
  cpp/src/arrow/array/concatenate_test.cc
Owners: none

GH-43158: [Packaging] Use bundled nlohmann/json on AlmaLinux 8/CentOS Stream 8 (#43159)
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
Owners: @assignUser, @kou, @raulcd

Disable ORC on Ubuntu 20.04
  dev/release/verify-release-candidate.sh
Owners: @assignUser, @kou, @raulcd

Fix style
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

Use interface library
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

GH-42149: [C++] Use FetchContent for bundled ORC
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Owners: none

Add missing IMPORTED
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

Add missing then
  dev/tasks/linux-packages/apache-arrow/debian/rules
Owners: @assignUser, @kou, @raulcd

Don't prefer static library
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

Disable ORC on Ubuntu 20.04
  ci/docker/ubuntu-20.04-cpp-minimal.dockerfile
Owners: @assignUser, @kou, @raulcd

Remove needless code
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Owners: none

.github/CODEOWNERS:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Any committer can add themselves to any  of the path patterns
# and will subsequently get requested as a reviewer for any PRs
# that change matching files.
#
# This file uses .gitignore syntax with a few exceptions see the
# documentation about the syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Arrow Format
# /format/

## Components
/c_glib/ @kou
# /cpp/
/cpp/src/arrow/acero @westonpace
/cpp/src/arrow/adapters/orc @wgtmac
/cpp/src/arrow/engine @westonpace
/cpp/src/arrow/flight/ @lidavidm
/cpp/src/parquet @wgtmac
/csharp/ @curthagenlocher
/go/ @zeroshade
/java/ @lidavidm
/js/ @domoritz @trxcllnt
/matlab/ @kevingurney @kou @sgilmore10
/python/pyarrow/_flight.pyx @lidavidm
/python/pyarrow/**/*gandiva* @wjones127
/r/ @paleolimbot @thisisnic
/ruby/ @kou
/swift/ @kou

# Docs
# /docs/
# .readthedocs.yml
# *.md
# *.rmd
# *.rst
# *.txt

# PR CI and repository files
/.github/ @assignUser @kou @raulcd
.asf.yaml @assignUser @kou @raulcd
.pre-commit-config.yaml @raulcd
.travis.yml @assignUser @kou @raulcd
appveyor.yml @assignUser @kou @raulcd
# .git*

# release scripts, archery etc.
/ci/ @assignUser @kou @raulcd
/dev/ @assignUser @kou @raulcd
.dockerignore @raulcd
.env @assignUser @kou @raulcd
docker-compose.yml @assignUser @kou @raulcd

# R specific packaging tooling
/r/configure* @assignUser
/r/Makefile @assignUser
/r/PACKAGING.md @assignUser
/r/tools/ @assignUser
.Rbuildignore @assignUser
