Repository apache/arrow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @kou, @westonpace, @wgtmac, @lidavidm, @curthagenlocher, @zeroshade, @domoritz, @trxcllnt, @kevingurney, @sgilmore10, @wjones127, @paleolimbot, @thisisnic, @assignUser, @raulcd

MINOR: [Java] Update issue management config in pom.xml
  java/pom.xml
Owners: @lidavidm

MINOR: [R] Add news bullet for mutate() enhancement in 17.0 (#43189)
  r/NEWS.md
Owners: @paleolimbot, @thisisnic

remove commented test
  go/parquet/internal/encoding/encoding_benchmarks_test.go
Owners: @zeroshade

panic instead of unknown type
  go/parquet/internal/encoding/byte_stream_split.go
Owners: @zeroshade

added docstring
  go/parquet/internal/encoding/byte_stream_split.go
Owners: @zeroshade

GH-43183: [C++] Add `date{32,64}` to `date{32,64}` cast
  cpp/src/arrow/compute/kernels/scalar_cast_temporal.cc
  python/pyarrow/tests/test_ipc.py
Owners: none

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Owners: @assignUser, @kou, @raulcd

MINOR: [Java] Update issue management config in pom.xml (#43191)
  .github/CONTRIBUTING.md
  java/pom.xml
Owners: @assignUser, @kou, @raulcd, @lidavidm

fix: do not increment `pos_` twice
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
Owners: none

Apply suggestions from code review
  cpp/src/arrow/compute/kernels/scalar_cast_temporal.cc
Owners: none

Add cpp test
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
Owners: none

add debug asserts for buffer sizes
  go/parquet/internal/encoding/byte_stream_split.go
Owners: @zeroshade

Use apache-arrow-{version} as the tarball source directory
  dev/release/utils-create-release-tarball.sh
Owners: @assignUser, @kou, @raulcd

Update the expected name of the top level directory in the source tarball
  dev/release/02-source-test.rb
Owners: @assignUser, @kou, @raulcd

GH-40592: [C++][Parquet] Implement SizeStatistics
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/column_page.h
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/metadata.h
  cpp/src/parquet/page_index.cc
  cpp/src/parquet/page_index.h
  cpp/src/parquet/properties.h
  cpp/src/parquet/size_statistics.cc
  cpp/src/parquet/size_statistics.h
  cpp/src/parquet/size_statistics_test.cc
  cpp/src/parquet/thrift_internal.h
Owners: @wgtmac

add basic test
  cpp/src/parquet/page_index_test.cc
  cpp/src/parquet/size_statistics_test.cc
Owners: @wgtmac

rename builder functions
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/page_index.cc
  cpp/src/parquet/size_statistics.cc
  cpp/src/parquet/size_statistics.h
  cpp/src/parquet/size_statistics_test.cc
Owners: @wgtmac

GH-43199: [CI][Packaging] dev/release/utils-create-release-tarball.sh should not include the release candidate number in the name of the tarball's top-level directory. (#43200)
  dev/release/02-source-test.rb
  dev/release/utils-create-release-tarball.sh
Owners: @assignUser, @kou, @raulcd

GH-43199: [CI][Packaging] dev/release/utils-create-release-tarball.sh should not include the release candidate number in the name of the tarball's top-level directory. (#43200)
  dev/release/02-source-test.rb
  dev/release/utils-create-release-tarball.sh
Owners: @assignUser, @kou, @raulcd

MINOR: [Release] Update CHANGELOG.md for 17.0.0
  CHANGELOG.md
Owners: none

MINOR: [Release] Update .deb/.rpm changelogs for 17.0.0
  dev/tasks/linux-packages/apache-arrow-apt-source/debian/changelog
  dev/tasks/linux-packages/apache-arrow-release/yum/apache-arrow-release.spec.in
  dev/tasks/linux-packages/apache-arrow/debian/changelog
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
Owners: @assignUser, @kou, @raulcd

Recover the changes
  cpp/src/arrow/compute/row/compare_internal_avx2.cc
  cpp/src/arrow/compute/row/row_internal.cc
Owners: none

Fix the unnecessary allocation of extra bytes when encoding row table
  cpp/src/arrow/compute/row/encode_internal.cc
Owners: none

Cleanup
  cpp/src/arrow/compute/row/encode_internal.cc
  cpp/src/arrow/compute/row/row_test.cc
Owners: none

Refine
  cpp/src/arrow/compute/row/row_test.cc
Owners: none

More cleanup
  cpp/src/arrow/compute/row/row_test.cc
Owners: none

Add test
  cpp/src/arrow/compute/CMakeLists.txt
  cpp/src/arrow/compute/row/encode_internal.cc
  cpp/src/arrow/compute/row/row_internal.cc
  cpp/src/arrow/compute/row/row_internal.h
  cpp/src/arrow/compute/row/row_test.cc
Owners: none

Fix build
  cpp/src/arrow/compute/row/compare_internal_avx2.cc
Owners: none

Address comments
  cpp/src/arrow/compute/row/encode_internal.cc
  cpp/src/arrow/compute/row/row_test.cc
Owners: none

Fix warning
  cpp/src/arrow/compute/row/row_test.cc
Owners: none

Use zero-copy instead
  cpp/src/arrow/compute/kernels/scalar_cast_temporal.cc
  python/pyarrow/tests/test_compute.py
  python/pyarrow/tests/test_ipc.py
Owners: none

Assign github issue for TODO
  cpp/src/arrow/compute/row/row_internal.cc
Owners: none

GH-41640: [Go] Implement BYTE_STREAM_SPLIT Parquet Encoding (#43066)
  go/parquet/doc.go
  go/parquet/file/column_reader.go
  go/parquet/file/column_writer_test.go
  go/parquet/file/file_reader_test.go
  go/parquet/file/file_writer_test.go
  go/parquet/internal/encoding/byte_stream_split.go
  go/parquet/internal/encoding/encoding_benchmarks_test.go
  go/parquet/internal/encoding/encoding_test.go
  go/parquet/internal/encoding/fixed_len_byte_array_decoder.go
  go/parquet/internal/encoding/fixed_len_byte_array_encoder.go
  go/parquet/internal/encoding/typed_encoder.gen.go
  go/parquet/internal/encoding/typed_encoder.gen.go.tmpl
  go/parquet/types.go
Owners: @zeroshade

handle voffsets truncate when offsets dont start from zero
  go/arrow/ipc/ipc_test.go
  go/arrow/ipc/writer.go
Owners: @zeroshade

test ipc reader results
  go/arrow/ipc/ipc_test.go
Owners: @zeroshade

fix: read first offset instead of first byte
  go/arrow/ipc/writer.go
Owners: @zeroshade

Skip test on older Arrow C++
  r/tests/testthat/helper-skip.R
  r/tests/testthat/test-parquet.R
Owners: @paleolimbot, @thisisnic

Add WriteBatch method to ParquetFileWriter
  r/R/parquet.R
  r/tests/testthat/test-parquet.R
Owners: @paleolimbot, @thisisnic

Document WriteBatch
  r/R/parquet.R
  r/man/ParquetFileWriter.Rd
Owners: @paleolimbot, @thisisnic

Fix doc issue
  r/R/parquet.R
Owners: @paleolimbot, @thisisnic

.github/CODEOWNERS:

# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Any committer can add themselves to any  of the path patterns
# and will subsequently get requested as a reviewer for any PRs
# that change matching files.
#
# This file uses .gitignore syntax with a few exceptions see the
# documentation about the syntax: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Arrow Format
# /format/

## Components
/c_glib/ @kou
# /cpp/
/cpp/src/arrow/acero @westonpace
/cpp/src/arrow/adapters/orc @wgtmac
/cpp/src/arrow/engine @westonpace
/cpp/src/arrow/flight/ @lidavidm
/cpp/src/parquet @wgtmac
/csharp/ @curthagenlocher
/go/ @zeroshade
/java/ @lidavidm
/js/ @domoritz @trxcllnt
/matlab/ @kevingurney @kou @sgilmore10
/python/pyarrow/_flight.pyx @lidavidm
/python/pyarrow/**/*gandiva* @wjones127
/r/ @paleolimbot @thisisnic
/ruby/ @kou
/swift/ @kou

# Docs
# /docs/
# .readthedocs.yml
# *.md
# *.rmd
# *.rst
# *.txt

# PR CI and repository files
/.github/ @assignUser @kou @raulcd
.asf.yaml @assignUser @kou @raulcd
.pre-commit-config.yaml @raulcd
.travis.yml @assignUser @kou @raulcd
appveyor.yml @assignUser @kou @raulcd
# .git*

# release scripts, archery etc.
/ci/ @assignUser @kou @raulcd
/dev/ @assignUser @kou @raulcd
.dockerignore @raulcd
.env @assignUser @kou @raulcd
docker-compose.yml @assignUser @kou @raulcd

# R specific packaging tooling
/r/configure* @assignUser
/r/Makefile @assignUser
/r/PACKAGING.md @assignUser
/r/tools/ @assignUser
.Rbuildignore @assignUser
