Repository apache/arrow, pull requests merged in 2021-05, with the labels that each got.

#10219 MINOR: [julia] fix typo
  julia/Arrow/docs/src/manual.md
Labels: lang-julia

#10256 MINOR: Typo in argument in R’s NEWS.md
  r/NEWS.md
Labels: lang-R

#10293 MINOR: [Docs] Fix pyarrow.parquet.read_table docstring
  python/pyarrow/parquet.py
Labels: lang-python

#10344 ARROW-12603: [C++][Dataset] Backport fix for specifying CSV column types
  cpp/src/arrow/dataset/file_csv.cc
  cpp/src/arrow/dataset/file_csv_test.cc
Labels: lang-c++

#10363 MINOR: [C++] Fix decimal docstring typo
  cpp/src/arrow/type_fwd.h
Labels: lang-c++
