Repository apache/arrow, pull requests merged in 2021-07, with the labels that each got.

#10680 MINOR: [JS] Revert rewrite since closure compiler is fixed now
  js/src/util/math.ts
Labels: lang-js

#10694 MINOR: [C++] Fix a typo
  cpp/src/arrow/array/validate.cc
Labels: lang-c++

#10763 MINOR: [JS] Include version in docs
  js/typedoc.js
Labels: lang-js

#10821 [Release][Minor] Bump development versions to 6.0.0-SNAPSHOT
  c_glib/meson.build
  ci/scripts/PKGBUILD
  cpp/CMakeLists.txt
  cpp/vcpkg.json
  csharp/Directory.Build.props
  dev/release/rat_exclude_files.txt
  dev/tasks/homebrew-formulae/apache-arrow.rb
  dev/tasks/homebrew-formulae/autobrew/apache-arrow.rb
  dev/tasks/linux-packages/apache-arrow/debian/control.in
  dev/tasks/linux-packages/apache-arrow/debian/libarrow-cuda-glib600.install
  dev/tasks/linux-packages/apache-arrow/debian/libarrow-cuda600.install
  dev/tasks/linux-packages/apache-arrow/debian/libarrow-dataset-glib600.install
  dev/tasks/linux-packages/apache-arrow/debian/libarrow-dataset600.install
  dev/tasks/linux-packages/apache-arrow/debian/libarrow-flight-glib600.install
  dev/tasks/linux-packages/apache-arrow/debian/libarrow-flight600.install
  dev/tasks/linux-packages/apache-arrow/debian/libarrow-glib600.install
  dev/tasks/linux-packages/apache-arrow/debian/libarrow-python-flight600.install
  dev/tasks/linux-packages/apache-arrow/debian/libarrow-python600.install
  dev/tasks/linux-packages/apache-arrow/debian/libarrow600.install
  dev/tasks/linux-packages/apache-arrow/debian/libgandiva-glib600.install
  dev/tasks/linux-packages/apache-arrow/debian/libgandiva600.install
  dev/tasks/linux-packages/apache-arrow/debian/libparquet-glib600.install
  dev/tasks/linux-packages/apache-arrow/debian/libparquet600.install
  dev/tasks/linux-packages/apache-arrow/debian/libplasma-glib600.install
  dev/tasks/linux-packages/apache-arrow/debian/libplasma600.install
  dev/tasks/tasks.yml
  java/adapter/avro/pom.xml
  java/adapter/jdbc/pom.xml
  java/adapter/orc/pom.xml
  java/algorithm/pom.xml
  java/compression/pom.xml
  java/dataset/pom.xml
  java/flight/flight-core/pom.xml
  java/flight/flight-grpc/pom.xml
  java/format/pom.xml
  java/gandiva/pom.xml
  java/memory/memory-core/pom.xml
  java/memory/memory-netty/pom.xml
  java/memory/memory-unsafe/pom.xml
  java/memory/pom.xml
  java/performance/pom.xml
  java/plasma/pom.xml
  java/pom.xml
  java/tools/pom.xml
  java/vector/pom.xml
  js/package.json
  matlab/CMakeLists.txt
  python/setup.py
  r/DESCRIPTION
  r/NEWS.md
  ruby/red-arrow-cuda/lib/arrow-cuda/version.rb
  ruby/red-arrow-dataset/lib/arrow-dataset/version.rb
  ruby/red-arrow-flight/lib/arrow-flight/version.rb
  ruby/red-arrow/lib/arrow/version.rb
  ruby/red-gandiva/lib/gandiva/version.rb
  ruby/red-parquet/lib/parquet/version.rb
  ruby/red-plasma/lib/plasma/version.rb
Labels: gandiva, lang-R, lang-c++, lang-c-glib, lang-csharp, lang-java, lang-js, lang-matlab, lang-python, lang-ruby, parquet
