Repository apache/arrow, pull requests merged in 2022-10, with the labels that each got.

#14282 ARROW-17848: [R] Skip lubridate::format_ISO8601 tests until next release
  r/tests/testthat/test-dplyr-funcs-datetime.R
Labels: lang-R

#14030 ARROW-17355: [R] Refactor the handle_* utility functions for a better dev experience
  r/R/csv.R
  r/R/dataset.R
  r/R/dplyr-collect.R
  r/R/util.R
Labels: lang-R

#14273 ARROW-17868: [C++][Python] Restore the ARROW_PYTHON CMake option
  ci/appveyor-cpp-build.bat
  ci/docker/conda-python-hdfs.dockerfile
  ci/docker/conda-python-spark.dockerfile
  ci/docker/conda-python.dockerfile
  ci/docker/linux-apt-docs.dockerfile
  ci/docker/linux-apt-python-3.dockerfile
  ci/docker/linux-apt-r.dockerfile
  ci/docker/linux-dnf-python-3.dockerfile
  ci/scripts/cpp_build.sh
  ci/scripts/python_wheel_macos_build.sh
  ci/scripts/python_wheel_manylinux_build.sh
  ci/scripts/python_wheel_windows_build.bat
  cpp/CMakePresets.json
  cpp/cmake_modules/DefineOptions.cmake
  dev/archery/archery/lang/cpp.py
  dev/release/verify-release-candidate.bat
  dev/release/verify-release-candidate.sh
  dev/tasks/conda-recipes/arrow-cpp/bld-arrow.bat
  dev/tasks/conda-recipes/arrow-cpp/build-arrow.sh
  dev/tasks/homebrew-formulae/apache-arrow.rb
  dev/tasks/vcpkg-tests/cpp-build-vcpkg.bat
  dev/tasks/verify-rc/github.macos.amd64.yml
  docs/source/developers/cpp/building.rst
  docs/source/developers/cpp/development.rst
  docs/source/developers/python.rst
Labels: lang-c++, docs

#13782 ARROW-17287: [C++] Create scan node that doesn't rely on the merged generator
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/compute/exec/expression.cc
  cpp/src/arrow/compute/exec/expression.h
  cpp/src/arrow/compute/exec/expression_internal.h
  cpp/src/arrow/compute/exec/filter_node.cc
  cpp/src/arrow/compute/exec/map_node.cc
  cpp/src/arrow/compute/exec/map_node.h
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/project_node.cc
  cpp/src/arrow/compute/exec/util.cc
  cpp/src/arrow/compute/exec/util.h
  cpp/src/arrow/dataset/CMakeLists.txt
  cpp/src/arrow/dataset/dataset.cc
  cpp/src/arrow/dataset/dataset.h
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/dataset/plan.cc
  cpp/src/arrow/dataset/scan_node.cc
  cpp/src/arrow/dataset/scanner.cc
  cpp/src/arrow/dataset/scanner.h
  cpp/src/arrow/dataset/scanner_benchmark.cc
  cpp/src/arrow/dataset/scanner_test.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
  cpp/src/arrow/util/async_util.cc
  cpp/src/arrow/util/async_util.h
  cpp/src/arrow/util/async_util_test.cc
  python/pyarrow/_exec_plan.pyx
  python/pyarrow/includes/libarrow.pxd
Labels: lang-c++, lang-python

#14249 ARROW-17857: [C++] Fix segfault in Table::CombineChunksToBatch
  cpp/src/arrow/table.cc
  cpp/src/arrow/table_test.cc
Labels: lang-c++

#14283 ARROW-17888: [Docs] Add reference of the cookbook contrib page to New Contributor's Guide
  docs/source/developers/guide/index.rst
Labels: docs

#14117 ARROW-17016: [C++][Python] Move Arrow Python C++ tests into Cython
  python/CMakeLists.txt
  python/pyarrow/_pyarrow_cpp_tests.pxd
  python/pyarrow/_pyarrow_cpp_tests.pyx
  python/pyarrow/src/CMakeLists.txt
  python/pyarrow/src/python_test.cc
  python/pyarrow/src/python_test.h
  python/pyarrow/tests/test_cpp_internals.py
  python/setup.py
Labels: lang-python

#13542 ARROW-16879: [R][CI] Test R GCS bindings with testbench
  .github/workflows/r.yml
  ci/scripts/r_test.sh
  r/DESCRIPTION
  r/R/filesystem.R
  r/tests/testthat/helper-filesystems.R
  r/tests/testthat/helper-skip.R
  r/tests/testthat/test-gcs.R
  r/tests/testthat/test-s3-minio.R
Labels: lang-R

#14285 ARROW-17903: [JS] Update dependencies
  js/package.json
  js/src/builder/list.ts
  js/src/io/adapters.ts
  js/src/util/buffer.ts
  js/yarn.lock
Labels: lang-js

#14309 MINOR: [C++][Docs] Fixing a typo in scanner MaterializedFields function docs
  cpp/src/arrow/dataset/scanner.h
Labels: lang-c++

#14289 ARROW-17585: [Java] Update GenerateSampleData.java
  java/vector/src/main/java/org/apache/arrow/vector/GenerateSampleData.java
Labels: lang-java

#14317 ARROW-17930: [CI][C++] Valgrind failure in PrintValue<arrow::dataset::ScannerTestParams>
  cpp/src/arrow/dataset/scanner_test.cc
Labels: lang-c++

#14296 MINOR: [R] Adapt stringr::str_c mapping for upcoming release
  r/R/dplyr-funcs-string.R
  r/tests/testthat/test-dplyr-funcs-string.R
Labels: lang-R

#14306 ARROW-17829: [Python] Avoid pandas groupby deprecation warning write_to_dataset
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/test_dataset.py
Labels: lang-python

#14253 ARROW-17834: [Python] Allow creating ExtensionArray through pa.array(..) constructor
  python/pyarrow/array.pxi
  python/pyarrow/tests/test_extension_type.py
Labels: lang-python

#14304 ARROW-17924: [Doc][Format] Clarify immutability assumption in C Data Interface
  docs/source/format/CDataInterface.rst
Labels: docs

#14322 ARROW-17939: [Docs][Python] Update python dev page after PyArrow C++ tests change
  docs/source/developers/python.rst
Labels: docs

#14321 ARROW-17938: [Python] Fix compilation error on python_test.cc
  python/pyarrow/src/python_test.cc
Labels: lang-python

#14312 ARROW-17929: [C#] Improve the NuGet packages.
  csharp/Directory.Build.props
  csharp/src/Apache.Arrow/Apache.Arrow.csproj
Labels: lang-csharp

#14305 ARROW-17861: [C++] Deprecate Plasma
  cpp/cmake_modules/BuildUtils.cmake
  cpp/src/plasma/CMakeLists.txt
  cpp/src/plasma/common.h
  docs/source/cpp/build_system.rst
  docs/source/developers/cpp/building.rst
Labels: lang-c++, docs

#14324 ARROW-17099: [Python] pyarrow build does not support RELWITHDEBINFO build type
  python/setup.py
Labels: lang-python

#14290 ARROW-17911: [R] Implement `across()` within `transmute()`
  r/R/dplyr-mutate.R
  r/tests/testthat/test-dplyr-mutate.R
Labels: lang-R

#14316 ARROW-17883: [Java] implement immutable table
  java/c/src/main/java/org/apache/arrow/c/Data.java
  java/c/src/test/java/org/apache/arrow/c/RoundtripTest.java
  java/pom.xml
  java/vector/src/main/java/org/apache/arrow/vector/table/BaseTable.java
  java/vector/src/main/java/org/apache/arrow/vector/table/README.md
  java/vector/src/main/java/org/apache/arrow/vector/table/Row.java
  java/vector/src/main/java/org/apache/arrow/vector/table/Table.java
  java/vector/src/main/java/org/apache/arrow/vector/table/package-info.java
  java/vector/src/test/java/org/apache/arrow/vector/table/BaseTableTest.java
  java/vector/src/test/java/org/apache/arrow/vector/table/RowTest.java
  java/vector/src/test/java/org/apache/arrow/vector/table/TableTest.java
  java/vector/src/test/java/org/apache/arrow/vector/table/TestUtils.java
  java/vector/src/test/java/org/apache/arrow/vector/types/pojo/TestExtensionType.java
Labels: lang-java, docs

#14300 ARROW-17684: [CI][deb] Disable Flight for arm64
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  dev/release/verify-apt.sh
  dev/tasks/linux-packages/apache-arrow/Rakefile
  dev/tasks/linux-packages/apache-arrow/apt/debian-bookworm/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/debian-bullseye/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-bionic/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-focal/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-jammy/Dockerfile
  dev/tasks/linux-packages/apache-arrow/debian/control.in
  dev/tasks/linux-packages/apache-arrow/debian/rules
  dev/tasks/linux-packages/apt/build.sh
  dev/tasks/linux-packages/travis.linux.arm64.yml
  dev/tasks/linux-packages/yum/build.sh
  dev/tasks/tasks.yml
Labels: lang-c++

#14325 MINOR: [C++] Fix a potential overflow in the asof join node when OnKey values are very small
  cpp/src/arrow/compute/exec/asof_join_node.cc
Labels: lang-c++

#14327 ARROW-17366: [R] Support purrr-style lambda functions in .fns argument to across()
  r/NAMESPACE
  r/R/arrow-package.R
  r/R/dplyr-across.R
  r/data-raw/docgen.R
  r/tests/testthat/helper-expectation.R
  r/tests/testthat/test-dplyr-across.R
Labels: lang-R

#14339 ARROW-17927: [C++] Changed SleepABitAsync to use a thread pool to reduce the # of running threads
  cpp/src/arrow/testing/gtest_util.cc
  cpp/src/arrow/testing/gtest_util.h
  cpp/src/arrow/util/async_generator_test.cc
Labels: lang-c++

#14344 ARROW-17955: [Docs][Java] Tutorial documentation for Table
  docs/source/java/index.rst
  docs/source/java/table.rst
  docs/source/java/vector_schema_root.rst
Labels: docs

#14160 ARROW-17738: [R] dplyr::compute should convert from grouped arrow_dplyr_query to arrow Table
  r/R/dplyr-collect.R
  r/tests/testthat/test-dataset-dplyr.R
  r/tests/testthat/test-dplyr-query.R
Labels: lang-R

#14310 ARROW-17872: [C++][CI] Reduce macOS CI dependencies
  .env
  .github/workflows/cpp.yml
  .github/workflows/python.yml
  .github/workflows/ruby.yml
  cpp/Brewfile
  cpp/CMakeLists.txt
  cpp/cmake_modules/FindLLVMAlt.cmake
  cpp/src/arrow/util/bpacking.cc
  cpp/src/gandiva/GandivaConfig.cmake.in
  cpp/src/parquet/level_comparison.cc
  dev/tasks/verify-rc/github.macos.amd64.yml
  python/CMakeLists.txt
Labels: parquet, lang-c++, lang-python, gandiva

#14346 ARROW-17962: [Java] Remove unused schema creation from try with resources
  java/c/src/main/java/org/apache/arrow/c/Data.java
  java/c/src/test/java/org/apache/arrow/c/RoundtripTest.java
Labels: lang-java

#14363 ARROW-17976: [C++] Use generic lambdas in arrow/compare.cc
  cpp/src/arrow/compare.cc
Labels: lang-c++

#14243 ARROW-17594: [R][Packaging] Build binaries with devtoolset 8 on CentOS 7
  ci/docker/centos-7-cpp.dockerfile
  ci/scripts/r_docker_configure.sh
  dev/tasks/macros.jinja
  dev/tasks/r/github.packages.yml
  dev/tasks/tasks.yml
  docker-compose.yml
  r/inst/build_arrow_static.sh
  r/tools/nixlibs.R
Labels: lang-R

#14342 ARROW-15678: [C++] Add support for -DCMAKE_BUILD_TYPE=MinSizeRel
  cpp/cmake_modules/SetupCxxFlags.cmake
  cpp/src/parquet/CMakeLists.txt
  dev/tasks/r/github.macos-linux.local.yml
  dev/tasks/tasks.yml
Labels: parquet, lang-c++

#14301 ARROW-8201: [Python] Add FileFragment.open() method
  python/pyarrow/_dataset.pyx
  python/pyarrow/tests/test_dataset.py
Labels: lang-python

#14281 ARROW-17387: [R] Implement dplyr::across() inside filter()
  r/NAMESPACE
  r/R/arrow-package.R
  r/R/dplyr-across.R
  r/R/dplyr-filter.R
  r/data-raw/docgen.R
  r/tests/testthat/helper-expectation.R
  r/tests/testthat/test-dplyr-across.R
  r/tests/testthat/test-dplyr-filter.R
Labels: lang-R

#14360 ARROW-17826: [Python] Allow scalars when creating expression from compute kernels
  python/pyarrow/_compute.pyx
  python/pyarrow/tests/test_compute.py
Labels: lang-python

#14323 ARROW-17940: [Java][Gandiva] Implement Reserve for JavaBuffer
  java/gandiva/src/main/cpp/jni_common.cc
Labels: lang-java

#14331 ARROW-17944: [Python] substrait.run_query accept bytes/Buffer and not segfault
  python/pyarrow/_substrait.pyx
  python/pyarrow/tests/test_substrait.py
Labels: lang-python

#14106 ARROW-15545: [Python][C++] Support casting to extension type
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/cast.cc
  cpp/src/arrow/compute/cast_internal.h
  cpp/src/arrow/compute/kernels/scalar_cast_extension.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
  cpp/src/arrow/testing/extension_type.h
  cpp/src/arrow/testing/gtest_util.cc
  cpp/src/arrow/testing/gtest_util.h
  cpp/src/arrow/type.cc
  cpp/src/arrow/type_fwd.h
  docs/source/cpp/compute.rst
  python/pyarrow/tests/test_extension_type.py
Labels: lang-c++, lang-python, docs

#14311 ARROW-17831: [Python][Docs] PyArrow Architecture page outdated after moving pyarrow C++ code
  docs/source/python/getting_involved.rst
  docs/source/python/images/py_arch_overview.svg
  docs/source/python/py_arch_overview.svg
Labels: docs

#14370 ARROW-17973: [C++] Expression::ToString wrong for nullary function call
  cpp/src/arrow/compute/exec/expression.cc
  cpp/src/arrow/compute/exec/expression_test.cc
Labels: lang-c++

#14372 ARROW-17988: [C++] Remove index_sequence_for and aligned_union backports
  cpp/src/arrow/util/reflection_internal.h
  cpp/src/arrow/util/type_traits.h
Labels: lang-c++

#14182 ARROW-17786: [Java] Read CSV files using org.apache.arrow.dataset.jni.NativeDatasetFactory
  java/dataset/src/main/cpp/jni_wrapper.cc
  java/dataset/src/main/java/org/apache/arrow/dataset/file/FileFormat.java
  java/dataset/src/test/java/org/apache/arrow/dataset/CsvWriteSupport.java
  java/dataset/src/test/java/org/apache/arrow/dataset/file/TestFileSystemDataset.java
  java/pom.xml
Labels: lang-java

#14367 ARROW-17982: [C++][Java] Update ORC to 1.8.0
  cpp/thirdparty/versions.txt
  java/adapter/orc/pom.xml
Labels: lang-java, lang-c++

#14375 ARROW-17990: [C++] Restore -mbmi2 flag
  cpp/src/parquet/CMakeLists.txt
Labels: parquet, lang-c++

#14333 ARROW-17950: [Docs][Python] Add more info about the change in PyArrow C++ API
  docs/source/python/integration/extending.rst
Labels: docs

#14198 ARROW-17349: [C++] Allow casting map types
  cpp/src/arrow/compute/cast.cc
  cpp/src/arrow/compute/kernels/scalar_cast_nested.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
  docs/source/cpp/compute.rst
Labels: lang-c++, docs

#14343 ARROW-17863: [Python] Deprecate Plasma Python bindings
  docs/source/developers/python.rst
  docs/source/python/api/plasma.rst
  docs/source/python/plasma.rst
  python/pyarrow/__init__.py
  python/pyarrow/_plasma.pyx
  python/pyarrow/plasma.py
  python/pyarrow/tests/test_plasma.py
Labels: lang-python, docs

#14359 ARROW-17450: [C++][Parquet] Add support for uint8 boolean decode in addition to bool array
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding.h
  cpp/src/parquet/encoding_test.cc
Labels: parquet, lang-c++

#14383 ARROW-17999: [C++] Make Minio server launch more robust
  cpp/src/arrow/filesystem/s3_test_util.cc
  cpp/src/arrow/filesystem/s3fs_test.cc
Labels: lang-c++

#14238 ARROW-17813: [Python] Nested ExtensionArray conversion to/from pandas/numpy
  python/pyarrow/src/arrow/python/arrow_to_pandas.cc
  python/pyarrow/tests/test_extension_type.py
Labels: lang-python

#14071 ARROW-16424: [C++] Use Uri to parse substrait ReadRel file path
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/util/uri.cc
  cpp/src/arrow/util/uri.h
  cpp/src/arrow/util/uri_test.cc
  python/pyarrow/tests/test_substrait.py
Labels: lang-c++, lang-python

#14079 ARROW-17971: [Format][Docs] Add ADBC
  docs/source/format/ADBC.rst
  docs/source/format/ADBC/C.rst
  docs/source/format/ADBC/Go.rst
  docs/source/format/ADBC/Java.rst
  docs/source/format/ADBCQuadrants.svg
  docs/source/index.rst
  format/adbc.h
Labels: docs

#14330 ARROW-17439: [R] Change behavior of pull to compute instead of collect
  r/R/dplyr-collect.R
  r/tests/testthat/test-dataset-write.R
  r/tests/testthat/test-dataset.R
  r/tests/testthat/test-dplyr-arrange.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
  r/tests/testthat/test-dplyr-query.R
Labels: lang-R

#14391 ARROW-18017: [Go] Simplify Compute module deps and release
  dev/release/post-11-bump-versions-test.rb
  dev/release/utils-prepare.sh
  go.work
  go.work.sum
  go/arrow/compute/doc.go
  go/arrow/compute/go.mod
  go/arrow/compute/go.sum
  go/go.mod
  go/go.sum
Labels: lang-go

#14393 ARROW-18018: [C++] Potential segmentation fault in unit tests due to usage of AllComplete instead of AllFinished
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/test_util.cc
  cpp/src/arrow/compute/kernels/hash_aggregate_test.cc
  cpp/src/arrow/dataset/scanner_test.cc
Labels: lang-c++

#14382 ARROW-17789: [Java][Docs] Update Java Dataset documentation with latest changes
  docs/source/java/dataset.rst
Labels: docs

#13872 MINOR: [R][Docs] Add note about use Schema as the `col_types` argument of `read_csv_arrow`
  r/R/csv.R
  r/man/read_delim_arrow.Rd
Labels: lang-R

#13871 MINOR: [R][Docs] Add note about conversion from JSON types to Arrow types
  r/R/json.R
  r/man/read_json_arrow.Rd
Labels: lang-R

#14184 ARROW-17788: [R][Doc] Add example of using Scanner
  r/R/dataset-scan.R
  r/R/dataset.R
  r/man/Scanner.Rd
  r/man/open_dataset.Rd
Labels: lang-R

#14388 ARROW-18010: [Go] Add ARM64 Neon impl for Casting
  go/arrow/compute/cast_test.go
  go/arrow/compute/go.mod
  go/arrow/compute/internal/kernels/_lib/cast_numeric_neon.s
  go/arrow/compute/internal/kernels/cast_numeric_neon_arm64.go
  go/arrow/compute/internal/kernels/cast_numeric_neon_arm64.s
Labels: lang-go

#14386 ARROW-18004: [C++] ExecBatch conversion to RecordBatch may go out of bounds
  cpp/src/arrow/compute/exec.cc
  cpp/src/arrow/compute/exec_test.cc
Labels: lang-c++

#14361 ARROW-13766: [R] Add slice_*() methods
  r/.lintr
  r/DESCRIPTION
  r/NAMESPACE
  r/R/array.R
  r/R/arrow-datum.R
  r/R/arrow-package.R
  r/R/dataset-scan.R
  r/R/dplyr-funcs-doc.R
  r/R/dplyr-funcs-type.R
  r/R/dplyr-funcs.R
  r/R/dplyr-slice.R
  r/R/dplyr.R
  r/R/expression.R
  r/R/record-batch-reader.R
  r/R/util.R
  r/data-raw/docgen.R
  r/man/acero.Rd
  r/tests/testthat/test-dplyr-slice.R
Labels: lang-R

#14404 MINOR: [R] Fix typo in docs
  r/R/extension.R
  r/man/new_extension_type.Rd
Labels: lang-R

#14405 ARROW-18030: [C++] Bump LZ4 version
  cpp/thirdparty/versions.txt
Labels: lang-c++

#14408 ARROW-18041: [Python] Sustrait-related test failure in wheel tests
  ci/appveyor-cpp-build.bat
  python/pyarrow/tests/test_substrait.py
Labels: lang-python

#14399 ARROW-18028: [Dev][Archery][Crossbow] Always use GitHub Action's run page URL in PR comment
  dev/archery/archery/crossbow/reports.py
  dev/archery/archery/crossbow/tests/fixtures/crossbow-success-message.md
Labels: docs

#14401 ARROW-17649: [Python] Remove remaining deprecated APIs from <= 1.0.0
  python/pyarrow/array.pxi
  python/pyarrow/ipc.pxi
  python/pyarrow/scalar.pxi
  python/pyarrow/tests/test_pandas.py
  python/pyarrow/tests/test_scalars.py
  python/pyarrow/types.pxi
Labels: lang-python

#14381 ARROW-17997: [Ruby] Add support for building Arrow::Tensor from raw nested Ruby array
  c_glib/arrow-glib/tensor.cpp
  ruby/red-arrow/lib/arrow/raw-tensor-converter.rb
  ruby/red-arrow/lib/arrow/tensor.rb
  ruby/red-arrow/test/test-tensor.rb
Labels: lang-ruby, lang-c-glib

#14175 ARROW-17737: [R] Groups before conversion to a Table must not be restored after `collect()`
  r/R/dplyr-collect.R
  r/R/dplyr.R
  r/tests/testthat/test-dplyr-group-by.R
Labels: lang-R

#14379 ARROW-17882: [Java][Doc] Adding building steps for Windows user to produce JNI DLL
  docs/source/developers/java/building.rst
  docs/source/developers/java/development.rst
  java/pom.xml
Labels: lang-java, docs

#14295 ARROW-17915: [C++] Error when using Substrait ProjectRel
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: lang-c++

#14392 ARROW-17069: [Docs][Python] Describe authentication for GCS public and private
  docs/source/python/filesystems.rst
Labels: docs

#14371 ARROW-12105: [R] Replace vars_select, vars_rename with eval_select, eval_rename
  r/NAMESPACE
  r/R/arrow-package.R
  r/R/arrowExports.R
  r/R/csv.R
  r/R/dplyr-funcs-doc.R
  r/R/dplyr-select.R
  r/R/feather.R
  r/R/json.R
  r/R/parquet.R
  r/R/schema.R
  r/R/table.R
  r/data-raw/docgen.R
  r/man/acero.Rd
  r/man/as_arrow_table.Rd
  r/man/read_delim_arrow.Rd
  r/man/read_feather.Rd
  r/man/read_json_arrow.Rd
  r/man/read_parquet.Rd
  r/src/arrowExports.cpp
  r/src/table.cpp
  r/tests/testthat/test-Table.R
  r/tests/testthat/test-dplyr-group-by.R
  r/tests/testthat/test-dplyr-mutate.R
  r/tests/testthat/test-dplyr-select.R
Labels: lang-R, parquet

#13935 ARROW-17485: [R] Allow TRUE/FALSE to the compression option of `write_feather` (`write_ipc_file`)
  r/R/feather.R
  r/man/write_feather.Rd
  r/tests/testthat/test-feather.R
Labels: lang-R

#14418 ARROW-18057: [R] test for slice functions fail on builds without Datasets capability
  r/tests/testthat/test-dplyr-slice.R
Labels: lang-R

#14264 ARROW-17556: [C++] Unbound scan projection expression leads to all fields being loaded
  cpp/src/arrow/dataset/scanner.cc
  cpp/src/arrow/dataset/scanner_test.cc
Labels: lang-c++

#14387 ARROW-17665: [R] Document dplyr and compute functionality
  r/R/arrow-package.R
  r/R/dplyr-funcs-datetime.R
  r/R/dplyr-funcs-doc.R
  r/R/dplyr-funcs-string.R
  r/R/dplyr-funcs-type.R
  r/R/dplyr-funcs.R
  r/R/dplyr-summarize.R
  r/data-raw/docgen.R
  r/man/acero.Rd
  r/tests/testthat/test-dplyr-filter.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
Labels: lang-R

#14286 ARROW-15838: [R] Coalesce join keys in full outer join
  r/R/arrowExports.R
  r/R/dplyr-collect.R
  r/R/dplyr-join.R
  r/R/query-engine.R
  r/src/arrowExports.cpp
  r/src/arrow_types.h
  r/src/compute-exec.cpp
  r/tests/testthat/test-dplyr-join.R
Labels: lang-R

#14417 ARROW-18056: [Ruby] Add support for building Arrow::Table from {name: Arrow::Tensor}
  ruby/red-arrow/lib/arrow/array.rb
  ruby/red-arrow/lib/arrow/data-type.rb
  ruby/red-arrow/lib/arrow/raw-table-converter.rb
  ruby/red-arrow/lib/arrow/tensor.rb
  ruby/red-arrow/test/test-table.rb
  ruby/red-arrow/test/test-tensor.rb
Labels: lang-ruby

#14424 ARROW-18062: [R] error in CI jobs for R 3.5 and 3.6 when R package being installed
  r/R/dplyr-funcs.R
  r/R/dplyr-slice.R
  r/tests/testthat/test-dplyr-slice.R
Labels: lang-R

#14208 ARROW-17817: [C++] Let ORC compile on MSVC if it is activated
  .github/workflows/cpp.yml
  ci/appveyor-cpp-build.bat
  ci/conda_env_cpp.txt
  ci/scripts/java_jni_windows_build.sh
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/adapters/orc/CMakeLists.txt
  cpp/src/arrow/adapters/orc/adapter_test.cc
  dev/tasks/java-jars/github.yml
Labels: lang-c++

#14380 ARROW-17995: [C++] Fix json decimals not being rescaled based on the explicit schema
  cpp/src/arrow/json/converter.cc
  cpp/src/arrow/json/converter_test.cc
  python/pyarrow/tests/test_json.py
Labels: lang-c++, lang-python

#14348 ARROW-17965: [C++] ExecBatch support for ChunkedArray values
  cpp/src/arrow/compute/exec.cc
  cpp/src/arrow/compute/exec_test.cc
Labels: lang-c++

#14428 ARROW-18055: [C++] arrow-dataset-dataset-writer-test still times out occassionally
  cpp/src/arrow/dataset/dataset_writer.cc
  cpp/src/arrow/util/async_util.cc
  cpp/src/arrow/util/async_util_test.cc
Labels: lang-c++

#14402 ARROW-15540: [C++] Allow the substrait consumer to accept plans with hints and nullable literals
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/serde.cc
  cpp/src/arrow/engine/substrait/serde.h
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: lang-c++

#14423 ARROW-18044: [Java] upgrade error-prone library version to 2.16
  java/pom.xml
Labels: lang-java

#14397 ARROW-18026: [C++][Gandiva] Add div and mod functions for unsigned ints
  cpp/src/gandiva/function_registry_arithmetic.cc
  cpp/src/gandiva/precompiled/arithmetic_ops.cc
  cpp/src/gandiva/precompiled/arithmetic_ops_test.cc
  cpp/src/gandiva/precompiled/types.h
  cpp/src/gandiva/tests/projector_test.cc
Labels: lang-c++, gandiva

#14432 ARROW-18072: [C++] Can't use bundled ORC with CMake 3.10
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: lang-c++

#14414 ARROW-17991: [Python] [C++] Adding support for IpcWriteOptions to the dataset ipc file writer
  python/pyarrow/_dataset.pyx
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/includes/libarrow_dataset.pxd
  python/pyarrow/ipc.pxi
  python/pyarrow/lib.pxd
  python/pyarrow/tests/test_dataset.py
Labels: lang-python

#14437 ARROW-18078: [Docs][R] Fix broken link in R documentation
  r/vignettes/developers/install_details.Rmd
Labels: lang-R

#14440 ARROW-17849: [R][Docs] Document changes due to C++17 for centos-7 users
  .github/workflows/r.yml
  ci/scripts/r_docker_configure.sh
  ci/scripts/r_test.sh
  ci/scripts/r_windows_build.sh
  dev/tasks/r/github.packages.yml
  r/README.md
  r/configure
  r/tools/nixlibs.R
  r/tools/test-nixlibs.R
  r/vignettes/developers/setup.Rmd
  r/vignettes/install.Rmd
Labels: lang-R, docs

#14447 ARROW-18079: [R] Improve efficiency of schema creation to prevent performance regressions
  r/NAMESPACE
  r/R/arrow-package.R
  r/R/arrowExports.R
  r/R/dplyr-collect.R
  r/R/dplyr-eval.R
  r/R/dplyr-select.R
  r/R/schema.R
  r/src/arrowExports.cpp
  r/src/schema.cpp
Labels: lang-R

#14366 PARQUET-2179: [C++][Parquet] Add a test for skipping repeated fields
  cpp/src/parquet/column_reader_test.cc
Labels: parquet, lang-c++

#13962 ARROW-17524: [C++] Correction for fields included when reading an ORC table
  c_glib/test/test-orc-file-reader.rb
  cpp/src/arrow/adapters/orc/adapter.cc
  cpp/src/arrow/adapters/orc/adapter_test.cc
  ruby/red-arrow/test/test-orc.rb
Labels: lang-c++, lang-ruby, lang-c-glib

#14446 ARROW-18083: [C++] Bump vendored zlib version
  cpp/thirdparty/versions.txt
Labels: lang-c++

#14441 ARROW-18080: [C++] Remove gcc <= 4.9 workarounds
  cpp/cmake_modules/SetupCxxFlags.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/thirdparty/versions.txt
Labels: lang-c++

#14396 ARROW-17353: [Release][R] Validate binaries version
  dev/archery/archery/crossbow/core.py
  dev/archery/archery/crossbow/tests/fixtures/crossbow-job-no-failure.yaml
  dev/archery/archery/crossbow/tests/fixtures/crossbow-job.yaml
  dev/tasks/macros.jinja
  dev/tasks/r/github.packages.yml
  dev/tasks/tasks.yml
  r/tools/nixlibs.R
  r/tools/winlibs.R
Labels: lang-R

#14350 ARROW-17891: [Docs][Python] Update and sync Win section of the developers/python page
  docs/source/developers/python.rst
Labels: docs

#14326 ARROW-14596: [C++][Python] Read table nested struct fields in columns
  cpp/src/arrow/dataset/scanner.cc
  cpp/src/arrow/dataset/scanner_test.cc
  cpp/src/arrow/dataset/test_util.h
  python/pyarrow/tests/test_dataset.py
Labels: lang-c++, lang-python

#13983 ARROW-15006: [Python][CI][Doc] Enable numpydoc check PR03
  docker-compose.yml
  python/pyarrow/_csv.pyx
  python/pyarrow/_dataset.pyx
  python/pyarrow/array.pxi
  python/pyarrow/ipc.pxi
  python/pyarrow/ipc.py
  python/pyarrow/parquet/core.py
Labels: lang-python

#14455 MINOR: [R] [Docs] Fix link in ?cast documentation
  r/R/dplyr-funcs-type.R
  r/R/type.R
  r/man/DataType.Rd
  r/man/cast.Rd
Labels: lang-R

#14443 MINOR: [R] Fix broken link in R developer setup vignette
  r/vignettes/developers/setup.Rmd
Labels: lang-R

#14442 ARROW-18081: [Go] Add Scalar Boolean functions
  ci/scripts/go_test.sh
  go/arrow/bitutil/_lib/bitmap_ops.c
  go/arrow/bitutil/_lib/bitmap_ops_avx2_amd64.s
  go/arrow/bitutil/_lib/bitmap_ops_sse4_amd64.s
  go/arrow/bitutil/bitmap_ops.go
  go/arrow/bitutil/bitmap_ops_amd64.go
  go/arrow/bitutil/bitmap_ops_arm64.go
  go/arrow/bitutil/bitmap_ops_avx2_amd64.go
  go/arrow/bitutil/bitmap_ops_avx2_amd64.s
  go/arrow/bitutil/bitmap_ops_noasm.go
  go/arrow/bitutil/bitmap_ops_ppc64le.go
  go/arrow/bitutil/bitmap_ops_s390x.go
  go/arrow/bitutil/bitmap_ops_sse4_amd64.go
  go/arrow/bitutil/bitmap_ops_sse4_amd64.s
  go/arrow/bitutil/bitmaps.go
  go/arrow/compute/internal/kernels/scalar_boolean.go
  go/arrow/compute/internal/kernels/types.go
  go/arrow/compute/registry.go
  go/arrow/compute/scalar_bool.go
  go/arrow/compute/scalar_bool_test.go
  go/go.sum
Labels: lang-go

#14465 ARROW-18117: [C++] Fix static bundle build
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: lang-c++

#14460 ARROW-18088: [CI][Python] Fix pandas master/nightly build failure related to timedelta
  python/pyarrow/tests/parquet/common.py
  python/pyarrow/tests/parquet/test_dataset.py
  python/pyarrow/tests/test_pandas.py
Labels: lang-python

#14148 ARROW-17751: [Go][Benchmarking] Add Go Benchmark Script
  .github/workflows/go.yml
  ci/scripts/go_bench.sh
  ci/scripts/go_bench_adapt.py
  go/arrow/csv/reader_test.go
  go/parquet/pqarrow/reader_writer_test.go
Labels: lang-go

#14484 ARROW-18131: [R] Correctly handle .data pronoun in group_by()
  r/R/dplyr-group-by.R
  r/tests/testthat/test-dplyr-group-by.R
Labels: lang-R

#14482 ARROW-18137: [Python][Docs] adding info about TableGroupBy.aggregation with empty list
  python/pyarrow/table.pxi
Labels: lang-python

#14486 ARROW-18144: [C++] Improve JSONTypeError error message in testing
  cpp/src/arrow/ipc/json_simple.cc
Labels: lang-c++

#14389 ARROW-18014: [Java] Implement copy functions for vectors and Table
  java/vector/src/main/java/org/apache/arrow/vector/table/BaseTable.java
  java/vector/src/main/java/org/apache/arrow/vector/table/Row.java
  java/vector/src/main/java/org/apache/arrow/vector/table/Table.java
  java/vector/src/test/java/org/apache/arrow/vector/table/BaseTableTest.java
  java/vector/src/test/java/org/apache/arrow/vector/table/RowTest.java
  java/vector/src/test/java/org/apache/arrow/vector/table/TableTest.java
Labels: lang-java

#14489 ARROW-18147: [Go] Add Scalar Add/Sub for Decimal types
  go/arrow/compute/arithmetic.go
  go/arrow/compute/arithmetic_test.go
  go/arrow/compute/exec.go
  go/arrow/compute/internal/kernels/base_arithmetic.go
  go/arrow/compute/internal/kernels/helpers.go
  go/arrow/compute/internal/kernels/numeric_cast.go
  go/arrow/compute/internal/kernels/scalar_arithmetic.go
  go/arrow/compute/utils.go
  go/arrow/datatype_fixedwidth.go
  go/arrow/decimal128/decimal128.go
  go/arrow/decimal256/decimal256.go
Labels: lang-go

#14498 ARROW-18126: [Python] Remove ARROW_BUILD_DIR in building pyarrow C++
  docs/source/developers/python.rst
  python/setup.py
Labels: lang-python, docs

#14490 ARROW-18149: [C++] fix build failure of `join_example`
  cpp/examples/arrow/CMakeLists.txt
Labels: lang-c++

#14480 ARROW-18135: [C++] Avoid warnings that ExecBatch::length may be uninitialized
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/test_util.cc
  cpp/src/arrow/compute/kernels/hash_aggregate_test.cc
  cpp/src/arrow/dataset/scanner_test.cc
Labels: lang-c++

#14033 ARROW-15691: [Dev] Update archery to work with either master or main as default branch
  .github/workflows/archery.yml
  .github/workflows/integration.yml
  .travis.yml
  ci/scripts/install_dask.sh
  ci/scripts/install_pandas.sh
  dev/archery/archery/cli.py
  dev/archery/archery/crossbow/cli.py
  dev/archery/archery/crossbow/core.py
  dev/archery/archery/docker/cli.py
  dev/archery/archery/docker/tests/test_docker.py
  dev/archery/archery/release/core.py
  dev/tasks/tasks.yml
  docs/source/developers/continuous_integration/docker.rst
Labels: docs

#14497 ARROW-16464: [C++][CI][GPU] Add CUDA CI
  dev/tasks/docker-tests/github.cuda.yml
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: lang-c++

#14445 ARROW-17858: [C++] Compilating warning in arrow/csv/parser.h
  cpp/src/arrow/csv/parser.h
Labels: lang-c++

#14232 ARROW-17458: [C++] Cast between decimal and string
  cpp/src/arrow/compute/kernels/scalar_cast_numeric.cc
  cpp/src/arrow/compute/kernels/scalar_cast_string.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
  cpp/src/arrow/util/formatting.h
  cpp/src/arrow/util/formatting_util_test.cc
Labels: lang-c++

#14451 ARROW-18087: [C++] RecordBatch::Equals should not ignore field names
  cpp/src/arrow/dataset/test_util.h
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch_test.cc
Labels: lang-c++

#14452 ARROW-15328: [C++][Docs] Streaming CSV reader missing from documentation
  docs/source/cpp/csv.rst
Labels: docs

#14448 ARROW-16547: [Python] to_pandas fails with FixedOffset timezones when timestamp_as_object is used
  python/pyarrow/src/arrow/python/arrow_to_pandas.cc
  python/pyarrow/tests/test_pandas.py
Labels: lang-python

#14525 ARROW-17774: [Python] Add python test for decimals to csv
  python/pyarrow/tests/test_csv.py
Labels: lang-python

#14459 ARROW-18052: [Python] Support passing create_dir thru pq.write_to_dataset
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_dataset.py
Labels: lang-python

#14534 ARROW-18178: [Java] ArrowVectorIterator incorrectly closes Vectors
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/ArrowVectorIterator.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/UnreliableMetaDataTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowVectorIteratorTest.java
Labels: lang-java

#14508 ARROW-18070: [C++] Invoke google::protobuf::ShutdownProtobufLibrary for substrait tests
  cpp/src/arrow/engine/CMakeLists.txt
  cpp/src/arrow/engine/substrait/protobuf_test_util.cc
Labels: lang-c++

#14543 ARROW-13980: [Go] Implement Scalar ApproxEquals
  go/arrow/scalar/compare.go
  go/arrow/scalar/numeric.gen.go
  go/arrow/scalar/numeric.gen.go.tmpl
  go/arrow/scalar/scalar.go
Labels: lang-go

#14494 ARROW-18151: [CI] Avoid unnecessary redirect for some conda URLs
  dev/tasks/nightlies.sample.yml
  python/examples/minimal_build/build_conda.sh
Labels: lang-python

#14142 PARQUET-2188: [parquet-cpp] Add SkipRecords API to RecordReader
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader.h
  cpp/src/parquet/column_reader_test.cc
Labels: parquet, lang-c++

#14539 ARROW-2651: [Python] Fix datetime C API import for PyPy
  python/pyarrow/src/arrow/python/datetime.cc
  python/pyarrow/src/arrow/python/datetime.h
  python/pyarrow/src/arrow/python/pyarrow.cc
Labels: lang-python
