Repository apache/arrow, pull requests merged in 2022-11, with the labels that each got.

#14515 ARROW-18162: [C++] Add Arm SVE compiler options
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/SetupCxxFlags.cmake
  cpp/src/arrow/io/memory_benchmark.cc
  cpp/src/arrow/util/simd.h
  dev/tasks/conda-recipes/arrow-cpp/build-pyarrow.sh
  python/CMakeLists.txt
Labels: lang-c++, lang-python

#14504 ARROW-17899: [Go][CSV] Add Decimal support to CSV reader
  go/arrow/array/decimal128.go
  go/arrow/array/decimal256.go
  go/arrow/csv/reader.go
  go/arrow/csv/reader_test.go
  go/arrow/decimal128/decimal128.go
  go/arrow/decimal128/decimal128_test.go
  go/arrow/decimal256/decimal256.go
  go/arrow/decimal256/decimal256_test.go
Labels: lang-go

#14558 ARROW-18205: [C++] Substrait consumer is not converting right side references correctly on joins
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: lang-c++

#14266 ARROW-17867: [C++][FlightRPC] Expose bulk parameter binding in Flight SQL
  cpp/src/arrow/flight/sql/CMakeLists.txt
  cpp/src/arrow/flight/sql/client.cc
  cpp/src/arrow/flight/sql/client.h
  cpp/src/arrow/flight/sql/client_test.cc
  cpp/src/arrow/flight/sql/example/sqlite_server.cc
  cpp/src/arrow/flight/sql/example/sqlite_server.h
  cpp/src/arrow/flight/sql/example/sqlite_statement.cc
  cpp/src/arrow/flight/sql/example/sqlite_statement.h
  cpp/src/arrow/flight/sql/example/sqlite_statement_batch_reader.cc
  cpp/src/arrow/flight/sql/example/sqlite_statement_batch_reader.h
  cpp/src/arrow/flight/sql/example/sqlite_tables_schema_batch_reader.cc
  cpp/src/arrow/flight/sql/server.cc
  cpp/src/arrow/flight/sql/server.h
  cpp/src/arrow/flight/sql/server_test.cc
Labels: lang-c++, flight

#14536 ARROW-18186: [C++][MinGW] Make buildable with clang
  .github/workflows/cpp.yml
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/util/io_util.cc
  cpp/src/arrow/util/visibility.h
Labels: lang-c++

#14132 ARROW-17640: [C++] Add File Handling Test cases for GlobFile handling in Substrait Read
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/filesystem/filesystem_test.cc
  cpp/src/arrow/filesystem/path_util.cc
  cpp/src/arrow/filesystem/path_util.h
  cpp/src/arrow/filesystem/util_internal.cc
Labels: lang-c++

#14450 ARROW-15822: [C++] Cast duration to string (thus CSV writing) not supported
  cpp/src/arrow/compute/kernels/scalar_cast_string.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
  cpp/src/arrow/csv/writer_test.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
Labels: lang-c++

#14545 PARQUET-2209: [parquet-cpp] Optimize skip for the case that number of values to skip equals page size
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader_test.cc
Labels: parquet, lang-c++

#14532 ARROW-18177: [Go] Add Add/Sub for Temporal types
  go/arrow/compute/arithmetic.go
  go/arrow/compute/arithmetic_test.go
  go/arrow/compute/executor.go
  go/arrow/compute/internal/kernels/_lib/base_arithmetic.cc
  go/arrow/compute/internal/kernels/base_arithmetic.go
  go/arrow/compute/internal/kernels/base_arithmetic_amd64.go
  go/arrow/compute/internal/kernels/helpers.go
  go/arrow/compute/internal/kernels/scalar_arithmetic.go
  go/arrow/compute/internal/kernels/string_casts.go
  go/arrow/datatype_fixedwidth.go
Labels: lang-go

#14560 ARROW-16471: [Go] RecordBuilder UnmarshalJSON handle complex values
  go/arrow/array/record.go
  go/arrow/array/struct.go
  go/arrow/array/util_test.go
Labels: lang-go

#14425 ARROW-18051: [C++] Enable tests skipped by ARROW-16392
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/flight/sql/acero_test.cc
Labels: lang-c++, flight

#14562 ARROW-18183: [C++] cpp-micro benchmarks are failing on mac arm machine
  cpp/src/arrow/util/async_util.h
Labels: lang-c++

#14553 ARROW-18203: [R] Refactor to remove unnecessary uses of build_expr
  r/DESCRIPTION
  r/R/arrow-datum.R
  r/R/compute.R
  r/R/dplyr-datetime-helpers.R
  r/R/dplyr-eval.R
  r/R/dplyr-funcs-conditional.R
  r/R/dplyr-funcs-datetime.R
  r/R/dplyr-funcs-math.R
  r/R/dplyr-funcs-simple.R
  r/R/dplyr-funcs-string.R
  r/R/dplyr-funcs-type.R
  r/R/dplyr-funcs.R
  r/R/expression.R
  r/R/udf.R
  r/man/Expression.Rd
  r/man/register_binding.Rd
  r/man/register_scalar_function.Rd
  r/tests/testthat/_snaps/udf.md
  r/tests/testthat/test-dplyr-funcs-datetime.R
  r/tests/testthat/test-udf.R
Labels: lang-R, docs

#14461 ARROW-15460: [R] Add as.data.frame.Dataset method
  r/NAMESPACE
  r/R/dataset.R
  r/R/dplyr-collect.R
  r/R/dplyr-group-by.R
  r/R/dplyr.R
  r/R/metadata.R
  r/R/table.R
  r/man/as_arrow_table.Rd
  r/man/open_dataset.Rd
  r/tests/testthat/test-dataset.R
  r/tests/testthat/test-udf.R
Labels: lang-R

#14571 ARROW-18206: [C++][CI] Add a nightly build for C++20 compilation
  ci/docker/alpine-linux-3.16-cpp.dockerfile
  ci/docker/conda-cpp.dockerfile
  cpp/src/arrow/compute/exec/source_node.cc
  cpp/src/arrow/compute/light_array.cc
  cpp/src/arrow/csv/column_builder.cc
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/src/arrow/testing/gtest_util.cc
  cpp/src/arrow/util/future_test.cc
  cpp/src/arrow/util/hashing.h
  cpp/src/arrow/util/thread_pool_test.cc
  cpp/src/parquet/arrow/reader.cc
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/statistics_test.cc
  cpp/src/plasma/client.cc
  cpp/src/plasma/common.h
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: parquet, lang-c++

#14552 ARROW-18184: [C++] Improve JSON parser benchmarks
  cpp/src/arrow/json/parser_benchmark.cc
  cpp/src/arrow/json/test_common.h
Labels: lang-c++

#14578 MINOR: [C++] Replaced uint32_t with uint64_t in BackpressureOptions constructor
  cpp/src/arrow/compute/exec/options.h
Labels: lang-c++

#14499 ARROW-17487: [Python][Packaging][CI] Add support for Python 3.11
  ci/docker/python-wheel-windows-test-vs2017.dockerfile
  ci/docker/python-wheel-windows-vs2017.dockerfile
  ci/scripts/install_gcs_testbench.sh
  ci/scripts/install_python.sh
  ci/scripts/python_wheel_macos_build.sh
  dev/release/verify-release-candidate.sh
  dev/tasks/python-wheels/github.osx.arm64.yml
  dev/tasks/tasks.yml
  docker-compose.yml
  python/pyarrow/_fs.pyx
  python/requirements-wheel-test.txt
  python/setup.py
Labels: lang-python

#14556 PARQUET-2211: [C++] Print ColumnMetaData.encoding_stats field
  cpp/src/parquet/printer.cc
  cpp/src/parquet/reader_test.cc
Labels: parquet, lang-c++

#14594 ARROW-17975: [C++] Create at-fork facility
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/testing/gtest_util.cc
  cpp/src/arrow/testing/gtest_util.h
  cpp/src/arrow/util/CMakeLists.txt
  cpp/src/arrow/util/atfork_internal.cc
  cpp/src/arrow/util/atfork_internal.h
  cpp/src/arrow/util/atfork_test.cc
  cpp/src/arrow/util/thread_pool.cc
  cpp/src/arrow/util/thread_pool.h
  cpp/src/arrow/util/thread_pool_test.cc
Labels: lang-c++

#14598 ARROW-18260: [C++][CMake] Add support for x64 for CMAKE_SYSTEM_PROCESSOR
  cpp/cmake_modules/SetupCxxFlags.cmake
Labels: lang-c++

#14586 ARROW-18284: [Python][Docs] Add missing CMAKE_PREFIX_PATH to allow setup.py CMake invocations to find Arrow CMake package
  docs/source/developers/python.rst
Labels: docs

#14559 ARROW-18212: [C++] NumericBuilder::Reset() doesn't reset all members
  cpp/src/arrow/array/builder_primitive.h
Labels: lang-c++

#14200 ARROW-17812: [Gandiva][Docs] Add C++ Gandiva User Guide
  cpp/apidoc/Doxyfile
  cpp/examples/arrow/CMakeLists.txt
  cpp/examples/arrow/gandiva_example.cc
  cpp/src/gandiva/expression_registry.h
  docs/source/cpp/api.rst
  docs/source/cpp/api/gandiva.rst
  docs/source/cpp/compute.rst
  docs/source/cpp/gandiva.rst
  docs/source/cpp/user_guide.rst
Labels: lang-c++, gandiva, docs

#14591 ARROW-18246: [Python][Docs] PyArrow table join docstring typos for left and right suffix arguments
  python/pyarrow/_exec_plan.pyx
  python/pyarrow/table.pxi
Labels: lang-python

#14547 ARROW-17832: [Python] Construct MapArray from sequence of dicts (instead of list of tuples)
  python/pyarrow/src/arrow/python/python_to_arrow.cc
  python/pyarrow/tests/test_array.py
Labels: lang-python

#14528 ARROW-17360: [Python] Order of columns in pyarrow.feather.read_table
  python/pyarrow/orc.py
Labels: lang-python

#14599 ARROW-18238: [Docs][Python] Improve docs for S3FileSystem
  docs/source/python/filesystems.rst
  python/pyarrow/_s3fs.pyx
Labels: lang-python, docs

#14492 ARROW-17192: [Python] Pass **kwargs in read_feather to to_pandas()
  python/pyarrow/feather.py
  python/pyarrow/tests/test_feather.py
Labels: lang-python

#14592 ARROW-18253: [C++][Parquet] Add additional bounds safety checks
  cpp/src/parquet/arrow/path_internal.cc
  cpp/src/parquet/arrow/reader.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/schema.cc
Labels: parquet, lang-c++

#14583 ARROW-18229: [Python] Check schema argument type in RecordBatchReader.from_batches
  python/pyarrow/ipc.pxi
  python/pyarrow/tests/test_ipc.py
  python/pyarrow/tests/test_schema.py
  python/pyarrow/types.pxi
Labels: lang-python

#14516 ARROW-18164: [Python] Honor default memory pool in Dataset scanning
  python/pyarrow/_dataset.pyx
  python/pyarrow/tests/test_dataset.py
Labels: lang-python

#14616 ARROW-18294: [Java] Fix Flight SQL JDBC PreparedStatement#executeUpdate
  java/flight/flight-sql-jdbc-driver/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightConnection.java
  java/flight/flight-sql-jdbc-driver/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightMetaImpl.java
  java/flight/flight-sql-jdbc-driver/src/test/java/org/apache/arrow/driver/jdbc/ArrowFlightPreparedStatementTest.java
Labels: lang-java

#14524 ARROW-17509: [C++] Simplify async scheduler by removing the need to call End
  cpp/examples/arrow/engine_substrait_consumption.cc
  cpp/examples/arrow/execution_plan_documentation_examples.cc
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/plan_test.cc
  cpp/src/arrow/compute/exec/sink_node.cc
  cpp/src/arrow/compute/exec/util.cc
  cpp/src/arrow/compute/exec/util.h
  cpp/src/arrow/dataset/dataset_writer.cc
  cpp/src/arrow/dataset/dataset_writer.h
  cpp/src/arrow/dataset/dataset_writer_test.cc
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/dataset/scan_node.cc
  cpp/src/arrow/engine/substrait/function_test.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/engine/substrait/util.cc
  cpp/src/arrow/flight/sql/example/acero_server.cc
  cpp/src/arrow/util/async_util.cc
  cpp/src/arrow/util/async_util.h
  cpp/src/arrow/util/async_util_test.cc
  cpp/src/arrow/util/cancel.h
  r/src/compute-exec.cpp
Labels: lang-R, lang-c++, flight

#14611 ARROW-18255: [C++] Don't fail cmake check for armv6
  cpp/cmake_modules/SetupCxxFlags.cmake
Labels: lang-c++

#14617 ARROW-18296: [Java] Honor Driver#connect API contract in JDBC driver
  java/flight/flight-sql-jdbc-driver/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightJdbcDriver.java
  java/flight/flight-sql-jdbc-driver/src/test/java/org/apache/arrow/driver/jdbc/ArrowFlightJdbcDriverTest.java
Labels: lang-java

#14612 ARROW-18291: [Release][Docs] Update how to release
  docs/source/developers/release.rst
Labels: docs

#14043 ARROW-17613: [C++] Add function execution API for a preconfigured kernel
  cpp/src/arrow/compute/exec.cc
  cpp/src/arrow/compute/exec.h
  cpp/src/arrow/compute/exec_test.cc
  cpp/src/arrow/compute/function.cc
  cpp/src/arrow/compute/function.h
  cpp/src/arrow/compute/function_internal.cc
  cpp/src/arrow/compute/function_internal.h
  cpp/src/arrow/compute/function_test.cc
  cpp/src/arrow/compute/type_fwd.h
  docs/source/cpp/api/compute.rst
  python/pyarrow/tests/test_compute.py
Labels: lang-c++, lang-python, docs

#14602 ARROW-18270: [Python] Remove gcc 4.9 compatibility code
  cpp/src/arrow/util/regex.h
  cpp/src/arrow/util/string_test.cc
  python/pyarrow/src/arrow/python/datetime.cc
Labels: lang-c++, lang-python

#14605 ARROW-18109: [Go] Initial Unary Arithmetic
  go/arrow/compute/arithmetic.go
  go/arrow/compute/arithmetic_test.go
  go/arrow/compute/cast_test.go
  go/arrow/compute/internal/kernels/Makefile
  go/arrow/compute/internal/kernels/_lib/base_arithmetic.cc
  go/arrow/compute/internal/kernels/_lib/base_arithmetic_avx2_amd64.s
  go/arrow/compute/internal/kernels/_lib/base_arithmetic_sse4_amd64.s
  go/arrow/compute/internal/kernels/base_arithmetic.go
  go/arrow/compute/internal/kernels/base_arithmetic_amd64.go
  go/arrow/compute/internal/kernels/base_arithmetic_avx2_amd64.go
  go/arrow/compute/internal/kernels/base_arithmetic_avx2_amd64.s
  go/arrow/compute/internal/kernels/base_arithmetic_sse4_amd64.go
  go/arrow/compute/internal/kernels/base_arithmetic_sse4_amd64.s
  go/arrow/compute/internal/kernels/basic_arithmetic_noasm.go
  go/arrow/compute/internal/kernels/scalar_arithmetic.go
  go/arrow/decimal128/decimal128.go
  go/arrow/decimal256/decimal256.go
Labels: lang-go

#14618 ARROW-18299: [CI][GLib][macOS] Fix dependency install failures
  .github/workflows/cpp.yml
  .github/workflows/ruby.yml
  c_glib/Brewfile
  cpp/Brewfile
Labels: lang-c++, lang-c-glib

#14626 MINOR: [C++] Mark header-defined function inline
  cpp/src/arrow/util/regex.h
Labels: lang-c++

#14529 ARROW-17949: [C++][Docs] Remove the use of clcache from Windows dev docs
  docs/source/developers/cpp/windows.rst
Labels: docs

#14622 ARROW-18310: [C++] Use atomic backpressure counter
  cpp/src/arrow/compute/exec/sink_node.cc
  cpp/src/arrow/compute/exec/source_node.cc
  cpp/src/arrow/dataset/file_base.cc
Labels: lang-c++

#14630 ARROW-18325: [Docs][Python] Add Python 3.11 to python/install.rst
  docs/source/python/install.rst
Labels: docs

#14633 ARROW-18257: [Python] pass back time types with correct type class
  python/pyarrow/public-api.pxi
  python/pyarrow/tests/test_types.py
Labels: lang-python

#14637 ARROW-18264: [Python] Expose time32/time64 scalar values
  python/pyarrow/scalar.pxi
  python/pyarrow/tests/test_scalars.py
Labels: lang-python

#14632 MINOR: [Docs][C++] Improve docs for ConcatenateTables
  cpp/src/arrow/table.h
  docs/source/cpp/api/table.rst
Labels: lang-c++, docs

#14550 ARROW-17301: [C++] Implement compute function "binary_slice"
  cpp/src/arrow/compute/kernels/scalar_string_ascii.cc
  cpp/src/arrow/compute/kernels/scalar_string_test.cc
  docs/source/cpp/compute.rst
  docs/source/python/api/compute.rst
  python/pyarrow/tests/test_compute.py
  r/src/compute.cpp
Labels: lang-R, lang-c++, lang-python, docs

#14645 ARROW-18290: [C++] Escape all special chars in URI-encoding
  cpp/src/arrow/filesystem/s3fs.cc
Labels: lang-c++

#14523 PARQUET-2206: [parquet-cpp] Microbenchmark for ColumnReader ReadBatch and Skip
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/column_reader_benchmark.cc
Labels: parquet, lang-c++

#14395 ARROW-17960: [C++][Python] Implement list_slice kernel
  cpp/src/arrow/compute/api_scalar.cc
  cpp/src/arrow/compute/api_scalar.h
  cpp/src/arrow/compute/function_internal.h
  cpp/src/arrow/compute/kernels/scalar_nested.cc
  cpp/src/arrow/compute/kernels/scalar_nested_test.cc
  docs/source/cpp/compute.rst
  docs/source/python/api/compute.rst
  python/pyarrow/_compute.pyx
  python/pyarrow/compute.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/lib.pxd
  python/pyarrow/tests/test_compute.py
Labels: lang-c++, lang-python, docs

#13718 ARROW-15026: [Python] Error if datetime.timedelta to pyarrow.duration conversion overflows
  python/pyarrow/src/arrow/python/datetime.h
  python/pyarrow/src/arrow/python/python_to_arrow.cc
  python/pyarrow/tests/test_types.py
Labels: lang-python

#14219 ARROW-17825: [C++] Allow the possibility to write several tables in ORCFileWriter
  cpp/src/arrow/adapters/orc/adapter.cc
  cpp/src/arrow/adapters/orc/adapter.h
  cpp/src/arrow/adapters/orc/adapter_test.cc
Labels: lang-c++

#14642 ARROW-18322: [Python] Add PYARROW_WITH_FLIGHT to PyArrow C++ cmake
  python/pyarrow/src/CMakeLists.txt
  python/setup.py
Labels: lang-python

#14639 ARROW-18326: [Go] Add option to support dictionary deltas with IPC
  go/arrow/ipc/ipc.go
  go/arrow/ipc/ipc_test.go
  go/arrow/ipc/writer.go
Labels: lang-go

#14623 ARROW-18278: [Java] Adjust path in Maven generate-libs-jni-macos-linux
  docs/source/developers/java/building.rst
  java/pom.xml
Labels: lang-java, docs

#14609 ARROW-18287: [C++][CMake] Add support for Brotli/utf8proc provided by vcpkg
  cpp/cmake_modules/FindBrotli.cmake
  cpp/cmake_modules/Findutf8proc.cmake
Labels: lang-c++

#14597 ARROW-18259: [C++][CMake] Add support for system Thrift CMake package
  cpp/cmake_modules/FindThriftAlt.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: lang-c++

#14649 ARROW-18309: [Go] Fix delta bit packing decode panic
  dev/release/rat_exclude_files.txt
  go/parquet/internal/encoding/delta_bit_packing.go
  go/parquet/internal/encoding/encoding_test.go
  go/parquet/internal/encoding/testdata/timestamp.data
Labels: lang-go

#14579 ARROW-18235: [C++][Gandiva] Fix the like function implementation for escape chars
  cpp/src/gandiva/regex_functions_holder.cc
  cpp/src/gandiva/regex_functions_holder_test.cc
  cpp/src/gandiva/tests/filter_test.cc
Labels: lang-c++, gandiva

#14434 ARROW-15538: [C++] Expanding coverage of math functions from Substrait to Acero
  cpp/src/arrow/compute/api_scalar.cc
  cpp/src/arrow/compute/api_scalar.h
  cpp/src/arrow/compute/kernels/base_arithmetic_internal.h
  cpp/src/arrow/compute/kernels/scalar_arithmetic.cc
  cpp/src/arrow/compute/kernels/scalar_arithmetic_test.cc
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/extension_set.h
  cpp/src/arrow/engine/substrait/function_test.cc
  docs/source/cpp/compute.rst
Labels: lang-c++, docs

#14638 ARROW-16817: [C++] Test ORC writer errors with invalid types
  cpp/src/arrow/adapters/orc/adapter_test.cc
  python/pyarrow/tests/test_orc.py
Labels: lang-c++, lang-python

#14469 ARROW-18120: [Release][Dev] Automate running binaries/wheels verifications
  dev/archery/archery/crossbow/cli.py
  dev/archery/archery/crossbow/core.py
  dev/release/07-binary-verify.sh
  docs/source/developers/release.rst
Labels: docs

#14658 ARROW-18342: [C++] AsofJoinNode support for Boolean data field
  cpp/src/arrow/compute/exec/asof_join_node.cc
  cpp/src/arrow/compute/exec/asof_join_node_test.cc
Labels: lang-c++

#14595 ARROW-18256: [C++][Windows] Use IMPORTED_IMPLIB for external shared Thrift
  cpp/cmake_modules/FindThriftAlt.cmake
Labels: lang-c++

#14650 ARROW-18332: [Go] Cast Dictionary types to value type
  go/arrow/compute/cast.go
  go/arrow/compute/cast_test.go
  go/arrow/compute/datum.go
  go/arrow/compute/internal/kernels/cast.go
  go/arrow/scalar/scalar.go
Labels: lang-go

#14676 MINOR: [R] Simplify compare_dplyr_binding test helper
  r/tests/testthat/helper-expectation.R
Labels: lang-R

#14657 ARROW-18343: [C++] Remove AllocateBitmap() with out parameter
  cpp/src/arrow/buffer.h
Labels: lang-c++

#14207 ARROW-17610: [C++] Support additional source types in SourceNode
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/plan_test.cc
  cpp/src/arrow/compute/exec/source_node.cc
  cpp/src/arrow/compute/exec/test_util.cc
  cpp/src/arrow/compute/exec/test_util.h
Labels: lang-c++

#14574 ARROW-18225: [Python] Fully support filesystem in parquet.write_metadata
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_metadata.py
Labels: lang-python

#14660 ARROW-18341: [Doc][Python] Update note about bundling Arrow C++ on Windows
  docs/source/developers/python.rst
Labels: docs

#14631 ARROW-18173: [Python] Drop older versions of Pandas (<1.0)
  .github/workflows/python.yml
  docs/source/python/install.rst
  python/pyarrow/feather.py
  python/pyarrow/pandas-shim.pxi
  python/pyarrow/pandas_compat.py
  python/pyarrow/tests/parquet/test_dataset.py
  python/pyarrow/tests/parquet/test_pandas.py
  python/pyarrow/tests/test_compute.py
  python/pyarrow/tests/test_pandas.py
  python/pyarrow/tests/test_schema.py
Labels: lang-python, docs

#14495 ARROW-17989: [C++][Python] Enable struct_field kernel to accept string field names
  cpp/src/arrow/compute/api_scalar.cc
  cpp/src/arrow/compute/api_scalar.h
  cpp/src/arrow/compute/kernels/scalar_nested.cc
  cpp/src/arrow/compute/kernels/scalar_nested_test.cc
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
  cpp/src/arrow/type_test.cc
  python/pyarrow/_compute.pyx
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_compute.py
Labels: lang-c++, lang-python

#14695 ARROW-18379: [Python] Change warnings to _warnings in _plasma_store_entry_point
  python/pyarrow/__init__.py
Labels: lang-python

#14601 ARROW-17985: [C++][Python] Improve s3fs error message when wrong region
  cpp/src/arrow/filesystem/s3_internal.h
  cpp/src/arrow/filesystem/s3fs.cc
  python/pyarrow/tests/test_fs.py
Labels: lang-c++, lang-python

#14100 ARROW-4709: [C++] Optimize for ordered JSON fields
  cpp/src/arrow/json/parser.cc
  cpp/src/arrow/json/parser_test.cc
Labels: lang-c++

#14702 ARROW-18382: [C++] Set ADDRESS_SANITIZER in fuzzing builds
  cpp/CMakeLists.txt
  cpp/cmake_modules/BuildUtils.cmake
Labels: lang-c++

#14656 ARROW-18340: [Python] PyArrow C++ header files no longer always included in installed pyarrow
  python/pyarrow/tests/test_cpp_internals.py
  python/setup.py
Labels: lang-python

#14700 MINOR: [C++] Fix CMake deps for minimal Flight benchmark build
  cpp/src/arrow/flight/CMakeLists.txt
Labels: lang-c++, flight

#14698 ARROW-18360: [Python] Don't crash when schema=None in FlightClient.do_put
  cpp/src/arrow/ipc/writer.cc
  python/pyarrow/_flight.pyx
  python/pyarrow/tests/test_flight.py
Labels: lang-c++, lang-python, flight

#14666 ARROW-18350: [C++] Use std::to_chars instead of std::to_string
  cpp/src/arrow/adapters/orc/util.cc
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/compute/exec/aggregate.cc
  cpp/src/arrow/compute/exec/asof_join_node.cc
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/expression.cc
  cpp/src/arrow/compute/exec/union_node.cc
  cpp/src/arrow/compute/kernels/scalar_nested.cc
  cpp/src/arrow/dataset/dataset_writer.cc
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/filesystem/gcsfs_internal.cc
  cpp/src/arrow/filesystem/s3_internal.h
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/flight/cookie_internal.cc
  cpp/src/arrow/flight/sql/column_metadata.cc
  cpp/src/arrow/flight/transport/grpc/util_internal.cc
  cpp/src/arrow/flight/transport/ucx/ucx_internal.cc
  cpp/src/arrow/flight/transport/ucx/ucx_server.cc
  cpp/src/arrow/flight/transport/ucx/util_internal.cc
  cpp/src/arrow/ipc/metadata_internal.cc
  cpp/src/arrow/pretty_print.cc
  cpp/src/arrow/testing/random.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/util/formatting.h
  cpp/src/arrow/util/int_util.cc
  cpp/src/arrow/util/string.h
  cpp/src/arrow/util/string_test.cc
  cpp/src/parquet/arrow/schema.cc
Labels: parquet, lang-c++, flight

#14703 ARROW-18111: [Go] Remaining scalar binary arithmetic (shifts, power, bitwise)
  go/arrow/compute/arithmetic.go
  go/arrow/compute/arithmetic_test.go
  go/arrow/compute/internal/exec/utils.go
  go/arrow/compute/internal/kernels/_lib/base_arithmetic.cc
  go/arrow/compute/internal/kernels/_lib/base_arithmetic_avx2_amd64.s
  go/arrow/compute/internal/kernels/_lib/base_arithmetic_sse4_amd64.s
  go/arrow/compute/internal/kernels/base_arithmetic.go
  go/arrow/compute/internal/kernels/base_arithmetic_amd64.go
  go/arrow/compute/internal/kernels/base_arithmetic_avx2_amd64.s
  go/arrow/compute/internal/kernels/base_arithmetic_sse4_amd64.s
  go/arrow/compute/internal/kernels/scalar_arithmetic.go
Labels: lang-go

#14716 ARROW-18392: [Python] Fix test_s3fs_wrong_region; set anonymous=True
  python/pyarrow/tests/test_fs.py
Labels: lang-python

#14718 ARROW-18397: [C++] Clear S3 region resolver client at S3 shutdown
  ci/conda_env_cpp.txt
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs.h
Labels: lang-c++

#14250 ARROW-17859: [C++] Use self-pipe in signal-receiving StopSource
  cpp/src/arrow/util/cancel.cc
  cpp/src/arrow/util/cancel.h
  cpp/src/arrow/util/cancel_test.cc
  cpp/src/arrow/util/io_util.cc
  cpp/src/arrow/util/io_util_test.cc
Labels: lang-c++

#14708 ARROW-18292: [Release][Python] Upload .wheel/.tar.gz for release not RC
  dev/release/post-09-python.sh
  docs/source/developers/release.rst
Labels: docs

#14415 ARROW-17966: [C++] Adjust to new format for Substrait optional arguments
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/extension_set.h
  cpp/src/arrow/engine/substrait/function_test.cc
  cpp/src/arrow/engine/substrait/plan_internal.cc
  cpp/src/arrow/engine/substrait/serde.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/engine/substrait/test_plan_builder.cc
  cpp/src/arrow/engine/substrait/test_plan_builder.h
  cpp/thirdparty/versions.txt
  python/pyarrow/tests/test_substrait.py
Labels: lang-c++, lang-python

#14225 ARROW-17836: [C++] Allow specifying alignment of buffers
  cpp/src/arrow/array/builder_adaptive.cc
  cpp/src/arrow/array/builder_adaptive.h
  cpp/src/arrow/array/builder_base.h
  cpp/src/arrow/array/builder_binary.cc
  cpp/src/arrow/array/builder_binary.h
  cpp/src/arrow/array/builder_decimal.cc
  cpp/src/arrow/array/builder_decimal.h
  cpp/src/arrow/array/builder_dict.h
  cpp/src/arrow/array/builder_nested.h
  cpp/src/arrow/array/builder_primitive.cc
  cpp/src/arrow/array/builder_primitive.h
  cpp/src/arrow/array/builder_time.h
  cpp/src/arrow/array/builder_union.cc
  cpp/src/arrow/array/builder_union.h
  cpp/src/arrow/buffer.cc
  cpp/src/arrow/buffer.h
  cpp/src/arrow/buffer_builder.h
  cpp/src/arrow/buffer_test.cc
  cpp/src/arrow/builder.cc
  cpp/src/arrow/compute/exec/test_util.cc
  cpp/src/arrow/compute/exec/test_util.h
  cpp/src/arrow/io/file_test.cc
  cpp/src/arrow/memory_pool.cc
  cpp/src/arrow/memory_pool.h
  cpp/src/arrow/memory_pool_internal.h
  cpp/src/arrow/memory_pool_jemalloc.cc
  cpp/src/arrow/memory_pool_test.cc
  cpp/src/arrow/memory_pool_test.h
  cpp/src/arrow/stl_allocator.h
  cpp/src/arrow/testing/random.cc
  cpp/src/arrow/testing/random.h
  cpp/src/arrow/testing/random_test.cc
  cpp/src/arrow/type_fwd.h
  java/dataset/src/main/cpp/jni_util.cc
  java/dataset/src/main/cpp/jni_util.h
  r/src/memorypool.cpp
Labels: lang-R, lang-java, lang-c++

#14735 ARROW-18406: [C++] Can't build Arrow with Substrait on Ubuntu 20.04
  cpp/src/arrow/engine/substrait/expression_internal.cc
Labels: lang-c++

#14514 ARROW-17887: [R][Doc] Improve readability of the Get Started and README pages
  r/.Rbuildignore
  r/DESCRIPTION
  r/R/arrow-info.R
  r/R/dataset.R
  r/R/install-arrow.R
  r/R/json.R
  r/R/parquet.R
  r/README.md
  r/STYLE.md
  r/_pkgdown.yml
  r/man/arrow-package.Rd
  r/man/arrow_info.Rd
  r/man/install_arrow.Rd
  r/man/open_dataset.Rd
  r/man/read_json_arrow.Rd
  r/man/write_parquet.Rd
  r/pkgdown/favicon/apple-touch-icon-120x120.png
  r/pkgdown/favicon/apple-touch-icon-152x152.png
  r/pkgdown/favicon/apple-touch-icon-180x180.png
  r/pkgdown/favicon/apple-touch-icon-60x60.png
  r/pkgdown/favicon/apple-touch-icon-76x76.png
  r/pkgdown/favicon/apple-touch-icon.png
  r/pkgdown/favicon/favicon-16x16.png
  r/pkgdown/favicon/favicon-32x32.png
  r/pkgdown/favicon/favicon.ico
  r/tools/nixlibs.R
  r/vignettes/.gitignore
  r/vignettes/array_indexing.png
  r/vignettes/arrow.Rmd
  r/vignettes/data_objects.Rmd
  r/vignettes/data_types.Rmd
  r/vignettes/data_types.png
  r/vignettes/data_wrangling.Rmd
  r/vignettes/dataset.Rmd
  r/vignettes/developers/array_layout_integer.png
  r/vignettes/developers/array_layout_string.png
  r/vignettes/developers/chunked_array_layout.png
  r/vignettes/developers/data_object_layout.Rmd
  r/vignettes/developers/debugging.Rmd
  r/vignettes/developers/docker.Rmd
  r/vignettes/developers/install_details.Rmd
  r/vignettes/developers/record_batch_layout.png
  r/vignettes/developers/setup.Rmd
  r/vignettes/developers/table_layout.png
  r/vignettes/developers/workflow.Rmd
  r/vignettes/developers/writing_bindings.Rmd
  r/vignettes/developing.Rmd
  r/vignettes/flight.Rmd
  r/vignettes/fs.Rmd
  r/vignettes/install.Rmd
  r/vignettes/install_nightly.Rmd
  r/vignettes/metadata.Rmd
  r/vignettes/python.Rmd
  r/vignettes/read_write.Rmd
  r/vignettes/record_batch.png
  r/vignettes/table.png
Labels: lang-R, parquet, docs

#14723 ARROW-18113: [C++] Add RandomAccessFile::ReadManyAsync
  cpp/src/arrow/io/file_test.cc
  cpp/src/arrow/io/interfaces.cc
  cpp/src/arrow/io/interfaces.h
Labels: lang-c++

#14659 ARROW-18334: [C++] Handle potential non-commutativity by rebinding
  cpp/src/arrow/compute/exec/expression.cc
  cpp/src/arrow/compute/exec/expression_test.cc
  cpp/src/arrow/datum.h
  cpp/src/arrow/datum_test.cc
  cpp/src/arrow/scalar.cc
  cpp/src/arrow/scalar.h
  cpp/src/arrow/scalar_test.cc
Labels: lang-c++

#14739 ARROW-18409: [GLib][Plasma] Suppress deprecated warning in building plasma-glib
  c_glib/plasma-glib/meson.build
Labels: lang-c-glib

#14738 ARROW-18405: [Ruby] Avoid rebuilding chunked arrays in Arrow::Table.new
  ruby/red-arrow/lib/arrow/array.rb
  ruby/red-arrow/lib/arrow/chunked-array.rb
  ruby/red-arrow/lib/arrow/raw-table-converter.rb
  ruby/red-arrow/lib/arrow/tensor.rb
  ruby/red-arrow/test/test-table.rb
Labels: lang-ruby

#14744 GH-14745: [R] {rlang} dependency must be at least version 1.0.0 because of check_dots_empty
  r/DESCRIPTION
  r/tests/testthat/_snaps/dataset-write.md
  r/tests/testthat/_snaps/dplyr-glimpse.md
  r/tests/testthat/_snaps/dplyr-join.md
Labels: Component: R, Component: Documentation

#14770 MINOR: [R] Fix URLs in vignettes
  r/vignettes/dataset.Rmd
  r/vignettes/install.Rmd
Labels: Component: R

#14573 ARROW-18237: [Java] Extend Table code
  java/vector/src/main/java/org/apache/arrow/vector/table/Row.java
  java/vector/src/main/java/org/apache/arrow/vector/table/Table.java
  java/vector/src/test/java/org/apache/arrow/vector/table/BaseTableTest.java
  java/vector/src/test/java/org/apache/arrow/vector/table/TestUtils.java
Labels: Component: Java

#14729 ARROW-18399: [Python] Reduce warnings during tests
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/conftest.py
  python/pyarrow/tests/parquet/test_basic.py
  python/pyarrow/tests/parquet/test_dataset.py
  python/pyarrow/tests/parquet/test_datetime.py
  python/pyarrow/tests/parquet/test_metadata.py
  python/pyarrow/tests/parquet/test_pandas.py
  python/pyarrow/tests/test_filesystem.py
  python/pyarrow/tests/test_ipc.py
  python/pyarrow/tests/test_orc.py
  python/pyarrow/tests/test_pandas.py
  python/pyarrow/tests/test_plasma.py
  python/pyarrow/tests/test_substrait.py
  python/pyarrow/tests/util.py
Labels: Component: Python

#14771 ARROW-18416: [R] Update NEWS for 10.0.1
  r/NEWS.md
Labels: Component: R, Component: Documentation

#14776 GH-14775: [Go] Fix UnionBuilder.Len implementations
  go/arrow/array/union.go
  go/arrow/array/union_test.go
Labels: Component: Go

#14783 MINOR: Setup linking between PR and Issue in GitHub
  .github/workflows/dev_pr/link.js
Labels: Component: Developer Tools
