Repository apache/arrow, pull requests merged in 2022-07, with the labels that each got.

#13479 ARROW-16939 [R] Fix nightly builds after the merge of ARROW-16407
  r/tests/testthat/test-dplyr-funcs-datetime.R
Labels: lang-R

#13481 ARROW-16941: [Java] Consolidate Dataset JNI compilation
  cpp/CMakeLists.txt
  cpp/src/jni/CMakeLists.txt
  java/dataset/src/main/cpp/CMakeLists.txt
  java/dataset/src/main/cpp/jni_util.cc
  java/dataset/src/main/cpp/jni_util.h
  java/dataset/src/main/cpp/jni_util_test.cc
  java/dataset/src/main/cpp/jni_wrapper.cc
Labels: lang-java, lang-c++

#13489 ARROW-16948: [C++] Benchmark Aggregates Fails To Compile After Aggregate Updates
  cpp/src/arrow/compute/kernels/aggregate_benchmark.cc
Labels: lang-c++

#13486 ARROW-16936: [C++] Update gRPC absl static dependencies
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: lang-c++

#13477 ARROW-15422: [Packaging][RPM][deb] Add support for GDB plugin
  cpp/CMakeLists.txt
  cpp/cmake_modules/BuildUtils.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/gdb_arrow.py
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/libarrow_gdb.py.in
  dev/tasks/linux-packages/apache-arrow/debian/libarrow-dev.install
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
Labels: lang-c++

#13498 ARROW-16971: [GLib] Check g_seekable_can_seek() before calling g_seekable_tell()
  c_glib/arrow-glib/input-stream.cpp
  c_glib/arrow-glib/output-stream.cpp
  ruby/red-arrow/example/read-pipe.rb
  ruby/red-arrow/example/write-pipe.rb
Labels: lang-ruby, lang-c-glib

#13495 MINOR: [Docs] Fix typo in python.rst
  docs/source/developers/python.rst
Labels: docs

#13475 ARROW-16886: [C++] Add option to disable PIC
  cpp/CMakeLists.txt
  cpp/cmake_modules/BuildUtils.cmake
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/SetupCxxFlags.cmake
Labels: lang-c++

#13512 ARROW-16974: [GLib] Make C99 compatible
  c_glib/arrow-dataset-glib/dataset-definition.h
  c_glib/arrow-dataset-glib/dataset.h
  c_glib/arrow-dataset-glib/meson.build
  c_glib/arrow-dataset-glib/scanner.h
  c_glib/arrow-glib/basic-array-definition.h
  c_glib/arrow-glib/basic-array.h
  c_glib/arrow-glib/basic-data-type.h
  c_glib/arrow-glib/chunked-array-definition.h
  c_glib/arrow-glib/chunked-array.h
  c_glib/arrow-glib/compute-definition.h
  c_glib/arrow-glib/compute.h
  c_glib/arrow-glib/meson.build
  c_glib/arrow-glib/scalar.cpp
  c_glib/arrow-glib/scalar.h
  c_glib/example/meson.build
  c_glib/meson.build
Labels: lang-c-glib

#13503 ARROW-16941: [Java][Dataset] Update more jni_util.h paths
  ci/docker/linux-apt-jni.dockerfile
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  java/dataset/src/main/cpp/jni_util.cc
  java/dataset/src/main/cpp/jni_util_test.cc
  java/dataset/src/main/cpp/jni_wrapper.cc
Labels: lang-java, lang-c++

#13496 MINOR: [C++] Aggregate doc fix
  cpp/src/arrow/compute/api_aggregate.h
Labels: lang-c++

#13465 ARROW-16913: [Java] Implement ArrowArrayStream
  cpp/src/arrow/c/bridge.cc
  docs/source/python/integration/python_java.rst
  java/c/CMakeLists.txt
  java/c/pom.xml
  java/c/src/main/cpp/jni_wrapper.cc
  java/c/src/main/java/org/apache/arrow/c/ArrayStreamExporter.java
  java/c/src/main/java/org/apache/arrow/c/ArrowArrayStream.java
  java/c/src/main/java/org/apache/arrow/c/ArrowArrayStreamReader.java
  java/c/src/main/java/org/apache/arrow/c/CDataDictionaryProvider.java
  java/c/src/main/java/org/apache/arrow/c/Data.java
  java/c/src/main/java/org/apache/arrow/c/NativeUtil.java
  java/c/src/main/java/org/apache/arrow/c/jni/CDataJniException.java
  java/c/src/main/java/org/apache/arrow/c/jni/JniWrapper.java
  java/c/src/test/java/org/apache/arrow/c/RoundtripTest.java
  java/c/src/test/java/org/apache/arrow/c/StreamTest.java
  java/c/src/test/python/integration_tests.py
  java/pom.xml
  java/vector/src/main/java/org/apache/arrow/vector/dictionary/DictionaryProvider.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/ArrowReader.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/JsonFileReader.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/message/MessageSerializer.java
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/ipc.pxi
Labels: lang-java, lang-c++, lang-python, docs

#13458 ARROW-16930: [Java] Move CPP ORC JNI code to Java ORC project
  cpp/CMakeLists.txt
  cpp/src/jni/CMakeLists.txt
  java/adapter/orc/src/main/cpp/CMakeLists.txt
  java/adapter/orc/src/main/cpp/concurrent_map.h
  java/adapter/orc/src/main/cpp/jni_wrapper.cpp
Labels: lang-java, lang-c++

#13179 ARROW-16599 [C++] Implementation of ExecuteScalarExpressionOverhead benchmarks without arrow for comparision
  cpp/src/arrow/compute/exec/expression_benchmark.cc
Labels: lang-c++

#13511 ARROW-16664: [CI][Release] Create verify release Pull Request automatically
  dev/archery/archery/crossbow/cli.py
  dev/archery/archery/crossbow/core.py
  dev/release/02-source.sh
  docs/source/developers/release.rst
Labels: docs

#13524 ARROW-16984: [Ruby] Add support for installing Apache Arrow GLib automatically on Fedora
  ruby/red-arrow-cuda/dependency-check/Rakefile
  ruby/red-arrow-dataset/dependency-check/Rakefile
  ruby/red-arrow-flight/dependency-check/Rakefile
  ruby/red-arrow/ext/arrow/extconf.rb
  ruby/red-gandiva/dependency-check/Rakefile
  ruby/red-parquet/dependency-check/Rakefile
  ruby/red-plasma/dependency-check/Rakefile
Labels: parquet, lang-ruby, gandiva

#12775 ARROW-16006: [C++][Docs] Provide row conversion example for dynamic schemas
  cpp/examples/arrow/CMakeLists.txt
  cpp/examples/arrow/rapidjson_row_converter.cc
  cpp/src/arrow/table_builder.h
  docs/source/cpp/datatypes.rst
  docs/source/cpp/examples/row_columnar_conversion.rst
Labels: lang-c++, lang-c-glib, docs

#13246 ARROW-16329: [Java][C++] Keep more context when marshalling errors through JNI
  java/dataset/src/main/cpp/jni_util.cc
  java/dataset/src/main/cpp/jni_util.h
  java/dataset/src/main/cpp/jni_wrapper.cc
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/JniExceptionDescriber.java
  java/dataset/src/test/java/org/apache/arrow/dataset/jni/TestReservationListener.java
Labels: lang-java, lang-c++

#13526 MINOR: [Python][Docs] Improved grammatical error at line 33
  docs/source/python/index.rst
Labels: docs

#12656 ARROW-15958: [Java][Docs] Improve and document StackTrace
  docs/source/java/memory.rst
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/ArrowBuf.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/StackTrace.java
  java/memory/memory-core/src/test/java/org/apache/arrow/util/TestStackTrace.java
Labels: lang-java, docs

#13464 ARROW-16752: [R] Rework Linux binary installation
  ci/scripts/r_docker_configure.sh
  ci/scripts/r_test.sh
  dev/release/rat_exclude_files.txt
  dev/tasks/macros.jinja
  dev/tasks/r/github.packages.yml
  r/tools/nixlibs-allowlist.txt
  r/tools/nixlibs.R
  r/tools/test-nixlibs.R
  r/vignettes/install.Rmd
Labels: lang-R

#13406 MINOR: [Docs][Java] Clarify Java CI and JDK9 flags
  docs/source/java/install.rst
Labels: docs

#13454 ARROW-13612: [Python] Allow specifying a custom type for converting ExtensionScalar to python object
  docs/source/python/api/arrays.rst
  docs/source/python/extending_types.rst
  python/pyarrow/scalar.pxi
  python/pyarrow/tests/test_extension_type.py
  python/pyarrow/types.pxi
Labels: lang-python, docs

#13530 ARROW-13388: [C++][Parquet] Fix documentation to reflect the reading support for DELTA_LENGTH_BYTE_ARRAY
  docs/source/cpp/parquet.rst
Labels: docs

#13313 ARROW-16679: [R] configure fails if CDPATH is not null
  r/configure
Labels: lang-R

#13540 ARROW-16998: [Java] Upgrade commons-codec dependencies
  java/vector/pom.xml
Labels: lang-java

#13434 ARROW-16902: [C++][FlightRPC] Fix DLL linkage in Flight SQL
  .github/workflows/cpp.yml
  appveyor.yml
  ci/appveyor-cpp-build.bat
  cpp/cmake_modules/BuildUtils.cmake
  cpp/src/arrow/flight/sql/CMakeLists.txt
  cpp/src/arrow/flight/sql/client.cc
  cpp/src/arrow/flight/sql/client.h
  cpp/src/arrow/flight/sql/client_test.cc
  cpp/src/arrow/flight/sql/column_metadata.h
  cpp/src/arrow/flight/sql/example/sqlite_server.cc
  cpp/src/arrow/flight/sql/example/sqlite_statement_batch_reader.cc
  cpp/src/arrow/flight/sql/protocol_internal.cc
  cpp/src/arrow/flight/sql/protocol_internal.h
  cpp/src/arrow/flight/sql/server.cc
  cpp/src/arrow/flight/sql/server.h
  cpp/src/arrow/flight/sql/server_test.cc
  cpp/src/arrow/flight/sql/sql_info_internal.h
  cpp/src/arrow/flight/sql/types.h
  cpp/src/arrow/flight/sql/visibility.h
  cpp/src/arrow/symbols.map
  docs/source/developers/cpp/windows.rst
Labels: lang-c++, flight, docs

#13546 ARROW-17011: [C++][Flight] Remove the need for serialization_internal.h inside python/flight.cc
  cpp/src/arrow/flight/types.cc
  cpp/src/arrow/flight/types.h
  cpp/src/arrow/python/flight.cc
Labels: lang-c++, flight

#13490 ARROW-16910: [C++] Add Equals method for FileFragment
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/dataset/file_base.h
  cpp/src/arrow/dataset/file_csv_test.cc
  cpp/src/arrow/dataset/file_ipc_test.cc
  cpp/src/arrow/dataset/file_orc_test.cc
  cpp/src/arrow/dataset/file_parquet_test.cc
  cpp/src/arrow/dataset/test_util.h
Labels: lang-c++

#13550 ARROW-16268: [R] Remove long-deprecated functions
  r/DESCRIPTION
  r/NAMESPACE
  r/NEWS.md
  r/R/dataset-scan.R
  r/R/deprecated.R
  r/R/dplyr-union.R
  r/man/ArrayData.Rd
  r/man/FileSystem.Rd
  r/man/Scalar.Rd
  r/man/Scanner.Rd
  r/man/array.Rd
  r/man/arrow-package.Rd
  r/man/arrow_info.Rd
  r/man/read_ipc_stream.Rd
  r/man/write_ipc_stream.Rd
  r/tests/testthat/test-Table.R
  r/tests/testthat/test-arrow-info.R
  r/tests/testthat/test-dataset.R
  r/tests/testthat/test-type.R
Labels: lang-R, docs

#13484 ARROW-16828: [R][Packaging] Enable Brotli and BZ2 on MacOS and Windows
  ci/scripts/PKGBUILD
  ci/scripts/r_windows_build.sh
  dev/tasks/homebrew-formulae/autobrew/apache-arrow.rb
  r/configure.win
  r/tests/testthat/test-compressed.R
  r/tools/autobrew
Labels: lang-R

#13241 ARROW-16405: [R][CI] Use nightlies.apache.org as dev repo
  docs/source/developers/guide/resources.rst
  r/NEWS.md
  r/R/install-arrow.R
  r/README.md
  r/tools/nixlibs.R
  r/tools/winlibs.R
  r/vignettes/developers/install_details.Rmd
  r/vignettes/developers/setup.Rmd
  r/vignettes/install.Rmd
Labels: lang-R, docs

#13549 ARROW-17014: [CI] Add ENABLE_EXTENDED_ALIGNED_STORAGE on cython tests on Windows
  ci/appveyor-cpp-build.bat
  python/pyarrow/tests/test_cython.py
Labels: lang-python

#13544 ARROW-16996: [Java] Configure Netty/GRPC/Protobuf base on BOM configuration + upgrade of dependencies by CVE
  docs/source/developers/java/building.rst
  java/flight/flight-core/pom.xml
  java/flight/flight-grpc/pom.xml
  java/flight/flight-integration-tests/pom.xml
  java/flight/flight-sql/pom.xml
  java/flight/pom.xml
  java/pom.xml
Labels: lang-java, docs

#13547 ARROW-17013: [CI][C++] Fix arrow build for Ubuntu CPP 22.04
  cpp/src/arrow/flight/sql/CMakeLists.txt
Labels: lang-c++, flight

#13366 ARROW-16809: [C++] Add Benchmarks for FilterNode
  cpp/src/arrow/compute/exec/CMakeLists.txt
  cpp/src/arrow/compute/exec/benchmark_util.cc
  cpp/src/arrow/compute/exec/benchmark_util.h
  cpp/src/arrow/compute/exec/filter_benchmark.cc
  cpp/src/arrow/compute/exec/project_benchmark.cc
Labels: lang-c++

#13553 ARROW-17018: [C++][Python] Timedelta dtype metadata base unit is globally mutated by the Table.to_pandas() method
  cpp/src/arrow/python/numpy_internal.h
  python/pyarrow/tests/test_pandas.py
Labels: lang-c++, lang-python

#13536 ARROW-16999: [C++] Add support for SnappyConfig.cmake
  ci/scripts/conan_build.sh
  cpp/CMakeLists.txt
  cpp/cmake_modules/FindSnappyAlt.cmake
  cpp/cmake_modules/Findre2Alt.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/adapters/orc/CMakeLists.txt
  dev/tasks/linux-packages/apache-arrow/debian/libarrow-dev.install
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
  dev/tasks/tasks.yml
Labels: lang-c++

#13560 ARROW-17030: [Python] Ensure that dtype mutation test works on s390x
  python/pyarrow/tests/test_pandas.py
Labels: lang-python

#13557 ARROW-16757: [C++][FOLLOWUP] Fix mingw32 RTools 4.0 build by removing usage of alignas
  cpp/src/arrow/array/data.cc
  cpp/src/arrow/array/data.h
  cpp/src/arrow/compute/exec.cc
Labels: lang-c++

#13562 ARROW-17034: [C++] Enable compiler caching for ThirdpartyToolchain.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: lang-c++

#13539 ARROW-16142: [C++] Temporal floor/ceil/round returns incorrect results for date32 and time32 inputs
  cpp/src/arrow/compute/kernels/scalar_temporal_test.cc
  cpp/src/arrow/compute/kernels/scalar_temporal_unary.cc
Labels: lang-c++

#13509 ARROW-16904: [C++] min/max not deterministic if Parquet files have multiple row groups
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/plan_test.cc
  cpp/src/arrow/compute/kernels/aggregate_basic_internal.h
  cpp/src/arrow/compute/kernels/aggregate_test.cc
  r/tests/testthat/test-dataset.R
Labels: lang-R, lang-java, lang-c++, lang-python, lang-c-glib, docs

#13555 ARROW-16715: [R] Bump default parquet version
  r/NAMESPACE
  r/NEWS.md
  r/R/arrow-package.R
  r/R/enums.R
  r/R/parquet.R
  r/man/enums.Rd
  r/man/write_parquet.Rd
  r/tests/testthat/_snaps/dataset-write.md
  r/tests/testthat/test-parquet.R
Labels: lang-R, parquet, docs

#13494 ARROW-16966: [Doc] Document Substrait conformance
  docs/source/cpp/streaming_execution.rst
Labels: docs

#13570 ARROW-16736: [C++] Bump vendored version of RE2
  cpp/thirdparty/versions.txt
Labels: lang-c++

#13566 ARROW-16747: [CI][Release][Python] Drop support for manylinux 2010
  .dockerignore
  ci/docker/python-wheel-manylinux-201x.dockerfile
  dev/release/verify-release-candidate.sh
  dev/tasks/tasks.yml
  docker-compose.yml
  docs/source/python/integration/extending.rst
Labels: docs

#13573 ARROW-16978: [C#] Intermittent Archery Failures
  csharp/src/Apache.Arrow/Extensions/ArrayPoolExtensions.cs
Labels: lang-csharp

#13528 ARROW-16989: [C++] Substrait ProjectRel is interpreted incorrectly
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/relation_internal.h
  cpp/src/arrow/engine/substrait/serde.cc
Labels: lang-c++

#13576 MINOR: [R] Cleanup skips and TODOs
  r/R/array.R
  r/R/arrow-datum.R
  r/R/chunked-array.R
  r/R/compute.R
  r/R/dplyr-datetime-helpers.R
  r/R/dplyr-distinct.R
  r/R/dplyr-funcs-datetime.R
  r/R/dplyr-summarize.R
  r/src/altrep.cpp
  r/tests/testthat/test-compute-arith.R
  r/tests/testthat/test-compute-sort.R
  r/tests/testthat/test-dplyr-collapse.R
  r/tests/testthat/test-dplyr-distinct.R
  r/tests/testthat/test-dplyr-filter.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
  r/tests/testthat/test-dplyr-funcs-type.R
  r/tests/testthat/test-dplyr-mutate.R
  r/tests/testthat/test-dplyr-summarize.R
  r/tools/autobrew
Labels: lang-R

#13571 ARROW-16732: [C++] Bump vendored version of nlohmann_json
  cpp/thirdparty/versions.txt
Labels: lang-c++

#13578 ARROW-16825: [Java] Rename file that contains metadata about commit git.properties
  java/.gitignore
  java/pom.xml
Labels: lang-java

#13584 ARROW-17059: [C++] Fix expression benchmark
  cpp/src/arrow/compute/exec/expression_benchmark.cc
Labels: lang-c++

#13558 ARROW-17005: [Java] Allow overriding column nullability in arrow-jdbc
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/ArrowVectorIterator.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcFieldInfo.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowUtils.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/ResultSetUtility.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/ResultSetUtilityTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/UnreliableMetaDataTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowTest.java
Labels: lang-java

#13580 ARROW-16733: [C++] Bump vendored version of opentelemetry-cpp and opentelemetry-proto
  cpp/thirdparty/versions.txt
Labels: lang-c++

#13585 ARROW-17060: [C++] Change AsOfJoinNode to use ExecContext's Memory Pool
  cpp/src/arrow/compute/exec/asof_join_node.cc
Labels: lang-c++

#13590 ARROW-17063: [GLib] Add examples to send/receive record batches via network
  c_glib/arrow-glib/field.cpp
  c_glib/example/meson.build
  c_glib/example/receive-network.c
  c_glib/example/send-network.c
Labels: lang-c-glib

#13586 ARROW-16759: [Go] backport gopkg.in/yaml.v3 security patch to v6
  go/go.mod
  go/go.sum
Labels: lang-go

#13587 ARROW-16759: [Go] backport gopkg.in/yaml.v3 security patch to v7
  go/go.mod
  go/go.sum
Labels: lang-go

#13588 ARROW-16759: [Go] backport gopkg.in/yaml.v3 security patch to v8
  go/go.mod
  go/go.sum
Labels: lang-go

#13543 ARROW-17003: [Java][Docs] Document arrow-jdbc adapter
  docs/Makefile
  docs/source/conf.py
  docs/source/developers/java/building.rst
  docs/source/java/index.rst
  docs/source/java/jdbc.rst
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowConfigBuilder.java
Labels: lang-java, docs

#13596 ARROW-17055: [Java][FlightRPC] Don't duplicate generated Protobuf classes between flight-core and flight-sql
  java/flight/flight-sql/pom.xml
Labels: lang-java

#13597 ARROW-17041: [C++] Fix uninitialized FixedSizeBinaryScalar buffer value
  cpp/src/arrow/scalar.cc
Labels: lang-c++

#13592 MINOR: [C++] Substrait example fix
  cpp/examples/arrow/engine_substrait_consumption.cc
Labels: lang-c++

#13529 ARROW-16324: [Go] Implement Dictionary Unification
  go/arrow/array.go
  go/arrow/array/binarybuilder.go
  go/arrow/array/bufferbuilder.go
  go/arrow/array/data.go
  go/arrow/array/dictionary.go
  go/arrow/array/dictionary_test.go
  go/arrow/array/extension.go
  go/arrow/array/util.go
  go/arrow/internal/testing/types/extension_types.go
  go/internal/hashing/xxh3_memo_table.go
  go/internal/utils/Makefile
  go/internal/utils/_lib/transpose_ints.c
  go/internal/utils/_lib/transpose_ints_avx2_amd64.s
  go/internal/utils/_lib/transpose_ints_sse4_amd64.s
  go/internal/utils/transpose_ints.go
  go/internal/utils/transpose_ints.go.tmpl
  go/internal/utils/transpose_ints.tmpldata
  go/internal/utils/transpose_ints_amd64.go
  go/internal/utils/transpose_ints_amd64.go.tmpl
  go/internal/utils/transpose_ints_arm64.go
  go/internal/utils/transpose_ints_avx2_amd64.go
  go/internal/utils/transpose_ints_avx2_amd64.s
  go/internal/utils/transpose_ints_def.go
  go/internal/utils/transpose_ints_noasm.go
  go/internal/utils/transpose_ints_noasm.go.tmpl
  go/internal/utils/transpose_ints_s390x.go
  go/internal/utils/transpose_ints_s390x.go.tmpl
  go/internal/utils/transpose_ints_simd.go.tmpl
  go/internal/utils/transpose_ints_sse4_amd64.go
  go/internal/utils/transpose_ints_sse4_amd64.s
  go/internal/utils/transpose_ints_test.go
Labels: lang-go

#9289 ARROW-11341: [Python] [Gandiva] Add NULL/None checks to Gandiva builder functions
  python/pyarrow/gandiva.pyx
  python/pyarrow/tests/test_gandiva.py
Labels: lang-python, gandiva

#13577 ARROW-17045: [C++] Reject trailing slashes on file path
  cpp/src/arrow/filesystem/gcsfs.cc
  cpp/src/arrow/filesystem/mockfs.cc
  cpp/src/arrow/filesystem/path_util.cc
  cpp/src/arrow/filesystem/path_util.h
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/test_util.cc
  cpp/src/arrow/filesystem/util_internal.cc
  cpp/src/arrow/filesystem/util_internal.h
  r/R/io.R
Labels: lang-R, lang-c++

#13493 ARROW-14182: [C++][Compute] Hash Join performance improvement v2
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/exec/hash_join.cc
  cpp/src/arrow/compute/exec/hash_join.h
  cpp/src/arrow/compute/exec/hash_join_benchmark.cc
  cpp/src/arrow/compute/exec/hash_join_node.cc
  cpp/src/arrow/compute/exec/hash_join_node.h
  cpp/src/arrow/compute/exec/key_hash.cc
  cpp/src/arrow/compute/exec/key_hash.h
  cpp/src/arrow/compute/exec/key_map.cc
  cpp/src/arrow/compute/exec/key_map.h
  cpp/src/arrow/compute/exec/key_map_avx2.cc
  cpp/src/arrow/compute/exec/partition_util.h
  cpp/src/arrow/compute/exec/schema_util.h
  cpp/src/arrow/compute/exec/swiss_join.cc
  cpp/src/arrow/compute/exec/swiss_join.h
  cpp/src/arrow/compute/exec/swiss_join_avx2.cc
  cpp/src/arrow/compute/exec/util.h
  cpp/src/arrow/compute/exec/util_test.cc
  cpp/src/arrow/compute/row/compare_internal.cc
  cpp/src/arrow/compute/row/compare_internal.h
  cpp/src/arrow/compute/row/compare_internal_avx2.cc
  cpp/src/arrow/compute/row/encode_internal.cc
  cpp/src/arrow/compute/row/encode_internal.h
  cpp/src/arrow/compute/row/grouper.cc
  cpp/src/arrow/compute/row/row_internal.cc
  cpp/src/arrow/compute/row/row_internal.h
  docs/source/python/compute.rst
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_exec_plan.py
Labels: lang-c++, lang-python, docs

#13554 ARROW-16002: [Go] fileBlock.NewMessage should use memory.Allocator
  go/arrow/ipc/file_reader.go
  go/arrow/ipc/metadata.go
Labels: lang-go

#13606 ARROW-16759: [Go] backport gopkg.in/yaml.v3 security patch to v7.0.1
  go/go.mod
  go/go.sum
Labels: lang-go

#13581 ARROW-16734: [C++] Bump vendored version of protobuf
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Labels: lang-c++

#13514 ARROW-16977: [R] Update dataset row counting so no integer overflow on large datasets
  r/NAMESPACE
  r/R/arrow-package.R
  r/R/record-batch.R
  r/R/util.R
  r/src/array.cpp
  r/src/arrowExports.cpp
  r/src/buffer.cpp
  r/src/chunkedarray.cpp
  r/src/dataset.cpp
  r/src/filesystem.cpp
  r/src/io.cpp
  r/src/message.cpp
  r/src/parquet.cpp
  r/src/recordbatch.cpp
  r/src/table.cpp
  r/tests/testthat/test-Table.R
Labels: lang-R

#13143 ARROW-16523: [C++] Part 1 of ExecPlan cleanup: Centralized Task Group
  cpp/src/arrow/compute/exec/aggregate_node.cc
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/compute/exec/hash_join.cc
  cpp/src/arrow/compute/exec/hash_join.h
  cpp/src/arrow/compute/exec/hash_join_benchmark.cc
  cpp/src/arrow/compute/exec/hash_join_node.cc
  cpp/src/arrow/compute/exec/hash_join_node_test.cc
  cpp/src/arrow/compute/exec/sink_node.cc
  cpp/src/arrow/compute/exec/source_node.cc
  cpp/src/arrow/compute/exec/swiss_join.cc
  cpp/src/arrow/compute/exec/test_util.cc
  cpp/src/arrow/compute/exec/tpch_node.cc
  cpp/src/arrow/compute/exec/union_node.cc
  cpp/src/arrow/dataset/scanner_test.cc
  cpp/src/arrow/engine/substrait/util.cc
  cpp/src/arrow/util/future.cc
  cpp/src/arrow/util/future.h
  cpp/src/arrow/util/tracing_internal.h
  python/pyarrow/tests/test_dataset.py
Labels: lang-c++, lang-python

#13610 MINOR: [R] Conditionally skip some glimpse-related tests
  r/tests/testthat/helper-skip.R
  r/tests/testthat/test-Array.R
  r/tests/testthat/test-RecordBatch.R
  r/tests/testthat/test-altrep.R
  r/tests/testthat/test-chunked-array.R
  r/tests/testthat/test-csv.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
  r/tests/testthat/test-dplyr-funcs-type.R
  r/tests/testthat/test-dplyr-glimpse.R
  r/tests/testthat/test-dplyr-query.R
  r/tests/testthat/test-feather.R
  r/tests/testthat/test-safe-call-into-r.R
  r/tests/testthat/test-scalar.R
Labels: lang-R

#13621 ARROW-17085: [R] group_vars() should not return NULL
  r/R/dplyr-group-by.R
  r/R/dplyr.R
  r/tests/testthat/test-RecordBatch.R
  r/tests/testthat/test-Table.R
  r/tests/testthat/test-metadata.R
Labels: lang-R

#13160 ARROW-14575: [R] Allow functions with `pkg::` prefixes
  r/R/arrow-datum.R
  r/R/dplyr-datetime-helpers.R
  r/R/dplyr-funcs-conditional.R
  r/R/dplyr-funcs-datetime.R
  r/R/dplyr-funcs-math.R
  r/R/dplyr-funcs-string.R
  r/R/dplyr-funcs-type.R
  r/R/dplyr-funcs.R
  r/R/dplyr-summarize.R
  r/R/expression.R
  r/R/util.R
  r/tests/testthat/test-dplyr-filter.R
  r/tests/testthat/test-dplyr-funcs-conditional.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
  r/tests/testthat/test-dplyr-funcs-math.R
  r/tests/testthat/test-dplyr-funcs-string.R
  r/tests/testthat/test-dplyr-funcs-type.R
  r/tests/testthat/test-dplyr-funcs.R
  r/tests/testthat/test-dplyr-glimpse.R
  r/tests/testthat/test-dplyr-group-by.R
  r/tests/testthat/test-dplyr-mutate.R
  r/tests/testthat/test-dplyr-summarize.R
  r/tests/testthat/test-util.R
  r/vignettes/developers/bindings.Rmd
Labels: lang-R

#13583 ARROW-16807: [C++][R] count distinct incorrectly merges state
  cpp/src/arrow/compute/kernels/aggregate_basic.cc
  cpp/src/arrow/compute/kernels/aggregate_test.cc
  cpp/src/arrow/compute/kernels/codegen_internal.h
  cpp/src/arrow/util/hashing.h
  r/tests/testthat/test-dplyr-summarize.R
Labels: lang-R, lang-c++

#13608 ARROW-16735: [C++] Bump vendored version of rapidjson
  cpp/thirdparty/versions.txt
Labels: lang-c++

#13628 ARROW-16669: [Go][CI] Test failure on ARM for pqarrow
  go/parquet/pqarrow/reader_writer_test.go
Labels: lang-go

#13568 ARROW-17036: [C++][Gandiva] Add sign Function
  cpp/src/gandiva/function_registry_arithmetic.cc
  cpp/src/gandiva/precompiled/arithmetic_ops.cc
  cpp/src/gandiva/precompiled/arithmetic_ops_test.cc
  cpp/src/gandiva/precompiled/types.h
  cpp/src/gandiva/tests/projector_test.cc
Labels: parquet, lang-c++, gandiva

#13598 ARROW-17078: [C++] Clean up error handling in C++ Examples
  cpp/examples/arrow/compute_and_write_csv_example.cc
  cpp/examples/arrow/compute_register_example.cc
  cpp/examples/arrow/dataset_documentation_example.cc
  cpp/examples/arrow/dataset_parquet_scan_example.cc
  cpp/examples/arrow/engine_substrait_consumption.cc
  cpp/examples/arrow/execution_plan_documentation_examples.cc
  cpp/examples/arrow/flight_grpc_example.cc
  cpp/examples/arrow/join_example.cc
  cpp/examples/arrow/row_wise_conversion_example.cc
  cpp/examples/arrow/udf_example.cc
Labels: lang-c++

#13616 ARROW-17071: [C++][Compute] Fixing off-by-one error in hash join node
  cpp/src/arrow/compute/exec/util.h
  cpp/src/arrow/compute/light_array.cc
Labels: lang-c++

#13631 ARROW-17102: [R] Test fails on R minimal nightly builds due to Parquet writing
  r/tests/testthat/test-dplyr-summarize.R
Labels: lang-R

#13626 ARROW-8324: [R] Add read/write_ipc_file separate from _feather
  r/NAMESPACE
  r/NEWS.md
  r/R/feather.R
  r/man/read_feather.Rd
  r/man/write_feather.Rd
  r/tests/testthat/test-feather.R
  r/vignettes/arrow.Rmd
Labels: lang-R, docs

#13638 ARROW-17112: [Java] Fix a failure of TestArrowReaderWriter.testFileFooterSizeOverflow on s390x
  java/vector/src/test/java/org/apache/arrow/vector/ipc/TestArrowReaderWriter.java
Labels: lang-java

#13642 ARROW-17047: [Python][Docs] Document how to get field from StructType
  python/pyarrow/types.pxi
Labels: lang-python

#13645 ARROW-17118: [Docs][Release] Use direct link for adding a new release to Apache report database
  docs/source/developers/release.rst
Labels: docs

#13565 ARROW-17035: [C++][Gandiva] Add Ceil Function
  cpp/src/gandiva/function_registry_arithmetic.cc
  cpp/src/gandiva/precompiled/arithmetic_ops.cc
  cpp/src/gandiva/precompiled/arithmetic_ops_test.cc
  cpp/src/gandiva/precompiled/types.h
  cpp/src/gandiva/tests/projector_test.cc
Labels: parquet, lang-c++, gandiva

#13615 ARROW-17075: [C++] Enforce no trailing slashes on filenames in HDFS
  cpp/src/arrow/filesystem/hdfs.cc
Labels: lang-c++

#13594 ARROW-17065: [Python] Allow using subclassed ExtensionScalar in ExtensionType
  docs/source/python/extending_types.rst
  python/pyarrow/public-api.pxi
  python/pyarrow/scalar.pxi
  python/pyarrow/tests/test_extension_type.py
  python/pyarrow/types.pxi
Labels: lang-python, docs

#13611 ARROW-16737: [C++] Bump vendored version of zstd
  cpp/thirdparty/versions.txt
Labels: lang-c++

#13567 ARROW-16911: [C++] Add Equals method to Partitioning
  cpp/src/arrow/dataset/partition.cc
  cpp/src/arrow/dataset/partition.h
  cpp/src/arrow/dataset/partition_test.cc
Labels: lang-c++

#13646 ARROW-17096: [C++][Compute] Fix mode kernel error on boolean array
  cpp/src/arrow/compute/kernels/aggregate_mode.cc
  cpp/src/arrow/compute/kernels/aggregate_test.cc
  python/pyarrow/tests/test_compute.py
Labels: lang-c++, lang-python

#13639 ARROW-16964: [C++] TSAN error in asof-join-node tests
  cpp/src/arrow/compute/exec/asof_join_node.cc
Labels: lang-c++

#13624 ARROW-17095: [Go] Allow Concatenating Dictionary Arrays
  go/arrow/array/binarybuilder.go
  go/arrow/array/concat.go
  go/arrow/array/concat_test.go
  go/arrow/array/string.go
  go/arrow/array/util.go
Labels: lang-go

#13637 MINOR: [Docs] Standardize on arrow parent directory for build instructions
  docs/source/developers/documentation.rst
Labels: docs

#13619 ARROW-17083: [Python] Delete created files and folders in Filesystems docstring examples
  python/pyarrow/_fs.pyx
Labels: lang-python

#13649 MINOR: [Doc][Python] Fix wording in custom scalar extension type docs
  docs/source/python/extending_types.rst
Labels: docs

#13595 ARROW-16093: [Python] Address docstrings in Filesystems (Python Implementations)
  python/pyarrow/_fs.pyx
Labels: lang-python

#13630 ARROW-16852: [C++] Migrate remaining kernels to use ExecSpan, remove ExecBatchIterator
  cpp/src/arrow/array/data.cc
  cpp/src/arrow/array/data.h
  cpp/src/arrow/compute/exec.cc
  cpp/src/arrow/compute/exec.h
  cpp/src/arrow/compute/exec/aggregate.cc
  cpp/src/arrow/compute/exec/aggregate_node.cc
  cpp/src/arrow/compute/exec_internal.h
  cpp/src/arrow/compute/exec_test.cc
  cpp/src/arrow/compute/function_benchmark.cc
  cpp/src/arrow/compute/function_test.cc
  cpp/src/arrow/compute/kernel.h
  cpp/src/arrow/compute/kernels/aggregate_basic.cc
  cpp/src/arrow/compute/kernels/aggregate_basic_internal.h
  cpp/src/arrow/compute/kernels/aggregate_internal.h
  cpp/src/arrow/compute/kernels/aggregate_mode.cc
  cpp/src/arrow/compute/kernels/aggregate_quantile.cc
  cpp/src/arrow/compute/kernels/aggregate_tdigest.cc
  cpp/src/arrow/compute/kernels/aggregate_var_std.cc
  cpp/src/arrow/compute/kernels/hash_aggregate.cc
  cpp/src/arrow/compute/kernels/hash_aggregate_test.cc
  cpp/src/arrow/compute/kernels/scalar_cast_numeric.cc
  cpp/src/arrow/compute/kernels/scalar_nested.cc
  cpp/src/arrow/compute/row/grouper.cc
  cpp/src/arrow/compute/row/grouper.h
  cpp/src/arrow/dataset/partition.cc
Labels: lang-c++

#13593 ARROW-16667: [CI][Release] Post merge script should not be necessary
  dev/release/post-01-merge.sh
  dev/release/post-01-upload.sh
  dev/release/post-02-binary.sh
  dev/release/post-03-website.sh
  dev/release/post-04-ruby.sh
  dev/release/post-05-js.sh
  dev/release/post-06-csharp.sh
  dev/release/post-07-remove-old-artifacts.sh
  dev/release/post-08-docs.sh
  dev/release/post-09-python.sh
  dev/release/post-10-go.sh
  dev/release/post-11-bump-versions-test.rb
  dev/release/post-11-bump-versions.sh
  dev/release/post-12-msys2.sh
  dev/release/post-13-homebrew.sh
  docs/source/developers/release.rst
Labels: docs

#13428 ARROW-16918: [Gandiva][C++] Adding UTC-local timezone conversion functions
  cpp/src/gandiva/function_registry_datetime.cc
  cpp/src/gandiva/gdv_function_stubs.cc
  cpp/src/gandiva/gdv_function_stubs.h
  cpp/src/gandiva/gdv_function_stubs_test.cc
  cpp/src/gandiva/tests/date_time_test.cc
Labels: lang-R, lang-java, parquet, lang-go, lang-c++, lang-python, gandiva, lang-c-glib, docs

#13582 ARROW-16094: [Python] Address docstrings in Filesystems (Utilities)
  python/pyarrow/_s3fs.pyx
  python/pyarrow/conftest.py
  python/pyarrow/fs.py
Labels: lang-python

#13440 ARROW-14819: [R] Binding for lubridate::qday
  r/NEWS.md
  r/R/dplyr-funcs-datetime.R
  r/src/compute.cpp
  r/tests/testthat/test-dplyr-funcs-datetime.R
Labels: lang-R, lang-c++, docs

#13600 ARROW-17067: [C++][Gandiva] Implement Substring_Index Function.
  cpp/src/gandiva/function_registry_string.cc
  cpp/src/gandiva/gdv_function_stubs.h
  cpp/src/gandiva/gdv_function_stubs_test.cc
  cpp/src/gandiva/gdv_string_function_stubs.cc
  cpp/src/gandiva/tests/projector_test.cc
Labels: lang-c++, gandiva

#13655 ARROW-17140: [C++][GANDIVA] Adding Floor function
  cpp/src/gandiva/function_registry_arithmetic.cc
  cpp/src/gandiva/precompiled/arithmetic_ops.cc
  cpp/src/gandiva/precompiled/arithmetic_ops_test.cc
  cpp/src/gandiva/precompiled/types.h
  cpp/src/gandiva/tests/projector_test.cc
Labels: lang-c++, gandiva

#13614 ARROW-17086: [C++] Install java/dataset include file and fix debug build failed by compiler flag
  cpp/src/gandiva/jni/expression_registry_helper.cc
  java/dataset/src/main/cpp/CMakeLists.txt
  java/dataset/src/main/cpp/jni_util.cc
  java/dataset/src/main/cpp/jni_wrapper.cc
Labels: lang-java, lang-c++, gandiva

#13654 ARROW-17135: [C++] Reduce code size in compute/kernels/scalar_compare.cc
  cpp/src/arrow/compute/kernels/codegen_internal.cc
  cpp/src/arrow/compute/kernels/codegen_internal.h
  cpp/src/arrow/compute/kernels/scalar_arithmetic.cc
  cpp/src/arrow/compute/kernels/scalar_compare.cc
  cpp/src/arrow/util/bit_util.h
  cpp/tools/binary_symbol_explore.py
Labels: lang-c++

#13666 ARROW-17153: [CI][Homebrew] Require glib-utils
  cpp/Brewfile
  dev/tasks/homebrew-formulae/apache-arrow-glib.rb
Labels: lang-c++

#13663 ARROW-17151: [Docs] Pin docs theme to delay dark mode update
  ci/conda_env_sphinx.txt
  docs/requirements.txt
  docs/source/conf.py
Labels: docs

#13622 ARROW-17001: [Release][R] Use apache artifactory for libarrow binaries.
  dev/release/05-binary-upload.sh
  dev/release/binary-task.rb
  dev/release/post-02-binary.sh
  r/tools/nixlibs.R
  r/tools/winlibs.R
Labels: lang-R

#13421 ARROW-16881: [Gandiva][C++] Fix castINTERVALYEAR implementation
  cpp/src/gandiva/function_holder_registry.h
  cpp/src/gandiva/interval_holder.cc
  cpp/src/gandiva/interval_holder_test.cc
Labels: lang-java, lang-c++, gandiva

#13591 ARROW-17046 [Python] improve documentation of pyarrow.parquet.write_to_dataset function
  python/pyarrow/parquet/__init__.py
Labels: lang-python

#13609 ARROW-17070: [Gandiva][C++] Adding mask-show-first/last-n functions
  cpp/src/gandiva/function_registry_string.cc
  cpp/src/gandiva/gdv_function_stubs.cc
  cpp/src/gandiva/gdv_function_stubs.h
  cpp/src/gandiva/gdv_function_stubs_test.cc
  cpp/src/gandiva/tests/projector_test.cc
Labels: lang-c++, gandiva

#13651 ARROW-17087: [C++] Race condition in scanner test
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/compute/exec/source_node.cc
  cpp/src/arrow/util/async_util.cc
  cpp/src/arrow/util/async_util.h
  cpp/src/arrow/util/future.cc
  cpp/src/arrow/util/future.h
  cpp/src/arrow/util/future_iterator.h
  cpp/src/arrow/util/future_test.cc
  cpp/src/arrow/util/thread_pool_test.cc
Labels: lang-c++

#13564 ARROW-15430: [Python] Address docstrings in Filesystems (Interface)
  python/pyarrow/_fs.pyx
  python/pyarrow/conftest.py
Labels: lang-python

#13675 ARROW-17163: [C++] Revert installation of jni_util.h
  java/dataset/src/main/cpp/CMakeLists.txt
Labels: lang-java

#13674 ARROW-17162: [C++] Bump protobuf vendored version to include ABI mismatch fix when compiling on DEBUG
  cpp/thirdparty/versions.txt
Labels: lang-c++

#13670 ARROW-17156: [GLib][Flight] Add GAFlightClientOptions::disable-server-verification
  c_glib/arrow-flight-glib/client.cpp
  c_glib/test/flight/test-client-options.rb
Labels: lang-c-glib

#13672 ARROW-17158: [GLib][Flight] Add support for GetFlightInfo
  c_glib/arrow-flight-glib/client.cpp
  c_glib/arrow-flight-glib/client.h
  c_glib/arrow-flight-glib/server.cpp
  c_glib/arrow-flight-glib/server.h
  c_glib/test/flight/test-client.rb
  c_glib/test/helper/flight-server.rb
Labels: lang-c-glib

#13683 ARROW-17153: [GLib][Homebrew] glib-utils is only needed for GLib
  c_glib/Brewfile
  cpp/Brewfile
Labels: lang-c++, lang-c-glib

#13658 ARROW-17142: [Python] Parquet FileMetadata.equals() method segfaults when passed None
  python/pyarrow/_parquet.pyx
  python/pyarrow/tests/parquet/test_metadata.py
Labels: lang-python

#13518 ARROW-16700: [C++][R][Datasets] aggregates on partitioning columns
  cpp/src/arrow/compute/exec/expression.cc
  cpp/src/arrow/compute/exec/expression.h
  cpp/src/arrow/dataset/scanner.cc
  cpp/src/arrow/dataset/scanner_test.cc
Labels: lang-c++

#13647 ARROW-17121: [Gandiva][C++] Adding mask function to Gandiva
  cpp/src/gandiva/function_registry_string.cc
  cpp/src/gandiva/gdv_function_stubs.cc
  cpp/src/gandiva/gdv_function_stubs.h
  cpp/src/gandiva/gdv_function_stubs_test.cc
  cpp/src/gandiva/tests/projector_test.cc
Labels: lang-c++, gandiva

#13415 ARROW-16578: [R] unique() and is.na() on a column of a tibble is much slower after writing to and reading from a parquet file
  r/src/altrep.cpp
Labels: lang-R

#13541 ARROW-15016: [R] `show_exec_plan` for an `arrow_dplyr_query`
  r/NAMESPACE
  r/R/arrow-package.R
  r/R/arrowExports.R
  r/R/dplyr.R
  r/R/query-engine.R
  r/_pkgdown.yml
  r/man/show_exec_plan.Rd
  r/src/arrowExports.cpp
  r/src/compute-exec.cpp
  r/tests/testthat/test-dataset-dplyr.R
  r/tests/testthat/test-dplyr-query.R
Labels: lang-R, docs

#13627 ARROW-16395: [R] Implement lubridate's parsers with year, month, and day, hour, minute, and second components
  r/R/dplyr-funcs-datetime.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
Labels: lang-R

#13679 ARROW-17115: [C++] HashJoin fails if it encounters a batch with more than 32Ki rows
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/compute/exec/hash_join_node.cc
  cpp/src/arrow/compute/exec/plan_test.cc
  cpp/src/arrow/compute/exec/source_node.cc
  cpp/src/arrow/dataset/scanner.cc
  python/pyarrow/tests/test_dataset.py
Labels: lang-c++, lang-python

#13694 ARROW-16997: [Doc][Dev] Update arrow/dev README
  dev/README.md
Labels: docs

#13696 ARROW-17191: [C++][FlightRPC] Handle inlined slices after concatenation
  cpp/src/arrow/flight/transport/grpc/serialization_internal.cc
Labels: lang-c++, flight

#13676 ARROW-17107: [Java] Fix variable-width vectors in integration JSON writer
  java/vector/src/main/java/org/apache/arrow/vector/ipc/JsonFileReader.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/JsonFileWriter.java
  java/vector/src/test/java/org/apache/arrow/vector/TestValueVector.java
  java/vector/src/test/java/org/apache/arrow/vector/ipc/TestJSONFile.java
Labels: lang-java

#13618 ARROW-17080: [Java] Add a top-level CMakeLists.txt for JNI
  ci/scripts/java_build.sh
  ci/scripts/java_jni_build.sh
  ci/scripts/java_jni_macos_build.sh
  ci/scripts/java_jni_manylinux_build.sh
  ci/scripts/java_test.sh
  dev/tasks/java-jars/github.yml
  docker-compose.yml
  docs/source/developers/java/building.rst
  java/.gitignore
  java/CMakeLists.txt
  java/c/.gitignore
  java/c/CMakeLists.txt
Labels: lang-java, docs

#13601 ARROW-16887: [R][Docs] Update Filesystem Vignette for GCS
  cpp/src/arrow/filesystem/s3fs_test.cc
  docs/source/python/dataset.rst
  python/pyarrow/_s3fs.pyx
  python/pyarrow/tests/test_fs.py
  r/.gitignore
  r/NAMESPACE
  r/R/filesystem.R
  r/_pkgdown.yml
  r/man/FileSystem.Rd
  r/man/gs_bucket.Rd
  r/man/s3_bucket.Rd
  r/tests/testthat/test-filesystem.R
  r/vignettes/dataset.Rmd
  r/vignettes/fs.Rmd
Labels: lang-R, lang-c++, lang-python, docs

#13705 ARROW-17197: [R] floor_date/ceiling_date lubridate comparison tests failing on macOS
  r/tests/testthat/test-dplyr-funcs-datetime.R
Labels: lang-R

#13691 ARROW-16692: [C++] StackOverflow in merge generator causes segmentation fault in scan
  cpp/src/arrow/dataset/scanner_test.cc
  cpp/src/arrow/util/async_generator.h
  cpp/src/arrow/util/async_generator_test.cc
Labels: lang-c++

#13130 ARROW-15591: [C++] Add support for aggregation to the Substrait consumer
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: lang-c++

#13599 ARROW-17051: [C++] Link Flight/gRPC/Protobuf consistently
  .travis.yml
  ci/docker/ubuntu-18.04-cpp.dockerfile
  ci/docker/ubuntu-20.04-cpp.dockerfile
  ci/docker/ubuntu-22.04-cpp.dockerfile
  cpp/CMakeLists.txt
  cpp/src/arrow/flight/CMakeLists.txt
  docker-compose.yml
Labels: lang-c++, flight

#13589 ARROW-17004: [Java] Add utility to bind Arrow data to JDBC parameters
  docs/source/java/jdbc.rst
  java/adapter/jdbc/pom.xml
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcParameterBinder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/BaseColumnBinder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/BigIntBinder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/BitBinder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/ColumnBinder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/ColumnBinderArrowTypeVisitor.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/DateDayBinder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/DateMilliBinder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/Decimal128Binder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/Decimal256Binder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/FixedSizeBinaryBinder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/Float4Binder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/Float8Binder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/IntBinder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/NullableColumnBinder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/SmallIntBinder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/Time32Binder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/Time64Binder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/TimeStampBinder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/TinyIntBinder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/VarBinaryBinder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/VarCharBinder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/package-info.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcParameterBinderTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/MockPreparedStatement.java
Labels: lang-java, docs

#13715 ARROW-17213: [C++] Fix for valgrind issue in test-r-linux-valgrind crossbow build
  cpp/src/arrow/compute/kernels/scalar_compare.cc
Labels: lang-c++

#13641 ARROW-12693: [R] add unique() methods for ArrowTabular, datasets
  r/NAMESPACE
  r/R/dplyr.R
  r/tests/testthat/_snaps/dataset.md
  r/tests/testthat/test-dataset.R
Labels: lang-R, docs

#13625 ARROW-16612: [R] Fix compression inference from filename
  r/R/csv.R
  r/R/feather.R
  r/R/io.R
  r/R/ipc-stream.R
  r/R/json.R
  r/R/parquet.R
  r/man/make_readable_file.Rd
  r/man/read_feather.Rd
  r/man/read_ipc_stream.Rd
  r/man/write_feather.Rd
  r/man/write_ipc_stream.Rd
  r/tests/testthat/test-compressed.R
  r/tests/testthat/test-csv.R
  r/tests/testthat/test-feather.R
  r/tests/testthat/test-parquet.R
Labels: lang-R, parquet

#13704 ARROW-17206: [R] Skip test to fix snappy sanitizer issue
  r/tests/testthat/test-compute.R
Labels: lang-R

#13686 ARROW-15938: [C++][Compute] Fixing HashJoinBasicImpl in case of zero batches on build side
  cpp/src/arrow/compute/exec/hash_join.cc
  cpp/src/arrow/compute/exec/hash_join_node_test.cc
Labels: lang-c++

#13723 MINOR: [Go] fill in field names of struct literal
  go/arrow/array/interval_test.go
Labels: lang-go

#13726 ARROW-17188: [R] Update news for 9.0.0
  r/NEWS.md
Labels: lang-R, docs

#13693 ARROW-17092: [Docs] Add note about "Feather" to the IPC file format document
  docs/source/format/Columnar.rst
Labels: docs

#13728 ARROW-17230: [C++] Fix DeserializePlan, add additional option validation
  cpp/src/arrow/compute/exec/sink_node.cc
  cpp/src/arrow/dataset/dataset_writer.cc
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/engine/substrait/serde.cc
  cpp/src/arrow/engine/substrait/serde.h
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: lang-c++

#13717 ARROW-17222: [Docs][Archery][Integration] Document the current Integration test cases covered by archery
  docs/source/format/Integration.rst
Labels: docs

#13714 ARROW-17217: [Docs][Python] Adding pandas as required dependency
  ci/conda_env_sphinx.txt
  docs/requirements.txt
Labels: docs

#13426 ARROW-16894: [C++] Add Benchmarks for Asof Join Node
  cpp/src/arrow/compute/exec/CMakeLists.txt
  cpp/src/arrow/compute/exec/asof_join_benchmark.cc
  cpp/src/arrow/compute/exec/test_util.cc
  cpp/src/arrow/compute/exec/test_util.h
Labels: lang-c++, docs
