Repository apache/arrow, pull requests merged in 2022-05, with the labels that each got.

#13180 ARROW-16601: [C++][FlightRPC] Don't enforcing static link with static GoogleTest for arrow_flight_testing
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/flight/CMakeLists.txt
Labels: lang-c++, flight

#13192 ARROW-16604: [C++] Remove needless Boost dependency from benchmarks
  cpp/CMakeLists.txt
  cpp/cmake_modules/DefineOptions.cmake
  cpp/src/arrow/filesystem/CMakeLists.txt
  cpp/src/arrow/io/CMakeLists.txt
Labels: lang-c++

#13193 ARROW-16614: [C++] Use lz4::lz4 for lz4's CMake target name
  ci/conan/all/conanfile.py
  ci/scripts/conan_build.sh
  ci/scripts/cpp_build.sh
  cpp/CMakeLists.txt
  cpp/cmake_modules/Findlz4Alt.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/adapters/orc/CMakeLists.txt
  dev/tasks/linux-packages/apache-arrow/debian/libarrow-dev.install
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
  dev/tasks/tasks.yml
Labels: lang-c++

#13228 ARROW-14790: [GLib] Fix a memory leak on creating GArrowDatum
  c_glib/arrow-glib/datum.cpp
Labels: lang-c-glib

#13237 MINOR: [C++] Always call cmake message() with explicit mode
  cpp/cmake_modules/SetupCxxFlags.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/cmake_modules/san-config.cmake
Labels: lang-c++

#13239 ARROW-16668: [CI] Add Substrait support to python wheels
  ci/scripts/python_wheel_macos_build.sh
  ci/scripts/python_wheel_manylinux_build.sh
  ci/scripts/python_wheel_unix_test.sh
  ci/scripts/python_wheel_windows_build.bat
  ci/scripts/python_wheel_windows_test.bat
  python/CMakeLists.txt
Labels: lang-python

#13191 ARROW-16592: [C++][Python][FlightRPC] Finish after failed writes
  cpp/src/arrow/flight/client.cc
  cpp/src/arrow/flight/test_definitions.cc
  cpp/src/arrow/flight/test_definitions.h
  cpp/src/arrow/flight/transport/grpc/grpc_client.cc
  cpp/src/arrow/flight/transport/ucx/ucx_client.cc
  python/pyarrow/tests/test_flight.py
Labels: lang-c++, lang-python, flight

#13113 ARROW-15893: [CI][Python] Add python minimal builds to nightly builds
  dev/tasks/macros.jinja
  dev/tasks/python-minimal-build/github.linux.yml
  dev/tasks/tasks.yml
  python/examples/minimal_build/README.md
  python/examples/minimal_build/build_conda.sh
  python/examples/minimal_build/build_venv.sh
  python/examples/minimal_build/docker-compose.yml
Labels: lang-python

#13224 ARROW-16648: [GLib] Add MemoryPool wrapper
  c_glib/arrow-glib/arrow-glib.h
  c_glib/arrow-glib/arrow-glib.hpp
  c_glib/arrow-glib/memory-pool.cpp
  c_glib/arrow-glib/memory-pool.h
  c_glib/arrow-glib/memory-pool.hpp
  c_glib/arrow-glib/meson.build
  c_glib/doc/arrow-glib/arrow-glib-docs.xml
  c_glib/test/test-memory-pool.rb
Labels: lang-c-glib

#13253 MINOR: [C++] Fix foreach usage in Usevcpkg.cmake
  cpp/cmake_modules/Usevcpkg.cmake
Labels: lang-c++

#13250 ARROW-16675: [C++] Wrong Tell() result from BufferedOutputStream in an edge case
  cpp/src/arrow/io/buffered.cc
  cpp/src/arrow/io/buffered_test.cc
Labels: lang-c++

#13255 ARROW-16206: [Ruby] Add support for DictionaryArray#values, #raw_records with {Month,DayTime,MonthDayNano} Interval Type
  ruby/red-arrow/ext/arrow/converters.hpp
  ruby/red-arrow/test/raw-records/test-dictionary-array.rb
  ruby/red-arrow/test/values/test-dictionary-array.rb
Labels: lang-ruby

#13261 MINOR: [R][Docs] Fix install command for nightly builds
  r/README.md
  r/vignettes/install.Rmd
Labels: lang-R

#13222 MINOR: [C++] Move static declaration to non-static declaration to improve performance
  cpp/src/arrow/compute/exec/expression.cc
Labels: lang-c++

#13269 MINOR: [Python] Fix Partitioning parse() docstring example
  python/pyarrow/_dataset.pyx
Labels: lang-python
