Repository apache/arrow, pull requests merged in 2022-09, with the labels that each got.

#14001 ARROW-17079: [C++] Raise proper error message instead of error code for S3 errors
  cpp/src/arrow/filesystem/s3_internal.h
Labels: lang-c++

#13799 ARROW-17299: [C++][Python] Expose the Scanner kDefaultBatchReadahead and kDefaultFragmentReadahead parameters
  cpp/src/arrow/dataset/scanner.cc
  cpp/src/arrow/dataset/scanner.h
  python/pyarrow/_dataset.pyx
  python/pyarrow/includes/libarrow_dataset.pxd
  python/pyarrow/tests/test_dataset.py
Labels: lang-c++, lang-python

#13989 ARROW-14495: [Python] Fix DictionaryArray.from_buffers, should not crash
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_array.py
Labels: lang-python

#13894 ARROW-15839: [C++][Python] Accept validity bitmap in ListArray.from_arrays
  cpp/src/arrow/array/array_list_test.cc
  cpp/src/arrow/array/array_nested.cc
  cpp/src/arrow/array/array_nested.h
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_array.py
Labels: lang-c++, lang-python

#14016 ARROW-17587: [Go] Cast From Extension Types
  go/arrow/compute/cast.go
  go/arrow/compute/cast_test.go
  go/arrow/compute/datum.go
  go/arrow/compute/internal/exec/span.go
  go/arrow/scalar/scalar.go
Labels: lang-go

#14006 ARROW-17551: [Go] Implement Temporal Cast Functions
  go/arrow/array/numericbuilder.gen.go
  go/arrow/array/numericbuilder.gen.go.tmpl
  go/arrow/compute/cast.go
  go/arrow/compute/cast_test.go
  go/arrow/compute/internal/exec/utils.go
  go/arrow/compute/internal/kernels/Makefile
  go/arrow/compute/internal/kernels/_lib/constant_factor.c
  go/arrow/compute/internal/kernels/_lib/constant_factor_avx2_amd64.s
  go/arrow/compute/internal/kernels/_lib/constant_factor_sse4_amd64.s
  go/arrow/compute/internal/kernels/cast_temporal.go
  go/arrow/compute/internal/kernels/constant_factor.go
  go/arrow/compute/internal/kernels/constant_factor_amd64.go
  go/arrow/compute/internal/kernels/constant_factor_avx2_amd64.go
  go/arrow/compute/internal/kernels/constant_factor_avx2_amd64.s
  go/arrow/compute/internal/kernels/constant_factor_sse4_amd64.go
  go/arrow/compute/internal/kernels/constant_factor_sse4_amd64.s
  go/arrow/compute/internal/kernels/helpers.go
  go/arrow/datatype_fixedwidth.go
  go/arrow/scalar/scalar.go
Labels: lang-go

#14015 ARROW-17586: [Go] String To Numeric cast functions
  go/arrow/compute/cast.go
  go/arrow/compute/cast_test.go
  go/arrow/compute/internal/kernels/numeric_cast.go
Labels: lang-go

#13912 ARROW-17350: [C++] Create a scheduler for asynchronous work
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/compute/exec/tpch_node.cc
  cpp/src/arrow/dataset/dataset_writer.cc
  cpp/src/arrow/dataset/dataset_writer.h
  cpp/src/arrow/dataset/dataset_writer_test.cc
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/testing/gtest_util.cc
  cpp/src/arrow/util/async_util.cc
  cpp/src/arrow/util/async_util.h
  cpp/src/arrow/util/async_util_test.cc
Labels: lang-c++

#14005 ARROW-17569: [C++] Bump xsimd version to 9.0.1
  cpp/thirdparty/versions.txt
Labels: lang-c++

#14027 ARROW-17588: [Go] Casting to binary-like types
  go/arrow/array/string.go
  go/arrow/compute/cast.go
  go/arrow/compute/cast_test.go
  go/arrow/compute/datum.go
  go/arrow/compute/internal/exec/span.go
  go/arrow/compute/internal/exec/utils.go
  go/arrow/compute/internal/kernels/helpers.go
  go/arrow/compute/internal/kernels/string_casts.go
  go/arrow/datatype.go
  go/arrow/datatype_binary.go
  go/arrow/scalar/scalar.go
Labels: lang-go

#13940 ARROW-17492: [C++] Hashing32/64 support for large var-binary types
  cpp/src/arrow/compute/exec/key_hash.cc
  cpp/src/arrow/compute/exec/key_hash_test.cc
  cpp/src/arrow/compute/light_array.h
Labels: lang-c++

#13501 ARROW-16695: [R][Python][C++] Extension types are not supported in joins
  cpp/src/arrow/compute/exec/hash_join_node.cc
  cpp/src/arrow/compute/exec/hash_join_node_test.cc
  cpp/src/arrow/compute/exec/util_test.cc
  cpp/src/arrow/compute/kernels/row_encoder.cc
  cpp/src/arrow/compute/kernels/row_encoder.h
  cpp/src/arrow/compute/light_array.cc
  python/pyarrow/tests/test_exec_plan.py
Labels: lang-c++, lang-python

#14046 MINOR: [Ruby] Fix wrong English
  ruby/README.md
Labels: lang-ruby, docs

#13975 ARROW-15693: [Dev] Update crossbow templates to use master or main
  dev/archery/archery/crossbow/core.py
  dev/tasks/conda-recipes/README.md
  dev/tasks/conda-recipes/azure.clean.yml
  dev/tasks/docker-tests/github.linux.yml
  dev/tasks/homebrew-formulae/apache-arrow-glib.rb
  dev/tasks/homebrew-formulae/apache-arrow.rb
  dev/tasks/homebrew-formulae/autobrew/apache-arrow.rb
  dev/tasks/java-jars/github.yml
  dev/tasks/macros.jinja
  dev/tasks/nightlies.sample.yml
  dev/tasks/python-sdist/github.yml
  dev/tasks/python-wheels/github.linux.amd64.yml
  dev/tasks/python-wheels/github.windows.yml
  dev/tasks/python-wheels/travis.linux.arm64.yml
  dev/tasks/r/github.linux.rchk.yml
  dev/tasks/r/github.macos.brew.yml
  dev/tasks/verify-rc/github.linux.amd64.docker.yml
Labels: docs

#14019 ARROW-17079: Show HTTP status code for unknown S3 errors
  cpp/src/arrow/filesystem/s3_internal.h
Labels: lang-c++

#13820 ARROW-16000: [C++][Python] Dataset: Alternative implementation for adding transcoding function option to CSV scanner
  cpp/src/arrow/dataset/file_csv.cc
  cpp/src/arrow/dataset/file_csv.h
  python/pyarrow/_dataset.pyx
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/includes/libarrow_dataset.pxd
  python/pyarrow/io.pxi
  python/pyarrow/lib.pxd
  python/pyarrow/src/io.cc
  python/pyarrow/src/io.h
  python/pyarrow/tests/test_dataset.py
Labels: lang-c++, lang-python

#14057 ARROW-17638: [Go] Extend C Data API support for Union arrays and RecordReader interface
  go/arrow/cdata/cdata.go
  go/arrow/cdata/cdata_test.go
Labels: lang-go

#13973 ARROW-17525: [Java] Read ORC files using NativeDatasetFactory
  java/dataset/pom.xml
  java/dataset/src/main/cpp/jni_wrapper.cc
  java/dataset/src/main/java/org/apache/arrow/dataset/file/FileFormat.java
  java/dataset/src/test/java/org/apache/arrow/dataset/OrcWriteSupport.java
  java/dataset/src/test/java/org/apache/arrow/dataset/file/TestFileSystemDataset.java
Labels: lang-java

#14056 ARROW-17600: [Go] Implement Casting for Nested types
  ci/scripts/go_test.sh
  go/arrow/array/array_test.go
  go/arrow/array/struct.go
  go/arrow/compute/cast.go
  go/arrow/compute/cast_test.go
  go/arrow/compute/datum.go
  go/arrow/compute/executor.go
  go/arrow/compute/internal/kernels/cast_nested.go
  go/arrow/compute/internal/kernels/cast_numeric.go
  go/arrow/compute/internal/kernels/helpers.go
  go/arrow/datatype.go
  go/arrow/datatype_fixedwidth.go
  go/arrow/datatype_numeric.gen.go
  go/arrow/datatype_numeric.gen.go.tmpl
  go/arrow/scalar/binary.go
  go/arrow/scalar/nested.go
  go/arrow/scalar/scalar.go
Labels: lang-go

#14067 ARROW-17646: [Go][CI] Switch C Data to use cgo.Handle (bumps to Go1.17)
  .env
  .github/workflows/go.yml
  ci/docker/debian-10-go.dockerfile
  ci/docker/debian-11-go.dockerfile
  ci/scripts/go_build.sh
  dev/release/verify-release-candidate.sh
  dev/tasks/tasks.yml
  go/arrow/cdata/cdata.go
  go/arrow/cdata/cdata_exports.go
  go/arrow/cdata/cdata_test.go
  go/arrow/cdata/cdata_test_framework.go
  go/arrow/cdata/exports.go
  go/arrow/cdata/interface.go
  go/go.mod
Labels: lang-go

#14061 ARROW-17641: [python] Fix ParseOptions deserialization of invalid_row_handler
  python/pyarrow/_csv.pyx
  python/pyarrow/tests/test_csv.py
Labels: lang-python

#14032 ARROW-17583: [C++][Python] Changed datawidth of WrittenFile.size to int64 to match C++ code
  python/pyarrow/_dataset.pxd
Labels: lang-python

#14048 ARROW-16651 : [Python] Casting Table to new schema ignores nullability of fields
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: lang-python

#14053 ARROW-16384: [Docs] Add Flight SQL to status page
  docs/source/status.rst
Labels: docs

#14054 MINOR: [C++] ARROW_TESTING implies ARROW_JSON
  cpp/CMakeLists.txt
Labels: lang-c++

#13401 ARROW-16855: [C++] Adding Read Relation ToProto
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/plan_internal.cc
  cpp/src/arrow/engine/substrait/plan_internal.h
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/relation_internal.h
  cpp/src/arrow/engine/substrait/serde.cc
  cpp/src/arrow/engine/substrait/serde.h
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/filesystem/localfs_test.cc
  cpp/src/arrow/filesystem/util_internal.cc
  cpp/src/arrow/util/io_util.cc
  cpp/src/arrow/util/uri.cc
  cpp/src/arrow/util/uri.h
Labels: lang-c++

#13880 ARROW-17412: [C++] AsofJoin multiple keys and types
  cpp/src/arrow/array/data.h
  cpp/src/arrow/compute/exec/asof_join_benchmark.cc
  cpp/src/arrow/compute/exec/asof_join_node.cc
  cpp/src/arrow/compute/exec/asof_join_node_test.cc
  cpp/src/arrow/compute/exec/hash_join.cc
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/light_array.cc
  cpp/src/arrow/compute/light_array.h
  cpp/src/arrow/type_traits.h
Labels: lang-c++

#14087 ARROW-17627: [Go][Parquet] Forward schema metadata to file without StoreSchema
  go/parquet/pqarrow/file_reader_test.go
  go/parquet/pqarrow/file_writer.go
Labels: lang-go

#14083 MINOR: [C++] Fix unity build error
  cpp/src/arrow/compute/exec/bloom_filter.h
Labels: lang-c++

#14085 ARROW-17675: [C++] Modified the FileSource::Equals method to handle the case where buffer_ is null
  cpp/src/arrow/dataset/file_base.cc
Labels: lang-c++

#14059 ARROW-17632: [Python][C++] Add details of where libarrow is being found during build
  cpp/src/arrow/ArrowConfig.cmake.in
  cpp/src/arrow/ArrowTestingConfig.cmake.in
  cpp/src/arrow/dataset/ArrowDatasetConfig.cmake.in
  cpp/src/arrow/engine/ArrowSubstraitConfig.cmake.in
  cpp/src/arrow/flight/ArrowFlightConfig.cmake.in
  cpp/src/arrow/flight/ArrowFlightTestingConfig.cmake.in
  cpp/src/arrow/flight/sql/ArrowFlightSqlConfig.cmake.in
  cpp/src/arrow/gpu/ArrowCUDAConfig.cmake.in
  cpp/src/gandiva/GandivaConfig.cmake.in
  cpp/src/parquet/ParquetConfig.cmake.in
  cpp/src/plasma/PlasmaConfig.cmake.in
  python/pyarrow/src/ArrowPythonConfig.cmake.in
  python/pyarrow/src/ArrowPythonFlightConfig.cmake.in
Labels: parquet, lang-c++, lang-python, flight, gandiva

#14062 ARROW-17639: [R] infer_type() fails for lists where the first element is NULL
  r/src/type_infer.cpp
  r/tests/testthat/test-type.R
Labels: lang-R

#14042 ARROW-17362: [R] Implement dplyr::across() inside summarise()
  r/R/dplyr-summarize.R
  r/tests/testthat/test-dplyr-summarize.R
Labels: lang-R

#14070 ARROW-17448:[R] Fix cloud storage paths in some documentation
  r/vignettes/dataset.Rmd
  r/vignettes/fs.Rmd
Labels: lang-R

#14047 ARROW-17620: [R] as_arrow_array() ignores type for StructArrays
  r/R/array.R
  r/tests/testthat/test-Array.R
Labels: lang-R

#14092 ARROW-17674: [R] Implement dplyr::across() inside arrange()
  r/R/dplyr-arrange.R
  r/tests/testthat/test-dplyr-arrange.R
Labels: lang-R

#13925 ARROW-15481: [R] [CI] Add a crossbow job that mimics CRAN's old macOS
  dev/tasks/macros.jinja
  dev/tasks/r/github.macos.autobrew.yml
  dev/tasks/r/github.packages.yml
  r/tools/autobrew
Labels: lang-R

#13854 ARROW-17386: [R] strptime tests not robust across platforms
  r/tests/testthat/test-dplyr-funcs-datetime.R
Labels: lang-R

#14095 ARROW-17681: [CI][Packaging] Update brew dependency glib-utils with glib
  c_glib/Brewfile
  dev/tasks/homebrew-formulae/apache-arrow-glib.rb
Labels: lang-c-glib

#13914 ARROW-15584: [C++] Add support for Substrait's RelCommon::Emit
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/relation_internal.h
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: lang-c++

#14055 ARROW-17617: [Docs] Remove experimental qualifier from Flight
  docs/source/status.rst
Labels: docs

#14011 ARROW-17483: [Python] Support Expression filters in non-legacy ParquetDataset/read_table
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_dataset.py
Labels: lang-python

#14097 ARROW-17575: [Docs][C++] Update build document to follow new CMake package
  docs/source/cpp/build_system.rst
  docs/source/java/cdata.rst
Labels: docs

#14098 ARROW-17671: [Go] Filter kernels for Binary/String
  go/arrow/compute/internal/exec/utils.go
  go/arrow/compute/internal/kernels/helpers.go
  go/arrow/compute/internal/kernels/vector_selection.go
  go/arrow/compute/vector_selection_test.go
Labels: lang-go

#13838 ARROW-17382: [C++] open_dataset doesn't ignore BOM in csv file when header's with quotes
  cpp/src/arrow/dataset/file_csv.cc
  cpp/src/arrow/dataset/file_csv_test.cc
Labels: lang-c++

#14109 ARROW-17703: [C++][Gandiva] Fix Gandiva OpenSSL dependency
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/gandiva/CMakeLists.txt
Labels: lang-c++, gandiva

#14110 ARROW-17701: [C++][Gandiva] Add support for untyped node
  cpp/src/gandiva/node.h
Labels: lang-c++, gandiva

#13881 ARROW-17405: [Doc][Java] C Data Interface library able to compile with mvn command
  docs/source/developers/java/building.rst
  java/pom.xml
Labels: lang-java, docs

#13889 ARROW-17418: [Doc][Java] Dataset library able to compile with mvn command
  docs/source/developers/java/building.rst
  java/pom.xml
Labels: lang-java, docs

#14036 ARROW-17598: [C++] Skip memory_benchmark if SIMD level is NEON
  cpp/src/arrow/io/CMakeLists.txt
Labels: lang-c++

#14113 ARROW-17717: [R] Lintr error on CI
  r/tests/testthat/test-dplyr-funcs-type.R
Labels: lang-R

#13249 ARROW-16674: [Java] C data interface: Reading as nioBuffer from imported buffer causes error
  java/c/src/main/java/org/apache/arrow/c/ArrayImporter.java
  java/c/src/test/java/org/apache/arrow/c/RoundtripTest.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/ArrowBuf.java
Labels: lang-java

#14081 ARROW-17631: [Java] Propagate table/columns comments into Arrow Schema
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowConfig.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowConfigBuilder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowUtils.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcToArrowCommentMetadataTest.java
  java/adapter/jdbc/src/test/resources/h2/comment.sql
  java/adapter/jdbc/src/test/resources/h2/expectedSchemaWithComments.json
  java/adapter/jdbc/src/test/resources/h2/expectedSchemaWithCommentsAndJdbcMeta.json
Labels: lang-java

#14112 ARROW-17716: [Docs] Remove IR documentation page
  docs/source/developers/computeir.rst
  docs/source/index.rst
Labels: docs

#14119 ARROW-17725: [CI][Python] Fix test collection in case of Arrow built without parquet
  python/pyarrow/tests/parquet/test_dataset.py
Labels: lang-python

#14038 ARROW-6772: [C++] Add operator== for interfaces with an Equals() method
  cpp/src/arrow/type.h
  cpp/src/arrow/type_test.cc
Labels: lang-c++

#14101 ARROW-17691: [Go] Implement Take for Primitive Types
  go/arrow/compute/executor.go
  go/arrow/compute/expression.go
  go/arrow/compute/functions.go
  go/arrow/compute/internal/kernels/helpers.go
  go/arrow/compute/internal/kernels/vector_selection.go
  go/arrow/compute/selection.go
  go/arrow/compute/vector_selection_test.go
  go/arrow/errors.go
Labels: lang-go

#14074 ARROW-17579: [Python] PYARROW_CXXFLAGS ignored?
  python/pyarrow/_compute.pyx
  python/pyarrow/src/CMakeLists.txt
  python/setup.py
Labels: lang-python

#14024 ARROW-17521: [Python] Add python bindings for NamedTableProvider for Substrait consumer
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/engine/substrait/function_test.cc
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/engine/substrait/util.cc
  cpp/src/arrow/engine/substrait/util.h
  python/pyarrow/_exec_plan.pyx
  python/pyarrow/_substrait.pyx
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/includes/libarrow_substrait.pxd
  python/pyarrow/tests/test_substrait.py
Labels: lang-c++, lang-python

#14090 ARROW-17673: [R] `desc` in `dplyr::arrange` should allow `dplyr::` prefix
  r/R/dplyr-arrange.R
  r/tests/testthat/test-dplyr-arrange.R
Labels: lang-R

#14140 ARROW-17742: [C++][Gandiva] Fix Gandiva utf8proc dependency in CMake presets
  cpp/CMakeLists.txt
Labels: lang-c++

#13873 ARROW-17407: [Doc][FlightRPC] Flight/gRPC best practices
  docs/source/cpp/flight.rst
  docs/source/java/flight.rst
  docs/source/python/flight.rst
  go/arrow/flight/doc.go
  go/go.sum
  go/parquet/doc.go
  r/vignettes/flight.Rmd
Labels: lang-R, lang-go, docs

#14014 ARROW-15011: [R] Generate documentation for dplyr function bindings
  r/DESCRIPTION
  r/Makefile
  r/R/arrow-package.R
  r/R/dplyr-funcs-augmented.R
  r/R/dplyr-funcs-datetime.R
  r/R/dplyr-funcs-doc.R
  r/R/dplyr-funcs-string.R
  r/R/dplyr-funcs-type.R
  r/R/dplyr-funcs.R
  r/R/expression.R
  r/_pkgdown.yml
  r/data-raw/docgen.R
  r/man/acero.Rd
  r/man/add_filename.Rd
  r/man/cast.Rd
  r/man/register_binding.Rd
Labels: lang-R

#14122 ARROW-17689: [R] Implement dplyr::across() inside group_by()
  r/R/dplyr-group-by.R
  r/tests/testthat/test-dplyr-group-by.R
Labels: lang-R

#14150 MINOR: [C++] Fix typo in dataset arg validation
  cpp/src/arrow/dataset/dataset_writer.cc
Labels: lang-c++

#14044 ARROW-16652: [Python] Cast compute kernel segfaults when called with a Table
  cpp/src/arrow/compute/cast.cc
  python/pyarrow/tests/test_compute.py
Labels: lang-c++, lang-python

#14103 ARROW-17704: [Java][FlightRPC] Update to Junit 5
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/FlightTestUtil.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestApplicationMetadata.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestAuth.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestBackPressure.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestBasicOperation.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestCallOptions.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestClientMiddleware.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestDictionaryUtils.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestDoExchange.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestErrorMetadata.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestFlightClient.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestFlightService.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestLargeMessage.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestLeak.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestMetadataVersion.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestServerMiddleware.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestServerOptions.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestTls.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/auth/TestBasicAuth.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/auth2/TestBasicAuth2.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/client/TestCookieHandling.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/grpc/TestStatusUtils.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/perf/TestPerf.java
  java/flight/flight-grpc/src/test/java/org/apache/arrow/flight/TestFlightGrpcUtils.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/TestFlightSql.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/sql/util/SqlInfoOptionsUtilsBitmaskCreationTest.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/sql/util/SqlInfoOptionsUtilsBitmaskParsingTest.java
  java/performance/pom.xml
  java/pom.xml
Labels: lang-java

#14129 ARROW-17733: [C++] Take index_width into account when filling nulls in index buffer
  cpp/src/arrow/array/concatenate.cc
  cpp/src/arrow/array/concatenate_test.cc
Labels: lang-c++

#14127 ARROW-17730: [Go] Implement Take kernels for FSB and VarBinary
  go/arrow/compute/internal/kernels/vector_selection.go
  go/arrow/compute/vector_selection_test.go
Labels: lang-go

#13492 ARROW-17688: [C++][Java][FlightRPC] Substrait, transaction, cancellation for Flight SQL
  cpp/src/arrow/flight/integration_tests/flight_integration_test.cc
  cpp/src/arrow/flight/integration_tests/test_integration.cc
  cpp/src/arrow/flight/server.cc
  cpp/src/arrow/flight/sql/CMakeLists.txt
  cpp/src/arrow/flight/sql/acero_test.cc
  cpp/src/arrow/flight/sql/client.cc
  cpp/src/arrow/flight/sql/client.h
  cpp/src/arrow/flight/sql/client_test.cc
  cpp/src/arrow/flight/sql/column_metadata.cc
  cpp/src/arrow/flight/sql/column_metadata.h
  cpp/src/arrow/flight/sql/example/acero_main.cc
  cpp/src/arrow/flight/sql/example/acero_server.cc
  cpp/src/arrow/flight/sql/example/acero_server.h
  cpp/src/arrow/flight/sql/example/sqlite_server.cc
  cpp/src/arrow/flight/sql/example/sqlite_server.h
  cpp/src/arrow/flight/sql/example/sqlite_sql_info.cc
  cpp/src/arrow/flight/sql/server.cc
  cpp/src/arrow/flight/sql/server.h
  cpp/src/arrow/flight/sql/server_test.cc
  cpp/src/arrow/flight/sql/types.h
  dev/archery/archery/integration/runner.py
  docs/source/status.rst
  format/FlightSql.proto
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightClient.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightService.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/FlightSqlExtensionScenario.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/FlightSqlScenario.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/FlightSqlScenarioProducer.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/IntegrationAssertions.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/Scenarios.java
  java/flight/flight-integration-tests/src/test/java/org/apache/arrow/flight/integration/tests/IntegrationTest.java
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/CancelListener.java
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/CancelResult.java
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/FlightSqlClient.java
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/FlightSqlProducer.java
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/FlightSqlUtils.java
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/NoResultListener.java
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/ProtoListener.java
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/SqlInfoBuilder.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/sql/example/FlightSqlExample.java
Labels: lang-java, lang-go, lang-c++, flight, docs

#14130 ARROW-17734: [Go] Implement Take for Lists and Dense Union
  go/arrow/array/bufferbuilder.go
  go/arrow/compute/executor.go
  go/arrow/compute/go.mod
  go/arrow/compute/go.sum
  go/arrow/compute/internal/exec/span.go
  go/arrow/compute/internal/kernels/vector_selection.go
  go/arrow/compute/selection.go
  go/arrow/compute/vector_selection_test.go
Labels: lang-go

#14145 ARROW-17749: [Go] Implement Filter and Take for Structs
  go/arrow/array/concat.go
  go/arrow/compute/internal/exec/span.go
  go/arrow/compute/internal/kernels/helpers.go
  go/arrow/compute/internal/kernels/vector_selection.go
  go/arrow/compute/selection.go
  go/arrow/compute/vector_selection_test.go
Labels: lang-go

#14153 MINOR: [R] Fix lint warnings and run styler over everything
  r/DESCRIPTION
  r/R/arrowExports.R
  r/R/dplyr-datetime-helpers.R
  r/R/dplyr-funcs-doc.R
  r/R/dplyr.R
  r/data-raw/docgen.R
  r/man/acero.Rd
  r/man/show_exec_plan.Rd
  r/tests/testthat/test-Table.R
  r/tests/testthat/test-compute.R
  r/tests/testthat/test-dataset-dplyr.R
  r/tests/testthat/test-dataset.R
  r/tests/testthat/test-dplyr-across.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
  r/tests/testthat/test-dplyr-funcs-math.R
  r/tests/testthat/test-dplyr-funcs-string.R
  r/tests/testthat/test-dplyr-funcs-type.R
  r/tools/winlibs.R
Labels: lang-R

#14125 ARROW-17728: [C++][Gandiva] Accept LLVM 15.0
  .github/workflows/ruby.yml
  ci/scripts/cpp_test.sh
  cpp/CMakeLists.txt
  cpp/cmake_modules/FindzstdAlt.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: lang-c++

#14136 ARROW-17695: [C++] Remove Variant class
  c_glib/gandiva-glib/node.cpp
  cpp/gdb_arrow.py
  cpp/src/arrow/compute/exec.h
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/compute/exec/expression.cc
  cpp/src/arrow/compute/exec/expression.h
  cpp/src/arrow/compute/exec/test_util.cc
  cpp/src/arrow/dataset/discovery.h
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/datum.cc
  cpp/src/arrow/datum.h
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/filesystem/mockfs.cc
  cpp/src/arrow/flight/client.h
  cpp/src/arrow/flight/sql/server.cc
  cpp/src/arrow/flight/sql/server_test.cc
  cpp/src/arrow/flight/sql/types.h
  cpp/src/arrow/flight/transport/grpc/grpc_client.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
  cpp/src/arrow/util/CMakeLists.txt
  cpp/src/arrow/util/variant.h
  cpp/src/arrow/util/variant_benchmark.cc
  cpp/src/arrow/util/variant_test.cc
  cpp/src/gandiva/interval_holder.h
  cpp/src/gandiva/literal_holder.cc
  cpp/src/gandiva/literal_holder.h
  cpp/src/gandiva/llvm_generator.cc
  cpp/src/gandiva/node.h
  cpp/src/gandiva/random_generator_holder.cc
  cpp/src/gandiva/regex_functions_holder.cc
  cpp/src/gandiva/to_date_holder.cc
  cpp/src/parquet/arrow/path_internal.cc
  cpp/src/parquet/encryption/key_metadata.h
  python/pyarrow/includes/libarrow_flight.pxd
  python/pyarrow/src/gdb.cc
  python/pyarrow/tests/test_gdb.py
Labels: parquet, lang-c++, lang-python, flight, gandiva, lang-c-glib

#13556 ARROW-17021: [C++][R][CI] Enable use of sccache in crossbow
  ci/docker/centos-7-cpp.dockerfile
  ci/docker/conda-cpp.dockerfile
  ci/docker/conda.dockerfile
  ci/docker/debian-10-cpp.dockerfile
  ci/docker/debian-11-cpp.dockerfile
  ci/docker/fedora-35-cpp.dockerfile
  ci/docker/ubuntu-18.04-cpp.dockerfile
  ci/docker/ubuntu-20.04-cpp-minimal.dockerfile
  ci/docker/ubuntu-20.04-cpp.dockerfile
  ci/docker/ubuntu-22.04-cpp-minimal.dockerfile
  ci/docker/ubuntu-22.04-cpp.dockerfile
  ci/scripts/PKGBUILD
  ci/scripts/cpp_build.sh
  ci/scripts/download_tz_database.sh
  ci/scripts/install_sccache.sh
  cpp/CMakeLists.txt
  cpp/cmake_modules/DefineOptions.cmake
  dev/tasks/docker-tests/github.linux.yml
  dev/tasks/macros.jinja
  dev/tasks/r/github.packages.yml
  dev/tasks/tasks.yml
  docker-compose.yml
  r/inst/build_arrow_static.sh
Labels: lang-R, lang-c++

#14161 ARROW-17764: [CI][C++] "#include <optional>" is missing
  cpp/src/arrow/flight/sql/types.h
Labels: lang-c++, flight

#14159 ARROW-17560: [Java][Gandiva] Move JNI build configuration from cpp/ to java/
  ci/docker/fedora-35-cpp.dockerfile
  ci/docker/java-jni-manylinux-201x.dockerfile
  ci/docker/linux-apt-jni.dockerfile
  ci/scripts/cpp_build.sh
  ci/scripts/java_build.sh
  ci/scripts/java_jni_build.sh
  ci/scripts/java_jni_macos_build.sh
  ci/scripts/java_jni_manylinux_build.sh
  cpp/build-support/lint_exclusions.txt
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/ArrowConfig.cmake.in
  cpp/src/gandiva/CMakeLists.txt
  cpp/src/gandiva/GandivaConfig.cmake.in
  cpp/src/gandiva/jni/CMakeLists.txt
  docs/source/developers/java/building.rst
  java/CMakeLists.txt
  java/gandiva/CMakeLists.txt
  java/gandiva/pom.xml
  java/gandiva/proto/Types.proto
  java/gandiva/src/main/cpp/config_builder.cc
  java/gandiva/src/main/cpp/config_holder.cc
  java/gandiva/src/main/cpp/config_holder.h
  java/gandiva/src/main/cpp/env_helper.h
  java/gandiva/src/main/cpp/expression_registry_helper.cc
  java/gandiva/src/main/cpp/id_to_module_map.h
  java/gandiva/src/main/cpp/jni_common.cc
  java/gandiva/src/main/cpp/module_holder.h
  java/gandiva/src/main/cpp/symbols.map
  java/pom.xml
Labels: lang-java, lang-c++, gandiva, docs

#14162 ARROW-17561: [Java][ORC] Move JNI build configuration from cpp/ to java/
  ci/scripts/java_jni_build.sh
  ci/scripts/java_jni_macos_build.sh
  ci/scripts/java_jni_manylinux_build.sh
  cpp/CMakeLists.txt
  java/CMakeLists.txt
  java/adapter/orc/CMakeLists.txt
  java/adapter/orc/src/main/cpp/CMakeLists.txt
  java/c/CMakeLists.txt
  java/dataset/CMakeLists.txt
  java/gandiva/CMakeLists.txt
Labels: lang-java, lang-c++

#14163 ARROW-17767: [Java][ORC] Move JNI build configuration from cpp/ to java/
  ci/docker/java-jni-manylinux-201x.dockerfile
  ci/docker/linux-apt-jni.dockerfile
  ci/scripts/cpp_build.sh
  ci/scripts/java_jni_build.sh
  ci/scripts/java_jni_macos_build.sh
  ci/scripts/java_jni_manylinux_build.sh
  ci/scripts/java_test.sh
  cpp/CMakeLists.txt
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/gpu/ArrowCUDAConfig.cmake.in
  cpp/src/plasma/CMakeLists.txt
  cpp/src/plasma/lib/java/org_apache_arrow_plasma_PlasmaClientJNI.h
  docs/source/developers/java/building.rst
  java/CMakeLists.txt
  java/plasma/CMakeLists.txt
  java/plasma/src/main/cpp/plasma_client.cc
  java/pom.xml
Labels: lang-java, lang-c++, docs

#14170 MINOR: [R] Forward compatibility for tidyselect 1.2
  r/tests/testthat/test-dplyr-filter.R
Labels: lang-R

#14121 ARROW-17647: [C++] Using better namespace style when using protobuf with Substrait
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/type_internal.cc
Labels: lang-c++

#13965 ARROW-17517: [C++] Test engine API in public API test
  cpp/cmake_modules/DefineOptions.cmake
  cpp/src/arrow/compute/exec.h
  cpp/src/arrow/compute/exec/aggregate.cc
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/compute/exec/tpch_node.cc
  cpp/src/arrow/compute/type_fwd.h
  cpp/src/arrow/public_api_test.cc
  cpp/src/arrow/util/config.h.cmake
  r/src/compute-exec.cpp
Labels: lang-R, lang-c++

#14008 ARROW-13454: [C++][Docs] Tables vs Record Batches
  docs/source/cpp/tables-versus-record-batches.svg
  docs/source/cpp/tables.rst
  docs/source/format/Glossary.rst
Labels: docs

#13804 ARROW-17318: [C++][Dataset] Support async streaming interface for getting fragments in Dataset
  cpp/src/arrow/dataset/dataset.cc
  cpp/src/arrow/dataset/dataset.h
  cpp/src/arrow/dataset/dataset_test.cc
  cpp/src/arrow/dataset/test_util.h
  cpp/src/arrow/util/async_generator.h
  cpp/src/arrow/util/async_generator_fwd.h
Labels: lang-c++

#14154 ARROW-17690: [R] Implement dplyr::across() inside distinct()
  r/R/dplyr-funcs-doc.R
  r/data-raw/docgen.R
  r/man/acero.Rd
  r/tests/testthat/test-dplyr-distinct.R
Labels: lang-R

#14171 ARROW-17778: [Go][CSV] Simple CSV Reader Schema and type inference
  go/arrow/compare.go
  go/arrow/csv/common.go
  go/arrow/csv/reader.go
  go/arrow/csv/reader_test.go
Labels: lang-go

#14156 ARROW-17678: [Go] Filter kernels for Record Batches and Tables
  go/arrow/array/compare.go
  go/arrow/array/util.go
  go/arrow/compute/executor.go
  go/arrow/compute/internal/exec/utils.go
  go/arrow/compute/internal/exec/utils_test.go
  go/arrow/compute/selection.go
  go/arrow/compute/vector_selection_test.go
  go/arrow/table.go
Labels: lang-go

#14178 ARROW-17782: [C++][R] R package not building on macos 10.13 with C++17 std lib
  r/tools/autobrew
Labels: lang-R

#14080 ARROW-16838: [Python] Improve schema inference for pandas indexes with extension dtypes
  python/pyarrow/pandas_compat.py
  python/pyarrow/tests/test_schema.py
Labels: lang-python

#14172 ARROW-17686: [C++] Add custom ToPrint to AsofJoinBasicTest
  cpp/src/arrow/compute/exec/asof_join_node_test.cc
Labels: lang-c++

#14168 ARROW-15745: [Java] Deprecate redundant iterable of ScanTask
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/NativeScanTask.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/NativeScanner.java
  java/dataset/src/main/java/org/apache/arrow/dataset/scanner/ScanTask.java
  java/dataset/src/main/java/org/apache/arrow/dataset/scanner/Scanner.java
  java/dataset/src/test/java/org/apache/arrow/dataset/TestDataset.java
  java/dataset/src/test/java/org/apache/arrow/dataset/file/TestFileSystemDataset.java
  java/dataset/src/test/java/org/apache/arrow/dataset/jni/TestNativeDataset.java
Labels: lang-java

#14134 ARROW-17629: [Java] Bind DB column to Arrow Map type in JdbcToArrowUtils
  java/adapter/jdbc/pom.xml
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcFieldInfo.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowConfig.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowUtils.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/consumer/MapConsumer.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/AbstractJdbcToArrowTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcToArrowTestHelper.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowCharSetTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowDataTypesTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowMapDataTypeTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowNullTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowOptionalColumnsTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowTimeZoneTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowVectorIteratorTest.java
  java/adapter/jdbc/src/test/resources/h2/test1_all_datatypes_h2.yml
  java/adapter/jdbc/src/test/resources/h2/test1_all_datatypes_null_h2.yml
  java/adapter/jdbc/src/test/resources/h2/test1_all_datatypes_selected_null_rows_h2.yml
  java/adapter/jdbc/src/test/resources/h2/test1_map_h2.yml
  java/adapter/jdbc/src/test/resources/h2/test1_selected_datatypes_null_h2.yml
Labels: lang-java

#13516 ARROW-16981: [C++] Expose jemalloc statistics for logging
  cpp/src/arrow/memory_pool.cc
  cpp/src/arrow/memory_pool.h
  cpp/src/arrow/memory_pool_jemalloc.cc
  cpp/src/arrow/memory_pool_test.cc
Labels: lang-c++, flight

#14000 ARROW-16174: [Python] Fix FixedSizeListArray.flatten() on sliced input
  python/pyarrow/array.pxi
  python/pyarrow/lib.pxd
  python/pyarrow/tests/test_array.py
Labels: lang-python

#14108 ARROW-17699: [R] Add better error message for if a non-schema passed into open_dataset()
  r/R/dataset-format.R
  r/tests/testthat/test-dataset-csv.R
Labels: lang-R

#14190 ARROW-17696: [C++] arrow-compute-asof-join-node-test inordinately slow
  cpp/src/arrow/compute/exec/asof_join_node_test.cc
Labels: lang-c++

#14192 ARROW-17804: [Go][CSV] Add Date32 and Time32 parsers
  go/arrow/csv/common.go
  go/arrow/csv/reader.go
Labels: lang-go

#14194 ARROW-17800: [C++] Fix failures in jemalloc stats tests
  cpp/src/arrow/memory_pool_jemalloc.cc
  cpp/src/arrow/memory_pool_test.cc
Labels: lang-c++

#14196 ARROW-17659: [Java] Populate JDBC schema name metadata when config.shouldIncludeMetadata provided
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/Constants.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowUtils.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcToArrowTestHelper.java
  java/adapter/jdbc/src/test/resources/h2/expectedSchemaWithCommentsAndJdbcMeta.json
Labels: lang-java

#14187 ARROW-17790: [C++][Gandiva] Adapt to LLVM opaque pointer
  .github/workflows/cpp.yml
  .github/workflows/python.yml
  .github/workflows/ruby.yml
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/filesystem/gcsfs_test.cc
  cpp/src/arrow/filesystem/s3_test_util.cc
  cpp/src/arrow/flight/test_util.cc
  cpp/src/gandiva/decimal_ir.cc
  cpp/src/gandiva/engine.cc
  cpp/src/gandiva/engine_llvm_test.cc
  cpp/src/gandiva/llvm_generator.cc
  cpp/src/gandiva/llvm_generator.h
  cpp/src/gandiva/llvm_includes.h
Labels: lang-c++, flight, gandiva

#14205 ARROW-17815: [Python] Warn, not error out, when SetSignalStopSource fails
  python/pyarrow/error.pxi
  python/pyarrow/includes/common.pxd
Labels: lang-python

#14188 ARROW-17792: [C++] Use lambda capture move construction
  cpp/src/arrow/dataset/dataset_writer.cc
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/util/async_generator.h
  cpp/src/arrow/util/future.cc
  cpp/src/arrow/util/task_group.cc
  cpp/src/arrow/util/thread_pool.cc
Labels: lang-c++

#14193 ARROW-17803: [C++] Use [[nodiscard]]
  cpp/src/arrow/array/array_base.h
  cpp/src/arrow/compare.h
  cpp/src/arrow/compute/exec.h
  cpp/src/arrow/compute/exec/expression.h
  cpp/src/arrow/datum.h
  cpp/src/arrow/device.h
  cpp/src/arrow/filesystem/mockfs.h
  cpp/src/arrow/io/hdfs.h
  cpp/src/arrow/io/hdfs_internal.h
  cpp/src/arrow/result.h
  cpp/src/arrow/scalar.h
  cpp/src/arrow/status.h
  cpp/src/arrow/type.h
  cpp/src/arrow/type_fwd.h
  cpp/src/arrow/util/byte_size.h
  cpp/src/arrow/util/decimal.h
  cpp/src/arrow/util/future.h
  cpp/src/arrow/util/int_util.cc
  cpp/src/arrow/util/key_value_metadata.h
  cpp/src/arrow/util/macros.h
  cpp/src/arrow/util/thread_pool.h
  cpp/src/arrow/util/visibility.h
Labels: lang-c++

#14066 ARROW-17604: [Docs][Java] Make it more obvious that --add-opens is required
  docs/source/java/install.rst
  java/memory/memory-core/pom.xml
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/MemoryUtil.java
  java/memory/memory-core/src/test/java/org/apache/arrow/memory/TestOpens.java
Labels: lang-java, docs

#14064 ARROW-16226: [C++] Add better coverage for filesystem tell.
  cpp/src/arrow/filesystem/gcsfs.cc
  cpp/src/arrow/filesystem/test_util.cc
Labels: lang-c++

#14212 ARROW-17787: [Java] Fix Javadoc build
  java/pom.xml
Labels: lang-java

#14210 ARROW-17785: [Java] Suppress flakiness from gRPC in JDBC driver tests
  java/flight/flight-sql-jdbc-driver/pom.xml
  java/flight/flight-sql-jdbc-driver/src/main/java/org/apache/arrow/driver/jdbc/client/ArrowFlightSqlClientHandler.java
  java/flight/flight-sql-jdbc-driver/src/test/java/org/apache/arrow/driver/jdbc/ArrowFlightJdbcConnectionPoolDataSourceTest.java
  java/flight/flight-sql-jdbc-driver/src/test/java/org/apache/arrow/driver/jdbc/ArrowFlightJdbcDriverTest.java
  java/flight/flight-sql-jdbc-driver/src/test/java/org/apache/arrow/driver/jdbc/ArrowFlightJdbcFactoryTest.java
  java/flight/flight-sql-jdbc-driver/src/test/java/org/apache/arrow/driver/jdbc/ConnectionTest.java
  java/flight/flight-sql-jdbc-driver/src/test/java/org/apache/arrow/driver/jdbc/ConnectionTlsTest.java
  java/flight/flight-sql-jdbc-driver/src/test/java/org/apache/arrow/driver/jdbc/FlightServerTestRule.java
  java/flight/flight-sql-jdbc-driver/src/test/java/org/apache/arrow/driver/jdbc/ResultSetTest.java
  java/flight/flight-sql-jdbc-driver/src/test/java/org/apache/arrow/driver/jdbc/TokenAuthenticationTest.java
Labels: lang-java

#14218 ARROW-17814: [C++] Fix style
  cpp/src/arrow/compute/exec/asof_join_node.cc
  cpp/src/arrow/compute/exec/asof_join_node_test.cc
  cpp/src/arrow/compute/exec/hash_join_benchmark.cc
  cpp/src/arrow/compute/exec/hash_join_node.cc
  cpp/src/arrow/compute/exec/hash_join_node_test.cc
  cpp/src/arrow/compute/kernels/aggregate_basic.cc
  cpp/src/arrow/compute/kernels/codegen_internal.h
  cpp/src/arrow/compute/kernels/scalar_string_ascii.cc
  cpp/src/arrow/compute/kernels/vector_hash.cc
  cpp/src/arrow/compute/row/grouper.cc
  cpp/src/arrow/dataset/dataset_writer.cc
  cpp/src/arrow/dataset/file_csv_test.cc
  cpp/src/arrow/dataset/partition.cc
  cpp/src/arrow/dataset/test_util.h
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/flight/client.cc
  cpp/src/arrow/flight/flight_test.cc
  cpp/src/arrow/flight/transport/ucx/ucx_client.cc
  cpp/src/arrow/flight/transport/ucx/ucx_internal.cc
  cpp/src/arrow/gpu/cuda_context.cc
  cpp/src/arrow/ipc/writer.cc
  cpp/src/arrow/json/parser.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/util/async_util.cc
  cpp/src/arrow/util/async_util.h
  cpp/src/arrow/util/async_util_test.cc
  cpp/src/arrow/util/converter.h
  cpp/src/arrow/util/future_test.cc
  cpp/src/parquet/arrow/path_internal.cc
  cpp/src/parquet/arrow/writer.cc
Labels: parquet, lang-c++, flight

#14216 ARROW-17823: [C++] Prefer std::make_shared/std::make_unique over constructor with new
  cpp/examples/arrow/compute_register_example.cc
  cpp/src/arrow/compute/exec.cc
  cpp/src/arrow/compute/exec/options.cc
  cpp/src/arrow/compute/exec/tpch_node.cc
  cpp/src/arrow/compute/exec_test.cc
  cpp/src/arrow/compute/function_internal.h
  cpp/src/arrow/dataset/partition.cc
  cpp/src/arrow/filesystem/mockfs.cc
  cpp/src/arrow/flight/client_cookie_middleware.cc
  cpp/src/arrow/flight/flight_internals_test.cc
  cpp/src/arrow/flight/flight_test.cc
  cpp/src/arrow/flight/integration_tests/test_integration.cc
  cpp/src/arrow/flight/integration_tests/test_integration_server.cc
  cpp/src/arrow/flight/perf_server.cc
  cpp/src/arrow/flight/sql/example/acero_server.cc
  cpp/src/arrow/flight/sql/example/sqlite_server.cc
  cpp/src/arrow/flight/sql/server.cc
  cpp/src/arrow/flight/test_definitions.cc
  cpp/src/arrow/flight/test_util.cc
  cpp/src/arrow/flight/transport/grpc/grpc_client.cc
  cpp/src/arrow/flight/transport/ucx/flight_transport_ucx_test.cc
  cpp/src/arrow/flight/types.cc
  cpp/src/arrow/gpu/cuda_context.cc
  cpp/src/arrow/gpu/cuda_memory.cc
  cpp/src/arrow/io/file.cc
  cpp/src/arrow/ipc/message.cc
  cpp/src/arrow/ipc/writer.cc
  cpp/src/arrow/json/chunker.cc
  cpp/src/arrow/memory_pool.cc
  cpp/src/arrow/stl_test.cc
  cpp/src/arrow/table_builder_test.cc
  cpp/src/arrow/table_test.cc
  cpp/src/arrow/util/async_util_test.cc
  cpp/src/arrow/util/compression_brotli.cc
  cpp/src/arrow/util/compression_bz2.cc
  cpp/src/arrow/util/compression_lz4.cc
  cpp/src/arrow/util/compression_snappy.cc
  cpp/src/arrow/util/compression_zlib.cc
  cpp/src/arrow/util/compression_zstd.cc
  cpp/src/arrow/util/future.cc
  cpp/src/arrow/util/future_test.cc
  cpp/src/gandiva/interval_holder.h
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding_benchmark.cc
  cpp/src/parquet/encoding_test.cc
  cpp/src/parquet/thrift_internal.h
  cpp/src/plasma/client.cc
  cpp/src/plasma/events.cc
  cpp/src/plasma/protocol.cc
  cpp/src/plasma/quota_aware_policy.cc
  cpp/src/plasma/store.cc
Labels: parquet, lang-c++, flight, gandiva

#14233 ARROW-17823: [C++] Revert std::make_shared change for CUDA
  cpp/src/arrow/gpu/cuda_context.cc
  cpp/src/arrow/gpu/cuda_memory.cc
Labels: lang-c++

#14230 ARROW-17824: [C++][Gandiva] Implement preallocation for variable length output buffer
  cpp/src/gandiva/gdv_function_stubs.cc
  cpp/src/gandiva/tests/micro_benchmarks.cc
Labels: lang-c++, gandiva

#14189 ARROW-17794: [Java] Force delete jni lib file on JVM exit
  java/c/src/main/java/org/apache/arrow/c/jni/JniLoader.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/JniLoader.java
Labels: lang-java

#14199 ARROW-17614: [CI][Python] test test_write_dataset_max_rows_per_file is producing several nightly build failures
  cpp/src/arrow/dataset/dataset_writer.cc
Labels: lang-c++

#14231 ARROW-17840: [Java] Disable flaky JaCoCo coverage check
  java/flight/flight-sql-jdbc-driver/pom.xml
Labels: lang-java

#14143 ARROW-17736: [C++] Added a fallback name resolution mechanism to the Substrait producer.
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/extension_set.h
  cpp/src/arrow/engine/substrait/plan_internal.cc
  cpp/src/arrow/engine/substrait/plan_internal.h
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/serde.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: lang-c++

#14034 ARROW-17603: [C++][FlightRPC] Be verbose about failures when REQUIRE_TLSCREDENTIALSOPTIONS is on
  cpp/src/arrow/flight/CMakeLists.txt
Labels: lang-c++, flight

#14224 ARROW-6858: [C++] Simplify transitive build option dependencies
  ci/docker/conda-integration.dockerfile
  cpp/CMakeLists.txt
  cpp/CMakePresets.json
  cpp/cmake_modules/DefineOptions.cmake
Labels: lang-c++

#14236 ARROW-17842: [C++][CI] Use Brew installed clang for MacOS verify-rc
  cpp/src/arrow/flight/sql/example/sqlite_server.cc
  cpp/src/arrow/flight/sql/example/sqlite_statement.cc
  cpp/src/arrow/flight/sql/test_app_cli.cc
  dev/tasks/verify-rc/github.macos.amd64.yml
Labels: lang-c++, flight

#14241 ARROW-17846: [C++] Use `if constexpr` in CSV subsystem
  cpp/src/arrow/csv/converter.cc
  cpp/src/arrow/csv/writer.cc
  cpp/src/arrow/type_traits.h
  cpp/src/arrow/visit_type_inline.h
Labels: lang-c++

#14096 ARROW-17320: [Python] Refine pyarrow.parquet API exposure
  python/pyarrow/parquet/core.py
  python/pyarrow/util.py
Labels: lang-python

#14214 ARROW-17669: [Go] Take Function kernels for Record batch, Tables and Chunked Arrays
  go/arrow/compute/executor.go
  go/arrow/compute/internal/exec/utils.go
  go/arrow/compute/internal/kernels/helpers.go
  go/arrow/compute/internal/kernels/vector_selection.go
  go/arrow/compute/selection.go
  go/arrow/compute/vector_selection_test.go
Labels: lang-go

#14091 MINOR: [R] Import the missing `rlang::quo` function
  r/NAMESPACE
  r/R/arrow-package.R
Labels: lang-R

#14245 MINOR: [C++][Docs] Minor fixes to C++ API docs for AsyncTaskScheduler
  cpp/src/arrow/util/async_util.h
Labels: lang-c++

#14202 ARROW-17795: [C++][R] Add missing PKG_CONFIG_PATH to use system zstd
  cpp/cmake_modules/FindzstdAlt.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  dev/tasks/r/github.linux.arrow.version.back.compat.yml
  dev/tasks/r/github.linux.offline.build.yml
  dev/tasks/r/github.macos-linux.local.yml
  dev/tasks/r/github.packages.yml
  r/configure
  r/inst/build_arrow_static.sh
Labels: lang-R, lang-c++

#14254 MINOR: [C++] Remove nonexistent class from io/type_fwd.h
  cpp/src/arrow/io/type_fwd.h
Labels: lang-c++

#14029 ARROW-16431: [C++][Python] Improve AppendRowGroups error when schemas differ
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/schema.cc
  cpp/src/parquet/schema.h
  python/pyarrow/tests/parquet/test_metadata.py
Labels: parquet, lang-c++, lang-python

#14263 ARROW-17875: [C++] Remove assorted pre-C++17 compatibility measures
  cpp/src/arrow/result.h
  cpp/src/arrow/status.h
  cpp/src/arrow/stl.h
  cpp/src/arrow/util/aligned_storage.h
  cpp/src/arrow/util/macros.h
  cpp/src/arrow/util/small_vector.h
Labels: lang-c++

#14262 ARROW-17865: [Java] Deprecate Java Plasma JNI bindings
  java/plasma/README.md
  java/plasma/pom.xml
  java/plasma/src/main/java/org/apache/arrow/plasma/ObjectStoreLink.java
  java/plasma/src/main/java/org/apache/arrow/plasma/PlasmaClient.java
  java/plasma/src/main/java/org/apache/arrow/plasma/PlasmaClientJNI.java
  java/plasma/src/main/java/org/apache/arrow/plasma/exceptions/DuplicateObjectException.java
  java/plasma/src/main/java/org/apache/arrow/plasma/exceptions/PlasmaClientException.java
  java/plasma/src/main/java/org/apache/arrow/plasma/exceptions/PlasmaOutOfMemoryException.java
  java/plasma/src/test/java/org/apache/arrow/plasma/PlasmaClientTest.java
Labels: lang-java, docs

#14242 ARROW-17847: [C++] Support unquoted decimal in JSON parser
  cpp/src/arrow/json/parser.cc
  cpp/src/arrow/json/parser.h
  cpp/src/arrow/json/parser_test.cc
  cpp/src/arrow/json/reader_test.cc
  cpp/src/arrow/json/test_common.h
Labels: lang-c++

#14213 ARROW-17811: [Java][Doc] Added high-level documentation for Dictionary Encoding in Java
  docs/source/java/vector.rst
Labels: docs

#14181 ARROW-15479 : [C++] Cast fixed size list to compatible fixed size list type (other values type, other field name)
  cpp/src/arrow/compute/kernels/scalar_cast_nested.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
  python/pyarrow/tests/test_compute.py
Labels: lang-c++, lang-python

#14265 ARROW-17850: [Java] Upgrade netty + grpc + protobuf + jackson BOM versions
  java/c/pom.xml
  java/dataset/pom.xml
  java/pom.xml
Labels: lang-java

#13993 ARROW-17512: [Doc] Updates to crossbow documentation for clarity
  docs/source/developers/continuous_integration/crossbow.rst
  docs/source/developers/continuous_integration/overview.rst
Labels: docs

#13687 ARROW-17181: [Docs][Python] Scalar UDF Experimental Documentation
  docs/source/python/api/compute.rst
  docs/source/python/compute.rst
  python/pyarrow/src/udf.h
Labels: lang-python, docs

#14272 ARROW-17550: [C++][CI][MinGW] Use system Python for GCS testbench
  .github/workflows/cpp.yml
  ci/scripts/cpp_test.sh
  ci/scripts/install_gcs_testbench.sh
  ci/scripts/msys2_setup.sh
  cpp/src/arrow/filesystem/gcsfs_test.cc
Labels: lang-c++

#14258 ARROW-17864: [Plasma][Ruby] Deprecate Plasma Ruby bindings
  ruby/README.md
  ruby/red-plasma/README.md
  ruby/red-plasma/red-plasma.gemspec
Labels: lang-ruby, docs

#14278 ARROW-17880: [Go] Add support for Decimal128 and Decimal256 to CSV writer
  go/arrow/csv/common.go
  go/arrow/csv/writer.go
  go/arrow/csv/writer_test.go
Labels: lang-go

#14267 ARROW-17822: [C++][FlightRPC] Fix crash on invalid transport scheme
  cpp/src/arrow/flight/client.cc
  cpp/src/arrow/flight/flight_test.cc
Labels: lang-c++, flight

#14260 ARROW-17753: [Python][Docs] Document cleaning for fixing build environment issues
  docs/source/developers/python.rst
Labels: docs
