Repository apache/arrow, pull requests merged in 2022-12, with the labels that each got.

#14742 ARROW-18413: [C++][Parquet] Expose page index info from ColumnChunkMetaData
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/metadata.h
  cpp/src/parquet/metadata_test.cc
Labels: Component: Parquet, Component: C++

#14750 GH-14720: [Dev] Update merge_arrow_pr script to accept GitHub issues
  dev/merge_arrow_pr.py
  dev/test_merge_arrow_pr.py
Labels: Component: Developer Tools

#14794 GH-14787: [Java] [Doc] Update table.rst
  docs/source/java/table.rst
Labels: Component: Documentation

#14777 ARROW-18112: [Go] Remaining Scalar Arithmetic
  dev/release/rat_exclude_files.txt
  go/arrow/compute/arithmetic.go
  go/arrow/compute/arithmetic_test.go
  go/arrow/compute/cast_test.go
  go/arrow/compute/internal/kernels/_lib/base_arithmetic.cc
  go/arrow/compute/internal/kernels/_lib/base_arithmetic_avx2_amd64.s
  go/arrow/compute/internal/kernels/_lib/base_arithmetic_sse4_amd64.s
  go/arrow/compute/internal/kernels/base_arithmetic.go
  go/arrow/compute/internal/kernels/base_arithmetic_amd64.go
  go/arrow/compute/internal/kernels/base_arithmetic_avx2_amd64.s
  go/arrow/compute/internal/kernels/base_arithmetic_sse4_amd64.s
  go/arrow/compute/internal/kernels/rounding.go
  go/arrow/compute/internal/kernels/roundmode_string.go
  go/arrow/compute/internal/kernels/scalar_arithmetic.go
  go/arrow/compute/scalar_compare_test.go
  go/arrow/compute/vector_selection_test.go
  go/arrow/decimal128/decimal128.go
  go/arrow/decimal256/decimal256.go
  go/arrow/scalar/numeric.gen.go
  go/arrow/scalar/numeric.gen.go.tmpl
Labels: Component: Go

#14793 GH-14780: [Go] Fix issues with IPC writing of sliced map/list arrays
  go/arrow/array/list.go
  go/arrow/ipc/ipc_test.go
  go/arrow/ipc/writer.go
Labels: Component: Go

#14808 GH-14805: [Format] C Data Interface: clarify nullability of buffer pointers
  docs/source/format/CDataInterface.rst
Labels: Component: Documentation

#14800 ARROW-18391: [R] Fix the version selector dropdown in the dev docs
  r/pkgdown/templates/navbar.html
Labels: Component: R, Component: Documentation

#14815 ARROW-18333: [Go][Docs] Update compute function docs
  go/arrow/compute/arithmetic.go
Labels: Component: Go

#14696 ARROW-18282: [C++][Python] Support step >= 1 in list_slice kernel
  cpp/src/arrow/compute/kernels/scalar_nested.cc
  cpp/src/arrow/compute/kernels/scalar_nested_test.cc
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python

#14817 ARROW-18419: [C++] Update vendored fast_float
  cpp/src/arrow/vendored/fast_float/README.md
  cpp/src/arrow/vendored/fast_float/ascii_number.h
  cpp/src/arrow/vendored/fast_float/bigint.h
  cpp/src/arrow/vendored/fast_float/digit_comparison.h
  cpp/src/arrow/vendored/fast_float/fast_float.h
  cpp/src/arrow/vendored/fast_float/float_common.h
  cpp/src/arrow/vendored/fast_float/parse_number.h
  cpp/src/arrow/vendored/fast_float/simple_decimal_conversion.h
  cpp/src/arrow/vendored/fast_float/update.sh
Labels: Component: C++, Component: Documentation

#14646 ARROW-18269: [C++] Handle slash character in Hive-style partition values
  cpp/src/arrow/dataset/partition.cc
  cpp/src/arrow/dataset/partition_test.cc
  python/pyarrow/tests/test_dataset.py
Labels: Component: C++, Component: Python

#14018 ARROW-14161: [C++][Docs] Improve Parquet C++ docs
  c_glib/parquet-glib/arrow-file-writer.cpp
  cpp/examples/arrow/CMakeLists.txt
  cpp/examples/arrow/parquet_read_write.cc
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/src/arrow/dataset/file_parquet_test.cc
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/arrow_statistics_test.cc
  cpp/src/parquet/arrow/reader.cc
  cpp/src/parquet/arrow/reader.h
  cpp/src/parquet/arrow/schema.cc
  cpp/src/parquet/arrow/writer.cc
  cpp/src/parquet/arrow/writer.h
  cpp/src/parquet/properties.h
  docs/source/cpp/dataset.rst
  docs/source/cpp/parquet.rst
  python/pyarrow/_parquet.pxd
  python/pyarrow/_parquet.pyx
  r/src/parquet.cpp
Labels: Component: R, Component: Parquet, Component: C++, Component: Python, Component: GLib, Component: Documentation

#14722 GH-14755: [Python] Expose QuotingStyle to Python
  python/pyarrow/_csv.pyx
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_csv.py
Labels: Type: enhancement, Component: Python

#14843 GH-14842: [C++] Propagate some errors in JSON chunker
  cpp/src/arrow/json/chunker.cc
  cpp/src/arrow/json/chunker_test.cc
  cpp/src/arrow/json/parser.cc
  cpp/src/arrow/json/parser_test.cc
  cpp/src/arrow/json/reader_test.cc
Labels: Component: C++

#14845 ARROW-18424: [C++] Fix Doxygen error on ARROW_ENGINE_EXPORT
  cpp/apidoc/Doxyfile
Labels: Component: C++

#14749 ARROW-18280: [C++][Python] Support slicing to end in list_slice kernel
  cpp/src/arrow/compute/kernels/scalar_nested.cc
  cpp/src/arrow/compute/kernels/scalar_nested_test.cc
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python

#14859 ARROW-18320: [C++][FlightRPC] Fix improper Status/Result conversion in Flight client
  cpp/src/arrow/flight/client.cc
Labels: Component: C++, Component: FlightRPC

#14868 MINOR: [Doc][Python] fix timestamps in dataframe output
  docs/source/python/timestamps.rst
Labels: Component: Documentation

#14874 GH-14873: [Java] DictionaryEncoder can decode without building a DictionaryHashTable
  java/vector/src/main/java/org/apache/arrow/vector/dictionary/DictionaryEncoder.java
Labels: Component: Java

#14509 PARQUET-2204: [parquet-cpp] TypedColumnReaderImpl::Skip should reuse scratch space
  cpp/src/parquet/column_reader.cc
Labels: Component: Parquet, Component: C++

#14847 ARROW-14999: [C++] Optional field name equality checks for map and list type
  cpp/src/arrow/compare.cc
  cpp/src/arrow/compute/cast.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
  cpp/src/arrow/type_test.cc
  java/c/src/test/python/integration_tests.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_types.py
  python/pyarrow/types.pxi
  r/R/arrowExports.R
  r/R/type.R
  r/src/arrowExports.cpp
  r/src/datatype.cpp
  r/tests/testthat/test-data-type.R
  r/tests/testthat/test-parquet.R
Labels: Component: R, Component: Java, Component: C++, Component: Python

#14681 ARROW-18367: [C++] Enable the creation of named table relations
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/source_node.cc
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/engine/substrait/expression_internal.h
  cpp/src/arrow/engine/substrait/ext_test.cc
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/extension_set.h
  cpp/src/arrow/engine/substrait/extension_types.cc
  cpp/src/arrow/engine/substrait/extension_types.h
  cpp/src/arrow/engine/substrait/function_test.cc
  cpp/src/arrow/engine/substrait/plan_internal.cc
  cpp/src/arrow/engine/substrait/plan_internal.h
  cpp/src/arrow/engine/substrait/protobuf_test_util.cc
  cpp/src/arrow/engine/substrait/relation.h
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/relation_internal.h
  cpp/src/arrow/engine/substrait/serde.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/engine/substrait/test_plan_builder.cc
  cpp/src/arrow/engine/substrait/test_plan_builder.h
  cpp/src/arrow/engine/substrait/type_internal.cc
  cpp/src/arrow/engine/substrait/type_internal.h
  cpp/src/arrow/engine/substrait/util.cc
  cpp/src/arrow/engine/substrait/util.h
  cpp/src/arrow/flight/sql/acero_test.cc
Labels: Component: C++, Component: FlightRPC

#14663 ARROW-17288: [C++] Adapt the CSV file format to the new scan API
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/compute/exec/expression.cc
  cpp/src/arrow/compute/exec/expression.h
  cpp/src/arrow/compute/exec/expression_test.cc
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/plan_test.cc
  cpp/src/arrow/compute/exec/sink_node.cc
  cpp/src/arrow/dataset/dataset.cc
  cpp/src/arrow/dataset/dataset.h
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/dataset/file_base.h
  cpp/src/arrow/dataset/file_csv.cc
  cpp/src/arrow/dataset/file_csv.h
  cpp/src/arrow/dataset/file_csv_test.cc
  cpp/src/arrow/dataset/file_ipc.cc
  cpp/src/arrow/dataset/file_ipc.h
  cpp/src/arrow/dataset/file_orc.cc
  cpp/src/arrow/dataset/file_orc.h
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/src/arrow/dataset/file_parquet.h
  cpp/src/arrow/dataset/file_test.cc
  cpp/src/arrow/dataset/scan_node.cc
  cpp/src/arrow/dataset/scanner.cc
  cpp/src/arrow/dataset/scanner.h
  cpp/src/arrow/dataset/scanner_benchmark.cc
  cpp/src/arrow/dataset/scanner_test.cc
  cpp/src/arrow/dataset/test_util.h
  cpp/src/arrow/util/thread_pool.h
  cpp/src/arrow/util/thread_pool_test.cc
Labels: Component: C++

#14881 GH-14791: [JS] Fix BitmapBufferBuilder size truncation
  js/bin/print-buffer-alignment.js
  js/jest.config.js
  js/jestconfigs/jest.apache-arrow.config.js
  js/jestconfigs/jest.coverage.config.js
  js/jestconfigs/jest.es2015.cjs.config.js
  js/jestconfigs/jest.es2015.esm.config.js
  js/jestconfigs/jest.es2015.umd.config.js
  js/jestconfigs/jest.es5.cjs.config.js
  js/jestconfigs/jest.es5.esm.config.js
  js/jestconfigs/jest.es5.umd.config.js
  js/jestconfigs/jest.esnext.cjs.config.js
  js/jestconfigs/jest.esnext.esm.config.js
  js/jestconfigs/jest.esnext.umd.config.js
  js/jestconfigs/jest.src.config.js
  js/jestconfigs/jest.ts.config.js
  js/src/bin/arrow2csv.ts
  js/src/builder/buffer.ts
  js/test/generate-test-data.ts
  js/test/unit/builders/builder-tests.ts
Labels: Component: JavaScript

#14892 GH-14883: [Go] ipc.Writer leaks memory when compressing body
  go/arrow/ipc/compression.go
  go/arrow/ipc/writer.go
  go/arrow/ipc/writer_test.go
Labels: Component: Go

#14904 GH-14883: [Go] Fix IPC encoding empty maps
  go/arrow/ipc/ipc_test.go
  go/arrow/ipc/writer.go
Labels: Component: Go

#14903 MINOR: [Docs] Update reviewing instructions to talk about issues instead of Jiras
  docs/source/developers/reviewing.rst
Labels: Component: Documentation

#14900 GH-14869: [C++] Add Cflags.private defining <lib>_STATIC to <lib>.pc.in.
  cpp/src/arrow/arrow-testing.pc.in
  cpp/src/arrow/arrow.pc.in
  cpp/src/arrow/dataset/arrow-dataset.pc.in
  cpp/src/arrow/engine/arrow-substrait.pc.in
  cpp/src/arrow/flight/arrow-flight.pc.in
  cpp/src/arrow/flight/sql/arrow-flight-sql.pc.in
  cpp/src/gandiva/gandiva.pc.in
  cpp/src/parquet/parquet.pc.in
  python/pyarrow/src/arrow-python.pc.in
Labels: Component: Parquet, Component: C++, Component: Python, Component: FlightRPC, Component: C++ - Gandiva

#14902 GH-14901: [Java] ListSubfieldEncoder and StructSubfieldEncoder can decode without DictionaryHashTable
  java/vector/src/main/java/org/apache/arrow/vector/dictionary/DictionaryEncoder.java
  java/vector/src/main/java/org/apache/arrow/vector/dictionary/ListSubfieldEncoder.java
  java/vector/src/main/java/org/apache/arrow/vector/dictionary/StructSubfieldEncoder.java
Labels: Component: Java

#14891 GH-14890: [Java] Fix memory leak of DictionaryEncoder when exception thrown
  java/vector/src/main/java/org/apache/arrow/vector/dictionary/DictionaryEncoder.java
  java/vector/src/test/java/org/apache/arrow/vector/TestDictionaryVector.java
Labels: Component: Java

#14899 MINOR: [C++] Fix spacing in temporal cast error message
  cpp/src/arrow/compute/kernels/scalar_cast_temporal.cc
Labels: Component: C++

#14587 ARROW-18247: [JS] fix: RangeError crash in Vector.toArray()
  js/src/vector.ts
  js/test/unit/vector/vector-tests.ts
Labels: Component: JavaScript

#14887 ARROW-18429 [R]: Bump dev version following 10.0.1 patch release
  ci/scripts/PKGBUILD
  dev/tasks/homebrew-formulae/autobrew/apache-arrow.rb
  r/DESCRIPTION
  r/NEWS.md
  r/pkgdown/assets/versions.json
Labels: Component: R, Component: Documentation

#14877 GH-14876: [Go] Handling Crashes in C Data interface
  go/arrow/cdata/cdata.go
  go/arrow/cdata/cdata_exports.go
  go/arrow/cdata/cdata_test.go
  go/arrow/cdata/exports.go
  go/arrow/cdata/test/test_cimport.go
  go/arrow/cdata/test/test_export_to_cgo.py
Labels: Component: Go

#14915 GH-14916: [C++] Remove the API declaration about "ConcatenateBuffers"
  cpp/src/arrow/buffer.h
Labels: Component: C++

#14806 ARROW-18421: [C++][ORC] Add accessor for stripe information in reader
  cpp/src/arrow/adapters/orc/adapter.cc
  cpp/src/arrow/adapters/orc/adapter.h
  cpp/src/arrow/adapters/orc/adapter_test.cc
Labels: Component: C++

#13041 ARROW-16430: [Python] Add support for reading record batch custom metadata API
  cpp/src/arrow/ipc/writer.cc
  cpp/src/arrow/ipc/writer.h
  python/pyarrow/_flight.pyx
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/ipc.pxi
  python/pyarrow/tests/test_ipc.py
Labels: Component: C++, Component: Python, Component: FlightRPC

#14857 GH-14855: [C++] Support importing zero-case unions
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/c/bridge_test.cc
Labels: Component: C++

#14911 MINOR: [Java] ArrowBuf#setOne should have int64 params
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/ArrowBuf.java
Labels: Component: Java

#14910 GH-14909: [Java] Prevent potential memory leak of ListSubfieldEncoder and StructSubfieldEncoder
  java/vector/src/main/java/org/apache/arrow/vector/dictionary/DictionaryEncoder.java
  java/vector/src/main/java/org/apache/arrow/vector/dictionary/ListSubfieldEncoder.java
  java/vector/src/main/java/org/apache/arrow/vector/dictionary/StructSubfieldEncoder.java
  java/vector/src/test/java/org/apache/arrow/vector/TestDictionaryVector.java
Labels: Component: Java

#14769 MINOR: [Python] Bump max_line_length = 88
  python/setup.cfg
Labels: Component: Python

#14746 ARROW-18264: [Python] Add missing value accessor to temporal types
  python/pyarrow/scalar.pxi
  python/pyarrow/tests/test_scalars.py
Labels: Component: Python

#14355 ARROW-17932: [C++] Implement streaming RecordBatchReader for JSON
  cpp/src/arrow/json/reader.cc
  cpp/src/arrow/json/reader.h
  cpp/src/arrow/json/reader_test.cc
  docs/source/cpp/api/formats.rst
  docs/source/cpp/json.rst
Labels: Component: C++, Component: Documentation

#14938 GH-14937: [C++] Add rank kernel benchmarks
  cpp/src/arrow/compute/kernels/vector_sort_benchmark.cc
  cpp/src/arrow/util/benchmark_util.h
Labels: Component: C++

#14941 MINOR: [Docs] Fix a typo and remove a duplicated item
  docs/source/cpp/streaming_execution.rst
Labels: Component: Documentation

#14292 ARROW-15592: [C++] Add support for custom output field names in a substrait::PlanRel
  cpp/src/arrow/engine/substrait/serde.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: Component: C++

#14950 MINOR: [C++] Fixing a Typo in Substrait Testing
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: Component: C++

#14191 ARROW-17798: [C++][Parquet] Add DELTA_BINARY_PACKED encoder to Parquet writer
  cpp/src/arrow/util/bit_stream_utils.h
  cpp/src/arrow/util/rle_encoding_test.cc
  cpp/src/parquet/column_writer_test.cc
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding_test.cc
  docs/source/cpp/parquet.rst
  python/pyarrow/tests/parquet/test_basic.py
Labels: Component: Parquet, Component: C++, Component: Python, Component: Documentation

#14942 ARROW-18435: [C++][Java] Update ORC to 1.8.1
  cpp/thirdparty/versions.txt
  java/adapter/orc/pom.xml
Labels: Component: Java, Component: C++

#14741 ARROW-18106: [C++] JSON reader ignores explicit schema with default unexpected_field_behavior="infer"
  cpp/src/arrow/json/chunked_builder.cc
  cpp/src/arrow/json/converter.cc
  cpp/src/arrow/json/converter_test.cc
  cpp/src/arrow/json/reader_test.cc
Labels: Component: C++

#14086 ARROW-17662: [R] Facilitate offline installation from binaries
  r/tools/nixlibs.R
  r/vignettes/install.Rmd
Labels: Component: R

#14643 ARROW-18339: [Python][CI] Add DYLD_LIBRARY_PATH to avoid requiring PYARROW_BUNDLE_ARROW_CPP on macOS job
  .github/workflows/python.yml
  ci/scripts/python_test.sh
  python/pyarrow/tests/test_cython.py
Labels: Component: Python

#14926 MINOR: [Docs][Python] Add example of not nullable type in Schema
  python/pyarrow/types.pxi
Labels: Component: Python

#14958 MINOR: [Docs] Fix a typo in contributing guide
  docs/source/developers/guide/index.rst
Labels: Component: Documentation

#14781 GH-14778: [Python] Add (Chunked)Array sort() method
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_table.py
Labels: Component: Python

#14644 ARROW-14832: [R] Implement bindings for stringr::str_remove and stringr::str_remove_all
  r/DESCRIPTION
  r/R/dplyr-funcs-doc.R
  r/R/dplyr-funcs-string.R
  r/man/acero.Rd
  r/tests/testthat/test-dplyr-funcs-string.R
Labels: Component: R

#14960 GH-14945: [Ruby] Add support for macOS 12 / Xcode 14
  ruby/red-arrow/ext/arrow/extconf.rb
Labels: Component: Ruby

#14962 GH-14961: [Ruby] Use newer extpp for C++17
  ruby/red-arrow/ext/arrow/extconf.rb
  ruby/red-arrow/red-arrow.gemspec
Labels: Component: Ruby

#15003 GH-14995: [Go][FlightSQL] Fix Supported Unions Constant
  go/arrow/flight/flightsql/types.go
Labels: Component: Go

#14235 ARROW-17692: [R] Add support for building with system AWS SDK C++
  ci/docker/linux-r.dockerfile
  ci/docker/ubuntu-18.04-cpp.dockerfile
  ci/docker/ubuntu-20.04-cpp.dockerfile
  ci/docker/ubuntu-22.04-cpp.dockerfile
  ci/scripts/r_docker_configure.sh
  ci/scripts/r_install_system_dependencies.sh
  cpp/cmake_modules/BuildUtils.cmake
  cpp/cmake_modules/FindzstdAlt.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  dev/tasks/conda-recipes/r-arrow/build.sh
  dev/tasks/r/github.linux.offline.build.yml
  dev/tasks/r/github.macos-linux.local.yml
  dev/tasks/r/github.packages.yml
  r/configure
  r/inst/build_arrow_static.sh
  r/tests/testthat/helper-skip.R
  r/tests/testthat/test-python.R
Labels: Component: R, Component: C++

#15010 GH-15009: [R] stringr 1.5.0 with the str_like function is already released
  r/R/dplyr-funcs-doc.R
  r/R/dplyr-funcs-string.R
  r/data-raw/docgen.R
  r/man/acero.Rd
  r/tests/testthat/test-dplyr-funcs-string.R
Labels: Component: R

#15021 MINOR: [Docs] Fix a typo
  docs/source/format/Flight.rst
Labels: Component: Documentation

#14954 GH-14940: [Go][Parquet] Fix Encryption Column writing
  go/parquet/encryption_read_config_test.go
  go/parquet/encryption_write_config_test.go
  go/parquet/file/column_writer.go
  go/parquet/file/page_writer.go
Labels: Component: Go

#15006 GH-15005: [Go] Add scalar.Append to append scalars to builder
  go/arrow/array/binarybuilder.go
  go/arrow/array/builder.go
  go/arrow/array/fixedsize_binarybuilder.go
  go/arrow/array/map.go
  go/arrow/array/string.go
  go/arrow/array/union.go
  go/arrow/internal/arrdata/arrdata.go
  go/arrow/internal/testing/tools/data_types.go
  go/arrow/scalar/append.go
  go/arrow/scalar/append_test.go
Labels: Component: Go

#14878 GH-14865: [Go][Parquet] Address several memory leaks of buffers in pqarrow
  go/parquet/file/column_writer.go
  go/parquet/internal/encoding/encoder.go
  go/parquet/internal/encoding/types.go
  go/parquet/pqarrow/encode_arrow.go
  go/parquet/pqarrow/encode_arrow_test.go
  go/parquet/pqarrow/file_writer.go
Labels: Component: Go

#15030 MINOR: [C++][Docs] Fix typo in Basic Arrow example
  cpp/examples/tutorial_examples/arrow_example.cc
Labels: Component: C++

#14944 GH-14943: [Python] Fix pyarrow.get_libraries() order
  python/pyarrow/__init__.py
Labels: Component: Python

#15014 GH-14993: [CI][Conda] Fix missing RECIPE_ROOT variable now expected by conda build
  dev/tasks/conda-recipes/build_steps.sh
  dev/tasks/conda-recipes/r-arrow/build.sh
  dev/tasks/conda-recipes/run_docker_build.sh
  r/configure
Labels: Component: R

#15031 ARROW-18351: [C++][FlightRPC] Fix crash in DoExchange with UCX
  cpp/src/arrow/flight/transport/ucx/ucx_internal.cc
Labels: Component: C++, Component: FlightRPC

#15051 GH-15050: [Java][Docs] Update and consolidate Memory documentation
  docs/source/java/memory.rst
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/README.md
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/package-info.java
Labels: Component: Java, Component: Documentation

#15029 GH-15028: [R][Docs] `NOT_CRAN` should be `"true"` instead of `TRUE` in R
  r/vignettes/install.Rmd
Labels: Component: R

#14925 ARROW-17838: [Python] Unify CMakeLists.txt in python/
  cpp/cmake_modules/BuildUtils.cmake
  cpp/cmake_modules/UseCython.cmake
  cpp/src/arrow/symbols.map
  dev/release/01-prepare-test.rb
  dev/release/post-11-bump-versions-test.rb
  dev/release/utils-prepare.sh
  python/CMakeLists.txt
  python/pyarrow/src/ArrowPythonConfig.cmake.in
  python/pyarrow/src/ArrowPythonFlightConfig.cmake.in
  python/pyarrow/src/CMakeLists.txt
  python/pyarrow/src/arrow-python-flight.pc.in
  python/pyarrow/src/arrow-python.pc.in
  python/setup.py
Labels: Component: C++, Component: Python

#15057 MINOR: [Doc][Python] In from_uri docs, show that gcsfs is also supported
  python/pyarrow/_fs.pyx
Labels: Component: Python

#15061 GH-15043: [Python] [Docs] Update docstring for pyarrow.decompress
  python/pyarrow/io.pxi
Labels: Component: Python

#14717 ARROW-18272: [Python] Support filesystem parameter in ParquetFile
  python/pyarrow/fs.py
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_parquet_file.py
Labels: Component: Python

#14889 GH-14885: [Docs] Make changes to the New Contrib Guide (Jira -> GitHub)
  docs/source/developers/guide/communication.rst
  docs/source/developers/guide/documentation.rst
  docs/source/developers/guide/index.rst
  docs/source/developers/guide/step_by_step/arrow_codebase.rst
  docs/source/developers/guide/step_by_step/finding_issues.rst
  docs/source/developers/guide/step_by_step/pr_lifecycle.rst
  docs/source/developers/guide/tutorials/python_tutorial.rst
  docs/source/developers/guide/tutorials/r_tutorial.rst
  docs/source/developers/images/R_tutorial_jira_issue.jpeg
  docs/source/developers/images/jira_create_issue.jpeg
  docs/source/developers/images/jira_good_first_issue.jpeg
  docs/source/developers/images/jira_new_account.jpeg
  docs/source/developers/images/jira_search_component.jpeg
  docs/source/developers/images/jira_search_documentation.jpeg
  docs/source/developers/images/python_tutorial_jira_comment.jpeg
  docs/source/developers/images/python_tutorial_jira_description.jpeg
  docs/source/developers/images/python_tutorial_jira_issue.jpeg
  docs/source/developers/images/python_tutorial_jira_title.jpeg
Labels: Component: Documentation

#14919 GH-14918: [Docs] Make changes to developers section of the docs (Jira -> GitHub)
  docs/source/developers/bug_reports.rst
  docs/source/developers/continuous_integration/overview.rst
  docs/source/developers/overview.rst
  docs/source/python/getting_involved.rst
Labels: Component: Documentation

#14959 ARROW-18437: [C++][Parquet] Fix encoder for DELTA_BINARY_PACKED when flushing more than once
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding_test.cc
Labels: Component: Parquet, Component: C++

#14227 ARROW-17837: [C++][Acero] Create ExecPlan-owned QueryContext that will store a plan's shared data structures
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/exec.h
  cpp/src/arrow/compute/exec/aggregate_node.cc
  cpp/src/arrow/compute/exec/asof_join_node.cc
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/compute/exec/filter_node.cc
  cpp/src/arrow/compute/exec/hash_join.cc
  cpp/src/arrow/compute/exec/hash_join.h
  cpp/src/arrow/compute/exec/hash_join_benchmark.cc
  cpp/src/arrow/compute/exec/hash_join_node.cc
  cpp/src/arrow/compute/exec/project_node.cc
  cpp/src/arrow/compute/exec/query_context.cc
  cpp/src/arrow/compute/exec/query_context.h
  cpp/src/arrow/compute/exec/sink_node.cc
  cpp/src/arrow/compute/exec/source_node.cc
  cpp/src/arrow/compute/exec/swiss_join.cc
  cpp/src/arrow/compute/exec/tpch_node.cc
  cpp/src/arrow/compute/type_fwd.h
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/dataset/scan_node.cc
  cpp/src/arrow/dataset/scanner.cc
  cpp/src/arrow/util/io_util.cc
  cpp/src/arrow/util/io_util.h
  cpp/src/arrow/util/io_util_test.cc
  cpp/src/arrow/util/rle_encoding.h
  cpp/src/arrow/util/type_fwd.h
Labels: Component: C++

#15048 ARROW-18394: [Python][CI] Fix nightly job using pandas dev (temporarily skip tests)
  ci/scripts/install_pandas.sh
  python/pyarrow/tests/test_compute.py
  python/pyarrow/tests/test_pandas.py
  python/setup.cfg
Labels: Component: Python

#13000 ARROW-16337: [Python] Expose flag to enable/disable storing Arrow schema in Parquet metadata
  python/pyarrow/_parquet.pxd
  python/pyarrow/_parquet.pyx
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_parquet_writer.py
Labels: Component: Python

#14976 GH-14975: [Python] Dataset.sort_by
  python/pyarrow/_compute.pxd
  python/pyarrow/_dataset.pyx
  python/pyarrow/_exec_plan.pyx
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_dataset.py
Labels: Component: Python

#14839 ARROW-18363: [Docs] Include warning when viewing old docs (redirecting to stable/dev docs)
  docs/source/_static/versionwarning.js
  docs/source/_templates/layout.html
Labels: Component: Documentation

#14052 ARROW-16728: [Python] Switch default and deprecate use_legacy_dataset=True in ParquetDataset
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_basic.py
  python/pyarrow/tests/parquet/test_dataset.py
  python/pyarrow/tests/parquet/test_pandas.py
Labels: Component: Python

#15049 GH-14968: [Python] Fix segfault for dataset ORC write
  cpp/src/arrow/dataset/file_base.h
  docs/source/cpp/dataset.rst
  docs/source/python/dataset.rst
  python/pyarrow/_dataset.pyx
  python/pyarrow/tests/test_dataset.py
Labels: Component: C++, Component: Python, Component: Documentation

#15022 ARROW-18231: [C++][CMake] Add support for overriding optimization level
  cpp/CMakeLists.txt
  cpp/cmake_modules/SetupCxxFlags.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/parquet/CMakeLists.txt
  cpp/src/plasma/test/serialization_tests.cc
  python/CMakeLists.txt
  python/pyarrow/src/arrow/python/arrow_to_pandas.cc
Labels: Component: Parquet, Component: C++, Component: Python

#14948 GH-14947 [R] Compatibility with dplyr 1.1.0
  r/R/dplyr-distinct.R
  r/R/dplyr-funcs-simple.R
  r/R/dplyr-join.R
  r/R/enums.R
  r/tests/testthat/_snaps/dplyr-query.md
  r/tests/testthat/_snaps/dplyr-summarize.md
  r/tests/testthat/test-dataset-dplyr.R
  r/tests/testthat/test-dataset.R
  r/tests/testthat/test-dplyr-distinct.R
  r/tests/testthat/test-dplyr-filter.R
  r/tests/testthat/test-dplyr-group-by.R
  r/tests/testthat/test-dplyr-join.R
  r/tests/testthat/test-dplyr-query.R
  r/tests/testthat/test-dplyr-slice.R
  r/tests/testthat/test-dplyr-summarize.R
Labels: Component: R, Component: Documentation

#15075 GH-15040: [C++] Improve pkg-config support for ARROW_BUILD_SHARED=OFF
  ci/scripts/r_install_system_dependencies.sh
  cpp/CMakeLists.txt
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/arrow.pc.in
  dev/tasks/r/github.packages.yml
  dev/tasks/tasks.yml
  r/configure
Labels: Component: R, Component: C++

#15089 GH-15085: [Ruby] Add ColumnContainable#column_names
  ruby/red-arrow/lib/arrow/column-containable.rb
  ruby/red-arrow/test/test-table.rb
Labels: Component: Ruby

#15034 ARROW-18353: [C++][FlightRPC] Prevent concurrent Finish in UCX
  cpp/src/arrow/flight/transport/ucx/ucx_client.cc
Labels: Component: C++, Component: FlightRPC

#15011 MINOR: [R] Update docs of DataType
  r/R/type.R
  r/man/DataType.Rd
  r/man/data-type.Rd
Labels: Component: R

#15037 ARROW-17538: [C++] Import schema when importing array stream
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/c/bridge_test.cc
Labels: Component: C++

#15073 GH-15072: [C++] Move the round functionality into a separate module
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/kernels/CMakeLists.txt
  cpp/src/arrow/compute/kernels/scalar_arithmetic.cc
  cpp/src/arrow/compute/kernels/scalar_arithmetic_test.cc
  cpp/src/arrow/compute/kernels/scalar_round.cc
  cpp/src/arrow/compute/kernels/scalar_round_arithmetic_test.cc
  cpp/src/arrow/compute/registry.cc
  cpp/src/arrow/compute/registry_internal.h
Labels: Component: C++

#15076 MINOR: [R] Should build ignore __pycache__ directory
  r/.Rbuildignore
Labels: Component: R

#15111 GH-15110: [R] [CI] Windows build fails in packaging job
  ci/scripts/r_windows_build.sh
  r/configure.win
Labels: Component: R

#15121 MINOR: [Python] add generated lib.h file to pyarrow gitignore
  python/.gitignore
Labels: Type: enhancement

#15106 GH-14844: [Java] Short circuit null checks when comparing non null field types
  java/algorithm/src/main/java/org/apache/arrow/algorithm/sort/VectorValueComparator.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/sort/TestDefaultVectorComparator.java
Labels: Component: Java

#15108 ARROW-17823: [C++] [Parquet] Prefer std::make_shared/std::make_unique over constructor with new in Parquet
  cpp/src/parquet/arrow/reader.cc
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/file_writer.cc
  cpp/src/parquet/metadata.cc
Labels: Component: Parquet, Component: C++

#15104 ARROW-15732: [C++] Do not use any CPU threads in execution plan when use_threads is false
  cpp/examples/arrow/execution_plan_documentation_examples.cc
  cpp/examples/arrow/join_example.cc
  cpp/src/arrow/compute/exec.cc
  cpp/src/arrow/compute/exec/asof_join_benchmark.cc
  cpp/src/arrow/compute/exec/asof_join_node.cc
  cpp/src/arrow/compute/exec/asof_join_node_test.cc
  cpp/src/arrow/compute/exec/benchmark_util.cc
  cpp/src/arrow/compute/exec/benchmark_util.h
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/compute/exec/filter_benchmark.cc
  cpp/src/arrow/compute/exec/hash_join_node.cc
  cpp/src/arrow/compute/exec/hash_join_node_test.cc
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/plan_test.cc
  cpp/src/arrow/compute/exec/project_benchmark.cc
  cpp/src/arrow/compute/exec/query_context.cc
  cpp/src/arrow/compute/exec/sink_node.cc
  cpp/src/arrow/compute/exec/test_util.cc
  cpp/src/arrow/compute/exec/test_util.h
  cpp/src/arrow/compute/exec/tpch_benchmark.cc
  cpp/src/arrow/compute/exec/tpch_node_test.cc
  cpp/src/arrow/compute/kernels/hash_aggregate_test.cc
  cpp/src/arrow/compute/type_fwd.h
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/dataset/file_test.cc
  cpp/src/arrow/dataset/scanner.cc
  cpp/src/arrow/dataset/scanner.h
  cpp/src/arrow/dataset/scanner_benchmark.cc
  cpp/src/arrow/dataset/scanner_test.cc
  cpp/src/arrow/engine/substrait/function_test.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/engine/substrait/util.cc
  cpp/src/arrow/util/async_util.cc
  cpp/src/arrow/util/async_util.h
  cpp/src/arrow/util/async_util_test.cc
  cpp/src/arrow/util/thread_pool.cc
  cpp/src/arrow/util/thread_pool.h
  python/pyarrow/_exec_plan.pyx
  r/src/compute-exec.cpp
Labels: Component: R, Component: C++, Component: Python

#15118 GH-15069: [C++][Python][FlightRPC] Make DoAction truly streaming
  cpp/src/arrow/flight/flight_test.cc
  cpp/src/arrow/flight/integration_tests/test_integration.cc
  cpp/src/arrow/flight/transport/grpc/grpc_client.cc
  python/pyarrow/tests/test_flight.py
Labels: Component: C++, Component: Python, Component: FlightRPC

#15135 GH-15134: [Ruby] Specify -mmacox-version-min=10.14 explicitly for old Xcode
  ruby/red-arrow/ext/arrow/extconf.rb
Labels: Component: Ruby
