Repository apache/arrow, pull requests merged in 2022-06, with the labels that each got.

#13078 ARROW-15590: [C++] Add support for joins to the Substrait consumer
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: lang-c++

#12963 ARROW-16234: [C++] Vector Kernel for Rank
  cpp/src/arrow/compute/api_vector.cc
  cpp/src/arrow/compute/api_vector.h
  cpp/src/arrow/compute/kernels/vector_sort.cc
  cpp/src/arrow/compute/kernels/vector_sort_test.cc
  docs/source/cpp/compute.rst
Labels: lang-c++

#13274 ARROW-16606: [FlightRPC][Python] Handle non-lowercase header names
  cpp/src/arrow/flight/middleware.h
  python/pyarrow/_flight.pyx
  python/pyarrow/tests/test_flight.py
Labels: lang-c++, lang-python, flight

#10562 ARROW-13129: [C#] Fix TableFromRecordBatches
  csharp/src/Apache.Arrow/Table.cs
  csharp/test/Apache.Arrow.Tests/TableTests.cs
Labels: lang-csharp

#13287 ARROW-16371: [JS] Fix error iterating tables with no batches
  js/src/table.ts
  js/src/vector.ts
  js/test/unit/table-tests.ts
Labels: lang-js

#13278 ARROW-16704: [JS] Handle case where `tableFromIPC` input is an async `RecordBatchReader`
  js/src/ipc/reader.ts
  js/src/ipc/serialization.ts
  js/test/unit/ipc/serialization-tests.ts
Labels: lang-js

#13245 ARROW-16574: [C++] TSAN failure in arrow-ipc-read-write-test
  cpp/src/arrow/ipc/reader.cc
Labels: lang-c++

#13288 ARROW-16714: [C++] Remove deprecated IPC APIs
  cpp/src/arrow/ipc/options.h
  cpp/src/arrow/ipc/writer.h
Labels: lang-c++

#13136 ARROW-16556: [Go] Add Layout method to DataTypes
  go/arrow/array/array_test.go
  go/arrow/datatype.go
  go/arrow/datatype_binary.go
  go/arrow/datatype_extension.go
  go/arrow/datatype_fixedwidth.go
  go/arrow/datatype_nested.go
  go/arrow/datatype_null.go
  go/arrow/datatype_numeric.gen.go
  go/arrow/datatype_numeric.gen.go.tmpl
Labels: lang-go

#13286 ARROW-16711: [C++] Remove deprecated ORC APIs
  cpp/src/arrow/adapters/orc/adapter.cc
  cpp/src/arrow/adapters/orc/adapter.h
  cpp/src/arrow/adapters/orc/util.cc
  cpp/src/arrow/adapters/orc/util.h
Labels: lang-c++

#13281 ARROW-16685: [Python] Preserve order of columns in joins
  python/pyarrow/_exec_plan.pyx
  python/pyarrow/tests/test_table.py
Labels: lang-python

#12657 ARROW-14821: [C++] Add ceil_is_strictly_greater and calendar_based_origin temporal round options (to mimic lubridate's date rounding)
  cpp/src/arrow/compute/api_scalar.cc
  cpp/src/arrow/compute/api_scalar.h
  cpp/src/arrow/compute/kernels/scalar_temporal_test.cc
  cpp/src/arrow/compute/kernels/scalar_temporal_unary.cc
  python/pyarrow/_compute.pyx
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_compute.py
Labels: lang-c++, lang-python

#13232 ARROW-16657: [C++] Support nesting of extension-id-registries
  cpp/src/arrow/engine/CMakeLists.txt
  cpp/src/arrow/engine/substrait/ext_test.cc
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/extension_set.h
  cpp/src/arrow/engine/substrait/plan_internal.cc
  cpp/src/arrow/engine/substrait/plan_internal.h
  cpp/src/arrow/engine/substrait/util.cc
  cpp/src/arrow/engine/substrait/util.h
Labels: lang-c++

#13295 ARROW-16731: [C++] Bump version of vendored mimalloc
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Labels: lang-c++

#13306 MINOR: [C++] [Docs] Fix TableSinkNodeOptions click-able visibility in docs
  cpp/src/arrow/compute/exec/options.h
Labels: lang-c++

#13276 ARROW-16699: [C++][GANDIVA] Fix Concat_WS allocation bug
  cpp/src/gandiva/precompiled/string_ops.cc
  cpp/src/gandiva/precompiled/string_ops_test.cc
Labels: lang-c++, gandiva

#13305 ARROW-16744: [JavaScript] Fix yarn perf failure
  js/tsconfig.json
Labels: lang-js

#13323 MINOR: [R] Fix duckdb test for dbplyr 2.2.0 internals change
  r/tests/testthat/test-duckdb.R
Labels: lang-R

#13292 ARROW-16721: [C++] Drop support for bundled Thrift < 0.13
  .env
  ci/conan/all/conanfile.py
  ci/scripts/conan_build.sh
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/FindThrift.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/dbi/hiveserver2/CMakeLists.txt
  cpp/src/arrow/dbi/hiveserver2/thrift/CMakeLists.txt
  cpp/src/arrow/dbi/hiveserver2/thrift_internal.cc
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/thrift_internal.h
  dev/tasks/tasks.yml
Labels: parquet, lang-c++

#13275 ARROW-16546: [Parquet][C++][Python] Make Thrift limits configurable
  cpp/cmake_modules/SetupCxxFlags.cmake
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader.h
  cpp/src/parquet/column_writer_test.cc
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/metadata.h
  cpp/src/parquet/properties.h
  cpp/src/parquet/statistics_test.cc
  cpp/src/parquet/thrift_internal.h
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/_parquet.pxd
  python/pyarrow/_parquet.pyx
  python/pyarrow/parquet/__init__.py
  python/pyarrow/tests/parquet/test_basic.py
  python/pyarrow/tests/test_dataset.py
Labels: parquet, lang-c++, lang-python

#13309 ARROW-16726: [Python] Fix Setuptools warnings about installing packages as data
  python/setup.py
Labels: lang-python

#13060 ARROW-16243: [C++][Python] Remove Parquet ReadSchemaField method
  cpp/src/parquet/arrow/reader.h
  python/pyarrow/_parquet.pyx
Labels: parquet, lang-c++, lang-python

#13293 ARROW-16725: [C++] Fix compilation warnings in release mode
  cpp/src/arrow/compute/exec/ir_consumer.cc
  cpp/src/arrow/compute/kernels/scalar_arithmetic_test.cc
  cpp/src/arrow/compute/kernels/vector_sort.cc
  cpp/src/arrow/ipc/reader.cc
  cpp/src/arrow/python/python_to_arrow.cc
  cpp/src/arrow/testing/json_internal.cc
Labels: lang-c++

#13331 MINOR: [Python][CI] Fix Numpydoc check failure
  python/pyarrow/parquet/__init__.py
Labels: lang-python

#13315 ARROW-16729: [C++] Bump Abseil/gRPC dependency versions
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/flight/CMakeLists.txt
  cpp/src/arrow/flight/server.cc
  cpp/thirdparty/versions.txt
Labels: lang-c++, flight

#13317 ARROW-16610: [Python] Raise an error for conflicting options in pq.write_to_dataset
  python/pyarrow/parquet/__init__.py
  python/pyarrow/tests/parquet/test_dataset.py
Labels: lang-python

#13051 ARROW-14185: [C++] HashJoinNode should validate HashJoinNodeOptions
  cpp/src/arrow/compute/exec/hash_join_node.cc
  cpp/src/arrow/compute/exec/hash_join_node_test.cc
Labels: lang-c++

#13146 ARROW-16566: [Java] Initialize JNI components on use instead of statically
  java/c/src/main/java/org/apache/arrow/c/jni/JniWrapper.java
  java/dataset/src/main/java/org/apache/arrow/dataset/file/JniWrapper.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/JniWrapper.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/NativeMemoryPool.java
Labels: lang-java

#13319 ARROW-16470: [Docs][Python] Document filtering by expression Tables and Datasets
  docs/source/python/compute.rst
  docs/source/python/dataset.rst
  python/pyarrow/table.pxi
Labels: lang-python

#13338 ARROW-16761: [C++][Python] Track bytes written in dataset
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/dataset/file_base.h
  docs/source/python/api/dataset.rst
  docs/source/python/dataset.rst
  python/pyarrow/_dataset.pxd
  python/pyarrow/_dataset.pyx
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/dataset.py
  python/pyarrow/includes/libarrow_dataset.pxd
  python/pyarrow/tests/test_dataset.py
Labels: lang-c++, lang-python, docs

#13302 ARROW-16741: [C++] Add Benchmarks for Binary Temporal Operations
  cpp/src/arrow/compute/api_scalar.cc
  cpp/src/arrow/compute/api_scalar.h
  cpp/src/arrow/compute/kernels/scalar_temporal_benchmark.cc
Labels: lang-c++

#13352 ARROW-16554: [Java] Download Java nightlies artifacts from https://nightlies.apache.org/arrow/java/org/apache/arrow/
  docs/source/java/install.rst
Labels: docs

#13351 ARROW-16694: [Packaging][Python] Use Mamba instead of conda to build conda environment for windows packaging jobs
  dev/tasks/conda-recipes/azure.win.yml
Labels: docs

#13348 ARROW-16792: [C++][CMake] Add support for using Arrow options when Arrow is used as subproject
  ci/conan/all/conanfile.py
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: lang-c++

#13354 ARROW-16799: [C++] Create a self-pipe abstraction
  cpp/src/arrow/filesystem/localfs.cc
  cpp/src/arrow/filesystem/localfs_test.cc
  cpp/src/arrow/flight/server.cc
  cpp/src/arrow/io/file.cc
  cpp/src/arrow/io/file_benchmark.cc
  cpp/src/arrow/io/file_test.cc
  cpp/src/arrow/io/test_common.cc
  cpp/src/arrow/io/test_common.h
  cpp/src/arrow/testing/gtest_util.cc
  cpp/src/arrow/testing/gtest_util.h
  cpp/src/arrow/util/io_util.cc
  cpp/src/arrow/util/io_util.h
  cpp/src/arrow/util/io_util_test.cc
Labels: lang-c++, flight

#13314 ARROW-16716: [C++] Add Benchmarks for ProjectNode
  cpp/src/arrow/compute/exec/CMakeLists.txt
  cpp/src/arrow/compute/exec/project_benchmark.cc
Labels: lang-c++

#13355 ARROW-16796: [C++] Fix bad defaulting of ExecContext argument
  cpp/src/arrow/compute/exec/filter_node.cc
  cpp/src/arrow/compute/exec/hash_join.h
  cpp/src/arrow/compute/exec/hash_join_node.cc
  cpp/src/arrow/compute/exec/project_node.cc
Labels: lang-c++

#13346 ARROW-16788: [C++] Remove hardening flags gRPC doesn't support
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: lang-c++

#12763 ARROW-14892: [Python][C++] GCS Bindings
  .github/workflows/python.yml
  .travis.yml
  appveyor.yml
  ci/docker/conda-python.dockerfile
  ci/docker/debian-11-cpp.dockerfile
  ci/docker/fedora-35-cpp.dockerfile
  ci/docker/linux-apt-docs.dockerfile
  ci/docker/python-wheel-manylinux-test.dockerfile
  ci/docker/ubuntu-20.04-cpp.dockerfile
  ci/docker/ubuntu-22.04-cpp.dockerfile
  ci/scripts/install_gcs_testbench.sh
  ci/scripts/python_build.sh
  ci/scripts/python_test.sh
  ci/scripts/python_wheel_macos_build.sh
  ci/scripts/python_wheel_manylinux_build.sh
  ci/scripts/python_wheel_unix_test.sh
  cpp/src/arrow/filesystem/api.h
  cpp/src/arrow/filesystem/filesystem.cc
  cpp/src/arrow/filesystem/filesystem.h
  cpp/src/arrow/filesystem/gcsfs.cc
  cpp/src/arrow/filesystem/gcsfs.h
  cpp/src/arrow/filesystem/gcsfs_internal.cc
  cpp/src/arrow/filesystem/gcsfs_test.cc
  cpp/src/arrow/util/config.h.cmake
  dev/archery/archery/cli.py
  dev/archery/archery/lang/cpp.py
  dev/release/verify-release-candidate.sh
  dev/tasks/conda-recipes/arrow-cpp/bld-pyarrow.bat
  dev/tasks/conda-recipes/arrow-cpp/build-pyarrow.sh
  dev/tasks/homebrew-formulae/apache-arrow.rb
  dev/tasks/python-wheels/github.osx.amd64.yml
  dev/tasks/python-wheels/github.osx.arm64.yml
  dev/tasks/tasks.yml
  python/CMakeLists.txt
  python/asv-build.sh
  python/pyarrow/_fs.pyx
  python/pyarrow/_gcsfs.pyx
  python/pyarrow/conftest.py
  python/pyarrow/fs.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/includes/libarrow_fs.pxd
  python/pyarrow/tests/conftest.py
  python/pyarrow/tests/test_fs.py
  python/pyarrow/tests/test_pandas.py
  python/pyarrow/types.pxi
  python/setup.py
Labels: lang-c++, lang-python

#13370 MINOR: [C++][Docs] Fix comment typo in row_wise_conversion_example example
  cpp/examples/arrow/row_wise_conversion_example.cc
Labels: lang-c++

#13369 MINOR: [Python][Docs] Fix typo and add Returns for new_file/new_stream
  docs/source/python/getstarted.rst
  python/pyarrow/ipc.py
Labels: lang-python, docs

#13365 MINOR: [Python] Fix FlightServerBase docstring
  python/pyarrow/_flight.pyx
Labels: lang-python, flight

#13108 ARROW-15415: [C++] Fixes for MSVC + vcpkg Debug build
  cpp/cmake_modules/FindThrift.cmake
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/hash_join.cc
  cpp/src/arrow/compute/exec/hash_join.h
  cpp/src/arrow/compute/exec/hash_join_node.cc
  cpp/src/arrow/compute/function.cc
  cpp/src/arrow/compute/light_array_test.cc
  cpp/src/arrow/util/tracing.cc
  cpp/src/arrow/util/tracing.h
  cpp/src/arrow/util/tracing_internal.cc
  cpp/src/arrow/util/tracing_internal.h
Labels: lang-R, lang-java, parquet, lang-go, lang-c++, lang-python, lang-ruby, flight, gandiva

#13374 ARROW-16623: [GLib] Add GArrowQuantileOptions
  c_glib/arrow-glib/compute.cpp
  c_glib/arrow-glib/compute.h
  c_glib/arrow-glib/compute.hpp
  c_glib/arrow-glib/version.h.in
  c_glib/doc/arrow-glib/arrow-glib-docs.xml
  c_glib/test/test-utf8-normalize-options.rb
Labels: lang-c-glib

#13279 ARROW-16660: [C#] Add support for Time32Array and Time64Array
  csharp/src/Apache.Arrow/Arrays/ArrowArrayBuilderFactory.cs
  csharp/src/Apache.Arrow/Arrays/ArrowArrayFactory.cs
  csharp/src/Apache.Arrow/Arrays/Time32Array.cs
  csharp/src/Apache.Arrow/Arrays/Time64Array.cs
  csharp/src/Apache.Arrow/Ipc/ArrowStreamWriter.cs
  csharp/src/Apache.Arrow/RecordBatch.Builder.cs
  csharp/test/Apache.Arrow.IntegrationTest/IntegrationCommand.cs
  csharp/test/Apache.Arrow.Tests/ArrayBuilderTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowArrayTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowReaderVerifier.cs
  csharp/test/Apache.Arrow.Tests/TableTests.cs
  csharp/test/Apache.Arrow.Tests/TestData.cs
  dev/archery/archery/integration/datagen.py
  docs/source/status.rst
Labels: lang-csharp, docs

#13298 ARROW-16738: [C++][Gandiva] Fix TO_TIMESTAMP(INTEGER) function for big integer values
  cpp/src/gandiva/precompiled/time.cc
  cpp/src/gandiva/precompiled/time_test.cc
  cpp/src/gandiva/tests/date_time_test.cc
Labels: lang-c++, gandiva

#13345 ARROW-16789: [Format] Remove experimental marker from C Streaming Interface
  cpp/src/arrow/c/abi.h
  cpp/src/arrow/c/bridge.h
  docs/source/format/CStreamInterface.rst
  docs/source/status.rst
  go/arrow/cdata/arrow/c/abi.h
  go/arrow/cdata/cdata.go
  java/c/src/main/cpp/abi.h
  python/pyarrow/ipc.pxi
Labels: lang-java, lang-go, lang-c++, lang-python, docs

#13244 ARROW-12626: [C++] Support toolchain xsimd, update toolchain version to version 8.1.0
  .env
  ci/conan/all/conanfile.py
  ci/conda_env_cpp.txt
  ci/docker/debian-10-cpp.dockerfile
  ci/docker/debian-11-cpp.dockerfile
  ci/docker/fedora-35-cpp.dockerfile
  ci/docker/python-wheel-manylinux-201x.dockerfile
  ci/docker/python-wheel-windows-vs2017.dockerfile
  ci/docker/ubuntu-18.04-cpp.dockerfile
  ci/docker/ubuntu-20.04-cpp.dockerfile
  ci/docker/ubuntu-22.04-cpp.dockerfile
  ci/scripts/cpp_build.sh
  ci/scripts/python_wheel_macos_build.sh
  ci/scripts/python_wheel_manylinux_build.sh
  ci/scripts/python_wheel_windows_build.bat
  ci/vcpkg/ports.patch
  ci/vcpkg/vcpkg.json
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
  cpp/vcpkg.json
  dev/archery/archery/docker/cli.py
  dev/archery/archery/docker/core.py
  dev/tasks/conda-recipes/arrow-cpp/meta.yaml
  dev/tasks/conda-recipes/azure.osx.yml
  dev/tasks/macros.jinja
  dev/tasks/python-wheels/github.osx.amd64.yml
  dev/tasks/python-wheels/github.osx.arm64.yml
  dev/tasks/python-wheels/github.windows.yml
  docker-compose.yml
Labels: lang-c++

#13362 ARROW-16801: [CI][C++] Use the specified MinIO instead of MinIO from Homewbrew
  .github/workflows/cpp.yml
  cpp/Brewfile
Labels: lang-c++

#13389 ARROW-16751: [C++] Fix ucx target error on cmake3.5
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: lang-c++

#13388 ARROW-16839: [CI][C++] Fix xsimd missing related failures
  cpp/examples/minimal_build/run_static.sh
  cpp/vcpkg.json
  dev/tasks/tasks.yml
  r/inst/build_arrow_static.sh
Labels: lang-R, lang-c++

#13373 ARROW-16717: [C++] Add support for system jemalloc
  ci/conan/all/conanfile.py
  ci/scripts/conan_build.sh
  cpp/CMakeLists.txt
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/Findjemalloc.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/memory_pool.cc
  cpp/src/arrow/memory_pool_internal.h
  cpp/src/arrow/memory_pool_jemalloc.cc
  cpp/src/arrow/memory_pool_test.cc
  cpp/src/arrow/util/config.h.cmake
  dev/tasks/linux-packages/apache-arrow/apt/debian-bookworm/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/debian-bullseye/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/debian-buster/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-bionic/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-focal/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-impish/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-jammy/Dockerfile
  dev/tasks/linux-packages/apache-arrow/debian/control.in
  dev/tasks/linux-packages/apache-arrow/debian/libarrow-dev.install
  dev/tasks/linux-packages/apache-arrow/debian/rules
  dev/tasks/linux-packages/apache-arrow/yum/almalinux-8/Dockerfile
  dev/tasks/linux-packages/apache-arrow/yum/almalinux-9/Dockerfile
  dev/tasks/linux-packages/apache-arrow/yum/amazon-linux-2/Dockerfile
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
  dev/tasks/linux-packages/apache-arrow/yum/centos-7/Dockerfile
  dev/tasks/linux-packages/apache-arrow/yum/centos-8-stream/Dockerfile
  dev/tasks/tasks.yml
Labels: lang-c++

#13327 ARROW-16706: [Python] Expose RankOptions
  python/pyarrow/_compute.pyx
  python/pyarrow/compute.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_compute.py
Labels: lang-python

#13379 ARROW-16803: [R][CI] Fix caching for R mingw build
  .github/workflows/r.yml
  ci/scripts/ccache_setup.sh
  ci/scripts/r_test.sh
  docker-compose.yml
  r/R/arrow-tabular.R
  r/R/dataset-format.R
  r/R/dplyr-datetime-helpers.R
  r/R/dplyr-mutate.R
Labels: lang-R

#13332 ARROW-16713: [C++] Pull join accumulation outside of HashJoinImpl
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/exec/accumulation_queue.cc
  cpp/src/arrow/compute/exec/accumulation_queue.h
  cpp/src/arrow/compute/exec/hash_join.cc
  cpp/src/arrow/compute/exec/hash_join.h
  cpp/src/arrow/compute/exec/hash_join_benchmark.cc
  cpp/src/arrow/compute/exec/hash_join_node.cc
Labels: lang-c++

#13252 ARROW-16677: [C++] Support nesting of function registries
  cpp/src/arrow/compute/registry.cc
  cpp/src/arrow/compute/registry.h
  cpp/src/arrow/compute/registry_test.cc
Labels: lang-c++

#13342 ARROW-16382: [Python] Disable memory mapping by default in pyarrow
  python/pyarrow/_parquet.pyx
  python/pyarrow/feather.py
  python/pyarrow/ipc.pxi
  python/pyarrow/ipc.py
  python/pyarrow/serialization.pxi
Labels: lang-python

#13398 ARROW-16824: [C++] Migrate VectorKernels to use ExecSpan, split out ChunkedArray execution
  cpp/src/arrow/array/array_primitive.cc
  cpp/src/arrow/array/data.cc
  cpp/src/arrow/builder.cc
  cpp/src/arrow/compare.cc
  cpp/src/arrow/compute/api_vector.cc
  cpp/src/arrow/compute/api_vector.h
  cpp/src/arrow/compute/exec.cc
  cpp/src/arrow/compute/exec.h
  cpp/src/arrow/compute/exec/expression.cc
  cpp/src/arrow/compute/exec/hash_join.cc
  cpp/src/arrow/compute/exec/hash_join_dict.cc
  cpp/src/arrow/compute/exec/hash_join_node_test.cc
  cpp/src/arrow/compute/exec/tpch_node.cc
  cpp/src/arrow/compute/exec_internal.h
  cpp/src/arrow/compute/function.cc
  cpp/src/arrow/compute/function.h
  cpp/src/arrow/compute/function_test.cc
  cpp/src/arrow/compute/kernel.h
  cpp/src/arrow/compute/kernels/aggregate_mode.cc
  cpp/src/arrow/compute/kernels/aggregate_quantile.cc
  cpp/src/arrow/compute/kernels/codegen_internal.cc
  cpp/src/arrow/compute/kernels/codegen_internal.h
  cpp/src/arrow/compute/kernels/copy_data_internal.h
  cpp/src/arrow/compute/kernels/row_encoder.cc
  cpp/src/arrow/compute/kernels/row_encoder.h
  cpp/src/arrow/compute/kernels/scalar_arithmetic.cc
  cpp/src/arrow/compute/kernels/scalar_cast_boolean.cc
  cpp/src/arrow/compute/kernels/scalar_compare.cc
  cpp/src/arrow/compute/kernels/scalar_if_else.cc
  cpp/src/arrow/compute/kernels/scalar_string_ascii.cc
  cpp/src/arrow/compute/kernels/util_internal.cc
  cpp/src/arrow/compute/kernels/util_internal.h
  cpp/src/arrow/compute/kernels/vector_array_sort.cc
  cpp/src/arrow/compute/kernels/vector_cumulative_ops.cc
  cpp/src/arrow/compute/kernels/vector_cumulative_ops_test.cc
  cpp/src/arrow/compute/kernels/vector_hash.cc
  cpp/src/arrow/compute/kernels/vector_nested.cc
  cpp/src/arrow/compute/kernels/vector_replace.cc
  cpp/src/arrow/compute/kernels/vector_replace_test.cc
  cpp/src/arrow/compute/kernels/vector_selection.cc
  cpp/src/arrow/compute/row/grouper.cc
  cpp/src/arrow/ipc/metadata_internal.cc
  cpp/src/arrow/ipc/read_write_test.cc
  cpp/src/arrow/ipc/reader.cc
  cpp/src/arrow/ipc/tensor_test.cc
  cpp/src/arrow/ipc/writer.cc
  cpp/src/arrow/python/arrow_to_pandas.cc
  cpp/src/arrow/sparse_tensor.cc
  cpp/src/arrow/tensor.cc
  cpp/src/arrow/tensor/coo_converter.cc
  cpp/src/arrow/tensor/csf_converter.cc
  cpp/src/arrow/tensor/csx_converter.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
  cpp/src/arrow/util/bitmap_ops.cc
  cpp/src/arrow/util/bitmap_ops.h
  cpp/src/arrow/util/bitmap_reader.h
  r/tests/testthat/test-compute-vector.R
Labels: lang-R, lang-c++

#13356 ARROW-16800: [C++] RecordBatchBuilder deprecate Status APIs, add Result APIs
  c_glib/arrow-glib/table-builder.cpp
  cpp/src/arrow/adapters/orc/adapter.cc
  cpp/src/arrow/table_builder.cc
  cpp/src/arrow/table_builder.h
  cpp/src/arrow/table_builder_test.cc
  docs/source/cpp/api/builder.rst
Labels: lang-c++, lang-c-glib, docs

#13344 ARROW-16686: [C++] Use shared_ptr with FunctionOptions
  c_glib/arrow-glib/compute.cpp
  cpp/examples/arrow/execution_plan_documentation_examples.cc
  cpp/src/arrow/compute/api_aggregate.h
  cpp/src/arrow/compute/exec/aggregate.cc
  cpp/src/arrow/compute/exec/aggregate_node.cc
  cpp/src/arrow/compute/exec/plan_test.cc
  cpp/src/arrow/compute/exec/tpch_benchmark.cc
  cpp/src/arrow/compute/kernels/hash_aggregate_test.cc
  python/pyarrow/_compute.pyx
  python/pyarrow/includes/libarrow.pxd
  r/src/compute-exec.cpp
Labels: lang-R, lang-c++, lang-python, lang-c-glib

#13407 ARROW-16869: [CI][C++][Homebrew] Build Apache Arrow with C++17
  dev/tasks/homebrew-formulae/apache-arrow.rb
Labels: lang-c++

#13359 ARROW-16794: [CI][C++][MinGW] Make CI jobs more stable
  .github/workflows/cpp.yml
  .github/workflows/ruby.yml
  ci/scripts/msys2_setup.sh
  cpp/src/arrow/io/hdfs_test.cc
  cpp/src/arrow/util/io_util.cc
Labels: lang-c++

#13383 ARROW-16769: [C++] Add Warn() function to Status
  cpp/src/arrow/filesystem/hdfs.cc
  cpp/src/arrow/flight/client.cc
  cpp/src/arrow/flight/server.cc
  cpp/src/arrow/flight/transport/ucx/ucx_client.cc
  cpp/src/arrow/flight/transport/ucx/ucx_server.cc
  cpp/src/arrow/io/hdfs.cc
  cpp/src/arrow/python/flight.cc
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch_test.cc
  cpp/src/arrow/status.cc
  cpp/src/arrow/status.h
  cpp/src/arrow/status_test.cc
  cpp/src/arrow/util/io_util.cc
  cpp/src/arrow/util/logging.h
Labels: lang-c++, flight

#13308 ARROW-16666: [Docs][Release] Update release guide to specify new workflow and feature freeze
  docs/source/developers/release.rst
Labels: docs

#13418 ARROW-16875: [Ruby] Add Column#cast and ChunkedArray#cast
  ruby/red-arrow/lib/arrow/array.rb
  ruby/red-arrow/lib/arrow/chunked-array.rb
  ruby/red-arrow/lib/arrow/column.rb
  ruby/red-arrow/test/test-chunked-array.rb
  ruby/red-arrow/test/test-column.rb
Labels: lang-ruby

#13419 ARROW-16383: [C++] Disable memory mapping by default in Arrow-C++
  cpp/src/parquet/file_reader.h
Labels: parquet, lang-c++

#13416 ARROW-16092: [Python] Address docstrings in Filesystems (Implementations)
  python/pyarrow/_fs.pyx
  python/pyarrow/_hdfs.pyx
  python/pyarrow/_s3fs.pyx
Labels: lang-python

#13429 ARROW-16895: [R] Fix cmake version detection
  r/tools/nixlibs.R
Labels: lang-R

#13432 ARROW-16900: [R] Upgrade lintr
  ci/docker/linux-apt-lint.dockerfile
  r/.lintr
  r/lint.sh
  r/vignettes/developers/workflow.Rmd
Labels: lang-R

#13387 ARROW-14771: [C++] Export Protobuf symbol table
  cpp/src/arrow/symbols.map
Labels: lang-c++

#13402 ARROW-16898: [Python] Fix pandas conversion failure when using non-str index name
  python/pyarrow/pandas_compat.py
  python/pyarrow/tests/test_pandas.py
Labels: lang-python

#13404 ARROW-16510: [R] Add bindings for GCS filesystem
  .github/workflows/cpp.yml
  .github/workflows/r.yml
  ci/scripts/PKGBUILD
  ci/scripts/r_windows_build.sh
  cpp/build-support/google-cloud-cpp-curl-static-windows.patch
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/filesystem/gcsfs.h
  cpp/src/arrow/filesystem/type_fwd.h
  cpp/thirdparty/versions.txt
  dev/tasks/homebrew-formulae/autobrew/apache-arrow.rb
  dev/tasks/r/github.macos.brew.yml
  dev/tasks/tasks.yml
  r/R/arrow-info.R
  r/R/arrowExports.R
  r/R/filesystem.R
  r/configure
  r/configure.win
  r/data-raw/codegen.R
  r/inst/build_arrow_static.sh
  r/src/arrowExports.cpp
  r/src/filesystem.cpp
  r/tests/testthat/test-gcs.R
  r/tools/autobrew
  r/tools/nixlibs.R
  r/vignettes/developers/setup.Rmd
  r/vignettes/install.Rmd
Labels: lang-R, lang-c++

#13436 MINOR: [Docs] Use endpoint_override in code example for minIO
  docs/source/python/dataset.rst
Labels: docs

#12333 ARROW-15568: [C++][Gandiva] Implement Translate Function
  cpp/src/gandiva/function_registry_string.cc
  cpp/src/gandiva/gdv_function_stubs.h
  cpp/src/gandiva/gdv_function_stubs_test.cc
  cpp/src/gandiva/gdv_string_function_stubs.cc
  cpp/src/gandiva/tests/projector_test.cc
Labels: lang-c++, gandiva

#13150 ARROW-16549: [C++] Simplify AggregateNodeOptions aggregates/targets
  c_glib/arrow-glib/compute.cpp
  c_glib/arrow-glib/compute.h
  cpp/examples/arrow/execution_plan_documentation_examples.cc
  cpp/src/arrow/compute/api_aggregate.h
  cpp/src/arrow/compute/exec/aggregate.cc
  cpp/src/arrow/compute/exec/aggregate.h
  cpp/src/arrow/compute/exec/aggregate_node.cc
  cpp/src/arrow/compute/exec/ir_consumer.cc
  cpp/src/arrow/compute/exec/ir_test.cc
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/plan_test.cc
  cpp/src/arrow/compute/exec/test_util.cc
  cpp/src/arrow/compute/exec/tpch_benchmark.cc
  cpp/src/arrow/compute/kernels/aggregate_benchmark.cc
  cpp/src/arrow/compute/kernels/hash_aggregate_test.cc
  cpp/src/arrow/dataset/scanner.cc
  cpp/src/arrow/dataset/scanner_test.cc
  python/pyarrow/includes/libarrow.pxd
  r/R/arrowExports.R
  r/R/query-engine.R
  r/src/arrowExports.cpp
  r/src/compute-exec.cpp
Labels: lang-R, lang-c++, lang-python, lang-c-glib

#13433 ARROW-16600: [Java] Configurable RoundingMode to handle inconsistent scale in BigDecimals
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowConfig.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowConfigBuilder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowUtils.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/consumer/DecimalConsumer.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowTest.java
Labels: lang-java

#13438 ARROW-16877: [C++] Define custom printer for Registry tests to fix valgrind
  cpp/src/arrow/compute/registry_test.cc
Labels: lang-c++

#13439 MINOR: [C++][Dev] Remove unused Hive flag
  dev/archery/archery/lang/cpp.py
  docs/source/developers/cpp/building.rst
Labels: docs

#13443 MINOR: [Docs][Python] Remove outdated reference to libhdfs3 backend
  docs/source/developers/python.rst
  docs/source/python/filesystems_deprecated.rst
Labels: docs

#13109 ARROW-15365: [Python] Expose full cast options in the pyarrow.compute.cast function
  python/pyarrow/_compute.pyx
  python/pyarrow/array.pxi
  python/pyarrow/compute.py
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_compute.py
Labels: lang-python

#13455 ARROW-16864: [Python] Allow omitting S3 external_id and session_name with role_arn
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs.h
  python/pyarrow/_s3fs.pyx
  python/pyarrow/tests/test_fs.py
Labels: lang-c++, lang-python

#13394 ARROW-16850: [C++] Copy CSV data field and end chars separately
  cpp/src/arrow/csv/writer.cc
Labels: lang-c++

#13196 ARROW-16407: [R] Extend `parse_date_time` to cover hour, dates, and minutes components
  r/NEWS.md
  r/R/dplyr-datetime-helpers.R
  r/R/dplyr-funcs-datetime.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
Labels: lang-R, docs

#13451 ARROW-16926: [Go] Fix csv reader errors clobbered by subsequent reads
  go/arrow/csv/reader.go
  go/arrow/csv/reader_test.go
Labels: lang-go

#13461 ARROW-16873: [Python] Disable faulthandler on spawned child subprocess on run_debug_memory_pool tests
  python/pyarrow/tests/test_memory.py
Labels: lang-python

#13466 ARROW-16933: [C++] Fix google-cloud-cpp build with bundled zlib
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: lang-c++

#13459 ARROW-16931: [Ruby] Add support for nullable in Arrow::Field
  ruby/red-arrow/lib/arrow/field.rb
  ruby/red-arrow/test/test-field.rb
Labels: lang-ruby

#13444 ARROW-16906: [CI][C++] Enable ARROW_GCS on MinGW workflows
  .github/workflows/cpp.yml
  ci/scripts/cpp_test.sh
  ci/scripts/install_gcs_testbench.sh
  ci/scripts/msys2_setup.sh
  cpp/src/arrow/filesystem/gcsfs_internal.h
  cpp/src/arrow/filesystem/gcsfs_test.cc
  cpp/src/arrow/filesystem/s3_test_util.cc
  cpp/src/arrow/flight/test_util.cc
Labels: lang-c++, flight

#13437 ARROW-16872: [C++] Fix CSV parser edge case
  cpp/src/arrow/csv/parser.cc
  cpp/src/arrow/csv/parser_test.cc
Labels: lang-c++

#13463 ARROW-16934: [Go][Parquet] Fix TODO. Add json and csv, add params to set output and turn off metadata
  go/parquet/cmd/parquet_reader/README.md
  go/parquet/cmd/parquet_reader/dumper.go
  go/parquet/cmd/parquet_reader/main.go
  go/parquet/cmd/parquet_reader/v0.7.1.parquet
Labels: lang-go, docs

#13476 ARROW-16938: [GLib] Add girdir/vapidir to .pc
  c_glib/arrow-cuda-glib/meson.build
  c_glib/arrow-dataset-glib/meson.build
  c_glib/arrow-flight-glib/meson.build
  c_glib/arrow-glib/meson.build
  c_glib/gandiva-glib/meson.build
  c_glib/meson.build
  c_glib/parquet-glib/meson.build
  c_glib/plasma-glib/meson.build
Labels: parquet, gandiva, lang-c-glib

#13375 ARROW-16823: [C++] Arrow Substrait enhancements for UDF
  cpp/src/arrow/compute/registry.h
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/extension_set.h
  cpp/src/arrow/engine/substrait/plan_internal.cc
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/serde.cc
  cpp/src/arrow/engine/substrait/serde.h
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/engine/substrait/util.cc
  cpp/src/arrow/engine/substrait/util.h
Labels: lang-c++
