Repository apache/arrow, pull requests merged in 2022-08, with the labels that each got.

#13755 ARROW-17266: [Doc] Java nightlies file prefix changed
  docs/source/java/install.rst
Labels: docs

#13767 ARROW-17274: [GO] Remove panic from parquet.file.RowGroupReader.Column(index int)
  go/parquet/cmd/parquet_reader/main.go
  go/parquet/encryption_read_config_test.go
  go/parquet/file/file_writer_test.go
  go/parquet/file/row_group_reader.go
  go/parquet/pqarrow/encode_arrow_test.go
Labels: lang-go

#13766 ARROW-17270: [Docs] Move nightly package instructions to dev docs
  docs/source/developers/java/building.rst
  docs/source/developers/python.rst
  docs/source/java/install.rst
  docs/source/python/install.rst
Labels: docs

#13756 ARROW-17228: [Python] dataset.write_data should use Scanner.projected_schema when passed a scanner with projected columns
  python/pyarrow/dataset.py
  python/pyarrow/tests/test_dataset.py
Labels: lang-python

#13737 ARROW-17214: [C++] Add scalar casts to string types for list based types
  c_glib/test/test-list-scalar.rb
  c_glib/test/test-map-scalar.rb
  cpp/src/arrow/scalar.cc
  cpp/src/arrow/scalar_test.cc
Labels: lang-c++, lang-c-glib

#13777 MINOR: [Documentation] Added DARROW_FLIGHT_SQL to C++ optional components
  docs/source/developers/cpp/building.rst
Labels: docs

#13764 ARROW-17253: [Python] Detect iterator exception instead of crashing
  cpp/src/arrow/python/python_to_arrow.cc
  python/pyarrow/tests/test_convert_builtin.py
Labels: lang-c++, lang-python

#13772 ARROW-17273: [Go][CSV] Add Timestamp, Date32, Date64 format support to csv.Writer
  go/arrow/csv/common.go
  go/arrow/csv/writer.go
  go/arrow/csv/writer_test.go
Labels: lang-go

#13776 ARROW-17269: [Java] implemented TransferPair methods in MapVector to get correct valuevector as mapvector instead of listvector
  java/vector/src/main/java/org/apache/arrow/vector/complex/ListVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/MapVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestMapVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestSplitAndTransfer.java
Labels: lang-java

#13690 ARROW-17088: [R] Use `.arrow` as extension of IPC files of datasets
  r/R/dataset-write.R
  r/man/write_dataset.Rd
  r/tests/testthat/test-dataset-write.R
Labels: lang-R

#13778 ARROW-17282: [Python] flake8 update fails linter CI
  .pre-commit-config.yaml
  dev/archery/archery/utils/command.py
  python/pyarrow/parquet/__init__.py
  python/pyarrow/tests/parquet/encryption.py
  python/pyarrow/tests/parquet/test_encryption.py
  python/pyarrow/tests/test_ipc.py
Labels: lang-python

#13770 ARROW-17275: [Go][Integration] Handle Large offset types in IPC read/write
  ci/scripts/go_test.sh
  dev/archery/archery/integration/datagen.py
  docs/source/status.rst
  go/arrow/array/array.go
  go/arrow/array/array_test.go
  go/arrow/array/binary.go
  go/arrow/array/builder.go
  go/arrow/array/compare.go
  go/arrow/array/concat.go
  go/arrow/array/concat_test.go
  go/arrow/array/list.go
  go/arrow/array/list_test.go
  go/arrow/array/string.go
  go/arrow/cdata/cdata.go
  go/arrow/cdata/cdata_exports.go
  go/arrow/cdata/cdata_test.go
  go/arrow/cdata/cdata_test_framework.go
  go/arrow/datatype.go
  go/arrow/datatype_binary.go
  go/arrow/datatype_nested.go
  go/arrow/internal/arrdata/arrdata.go
  go/arrow/internal/arrjson/arrjson.go
  go/arrow/internal/arrjson/arrjson_test.go
  go/arrow/ipc/endian_swap.go
  go/arrow/ipc/file_reader.go
  go/arrow/ipc/metadata.go
  go/arrow/ipc/writer.go
  go/arrow/scalar/binary.go
  go/arrow/scalar/nested.go
  go/arrow/scalar/numeric.gen.go
  go/arrow/scalar/numeric.gen.go.tmpl
  go/arrow/scalar/parse.go
  go/arrow/scalar/scalar.go
Labels: lang-go, docs

#13790 ARROW-17296: [Python] Update serialized metadata size in pyarrow.parquet.read_metadata doctest
  python/pyarrow/parquet/__init__.py
Labels: lang-python

#13385 ARROW-16521 [C++][Python] Configure curl timeout policy for S3
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs.h
  python/pyarrow/_s3fs.pyx
  python/pyarrow/includes/libarrow_fs.pxd
  python/pyarrow/tests/test_fs.py
Labels: lang-c++, lang-python

#13795 MINOR: [C++] Fix MSVC compiler error
  cpp/src/arrow/filesystem/s3fs.cc
Labels: lang-c++

#13710 ARROW-17199: [Java][FlightRPC] Clean up Flight SQL example server
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/FlightSqlClient.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/sql/example/FlightSqlExample.java
Labels: lang-java

#13768 ARROW-3678: [Go] Implement Union Arrays
  .gitattributes
  go/arrow/array/array.go
  go/arrow/array/array_test.go
  go/arrow/array/binarybuilder.go
  go/arrow/array/booleanbuilder.go
  go/arrow/array/bufferbuilder_numeric.gen.go
  go/arrow/array/builder.go
  go/arrow/array/compare.go
  go/arrow/array/decimal128.go
  go/arrow/array/dictionary.go
  go/arrow/array/extension.go
  go/arrow/array/fixed_size_list.go
  go/arrow/array/fixedsize_binarybuilder.go
  go/arrow/array/float16_builder.go
  go/arrow/array/interval.go
  go/arrow/array/list.go
  go/arrow/array/map.go
  go/arrow/array/null.go
  go/arrow/array/numericbuilder.gen.go
  go/arrow/array/numericbuilder.gen.go.tmpl
  go/arrow/array/string.go
  go/arrow/array/struct.go
  go/arrow/array/union.go
  go/arrow/array/union_test.go
  go/arrow/bitutil/Makefile
  go/arrow/bitutil/_lib/bitmap_ops.c
  go/arrow/bitutil/_lib/bitmap_ops_avx2_amd64.s
  go/arrow/bitutil/_lib/bitmap_ops_sse4_amd64.s
  go/arrow/bitutil/bitmap_ops.go
  go/arrow/bitutil/bitmap_ops_amd64.go
  go/arrow/bitutil/bitmap_ops_arm64.go
  go/arrow/bitutil/bitmap_ops_avx2_amd64.go
  go/arrow/bitutil/bitmap_ops_avx2_amd64.s
  go/arrow/bitutil/bitmap_ops_noasm.go
  go/arrow/bitutil/bitmap_ops_s390x.go
  go/arrow/bitutil/bitmap_ops_sse4_amd64.go
  go/arrow/bitutil/bitmap_ops_sse4_amd64.s
  go/arrow/bitutil/bitmaps.go
  go/arrow/bitutil/bitmaps_test.go
  go/arrow/compare.go
  go/arrow/datatype_nested.go
  go/arrow/example_test.go
  go/arrow/internal/arrdata/arrdata.go
  go/arrow/numeric.tmpldata
  go/go.mod
  go/go.sum
  go/internal/bitutils/bitmap_generate.go
  go/internal/bitutils/bitmap_generate_test.go
Labels: lang-go

#13794 ARROW-17305: [C++] Avoid spending time in popcount in BitmapAnd benchmark
  cpp/src/arrow/util/bit_util_benchmark.cc
Labels: lang-c++

#13731 ARROW-17193: [C++] Add support for finding system Abseil
  ci/docker/debian-10-cpp.dockerfile
  ci/docker/debian-11-cpp.dockerfile
  ci/docker/fedora-35-cpp.dockerfile
  ci/docker/ubuntu-20.04-cpp.dockerfile
  ci/docker/ubuntu-22.04-cpp.dockerfile
  ci/scripts/cpp_build.sh
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: lang-c++

#13758 ARROW-17321: [JS] Update dependencies
  js/.eslintrc.cjs
  js/gulp/arrow-task.js
  js/gulp/clean-task.js
  js/gulp/test-task.js
  js/gulpfile.js
  js/package.json
  js/src/util/bn.ts
  js/test.ts
  js/typedoc.json
  js/yarn.lock
Labels: lang-js

#13798 ARROW-17310: [C++] Expose RBR:Make() from Iterator<RB>
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch.h
Labels: lang-c++

#13807 ARROW-17323: [Go] Cleanup and upgrade dependencies
  go/arrow/internal/arrdata/arrdata.go
  go/go.mod
  go/go.sum
  go/parquet/file/file_reader.go
  go/parquet/file/file_reader_mmap.go
  go/parquet/file/file_reader_mmap_windows.go
Labels: lang-go

#13788 ARROW-17297: [Java][Doc] Adding documentation to interact between C++ to Java via C Data Interface
  docs/source/java/cdata.rst
Labels: docs

#13805 ARROW-17315: [Release][Docs] Update versions.json by post version bump
  dev/release/post-11-bump-versions-test.rb
  dev/release/utils-prepare.sh
  docs/source/_static/versions.json
  r/pkgdown/assets/versions.json
Labels: lang-R, docs

#13808 MINOR: [C++][Docs] Adds link in "Using Arrow C++ in your own project" to Arrow install page
  docs/source/cpp/build_system.rst
Labels: docs

#13809 MINOR: [Dev][JS] Fix lint issues introduced
  dev/archery/archery/integration/datagen.py
  js/test.ts
Labels: lang-js

#13775 ARROW-17280: [C++] Move vendored flatbuffers to private namespace
  cpp/thirdparty/flatbuffers/README.md
  cpp/thirdparty/flatbuffers/include/flatbuffers/base.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/flatbuffers.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/stl_emulation.h
Labels: lang-c++, docs

#13793 ARROW-16356: [Python] Expose RandomAccessFile::GetStream
  cpp/src/arrow/io/interfaces.cc
  cpp/src/arrow/io/interfaces.h
  cpp/src/arrow/io/memory_test.cc
  cpp/src/parquet/properties.cc
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/io.pxi
  python/pyarrow/tests/test_io.py
Labels: parquet, lang-c++, lang-python

#13660 MINOR: [Python] Fix memory_map() docstring
  python/pyarrow/io.pxi
Labels: lang-python

#13816 ARROW-17340: [Go] Use `T.TempDir` to create temporary test directory
  go/arrow/arrio/arrio_test.go
  go/arrow/internal/arrjson/arrjson_test.go
  go/arrow/ipc/cmd/arrow-cat/main_test.go
  go/arrow/ipc/cmd/arrow-file-to-stream/main_test.go
  go/arrow/ipc/cmd/arrow-json-integration-test/main_test.go
  go/arrow/ipc/cmd/arrow-ls/main_test.go
  go/arrow/ipc/cmd/arrow-stream-to-file/main_test.go
  go/arrow/ipc/file_test.go
  go/arrow/ipc/stream_test.go
Labels: lang-go

#13806 ARROW-17276: [Go][Integration] Implement IPC handling for union type
  .gitattributes
  dev/archery/archery/integration/datagen.py
  dev/release/rat_exclude_files.txt
  docs/source/status.rst
  go/arrow/array/union.go
  go/arrow/bitutil/bitmaps_test.go
  go/arrow/datatype_nested.go
  go/arrow/doc.go
  go/arrow/internal/arrdata/arrdata.go
  go/arrow/internal/arrjson/arrjson.go
  go/arrow/internal/arrjson/arrjson_test.go
  go/arrow/ipc/cmd/arrow-json-integration-test/main.go
  go/arrow/ipc/endian_swap.go
  go/arrow/ipc/file_reader.go
  go/arrow/ipc/metadata.go
  go/arrow/ipc/writer.go
  go/arrow/unionmode_string.go
Labels: lang-go, docs

#13757 ARROW-17256 [Python] Can't call combine_chunks on empty ChunkedArray
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: lang-python

#13802 ARROW-17106: [Python] Move init code to core and expose only API
  python/pyarrow/parquet/__init__.py
  python/pyarrow/parquet/core.py
Labels: lang-python

#13811 ARROW-17303: [Java][Dataset] Read Arrow IPC files by NativeDatasetFactory (#13760)
  java/dataset/src/main/cpp/jni_wrapper.cc
  java/dataset/src/main/java/org/apache/arrow/dataset/file/FileFormat.java
  java/dataset/src/test/java/org/apache/arrow/dataset/file/TestFileSystemDataset.java
Labels: lang-java

#13301 ARROW-16740: [C++] Remove IR Consumer
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/exec/CMakeLists.txt
  cpp/src/arrow/compute/exec/ir_consumer.cc
  cpp/src/arrow/compute/exec/ir_consumer.h
  cpp/src/arrow/compute/exec/ir_test.cc
  cpp/src/arrow/compute/exec/test_util.cc
  cpp/src/generated/Expression_generated.h
  cpp/src/generated/Literal_generated.h
  cpp/src/generated/Plan_generated.h
  cpp/src/generated/Relation_generated.h
  experimental/computeir/Expression.fbs
  experimental/computeir/Literal.fbs
  experimental/computeir/Plan.fbs
  experimental/computeir/Relation.fbs
Labels: lang-c++

#13818 MINOR: [Docs] Fix a typo
  docs/source/developers/cpp/windows.rst
Labels: docs

#13813 ARROW-17281: [C++] Fix cache size reporting on Windows
  cpp/src/arrow/util/cpu_info.cc
Labels: lang-c++

#13819 ARROW-17341: [C++] Fix cpu_info.cc build error on musl libc
  cpp/src/arrow/util/cpu_info.cc
Labels: lang-c++

#13678 ARROW-17113: [Java] Fail loudly in static initializer blocks
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/grpc/AddWritableBuffer.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/grpc/GetReadableBuffer.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/MemoryUtil.java
  java/memory/memory-netty/src/main/java/io/netty/buffer/UnsafeDirectLittleEndian.java
Labels: lang-java

#13817 ARROW-17348: [C++] Add support for building bundled LZ4 with Visual C++ 2019 or later
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: lang-c++

#12826 ARROW-15260: [R] open_dataset - add file_name as column
  r/DESCRIPTION
  r/R/dataset.R
  r/R/dplyr-collect.R
  r/R/dplyr-funcs-augmented.R
  r/R/dplyr-funcs.R
  r/R/dplyr.R
  r/R/util.R
  r/src/compute-exec.cpp
  r/tests/testthat/test-dataset.R
Labels: lang-R, docs

#13633 ARROW-17057: [Python] S3FileSystem has no parameter for retry strategy
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs.h
  python/pyarrow/_s3fs.pyx
  python/pyarrow/fs.py
  python/pyarrow/includes/libarrow_fs.pxd
  python/pyarrow/tests/test_fs.py
Labels: lang-c++, lang-python

#13613 ARROW-15582: [C++] Add support for registering standard Substrait functions
  cpp/src/arrow/compute/exec/options.cc
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/sink_node.cc
  cpp/src/arrow/compute/exec/util.cc
  cpp/src/arrow/compute/exec/util.h
  cpp/src/arrow/engine/CMakeLists.txt
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/engine/substrait/expression_internal.h
  cpp/src/arrow/engine/substrait/ext_test.cc
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/extension_set.h
  cpp/src/arrow/engine/substrait/function_test.cc
  cpp/src/arrow/engine/substrait/options.h
  cpp/src/arrow/engine/substrait/plan_internal.cc
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/serde.cc
  cpp/src/arrow/engine/substrait/serde.h
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/engine/substrait/test_plan_builder.cc
  cpp/src/arrow/engine/substrait/test_plan_builder.h
  cpp/src/arrow/engine/substrait/util.cc
  cpp/src/arrow/engine/substrait/util.h
  docs/source/cpp/streaming_execution.rst
  python/pyarrow/_substrait.pyx
  python/pyarrow/includes/libarrow_substrait.pxd
  python/pyarrow/substrait.py
  python/pyarrow/tests/test_substrait.py
Labels: lang-c++, lang-python, docs

#13849 MINOR: [C++] Add check for result of MakeExecNode
  cpp/src/arrow/compute/exec/asof_join_benchmark.cc
Labels: lang-c++

#13840 ARROW-17372: [Go][Parquet] Fix failures for ppc64le
  go/arrow/bitutil/bitmap_ops_ppc64le.go
  go/arrow/math/Makefile
  go/arrow/math/float64_ppc64le.go
  go/arrow/math/int64_ppc64le.go
  go/arrow/math/math_ppc64le.go
  go/arrow/math/type_ppc64le.go.tmpl
  go/arrow/math/uint64_ppc64le.go
  go/internal/utils/min_max_ppc64le.go
  go/internal/utils/transpose_ints_ppc64le.go
  go/parquet/internal/bmi/bitmap_bmi2_ppc64le.go
  go/parquet/internal/utils/bit_packing_ppc64le.go
  go/parquet/internal/utils/unpack_bool_ppc64le.go
Labels: lang-go

#13828 ARROW-17326: [Go][FlightSQL] Add FlightSQL support for Go
  dev/archery/archery/integration/runner.py
  format/Flight.proto
  format/FlightSql.proto
  go/arrow/array/record.go
  go/arrow/array/record_test.go
  go/arrow/array/union.go
  go/arrow/flight/flightsql/client.go
  go/arrow/flight/flightsql/client_test.go
  go/arrow/flight/flightsql/column_metadata.go
  go/arrow/flight/flightsql/schema_ref/reference_schemas.go
  go/arrow/flight/flightsql/server.go
  go/arrow/flight/flightsql/server_test.go
  go/arrow/flight/flightsql/sql_info.go
  go/arrow/flight/flightsql/types.go
  go/arrow/flight/gen.go
  go/arrow/flight/internal/flight/Flight.pb.go
  go/arrow/flight/internal/flight/FlightSql.pb.go
  go/arrow/flight/record_batch_reader.go
  go/arrow/flight/record_batch_writer.go
  go/arrow/internal/flight_integration/scenario.go
  go/arrow/ipc/cmd/arrow-cat/main.go
  go/arrow/ipc/ipc.go
  go/arrow/ipc/reader.go
  go/arrow/math/float64_amd64.go
  go/arrow/math/float64_avx2_amd64.go
  go/arrow/math/float64_sse4_amd64.go
  go/arrow/math/int64_amd64.go
  go/arrow/math/int64_avx2_amd64.go
  go/arrow/math/int64_sse4_amd64.go
  go/arrow/math/uint64_amd64.go
  go/arrow/math/uint64_avx2_amd64.go
  go/arrow/math/uint64_sse4_amd64.go
  go/arrow/scalar/numeric.gen.go
  go/go.mod
Labels: lang-go

#13860 ARROW-17390: [Go] Add union scalar types
  go/arrow/scalar/nested.go
  go/arrow/scalar/scalar.go
  go/arrow/scalar/scalar_test.go
Labels: lang-go

#13841 MINOR: [Docs] Fix sphinx rst syntax in Integration page
  docs/source/format/Integration.rst
Labels: docs

#13825 ARROW-17358: [CI][C++] Add a job for Alpine Linux
  .env
  ci/docker/alpine-linux-3.16-cpp.dockerfile
  ci/scripts/cpp_build.sh
  cpp/build-support/run-test.sh
  cpp/cmake_modules/DefineOptions.cmake
  cpp/src/arrow/csv/converter_test.cc
  cpp/src/arrow/util/config.h.cmake
  cpp/src/arrow/util/value_parsing.h
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: lang-c++

#13831 ARROW-17367: [C++] Fix the LZ4's CMake target name
  cpp/CMakeLists.txt
  cpp/cmake_modules/Findlz4Alt.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/adapters/orc/CMakeLists.txt
Labels: lang-c++

#13833 ARROW-17370: [C++] Add limit to SplitString()
  cpp/src/arrow/util/string.cc
  cpp/src/arrow/util/string.h
  cpp/src/arrow/util/string_test.cc
Labels: lang-c++

#13867 ARROW-17324: [Go][CI] Add go1.18 job and -asan flag
  .dockerignore
  .env
  .github/workflows/go.yml
  ci/docker/debian-10-go.dockerfile
  ci/docker/debian-11-go.dockerfile
  ci/scripts/go_build.sh
  ci/scripts/go_test.sh
  docker-compose.yml
  go/arrow/flight/internal/flight/FlightSql.pb.go
  go/go.mod
Labels: lang-go

#13865 PARQUET-2172: [C++] Change field return type to const NodePtr&
  cpp/src/parquet/schema.h
Labels: parquet, lang-c++

#13863 ARROW-17394: [C++][Parquet] Fix parquet_static dependencies
  cpp/CMakeLists.txt
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/examples/parquet/parquet_arrow/CMakeLists.txt
  cpp/src/parquet/CMakeLists.txt
Labels: parquet, lang-c++

#13879 MINOR: [Rust][Docs] Update rust feature support docs
  docs/source/status.rst
Labels: docs

#13883 ARROW-17421: [C++] CUDA on Windows fails to build
  cpp/src/arrow/gpu/cuda_context.h
  cpp/src/arrow/gpu/cuda_internal.h
  cpp/src/arrow/gpu/cuda_memory.h
Labels: lang-c++

#13868 ARROW-17359: [Go][FlightSQL] Create Example with SQLite in-mem and use to test FlightSQL server
  ci/docker/conda-integration.dockerfile
  dev/release/01-prepare-test.rb
  dev/release/post-11-bump-versions-test.rb
  dev/release/utils-prepare.sh
  go/arrow/array/booleanbuilder.go
  go/arrow/array/builder.go
  go/arrow/array/list.go
  go/arrow/array/list_test.go
  go/arrow/array/record_test.go
  go/arrow/doc.go
  go/arrow/flight/flightsql/client.go
  go/arrow/flight/flightsql/column_metadata.go
  go/arrow/flight/flightsql/example/sql_batch_reader.go
  go/arrow/flight/flightsql/example/sqlite_info.go
  go/arrow/flight/flightsql/example/sqlite_server.go
  go/arrow/flight/flightsql/example/sqlite_tables_schema_batch_reader.go
  go/arrow/flight/flightsql/example/type_info.go
  go/arrow/flight/flightsql/server.go
  go/arrow/flight/flightsql/sqlite_server_test.go
  go/arrow/flight/record_batch_reader.go
  go/go.mod
  go/go.sum
Labels: lang-go

#13832 ARROW-17368: [C++] Add support for installing utilities
  cpp/src/arrow/ipc/CMakeLists.txt
  dev/tasks/linux-packages/apache-arrow/debian/control.in
  dev/tasks/linux-packages/apache-arrow/debian/rules
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
  dev/tasks/tasks.yml
Labels: lang-c++

#13888 ARROW-17426: [C++] Substrait consumer fails to compile on older Ubuntu
  cpp/src/arrow/engine/substrait/expression_internal.cc
Labels: lang-c++

#13887 ARROW-16790: [Go][Parquet] Avoid unnecessary memory allocations for skipping rows
  go/parquet/file/column_reader.go
  go/parquet/file/column_reader_test.go
  go/parquet/file/column_writer_test.go
  go/parquet/file/file_reader.go
  go/parquet/file/record_reader.go
  go/parquet/file/row_group_reader.go
  go/parquet/pqarrow/column_readers.go
  go/parquet/pqarrow/file_reader.go
Labels: lang-go

#13846 ARROW-16993: [C++] Don't find Boost components if they aren't needed
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: lang-c++

#13897 ARROW-17420: [C++][FlightRPC] Fix schema validation in Flight SQL integration test
  cpp/src/arrow/flight/integration_tests/test_integration.cc
Labels: lang-c++, flight

#13661 ARROW-17436: [C++] Use -O2 instead of -O3 for RELEASE builds
  cpp/cmake_modules/SetupCxxFlags.cmake
Labels: lang-c++

#13902 ARROW-17440: [C++] Support RISC-V architecture
  cpp/cmake_modules/SetupCxxFlags.cmake
Labels: lang-c++

#13629 ARROW-16719: [Python] Add path/URI + filesystem handling to parquet.read_metadata
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_metadata.py
Labels: lang-python

#13783 ARROW-17289: [C++] Add type category membership checks
  cpp/src/arrow/type.h
  cpp/src/arrow/type_test.cc
  cpp/src/arrow/type_traits.h
Labels: lang-c++

#13815 ARROW-17338: [Java] The maximum request memory of BaseVariableWidthVector should limit to Integer.MAX_VALUE
  java/vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestValueVector.java
Labels: lang-java

#13910 ARROW-17456: [Go] Mark the compute module as a separate sub-module
  dev/release/post-11-bump-versions-test.rb
  dev/release/rat_exclude_files.txt
  dev/release/utils-prepare.sh
  go/arrow/compute/go.mod
  go/arrow/compute/go.sum
Labels: lang-go

#13898 ARROW-17254: [C++][Go][Java][FlightRPC] Implement and test Flight SQL GetSchema
  cpp/src/arrow/flight/integration_tests/CMakeLists.txt
  cpp/src/arrow/flight/integration_tests/flight_integration_test.cc
  cpp/src/arrow/flight/integration_tests/test_integration.cc
  cpp/src/arrow/flight/sql/client.cc
  cpp/src/arrow/flight/sql/client.h
  cpp/src/arrow/flight/sql/server.cc
  cpp/src/arrow/flight/sql/server.h
  cpp/src/arrow/flight/types.cc
  cpp/src/arrow/flight/types.h
  cpp/src/arrow/python/flight.cc
  go/arrow/flight/flightsql/client.go
  go/arrow/flight/flightsql/server.go
  go/arrow/internal/flight_integration/scenario.go
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/FlightSqlScenario.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/FlightSqlScenarioProducer.java
  java/flight/flight-integration-tests/src/main/test/java/org/apache/arrow/flight/integration/tests/IntegrationTest.java
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/FlightSqlClient.java
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/FlightSqlProducer.java
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/FlightSqlUtils.java
Labels: lang-java, lang-go, lang-c++, flight

#13796 ARROW-17306: [C++] Provide an optimized `GetFileInfoGenerator` specialization for `LocalFileSystem`
  cpp/src/arrow/filesystem/CMakeLists.txt
  cpp/src/arrow/filesystem/localfs.cc
  cpp/src/arrow/filesystem/localfs.h
  cpp/src/arrow/filesystem/localfs_benchmark.cc
  cpp/src/arrow/filesystem/localfs_test.cc
  cpp/src/arrow/filesystem/type_fwd.h
Labels: lang-c++

#13907 MINOR: Fix docstrings for kleene boolean scalar funcs
  cpp/src/arrow/compute/kernels/scalar_boolean.cc
Labels: lang-c++

#13906 ARROW-17430: [Java] ListBinder to bind Arrow List type to DB column
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/ColumnBinderArrowTypeVisitor.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/ListBinder.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcParameterBinderTest.java
Labels: lang-java

#13321 ARROW-16754: [Java] StructVector's child vectors get unexpectedly reordered after adding duplicated fields
  java/vector/src/main/java/org/apache/arrow/vector/util/MapWithOrdinalImpl.java
  java/vector/src/test/java/org/apache/arrow/vector/TestStructVector.java
Labels: lang-java

#13915 ARROW-17467: [Go] Aligned Bitmap Ops mess up the final byte when no t…
  go/arrow/bitutil/bitmaps.go
  go/arrow/bitutil/bitmaps_test.go
Labels: lang-go

#13913 ARROW-12958: [CI][Developer] Build + host the docs for PR branches
  ci/scripts/java_build.sh
  dev/archery/archery/bot.py
  dev/tasks/docker-tests/github.linux.yml
  dev/tasks/docs/github.linux.yml
  dev/tasks/fuzz-tests/github.oss-fuzz.yml
  dev/tasks/macros.jinja
  dev/tasks/python-minimal-build/github.linux.yml
  dev/tasks/r/github.packages.yml
  dev/tasks/tasks.yml
  docker-compose.yml
  java/pom.xml
Labels: lang-java

#13926 ARROW-17478: [C++][Java] Update ORC to 1.7.6
  cpp/thirdparty/versions.txt
  java/adapter/orc/pom.xml
Labels: lang-java, lang-c++

#13652 ARROW-17131: [Python] add StructType().field(): returns a field by name or index
  python/pyarrow/tests/test_types.py
  python/pyarrow/types.pxi
Labels: lang-python

#13929 ARROW-17479: [Go] Add ArraySpan and utilities
  go/arrow/compute/go.mod
  go/arrow/compute/go.sum
  go/arrow/compute/internal/span.go
  go/arrow/compute/internal/span_test.go
  go/arrow/compute/internal/utils.go
  go/arrow/datatype.go
  go/arrow/scalar/binary.go
  go/arrow/scalar/nested.go
  go/arrow/scalar/parse.go
  go/arrow/scalar/scalar.go
Labels: lang-go

#13930 ARROW-17482: [Go] Remove ValueDescr types
  dev/release/rat_exclude_files.txt
  go/arrow/compute/datum.go
  go/arrow/compute/expression.go
  go/arrow/compute/no_exec.go
  go/arrow/compute/valueshape_string.go
Labels: lang-go

#13924 ARROW-17475: [Go] Function interface and Registry impl
  dev/release/rat_exclude_files.txt
  go/arrow/compute/doc.go
  go/arrow/compute/expression.go
  go/arrow/compute/funckind_string.go
  go/arrow/compute/functions.go
  go/arrow/compute/functions_test.go
  go/arrow/compute/registry.go
  go/arrow/compute/registry_test.go
Labels: lang-go

#13937 ARROW-17489: [R] Nightly builds failing due to test referencing unrelease stringr functions
  r/tests/testthat/test-dplyr-funcs-string.R
Labels: lang-R

#13944 ARROW-17499: [Go] Shift MakeArrayOfNull to array Package
  go/arrow/array/util.go
  go/arrow/flight/flightsql/sqlite_server_test.go
  go/arrow/scalar/scalar.go
Labels: lang-go

#13943 ARROW-17496: [Go] Fix Nightly Build
  go/arrow/flight/flightsql/example/sql_batch_reader.go
  go/arrow/flight/flightsql/example/sqlite_info.go
  go/arrow/flight/flightsql/example/sqlite_server.go
  go/arrow/flight/flightsql/example/sqlite_tables_schema_batch_reader.go
  go/arrow/flight/flightsql/example/type_info.go
  go/arrow/flight/flightsql/sqlite_server_test.go
Labels: lang-go

#13920 ARROW-17451: [CI][Java] Use manylinux2014 image for JNI
  .github/workflows/java_jni.yml
  ci/docker/java-jni-manylinux-201x.dockerfile
  ci/scripts/java_build.sh
  ci/scripts/java_jni_macos_build.sh
  ci/scripts/java_jni_manylinux_build.sh
  ci/scripts/java_test.sh
  cpp/src/plasma/CMakeLists.txt
  dev/tasks/java-jars/github.yml
  docker-compose.yml
Labels: lang-c++

#13904 ARROW-17389: [Python] Properly exclude tests when PYARROW_INSTALL_TESTS=0
  python/setup.py
Labels: lang-python, docs

#13948 MINOR: [C++] Replace std::random_shuffle with std::shuffle
  cpp/src/arrow/adapters/orc/adapter_test.cc
Labels: lang-c++

#13878 MINOR: [R][Docs] Fix the Rd file of `infer_type`
  r/man/infer_type.Rd
Labels: lang-R

#13939 ARROW-17494: [C++] Fix substrait tests linkage on static builds
  cpp/cmake_modules/BuildUtils.cmake
Labels: lang-c++

#13932 MINOR: [C++] Fix StringFormatter type error in localfs_benchmark
  cpp/src/arrow/filesystem/localfs_benchmark.cc
Labels: lang-c++

#13957 ARROW-17510: [CI][C++][Windows][MSVC] Use ccache
  .github/workflows/cpp.yml
  ci/scripts/install_ccache.sh
  cpp/cmake_modules/SetupCxxFlags.cmake
Labels: lang-c++

#13941 ARROW-17431: [Java] MapBinder to bind Arrow Map type to DB column
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/ColumnBinderArrowTypeVisitor.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/MapBinder.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcParameterBinderTest.java
Labels: lang-java

#13946 ARROW-17500: [Go] Kernel and KernelContext interfaces
  go/arrow/compute/expression.go
  go/arrow/compute/internal/hash_util.go
  go/arrow/compute/internal/kernel.go
  go/arrow/compute/internal/kernel_test.go
  go/arrow/errors.go
Labels: lang-go

#13951 ARROW-16949: [Doc] Add Glossary to the New Contributor's Guide
  docs/source/developers/guide/resources.rst
Labels: docs

#13918 ARROW-17434: [Java][CI] Add build Windows support for Java
  .github/workflows/java.yml
  java/adapter/avro/src/test/java/org/apache/arrow/AvroTestBase.java
  java/adapter/avro/src/test/java/org/apache/arrow/TestWriteReadAvroRecord.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/AbstractJdbcToArrowTest.java
  java/pom.xml
Labels: lang-java

#13958 ARROW-17511: [C++] Add support for xsimd 9.0.0
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: lang-c++

#13903 ARROW-17433: [CI][C++] Use Visual Studio 2019 on AppVeyor
  appveyor.yml
  ci/appveyor-cpp-build.bat
  ci/appveyor-cpp-setup.bat
  ci/conda_env_gandiva_win.txt
  cpp/src/gandiva/gdv_function_stubs.cc
  cpp/src/gandiva/precompiled/CMakeLists.txt
Labels: lang-c++, gandiva

#13950 ARROW-15277: [C++][Python] Use ChunkedArray::Make for chunked_array
  cpp/src/arrow/chunked_array.cc
  cpp/src/arrow/chunked_array_test.cc
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_compute.py
  python/pyarrow/tests/test_table.py
Labels: lang-c++, lang-python

#13966 ARROW-17518: [CI][Doc][Python] Update glob to detect arrow development version from git
  dev/archery/archery/crossbow/core.py
  python/pyarrow/__init__.py
  python/setup.py
Labels: lang-python

#13741 ARROW-17247: [C++][Docs] Include visibilty to ExecPlan APIs in Acero Docs
  cpp/src/arrow/compute/api.h
  cpp/src/arrow/compute/exec.h
  cpp/src/arrow/compute/exec/exec_plan.h
  docs/source/cpp/api/compute.rst
Labels: lang-c++, docs

#13954 ARROW-17463: [R] Avoid unnecessary projections
  r/R/query-engine.R
  r/tests/testthat/test-dplyr-collapse.R
  r/tests/testthat/test-dplyr-query.R
  r/tests/testthat/test-dplyr-summarize.R
Labels: lang-R

#13921 ARROW-17449: [Python] Better repr for Buffer, MemoryPool, NativeFile and Codec
  python/pyarrow/io.pxi
  python/pyarrow/memory.pxi
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_io.py
  python/pyarrow/types.pxi
Labels: lang-python

#13974 ARROW-17527: [Go] Implement Cast to Boolean Functions
  go/arrow/compute/cast.go
  go/arrow/compute/cast_test.go
  go/arrow/compute/datum.go
  go/arrow/compute/expression.go
  go/arrow/compute/functions.go
  go/arrow/compute/internal/exec/span.go
  go/arrow/compute/internal/exec/utils.go
  go/arrow/compute/internal/kernels/boolean_cast.go
  go/arrow/compute/internal/kernels/cast.go
  go/arrow/compute/internal/kernels/helpers.go
  go/arrow/compute/internal/kernels/types.go
  go/arrow/compute/registry.go
Labels: lang-go

#13995 ARROW-17553: [Go] Enable flight.Server to register additional grpc services
  go/arrow/flight/flight_test.go
  go/arrow/flight/server.go
Labels: lang-go

#13996 ARROW-17554: [Python][Packaging] Stop producing macOS Mavericks wheels
  ci/scripts/install_osx_sdk.sh
  ci/scripts/python_wheel_macos_build.sh
  dev/tasks/python-wheels/github.osx.amd64.yml
  dev/tasks/tasks.yml
  python/CMakeLists.txt
Labels: lang-python

#13998 MINOR: [Docs] Fix typo in step-by-step building docs
  docs/source/developers/guide/step_by_step/building.rst
Labels: docs

#13999 MINOR: [Ruby] Fixed credential information of ClickHouse API
  ruby/README.md
Labels: lang-ruby, docs

#13979 ARROW-17079: [C++] Improve error messages for AWS S3 calls
  cpp/src/arrow/filesystem/s3_internal.h
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs_benchmark.cc
  cpp/src/arrow/filesystem/s3fs_test.cc
Labels: lang-c++

#14004 ARROW-17567: [C++] Avoid internal compiler error with gcc 7 and c++17
  cpp/src/arrow/compute/kernels/aggregate_internal.h
  cpp/src/arrow/compute/kernels/scalar_set_lookup.cc
Labels: lang-c++

#13969 ARROW-17523: [C++] Add support to substrait function is_null, is_not_null and count
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/extension_set.h
  cpp/src/arrow/engine/substrait/function_test.cc
Labels: lang-c++

#13992 ARROW-17532: [Go][Compute] Implement Numeric Cast functions
  go/arrow/array/data.go
  go/arrow/array/decimal128.go
  go/arrow/array/decimal256.go
  go/arrow/compute/cast.go
  go/arrow/compute/cast_test.go
  go/arrow/compute/exec.go
  go/arrow/compute/expression.go
  go/arrow/compute/go.mod
  go/arrow/compute/internal/exec/kernel.go
  go/arrow/compute/internal/kernels/Makefile
  go/arrow/compute/internal/kernels/_lib/cast_numeric.cc
  go/arrow/compute/internal/kernels/_lib/cast_numeric_avx2_amd64.s
  go/arrow/compute/internal/kernels/_lib/cast_numeric_sse4_amd64.s
  go/arrow/compute/internal/kernels/boolean_cast.go
  go/arrow/compute/internal/kernels/cast.go
  go/arrow/compute/internal/kernels/cast_numeric.go
  go/arrow/compute/internal/kernels/cast_numeric_amd64.go
  go/arrow/compute/internal/kernels/cast_numeric_avx2_amd64.go
  go/arrow/compute/internal/kernels/cast_numeric_avx2_amd64.s
  go/arrow/compute/internal/kernels/cast_numeric_sse4_amd64.go
  go/arrow/compute/internal/kernels/cast_numeric_sse4_amd64.s
  go/arrow/compute/internal/kernels/helpers.go
  go/arrow/compute/internal/kernels/numeric_cast.go
  go/arrow/decimal128/decimal128.go
  go/arrow/decimal256/decimal256.go
Labels: lang-go

#14003 ARROW-17565: [C++] Backward compatible ${PACKAGE}_shared CMake target isn't provided
  cpp/src/arrow/ArrowConfig.cmake.in
Labels: lang-c++

#13677 ARROW-17089: [Python] Use `.arrow` as extension for IPC file dataset
  python/pyarrow/_dataset.pyx
  python/pyarrow/dataset.py
  python/pyarrow/tests/test_dataset.py
Labels: lang-python

#13997 MINOR: [PARQUET] Clean up Skip method naming rows->values
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader.h
Labels: parquet, lang-c++

#14012 MINOR: [Go] Update direct go dependencies
  dev/release/rat_exclude_files.txt
  go.work.sum
  go/go.mod
  go/go.sum
Labels: lang-go

#14013 ARROW-17573: [Go][Parquet] ByteArray statistics can cause memory leak
  go/parquet/metadata/statistics_types.gen.go
  go/parquet/metadata/statistics_types.gen.go.tmpl
Labels: lang-go
