Repository apache/arrow, pull requests merged in 2023-11, with the labels that each got.

#38512 GH-38511: [Java] Add getTransferPair(Field, BufferAllocator, CallBack) for StructVector and MapVector
  java/vector/src/main/java/org/apache/arrow/vector/complex/MapVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/StructVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestMapVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestStructVector.java
Labels: Component: Java, awaiting committer review

#38548 MINOR: [C++][FlightRPC] Add missing app_metadata arguments
  cpp/src/arrow/flight/perf_server.cc
Labels: Component: C++, Component: FlightRPC, awaiting review

#38550 MINOR: [Docs][Python] Fix typo on pycapsule and ipc docs
  docs/source/format/CDataInterface/PyCapsuleInterface.rst
  python/pyarrow/ipc.pxi
Labels: Component: Python, Component: Documentation, awaiting review

#38340 GH-38339: [C++][CMake] Use transitive dependency for system GoogleTest
  ci/scripts/cpp_test.sh
  cpp/CMakeLists.txt
  cpp/cmake_modules/FindGTestAlt.cmake
  cpp/src/arrow/acero/CMakeLists.txt
  cpp/src/arrow/adapters/orc/CMakeLists.txt
  cpp/src/arrow/compute/CMakeLists.txt
  cpp/src/arrow/compute/kernels/CMakeLists.txt
  cpp/src/arrow/dataset/CMakeLists.txt
  cpp/src/arrow/filesystem/CMakeLists.txt
  cpp/src/arrow/flight/CMakeLists.txt
  cpp/src/arrow/flight/integration_tests/CMakeLists.txt
  cpp/src/arrow/gpu/CMakeLists.txt
  cpp/src/parquet/CMakeLists.txt
Labels: Component: Parquet, Component: C++, Component: FlightRPC, awaiting change review

#37970 GH-37429: [C++] Add arrow::ipc::StreamDecoder::Reset()
  cpp/src/arrow/ipc/read_write_test.cc
  cpp/src/arrow/ipc/reader.cc
  cpp/src/arrow/ipc/reader.h
Labels: Component: C++, awaiting change review

#38529 GH-38542: [C++][Parquet] Faster scalar BYTE_STREAM_SPLIT
  cpp/src/arrow/util/CMakeLists.txt
  cpp/src/arrow/util/byte_stream_split_internal.h
  cpp/src/arrow/util/byte_stream_split_test.cc
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding_benchmark.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#38500 GH-37657: [JS] Run bin scripts with ts-node
  dev/archery/archery/integration/tester.py
  dev/archery/archery/integration/tester_js.py
  dev/archery/archery/integration/util.py
  js/.vscode/launch.json
  js/bin/arrow2csv.cjs
  js/bin/file-to-stream.ts
  js/bin/integration.ts
  js/bin/json-to-arrow.ts
  js/bin/package.json
  js/bin/print-buffer-alignment.ts
  js/bin/stream-to-file.ts
  js/gulp/closure-task.js
  js/index.mjs
  js/index.ts
  js/package.json
  js/perf/index.ts
  js/src/io/adapters.ts
  js/src/recordbatch.ts
  js/tsconfig.json
  js/tsconfig/tsconfig.es2015.cls.json
  js/tsconfig/tsconfig.es5.cls.json
  js/tsconfig/tsconfig.esnext.cls.json
  js/yarn.lock
Labels: Component: JavaScript, awaiting merge

#38551 GH-38417: [MATLAB] Implement a `TableTypeValidator` class that validates a MATLAB `cell` array contains only `table`s that share the same schema
  matlab/src/matlab/+arrow/+array/+internal/+list/TableValidator.m
  matlab/src/matlab/+arrow/+array/+internal/+list/Validator.m
  matlab/src/matlab/+arrow/+array/+internal/+list/createValidator.m
  matlab/test/arrow/array/list/tCreateValidator.m
  matlab/test/arrow/array/list/tTableValidator.m
Labels: Component: MATLAB, awaiting change review

#38564 GH-38541: [MATLAB] Add remaining tests for arrow tabular object display
  matlab/test/arrow/tabular/tTabularDisplay.m
Labels: Component: MATLAB, awaiting merge

#38521 GH-34532: [Java][FlightSQL] Change JDBC to handle multi-endpoints
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightJdbcFlightStreamResultSet.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightJdbcVectorSchemaRootResultSet.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/client/ArrowFlightSqlClientHandler.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/client/CloseableEndpointStreamPair.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/FlightEndpointDataQueue.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ResultSetTest.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/utils/FlightEndpointDataQueueTest.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/utils/PartitionedFlightSqlProducer.java
Labels: Component: Java, awaiting merge

#38568 MINOR: [Docs][C++] Fix a typo
  docs/source/cpp/examples/compute_and_write_example.rst
Labels: Component: Documentation, awaiting review

#38404 GH-33475: [Java] Add parameter binding for Prepared Statements in JDBC driver
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightJdbcFactory.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightJdbcFlightStreamResultSet.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightJdbcVectorSchemaRootResultSet.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightMetaImpl.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightPreparedStatement.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/client/ArrowFlightSqlClientHandler.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/AvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/BaseAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/BinaryAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/BoolAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/DateAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/DecimalAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/DurationAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/FixedSizeBinaryAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/FixedSizeListAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/FloatingPointAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/IntAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/IntervalAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/LargeBinaryAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/LargeListAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/LargeUtf8AvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/ListAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/MapAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/NullAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/StructAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/TimeAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/TimestampAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/UnionAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/Utf8AvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/AvaticaParameterBinder.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/ConvertUtils.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ArrowFlightPreparedStatementTest.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/utils/MockFlightSqlProducer.java
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/FlightSqlClient.java
Labels: Component: Java, awaiting merge

#38592 MINOR: [GLib][Docs] Specify Brewfile location explicitly
  c_glib/README.md
Labels: Component: GLib, Component: Documentation, awaiting review

#38587 MINOR: [C++] Fix typo in Decimal256::FromBigEndian error
  cpp/src/arrow/util/decimal.cc
Labels: Component: C++, awaiting review

#38557 GH-38556: [C++] Add missing explicit size_t cast for i386
  cpp/src/arrow/array/data.cc
Labels: Component: C++, awaiting committer review

#38563 GH-38562: [Packaging] Add support for Ubuntu 23.10
  dev/release/binary-task.rb
  dev/release/verify-release-candidate.sh
  dev/tasks/linux-packages/apache-arrow-apt-source/apt/ubuntu-mantic/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-mantic-arm64/from
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-mantic/Dockerfile
  dev/tasks/linux-packages/package-task.rb
  dev/tasks/tasks.yml
Labels: awaiting committer review

#38380 GH-38381: [C++][Acero] Create a sorted merge node
  cpp/src/arrow/acero/CMakeLists.txt
  cpp/src/arrow/acero/asof_join_node.cc
  cpp/src/arrow/acero/backpressure_handler.h
  cpp/src/arrow/acero/concurrent_queue_internal.h
  cpp/src/arrow/acero/exec_plan.cc
  cpp/src/arrow/acero/sorted_merge_node.cc
  cpp/src/arrow/acero/sorted_merge_node_test.cc
  cpp/src/arrow/acero/time_series_util.cc
  cpp/src/arrow/acero/time_series_util.h
  cpp/src/arrow/acero/unmaterialized_table.h
Labels: Component: C++, awaiting merge

#38461 GH-38460: [Java][FlightRPC] Add mTLS support for Flight SQL JDBC driver
  docs/source/java/flight_sql_jdbc_driver.rst
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightServer.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightConnection.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/client/ArrowFlightSqlClientHandler.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/client/utils/ClientAuthenticationUtils.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/ArrowFlightConnectionConfigImpl.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ConnectionMutualTlsTest.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ConnectionTlsRootCertsTest.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/FlightServerTestRule.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/utils/FlightSqlTestCertificates.java
Labels: Component: Java, Component: Documentation, awaiting merge

#38590 GH-36912: [Java] JDBC driver stops consuming roots if it sees an empty root
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/FlightEndpointDataQueue.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ResultSetTest.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/utils/CoreMockedSqlProducers.java
Labels: Component: Java, awaiting merge

#38608 GH-38607: [Python] Disable PyExtensionType autoload
  docs/source/python/extending_types.rst
  python/pyarrow/tests/test_cffi.py
  python/pyarrow/tests/test_extension_type.py
  python/pyarrow/tests/test_pandas.py
  python/pyarrow/types.pxi
Labels: Component: Python, Component: Documentation, awaiting merge

#38601 GH-38602: [R] Add missing `prod` for summarize
  r/R/dplyr-funcs-doc.R
  r/R/dplyr-summarize.R
  r/man/acero.Rd
  r/src/compute.cpp
  r/tests/testthat/test-dplyr-summarize.R
Labels: awaiting merge

#38571 GH-38570: [R] Ensure that test-nix-libs is warning free
  ci/scripts/r_test.sh
  r/tools/check-versions.R
  r/tools/nixlibs.R
Labels: Component: R, awaiting merge

#38524 GH-38330: [C++][Azure] Use properties for input stream metadata
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting changes

#38580 GH-38576: [Java] Change JDBC driver to optionally preserve cookies and auth tokens when getting streams
  docs/source/java/flight_sql_jdbc_driver.rst
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/auth2/ClientIncomingAuthHeaderMiddleware.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightConnection.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/client/ArrowFlightSqlClientHandler.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/ArrowFlightConnectionConfigImpl.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ConnectionMutualTlsTest.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ConnectionTest.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ConnectionTlsRootCertsTest.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ConnectionTlsTest.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/FlightServerTestRule.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ResultSetTest.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/client/ArrowFlightSqlClientHandlerBuilderTest.java
Labels: Component: Java, Component: Documentation, awaiting merge

#38625 MINOR: [Docs][C++] Fix a typo
  docs/source/cpp/datatypes.rst
Labels: Component: Documentation, awaiting merge

#38116 GH-37753: [C++][Gandiva] Add external function registry support
  c_glib/arrow-glib/version.h.in
  c_glib/doc/gandiva-glib/gandiva-glib-docs.xml
  c_glib/gandiva-glib/function-registry.cpp
  c_glib/gandiva-glib/function-registry.h
  c_glib/gandiva-glib/function-registry.hpp
  c_glib/test/gandiva/test-function-registry.rb
  c_glib/test/gandiva/test-native-function.rb
  cpp/cmake_modules/GandivaAddBitcode.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/gandiva/CMakeLists.txt
  cpp/src/gandiva/GandivaConfig.cmake.in
  cpp/src/gandiva/configuration.cc
  cpp/src/gandiva/configuration.h
  cpp/src/gandiva/engine.cc
  cpp/src/gandiva/engine.h
  cpp/src/gandiva/expr_decomposer_test.cc
  cpp/src/gandiva/expr_validator.cc
  cpp/src/gandiva/expr_validator.h
  cpp/src/gandiva/expression_registry.cc
  cpp/src/gandiva/expression_registry.h
  cpp/src/gandiva/expression_registry_test.cc
  cpp/src/gandiva/filter.cc
  cpp/src/gandiva/function_registry.cc
  cpp/src/gandiva/function_registry.h
  cpp/src/gandiva/function_registry_test.cc
  cpp/src/gandiva/llvm_generator.cc
  cpp/src/gandiva/llvm_generator.h
  cpp/src/gandiva/llvm_generator_test.cc
  cpp/src/gandiva/native_function.h
  cpp/src/gandiva/precompiled/CMakeLists.txt
  cpp/src/gandiva/projector.cc
  cpp/src/gandiva/tests/CMakeLists.txt
  cpp/src/gandiva/tests/date_time_test.cc
  cpp/src/gandiva/tests/external_functions/CMakeLists.txt
  cpp/src/gandiva/tests/external_functions/multiply_by_two.cc
  cpp/src/gandiva/tests/external_functions/multiply_by_two.h
  cpp/src/gandiva/tests/filter_test.cc
  cpp/src/gandiva/tests/huge_table_test.cc
  cpp/src/gandiva/tests/projector_build_validation_test.cc
  cpp/src/gandiva/tests/projector_test.cc
  cpp/src/gandiva/tests/test_util.cc
  cpp/src/gandiva/tests/test_util.h
  cpp/src/gandiva/tree_expr_test.cc
Labels: Component: C++, Component: C++ - Gandiva, Component: GLib, awaiting change review

#38621 GH-38591: [Parquet][C++] Remove redundant open calls in `ParquetFileFormat::GetReaderAsync`
  cpp/src/arrow/dataset/file_parquet.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#38628 GH-38627: [Java][FlightRPC] Handle null parameter values
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/AvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/converter/impl/TimestampAvaticaParameterConverter.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/AvaticaParameterBinder.java
Labels: Component: Java, awaiting merge

#38505 GH-38335: [C++] Implement `GetFileInfo` for a single file in Azure filesystem
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_internal.cc
  cpp/src/arrow/filesystem/azurefs_internal.h
  cpp/src/arrow/filesystem/azurefs_test.cc
  cpp/src/arrow/filesystem/path_util.cc
  cpp/src/arrow/filesystem/path_util.h
Labels: Component: C++, awaiting change review

#38440 GH-38439: [Java][CI] Use Eclipse Temurin for all Java CI linux jobs
  .github/workflows/java.yml
  docker-compose.yml
  docs/source/developers/java/building.rst
Labels: Component: Java, Component: Documentation, Component: Continuous Integration, awaiting committer review

#38641 GH-34017: [Python][FlightRPC][Doc] Fix `read_chunk` docstring for FlightStreamReader and MetadataRecordBatchReader
  python/pyarrow/_flight.pyx
Labels: awaiting merge

#38636 GH-38630: [MATLAB] `arrow.array.BooleanArray`'s `toMATLAB` method does not take slice offsets into account
  matlab/src/cpp/arrow/matlab/array/proxy/array.cc
  matlab/src/cpp/arrow/matlab/array/proxy/boolean_array.cc
  matlab/src/cpp/arrow/matlab/bit/unpack.cc
  matlab/src/cpp/arrow/matlab/bit/unpack.h
Labels: Component: MATLAB, awaiting merge

#38658 MINOR: [JS][Docs] Correct typo in README
  js/README.md
Labels: Component: JavaScript, Component: Documentation, awaiting review

#38631 GH-38614: [Java] Add VarBinary and VarCharWriter helper methods to more writers
  java/vector/src/main/codegen/templates/AbstractFieldWriter.java
  java/vector/src/main/codegen/templates/AbstractPromotableFieldWriter.java
  java/vector/src/main/codegen/templates/ComplexWriters.java
  java/vector/src/main/codegen/templates/UnionFixedSizeListWriter.java
  java/vector/src/main/codegen/templates/UnionListWriter.java
  java/vector/src/main/codegen/templates/UnionWriter.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/impl/PromotableWriter.java
  java/vector/src/test/java/org/apache/arrow/vector/TestFixedSizeListVector.java
  java/vector/src/test/java/org/apache/arrow/vector/complex/impl/TestPromotableWriter.java
  java/vector/src/test/java/org/apache/arrow/vector/complex/writer/TestComplexWriter.java
  java/vector/src/test/java/org/apache/arrow/vector/complex/writer/TestSimpleWriter.java
Labels: Component: Java, awaiting merge

#38678 MINOR: [Dev] Add Bryce Mecum to list of collaborators
  .asf.yaml
Labels: awaiting committer review

#38665 GH-38528: [Python][Compute] Describe strptime format semantics
  python/pyarrow/_compute.pyx
Labels: Component: Python, awaiting merge

#38674 GH-38415: [MATLAB] Add indexing "slice" method to C++ Array Proxy class
  matlab/src/cpp/arrow/matlab/array/proxy/array.cc
  matlab/src/cpp/arrow/matlab/array/proxy/array.h
  matlab/src/cpp/arrow/matlab/error/error.h
  matlab/src/cpp/arrow/matlab/index/validate.cc
  matlab/src/cpp/arrow/matlab/index/validate.h
  matlab/src/matlab/+arrow/+array/Array.m
  matlab/test/arrow/array/tSlice.m
Labels: Component: MATLAB, awaiting review

#38517 GH-38516: [Go][Parquet] Increment the number of rows written when appending a new row group
  go/parquet/file/file_writer.go
  go/parquet/file/file_writer_test.go
Labels: Component: Go, awaiting committer review

#37599 GH-37582: [Go][Parquet] Implement Float16 logical type
  go/arrow/float16/float16.go
  go/arrow/float16/float16_test.go
  go/parquet/file/column_writer_types.gen.go
  go/parquet/file/column_writer_types.gen.go.tmpl
  go/parquet/internal/gen-go/parquet/GoUnusedProtection__.go
  go/parquet/internal/gen-go/parquet/parquet-consts.go
  go/parquet/internal/gen-go/parquet/parquet.go
  go/parquet/internal/testutils/random.go
  go/parquet/internal/testutils/random_arrow.go
  go/parquet/metadata/statistics.go
  go/parquet/metadata/statistics_test.go
  go/parquet/metadata/statistics_types.gen.go
  go/parquet/metadata/statistics_types.gen.go.tmpl
  go/parquet/metadata/statistics_types.tmpldata
  go/parquet/pqarrow/column_readers.go
  go/parquet/pqarrow/encode_arrow.go
  go/parquet/pqarrow/encode_arrow_test.go
  go/parquet/pqarrow/schema.go
  go/parquet/pqarrow/schema_test.go
  go/parquet/schema/logical_types.go
  go/parquet/schema/logical_types_test.go
  go/parquet/schema/reflection.go
  go/parquet/schema/reflection_test.go
  go/parquet/schema/schema_element_test.go
  go/parquet/schema/schema_test.go
Labels: Component: Go, awaiting change review

#38677 GH-38653: [Packaging][Java][Python][Ruby] Raise the minimum macOS version to 10.15 catalina to allow using new APIs in C++17
  ci/scripts/python_wheel_macos_build.sh
  ci/vcpkg/universal2-osx-static-debug.cmake
  ci/vcpkg/universal2-osx-static-release.cmake
  dev/tasks/java-jars/github.yml
  dev/tasks/tasks.yml
  python/CMakeLists.txt
  ruby/red-arrow/ext/arrow/extconf.rb
Labels: Component: Python, Component: Ruby, awaiting review

#38695 MINOR: [Docs] Tweak text on docs index page
  docs/source/index.rst
Labels: Component: Documentation, awaiting review

#38637 GH-38626: [Python] Fix segfault when PyArrow is imported at shutdown
  python/pyarrow/src/arrow/python/common.h
  python/pyarrow/tests/test_misc.py
Labels: Component: Python, awaiting review

#38478 GH-38477: [Go] Fixing decimal 128 rounding issue
  go/arrow/decimal128/decimal128.go
  go/arrow/decimal128/decimal128_test.go
Labels: Component: Go, awaiting committer review

#38710 MINOR: [Python] Fix name of new keyword in the concat_tables future warning
  python/pyarrow/table.pxi
Labels: Component: Python

#38723 GH-38711: [CI] Rollback aws-cli for preview documentation
  ci/scripts/util_free_space.sh
Labels: awaiting review

#38714 GH-38712: [Python] Remove dead code in _reconstruct_block
  python/pyarrow/pandas_compat.py
Labels: Component: Python, awaiting merge

#38696 GH-38599: [Docs] Update Headers
  docs/source/format/CDeviceDataInterface.rst
Labels: Component: Documentation, awaiting committer review

#36073 GH-36036: [C++][Python][Parquet] Implement Float16 logical type
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/util/CMakeLists.txt
  cpp/src/arrow/util/float16.cc
  cpp/src/arrow/util/float16.h
  cpp/src/arrow/util/float16_test.cc
  cpp/src/generated/parquet_types.cpp
  cpp/src/generated/parquet_types.h
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/arrow_schema_test.cc
  cpp/src/parquet/arrow/reader_internal.cc
  cpp/src/parquet/arrow/schema.cc
  cpp/src/parquet/arrow/schema_internal.cc
  cpp/src/parquet/arrow/test_util.h
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/page_index_test.cc
  cpp/src/parquet/parquet.thrift
  cpp/src/parquet/schema_test.cc
  cpp/src/parquet/statistics.cc
  cpp/src/parquet/statistics_test.cc
  cpp/src/parquet/test_util.cc
  cpp/src/parquet/test_util.h
  cpp/src/parquet/types.cc
  cpp/src/parquet/types.h
  docs/source/cpp/parquet.rst
Labels: Component: Parquet, Component: C++, Component: Documentation, awaiting merge

#38713 GH-38676: [Python] Fix potential deadlock when CSV reading errors out
  python/pyarrow/_csv.pyx
  python/pyarrow/_dataset.pxd
  python/pyarrow/_dataset.pyx
  python/pyarrow/_parquet.pyx
  python/pyarrow/includes/libarrow_python.pxd
  python/pyarrow/ipc.pxi
  python/pyarrow/lib.pxd
  python/pyarrow/src/arrow/python/common.h
  python/pyarrow/tests/test_csv.py
Labels: Component: Python, awaiting merge

#38581 GH-38503: [Go][Parquet] Style improvement for using ArrowColumnWriter
  go/parquet/internal/encoding/levels.go
  go/parquet/pqarrow/encode_arrow.go
  go/parquet/pqarrow/encode_arrow_test.go
  go/parquet/pqarrow/path_builder.go
Labels: Component: Go, awaiting merge

#38698 GH-38697: [C++][Gandiva] Use arrow io util to replace std::filesystem::path in gandiva
  cpp/src/gandiva/tests/test_util.cc
Labels: Component: C++, Component: C++ - Gandiva, awaiting committer review

#38727 GH-38503: [Go][Parquet] Make the arrow column writer internal
  go/parquet/pqarrow/encode_arrow.go
  go/parquet/pqarrow/encode_arrow_test.go
  go/parquet/pqarrow/file_writer.go
Labels: Component: Go, awaiting review

#38719 GH-38318: [Java][FlightRPC] Enable tests that leaked
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/auth/TestBasicAuth.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/auth2/TestBasicAuth2.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/TestFlightSqlStreams.java
Labels: Component: Java, awaiting committer review

#38642 GH-38624: [C++] Fix: add TestingEqualOptions for gtest functions.
  cpp/src/arrow/chunked_array.cc
  cpp/src/arrow/chunked_array.h
  cpp/src/arrow/testing/CMakeLists.txt
  cpp/src/arrow/testing/gtest_util.cc
  cpp/src/arrow/testing/gtest_util.h
  cpp/src/arrow/testing/gtest_util_test.cc
Labels: Component: C++, awaiting merge

#38494 MINOR: [Docs] document Float16 support in C++
  docs/source/status.rst
Labels: Component: Documentation, awaiting review

#38390 GH-37969: [C++][Parquet] add more closed file checks for ParquetFileWriter
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/writer.cc
  cpp/src/parquet/file_writer.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#38739 GH-38737: [Java] Fix JDBC caching of SqlInfo values
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/ArrowDatabaseMetadata.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/utils/MockFlightSqlProducer.java
Labels: Component: Java, awaiting merge

#38746 GH-38745: [Integration] Fix huge integration test
  dev/archery/archery/integration/datagen.py
Labels: awaiting merge

#38661 GH-38652: [MATLAB] Add tests about time precision preservation when converting MATLAB duration to `arrow.array.Time32Array` and `arrow.array.Time64Array`
  matlab/test/arrow/array/tTime32Array.m
  matlab/test/arrow/array/tTime64Array.m
Labels: Component: MATLAB, awaiting change review

#38754 GH-38752: [R] Wrap rosetta detection in tryCatch
  r/R/arrow-package.R
  r/R/install-arrow.R
Labels: Component: R, awaiting committer review

#38466 GH-38438: [C++] Dataset: Trying to fix the async bug in Parquet dataset
  cpp/src/arrow/csv/reader.cc
  cpp/src/arrow/dataset/file_parquet_test.cc
  cpp/src/parquet/arrow/reader.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#38708 GH-38699: [C++][FS][Azure] Implement `CreateDir()`
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++

#38693 MINOR: [Docs] Make cards on index page of docs responsive
  docs/source/cpp/index.rst
  docs/source/developers/index.rst
  docs/source/index.rst
Labels: Component: Documentation, awaiting committer review

#38773 GH-38758: [C++][FS][Azure] Rename AzurePath to AzureLocation
  cpp/src/arrow/filesystem/azurefs.cc
Labels: awaiting committer review

#38783 GH-38782: [C++][FS][Azure] Do nothing for CreateDir("/container", true)
  cpp/src/arrow/filesystem/azurefs.cc
Labels: Component: C++, awaiting committer review

#38680 GH-38348: [C#] Make PrimitiveArray<T> support IReadOnlyList<T?>
  csharp/src/Apache.Arrow/Arrays/BinaryArray.cs
  csharp/src/Apache.Arrow/Arrays/BooleanArray.cs
  csharp/src/Apache.Arrow/Arrays/Date32Array.cs
  csharp/src/Apache.Arrow/Arrays/Date64Array.cs
  csharp/src/Apache.Arrow/Arrays/PrimitiveArray.cs
  csharp/src/Apache.Arrow/Arrays/StringArray.cs
  csharp/src/Apache.Arrow/Arrays/Time32Array.cs
  csharp/src/Apache.Arrow/Arrays/Time64Array.cs
  csharp/src/Apache.Arrow/Arrays/TimestampArray.cs
  csharp/test/Apache.Arrow.Tests/ArrowArrayTests.cs
Labels: Component: C#, awaiting committer review

#38360 GH-37242: [Python][Parquet] Parquet Support write and validate Page CRC
  cpp/src/arrow/dataset/file_parquet.cc
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/_parquet.pxd
  python/pyarrow/_parquet.pyx
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_basic.py
  python/pyarrow/tests/parquet/test_parquet_writer.py
  python/pyarrow/tests/test_dataset.py
Labels: Component: C++, Component: Python, awaiting change review

#38765 GH-38764: [Java] Clarify warning about `--add-opens=java.base/java.nio=ALL-UNNAMED`
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/MemoryUtil.java
Labels: Component: Java, awaiting merge

#38780 GH-38333: [C++][FS][Azure] Implement file writes
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting change review

#38799 GH-38798: [Integration] Enable C Data Interface integration testing on Rust
  ci/scripts/integration_arrow.sh
  ci/scripts/rust_build.sh
  dev/archery/archery/integration/cdata.py
  dev/archery/archery/integration/tester_cpp.py
  dev/archery/archery/integration/tester_go.py
  dev/archery/archery/integration/tester_rust.py
  docker-compose.yml
Labels: awaiting committer review

#38827 GH-38816: [C#] Fix IArrowRecord implementation on StructArray
  csharp/src/Apache.Arrow/Arrays/StructArray.cs
  csharp/test/Apache.Arrow.Tests/RecordTests.cs
Labels: Component: C#, awaiting review

#38829 GH-38832: [Java] Avoid building twice in `ci/scripts/java_build.sh`
  ci/scripts/java_build.sh
Labels: awaiting committer review

#38819 GH-38756: [R] More debug output for r/configure and nixlibs.R
  r/configure
  r/tools/nixlibs.R
Labels: Component: R, awaiting merge

#38834 MINOR: [Java][CI][Docs] Add Java crossbow task group
  dev/tasks/tasks.yml
  docs/source/developers/java/building.rst
Labels: Component: Documentation, awaiting committer review

#38848 MINOR: [Docs][Python] Correct type for requested_schema in docstring of __arrow_c_stream__
  python/pyarrow/ipc.pxi
  python/pyarrow/table.pxi
Labels: Component: Python, awaiting merge

#38846 GH-38684: [Integration] Try to strengthen C Data Interface testing
  .github/workflows/java.yml
  .github/workflows/java_jni.yml
  ci/scripts/integration_arrow.sh
  dev/archery/archery/integration/tester_cpp.py
  dev/archery/archery/integration/tester_csharp.py
  dev/archery/archery/integration/tester_go.py
  dev/archery/archery/integration/tester_java.py
  docker-compose.yml
Labels: awaiting committer review

#38853 GH-38852: [C++] Replace "#ifdef ARROW_WITH_GZIP" in dataset test to ARROW_WITH_ZLIB
  cpp/src/parquet/column_writer_test.cc
  cpp/src/parquet/file_deserialize_test.cc
  cpp/src/parquet/file_serialize_test.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#38721 MINOR: [C++][Docs] Add \deprecated tag to deprecated BufferReader constructor
  cpp/src/arrow/io/memory.h
Labels: Component: C++, Component: Documentation, awaiting merge

#38815 GH-38814: [C++][Parquet] Update parquet.thrift to sync with 2.10.0
  cpp/src/generated/parquet_types.cpp
  cpp/src/generated/parquet_types.h
  cpp/src/parquet/parquet.thrift
Labels: Component: Parquet, Component: C++, awaiting committer review

#38871 GH-38870: [Documentation] Add List View and Large List View to status.rst
  docs/source/status.rst
Labels: Component: Documentation, awaiting committer review

#38793 GH-38700: [C++][FS][Azure] Implement `DeleteDir()`
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting changes

#38869 GH-38861: [C++] Add missing "-framework Security" to Libs.private in arrow.pc
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#38681 GH-38457: [C++] Support LogicalNullCount for DictionaryArray
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/data.cc
  cpp/src/arrow/array/data.h
  cpp/src/arrow/util/dict_util.cc
  cpp/src/arrow/util/dict_util.h
Labels: Component: C++, awaiting merge

#38797 GH-38795: [Go] Fix race GetToTimeFunc for Timestamp
  go/arrow/compare_test.go
  go/arrow/datatype_fixedwidth.go
  go/arrow/datatype_fixedwidth_test.go
Labels: Component: Go, awaiting merge

#38582 GH-28994: [C++][JSON] Change the max rows to Unlimited(int_32)
  cpp/src/arrow/dataset/file_json_test.cc
  cpp/src/arrow/json/parser.cc
  cpp/src/arrow/json/parser.h
  cpp/src/arrow/json/parser_benchmark.cc
  python/pyarrow/tests/test_json.py
Labels: Component: C++, Component: Python, awaiting merge

#37115 GH-36760: [Go] Add Avro OCF reader
  go/arrow/avro/avro2parquet/main.go
  go/arrow/avro/loader.go
  go/arrow/avro/reader.go
  go/arrow/avro/reader_test.go
  go/arrow/avro/reader_types.go
  go/arrow/avro/schema.go
  go/arrow/avro/schema_test.go
  go/arrow/avro/testdata/arrayrecordmap.avro
  go/arrow/avro/testdata/githubsamplecommits.avro
  go/go.mod
  go/go.sum
Labels: Component: Go, awaiting merge

#38784 GH-38432: [C++][Parquet] Try to fix performance regression in the DictByteArrayDecoderImpl
  cpp/src/parquet/encoding.cc
Labels: Component: Parquet, Component: C++, awaiting changes

#38740 GH-38738: [C++] Check variadic buffer counts in bounds
  cpp/CMakePresets.json
  cpp/src/arrow/ipc/reader.cc
  docs/source/developers/cpp/fuzzing.rst
Labels: Component: C++, Component: Documentation, awaiting committer review

#38866 GH-38864: [R] Update NEWS.md for 14.0.0.1
  r/NEWS.md
Labels: Component: R, Component: Documentation, awaiting committer review

#38901 GH-38900:[JS] Fix spelling
  js/src/enum.ts
  js/src/fb/timestamp.ts
  js/src/ipc/reader.ts
  js/src/vector.ts
  js/src/visitor/builderctor.ts
  js/src/visitor/indexof.ts
  js/src/visitor/jsonvectorassembler.ts
Labels: Component: JavaScript, awaiting merge

#38895 MINOR: [Docs] Replace "have" with "indicate" in the "Struct validity" section of the docs
  docs/source/format/Columnar.rst
Labels: Component: Documentation, awaiting review

#38875 GH-38874: [C++][Parquet] Minor: making parquet TypedComparator operation as const method
  cpp/src/parquet/statistics.cc
  cpp/src/parquet/statistics.h
Labels: Component: Parquet, Component: C++, awaiting merge

#38672 MINOR: [Release][Docs] Document how to avoid default pushing to main when running bump-versions
  docs/source/developers/release.rst
Labels: Component: Documentation, awaiting merge

#38899 MINOR: [Documentation] Fix the documented format strings for list-views
  docs/source/format/CDataInterface.rst
Labels: Component: Documentation, awaiting merge

#38839 GH-38836:[Go] Add Size() for ArrayData
  go/arrow/array.go
  go/arrow/array/data.go
  go/arrow/array/data_test.go
Labels: Component: Go, awaiting changes

#38919 GH-38918: [Go] Avoid schema.Fields allocations in some places
  go/arrow/array/concat.go
  go/arrow/array/record.go
  go/arrow/array/struct.go
  go/arrow/array/table.go
  go/arrow/array/union.go
  go/arrow/array/util.go
  go/arrow/cdata/cdata_exports.go
  go/arrow/compute/cast.go
  go/arrow/compute/exec/span.go
  go/arrow/compute/exprs/builders.go
  go/arrow/compute/exprs/exec.go
  go/arrow/compute/exprs/types.go
  go/arrow/compute/fieldref_test.go
  go/arrow/datatype_encoded.go
  go/arrow/datatype_extension.go
  go/arrow/datatype_nested.go
  go/arrow/datatype_nested_test.go
  go/arrow/flight/flightsql/driver/driver.go
  go/arrow/flight/flightsql/example/sql_batch_reader.go
  go/arrow/internal/arrjson/arrjson.go
  go/arrow/internal/dictutils/dict.go
  go/arrow/ipc/file_reader.go
  go/arrow/ipc/metadata.go
  go/arrow/scalar/nested.go
  go/arrow/scalar/scalar.go
  go/arrow/scalar/scalar_test.go
  go/arrow/schema.go
  go/arrow/schema_test.go
  go/parquet/pqarrow/file_reader.go
  go/parquet/pqarrow/schema.go
Labels: Component: Go, awaiting merge

#38922 GH-38921:[CI] Fix spelling
  .github/workflows/comment_bot.yml
  .github/workflows/dev_pr/issue_check.js
  .github/workflows/issue_bot.yml
Labels: awaiting review

#38949 GH-38948: [Swift] Fix spelling
  swift/Arrow/Sources/Arrow/Schema_generated.swift
  swift/Arrow/Tests/ArrowTests/IPCTests.swift
Labels: Component: Swift, awaiting review

#38939 GH-38938: [FlightRPC] Fix spelling
  cpp/src/arrow/flight/ArrowFlightTestingConfig.cmake.in
  cpp/src/arrow/flight/client.h
  cpp/src/arrow/flight/cookie_internal.h
  cpp/src/arrow/flight/flight_internals_test.cc
  cpp/src/arrow/flight/flight_test.cc
  cpp/src/arrow/flight/integration_tests/test_integration_server.cc
  cpp/src/arrow/flight/server.h
  cpp/src/arrow/flight/sql/example/sqlite_server.cc
  cpp/src/arrow/flight/sql/example/sqlite_statement.cc
  cpp/src/arrow/flight/sql/example/sqlite_type_info.h
  cpp/src/arrow/flight/sql/server.h
  cpp/src/arrow/flight/sql/types.h
  cpp/src/arrow/flight/types.h
  csharp/examples/FlightClientExample/Program.cs
  csharp/src/Apache.Arrow.Flight/FlightRecordBatchStreamReader.cs
  csharp/src/Apache.Arrow.Flight/Internal/RecordBatchReaderImplementation.cs
  csharp/src/Apache.Arrow.Flight/Internal/StreamReader.cs
  dev/tasks/linux-packages/apache-arrow/debian/libarrow-flight-sql-glib-doc.doc-base
  docs/source/format/Flight.rst
  format/FlightSql.proto
  python/pyarrow/_flight.pyx
  python/pyarrow/tests/test_flight.py
  swift/ArrowFlight/Sources/ArrowFlight/FlightClient.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightSql.pb.swift
  swift/ArrowFlight/Tests/ArrowFlightTests/FlightTest.swift
Labels: Component: C++, Component: Python, Component: C#, Component: FlightRPC, Component: Documentation, Component: Swift, awaiting review

#38941 GH-38940: [Ruby] Fix spelling
  ruby/red-arrow/lib/arrow/array.rb
  ruby/red-arrow/lib/arrow/sort-key.rb
Labels: Component: Ruby, awaiting review

#38953 GH-38952: [Format] Fix spelling
  format/Schema.fbs
  format/adbc.h
Labels: awaiting review

#38976 GH-38975: [Dev] Fix spelling
  CHANGELOG.md
  cmake-format.py
  docker-compose.yml
Labels: Component: Documentation, awaiting review

#38910 GH-38909: [Packaging] Drop support for Ubuntu 23.04
  dev/release/binary-task.rb
  dev/release/verify-release-candidate.sh
  dev/tasks/linux-packages/apache-arrow-apt-source/apt/ubuntu-lunar/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-lunar-arm64/from
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-lunar/Dockerfile
  dev/tasks/linux-packages/package-task.rb
  dev/tasks/tasks.yml
Labels: awaiting change review

#38982 GH-38981: [R][Release] Don't update version.json on compatible version release
  dev/release/utils-update-docs-versions.py
  docs/source/_static/versions.json
  r/pkgdown/assets/versions.json
Labels: Component: R, Component: Documentation, awaiting merge

#38873 GH-38920: [C++][Gandiva] Refactor function holder to return arrow Result
  cpp/src/gandiva/function_holder_maker_registry.cc
  cpp/src/gandiva/interval_holder.cc
  cpp/src/gandiva/interval_holder.h
  cpp/src/gandiva/interval_holder_test.cc
  cpp/src/gandiva/random_generator_holder.cc
  cpp/src/gandiva/random_generator_holder.h
  cpp/src/gandiva/random_generator_holder_test.cc
  cpp/src/gandiva/regex_functions_holder.cc
  cpp/src/gandiva/regex_functions_holder.h
  cpp/src/gandiva/regex_functions_holder_test.cc
  cpp/src/gandiva/to_date_holder.cc
  cpp/src/gandiva/to_date_holder.h
  cpp/src/gandiva/to_date_holder_test.cc
Labels: Component: C++, Component: C++ - Gandiva, awaiting change review

#38908 GH-38907: [C++] Stop installing internal bpacking_simd* headers
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/util/bpacking_avx2.cc
  cpp/src/arrow/util/bpacking_avx512.cc
  cpp/src/arrow/util/bpacking_neon.cc
  cpp/src/arrow/util/bpacking_simd128_generated_internal.h
  cpp/src/arrow/util/bpacking_simd256_generated_internal.h
  cpp/src/arrow/util/bpacking_simd512_generated_internal.h
  cpp/src/arrow/util/bpacking_simd_codegen.py
Labels: Component: C++, awaiting committer review

#38863 GH-38860: [C++][Parquet] Using length to optimize bloom filter read
  cpp/src/parquet/bloom_filter.cc
  cpp/src/parquet/bloom_filter.h
  cpp/src/parquet/bloom_filter_reader.cc
  cpp/src/parquet/bloom_filter_reader_test.cc
  cpp/src/parquet/bloom_filter_test.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/metadata.h
  cpp/src/parquet/printer.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#38588 MINOR: [Python] Remove spurious dot in docstring
  python/pyarrow/io.pxi
Labels: Component: Python, awaiting committer review

#38973 GH-34610: [Java] Fix valueCount and field name when loading/transferring NullVector
  java/c/src/test/java/org/apache/arrow/c/RoundtripTest.java
  java/vector/src/main/java/org/apache/arrow/vector/NullVector.java
Labels: awaiting committer review

#38987 GH-38879: [C++][Gandiva] Fix Gandiva to_date function's validation for supress errors parameter
  cpp/src/gandiva/to_date_holder.cc
  cpp/src/gandiva/to_date_holder_test.cc
Labels: Component: C++, Component: C++ - Gandiva, awaiting review

#38943 GH-38942: [C#] Fix spelling
  csharp/src/Apache.Arrow/ArrowBuffer.BitmapBuilder.cs
  csharp/src/Apache.Arrow/Flatbuf/FlatBuffers/ByteBuffer.cs
  csharp/src/Apache.Arrow/Flatbuf/FlatBuffers/FlatBufferBuilder.cs
  csharp/src/Apache.Arrow/Flatbuf/FlatBuffers/FlatBufferVerify.cs
  csharp/src/Apache.Arrow/Flatbuf/FlatBuffers/Table.cs
  csharp/src/Apache.Arrow/Flatbuf/Types/Timestamp.cs
  csharp/src/Apache.Arrow/Properties/AssemblyInfo.cs
  csharp/test/Apache.Arrow.Tests/ArrowBufferBitmapBuilderTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowFileWriterTests.cs
Labels: Component: C#, awaiting committer review

#38947 GH-38946: [MATLAB] Fix spelling
  matlab/src/cpp/arrow/matlab/array/proxy/array.cc
  matlab/src/cpp/arrow/matlab/array/proxy/time_array.h
  matlab/src/cpp/arrow/matlab/array/proxy/timestamp_array.cc
  matlab/src/cpp/arrow/matlab/bit/pack.cc
  matlab/src/cpp/arrow/matlab/error/error.h
  matlab/src/cpp/arrow/matlab/tabular/get_row_as_string.h
  matlab/src/cpp/arrow/matlab/tabular/proxy/schema.cc
  matlab/src/cpp/arrow/matlab/type/proxy/time_type.cc
  matlab/src/cpp/arrow/matlab/type/proxy/timestamp_type.cc
  matlab/src/matlab/+arrow/+array/StructArray.m
  matlab/src/matlab/+arrow/+internal/+test/+display/makeLinkString.m
  matlab/src/matlab/+arrow/+internal/+validate/nonsparse.m
  matlab/src/matlab/+arrow/+internal/+validate/realnumeric.m
  matlab/src/matlab/+arrow/+internal/+validate/shape.m
  matlab/src/matlab/+arrow/+internal/+validate/type.m
  matlab/src/matlab/+arrow/+tabular/+internal/makeValidDimensionNames.m
  matlab/src/matlab/+arrow/+type/Type.m
  matlab/src/matlab/+arrow/+util/table2mlarrow.m
  matlab/test/arrow/array/list/tTableValidator.m
  matlab/test/arrow/array/tChunkedArray.m
  matlab/test/arrow/array/tFloat32Array.m
  matlab/test/arrow/array/tFloat64Array.m
  matlab/test/arrow/array/tListArray.m
  matlab/test/arrow/array/tTime32Array.m
  matlab/test/arrow/array/tTime64Array.m
  matlab/test/arrow/array/tTimestampArray.m
  matlab/test/arrow/internal/validate/index/tNumeric.m
  matlab/test/arrow/internal/validate/index/tString.m
  matlab/test/arrow/tabular/tRecordBatch.m
  matlab/test/arrow/tabular/tSchema.m
  matlab/test/arrow/tabular/tTable.m
  matlab/test/arrow/tabular/tTabularDisplay.m
  matlab/tools/addInstallDirToSearchPath.m
Labels: Component: MATLAB, awaiting merge

#39002 MINOR: [C++][Parquet] Fix GzipMembers tests when built w/o zlib
  cpp/src/arrow/util/compression_test.cc
  cpp/src/parquet/reader_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#38974 GH-38779: [R][CI] Use devtools on self-hosted machines and use macos-11 for intel package build
  dev/tasks/r/github.packages.yml
  dev/tasks/tasks.yml
Labels: awaiting review
