Repository apache/arrow, pull requests merged in 2023-04, with the labels that each got.

#34794 GH-34832: [Go] Add Record SetColumn method
  go/arrow/array/record.go
  go/arrow/array/record_test.go
  go/arrow/record.go
Labels: Component: Go, awaiting merge

#34776 MINOR: [Go] Tweak Flight SQL demo server for ADBC Java Flight SQL
  go/arrow/flight/flightsql/example/sql_batch_reader.go
  go/arrow/flight/flightsql/example/sqlite_server.go
  go/arrow/flight/flightsql/sqlite_server_test.go
Labels: Component: Go, awaiting merge

#34836 GH-34823: [C++][ORC] Fix ORC CHAR type mapping
  cpp/src/arrow/adapters/orc/adapter_test.cc
  cpp/src/arrow/adapters/orc/util.cc
  docs/source/cpp/orc.rst
Labels: Component: C++, Component: Documentation, awaiting change review

#34835 GH-34812: [Packaging][Python] Use self-hosted arm64 Linux runner instead of Travis CI for Linux arm64 wheels
  dev/tasks/macros.jinja
  dev/tasks/python-wheels/github.linux.yml
  dev/tasks/python-wheels/travis.linux.arm64.yml
  dev/tasks/tasks.yml
Labels: awaiting committer review

#34856 GH-34855: [Go] Add GetValue function to Metadata
  go/arrow/schema.go
  go/arrow/schema_test.go
Labels: Component: Go, awaiting review

#34849 MINOR: [Go] Add tests for decimal arithmetic operations
  go/arrow/decimal128/decimal128_test.go
  go/arrow/decimal256/decimal256_test.go
Labels: Component: Go, awaiting merge

#34840 GH-34839: [Go] Build compute without noasm for non-amd64 GOARCH
  go/arrow/compute/internal/kernels/basic_arithmetic_noasm.go
  go/arrow/compute/internal/kernels/scalar_comparison_noasm.go
Labels: Component: Go, awaiting review

#34859 MINOR: [C++][Docs] Fix typos in compute document
  docs/source/cpp/compute.rst
Labels: Component: Documentation, awaiting review

#34872 GH-34871: [C++] Fixed the add_dataset_test function to properly refer to the test file
  cpp/src/arrow/dataset/CMakeLists.txt
  cpp/src/arrow/dataset/file_csv_test.cc
  cpp/src/arrow/dataset/file_test.cc
  cpp/src/arrow/dataset/scanner_test.cc
  cpp/src/arrow/dataset/subtree_test.cc
  cpp/src/arrow/dataset/test_util_internal.h
Labels: Component: C++, awaiting merge

#34874 GH-34861: [C++] Move GTest std version check into SYSTEM if branch
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting review

#34767 MINOR: [Python][Docs] Correct docstring title of Dataset.count_rows
  python/pyarrow/_dataset.pyx
Labels: Component: Python, awaiting merge

#34766 GH-31880: [Python] Table.filter with expression now preserves order with use_threads=True
  python/pyarrow/acero.py
Labels: Component: Python, awaiting committer review

#34773 GH-33976: [Python] Clean-up Acero related declarations in libarrow_acero.pxd
  python/pyarrow/includes/libarrow_acero.pxd
  python/pyarrow/tests/test_acero.py
Labels: Component: Python, awaiting review

#34878 GH-15070: [Python][CI] Compatibility with pandas 2.0
  python/pyarrow/pandas_compat.py
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting committer review

#34864 GH-34863: [Go] Pow method for Decimal DataTypes
  go/arrow/decimal128/decimal128.go
  go/arrow/decimal128/decimal128_test.go
  go/arrow/decimal256/decimal256.go
  go/arrow/decimal256/decimal256_test.go
Labels: Component: Go, awaiting review

#34881 GH-34880: [Python][CI] Fix Windows tests failing with latest pandas 2.0
  ci/appveyor-cpp-setup.bat
  python/pyarrow/tests/parquet/test_pandas.py
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting committer review

#34875 MINOR: [C++][Benchmark][Acero] Fix a typo
  cpp/src/arrow/acero/hash_join_benchmark.cc
Labels: Component: C++, awaiting committer review

#34551 GH-33616: [C++] Reorder group_by so that keys/segment keys come before aggregates
  c_glib/test/test-execute-plan.rb
  cpp/src/arrow/acero/aggregate_node.cc
  cpp/src/arrow/acero/groupby_test.cc
  cpp/src/arrow/acero/hash_aggregate_test.cc
  cpp/src/arrow/acero/plan_test.cc
  cpp/src/arrow/dataset/scanner_test.cc
  cpp/src/arrow/engine/substrait/function_test.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_acero.py
  r/R/dplyr-collect.R
  r/R/query-engine.R
  r/tests/testthat/test-dataset-dplyr.R
  r/tests/testthat/test-dplyr-query.R
  r/tests/testthat/test-dplyr-summarize.R
  ruby/red-arrow/test/test-group.rb
Labels: Component: R, Component: C++, Component: Python, Component: Ruby, Component: GLib, awaiting committer review

#34870 GH-34869: [C++] Configure alpine linux nightly job to build gtest from source
  ci/docker/alpine-linux-3.16-cpp.dockerfile
Labels: awaiting changes

#34900 GH-34899: [C++] Dependency: bump zstd to v1.5.5
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting review

#34708 GH-33287: [R] Cannot read_parquet on http URL
  r/R/csv.R
  r/R/filesystem.R
  r/R/io.R
  r/R/ipc-stream.R
  r/R/parquet.R
  r/man/make_readable_file.Rd
  r/tests/testthat/test-feather.R
  r/tests/testthat/test-io.R
  r/tests/testthat/test-parquet.R
Labels: Component: R, Component: Parquet, awaiting merge

#34559 GH-34165: [Python] Extension array data type should default to the storage type if to_pandas_dtype is not implemented
  ci/conda_env_gandiva.txt
  python/pyarrow/array.pxi
  python/pyarrow/src/arrow/python/arrow_to_pandas.cc
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_extension_type.py
Labels: Component: Python, awaiting review

#34806 GH-34790: [Go]: Add array.Diff()
  go/arrow/array/diff.go
  go/arrow/array/diff_test.go
Labels: Component: Go, awaiting merge

#34844 GH-34843: [R] Fix R build failed caused by Acero refactor
  dev/tasks/homebrew-formulae/apache-arrow.rb
  dev/tasks/homebrew-formulae/autobrew/apache-arrow-static.rb
  dev/tasks/homebrew-formulae/autobrew/apache-arrow.rb
  r/NAMESPACE
  r/R/arrow-info.R
  r/R/type.R
  r/configure
  r/configure.win
  r/data-raw/codegen.R
  r/inst/build_arrow_static.sh
  r/man/arrow_info.Rd
  r/man/data-type.Rd
  r/src/array.cpp
  r/src/arrowExports.cpp
  r/src/arrow_types.h
  r/src/compute-exec.cpp
  r/tests/testthat/test-dplyr-arrange.R
  r/tests/testthat/test-dplyr-collapse.R
  r/tests/testthat/test-dplyr-count.R
  r/tests/testthat/test-dplyr-distinct.R
  r/tests/testthat/test-dplyr-filter.R
  r/tests/testthat/test-dplyr-funcs-conditional.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
  r/tests/testthat/test-dplyr-funcs-math.R
  r/tests/testthat/test-dplyr-funcs-string.R
  r/tests/testthat/test-dplyr-funcs-type.R
  r/tests/testthat/test-dplyr-group-by.R
  r/tests/testthat/test-dplyr-join.R
  r/tests/testthat/test-dplyr-mutate.R
  r/tests/testthat/test-dplyr-query.R
  r/tests/testthat/test-dplyr-select.R
  r/tests/testthat/test-dplyr-slice.R
  r/tests/testthat/test-dplyr-summarize.R
  r/tests/testthat/test-dplyr-union.R
  r/tests/testthat/test-io.R
  r/tests/testthat/test-parquet.R
  r/tests/testthat/test-query-engine.R
  r/tests/testthat/test-udf.R
  r/tools/autobrew
Labels: Component: R, awaiting committer review

#33674 GH-15256: [C++][Dataset] Add support for writing with Partitioning::Default()
  c_glib/arrow-dataset-glib/partitioning.cpp
  c_glib/arrow-dataset-glib/partitioning.h
  c_glib/test/dataset/test-partitioning.rb
  cpp/src/arrow/dataset/partition.cc
  cpp/src/arrow/dataset/partition.h
  cpp/src/arrow/dataset/partition_test.cc
  python/pyarrow/tests/test_dataset.py
Labels: Component: C++, Component: Python, Component: GLib, awaiting changes

#34916 GH-34768: [C++][Gandiva] Accept LLVM 16
  .github/workflows/ruby.yml
  ci/scripts/cpp_test.sh
  cpp/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#34903 MINOR: [Docs][Python] Remove note about pyarrow.dataset being experimental
  docs/source/python/api/dataset.rst
  docs/source/python/dataset.rst
Labels: Component: Documentation, awaiting committer review

#34922 GH-34768: [C++][Gandiva] Remove LLVM<16 pin
  ci/conda_env_gandiva.txt
Labels: awaiting committer review

#34925 GH-33689: [Python][CI] Re-enable fsspec tests on dask nightly tests
  ci/scripts/integration_dask.sh
Labels: awaiting committer review

#34924 GH-34686: [Python] Add RunEndEncodedScalar class
  docs/source/python/api/arrays.rst
  python/pyarrow/__init__.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/scalar.pxi
  python/pyarrow/tests/test_misc.py
  python/pyarrow/tests/test_scalars.py
Labels: Component: Python, Component: Documentation, awaiting committer review

#34408 GH-34361: [C++] Fix the handling of logical nulls for types without bitmaps like Unions and Run-End Encoded
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/array/array_base.cc
  cpp/src/arrow/array/array_base.h
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/builder_nested.h
  cpp/src/arrow/array/data.cc
  cpp/src/arrow/array/data.h
  cpp/src/arrow/util/ree_util.cc
  cpp/src/arrow/util/ree_util.h
  cpp/src/arrow/util/union_util.cc
  cpp/src/arrow/util/union_util.h
Labels: Component: C++, awaiting change review

#34926 GH-29705: [Python] Remove deprecated pyarrow.serialization functionality
  docs/source/python/ipc.rst
  python/benchmarks/convert_pandas.py
  python/pyarrow/__init__.py
  python/pyarrow/lib.pyx
  python/pyarrow/serialization.pxi
  python/pyarrow/serialization.py
  python/pyarrow/tests/deserialize_buffer.py
  python/pyarrow/tests/test_ipc.py
  python/pyarrow/tests/test_pandas.py
  python/pyarrow/tests/test_serialization.py
  python/pyarrow/tests/test_serialization_deprecated.py
Labels: Component: Python, Component: Documentation, awaiting merge

#34902 GH-34819: [Ruby] Add Slicer::ColumnCondition#match_substring
  ruby/red-arrow/lib/arrow/slicer.rb
  ruby/red-arrow/test/test-slicer.rb
Labels: Component: Ruby, awaiting change review

#34915 GH-34914: [Packaging][Linux] Add support for Acero
  cpp/src/arrow/dataset/CMakeLists.txt
  dev/release/post-11-bump-versions-test.rb
  dev/release/rat_exclude_files.txt
  dev/release/verify-yum.sh
  dev/tasks/linux-packages/apache-arrow/debian/arrow-tools.install
  dev/tasks/linux-packages/apache-arrow/debian/control.in
  dev/tasks/linux-packages/apache-arrow/debian/libarrow-acero-dev.install
  dev/tasks/linux-packages/apache-arrow/debian/libarrow-acero1200.install
  dev/tasks/linux-packages/apache-arrow/debian/parquet-tools.install
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
  dev/tasks/tasks.yml
Labels: Component: C++, awaiting committer review

#34920 GH-34813: [C++] Improve GoogleTest detection
  ci/docker/alpine-linux-3.16-cpp.dockerfile
  cpp/CMakeLists.txt
  cpp/cmake_modules/FindGTestAlt.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/adapters/orc/CMakeLists.txt
  cpp/src/arrow/filesystem/CMakeLists.txt
  cpp/src/arrow/flight/CMakeLists.txt
  cpp/src/arrow/flight/integration_tests/CMakeLists.txt
  cpp/src/arrow/gpu/CMakeLists.txt
  cpp/src/arrow/testing/CMakeLists.txt
  cpp/src/parquet/CMakeLists.txt
Labels: Component: Parquet, Component: C++, Component: FlightRPC, awaiting changes

#34866 GH-34862: [C++] Fix ArrowDataset dependencies
  cpp/cmake_modules/DefineOptions.cmake
  cpp/src/arrow/acero/asof_join_benchmark.cc
  cpp/src/arrow/dataset/CMakeLists.txt
Labels: Component: C++, awaiting merge

#34947 GH-34946: [Ruby] Remove DictionaryArrayBuilder related omissions
  ruby/red-arrow/test/raw-records/test-dense-union-array.rb
  ruby/red-arrow/test/raw-records/test-list-array.rb
  ruby/red-arrow/test/raw-records/test-map-array.rb
  ruby/red-arrow/test/raw-records/test-sparse-union-array.rb
  ruby/red-arrow/test/raw-records/test-struct-array.rb
  ruby/red-arrow/test/values/test-dense-union-array.rb
  ruby/red-arrow/test/values/test-list-array.rb
  ruby/red-arrow/test/values/test-map-array.rb
  ruby/red-arrow/test/values/test-sparse-union-array.rb
  ruby/red-arrow/test/values/test-struct-array.rb
Labels: Component: Ruby, awaiting committer review

#34943 MINOR: [R] Unskip acero tests
  r/R/arrow-info.R
Labels: Component: R, awaiting review

#34974 GH-34973: [CI][Packaging] Fix script path in wheel-clean
  dev/tasks/python-wheels/github.clean.yml
Labels: awaiting committer review

#34969 GH-34945: [C++][Docs] Add missing cmake_minimum_required() to example
  docs/source/cpp/build_system.rst
Labels: Component: Documentation, awaiting merge

#34978 GH-34977: [C++] Fix "Requires" format in arrow-dataset.pc
  cpp/src/arrow/acero/CMakeLists.txt
  cpp/src/arrow/acero/arrow-acero.pc.in
  cpp/src/arrow/dataset/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#34981 GH-21429: [GLib] Add GArrowDenseUnionArrayBuilder
  c_glib/arrow-glib/array-builder.cpp
  c_glib/arrow-glib/array-builder.h
  c_glib/arrow-glib/array-builder.hpp
  c_glib/arrow-glib/table-builder.cpp
  c_glib/test/test-dense-union-array-builder.rb
  ruby/red-arrow/lib/arrow/dense-union-array-builder.rb
  ruby/red-arrow/lib/arrow/loader.rb
  ruby/red-arrow/lib/arrow/struct-array-builder.rb
  ruby/red-arrow/test/raw-records/test-dense-union-array.rb
  ruby/red-arrow/test/raw-records/test-list-array.rb
  ruby/red-arrow/test/raw-records/test-map-array.rb
  ruby/red-arrow/test/raw-records/test-sparse-union-array.rb
  ruby/red-arrow/test/raw-records/test-struct-array.rb
  ruby/red-arrow/test/values/test-dense-union-array.rb
  ruby/red-arrow/test/values/test-list-array.rb
  ruby/red-arrow/test/values/test-map-array.rb
  ruby/red-arrow/test/values/test-sparse-union-array.rb
  ruby/red-arrow/test/values/test-struct-array.rb
Labels: Component: Ruby, Component: GLib, awaiting committer review

#34955 GH-34335: [C++][Parquet] Optimize Decoding DELTA_LENGTH_BYTE_ARRAY
  cpp/src/parquet/encoding.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#34952 GH-34951: [Ruby] Add methods using MatchSubStringFamilyCondition
  ruby/red-arrow/lib/arrow/slicer.rb
  ruby/red-arrow/test/test-slicer.rb
Labels: Component: Ruby, awaiting changes

#34954 GH-34953: [Ruby] Change null selection behavior in `Table.slice` to `:drop`
  ruby/red-arrow/lib/arrow/table.rb
  ruby/red-arrow/test/test-slicer.rb
  ruby/red-arrow/test/test-table.rb
Labels: Component: Ruby, awaiting review

#34827 GH-34790: [Go]: Add array.Edits.UnifiedDiff
  go/arrow/array/diff.go
  go/arrow/array/diff_test.go
Labels: Component: Go, awaiting change review

#34808 GH-34807: [Go] Handle `io.EOF` when reading parquet footer size and magic bytes
  go/parquet/file/file_reader.go
  go/parquet/file/file_reader_test.go
Labels: Component: Go, awaiting changes

#34854 GH-34853: [Go] Add TotalRecordSize, TotalArraySize
  go/arrow/util/byte_size.go
  go/arrow/util/byte_size_test.go
Labels: Component: Go, awaiting change review

#34777 MINOR: [C++] Remove std::move when calling ProcessEmit and ProcessExtensionEmit
  cpp/src/arrow/engine/substrait/expression_internal.h
  cpp/src/arrow/engine/substrait/relation_internal.cc
Labels: Component: C++, awaiting changes

#34054 GH-34053: [C++][Parquet] Write parquet page index
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/column_page.h
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/column_writer.h
  cpp/src/parquet/file_writer.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/metadata.h
  cpp/src/parquet/page_index.cc
  cpp/src/parquet/page_index.h
  cpp/src/parquet/page_index_test.cc
  cpp/src/parquet/properties.h
  cpp/src/parquet/statistics.cc
  cpp/src/parquet/statistics.h
  cpp/src/parquet/thrift_internal.h
Labels: Component: Parquet, Component: C++, awaiting changes

#34652 GH-34669: [Packaging][Conda] Update arrow feedstock dependencies
  dev/tasks/conda-recipes/.ci_support/linux_64_cuda_compiler_version10.2.yaml
  dev/tasks/conda-recipes/.ci_support/linux_64_cuda_compiler_versionNone.yaml
  dev/tasks/conda-recipes/.ci_support/linux_aarch64_cuda_compiler_versionNone.yaml
  dev/tasks/conda-recipes/.ci_support/linux_ppc64le_cuda_compiler_versionNone.yaml
  dev/tasks/conda-recipes/.ci_support/osx_64_.yaml
  dev/tasks/conda-recipes/.ci_support/osx_arm64_.yaml
  dev/tasks/conda-recipes/.ci_support/r/linux_64_r_base4.1.yaml
  dev/tasks/conda-recipes/.ci_support/r/linux_aarch64_r_base4.1.yaml
  dev/tasks/conda-recipes/.ci_support/r/osx_64_r_base4.1.yaml
  dev/tasks/conda-recipes/.ci_support/r/osx_arm64_r_base4.1.yaml
  dev/tasks/conda-recipes/.ci_support/win_64_cuda_compiler_version10.2.yaml
  dev/tasks/conda-recipes/.ci_support/win_64_cuda_compiler_versionNone.yaml
  dev/tasks/conda-recipes/arrow-cpp/activate.sh
  dev/tasks/conda-recipes/arrow-cpp/bld-arrow.bat
  dev/tasks/conda-recipes/arrow-cpp/bld-pyarrow.bat
  dev/tasks/conda-recipes/arrow-cpp/build-arrow.sh
  dev/tasks/conda-recipes/arrow-cpp/build-pyarrow.sh
  dev/tasks/conda-recipes/arrow-cpp/meta.yaml
  dev/tasks/conda-recipes/azure.win.yml
  dev/tasks/conda-recipes/r-arrow/meta.yaml
  dev/tasks/tasks.yml
Labels: awaiting change review

#35013 GH-34983: [C++] Preserve map values nullability on C Data Interface import
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/c/bridge_test.cc
Labels: Component: C++, awaiting merge

#34997 GH-34995: [C++] Improve available GTest check for SYSTEM case
  cpp/cmake_modules/FindGTestAlt.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#35016 GH-34906: [C++] Return invalid status instead of segfault if reading from a closed ArrayStreamBatchReader
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/c/bridge_test.cc
Labels: Component: C++, awaiting committer review

#34935 GH-34933: [Python] Raise minimum cython version
  python/pyproject.toml
  python/requirements-build.txt
  python/requirements-wheel-build.txt
  python/setup.py
Labels: Component: Python, awaiting merge

#34958 GH-34944: [Python] Fix crash when converting non-sequence object with getitem in pa.array()
  python/pyarrow/src/arrow/python/python_to_arrow.cc
  python/pyarrow/tests/test_convert_builtin.py
Labels: Component: Python, awaiting committer review

#35026 GH-35025: [Python] Remove use of deprecated pandas.Categorical fastpath keyword
  python/pyarrow/array.pxi
Labels: Component: Python, awaiting committer review

#34883 GH-34882: [Python] Binding for FixedShapeTensorType
  docs/source/format/CanonicalExtensions.rst
  python/pyarrow/__init__.py
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/lib.pxd
  python/pyarrow/public-api.pxi
  python/pyarrow/tests/test_extension_type.py
  python/pyarrow/types.pxi
Labels: Component: Python, Component: Documentation, awaiting change review

#34331 GH-34332: [Go][FlightRPC] Add driver for `database/sql` framework
  go/arrow/flight/client.go
  go/arrow/flight/flightsql/client.go
  go/arrow/flight/flightsql/driver/README.md
  go/arrow/flight/flightsql/driver/config.go
  go/arrow/flight/flightsql/driver/driver.go
  go/arrow/flight/flightsql/driver/driver_test.go
  go/arrow/flight/flightsql/driver/utils.go
Labels: Component: Go, Component: Documentation, awaiting merge

#34797 GH-34796: [C++] Add FromTensor, ToTensor and strides methods to FixedShapeTensorArray
  cpp/src/arrow/extension/fixed_shape_tensor.cc
  cpp/src/arrow/extension/fixed_shape_tensor.h
  cpp/src/arrow/extension/fixed_shape_tensor_test.cc
Labels: Component: C++, awaiting merge

#35039 GH-35038: [R] argument order in arrow_table affects object return type
  r/src/table.cpp
  r/tests/testthat/test-Table.R
Labels: Component: R, awaiting changes

#34685 GH-34437: [R] Use FetchNode and OrderByNode
  r/R/arrowExports.R
  r/R/dplyr-summarize.R
  r/R/dplyr.R
  r/R/query-engine.R
  r/src/arrowExports.cpp
  r/src/compute-exec.cpp
  r/tests/testthat/test-dataset-dplyr.R
  r/tests/testthat/test-dplyr-collapse.R
  r/tests/testthat/test-dplyr-query.R
  r/tests/testthat/test-dplyr-summarize.R
Labels: Component: R, awaiting merge

#34989 GH-34988: [C#] Fix Windows-specific test issue in CDataSchemaPythonTest
  csharp/src/Apache.Arrow/C/CArrowSchemaExporter.cs
  csharp/test/Apache.Arrow.Tests/CDataInterfacePythonTests.cs
Labels: Component: C#, awaiting merge

#35030 GH-35029: [CI][C#] Install python on ubuntu-csharp image to fix nuget CI build
  ci/docker/ubuntu-22.04-csharp.dockerfile
  ci/scripts/csharp_test.sh
Labels: awaiting committer review

#34537 GH-14939: [C++] Support Table lookups in FieldRef and FieldPath
  cpp/src/arrow/compute/kernels/scalar_string_test.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
  cpp/src/arrow/type_test.cc
Labels: Component: C++, awaiting merge

#34970 GH-34968: [C++] Add Equal Options to RecordBatch
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch.h
  cpp/src/arrow/record_batch_test.cc
Labels: Component: C++, awaiting review

#35061 GH-35060: [C#][CI] Update dotnet download link regex
  dev/release/verify-release-candidate.sh
Labels: awaiting review

#35031 GH-15070: [Python][CI] Update pandas test for empty columns dtype change in pandas 2.0.1
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting committer review

#35057 GH-35056: [Python][CI] Don't install gdb on Windows
  ci/conda_env_python.txt
  ci/conda_env_unix.txt
Labels: awaiting merge

#35047 GH-34653: [CI][C++] Fix for arrow-dataset-file-json-test segfault on alpine-linux-cpp
  cpp/src/arrow/dataset/file_json_test.cc
Labels: Component: C++, awaiting merge

#35070 GH-35069: [Archery][Release] Remove retrieving ARROW issue from migration comment on Archery release
  dev/archery/archery/release/core.py
Labels: awaiting committer review

#35050 MINOR: [Go] Add "IsSignedInteger"
  go/arrow/datatype.go
Labels: Component: Go, awaiting review

#35074 GH-35073: [R] Minimal build is failing (acero symbol not defined)
  r/src/arrowExports.cpp
  r/src/compute-exec.cpp
Labels: Component: R, awaiting committer review

#35017 GH-35014: [Python] Make sure unit tests can run without acero
  python/pyarrow/acero.py
  python/pyarrow/conftest.py
  python/pyarrow/tests/parquet/test_dataset.py
  python/pyarrow/tests/test_acero.py
  python/pyarrow/tests/test_exec_plan.py
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting changes

#34904 GH-34786: [C++] Fix output schema calculated by Substrait consumer for AggregateRel
  cpp/src/arrow/acero/aggregate_node.cc
  cpp/src/arrow/acero/aggregate_node.h
  cpp/src/arrow/acero/hash_aggregate_test.cc
  cpp/src/arrow/engine/substrait/options.cc
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/relation_internal.h
Labels: Component: C++, awaiting changes

#35077 GH-35062: [Go][CI] Fix verification failures
  go/arrow/datatype_fixedwidth_test.go
  go/arrow/flight/flightsql/driver/driver.go
  go/arrow/memory/default_allocator.go
  go/arrow/memory/default_mallocator.go
  go/arrow/memory/default_mallocator_test.go
  go/arrow/memory/mallocator/doc.go
  go/arrow/memory/mallocator/mallocator_test.go
Labels: Component: Go, awaiting committer review

#34984 GH-34565: [C++] Teach dataset_writer to accept custom filename functor
  cpp/src/arrow/dataset/dataset_writer.cc
  cpp/src/arrow/dataset/dataset_writer_test.cc
  cpp/src/arrow/dataset/file_base.h
Labels: Component: C++, awaiting merge

#34896 GH-34893: [C++] Fix run-end encoded array iterator issues that manifest on backwards iteration
  cpp/src/arrow/array/builder_run_end.cc
  cpp/src/arrow/compare.cc
  cpp/src/arrow/compute/kernels/vector_run_end_encode.cc
  cpp/src/arrow/util/ree_util.h
  cpp/src/arrow/util/ree_util_test.cc
Labels: Component: C++, awaiting merge

#14463 GH-31868: [C++] Support concatenating extension arrays
  cpp/src/arrow/array/concatenate.cc
  cpp/src/arrow/array/concatenate_test.cc
  python/pyarrow/tests/test_extension_type.py
Labels: Component: C++, Component: Python, awaiting change review

#35051 GH-35042: [Go][FlightSQL driver] Add TLS configuration
  go/arrow/flight/flightsql/driver/README.md
  go/arrow/flight/flightsql/driver/config.go
  go/arrow/flight/flightsql/driver/config_test.go
  go/arrow/flight/flightsql/driver/driver.go
  go/arrow/flight/flightsql/driver/errors.go
Labels: Component: Go, Component: Documentation, awaiting changes

#35023 GH-35018: [CI][Java][C++] Use ARROW_ZSTD_USE_SHARED=OFF for LLVM
  cpp/cmake_modules/FindLLVMAlt.cmake
  cpp/src/gandiva/CMakeLists.txt
  cpp/src/gandiva/GandivaConfig.cmake.in
Labels: Component: C++, Component: C++ - Gandiva, awaiting committer review

#34586 GH-34216: [Python] Support for reading JSON Datasets With Python
  cpp/src/arrow/dataset/api.h
  python/pyarrow/_dataset.pyx
  python/pyarrow/_json.pxd
  python/pyarrow/_json.pyx
  python/pyarrow/dataset.py
  python/pyarrow/includes/libarrow_dataset.pxd
  python/pyarrow/tests/test_dataset.py
Labels: Component: C++, Component: Python, awaiting merge

#34889 GH-34888: [C++][Parquet] Writer supports adding extra kv meta
  cpp/src/parquet/file_writer.cc
  cpp/src/parquet/file_writer.h
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/metadata.h
  cpp/src/parquet/metadata_test.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#35092 GH-35086: [Java][CI] Upgrade CycloneDX Maven plugin version
  ci/scripts/java_jni_macos_build.sh
  java/pom.xml
Labels: Component: Java, awaiting committer review

#35087 GH-34474: [C++] Detect and raise an error if a join will need too much key data
  cpp/src/arrow/acero/swiss_join.cc
Labels: Component: C++, awaiting merge

#35075 GH-34539: [C++] Fix throttled scheduler to avoid stack overflow in dataset writer
  cpp/src/arrow/util/async_util.cc
  cpp/src/arrow/util/async_util_test.cc
Labels: Component: C++, awaiting merge

#35110 MINOR: [Dev] Add Dane Pitkin and Felipe Oliveira Carvalho to collaborators
  .asf.yaml
Labels: Component: Documentation, awaiting committer review

#35002 MINOR: [C++] Make the utilities used to implement run_end_encode available to other compute kernels
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/kernels/ree_util_internal.cc
  cpp/src/arrow/compute/kernels/ree_util_internal.h
  cpp/src/arrow/compute/kernels/vector_run_end_encode.cc
Labels: Component: C++, awaiting merge

#34986 GH-34657: [Go] Add ValueString(i int) string to array
  go/arrow/array.go
  go/arrow/array/array.go
  go/arrow/array/binary.go
  go/arrow/array/binary_test.go
  go/arrow/array/binarybuilder.go
  go/arrow/array/binarybuilder_test.go
  go/arrow/array/boolean.go
  go/arrow/array/boolean_test.go
  go/arrow/array/booleanbuilder.go
  go/arrow/array/booleanbuilder_test.go
  go/arrow/array/builder.go
  go/arrow/array/decimal128.go
  go/arrow/array/decimal128_test.go
  go/arrow/array/decimal256.go
  go/arrow/array/decimal256_test.go
  go/arrow/array/dictionary.go
  go/arrow/array/dictionary_test.go
  go/arrow/array/encoded.go
  go/arrow/array/encoded_test.go
  go/arrow/array/extension.go
  go/arrow/array/fixed_size_list.go
  go/arrow/array/fixed_size_list_test.go
  go/arrow/array/fixedsize_binary.go
  go/arrow/array/fixedsize_binary_test.go
  go/arrow/array/fixedsize_binarybuilder.go
  go/arrow/array/float16.go
  go/arrow/array/float16_builder.go
  go/arrow/array/float16_builder_test.go
  go/arrow/array/interval.go
  go/arrow/array/list.go
  go/arrow/array/list_test.go
  go/arrow/array/map.go
  go/arrow/array/null.go
  go/arrow/array/numeric.gen.go
  go/arrow/array/numeric.gen.go.tmpl
  go/arrow/array/numericbuilder.gen.go
  go/arrow/array/numericbuilder.gen.go.tmpl
  go/arrow/array/numericbuilder.gen_test.go
  go/arrow/array/numericbuilder.gen_test.go.tmpl
  go/arrow/array/string.go
  go/arrow/array/string_test.go
  go/arrow/array/struct.go
  go/arrow/array/struct_test.go
  go/arrow/array/union.go
  go/arrow/csv/transformer.go
  go/internal/types/extension_types.go
Labels: Component: Go, awaiting change review

#35091 GH-35063: [CI] Fix Python requirement in C# tests
  ci/docker/ubuntu-22.04-csharp.dockerfile
  csharp/test/Apache.Arrow.Tests/CDataInterfacePythonTests.cs
Labels: Component: C#, awaiting committer review

#35011 GH-35008: [C++] Add printers for REETestData and PageIndexReaderParam to placate Valgrind
  cpp/src/arrow/compute/kernels/vector_run_end_encode_test.cc
  cpp/src/arrow/dataset/file_json_test.cc
  cpp/src/arrow/dataset/test_util_internal.h
  cpp/src/arrow/util/utf8_util_test.cc
  cpp/src/parquet/page_index.cc
  cpp/src/parquet/page_index.h
  cpp/src/parquet/reader_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#34961 GH-34960: [C++] test util Fixing arrow Random Generator for lost nullable info
  cpp/src/arrow/testing/random.cc
  cpp/src/arrow/testing/random_test.cc
Labels: Component: C++, awaiting merge

#35128 GH-35066: [CI][Packaging][Linux] Free more disk space
  dev/tasks/linux-packages/github.linux.yml
Labels: awaiting committer review

#34931 GH-34930: [C++] Standardize aggregation column order
  cpp/src/arrow/acero/aggregate_node.cc
  cpp/src/arrow/acero/hash_aggregate_test.cc
  cpp/src/arrow/acero/plan_test.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: Component: C++, awaiting merge

#34748 GH-34724: [Go] Add Schema AddField
  go/arrow/array/table.go
  go/arrow/array/table_test.go
  go/arrow/schema.go
  go/arrow/schema_test.go
  go/arrow/table.go
Labels: Component: Go, awaiting change review

#35145 GH-35144: [C++] Fix a unit test broken when the output order of the aggregate node changed
  cpp/src/arrow/acero/hash_aggregate_test.cc
Labels: Component: C++, awaiting merge

#35109 GH-35101: [C++] Update deprecated LOCATION target property in ArrowConfig.cmake.in
  cpp/src/arrow/ArrowConfig.cmake.in
Labels: Component: C++, awaiting changes

#35137 GH-35136: [Go][FlightSQL] Support backends without `CreatePreparedStatement` implemented
  go/arrow/flight/flightsql/driver/driver.go
  go/arrow/flight/flightsql/driver/driver_test.go
Labels: Component: Go, awaiting merge

#35142 MINOR: [R] Add a missing step to the release checklist
  r/PACKAGING.md
Labels: Component: R, Component: Documentation, awaiting merge

#33858 GH-15054: [C++] Change s3 finalization to happen after arrow threads finished, add pyarrow exit hook
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs.h
  cpp/src/arrow/filesystem/s3fs_test.cc
  python/pyarrow/fs.py
  r/R/arrow-package.R
  r/R/arrowExports.R
  r/src/arrowExports.cpp
  r/src/filesystem.cpp
Labels: Component: R, Component: C++, Component: Python, awaiting change review

#13810 GH-32605: [C#] Extend ArrowBuffer.BitmapBuilder to improve performance of array concatenation
  csharp/src/Apache.Arrow/Arrays/ArrayDataConcatenator.cs
  csharp/src/Apache.Arrow/Arrays/PrimitiveArrayBuilder.cs
  csharp/src/Apache.Arrow/ArrowBuffer.BitmapBuilder.cs
  csharp/test/Apache.Arrow.Tests/ArrowBufferBitmapBuilderTests.cs
Labels: Component: C#, awaiting merge

#35108 GH-35107: [FlightSQL]: Use `uint8` to refer to 8 bit unsigned integers rather than `uint1`
  format/FlightSql.proto
Labels: awaiting merge

#35120 GH-35118: [FlightSQL] Use `int32` to refer to 32-bit integers rather than `int`
  format/FlightSql.proto
Labels: awaiting merge

#35090 GH-35089: [CI][C++][Flight] Test failures in macos release verification nightlies
  ci/conda_env_cpp.txt
  cpp/src/arrow/flight/flight_test.cc
  cpp/src/arrow/flight/test_definitions.cc
Labels: Component: C++, Component: FlightRPC, Priority: Blocker, awaiting merge

#35158 MINOR: [Java] minor formatting tweaks in the java README
  java/README.md
Labels: Component: Java, Component: Documentation, awaiting merge

#35135 GH-35134: [C++] Add `arrow_vendored` namespace around double-conversion library
  cpp/src/arrow/util/double_conversion.h
  cpp/src/arrow/vendored/double-conversion/README.md
  cpp/src/arrow/vendored/double-conversion/bignum-dtoa.cc
  cpp/src/arrow/vendored/double-conversion/bignum-dtoa.h
  cpp/src/arrow/vendored/double-conversion/bignum.cc
  cpp/src/arrow/vendored/double-conversion/bignum.h
  cpp/src/arrow/vendored/double-conversion/cached-powers.cc
  cpp/src/arrow/vendored/double-conversion/cached-powers.h
  cpp/src/arrow/vendored/double-conversion/diy-fp.cc
  cpp/src/arrow/vendored/double-conversion/diy-fp.h
  cpp/src/arrow/vendored/double-conversion/double-conversion.cc
  cpp/src/arrow/vendored/double-conversion/double-conversion.h
  cpp/src/arrow/vendored/double-conversion/fast-dtoa.cc
  cpp/src/arrow/vendored/double-conversion/fast-dtoa.h
  cpp/src/arrow/vendored/double-conversion/fixed-dtoa.cc
  cpp/src/arrow/vendored/double-conversion/fixed-dtoa.h
  cpp/src/arrow/vendored/double-conversion/ieee.h
  cpp/src/arrow/vendored/double-conversion/patches/double-conversion.cc.patch
  cpp/src/arrow/vendored/double-conversion/patches/double-conversion.h.patch
  cpp/src/arrow/vendored/double-conversion/strtod.cc
  cpp/src/arrow/vendored/double-conversion/strtod.h
  cpp/src/arrow/vendored/double-conversion/update.sh
  cpp/src/arrow/vendored/double-conversion/utils.h
  cpp/src/gandiva/formatting_utils.h
Labels: Component: C++, Component: C++ - Gandiva, Component: Documentation, awaiting change review

#35169 GH-35168: [CI][Packaging][Conan] Merge upstream changes
  ci/conan/all/conandata.yml
  ci/conan/all/conanfile.py
  ci/conan/all/patches/1.0.0-0004-mallctl-takes-size_t.patch
  ci/conan/all/patches/10.0.0-0001-mallctl-takes-size_t.patch
  ci/conan/all/patches/10.0.0-0002-fix-cmake.patch
  ci/conan/all/patches/7.0.0-0003-mallctl-takes-size_t.patch
  ci/conan/all/patches/8.0.0-0003-mallctl-takes-size_t.patch
  ci/conan/config.yml
  ci/conan/merge_status.sh
Labels: awaiting committer review

#35132 GH-35181: [R] Bump R package version number in versions.json
  dev/release/01-prepare-test.rb
  dev/release/post-11-bump-versions-test.rb
  dev/release/test-helper.rb
  r/pkgdown/assets/versions.json
Labels: Component: R, awaiting merge

#35154 GH-35143: [R][C++] Fixed shape tensor causes broken build on OSX
  cpp/src/arrow/extension/fixed_shape_tensor.cc
  cpp/src/arrow/extension/fixed_shape_tensor_test.cc
Labels: Component: C++, awaiting merge

#35159 GH-35133: [Go] fix for `math.MaxUint32 overflows int` error in 32-bit arch
  go/arrow/array/dictionary.go
Labels: Component: Go, awaiting merge

#35163 GH-35162: [Go] Float16 arithmetic
  go/arrow/float16/float16.go
  go/arrow/float16/float16_test.go
Labels: Component: Go, awaiting merge

#34811 GH-14937: [C++] String Sort / Rank Benchmarks
  cpp/src/arrow/compute/kernels/vector_sort_benchmark.cc
Labels: Component: C++, awaiting merge

#35182 GH-35177: [Docs][Python] Suppress "WARNING: autosummary: failed to import serialize"
  docs/source/python/api/ipc.rst
Labels: Component: Documentation, awaiting merge

#35165 GH-35164: [Go] Additional methods for decimal data types
  go/arrow/decimal128/decimal128.go
  go/arrow/decimal128/decimal128_test.go
  go/arrow/decimal256/decimal256.go
  go/arrow/decimal256/decimal256_test.go
Labels: Component: Go, awaiting change review

#35117 GH-35115: [C++] Moved util_avx2.cc from acero to compute
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/acero/CMakeLists.txt
  cpp/src/arrow/compute/util_avx2.cc
Labels: Component: C++, awaiting committer review

#35114 GH-35124: [C++] Avoid unnecessary copy when outputting join result
  cpp/src/arrow/acero/swiss_join_internal.h
Labels: Component: C++, awaiting committer review

#35200 GH-35186: [CI][C++] Improve GoogleTest detection on Windows + vcpkg
  cpp/cmake_modules/FindGTestAlt.cmake
Labels: Component: C++, awaiting merge

#35113 GH-35112: [Python] Expose keys_sorted in python MapType
  python/pyarrow/tests/test_types.py
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting committer review

#35194 GH-35192: [Docs] Switch from `logo` to `logo_url` to support sphinx >= 6
  docs/source/_templates/docs-sidebar.html
Labels: Component: Documentation, awaiting merge

#35204 MINOR: [Docs] Fix preview docs job to use crossbow main instead of master
  dev/tasks/docs/github.linux.yml
Labels: Component: Continuous Integration, awaiting committer review

#35189 GH-35188: [Go] Use AppendValueFromString for extension types in CSV Reader
  go/arrow/csv/reader.go
  go/internal/types/extension_types.go
Labels: Component: Go, awaiting change review

#35191 GH-35190: [Go] Correctly handle null values in CSV reader
  go/arrow/csv/reader.go
  go/arrow/csv/reader_test.go
  go/arrow/csv/testdata/header.csv
  go/arrow/csv/testdata/types.csv
Labels: Component: Go, awaiting change review

#35215 GH-35212: [Go] Add ability to show full call stack with ARROW_CHECKED_MAX_RETAINED_FRAMES
  go/arrow/memory/checked_allocator.go
Labels: awaiting merge

#35203 GH-35170: [CI][Packaging][Conan] Build grpc-proto
  ci/scripts/conan_build.sh
Labels: awaiting committer review

#35217 MINOR: [Go][FlightSQL] Fix Sqlite example Nullable in schema
  go/arrow/flight/flightsql/example/sqlite_server.go
  go/arrow/flight/flightsql/example/sqlite_tables_schema_batch_reader.go
  go/arrow/flight/flightsql/sqlite_server_test.go
Labels: Component: Go, awaiting committer review

#35196 GH-35179: [C++] Fix IMPORTED_LOCATION property for Arrow::bundled_dependencies
  cpp/src/arrow/ArrowConfig.cmake.in
Labels: Component: C++, awaiting change review

#35213 GH-35118: [Format][FlightSQL] More use `int32` to refer to 32-bit integers rather than `int`
  format/FlightSql.proto
Labels: awaiting change review

#35220 GH-35205: [C++][Gandiva] Don't find system Zstandard when we use bundled one
  cpp/src/gandiva/CMakeLists.txt
  cpp/src/gandiva/GandivaConfig.cmake.in
Labels: Component: C++, Component: C++ - Gandiva, awaiting committer review

#35225 GH-35206: [C++] Look for Conda OpenSSL in Windows verification
  dev/release/verify-release-candidate.bat
Labels: awaiting merge

#35229 GH-35228: [C++][Parquet] Minor: Comment typo fixing in Parquet Reader
  cpp/src/parquet/arrow/reader.cc
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader.h
  cpp/src/parquet/level_conversion.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#35233 MINOR: [C++][Parquet] Fix column_reader_test
  cpp/src/parquet/column_reader_test.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#35230 GH-34949: [C++][Parquet] Enable page index by columns
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/file_writer.cc
  cpp/src/parquet/properties.h
Labels: Component: Parquet, Component: C++, awaiting merge

#35032 GH-34656: [CI][Python] Use gemfury tool to upload wheels instead of curl to fix Windows wheel upload
  dev/tasks/macros.jinja
Labels: awaiting change review

#35241 GH-35240: [Go][FlightRPC] Fix crash in client middleware
  go/arrow/flight/client.go
  go/arrow/flight/flight_middleware_test.go
  go/arrow/flight/flight_test.go
Labels: Component: Go, awaiting merge

#35253 GH-35252: [C++] Use FindGTestAlt.cmake by ArrowTesting
  cpp/cmake_modules/FindGTestAlt.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/ArrowTestingConfig.cmake.in
  cpp/src/arrow/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#35172 GH-35035: [R] Implement names<- for Schemas
  r/NAMESPACE
  r/R/arrowExports.R
  r/R/schema.R
  r/src/arrowExports.cpp
  r/src/schema.cpp
  r/tests/testthat/test-schema.R
Labels: Component: R, awaiting merge

#34730 GH-34729: [C++][Python] Enhanced Arrow<->Pandas map/pydict support
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow_python.pxd
  python/pyarrow/src/arrow/python/arrow_to_pandas.cc
  python/pyarrow/src/arrow/python/arrow_to_pandas.h
  python/pyarrow/src/arrow/python/python_to_arrow.cc
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting merge

#35231 GH-35234: [Go] Fix skip argument to Callers
  go/arrow/memory/checked_allocator.go
Labels: Component: Go, awaiting review

#35262 GH-35279: [C++][Parquet] Tools: enhancement Parquet print stats
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/printer.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#35278 GH-35266: [CI][GLib][Parquet] Omit gparquet_column_chunk_metadata_equal() test
  c_glib/test/parquet/test-column-chunk-metadata.rb
Labels: Component: GLib, awaiting committer review

#35067 GH-35067: [JavaScript] toString for signed `BigNum`s
  js/gulp/test-task.js
  js/src/util/bn.ts
  js/test/unit/bn-tests.ts
Labels: Component: JavaScript, awaiting committer review

#35257 GH-35256: [Go] Add ToMap to Metadata
  go/arrow/schema.go
  go/arrow/schema_test.go
Labels: Component: Go, awaiting changes

#35286 GH-35266: [GLib][Parquet] Fix a GC bug that parent metadata reference is missing in sub metadata
  c_glib/parquet-glib/metadata.cpp
  c_glib/parquet-glib/metadata.hpp
  c_glib/test/parquet/test-column-chunk-metadata.rb
  c_glib/test/parquet/test-row-group-metadata.rb
Labels: Component: Parquet, Component: GLib, awaiting committer review

#34894 GH-34868: [Python] Share docstrings between classes
  python/pyarrow/filesystem.py
  python/pyarrow/hdfs.py
  python/pyarrow/tests/test_util.py
  python/pyarrow/types.py
  python/pyarrow/util.py
Labels: Component: Python, awaiting committer review

#35311 GH-35310: [Go] Incorrect value decimal128 from string
  go/arrow/decimal128/decimal128.go
  go/arrow/decimal128/decimal128_test.go
  go/arrow/decimal256/decimal256_test.go
Labels: Component: Go, awaiting merge

#34563 GH-33854: [MATLAB] Add basic libmexclass integration code to MATLAB interface
  ci/scripts/matlab_build.sh
  matlab/CMakeLists.txt
  matlab/src/cpp/arrow/matlab/array/proxy/float64_array.cc
  matlab/src/cpp/arrow/matlab/array/proxy/float64_array.h
  matlab/src/cpp/arrow/matlab/mex/gateway.cc
  matlab/src/cpp/arrow/matlab/proxy/factory.cc
  matlab/src/cpp/arrow/matlab/proxy/factory.h
  matlab/src/matlab/+arrow/+array/Float64Array.m
  matlab/test/arrow/array/tFloat64Array.m
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
Labels: Component: MATLAB, awaiting merge

#35291 GH-35290: [JS] Update dependencies
  js/DEVELOP.md
  js/bin/integration.js
  js/gulp/arrow-task.js
  js/gulp/closure-task.js
  js/gulp/test-task.js
  js/package.json
  js/src/builder/list.ts
  js/yarn.lock
Labels: Component: JavaScript, Component: Documentation, awaiting committer review

#35317 GH-35315: [C++][CMake] Add presets for Flight SQL
  cpp/CMakePresets.json
Labels: Component: C++, awaiting merge

#35322 GH-35316: [C++][FlightSQL] Use RowsToBatches() instead of ArrayFromJSON() in SQLite example server
  cpp/src/arrow/flight/sql/example/sqlite_server.cc
  cpp/src/arrow/flight/sql/example/sqlite_type_info.cc
  cpp/src/arrow/flight/sql/example/sqlite_type_info.h
  cpp/src/arrow/flight/sql/server_test.cc
Labels: Component: C++, Component: FlightRPC, awaiting merge

#35283 GH-35282: [C++] auto enable brotli when enable fuzzing
  cpp/cmake_modules/DefineOptions.cmake
Labels: Component: C++, awaiting changes
