Repository apache/arrow, pull requests merged in 2023-09, with the labels that each got.

#37489 GH-37488: [C++] Disable unity build for Azure SDK for C++
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#37506 GH-37259: [Ruby] Add explicit csv gem dependency
  ruby/red-arrow/red-arrow.gemspec
Labels: Component: Ruby, awaiting change review

#37508 GH-37507: [GLib] Don't use implicit include directories
  c_glib/arrow-cuda-glib/meson.build
  c_glib/arrow-dataset-glib/meson.build
  c_glib/arrow-flight-glib/meson.build
  c_glib/arrow-flight-sql-glib/meson.build
  c_glib/arrow-glib/meson.build
  c_glib/gandiva-glib/meson.build
  c_glib/parquet-glib/meson.build
Labels: Component: Parquet, Component: C++ - Gandiva, Component: GLib, awaiting committer review

#37501 GH-37500: [CI][C++] Disable Dataset and Substrait by default
  .github/workflows/cpp.yml
  .github/workflows/ruby.yml
  ci/docker/alpine-linux-3.16-cpp.dockerfile
  ci/docker/conda-cpp.dockerfile
  ci/docker/conda-integration.dockerfile
  ci/docker/conda-python-dask.dockerfile
  ci/docker/conda-python-substrait.dockerfile
  ci/docker/conda-python.dockerfile
  ci/docker/debian-11-cpp.dockerfile
  ci/docker/fedora-35-cpp.dockerfile
  ci/docker/ubuntu-20.04-cpp.dockerfile
  ci/docker/ubuntu-22.04-cpp.dockerfile
  ci/scripts/cpp_build.sh
  ci/scripts/integration_substrait.sh
  ci/scripts/python_build.sh
  cpp/examples/minimal_build/run_static.sh
  docker-compose.yml
  python/examples/minimal_build/build_conda.sh
  python/examples/minimal_build/build_venv.sh
Labels: Component: C++, Component: Python, awaiting review

#37502 GH-35641: [CI][C++] Disable precompiled headers
  .github/workflows/cpp.yml
  .github/workflows/docs_light.yml
  .github/workflows/go.yml
  .github/workflows/integration.yml
  .github/workflows/java.yml
  .github/workflows/java_jni.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  .github/workflows/ruby.yml
  .github/workflows/swift.yml
  docker-compose.yml
Labels: awaiting review

#37512 MINOR: [Go] Make `arrow.TimestampType.GetToTimeFunc` similar to `arrow.Timestamp.ToTime`
  go/arrow/datatype_fixedwidth.go
  go/arrow/datatype_fixedwidth_test.go
Labels: Component: Go, awaiting review

#37412 GH-37410: [C++][Gandiva] Add support for using LLVM shared library
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/FindLLVMAlt.cmake
  cpp/src/gandiva/CMakeLists.txt
Labels: Component: C++, Component: C++ - Gandiva, awaiting changes

#37552 GH-37539: [C++][FlightRPC] Fix binding to IPv6 addresses
  cpp/src/arrow/flight/transport/grpc/grpc_server.cc
Labels: Component: C++, Component: FlightRPC, awaiting committer review

#37534 MINOR: [R][CI] Add previous version of package to CI backwards comaptibility job
  dev/tasks/r/github.linux.arrow.version.back.compat.yml
Labels: Component: R, Component: Continuous Integration, awaiting committer review

#37530 GH-37433: [CI][Release] Increase timeout for macOS
  .github/workflows/dev.yml
  ci/scripts/release_test.sh
Labels: awaiting committer review

#37503 GH-37419: [Go][Parquet] Decimal256 support for pqarrow
  go/arrow/decimal128/decimal128.go
  go/parquet/pqarrow/column_readers.go
  go/parquet/pqarrow/encode_arrow.go
  go/parquet/pqarrow/encode_arrow_test.go
  go/parquet/pqarrow/schema.go
  go/parquet/writer_properties.go
Labels: Component: Go, awaiting merge

#37497 GH-37523: [C++][CI][CUDA] Don't use newer API and add missing CUDA dependencies
  cpp/src/arrow/c/bridge_test.cc
  cpp/src/arrow/device.h
  cpp/src/arrow/gpu/ArrowCUDAConfig.cmake.in
  cpp/src/arrow/gpu/CMakeLists.txt
  cpp/src/arrow/gpu/arrow-cuda.pc.in
  cpp/src/arrow/gpu/cuda_context.cc
  cpp/src/arrow/gpu/cuda_context.h
Labels: Component: C++, awaiting change review

#37483 GH-37067: [C++] Install bundled GoogleTest
  cpp/CMakeLists.txt
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/CMakeLists.txt
  cpp/src/arrow/compute/kernels/CMakeLists.txt
  matlab/CMakeLists.txt
Labels: Component: C++, Component: MATLAB, awaiting merge

#37586 GH-37584: [Go] Add value len function to string array
  go/arrow/array/string.go
  go/arrow/array/string_test.go
Labels: Component: Go, awaiting change review

#37593 GH-37591: [MATLAB] Make `arrow.type.Type` inherit from `matlab.mixin.Heterogeneous`
  matlab/src/matlab/+arrow/+type/BooleanType.m
  matlab/src/matlab/+arrow/+type/DateType.m
  matlab/src/matlab/+arrow/+type/Float32Type.m
  matlab/src/matlab/+arrow/+type/Float64Type.m
  matlab/src/matlab/+arrow/+type/Int16Type.m
  matlab/src/matlab/+arrow/+type/Int32Type.m
  matlab/src/matlab/+arrow/+type/Int64Type.m
  matlab/src/matlab/+arrow/+type/Int8Type.m
  matlab/src/matlab/+arrow/+type/StringType.m
  matlab/src/matlab/+arrow/+type/TimeType.m
  matlab/src/matlab/+arrow/+type/TimestampType.m
  matlab/src/matlab/+arrow/+type/Type.m
  matlab/src/matlab/+arrow/+type/UInt16Type.m
  matlab/src/matlab/+arrow/+type/UInt32Type.m
  matlab/src/matlab/+arrow/+type/UInt64Type.m
  matlab/src/matlab/+arrow/+type/UInt8Type.m
  matlab/test/arrow/type/tDate32Type.m
  matlab/test/arrow/type/tDate64Type.m
  matlab/test/arrow/type/tIsEqual.m
  matlab/test/arrow/type/tTime32Type.m
  matlab/test/arrow/type/tTime64Type.m
  matlab/test/arrow/type/tTimestampType.m
  matlab/test/arrow/type/tTypeDisplay.m
Labels: Component: MATLAB, awaiting merge

#37595 MINOR: [CI][Docs][R] fix R dev docs
  dev/release/binary-task.rb
  dev/tasks/tasks.yml
Labels: Component: R, Component: Documentation, Component: Continuous Integration, awaiting committer review

#37579 GH-37515: [C++] Remove memory address optimization from `ChunkedArray::Equals(const std::shared_ptr<arrow::ChunkedArray>& other)` if the `ChunkedArray` can have `NaN` values
  cpp/src/arrow/chunked_array.cc
  cpp/src/arrow/chunked_array_test.cc
Labels: Component: C++, awaiting change review

#37602 GH-37601: [C++][Parquet] Add missing GoogleMock dependency
  cpp/src/parquet/CMakeLists.txt
Labels: Component: Parquet, Component: C++, awaiting changes

#37557 MINOR: [Python][Docs] Fix a code example rendering
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting review

#37528 GH-37553: [Java] Allow FlightInfo#Schema to be nullable for long-running queries
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightInfo.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightProducer.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/SchemaResult.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestBasicOperation.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestFlightService.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestMetadataVersion.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightJdbcFlightStreamResultSet.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/TestFlightSql.java
Labels: Component: Java, awaiting merge

#37171 GH-37170: [C++] Support schema rewriting of RecordBatch.
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch.h
  cpp/src/arrow/record_batch_test.cc
Labels: Component: C++, awaiting merge

#37531 GH-37056: [Java] Fix importing an empty data array from c-data
  java/c/src/main/java/org/apache/arrow/c/BufferImportTypeVisitor.java
  java/c/src/test/java/org/apache/arrow/c/ArrowArrayUtilityTest.java
  java/c/src/test/java/org/apache/arrow/c/RoundtripTest.java
  java/c/src/test/python/integration_tests.py
Labels: Component: Java, awaiting change review

#37617 GH-37569: [MATLAB] Implement `isequal` for the `arrow.type.Field` MATLAB class
  matlab/src/matlab/+arrow/+type/Field.m
  matlab/test/arrow/type/tField.m
Labels: Component: MATLAB, awaiting merge

#37619 GH-37568: [MATLAB] Implement `isequal` for the `arrow.tabular.Schema` MATLAB class
  matlab/src/matlab/+arrow/+tabular/Schema.m
  matlab/test/arrow/tabular/tSchema.m
Labels: Component: MATLAB, awaiting merge

#37620 GH-37571: [MATLAB] Add `arrow.tabular.Table` MATLAB class
  matlab/src/cpp/arrow/matlab/error/error.h
  matlab/src/cpp/arrow/matlab/proxy/factory.cc
  matlab/src/cpp/arrow/matlab/tabular/proxy/table.cc
  matlab/src/cpp/arrow/matlab/tabular/proxy/table.h
  matlab/src/matlab/+arrow/+tabular/Table.m
  matlab/src/matlab/+arrow/table.m
  matlab/test/arrow/tabular/tTable.m
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
Labels: Component: MATLAB, awaiting change review

#37615 GH-37614: [R][CI] Update CI jobs due to duckdb repo moving
  ci/scripts/r_deps.sh
Labels: Component: R, Component: Continuous Integration, awaiting committer review

#37609 GH-37608: [C++][Gandiva] TO_DATE function supports YYYY-MM and YYYY
  cpp/src/arrow/util/value_parsing.h
  cpp/src/gandiva/to_date_holder_test.cc
Labels: Component: C++, Component: C++ - Gandiva, awaiting merge

#37610 GH-37017: [C++] Guard unexpected uses of BMI2 instructions
  cpp/cmake_modules/SetupCxxFlags.cmake
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/key_map.cc
  cpp/src/arrow/compute/key_map.h
  cpp/src/arrow/compute/util.cc
  cpp/src/arrow/compute/util.h
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/level_conversion_inc.h
Labels: Component: Parquet, Component: C++, awaiting merge

#37627 GH-37570: [MATLAB] Implement `isequal` for the `arrow.tabular.RecordBatch` MATLAB class
  matlab/src/matlab/+arrow/+tabular/RecordBatch.m
  matlab/test/arrow/tabular/tRecordBatch.m
Labels: Component: MATLAB, awaiting merge

#37612 GH-36379: [C++] Bundled dependency include paths should override system include dirs
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting merge

#37603 GH-37535: [C++][Parquet] Add missing "thrift" dependency in parquet.pc
  cpp/CMakeLists.txt
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/parquet.pc.in
  r/configure
Labels: Component: R, Component: Parquet, Component: C++, awaiting changes

#37600 GH-37562: [Ruby] Add support for table.each_raw_record.to_a
  ruby/red-arrow/ext/arrow/raw-records.cpp
  ruby/red-arrow/test/each-raw-record/test-basic-arrays.rb
  ruby/red-arrow/test/each-raw-record/test-dense-union-array.rb
  ruby/red-arrow/test/each-raw-record/test-dictionary-array.rb
  ruby/red-arrow/test/each-raw-record/test-list-array.rb
  ruby/red-arrow/test/each-raw-record/test-map-array.rb
  ruby/red-arrow/test/each-raw-record/test-multiple-columns.rb
  ruby/red-arrow/test/each-raw-record/test-sparse-union-array.rb
  ruby/red-arrow/test/each-raw-record/test-struct-array.rb
  ruby/red-arrow/test/each-raw-record/test-table.rb
Labels: Component: Ruby, awaiting committer review

#37605 GH-37560 [Python][Documentation] Replacing confusing batch size from 128Ki to 128_000
  python/pyarrow/_dataset.pyx
Labels: Component: Python, awaiting committer review

#37644 GH-37244: [Python] Remove support for pickle5
  python/pyarrow/compat.pxi
  python/pyarrow/io.pxi
  python/pyarrow/pandas_compat.py
  python/pyarrow/types.pxi
  python/requirements-wheel-test.txt
Labels: Component: Python

#37498 GH-37216: [Docs] adding documentation to deal with unreleased allocators
  docs/source/java/memory.rst
Labels: Component: Documentation, awaiting change review

#37672 GH-37671: [R] legacy timezone symlinks cause CRAN failures
  r/tests/testthat/helper-data.R
  r/tests/testthat/test-Array.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
Labels: Component: R, awaiting merge

#37637 GH-37636: [Go] Bump minimum go versions
  .env
  .github/workflows/go.yml
  ci/docker/conda-integration.dockerfile
  ci/docker/debian-11-go.dockerfile
  go/arrow/compute/executor.go
  go/arrow/compute/exprs/builders_test.go
  go/go.mod
  go/go.sum
  go/internal/hashing/hash_string_go1.19.go
Labels: Component: Go, awaiting review

#37640 GH-37639: [CI] Fix checkout on older OSes
  dev/tasks/macros.jinja
  dev/tasks/r/github.macos.autobrew.yml
  dev/tasks/r/github.packages.yml
Labels: awaiting merge

#37688 GH-37687: [Go] Don't copy in realloc when capacity is sufficient.
  go/arrow/memory/go_allocator.go
Labels: Component: Go, awaiting merge

#37558 GH-37555: [Python] Update get_file_info_selector to ignore base directory
  python/pyarrow/fs.py
Labels: Component: Python, awaiting committer review

#37656 MINOR: [Python][Docs] Add examples for `MapArray.from_arrays`
  python/pyarrow/array.pxi
Labels: Component: Python, awaiting committer review

#37695 GH-37694: [Go] Add SetNull to array builders
  go/arrow/array/builder.go
  go/arrow/array/builder_test.go
  go/arrow/array/map.go
  go/arrow/array/map_test.go
Labels: Component: Go, awaiting merge

#37718 GH-37715: [Packaging][CentOS] Use default g++ on CentOS 9 Stream
  dev/tasks/linux-packages/apache-arrow/yum/centos-9-stream/Dockerfile
Labels: awaiting committer review

#37714 GH-37648: [Packaging][Linux] Fix libarrow-glib-dev/arrow-glib-devel dependencies
  dev/tasks/linux-packages/apache-arrow/debian/control.in
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
Labels: awaiting committer review

#36607 GH-34567: [JS] Improve build and do not generate `bin/bin` directory
  js/.eslintrc.cjs
  js/gulp/arrow-task.js
  js/gulp/typescript-task.js
  js/gulpfile.js
  js/src/Arrow.ts
  js/src/bin/arrow2csv.ts
  js/tsconfig/tsconfig.base.json
Labels: Component: JavaScript, awaiting committer review

#37380 MINOR: [C++][Python] [Docs] clearer description of q argument of quantiles
  cpp/src/arrow/compute/api_aggregate.h
  python/pyarrow/_compute.pyx
Labels: Component: C++, Component: Python, awaiting committer review

#37727 GH-34105: [R] Provide extra output for failed builds
  r/tools/nixlibs.R
Labels: Component: R, awaiting merge

#37646 GH-37643: [C++] Enhance arrow::Datum::ToString
  c_glib/test/test-array-datum.rb
  c_glib/test/test-chunked-array-datum.rb
  c_glib/test/test-record-batch-datum.rb
  c_glib/test/test-scalar-datum.rb
  c_glib/test/test-table-datum.rb
  cpp/src/arrow/datum.cc
  cpp/src/arrow/datum.h
  cpp/src/arrow/datum_test.cc
Labels: Component: C++, Component: GLib, awaiting merge

#37746 GH-37744: [Swift] Add test for arrow flight doGet FlightData
  swift/ArrowFlight/Tests/ArrowFlightTests/FlightTest.swift
Labels: Component: Swift, awaiting review

#37745 GH-37738: [Go][CI] Update Go version for verification
  dev/release/verify-release-candidate.sh
Labels: awaiting committer review

#37748 GH-37701: [Java] Add default comparators for more types
  java/algorithm/src/main/java/org/apache/arrow/algorithm/sort/DefaultVectorComparators.java
  java/algorithm/src/main/java/org/apache/arrow/algorithm/sort/FixedWidthOutOfPlaceVectorSorter.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/sort/TestDefaultVectorComparator.java
  java/vector/src/main/java/org/apache/arrow/vector/Decimal256Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/DecimalVector.java
  java/vector/src/main/java/org/apache/arrow/vector/DurationVector.java
  java/vector/src/main/java/org/apache/arrow/vector/IntervalDayVector.java
  java/vector/src/test/java/org/apache/arrow/vector/testing/ValueVectorDataPopulator.java
Labels: Component: Java, awaiting changes

#37778 GH-37704: [Java] Add schema IPC serialization methods
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/perf/PerformanceTestServer.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/perf/TestPerf.java
  java/vector/src/main/java/org/apache/arrow/vector/types/pojo/Schema.java
  java/vector/src/test/java/org/apache/arrow/vector/types/pojo/TestSchema.java
Labels: Component: Java, awaiting merge

#37772 GH-37771: [Go][Benchmarking] Update Conbench git info
  ci/scripts/go_bench_adapt.py
Labels: awaiting merge

#37769 GH-37537: [Integration][C++] Add C Data Interface integration testing
  ci/scripts/integration_arrow.sh
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/integration/c_data_integration_internal.cc
  cpp/src/arrow/integration/c_data_integration_internal.h
  cpp/src/arrow/integration/json_integration.cc
  cpp/src/arrow/symbols.map
  dev/archery/archery/cli.py
  dev/archery/archery/integration/cdata.py
  dev/archery/archery/integration/datagen.py
  dev/archery/archery/integration/runner.py
  dev/archery/archery/integration/scenario.py
  dev/archery/archery/integration/tester.py
  dev/archery/archery/integration/tester_cpp.py
  dev/archery/archery/integration/util.py
  dev/archery/setup.py
Labels: Component: C++, Component: Archery, Component: Integration, awaiting changes

#37777 GH-33807: [R] Add a message if we detect running under emulation
  r/R/arrow-package.R
  r/R/install-arrow.R
  r/README.md
Labels: Component: R, Component: Documentation, awaiting change review

#37514 GH-37487: [C++][Parquet] Dataset: Implement sync `ParquetFileFormat::GetReader`
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/src/arrow/dataset/file_parquet_test.cc
Labels: Component: C++, awaiting merge

#37713 GH-37670: [C++] IO FileInterface extend from enable_shared_from_this
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs_test.cc
  cpp/src/arrow/io/interfaces.cc
  cpp/src/arrow/io/interfaces.h
Labels: Component: C++, awaiting merge

#37791 GH-37705: [Java] Extra input methods for binary writers
  java/vector/src/main/codegen/templates/AbstractFieldWriter.java
  java/vector/src/main/codegen/templates/ComplexWriters.java
  java/vector/src/test/java/org/apache/arrow/vector/complex/writer/TestSimpleWriter.java
Labels: Component: Java, awaiting merge

#37784 GH-37532: [CI][Docs][MATLAB] Remove `GoogleTest` support from the CMake build system for the MATLAB interface
  ci/scripts/matlab_build.sh
  matlab/CMakeLists.txt
  matlab/README.md
  matlab/doc/matlab_interface_for_apache_arrow_design.md
  matlab/src/placeholder_test.cc
Labels: Component: MATLAB, Component: Documentation, awaiting changes

#37754 GH-36111: [C++] Refactor dict_internal.h to use Result
  cpp/src/arrow/array/array_dict.cc
  cpp/src/arrow/array/builder_dict.cc
  cpp/src/arrow/array/dict_internal.h
  cpp/src/arrow/compute/kernels/vector_hash.cc
Labels: Component: C++, awaiting merge

#37469 GH-37470: [Python][Parquet] Add missing arguments to `ParquetFileWriteOptions`
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/tests/test_dataset.py
Labels: Component: Python, awaiting committer review

#37793 GH-37111: [C++][Parquet] Dataset: Fixing Schema Cast
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/src/arrow/dataset/file_parquet_test.cc
Labels: Component: C++, awaiting change review

#37781 GH-37750: [R][C++] Add compatability with IntelLLVM
  cpp/cmake_modules/BuildUtils.cmake
  cpp/cmake_modules/SetupCxxFlags.cmake
  r/inst/build_arrow_static.sh
Labels: Component: R, Component: C++, awaiting changes

#37780 GH-37779: [Go] Link to the pkg.go.dev site for Go reference docs
  dev/release/post-11-bump-versions-test.rb
  dev/release/utils-prepare.sh
  go/README.md
  go/arrow/flight/flightsql/driver/README.md
Labels: Component: Go, Component: Documentation, awaiting changes

#35570 GH-34252: [Java] Support ScannerBuilder::Project or ScannerBuilder::Filter as a Substrait proto extended expression
  docs/source/java/dataset.rst
  docs/source/java/substrait.rst
  java/dataset/src/main/cpp/jni_wrapper.cc
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/JniWrapper.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/NativeDataset.java
  java/dataset/src/main/java/org/apache/arrow/dataset/scanner/ScanOptions.java
  java/dataset/src/test/java/org/apache/arrow/dataset/substrait/TestAceroSubstraitConsumer.java
Labels: Component: Java, Component: Documentation, awaiting change review

#37808 GH-37805: [CI][MATLAB] Hard-code `release` to `R2023a` for `matlab-actions/setup-matlab` action in MATLAB CI workflows
  .github/workflows/matlab.yml
Labels: awaiting committer review

#37773 GH-37770: [MATLAB] Add CSV `TableReader` and `TableWriter` MATLAB classes
  matlab/CMakeLists.txt
  matlab/src/cpp/arrow/matlab/error/error.h
  matlab/src/cpp/arrow/matlab/io/csv/proxy/table_reader.cc
  matlab/src/cpp/arrow/matlab/io/csv/proxy/table_reader.h
  matlab/src/cpp/arrow/matlab/io/csv/proxy/table_writer.cc
  matlab/src/cpp/arrow/matlab/io/csv/proxy/table_writer.h
  matlab/src/cpp/arrow/matlab/proxy/factory.cc
  matlab/src/matlab/+arrow/+io/+csv/TableReader.m
  matlab/src/matlab/+arrow/+io/+csv/TableWriter.m
  matlab/test/arrow/io/csv/CSVTest.m
  matlab/test/arrow/io/csv/tError.m
  matlab/test/arrow/io/csv/tRoundTrip.m
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
Labels: Component: MATLAB, awaiting change review

#37786 GH-35775: [Go][Parquet] Allow key value file metadata to be written after writing row groups
  go/parquet/file/file_writer.go
  go/parquet/file/file_writer_test.go
  go/parquet/metadata/file.go
  go/parquet/metadata/metadata_test.go
  go/parquet/pqarrow/encode_arrow_test.go
  go/parquet/pqarrow/file_writer.go
Labels: Component: Go, Breaking Change, awaiting change review

#37783 GH-35095: [C++] Prevent write after close in arrow::ipc::IpcFormatWriter
  cpp/src/arrow/ipc/read_write_test.cc
  cpp/src/arrow/ipc/writer.cc
Labels: Component: C++, awaiting change review

#37526 GH-35627: [Format][Integration] Add string-view to arrow format
  dev/archery/archery/integration/datagen.py
  docs/source/format/Columnar.rst
  format/Message.fbs
  format/Schema.fbs
Labels: Component: Documentation, awaiting merge

#37097 GH-36730: [Python] Add support for Cython 3.0.0
  ci/docker/conda-python-cython2.dockerfile
  dev/archery/archery/lang/python.py
  dev/tasks/tasks.yml
  docker-compose.yml
  python/CMakeLists.txt
  python/pyarrow/_dataset.pyx
  python/pyarrow/_flight.pyx
  python/pyarrow/_substrait.pyx
  python/pyarrow/includes/libarrow_flight.pxd
  python/pyarrow/ipc.pxi
  python/pyarrow/scalar.pxi
  python/pyarrow/tests/test_dataset.py
  python/pyarrow/tests/test_scalars.py
Labels: Component: Python, Component: FlightRPC, Priority: Blocker, awaiting change review

#36739 GH-36420: [C++] Add An Enum Option For SetLookup Options
  c_glib/arrow-glib/compute.cpp
  cpp/src/arrow/compute/api_scalar.cc
  cpp/src/arrow/compute/api_scalar.h
  cpp/src/arrow/compute/expression_test.cc
  cpp/src/arrow/compute/kernels/scalar_set_lookup.cc
  cpp/src/arrow/compute/kernels/scalar_set_lookup_test.cc
  cpp/src/arrow/util/reflection_internal.h
  python/pyarrow/_compute.pyx
Labels: Component: C++, Component: Python, Component: GLib, awaiting merge

#37226 GH-36638: [R] Error with create_package_with_all_dependencies() on Windows
  r/R/install-arrow.R
Labels: Component: R, awaiting committer review

#37833 GH-37722: [Java][FlightRPC] Deprecate stateful login methods
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/auth/ClientAuthHandler.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/auth/ServerAuthHandler.java
Labels: Component: Java, awaiting merge

#37837 GH-37795: [Java][FlightSQL] Add mock FlightSqlProducer and tests
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/BasicFlightSqlProducer.java
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/NoOpFlightSqlProducer.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/TestFlightSql.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/TestFlightSqlStreams.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/sql/util/FlightStreamUtils.java
Labels: Component: Java, awaiting review

#37826 GH-37825: [MATLAB] Improve `arrow.type.Field` display
  matlab/src/cpp/arrow/matlab/type/proxy/field.cc
  matlab/src/cpp/arrow/matlab/type/proxy/field.h
  matlab/src/matlab/+arrow/+internal/+test/+display/makeDimensionString.m
  matlab/src/matlab/+arrow/+internal/+test/+display/makeLinkString.m
  matlab/src/matlab/+arrow/+internal/+test/+display/verify.m
  matlab/src/matlab/+arrow/+type/Field.m
  matlab/test/arrow/type/tField.m
  matlab/test/arrow/type/tTypeDisplay.m
Labels: Component: MATLAB, awaiting merge

#37823 GH-37782: [C++] Add `CanReferenceFieldsByNames` method to `arrow::StructArray`
  cpp/src/arrow/array/array_nested.cc
  cpp/src/arrow/array/array_nested.h
  cpp/src/arrow/array/array_struct_test.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
  cpp/src/arrow/type_test.cc
Labels: Component: C++, awaiting review

#37850 GH-37849: [C++] Add cpp/src/**/*.cmake to cmake-format targets
  cpp/src/arrow/arrow-config.cmake
  dev/archery/archery/utils/lint.py
Labels: Component: C++, awaiting committer review

#37788 GH-37789: [Integration][Go] Go C Data Interface integration testing
  .github/workflows/go.yml
  ci/scripts/go_build.sh
  dev/archery/archery/integration/runner.py
  dev/archery/archery/integration/tester_go.py
  docker-compose.yml
  go/arrow/cdata/cdata.go
  go/arrow/cdata/cdata_exports.go
  go/arrow/cdata/cdata_test.go
  go/arrow/internal/arrjson/reader.go
  go/arrow/internal/cdata_integration/entrypoints.go
Labels: Component: Go, awaiting change review

#37641 GH-37293: [C++][Parquet] Encoding: Add Benchmark for DELTA_BYTE_ARRAY
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding_benchmark.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#37883 GH-37705: [Java] Extra input methods for VarChar writers
  java/vector/src/main/codegen/templates/AbstractFieldWriter.java
  java/vector/src/main/codegen/templates/ComplexWriters.java
  java/vector/src/test/java/org/apache/arrow/vector/complex/writer/TestSimpleWriter.java
Labels: Component: Java, awaiting merge

#37882 MINOR: [JS] update link to issues
  js/package.json
Labels: Component: JavaScript, awaiting committer review

#37870 GH-37858: [Docs][JS] Fix check of remote URL to generate JS docs
  ci/scripts/js_build.sh
Labels: awaiting merge

#37887 GH-25659: [Java] Add DefaultVectorComparators for Large types
  java/algorithm/src/main/java/org/apache/arrow/algorithm/sort/DefaultVectorComparators.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/sort/TestDefaultVectorComparator.java
Labels: Component: Java, awaiting merge

#36591 GH-36590: [Docs] Support Pydata Sphinx Theme 0.14.0
  ci/conda_env_sphinx.txt
  dev/release/01-prepare-test.rb
  dev/release/post-11-bump-versions-test.rb
  dev/release/utils-update-docs-versions.py
  docs/requirements.txt
  docs/source/_static/arrow-dark.png
  docs/source/_static/theme_overrides.css
  docs/source/_static/versions.json
  docs/source/_static/versionwarning.js
  docs/source/_templates/docs-sidebar.html
  docs/source/_templates/layout.html
  docs/source/_templates/version-switcher.html
  docs/source/c_glib/index.rst
  docs/source/conf.py
  docs/source/cpp/index.rst
  docs/source/developers/continuous_integration/index.rst
  docs/source/developers/continuous_integration/overview.rst
  docs/source/developers/contributing.rst
  docs/source/developers/images/book-open-solid.svg
  docs/source/developers/images/bug-solid.svg
  docs/source/developers/images/code-solid.svg
  docs/source/developers/images/users-solid.svg
  docs/source/developers/index.rst
  docs/source/developers/overview.rst
  docs/source/developers/release.rst
  docs/source/format/index.rst
  docs/source/index.rst
  docs/source/java/index.rst
  docs/source/js/index.rst
  docs/source/python/index.rst
  docs/source/r/index.rst
Labels: Component: Documentation, awaiting merge

#37388 GH-37377: [C#] Throw OverflowException on overflow in TimestampArray.ConvertTo()
  csharp/src/Apache.Arrow/Arrays/TimestampArray.cs
Labels: Component: C#, awaiting merge

#37905 GH-35770: [Go][Documentation] Update TimestampType zero value as seconds in comment
  go/arrow/datatype_fixedwidth.go
Labels: awaiting review

#37624 GH-37621: [Packaging][Conda] Sync conda recipes with feedstocks
  dev/tasks/conda-recipes/.ci_support/linux_64_cuda_compiler_version11.2.yaml
  dev/tasks/conda-recipes/.ci_support/linux_64_cuda_compiler_versionNone.yaml
  dev/tasks/conda-recipes/.ci_support/linux_aarch64_cuda_compiler_version11.2.yaml
  dev/tasks/conda-recipes/.ci_support/linux_aarch64_cuda_compiler_versionNone.yaml
  dev/tasks/conda-recipes/.ci_support/linux_ppc64le_cuda_compiler_version11.2.yaml
  dev/tasks/conda-recipes/.ci_support/linux_ppc64le_cuda_compiler_versionNone.yaml
  dev/tasks/conda-recipes/.ci_support/osx_64_.yaml
  dev/tasks/conda-recipes/.ci_support/osx_arm64_.yaml
  dev/tasks/conda-recipes/.ci_support/r/linux_64_r_base4.3.yaml
  dev/tasks/conda-recipes/.ci_support/r/linux_aarch64_r_base4.3.yaml
  dev/tasks/conda-recipes/.ci_support/r/osx_64_r_base4.3.yaml
  dev/tasks/conda-recipes/.ci_support/r/osx_arm64_r_base4.3.yaml
  dev/tasks/conda-recipes/.ci_support/win_64_cuda_compiler_version11.2.yaml
  dev/tasks/conda-recipes/.ci_support/win_64_cuda_compiler_versionNone.yaml
  dev/tasks/conda-recipes/arrow-cpp/activate.sh
  dev/tasks/conda-recipes/arrow-cpp/build-arrow.sh
  dev/tasks/conda-recipes/arrow-cpp/build-pyarrow.sh
  dev/tasks/conda-recipes/arrow-cpp/meta.yaml
  dev/tasks/tasks.yml
Labels: awaiting merge

#37913 GH-37864: [Java] Remove unnecessary throws from OrcReader
  java/adapter/orc/src/main/java/org/apache/arrow/adapter/orc/OrcReader.java
Labels: Component: Java, awaiting merge

#36574 GH-34950: [C++][Parquet] Support encryption for page index
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/encryption/encryption_internal.h
  cpp/src/parquet/encryption/internal_file_decryptor.cc
  cpp/src/parquet/encryption/internal_file_decryptor.h
  cpp/src/parquet/encryption/read_configurations_test.cc
  cpp/src/parquet/encryption/test_encryption_util.cc
  cpp/src/parquet/encryption/test_encryption_util.h
  cpp/src/parquet/encryption/type_fwd.h
  cpp/src/parquet/encryption/write_configurations_test.cc
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/file_writer.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/metadata.h
  cpp/src/parquet/page_index.cc
  cpp/src/parquet/page_index.h
  cpp/src/parquet/thrift_internal.h
  cpp/src/parquet/type_fwd.h
Labels: Component: Parquet, Component: C++, awaiting change review

#37935 GH-37934: [Doc][Integration] Document C Data Interface testing
  docs/source/developers/java/development.rst
  docs/source/format/Integration.rst
Labels: Component: Documentation, awaiting merge

#37843 GH-37842: [R] Implement infer_schema.data.frame()
  r/NAMESPACE
  r/R/schema.R
  r/tests/testthat/test-schema.R
Labels: Component: R, awaiting changes

#37658 GH-34640: [R] Can't read in partitioning column in CSV datasets when both (non-hive) partition and schema supplied
  r/R/dataset-factory.R
  r/R/dataset-format.R
  r/tests/testthat/test-dataset-csv.R
Labels: Component: R, awaiting change review

#37930 GH-37803: [Python][CI] Pin setuptools_scm to fix release verification scripts
  dev/release/verify-release-candidate.sh
Labels: awaiting committer review

#37341 GH-21815: [JS] Add support for Duration type
  dev/archery/archery/integration/datagen.py
  docs/source/status.rst
  js/src/Arrow.dom.ts
  js/src/Arrow.ts
  js/src/builder.ts
  js/src/builder/duration.ts
  js/src/data.ts
  js/src/enum.ts
  js/src/interfaces.ts
  js/src/ipc/metadata/json.ts
  js/src/ipc/metadata/message.ts
  js/src/type.ts
  js/src/visitor.ts
  js/src/visitor/builderctor.ts
  js/src/visitor/bytelength.ts
  js/src/visitor/get.ts
  js/src/visitor/indexof.ts
  js/src/visitor/iterator.ts
  js/src/visitor/jsontypeassembler.ts
  js/src/visitor/jsonvectorassembler.ts
  js/src/visitor/set.ts
  js/src/visitor/typeassembler.ts
  js/src/visitor/typecomparator.ts
  js/src/visitor/typector.ts
  js/src/visitor/vectorassembler.ts
  js/src/visitor/vectorloader.ts
  js/test/data/tables.ts
  js/test/generate-test-data.ts
  js/test/unit/builders/builder-tests.ts
  js/test/unit/generated-data-tests.ts
  js/test/unit/visitor-tests.ts
Labels: Component: JavaScript, Component: Documentation, awaiting merge

#37928 MINOR: [R] Bump versions file for navigating between docs versions
  r/pkgdown/assets/versions.html
  r/pkgdown/assets/versions.json
Labels: Component: R, awaiting merge

#37946 MINOR: [CI][Dev] Fix crossbow badge url
  dev/archery/archery/crossbow/reports.py
Labels: Component: Developer Tools, Component: Integration, awaiting review

#37951 GH-37950: [R] tests fail on R < 4.0 due to test calling data.frame() without specifying stringsAsFactors=FALSE
  r/tests/testthat/test-schema.R
Labels: Component: R, awaiting merge

#37828 GH-37813: [R] add quoted_na argument to open_delim_dataset()
  r/R/dataset-format.R
  r/R/dataset.R
  r/man/open_delim_dataset.Rd
  r/tests/testthat/test-dataset-csv.R
Labels: Component: R, Breaking Change, awaiting change review

#37942 GH-37702: [Java] Add vector validation consistent with C++
  java/vector/src/main/java/org/apache/arrow/vector/BaseFixedWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseLargeVariableWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/Decimal256Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/DecimalVector.java
  java/vector/src/main/java/org/apache/arrow/vector/FixedSizeBinaryVector.java
  java/vector/src/main/java/org/apache/arrow/vector/LargeVarCharVector.java
  java/vector/src/main/java/org/apache/arrow/vector/ValueVector.java
  java/vector/src/main/java/org/apache/arrow/vector/VarCharVector.java
  java/vector/src/main/java/org/apache/arrow/vector/util/DecimalUtility.java
  java/vector/src/main/java/org/apache/arrow/vector/util/Text.java
  java/vector/src/main/java/org/apache/arrow/vector/validate/ValidateVectorDataVisitor.java
  java/vector/src/test/java/org/apache/arrow/vector/validate/TestValidateVector.java
  java/vector/src/test/java/org/apache/arrow/vector/validate/TestValidateVectorFull.java
Labels: Component: Java, awaiting merge

#37872 GH-37851: [C++] IPC: ArrayLoader style enhancement
  cpp/src/arrow/ipc/reader.cc
Labels: Component: C++, awaiting merge

#37909 MINOR: [R][Documentation] Add default descriptions in CsvParseOptions$create() docs
  r/R/csv.R
  r/man/CsvReadOptions.Rd
Labels: Component: R, awaiting merge

#37836 GH-37835: [MATLAB] Improve `arrow.tabular.Schema` display
  matlab/src/cpp/arrow/matlab/tabular/proxy/schema.cc
  matlab/src/cpp/arrow/matlab/tabular/proxy/schema.h
  matlab/src/matlab/+arrow/+tabular/+internal/displaySchema.m
  matlab/src/matlab/+arrow/+tabular/Schema.m
  matlab/test/arrow/tabular/tSchema.m
Labels: Component: MATLAB, awaiting merge
