Repository apache/arrow, pull requests merged in 2023-02, with the labels that each got.

#14913 GH-14912: [Java] Remove usage of PlatformDependent in arrow-vector, arrow-jdbc and arrow-algorithm
  java/adapter/jdbc/pom.xml
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/consumer/ClobConsumer.java
  java/algorithm/pom.xml
  java/algorithm/src/main/java/org/apache/arrow/algorithm/sort/FixedWidthOutOfPlaceVectorSorter.java
  java/algorithm/src/main/java/org/apache/arrow/algorithm/sort/VariableWidthOutOfPlaceVectorSorter.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseFixedWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BitVectorHelper.java
  java/vector/src/main/java/org/apache/arrow/vector/Decimal256Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/DecimalVector.java
  java/vector/src/main/java/org/apache/arrow/vector/util/DecimalUtility.java
  java/vector/src/main/java/org/apache/arrow/vector/util/VectorAppender.java
  java/vector/src/test/java/org/apache/arrow/vector/TestBitVectorHelper.java
Labels: Component: Java

#33942 GH-15193: [C++][Parquet] Parquet FuzzReader add some fixed batch size
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/reader.cc
Labels: Component: Parquet, Component: C++

#33955 GH-33954: [C++][Parquet] Preserve field-id for nested type
  cpp/src/parquet/arrow/arrow_schema_test.cc
  cpp/src/parquet/arrow/schema.cc
Labels: Component: Parquet, Component: C++

#33906 GH-33932: [Go] Fix build RecordBuilder with non-nullable items map field
  go/arrow/array/builder.go
  go/arrow/array/map.go
  go/arrow/array/map_test.go
  go/arrow/array/record_test.go
  go/arrow/datatype_nested.go
  go/arrow/example_test.go
Labels: Component: Go

#14488 GH-33336: [C++][Parquet] Avoid UB on unaligned load
  cpp/src/arrow/util/ubsan.h
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/statistics.cc
Labels: Component: Parquet, Component: C++

#33964 GH-33963: [C++] add missing arrow/engine headers
  cpp/src/arrow/engine/CMakeLists.txt
  cpp/src/arrow/engine/api.h
  cpp/src/arrow/engine/substrait/api.h
Labels: Component: C++

#33886 GH-33699: [C++] Increase timeout of c++ tests when running under valgrind and shorten long tests
  cpp/src/arrow/compute/exec/bloom_filter_test.cc
  cpp/src/arrow/compute/exec/hash_join_node_test.cc
  cpp/src/arrow/compute/exec/key_hash_test.cc
  cpp/src/arrow/compute/kernels/CMakeLists.txt
  cpp/src/arrow/compute/kernels/scalar_arithmetic_test.cc
  cpp/src/arrow/compute/kernels/scalar_if_else_test.cc
  cpp/src/arrow/compute/kernels/test_util.cc
  cpp/src/arrow/compute/kernels/vector_sort_test.cc
  cpp/src/arrow/dataset/file_csv_test.cc
  cpp/src/arrow/dataset/scanner_test.cc
  docker-compose.yml
Labels: Component: C++

#33822 GH-32613: [C++] Simplify IPC writer for dense unions
  cpp/src/arrow/ipc/writer.cc
Labels: Component: C++

#33992 GH-33993: [Java] Let OS assign port in tests while creating Flight server
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/FlightTestUtil.java
Labels: Component: Java

#33965 GH-33875: [Go] Handle writing LargeString and LargeBinary types
  go/parquet/file/record_reader.go
  go/parquet/internal/testutils/random_arrow.go
  go/parquet/pqarrow/column_readers.go
  go/parquet/pqarrow/encode_arrow.go
  go/parquet/pqarrow/encode_arrow_test.go
  go/parquet/pqarrow/schema.go
Labels: Component: Go

#34006 GH-34003: [C++] AddWithOverflow and friends should be [[nodiscard]]
  cpp/src/arrow/util/int_util_overflow.h
Labels: Component: C++

#33846 GH-32050: [C++] Implement Rank kernel on chunked arrays
  cpp/src/arrow/compute/kernels/vector_array_sort.cc
  cpp/src/arrow/compute/kernels/vector_rank.cc
  cpp/src/arrow/compute/kernels/vector_sort.cc
  cpp/src/arrow/compute/kernels/vector_sort_internal.h
  cpp/src/arrow/compute/kernels/vector_sort_test.cc
Labels: Component: C++

#14964 GH-33596: [C++][Parquet] Parquet page index read support
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/file_reader.h
  cpp/src/parquet/page_index.cc
  cpp/src/parquet/page_index.h
  cpp/src/parquet/page_index_test.cc
  cpp/src/parquet/reader_test.cc
Labels: Component: Parquet, Component: C++

#34000 MINOR: [C++] Fix compilation error in hash_join_benchmark
  cpp/src/arrow/compute/exec/hash_join_benchmark.cc
Labels: Component: C++

#34005 GH-34004: [C++] Add a benchmarks-maximal CMake preset
  cpp/CMakePresets.json
Labels: Component: C++

#14561 GH-20484: [Swift] Initial Arrow implementation
  .github/workflows/swift.yml
  .gitignore
  ci/scripts/swift_test.sh
  docker-compose.yml
  swift/Arrow/Package.swift
  swift/Arrow/README.md
  swift/Arrow/Sources/Arrow/ArrowArray.swift
  swift/Arrow/Sources/Arrow/ArrowArrayBuilder.swift
  swift/Arrow/Sources/Arrow/ArrowBuffer.swift
  swift/Arrow/Sources/Arrow/ArrowBufferBuilder.swift
  swift/Arrow/Sources/Arrow/ArrowData.swift
  swift/Arrow/Sources/Arrow/ArrowSchema.swift
  swift/Arrow/Sources/Arrow/ArrowTable.swift
  swift/Arrow/Sources/Arrow/ArrowType.swift
  swift/Arrow/Sources/Arrow/BitUtility.swift
  swift/Arrow/Sources/Arrow/ChunkedArray.swift
  swift/Arrow/Sources/Arrow/MemoryAllocator.swift
  swift/Arrow/Tests/ArrowTests/ArrowTests.swift
Labels: Component: Documentation, Component: Swift

#34026 MINOR: [Docs] Add note about service specific parameters to JDBC driver docs
  docs/source/java/flight_sql_jdbc_driver.rst
Labels: Component: Documentation

#34008 GH-34007: [C++] Add an array_span_mutable interface to ExecResult
  cpp/examples/arrow/udf_example.cc
  cpp/src/arrow/compute/exec.cc
  cpp/src/arrow/compute/exec.h
  cpp/src/arrow/compute/exec_test.cc
  cpp/src/arrow/compute/function_benchmark.cc
  cpp/src/arrow/compute/kernels/codegen_internal.h
  cpp/src/arrow/compute/kernels/scalar_boolean.cc
  cpp/src/arrow/compute/kernels/scalar_cast_numeric.cc
  cpp/src/arrow/compute/kernels/scalar_cast_temporal.cc
  cpp/src/arrow/compute/kernels/scalar_compare.cc
  cpp/src/arrow/compute/kernels/scalar_if_else.cc
  cpp/src/arrow/compute/kernels/scalar_nested.cc
  cpp/src/arrow/compute/kernels/scalar_random.cc
  cpp/src/arrow/compute/kernels/scalar_set_lookup.cc
  cpp/src/arrow/compute/kernels/scalar_string_ascii.cc
  cpp/src/arrow/compute/kernels/scalar_string_internal.h
  cpp/src/arrow/compute/kernels/scalar_temporal_unary.cc
  cpp/src/arrow/compute/kernels/scalar_validity.cc
Labels: Component: C++

#34013 GH-33960: [C++] Add DeclarationToSchema and DeclarationToString helper methods.
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/compute/exec/plan_test.cc
  cpp/src/arrow/flight/sql/example/acero_server.cc
Labels: Component: C++, Component: FlightRPC

#15180 GH-18481: [C++] prefer casting literal over casting field ref
  cpp/src/arrow/compute/exec/expression.cc
  cpp/src/arrow/compute/exec/expression_test.cc
  cpp/src/arrow/compute/kernels/codegen_internal.cc
  cpp/src/arrow/compute/kernels/codegen_internal_test.cc
  cpp/src/arrow/compute/kernels/scalar_arithmetic_test.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
  r/tests/testthat/test-type.R
Labels: Component: R, Component: C++

#34015 GH-33972: [C++] Pass in metadata to ParquetReader
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/src/arrow/dataset/file_parquet.h
  cpp/src/arrow/dataset/file_parquet_test.cc
  cpp/src/arrow/io/test_common.cc
  cpp/src/arrow/io/test_common.h
  cpp/src/arrow/ipc/read_write_test.cc
Labels: Component: C++

#34019 GH-33882: [C++] Don't find .pc files with ARROW_BUILD_STATIC=OFF
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++

#34014 GH-33920: [C++][CI] Disable Flight SQL in sanitizer job
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  docker-compose.yml
Labels: Component: C++

#33848 GH-33824: [C++] Improve error message on diescovery failure
  cpp/src/arrow/dataset/discovery.cc
  cpp/src/arrow/dataset/test_util_internal.h
Labels: Component: C++

#34030 GH-33709: [R] Remove suffix argument from semi_join and anti_join
  r/R/dplyr-join.R
  r/man/arrow-package.Rd
Labels: Component: R

#33968 GH-18487: [R] Read Text (CSV/JSON) from character vector
  r/R/csv.R
  r/R/json.R
  r/man/read_delim_arrow.Rd
  r/man/read_json_arrow.Rd
  r/tests/testthat/test-csv.R
  r/tests/testthat/test-json.R
Labels: Component: R

#34045 GH-34044: [Go] Fix build with noasm tag
  go/arrow/compute/internal/kernels/basic_arithmetic_noasm.go
Labels: Component: Go

#33978 GH-33970: [C#] Make schema field names case sensitive
  csharp/src/Apache.Arrow/Schema.cs
  csharp/test/Apache.Arrow.Tests/SchemaBuilderTests.cs
Labels: Component: C#

#14223 GH-32949: [Go] REE Array IPC read/write
  dev/archery/archery/integration/datagen.py
  docs/source/format/Integration.rst
  docs/source/status.rst
  go/arrow/array/encoded.go
  go/arrow/array/encoded_test.go
  go/arrow/compare.go
  go/arrow/datatype_encoded.go
  go/arrow/encoded/ree_utils.go
  go/arrow/encoded/ree_utils_test.go
  go/arrow/internal/arrdata/arrdata.go
  go/arrow/internal/arrjson/arrjson.go
  go/arrow/internal/arrjson/arrjson_test.go
  go/arrow/internal/flatbuf/RunLengthEncoded.go
  go/arrow/ipc/file_reader.go
  go/arrow/ipc/metadata.go
  go/arrow/ipc/writer.go
  go/arrow/type_string.go
Labels: Component: Go, Component: Documentation

#34039 GH-33935: [Go][FlightRPC] Implement Flight SQL extensions
  .github/workflows/go.yml
  dev/archery/archery/integration/runner.py
  go/arrow/flight/flightsql/client.go
  go/arrow/flight/flightsql/client_test.go
  go/arrow/flight/flightsql/server.go
  go/arrow/flight/flightsql/server_test.go
  go/arrow/flight/flightsql/sqlite_server_test.go
  go/arrow/flight/flightsql/types.go
  go/arrow/flight/internal/flight/FlightSql.pb.go
  go/arrow/internal/flight_integration/scenario.go
Labels: Component: Go, Breaking Change

#34042 GH-33850: [C++] Allow Substrait's default extension provider to be configured
  cpp/src/arrow/engine/substrait/options.cc
  cpp/src/arrow/engine/substrait/options.h
Labels: Component: C++

#34052 GH-34051: [C++] GcsFileSystem lazily starts sequential reads
  cpp/src/arrow/filesystem/gcsfs.cc
  cpp/src/arrow/filesystem/gcsfs_test.cc
Labels: Component: C++

#34038 GH-34037: [Python][Docs] Fix Table.drop docstring
  python/pyarrow/table.pxi
Labels: Component: Python

#34034 GH-30774: [Python] Remove deprecated `use_async`
  python/pyarrow/_dataset.pyx
  python/pyarrow/tests/test_dataset.py
Labels: Component: Python

#33994 GH-33971: [C++] Fix AdaptiveIntBuilder to always populate data buffer
  cpp/src/arrow/array/array_dict_test.cc
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/builder_adaptive.cc
Labels: Component: C++

#33873 GH-31809: [Docs] Add instructions on how to collect the produced telemetry data
  docs/source/cpp/env_vars.rst
  docs/source/cpp/opentelemetry.rst
  docs/source/cpp/user_guide.rst
Labels: Component: Documentation

#33983 MINOR: [Go] Use shared cache in SQLite example.
  go/arrow/flight/flightsql/example/cmd/sqlite_flightsql_server/main.go
  go/arrow/flight/flightsql/example/sqlite_server.go
  go/arrow/flight/flightsql/sqlite_server_test.go
Labels: Component: Go

#33996 MINOR: [C++][Parquet] Fix some comments and style in Statistics
  cpp/src/parquet/statistics.cc
Labels: Component: Parquet, Component: C++

#34075 GH-33850: [C++] Allow Substrait's default extension provider to be configured (fix)
  cpp/src/arrow/engine/substrait/options.cc
Labels: Component: C++

#34065 GH-34063: [C++] Avoid waste in `GcsFileSystem::ReadAt()`
  cpp/src/arrow/filesystem/gcsfs.cc
Labels: Component: C++

#33808 GH-20272: [C++] Bump version of bundled AWS SDK
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/filesystem/CMakeLists.txt
  cpp/src/arrow/filesystem/s3fs_test.cc
  cpp/thirdparty/versions.txt
Labels: Component: C++

#34089 GH-34088: [Python]: Fix typo in get_writer
  python/pyarrow/io.pxi
Labels: Component: Python

#34084 GH-34080: [Python] Add support for round_binary to python
  cpp/src/arrow/compute/api_scalar.cc
  python/pyarrow/_compute.pyx
  python/pyarrow/compute.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/src/arrow/python/common.h
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python

#33995 GH-34078: [C++][Parquet] Minor API improvements for BloomFilter
  cpp/src/parquet/bloom_filter.cc
  cpp/src/parquet/bloom_filter.h
  cpp/src/parquet/bloom_filter_test.cc
Labels: Component: Parquet, Component: C++

#34090 GH-34074: [GLib][FlightRPC] Add support for authentication
  c_glib/Gemfile
  c_glib/arrow-flight-glib/client.cpp
  c_glib/arrow-flight-glib/client.h
  c_glib/arrow-flight-glib/server.cpp
  c_glib/arrow-flight-glib/server.h
  c_glib/arrow-flight-glib/server.hpp
  c_glib/arrow-glib/version.h.in
  c_glib/doc/arrow-flight-glib/arrow-flight-glib-docs.xml
  c_glib/doc/arrow-glib/arrow-glib-docs.xml
  c_glib/test/flight/test-client.rb
  c_glib/test/helper/flight-server.rb
Labels: Component: GLib

#34100 GH-34094: [C++] Increase Boost minimum version for clang >= 16
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++

#14351 GH-33115: [C++] Parquet Implement crc in reading and writing Page for DATA_PAGE (v1)
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/util/CMakeLists.txt
  cpp/src/arrow/util/crc32.cc
  cpp/src/arrow/util/crc32.h
  cpp/src/arrow/util/crc32_test.cc
  cpp/src/parquet/arrow/path_internal.cc
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/column_writer.h
  cpp/src/parquet/column_writer_test.cc
  cpp/src/parquet/encoding_test.cc
  cpp/src/parquet/file_deserialize_test.cc
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/file_writer.cc
  cpp/src/parquet/properties.h
  cpp/src/parquet/properties_test.cc
  cpp/src/parquet/reader_test.cc
  cpp/src/parquet/test_util.h
  docs/source/cpp/parquet.rst
Labels: Component: Parquet, Component: C++, Component: Documentation

#34096 GH-34086: [C++][Parquet] Fix writing num_rows to data page v2
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/column_writer_test.cc
Labels: Component: Parquet, Component: C++

#34108 GH-32240: [C#] Support decompression when reading an IPC stream from ReadOnlyMemory
  csharp/src/Apache.Arrow/Ipc/ArrowMemoryReaderImplementation.cs
  csharp/src/Apache.Arrow/Ipc/ArrowStreamReader.cs
  csharp/test/Apache.Arrow.Tests/ArrowStreamReaderTests.cs
Labels: Component: C#

#34009 GH-33904: [R] improve behavior of s3_bucket - work-around
  r/R/filesystem.R
  r/tests/testthat/test-s3-minio.R
Labels: Component: R

#33909 GH-33899: [C++] Add NamedTapRel relation as a Substrait extension
  cpp/proto/substrait/extension_rels.proto
  cpp/src/arrow/engine/substrait/options.cc
  cpp/src/arrow/engine/substrait/options.h
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
Labels: Component: C++

#34060 GH-34059: [C++] Add a fetch node based on a batch index
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/exec.h
  cpp/src/arrow/compute/exec/CMakeLists.txt
  cpp/src/arrow/compute/exec/accumulation_queue.cc
  cpp/src/arrow/compute/exec/accumulation_queue.h
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/compute/exec/fetch_node.cc
  cpp/src/arrow/compute/exec/fetch_node_test.cc
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/query_context.cc
  cpp/src/arrow/compute/exec/query_context.h
  cpp/src/arrow/compute/exec/sink_node.cc
  cpp/src/arrow/compute/exec/source_node.cc
  cpp/src/arrow/compute/exec/test_nodes.cc
  cpp/src/arrow/compute/exec/test_nodes.h
  cpp/src/arrow/compute/exec/test_nodes_test.cc
  cpp/src/arrow/testing/generator.cc
  cpp/src/arrow/testing/generator.h
Labels: Component: C++

#34114 GH-34113: [C++][Thirdparty] Bump zstd to v1.5.4
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Labels: Component: C++

#34144 GH-34143 [Python][Docs] Add fill_null back to API reference
  docs/source/python/api/compute.rst
Labels: Component: Documentation

#33917 GH-33892: [R] Map `dplyr::n()` to `count_all` kernel
  r/R/dplyr-collect.R
  r/R/dplyr-funcs.R
  r/R/dplyr-summarize.R
  r/R/query-engine.R
  r/man/register_binding.Rd
  r/src/compute-exec.cpp
  r/tests/testthat/test-dplyr-collapse.R
  r/tests/testthat/test-dplyr-summarize.R
Labels: Component: R

#34127 GH-34101: [Go][Parquet] NewSchemaManifest creates wrong schema field
  go/parquet/pqarrow/schema.go
  go/parquet/pqarrow/schema_test.go
Labels: Component: Go

#34079 GH-34077: [Go] Implement RunEndEncoded Scalar
  go/arrow/array/util.go
  go/arrow/scalar/nested.go
  go/arrow/scalar/scalar.go
  go/arrow/scalar/scalar_test.go
Labels: Component: Go

#33731 GH-15231: [C++][Benchmarking] Add new memory pool metrics and track in benchmarks
  cpp/src/arrow/builder_benchmark.cc
  cpp/src/arrow/compute/exec/benchmark_util.cc
  cpp/src/arrow/compute/exec/benchmark_util.h
  cpp/src/arrow/csv/converter_benchmark.cc
  cpp/src/arrow/csv/test_common.cc
  cpp/src/arrow/csv/test_common.h
  cpp/src/arrow/io/file_test.cc
  cpp/src/arrow/memory_pool.cc
  cpp/src/arrow/memory_pool.h
  cpp/src/arrow/memory_pool_test.cc
  cpp/src/arrow/stl_allocator.h
  cpp/src/arrow/util/benchmark_util.h
  cpp/thirdparty/versions.txt
  java/dataset/src/main/cpp/jni_util.cc
  java/dataset/src/main/cpp/jni_util.h
  r/src/memorypool.cpp
Labels: Component: R, Component: Java, Component: C++

#34178 GH-34023: [Docs] Version warning about viewing old docs doesn't work for versions >= 10
  docs/source/_static/versionwarning.js
Labels: Component: Documentation

#34128 GH-34104: [Python] update deduplicate_objects default in docs to match implementation
  python/pyarrow/array.pxi
Labels: Component: Python

#34172 GH-34171: [Go][Compute] Implement "Unique" kernel
  go/arrow/array/dictionary.go
  go/arrow/array/util.go
  go/arrow/compute/executor.go
  go/arrow/compute/internal/exec/span.go
  go/arrow/compute/internal/exec/utils.go
  go/arrow/compute/internal/kernels/types.go
  go/arrow/compute/internal/kernels/vector_hash.go
  go/arrow/compute/registry.go
  go/arrow/compute/vector_hash.go
  go/arrow/compute/vector_hash_test.go
  go/internal/hashing/xxh3_memo_table.go
Labels: Component: Go

#34190 GH-34148: [C++] Revert zstd back to 1.5.2
  cpp/thirdparty/versions.txt
Labels: Component: C++

#33974 GH-33973: [Python][Docs] Update documentation for Parquet filter keyword
  python/pyarrow/parquet/core.py
Labels: Component: Python

#34164 GH-34163: [C++][CI] Ensure using the same Zstandard with bundled ORC
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++

#34194 GH-34188: [C++][Benchmark] Add missing BENCHMARK_STATIC_DEFINE for bundled gbenchmark
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++

#34159 GH-34157: [C++] Configure bundled AWS SDK to use aws-lc instead of OpenSSL
  ci/scripts/java_jni_build.sh
  ci/scripts/java_jni_macos_build.sh
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/ArrowConfig.cmake.in
  cpp/src/arrow/filesystem/CMakeLists.txt
  cpp/src/arrow/filesystem/s3fs_test.cc
  cpp/thirdparty/versions.txt
  java/gandiva/CMakeLists.txt
Labels: Component: Java, Component: C++

#34207 GH-34186: [Go] Add arrow.MapOfWithMetadata to support
  go/arrow/datatype_nested.go
  go/arrow/datatype_nested_test.go
Labels: Component: Go

#34198 GH-34197: [R][CI] Add previous R package versions to backwards compatibility CI jobs
  dev/tasks/r/github.linux.arrow.version.back.compat.yml
Labels: Component: R, Component: Continuous Integration

#34200 GH-34199: [R] Increment R package version in NEWS.md
  r/NEWS.md
Labels: Component: R, Component: Documentation

#34202 GH-34174: [Docs][Release] Add Twitter to post-release tasks
  docs/source/developers/release.rst
Labels: Component: Documentation

#34185 GH-34206: [C++] Don't let jemalloc defines affect unity builds
  cpp/src/arrow/CMakeLists.txt
Labels: Component: C++

#33802 GH-33801: [Python] Expose C++ ExtensionTypes/ExtensionArrays in pyarrow
  python/pyarrow/tests/extensions.pyx
  python/pyarrow/tests/test_extension_type.py
  python/pyarrow/types.pxi
Labels: Component: Python

#34126 GH-34119: [C#] Add [] operator to Schema
  csharp/src/Apache.Arrow/Schema.cs
  csharp/test/Apache.Arrow.Tests/SchemaBuilderTests.cs
Labels: Component: C#

#33732 GH-33209: [C++] Support for reading JSON Datasets
  cpp/src/arrow/dataset/CMakeLists.txt
  cpp/src/arrow/dataset/file_json.cc
  cpp/src/arrow/dataset/file_json.h
  cpp/src/arrow/dataset/file_json_test.cc
  cpp/src/arrow/dataset/test_util_internal.h
Labels: Component: C++

#33940 GH-15098: [C++] fix util::EqualityComparable to compile on clang 15
  c_glib/arrow-glib/scalar.cpp
  c_glib/test/test-file-info.rb
  cpp/src/arrow/compute/api_vector.h
  cpp/src/arrow/compute/exec/expression.cc
  cpp/src/arrow/compute/exec/source_node.cc
  cpp/src/arrow/compute/function.h
  cpp/src/arrow/compute/kernels/test_util.cc
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/src/arrow/filesystem/filesystem.cc
  cpp/src/arrow/filesystem/gcsfs_test.cc
  cpp/src/arrow/scalar.h
  cpp/src/arrow/scalar_test.cc
  cpp/src/arrow/testing/json_integration.cc
  cpp/src/arrow/testing/matchers.h
  cpp/src/arrow/util/compare.h
  r/src/scalar.cpp
Labels: Component: R, Component: C++, Component: GLib

#34215 GH-34214: [C++] Pass OPENSSL_ROOT_HINT to CMAKE_PREFIX_PATH for bundled AWS
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++

#34229 GH-34228: [R] Add LIB_DIR when Arrow is found via pkg-config
  r/configure
Labels: Type: bug, Component: R

#33641 GH-32104: [C++] Add support for Run-End encoded data to Arrow
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/array.h
  cpp/src/arrow/array/array_base.cc
  cpp/src/arrow/array/array_run_end.cc
  cpp/src/arrow/array/array_run_end.h
  cpp/src/arrow/array/array_run_end_test.cc
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/builder_base.cc
  cpp/src/arrow/array/builder_base.h
  cpp/src/arrow/array/builder_run_end.cc
  cpp/src/arrow/array/builder_run_end.h
  cpp/src/arrow/array/concatenate.cc
  cpp/src/arrow/array/data.cc
  cpp/src/arrow/array/diff.cc
  cpp/src/arrow/array/util.cc
  cpp/src/arrow/array/validate.cc
  cpp/src/arrow/builder.cc
  cpp/src/arrow/builder.h
  cpp/src/arrow/compare.cc
  cpp/src/arrow/compute/kernels/vector_selection_test.cc
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/engine/substrait/type_internal.cc
  cpp/src/arrow/ipc/metadata_internal.cc
  cpp/src/arrow/ipc/reader.cc
  cpp/src/arrow/ipc/writer.cc
  cpp/src/arrow/json/test_common.h
  cpp/src/arrow/pretty_print.cc
  cpp/src/arrow/scalar.cc
  cpp/src/arrow/scalar.h
  cpp/src/arrow/scalar_test.cc
  cpp/src/arrow/testing/json_internal.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
  cpp/src/arrow/type_fwd.h
  cpp/src/arrow/type_test.cc
  cpp/src/arrow/type_traits.h
  cpp/src/arrow/util/CMakeLists.txt
  cpp/src/arrow/util/ree_util.cc
  cpp/src/arrow/util/ree_util.h
  cpp/src/arrow/util/ree_util_test.cc
  cpp/src/arrow/visitor.cc
  cpp/src/arrow/visitor.h
  cpp/src/arrow/visitor_generate.h
  cpp/src/parquet/arrow/path_internal.cc
  cpp/src/parquet/column_writer.cc
  python/pyarrow/src/arrow/python/arrow_to_pandas.cc
Labels: Component: Parquet, Component: C++, Component: Python

#34112 GH-34138: [C++][Parquet] Fix parsing stats from min_value/max_value
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/column_reader.cc
Labels: Component: Parquet, Component: C++

#34140 GH-15173: [C++][Parquet] Fixing ByteStreamSplit Standard broken
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding_test.cc
Labels: Component: Parquet, Component: C++

#34220 GH-34219: [Go][FlightRPC] Add Transactions to Sqlite FlightSQL example
  .github/workflows/go.yml
  go/arrow/flight/flightsql/example/sqlite_server.go
  go/arrow/flight/flightsql/sqlite_server_test.go
Labels: Component: Go

#34182 GH-34047: [C++][FlightRPC] Make DoAction warning less prominent
  cpp/src/arrow/flight/transport/grpc/grpc_client.cc
Labels: Component: C++, Component: FlightRPC

#34208 GH-33143: [C++] Kernel to convert timestamp with timezone to wall time
  cpp/src/arrow/compute/api_scalar.cc
  cpp/src/arrow/compute/api_scalar.h
  cpp/src/arrow/compute/kernels/scalar_temporal_test.cc
  cpp/src/arrow/compute/kernels/scalar_temporal_unary.cc
  docs/source/cpp/compute.rst
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, Component: Documentation

#34156 GH-34150: [C++] [Python] Fix improper initialization of ConversionOptions
  cpp/src/arrow/engine/substrait/options.h
  python/pyarrow/_substrait.pyx
  python/pyarrow/includes/libarrow_substrait.pxd
Labels: Component: C++, Component: Python

#34245 GH-34244: [Go][FlightRPC] SQLite example report Transactions support
  go/arrow/flight/flightsql/example/sqlite_info.go
Labels: Component: Go

#34192 GH-34191: [C++] Ensure using the same ProtoBuf in bundled ORC
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++

#33698 GH-31507: [Python] Address docstrings in Streams and File Access (Stream Classes)
  python/pyarrow/io.pxi
Labels: Component: Python

#34260 GH-33631: [R] Rewrite Jira ticket numbers in pkgdown documents to GitHub issue numbers
  r/NEWS.md
  r/_pkgdown.yml
Labels: Component: R, Component: Documentation

#34231 GH-34230: [Java] Call allocation listener on BaseAllocator#wrapForeignAllocation
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/BaseAllocator.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/BufferAllocator.java
  java/memory/memory-netty/src/test/java/org/apache/arrow/memory/CountingAllocationListener.java
  java/memory/memory-netty/src/test/java/org/apache/arrow/memory/TestBaseAllocator.java
  java/memory/memory-netty/src/test/java/org/apache/arrow/memory/TestForeignAllocation.java
Labels: Component: Java

#34107 GH-34106: [C++][Parquet] Fix updating page stats for WriteArrowDictionary
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/column_writer.cc
Labels: Component: Parquet, Component: C++

#34261 MINOR: [Go] update `modernc.org/sqlite@v1.18.2`
  go/go.mod
  go/go.sum
Labels: Component: Go

#34243 GH-34242: [C++][Parquet] Optimize comment and move for shared_ptr in parquet schema
  cpp/src/parquet/arrow/schema.cc
  cpp/src/parquet/level_conversion.h
  cpp/src/parquet/schema.h
Labels: Component: Parquet, Component: C++

#14867 GH-14866: [C++] Remove internal GroupBy implementation
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/api.h
  cpp/src/arrow/compute/exec/CMakeLists.txt
  cpp/src/arrow/compute/exec/aggregate.cc
  cpp/src/arrow/compute/exec/aggregate.h
  cpp/src/arrow/compute/exec/aggregate_node.cc
  cpp/src/arrow/compute/exec/groupby.cc
  cpp/src/arrow/compute/exec/groupby.h
  cpp/src/arrow/compute/exec/groupby_test.cc
  cpp/src/arrow/compute/exec/source_node.cc
  cpp/src/arrow/compute/kernels/aggregate_benchmark.cc
  cpp/src/arrow/compute/kernels/hash_aggregate_test.cc
  python/pyarrow/_compute.pyx
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: C++, Component: Python

#34057 GH-34056: [C++] Add Utility function to simplify converting any row-based structure into an `arrow::RecordBatchReader` or an `arrow::Table`
  cpp/src/arrow/util/CMakeLists.txt
  cpp/src/arrow/util/rows_to_batches.h
  cpp/src/arrow/util/rows_to_batches_test.cc
Labels: Component: C++

#34273 GH-34271: [C++] Remove Thrift GitHub archive source url
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++

#34209 GH-34150: [C++] Fix error due to improper initialization of conversion option defaults
  cpp/src/arrow/engine/substrait/options.cc
Labels: Component: C++

#34276 MINOR: [R] Fix repository URL configurations for pkgdown website
  r/_pkgdown.yml
Labels: Component: R

#34286 MINOR: [Python][Docs] Fixing typos in python/pyarrow/array.pxi
  python/pyarrow/array.pxi
Labels: Component: Python

#34285 GH-34269: [C++] Fix include file name
  cpp/src/skyhook/protocol/skyhook_protocol_test.cc
Labels: Component: C++

#34246 GH-34241: [C++] Fix ExecSpanIterator to properly initialize empty dictionary arrays
  cpp/src/arrow/array/data.cc
  cpp/src/arrow/compute/exec_test.cc
Labels: Component: C++

#15196 GH-15195: [C++][FlightRPC][Python] Add ToString/Equals for Flight types
  c_glib/test/flight/test-command-descriptor.rb
  c_glib/test/flight/test-path-descriptor.rb
  cpp/src/arrow/flight/flight_internals_test.cc
  cpp/src/arrow/flight/perf_server.cc
  cpp/src/arrow/flight/test_util.cc
  cpp/src/arrow/flight/test_util.h
  cpp/src/arrow/flight/types.cc
  cpp/src/arrow/flight/types.h
  python/pyarrow/_flight.pyx
  python/pyarrow/includes/libarrow_flight.pxd
  python/pyarrow/tests/test_flight.py
Labels: Component: C++, Component: Python, Component: FlightRPC, Component: GLib

#34279 GH-34278: [C++] Expose schema in named table provider
  cpp/src/arrow/engine/substrait/function_test.cc
  cpp/src/arrow/engine/substrait/options.h
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
  python/pyarrow/_substrait.pyx
  python/pyarrow/includes/libarrow_substrait.pxd
  python/pyarrow/tests/test_substrait.py
Labels: Component: C++, Component: Python

#34217 GH-34092: [R] open_csv_dataset() error if schema supplied and col_names left as TRUE (the default)
  r/R/dataset-format.R
  r/tests/testthat/test-dataset-csv.R
Labels: Component: R

#14293 GH-33024: [C++][Parquet] Add DELTA_LENGTH_BYTE_ARRAY encoder to Parquet writer
  cpp/src/parquet/column_writer_test.cc
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding_test.cc
  docs/source/cpp/parquet.rst
  python/pyarrow/_parquet.pyx
  python/pyarrow/tests/parquet/test_basic.py
Labels: Component: Parquet, Component: C++, Component: Python, Component: Documentation

#34193 GH-34142: [C++][Parquet] Fix record not to span multiple pages
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/column_writer_test.cc
Labels: Component: Parquet, Component: C++

#34288 GH-34122: [C++] Allow calling function registry functions without requiring a Substrait mapping
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/extension_set.h
  cpp/src/arrow/engine/substrait/function_test.cc
Labels: Component: C++

#34320 MINOR:[CI] Fix automatic issue labeling.
  .github/workflows/issue_bot.yml
Labels: Component: Continuous Integration

#34317 GH-34308: [CI][C++] Use str("") to reset std::stringstream for old g++
  cpp/src/arrow/array/array_run_end_test.cc
Labels: Component: C++

#14879 PARQUET-2201: [parquet-cpp] Add stress test for RecordReader ReadRecords and SkipRecords.
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader_test.cc
  cpp/src/parquet/test_util.h
Labels: Component: Parquet, Component: C++

#34325 GH-34324: [CI][C++] Specify set element type explicitly for old g++
  cpp/src/arrow/util/rows_to_batches_test.cc
Labels: Component: C++

#34050 GH-31910: [C++] Add support for Substrait cast expression
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: Component: C++

#15208 GH-15209: [C++][Gandiva] Add abs function
  cpp/src/gandiva/function_registry_arithmetic.cc
  cpp/src/gandiva/precompiled/arithmetic_ops.cc
  cpp/src/gandiva/precompiled/arithmetic_ops_test.cc
  cpp/src/gandiva/precompiled/types.h
  cpp/src/gandiva/tests/projector_test.cc
Labels: Component: C++, Component: C++ - Gandiva

#15129 GH-15059: [C++][Acero] populate guarantee columns from expression intstead of fragment
  cpp/src/arrow/dataset/dataset.cc
  cpp/src/arrow/dataset/dataset.h
  cpp/src/arrow/dataset/file_csv.cc
  cpp/src/arrow/dataset/file_json.cc
  cpp/src/arrow/dataset/scan_node.cc
  cpp/src/arrow/dataset/scanner_test.cc
  cpp/src/arrow/util/io_util.cc
  cpp/src/arrow/util/io_util.h
  cpp/src/arrow/util/utf8.cc
  cpp/src/arrow/util/utf8.h
Labels: Component: C++

#34298 GH-32512: [Docs][R] Update conda install command
  r/vignettes/install.Rmd
Labels: Component: R

#34360 GH-34359: [Python] Add select method to pyarrow.RecordBatch
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: Python

#34281 GH-34280: [C++][Python] Clarify meaning of row_group_size and change default to 1Mi
  cpp/src/parquet/properties.h
  python/pyarrow/parquet/core.py
Labels: Component: Parquet, Component: C++, Component: Python

#34357 GH-32954: [Java][FlightRPC] Remove FlightTestUtil#getStartedServer and bind to port 0 directly
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/FlightTestUtil.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestApplicationMetadata.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestAuth.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestBackPressure.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestBasicOperation.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestCallOptions.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestClientMiddleware.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestErrorMetadata.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestFlightClient.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestLargeMessage.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestLeak.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestServerMiddleware.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestServerOptions.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestTls.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/auth/TestBasicAuth.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/auth2/TestBasicAuth2.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/client/TestCookieHandling.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/perf/PerformanceTestServer.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/perf/TestPerf.java
Labels: Component: Java

#33967 GH-33953: [Java] Pass custom headers on every request
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightClient.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/HeaderCallOption.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/client/CustomHeaderTest.java
Labels: Component: Java

#33897 GH-33652: [C++][Parquet] Add interface total_compressed_bytes_written
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/column_writer.h
  cpp/src/parquet/column_writer_test.cc
  cpp/src/parquet/file_serialize_test.cc
  cpp/src/parquet/file_writer.cc
  cpp/src/parquet/file_writer.h
  cpp/src/parquet/stream_writer.cc
Labels: Component: Parquet, Component: C++

#34368 GH-34367: [Java] Fix build error from sequential merges
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/client/CustomHeaderTest.java
Labels: Component: Java

#34362 MINOR: [Python][Docs] Fix typo
  python/pyarrow/_csv.pyx
Labels: Component: Python

#34371 MINOR: [C++][Docs] Remove note about Compute IR in the Acero user guide
  docs/source/cpp/streaming_execution.rst
Labels: Component: Documentation

#34099 GH-34098: [Python][Docs] Fix dataset docstring
  python/pyarrow/_dataset.pyx
Labels: Component: Python

#34294 GH-33926: [Python] DataFrame Interchange Protocol for pyarrow.RecordBatch
  python/pyarrow/interchange/dataframe.py
  python/pyarrow/interchange/from_dataframe.py
  python/pyarrow/table.pxi
  python/pyarrow/tests/interchange/test_conversion.py
  python/pyarrow/tests/interchange/test_interchange_spec.py
Labels: Component: Python

#34358 GH-34284: [Java][FlightRPC] Fixed issue with prepared statement getting sent twice
  java/flight/flight-sql-jdbc-driver/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightJdbcFactory.java
  java/flight/flight-sql-jdbc-driver/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightPreparedStatement.java
  java/flight/flight-sql-jdbc-driver/src/test/java/org/apache/arrow/driver/jdbc/ArrowFlightPreparedStatementTest.java
  java/flight/flight-sql-jdbc-driver/src/test/java/org/apache/arrow/driver/jdbc/utils/MockFlightSqlProducer.java
Labels: Component: Java, awaiting committer review

#34137 GH-34136: [C++] Add a concept of ordering to ExecPlan
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/api_vector.cc
  cpp/src/arrow/compute/api_vector.h
  cpp/src/arrow/compute/exec/accumulation_queue.cc
  cpp/src/arrow/compute/exec/asof_join_node.cc
  cpp/src/arrow/compute/exec/asof_join_node_test.cc
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/compute/exec/fetch_node.cc
  cpp/src/arrow/compute/exec/fetch_node_test.cc
  cpp/src/arrow/compute/exec/map_node.cc
  cpp/src/arrow/compute/exec/map_node.h
  cpp/src/arrow/compute/exec/options.cc
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/plan_test.cc
  cpp/src/arrow/compute/exec/sink_node.cc
  cpp/src/arrow/compute/exec/source_node.cc
  cpp/src/arrow/compute/exec/test_nodes.cc
  cpp/src/arrow/compute/exec/test_nodes.h
  cpp/src/arrow/compute/exec/test_nodes_test.cc
  cpp/src/arrow/compute/exec/test_util.cc
  cpp/src/arrow/compute/exec/test_util.h
  cpp/src/arrow/compute/exec_test.cc
  cpp/src/arrow/compute/ordering.cc
  cpp/src/arrow/compute/ordering.h
  cpp/src/arrow/compute/registry.h
  cpp/src/arrow/compute/type_fwd.h
  cpp/src/arrow/testing/generator.cc
  cpp/src/arrow/testing/generator.h
  cpp/src/arrow/util/async_generator.h
Labels: Component: C++

#34340 GH-34339: [R] Add `skip_rows_after_names` option to `read_csv_arrow`'s options
  r/R/csv.R
  r/man/CsvReadOptions.Rd
  r/src/csv.cpp
  r/tests/testthat/test-csv.R
Labels: Component: R

#34384 MINOR: [C++] Name RunEnd[C]Type consistently
  cpp/src/arrow/array/builder_run_end.cc
  cpp/src/arrow/array/builder_run_end.h
  cpp/src/arrow/array/validate.cc
  cpp/src/arrow/compare.cc
  cpp/src/arrow/scalar_test.cc
  cpp/src/arrow/util/ree_util.h
  cpp/src/arrow/util/ree_util_test.cc
Labels: Component: C++, awaiting committer review

#34337 MINOR: [R][Docs] Minor documentation fixes
  r/R/dataset-factory.R
  r/R/dataset-format.R
  r/man/FileFormat.Rd
  r/man/FragmentScanOptions.Rd
  r/man/dataset_factory.Rd
  r/man/read_json_arrow.Rd
Labels: Component: R, awaiting committer review

#33893 GH-32240: [C#] Add new Apache.Arrow.Compression package to implement IPC decompression
  csharp/Apache.Arrow.sln
  csharp/README.md
  csharp/src/Apache.Arrow.Compression/Apache.Arrow.Compression.csproj
  csharp/src/Apache.Arrow.Compression/CompressionCodecFactory.cs
  csharp/src/Apache.Arrow.Compression/Lz4CompressionCodec.cs
  csharp/src/Apache.Arrow.Compression/ZstdCompressionCodec.cs
  csharp/src/Apache.Arrow/Ipc/ArrowReaderImplementation.cs
  csharp/src/Apache.Arrow/Ipc/NoOpBufferCreator.cs
  csharp/test/Apache.Arrow.Compression.Tests/Apache.Arrow.Compression.Tests.csproj
  csharp/test/Apache.Arrow.Compression.Tests/ArrowFileReaderTests.cs
  csharp/test/Apache.Arrow.Compression.Tests/ArrowStreamReaderTests.cs
  csharp/test/Apache.Arrow.Compression.Tests/Resources/ipc_lz4_compression.arrow
  csharp/test/Apache.Arrow.Compression.Tests/Resources/ipc_lz4_compression.arrow_stream
  csharp/test/Apache.Arrow.Compression.Tests/Resources/ipc_zstd_compression.arrow
  csharp/test/Apache.Arrow.Compression.Tests/Resources/ipc_zstd_compression.arrow_stream
  csharp/test/Apache.Arrow.Compression.Tests/generate_resources.py
  csharp/test/Apache.Arrow.Tests/Apache.Arrow.Tests.csproj
  csharp/test/Apache.Arrow.Tests/ArrowFileReaderTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowStreamReaderTests.cs
  dev/release/post-06-csharp.sh
  dev/release/rat_exclude_files.txt
  dev/tasks/tasks.yml
  docs/source/status.rst
Labels: Component: C#, Component: Documentation
