Repository apache/arrow, pull requests merged in 2023-10, with the labels that each got.

#37949 GH-37799: [C++] Compute: CommonTemporal support time32 and time64 casting
  cpp/src/arrow/compute/kernels/codegen_internal.cc
  cpp/src/arrow/compute/kernels/codegen_internal_test.cc
  cpp/src/arrow/dataset/file_parquet_test.cc
Labels: Component: C++, awaiting merge

#37904 GH-37906: [Integration][C#] Implement C Data Interface integration testing for C#
  ci/scripts/integration_arrow.sh
  csharp/src/Apache.Arrow/ArrowBuffer.cs
  csharp/src/Apache.Arrow/C/CArrowArray.cs
  csharp/src/Apache.Arrow/C/CArrowArrayExporter.cs
  csharp/src/Apache.Arrow/C/CArrowSchemaImporter.cs
  csharp/src/Apache.Arrow/Memory/ExportedAllocationOwner.cs
  csharp/test/Apache.Arrow.IntegrationTest/Apache.Arrow.IntegrationTest.csproj
  csharp/test/Apache.Arrow.IntegrationTest/CDataInterface.cs
  csharp/test/Apache.Arrow.IntegrationTest/IntegrationCommand.cs
  csharp/test/Apache.Arrow.IntegrationTest/JsonFile.cs
  csharp/test/Apache.Arrow.Tests/CDataInterfacePythonTests.cs
  dev/archery/archery/integration/runner.py
  dev/archery/archery/integration/tester.py
  dev/archery/archery/integration/tester_cpp.py
  dev/archery/archery/integration/tester_csharp.py
  dev/archery/archery/integration/tester_go.py
Labels: Component: C#, awaiting merge

#37980 GH-37971: [CI][Java] Don't use cache for nightly upload
  .github/workflows/java_nightly.yml
Labels: awaiting committer review

#37867 GH-37834: [Gandiva] Migrate to new LLVM PassManager API
  cpp/CMakeLists.txt
  cpp/cmake_modules/FindLLVMAlt.cmake
  cpp/src/gandiva/CMakeLists.txt
  cpp/src/gandiva/engine.cc
Labels: Component: C++, Component: C++ - Gandiva, awaiting changes

#37874 GH-37873: [C++][Parquet] DELTA_BYTE_ARRAY: avoid copying data when possible
  cpp/src/parquet/encoding.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#37990 GH-37993: [CI] Fix conda-integration build
  ci/docker/conda-integration.dockerfile
Labels: awaiting merge

#37679 GH-37635: [Format][C++][Go] Add app_metadata to FlightInfo and FlightEndpoint
  cpp/src/arrow/flight/flight_internals_test.cc
  cpp/src/arrow/flight/integration_tests/flight_integration_test.cc
  cpp/src/arrow/flight/integration_tests/test_integration.cc
  cpp/src/arrow/flight/perf_server.cc
  cpp/src/arrow/flight/serialization_internal.cc
  cpp/src/arrow/flight/sql/server.cc
  cpp/src/arrow/flight/test_util.cc
  cpp/src/arrow/flight/test_util.h
  cpp/src/arrow/flight/types.cc
  cpp/src/arrow/flight/types.h
  dev/archery/archery/integration/runner.py
  format/Flight.proto
  go/arrow/array/numericbuilder.gen.go
  go/arrow/flight/gen.go
  go/arrow/flight/gen/flight/Flight.pb.go
  go/arrow/flight/gen/flight/FlightSql.pb.go
  go/arrow/flight/gen/flight/Flight_grpc.pb.go
  go/arrow/internal/flight_integration/scenario.go
Labels: Component: Go, Component: C++, Component: FlightRPC, awaiting merge

#37940 GH-37939: [C++] Use signed arithmetic for frame of reference when encoding DELTA_BINARY_PACKED
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding_test.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#37985 GH-37984: [Release] Use ISO 8601 format for YAML date value
  dev/release/post-03-website.sh
Labels: awaiting merge

#37998 GH-37996: [MATLAB] Add a static constructor method named `fromMATLAB` to `arrow.array.StructArray`
  matlab/src/matlab/+arrow/+array/StructArray.m
  matlab/src/matlab/+arrow/+type/+traits/StructTraits.m
  matlab/src/matlab/+arrow/+type/+traits/traits.m
  matlab/src/matlab/+arrow/array.m
  matlab/test/arrow/array/tArray.m
  matlab/test/arrow/array/tStructArray.m
  matlab/test/arrow/type/traits/tStructTraits.m
  matlab/test/arrow/type/traits/ttraits.m
Labels: Component: MATLAB, awaiting merge

#37997 MINOR: [Python][Docs] Fix two typos in data.rst
  docs/source/python/data.rst
Labels: Component: Documentation, awaiting review

#37810 MINOR: [R] Skip tests which use with_language() on CRAN
  r/tests/testthat/helper-arrow.R
Labels: Component: R, awaiting merge

#38009 GH-37999: [CI][Archery] Install python3-dev on ARM jobs to have access to Python.h
  .github/workflows/cpp.yml
  .github/workflows/go.yml
Labels: awaiting committer review

#37918 GH-37917: [Parquet] Add OpenAsync for FileSource
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/dataset/file_base.h
  cpp/src/arrow/dataset/file_parquet.cc
Labels: Component: C++, awaiting merge

#36768 GH-36709: [Python] Allow to specify use_threads=False in Table.group_by to have stable ordering
  python/pyarrow/acero.py
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_exec_plan.py
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting change review

#37986 GH-37598: [Python][Interchange Protocol] Fix the from_dataframe implementation to use the column dtype
  python/pyarrow/interchange/from_dataframe.py
Labels: Component: Python, awaiting merge

#37948 GH-32483: [Docs][Python] Clarify you need to use conda-forge for installing nightly conda package
  docs/source/developers/python.rst
  docs/source/python/install.rst
Labels: Component: Documentation, awaiting committer review

#38025 GH-38039: [C++][Parquet] Fix segfault getting compression level for a Parquet column
  cpp/src/parquet/properties.h
  cpp/src/parquet/properties_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#37975 GH-37145: [Python] support boolean columns with bitsize 1 in from_dataframe
  python/pyarrow/interchange/from_dataframe.py
Labels: Component: Python, awaiting review

#37467 GH-37437: [C++] Fix MakeArrayOfNull for list array with large string values type
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/util.cc
  cpp/src/arrow/array/validate.cc
Labels: Component: C++, awaiting change review

#38040 GH-37574: [Python] Compatibilty with numpy 2.0
  ci/scripts/install_pandas.sh
  python/pyarrow/pandas_compat.py
  python/pyarrow/tests/test_pandas.py
  python/pyarrow/tests/test_scalars.py
Labels: Component: Python, awaiting committer review

#37981 GH-37978: [C++] Add support for specifying custom Array element delimiter to `arrow::PrettyPrintOptions`
  cpp/src/arrow/pretty_print.cc
  cpp/src/arrow/pretty_print.h
  cpp/src/arrow/pretty_print_test.cc
Labels: Component: C++, awaiting changes

#38044 GH-35328: [Go][FlightSQL] Fix flaky test for FlightSql driver
  go/arrow/flight/flightsql/driver/driver_test.go
Labels: Component: Go, awaiting merge

#37877 GH-37876: [Format] Add list-view specification to arrow format
  docs/source/format/Columnar.rst
  format/Schema.fbs
Labels: Component: Documentation, awaiting merge

#38006 GH-38005: [Java] disable the debug log when running Java tests
  docs/source/developers/java/development.rst
  java/adapter/avro/src/test/resources/logback.xml
  java/algorithm/src/test/resources/logback.xml
  java/compression/src/test/resources/logback.xml
  java/flight/flight-grpc/src/test/resources/logback.xml
  java/flight/flight-integration-tests/src/test/resources/logback.xml
  java/flight/flight-sql/src/test/resources/logback.xml
  java/memory/memory-core/src/test/resources/logback.xml
  java/memory/memory-unsafe/src/test/resources/logback.xml
Labels: Component: Java, Component: Documentation, awaiting review

#38030 GH-38011: [C++][Dataset] Change force close to tend to close on write
  cpp/src/arrow/dataset/dataset_writer.cc
Labels: Component: C++, awaiting merge

#38028 GH-38017: [Go][FlightSQL] Increment types handled by internal converter
  go/arrow/flight/flightsql/driver/utils.go
  go/arrow/flight/flightsql/driver/utils_test.go
Labels: Component: Go, awaiting merge

#37743 GH-37742: [Python] Enable Cython 3
  .github/workflows/dev.yml
  ci/conda_env_python.txt
  dev/release/verify-release-candidate.sh
  python/pyproject.toml
  python/requirements-build.txt
  python/requirements-wheel-build.txt
  python/setup.py
Labels: Component: Python, awaiting change review

#38058 GH-38057: [Python][CI] Fix flaky hypothesis tests
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_types.py
Labels: Component: Python, awaiting merge

#37854 GH-36765: [Python][Dataset] Change default of pre_buffer to True for reading Parquet files
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/properties.h
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/test_dataset.py
Labels: Component: Parquet, Component: C++, Component: Python, awaiting merge

#38066 GH-36666: [Python][CI] Re-enable skipped dask test_pandas_timestamp_overflow_pyarrow test
  ci/scripts/integration_dask.sh
Labels: Component: Continuous Integration, awaiting committer review

#38069 GH-38068: [C++][CI] Fixing Parquet unittest `arrow_reader_writer_test.cc` compile
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#38052 GH-38049: [R] Prevent `on_rosetta()` from warning
  r/R/arrow-package.R
  r/tests/testthat/test-arrow-pacakge.R
Labels: Component: R, awaiting merge

#37652 GH-37651: [C#] expose ArrowArrayConcatenator.Concatenate
  csharp/src/Apache.Arrow/Arrays/ArrowArrayConcatenator.cs
  csharp/test/Apache.Arrow.Tests/ArrowArrayConcatenatorTests.cs
Labels: Component: C#, awaiting merge

#38083 MINOR: [R] Fix the error of ignoring stdout in `on_rosetta()`
  r/R/arrow-package.R
Labels: Component: R, awaiting committer review

#38082 GH-38060: [Python][CI] Upgrade Spark versions
  dev/tasks/tasks.yml
Labels: awaiting review

#38097 GH-38090: [C++][Emscripten] orc: Suppress shorten-64-to-32 warnings
  cpp/src/arrow/adapters/orc/adapter.cc
Labels: Component: C++, awaiting committer review

#38129 GH-38090: [C++][Emscripten][Parquet] Suppress shorten-64-to-32 warnings
  cpp/src/parquet/arrow/reader.cc
  cpp/src/parquet/arrow/reader_internal.cc
  cpp/src/parquet/bloom_filter.cc
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_scanner.h
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/statistics.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#38073 GH-38071: [C++][CI] Fix Overlap column chunk ranges for pre-buffer
  cpp/src/arrow/io/caching.cc
  cpp/src/arrow/io/interfaces.cc
  cpp/src/arrow/io/util_internal.h
  cpp/src/parquet/file_reader.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#36496 GH-35623: [C++][Python] FixedShapeTensorType.ToString() should print the type's parameters
  cpp/src/arrow/extension/fixed_shape_tensor.cc
  cpp/src/arrow/extension/fixed_shape_tensor.h
  cpp/src/arrow/extension/fixed_shape_tensor_test.cc
  cpp/src/arrow/util/print.h
  docs/source/python/extending_types.rst
  python/pyarrow/tests/test_extension_type.py
  python/pyarrow/types.pxi
Labels: Component: C++, Component: Python, Component: Documentation, awaiting merge

#38054 GH-38053: [C++][Go] Re-generate sources from Schema.fbs
  cpp/src/generated/File_generated.h
  cpp/src/generated/Message_generated.h
  cpp/src/generated/Schema_generated.h
  cpp/src/generated/SparseTensor_generated.h
  cpp/src/generated/Tensor_generated.h
  cpp/src/generated/feather_generated.h
  format/Message.fbs
  format/Schema.fbs
  go/arrow/internal/flatbuf/BinaryView.go
  go/arrow/internal/flatbuf/LargeListView.go
  go/arrow/internal/flatbuf/ListView.go
  go/arrow/internal/flatbuf/RecordBatch.go
  go/arrow/internal/flatbuf/Type.go
  go/arrow/internal/flatbuf/Utf8View.go
Labels: Component: Go, Component: C++, awaiting merge

#38002 GH-29184: [R] Read CSV with comma as decimal mark
  r/NAMESPACE
  r/R/csv.R
  r/man/CsvReadOptions.Rd
  r/man/csv_convert_options.Rd
  r/man/csv_parse_options.Rd
  r/man/csv_read_options.Rd
  r/man/read_delim_arrow.Rd
  r/src/csv.cpp
  r/tests/testthat/test-csv.R
  r/tests/testthat/test-dataset-csv.R
Labels: Component: R, awaiting merge

#37933 GH-37936: [CI] Fix integration testing in rc-verify nightly builds
  ci/scripts/go_build.sh
  dev/archery/archery/integration/tester_cpp.py
  dev/archery/archery/integration/tester_go.py
  dev/archery/generate_files_for_endian_test.sh
  dev/release/verify-release-candidate.sh
  go/go.sum
Labels: Component: Go, awaiting review

#38132 GH-38077: [C++] Output bundled GoogleTest to ${BUILD_DIR}/${CONFIG}
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#38064 GH-38063: [C++] Use absolute path for external project's ar/ranlib
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#38081 GH-38059: [Python][CI] Upgrade CUDA to 11.2.2
  .env
Labels: awaiting review

#38056 GH-38055: [C++] Don't find/use Threads::Threads with ARROW_ENABLE_THREADING=OFF
  ci/scripts/cpp_build.sh
  cpp/CMakeLists.txt
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/ArrowConfig.cmake.in
Labels: Component: C++, awaiting committer review

#38065 GH-38034: [Python] DataFrame Interchange Protocol - correct dtype information for categorical columns
  python/pyarrow/interchange/column.py
  python/pyarrow/tests/interchange/test_interchange_spec.py
Labels: Component: Python, awaiting merge

#38004 GH-37735: [C++][FreeBSD] Suppress a shorten-64-to-32 warning
  cpp/src/arrow/util/logging.cc
Labels: Component: C++, awaiting committer review

#38037 GH-37050: [Python][Interchange protocol] Add a workaround for empty dataframes
  python/pyarrow/interchange/from_dataframe.py
  python/pyarrow/tests/interchange/test_conversion.py
Labels: Component: Python, awaiting review

#37768 GH-36983: [Python] Different get_file_info behaviour between pyarrow.fs.S3FileSystem and s3fs
  python/pyarrow/tests/test_fs.py
Labels: Component: Python, awaiting change review

#38146 GH-38145: [Docs][Python] Add tzdata on Windows subsection in Python install docs
  docs/source/python/install.rst
Labels: Component: Documentation, awaiting review

#38173 GH-38172: [CI][C++] Use system GoogleTest on Ubuntu 22.04
  ci/docker/ubuntu-22.04-cpp.dockerfile
Labels: awaiting committer review

#36846 GH-36845: [C++][Python] Allow type promotion on `pa.concat_tables`
  c_glib/test/dataset/test-file-system-dataset-factory.rb
  cpp/src/arrow/dataset/discovery.cc
  cpp/src/arrow/dataset/discovery.h
  cpp/src/arrow/dataset/discovery_test.cc
  cpp/src/arrow/table.cc
  cpp/src/arrow/table.h
  cpp/src/arrow/table_test.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
  cpp/src/arrow/type_test.cc
  cpp/src/arrow/type_traits.h
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_dataset.py
  python/pyarrow/tests/test_schema.py
  python/pyarrow/tests/test_table.py
  python/pyarrow/types.pxi
Labels: Component: C++, Component: Python, Component: GLib, awaiting change review

#37376 GH-32439: [Python] Fix off by one bug when chunking nested structs
  python/pyarrow/src/arrow/python/python_to_arrow.cc
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting committer review

#38038 GH-37411: [C++][Python] Add string -> date cast kernel (fix python scalar cast)
  cpp/src/arrow/compute/kernels/scalar_cast_numeric.cc
  cpp/src/arrow/compute/kernels/scalar_cast_temporal.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
  cpp/src/arrow/util/value_parsing.h
  python/pyarrow/tests/test_scalars.py
Labels: Component: C++, Component: Python, awaiting committer review

#38163 GH-36882: [C++][Parquet] Use RLE as BOOLEAN default encoding when both data page and version is V2
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/column_writer_test.cc
  cpp/src/parquet/metadata.cc
  python/pyarrow/tests/parquet/test_metadata.py
Labels: Component: Parquet, Component: C++, Component: Python, awaiting committer review

#37468 GH-35344: [Go][Format] Implementation of the LIST_VIEW and LARGE_LIST_VIEW array formats
  go/arrow/array/array.go
  go/arrow/array/builder.go
  go/arrow/array/compare.go
  go/arrow/array/concat.go
  go/arrow/array/concat_test.go
  go/arrow/array/list.go
  go/arrow/array/list_test.go
  go/arrow/array/map.go
  go/arrow/datatype.go
  go/arrow/datatype_nested.go
  go/arrow/internal/arrdata/arrdata.go
  go/arrow/internal/arrjson/arrjson.go
  go/arrow/internal/arrjson/arrjson_test.go
  go/arrow/internal/testing/gen/random_array_gen.go
  go/arrow/ipc/file_reader.go
  go/arrow/ipc/metadata.go
  go/arrow/ipc/writer.go
  go/arrow/ipc/writer_test.go
  go/arrow/type_string.go
Labels: Component: Go, awaiting merge

#38175 GH-38174: [C++] Update bundled Azure SDK for C++ to 1.10.3
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting committer review

#38003 GH-37767: [C++][CMake] Don't touch .git/index
  cpp/cmake_modules/DefineOptions.cmake
Labels: Component: C++, awaiting changes

#38188 MINOR: [R] Add Jacob Wujciak-Jens as author
  r/DESCRIPTION
Labels: Component: R, awaiting merge

#38194 GH-38193: [CI][Java] Free up disk space for "AMD64 manylinux2014 Java JNI"
  .github/workflows/java_jni.yml
Labels: awaiting committer review

#38177 GH-38159: [CI][Release] Run only integration tests on integration test mode
  dev/release/verify-release-candidate.sh
Labels: awaiting change review

#38115 GH-37941: [R][CI][Release] Add checksum verification for pre-compiled binaries
  dev/tasks/r/github.packages.yml
  r/.gitignore
  r/Makefile
  r/PACKAGING.md
  r/tools/nixlibs.R
  r/tools/update-checksums.R
  r/tools/winlibs.R
Labels: Component: R, Component: Documentation, awaiting changes

#38154 GH-38153: [C#] expose ArrayDataConcatenator.Concatenate
  csharp/src/Apache.Arrow/Arrays/ArrayDataConcatenator.cs
  csharp/test/Apache.Arrow.Tests/ArrayDataConcatenatorTests.cs
Labels: Component: C#, awaiting merge

#37166 GH-24868: [C++] Add a Tensor logical value type with varying dimensions, implemented using ExtensionType
  docs/source/format/CanonicalExtensions.rst
Labels: Component: Documentation, awaiting merge

#37901 GH-37880: [CI][Python][Packaging] Add support for Python 3.12
  .github/workflows/cpp.yml
  .github/workflows/java_jni.yml
  ci/docker/linux-apt-lint.dockerfile
  ci/docker/python-wheel-windows-test-vs2017.dockerfile
  ci/docker/python-wheel-windows-vs2017.dockerfile
  ci/scripts/install_gcs_testbench.sh
  ci/scripts/install_python.sh
  ci/vcpkg/ports.patch
  dev/release/verify-release-candidate.sh
  dev/tasks/python-wheels/github.osx.arm64.yml
  dev/tasks/tasks.yml
  docker-compose.yml
  python/requirements-wheel-test.txt
  python/setup.py
Labels: Component: Python, Priority: Blocker, awaiting changes

#38199 GH-38198: [Go] Fix AuthenticateBasicToken to be reliable behind proxies
  go/arrow/flight/client.go
Labels: Component: Go, awaiting merge

#38202 GH-38201: [CI][Packaging] Pin zlib 1.2.13 when using thrift on conan
  ci/conan/all/conanfile.py
Labels: awaiting committer review

#37418 GH-37378: [C++] Add A Dictionary Compaction Function For DictionaryArray
  cpp/src/arrow/array/array_dict.cc
  cpp/src/arrow/array/array_dict.h
  cpp/src/arrow/array/array_dict_test.cc
Labels: Component: C++, awaiting merge

#38215 GH-37592: [MATLAB] Add `NumRows` property to `arrow.tabular.RecordBatch`
  matlab/src/cpp/arrow/matlab/tabular/proxy/record_batch.cc
  matlab/src/cpp/arrow/matlab/tabular/proxy/record_batch.h
  matlab/src/matlab/+arrow/+tabular/RecordBatch.m
  matlab/test/arrow/tabular/tRecordBatch.m
Labels: Component: MATLAB, awaiting committer review

#38176 GH-37510: [C++] Don't install bundled Azure SDK for C++
  ci/docker/ubuntu-20.04-cpp.dockerfile
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting change review

#38222 GH-38200: [CI][Release][Go] Ensure removing all module caches
  dev/release/verify-release-candidate.sh
Labels: awaiting committer review

#38244 GH-38243: [CI][Python] Add missing dataset marker for dataset encryption tests
  python/pyarrow/tests/test_dataset_encryption.py
Labels: awaiting committer review

#38110 GH-38096: [Java] FlightStream with metadata can cause error when closing
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightClient.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightStream.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestDoExchange.java
Labels: Component: Java, awaiting change review

#38231 GH-38210: [C++][FlightRPC] Add missing app_metadata arguments
  cpp/src/arrow/flight/integration_tests/test_integration.cc
  cpp/src/arrow/flight/integration_tests/test_integration_server.cc
  cpp/src/arrow/flight/sql/example/acero_server.cc
  cpp/src/arrow/flight/sql/example/sqlite_server.cc
Labels: Component: C++, Component: FlightRPC, awaiting merge

#38192 GH-35497: [C++] Use the latest tagged version of flatbuffers
  cpp/src/generated/File_generated.h
  cpp/src/generated/Message_generated.h
  cpp/src/generated/Schema_generated.h
  cpp/src/generated/SparseTensor_generated.h
  cpp/src/generated/Tensor_generated.h
  cpp/src/generated/feather_generated.h
  cpp/thirdparty/flatbuffers/README.md
  cpp/thirdparty/flatbuffers/include/flatbuffers/allocator.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/array.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/base.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/buffer.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/buffer_ref.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/default_allocator.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/detached_buffer.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/flatbuffer_builder.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/flatbuffers.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/stl_emulation.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/string.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/struct.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/table.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/vector.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/vector_downward.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/verifier.h
Labels: Component: C++, Component: Documentation, awaiting committer review

#37961 GH-37907: [R] Setting rosetta variable is missing
  r/R/arrow-package.R
  r/R/install-arrow.R
  r/tests/testthat/test-arrow-pacakge.R
  r/tests/testthat/test-install-arrow.R
Labels: Component: R, awaiting merge

#38195 GH-38043: [R] Enable all features by default on macOS
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  dev/tasks/macros.jinja
  dev/tasks/r/github.packages.yml
  r/configure
  r/tools/nixlibs.R
Labels: Component: R, Component: C++, awaiting merge

#38257 MINOR: [R] Fix spelling of delimiter
  r/R/csv.R
  r/man/read_delim_arrow.Rd
Labels: Component: R, awaiting merge

#37896 GH-37895: [C++] Feature: support concatenate recordbatches.
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch.h
  cpp/src/arrow/record_batch_test.cc
Labels: Component: C++, awaiting merge

#38238 GH-38239: [CI][Python] Disable -W error on Python CI jobs temporarily
  dev/tasks/tasks.yml
  python/setup.cfg
Labels: Component: Python, awaiting change review

#38147 GH-38074: [C++] Fix Offset Size Calculation for Slicing Large String and Binary Types in Hash Join
  cpp/src/arrow/acero/hash_join_node_test.cc
  cpp/src/arrow/compute/light_array.cc
  cpp/src/arrow/compute/light_array.h
  cpp/src/arrow/compute/light_array_test.cc
Labels: Component: C++, awaiting merge

#38265 GH-38263 [C++]: Prefer to call string_view::data() instead of begin() where a char pointer is expected
  cpp/src/arrow/compute/kernels/scalar_string_ascii.cc
Labels: Component: C++, awaiting merge

#38233 GH-38206: [CI] Remove more pre-installed files
  ci/scripts/util_free_space.sh
Labels: awaiting committer review

#38284 GH-38285: [Go] Slight deps and docs update
  go/arrow/doc.go
  go/go.mod
  go/go.sum
Labels: Component: Go, awaiting committer review

#37862 GH-37861: [C#] Fix StringArray.GetString returning null instead of empty
  csharp/src/Apache.Arrow/Arrays/BinaryArray.cs
  csharp/src/Apache.Arrow/Arrays/StringArray.cs
  csharp/test/Apache.Arrow.Tests/BinaryArrayBuilderTests.cs
  csharp/test/Apache.Arrow.Tests/StringArrayTests.cs
Labels: Component: C#, awaiting change review

#38283 GH-38282 [C++]: Implement ReplaceString with the right type signature
  cpp/src/arrow/compute/kernels/scalar_string_ascii.cc
Labels: Component: C++, awaiting merge

#38287 GH-38286: [CI][R] Clean GitHub runner disk for ubuntu-r-only-r images
  dev/tasks/docker-tests/github.linux.yml
Labels: awaiting merge

#38289 MINOR: [Go] Bump go versions for testing nightly tasks
  dev/tasks/tasks.yml
Labels: awaiting merge

#38299 GH-38297: [C#] Fix build for .NET 4.7.2
  csharp/test/Apache.Arrow.Tests/DurationArrayTests.cs
  csharp/test/Apache.Arrow.Tests/MapArrayTests.cs
Labels: Component: C#, awaiting review

#37003 GH-37002: [C++][Parquet] Add api to get RecordReader from RowGroupReader
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/file_reader.h
  cpp/src/parquet/level_conversion.h
  cpp/src/parquet/properties.h
  cpp/src/parquet/reader_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#36818 GH-36815: [C#]: Enable net472 tests under Windows
  csharp/src/Apache.Arrow/Types/Time32Type.cs
  csharp/src/Apache.Arrow/Types/Time64Type.cs
  csharp/test/Apache.Arrow.Tests/Apache.Arrow.Tests.csproj
Labels: Component: C#, awaiting review

#38267 GH-35260: [C++][Python][R] Allow users to adjust S3 log level by environment variable
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs.h
  cpp/src/arrow/filesystem/s3fs_test.cc
  docs/source/cpp/api/filesystem.rst
  docs/source/cpp/env_vars.rst
  docs/source/python/filesystems.rst
  r/R/filesystem.R
  r/man/FileSystem.Rd
  r/man/s3_bucket.Rd
Labels: Component: R, Component: C++, Component: Documentation, awaiting changes, awaiting change review

#38241 GH-38240: [Docs] version_match should match the version from versions.json
  docs/source/conf.py
Labels: Component: Documentation, awaiting change review

#38302 GH-38295: [CI][R] Free up disk space for Azure Pipelines jobs
  ci/scripts/util_free_space.sh
  dev/tasks/macros.jinja
  dev/tasks/r/azure.linux.yml
Labels: awaiting committer review

#38219 GH-36994: [Java] Use JDK 21 in CI
  .github/workflows/java.yml
  dev/release/verify-release-candidate.sh
  docker-compose.yml
  docs/source/java/install.rst
  java/flight/flight-sql-jdbc-core/pom.xml
  java/flight/flight-sql-jdbc-driver/pom.xml
  java/flight/pom.xml
  java/pom.xml
  java/vector/src/main/java/org/apache/arrow/vector/dictionary/DictionaryEncoder.java
Labels: Component: Java, Component: Documentation, awaiting merge

#38277 GH-36044: [Python][Docs] Added ParquetFileFragment to the API reference docs
  docs/source/python/api/dataset.rst
Labels: Component: Documentation, awaiting review

#38070 GH-37312: [Python][Docs] Update Python docstrings to reflect new parquet encoding option
  python/pyarrow/parquet/core.py
Labels: Component: Python, awaiting change review

#38303 MINOR: [R] Avoid stray output from expr when checking for 10.13
  r/configure
Labels: Component: R, awaiting merge

#38258 GH-38216: [R] open_dataset(format = "json") not documented
  r/R/dataset.R
  r/man/open_dataset.Rd
Labels: Component: R, awaiting merge

#38313 GH-38312: [Docs] Add the Arrow C Device data interface page to the sidebar TOC
  docs/source/format/ADBC.rst
  docs/source/format/index.rst
Labels: Component: Documentation, awaiting committer review

#38306 GH-38304: [C++][Parquet] Fix Valgrind memory leak in arrow-dataset-file-parquet-encryption-test
  cpp/src/arrow/dataset/file_parquet_encryption_test.cc
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/encryption/encryption_internal.cc
  cpp/src/parquet/encryption/encryption_internal.h
  cpp/src/parquet/encryption/encryption_internal_nossl.cc
  cpp/src/parquet/encryption/openssl_internal.cc
  cpp/src/parquet/encryption/openssl_internal.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#38322 MINOR: Update dev docs link on README.md
  README.md
Labels: Component: Documentation, awaiting merge

#37797 GH-35531: [Python] C Data Interface PyCapsule Protocol
  docs/source/format/CDataInterface.rst
  docs/source/format/CDataInterface/PyCapsuleInterface.rst
  docs/source/python/extending_types.rst
  docs/source/python/interchange_protocol.rst
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/ipc.pxi
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_cffi.py
  python/pyarrow/tests/test_table.py
  python/pyarrow/tests/test_types.py
  python/pyarrow/types.pxi
Labels: Component: Python, Component: Documentation, awaiting merge

#36595 GH-36594: [C++] Don't use MSVC_VERSION to determin -fms-compatibility-version
  cpp/cmake_modules/SetupCxxFlags.cmake
  cpp/src/gandiva/precompiled/CMakeLists.txt
Labels: Component: C++, Component: C++ - Gandiva, awaiting change review

#38337 GH-38332: [CI][Release] Resolve symlinks in RAT lint
  cpp/cmake_modules/snappy.diff
  dev/archery/archery/utils/source.py
  dev/release/02-source.sh
  dev/release/rat_exclude_files.txt
Labels: Component: C++, awaiting merge

#38324 GH-38323: [CI][Python] Use system gdb on test-conda-python
  ci/docker/conda-python.dockerfile
Labels: awaiting change review

#38248 GH-37910: [Java][Integration] Implement C Data Interface integration testing
  ci/scripts/integration_arrow.sh
  dev/archery/archery/integration/cdata.py
  dev/archery/archery/integration/datagen.py
  dev/archery/archery/integration/runner.py
  dev/archery/archery/integration/tester.py
  dev/archery/archery/integration/tester_cpp.py
  dev/archery/archery/integration/tester_csharp.py
  dev/archery/archery/integration/tester_go.py
  dev/archery/archery/integration/tester_java.py
  docker-compose.yml
  java/c/src/main/java/org/apache/arrow/c/BufferImportTypeVisitor.java
  java/c/src/main/java/org/apache/arrow/c/Format.java
  java/c/src/main/java/org/apache/arrow/c/SchemaImporter.java
  java/c/src/test/java/org/apache/arrow/c/DictionaryTest.java
  java/c/src/test/java/org/apache/arrow/c/StreamTest.java
  java/vector/src/main/java/org/apache/arrow/vector/NullVector.java
  java/vector/src/main/java/org/apache/arrow/vector/compare/RangeEqualsVisitor.java
  java/vector/src/main/java/org/apache/arrow/vector/dictionary/DictionaryProvider.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/JsonFileReader.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/message/ArrowRecordBatch.java
  java/vector/src/main/java/org/apache/arrow/vector/util/Validator.java
Labels: Component: Java, awaiting merge

#38269 GH-37511: [C++] Implement file reads for Azure filesystem
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting change review

#38327 GH-38326: [C++][Parquet] check the decompressed page size same as size in page header
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader_test.cc
  cpp/src/parquet/file_deserialize_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#38118 GH-38117: [C++][Parquet] Change DictEncoder dtor checking to warning log
  cpp/src/parquet/encoding.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#38144 GH-38033: [R] Allow `code()` to return package name prefix.
  r/R/dictionary.R
  r/R/schema.R
  r/R/type.R
  r/man/DataType-class.Rd
  r/man/Schema-class.Rd
  r/tests/testthat/helper-roundtrip.R
Labels: Component: R, awaiting merge

#38365 GH-38363: [Release][CI] Omit tests for main/maintenance branches on RC branch
  dev/release/post-11-bump-versions-test.rb
Labels: awaiting committer review

#38319 GH-38268: [Java] Disable flaky TestFlightSqlStreams
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/TestFlightSqlStreams.java
Labels: Component: Java, awaiting review

#38261 GH-38246: [JAVA] added new getTransferPair() function that takes in a Field type for Complex Type Vectors
  java/vector/src/main/codegen/templates/DenseUnionVector.java
  java/vector/src/main/codegen/templates/UnionVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseFixedWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseLargeVariableWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/ExtensionTypeVector.java
  java/vector/src/main/java/org/apache/arrow/vector/LargeVarBinaryVector.java
  java/vector/src/main/java/org/apache/arrow/vector/LargeVarCharVector.java
  java/vector/src/main/java/org/apache/arrow/vector/NullVector.java
  java/vector/src/main/java/org/apache/arrow/vector/ValueVector.java
  java/vector/src/main/java/org/apache/arrow/vector/VarBinaryVector.java
  java/vector/src/main/java/org/apache/arrow/vector/VarCharVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/FixedSizeListVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/LargeListVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/ListVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/MapVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/NonNullableStructVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/StructVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestLargeListVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestLargeVarBinaryVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestLargeVarCharVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestListVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestMapVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestStructVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestVectorSchemaRoot.java
Labels: Component: Java, awaiting merge

#38368 GH-38366: [Java] Fix Murmur hash on buffers less than 4 bytes
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/hash/MurmurHasher.java
  java/memory/memory-core/src/test/java/org/apache/arrow/memory/util/hash/TestArrowBufHasher.java
Labels: Component: Java, awaiting merge

#38388 GH-38387: [Java] Fix JDK8 compilation issue with TestAllTypes
  java/dataset/src/test/java/org/apache/arrow/dataset/TestAllTypes.java
Labels: Component: Java, awaiting merge

#38377 GH-38376 [R]: Add `dimnames` method to `Dataset` class
  r/NAMESPACE
  r/R/dataset.R
  r/tests/testthat/test-dataset.R
Labels: Component: R, awaiting changes

#38301 GH-38300: [Dev][Docs] Update dev/README.md for the current merge_arrow_pr.py
  dev/README.md
Labels: Component: Documentation, awaiting merge

#38305 GH-38242: [Java] Fix incorrect internal struct accounting for DenseUnionVector#getBufferSizeFor
  java/vector/src/main/codegen/templates/DenseUnionVector.java
  java/vector/src/test/java/org/apache/arrow/vector/complex/TestDenseUnionBufferSize.java
Labels: Component: Java, awaiting merge

#38397 MINOR: [Dev] Remove maplefu as collaborator
  .asf.yaml
Labels: awaiting committer review

#38266 GH-38254: [Java] Add reusable buffer getters to char/binary vectors
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/accessor/impl/text/ArrowFlightJdbcVarCharVectorAccessor.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/ReusableBuffer.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseLargeVariableWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/FixedSizeBinaryVector.java
  java/vector/src/main/java/org/apache/arrow/vector/LargeVarBinaryVector.java
  java/vector/src/main/java/org/apache/arrow/vector/LargeVarCharVector.java
  java/vector/src/main/java/org/apache/arrow/vector/VarBinaryVector.java
  java/vector/src/main/java/org/apache/arrow/vector/VarCharVector.java
  java/vector/src/main/java/org/apache/arrow/vector/util/ReusableByteArray.java
  java/vector/src/main/java/org/apache/arrow/vector/util/Text.java
  java/vector/src/test/java/org/apache/arrow/vector/TestFixedSizeBinaryVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestLargeVarBinaryVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestLargeVarCharVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestValueVector.java
  java/vector/src/test/java/org/apache/arrow/vector/util/TestReusableByteArray.java
Labels: Component: Java, awaiting merge

#38405 GH-38401: [C++] Re-generate flatbuffers C++ for Skyhook
  cpp/build-support/update-flatbuffers.sh
  cpp/src/skyhook/protocol/ScanRequest_generated.h
Labels: Component: C++, awaiting merge

#38308 GH-38307: [CI] Remove gemfury_clean.rb
  ci/scripts/gemfury_clean.rb
  dev/tasks/python-wheels/github.clean.yml
  dev/tasks/tasks.yml
Labels: awaiting committer review

#38119 MINOR: [Python] Add docs for missing type checking functions
  docs/source/python/api/datatypes.rst
Labels: Component: Documentation, awaiting committer review

#37839 GH-37796: [C++][Acero] Fix race condition caused by straggling input in the as-of-join node
  cpp/src/arrow/acero/asof_join_node.cc
  cpp/src/arrow/acero/asof_join_node_test.cc
Labels: Component: C++, awaiting merge

#38375 GH-38364: [Python] Initialize S3 on first use
  python/pyarrow/_s3fs.pyx
  python/pyarrow/fs.py
  python/pyarrow/includes/libarrow_fs.pxd
Labels: Component: Python, awaiting change review

#38413 GH-38399: [Go][Parquet] DeltaBitPack decoder reset usedFirst after SetData
  go/parquet/internal/encoding/delta_bit_packing.go
  go/parquet/internal/encoding/encoding_test.go
Labels: Component: Go, awaiting change review

#38336 GH-38264: [Java][Packaging] Add BOM file
  dev/release/utils-prepare.sh
  dev/tasks/tasks.yml
  java/adapter/avro/pom.xml
  java/adapter/jdbc/pom.xml
  java/adapter/orc/pom.xml
  java/algorithm/pom.xml
  java/bom/pom.xml
  java/c/pom.xml
  java/compression/pom.xml
  java/dataset/pom.xml
  java/flight/flight-core/pom.xml
  java/flight/flight-grpc/pom.xml
  java/flight/flight-integration-tests/pom.xml
  java/flight/flight-sql-jdbc-core/pom.xml
  java/flight/flight-sql-jdbc-driver/pom.xml
  java/flight/flight-sql/pom.xml
  java/gandiva/pom.xml
  java/memory/memory-netty/pom.xml
  java/memory/memory-unsafe/pom.xml
  java/performance/pom.xml
  java/pom.xml
  java/tools/pom.xml
  java/vector/pom.xml
Labels: Component: Java, awaiting merge

#38400 GH-38398: [MATLAB] Improve array display
  matlab/src/cpp/arrow/matlab/array/proxy/array.cc
  matlab/src/cpp/arrow/matlab/error/error.h
  matlab/src/matlab/+arrow/+array/+internal/+display/getHeader.m
  matlab/src/matlab/+arrow/+array/+internal/+display/pluralizeStringIfNeeded.m
  matlab/src/matlab/+arrow/+array/Array.m
  matlab/test/arrow/array/tArrayDisplay.m
Labels: Component: MATLAB, awaiting change review

#38426 GH-38395: [Go] fix rounding errors in decimal256 string functions
  go/arrow/decimal128/decimal128.go
  go/arrow/decimal128/decimal128_test.go
  go/arrow/decimal256/decimal256.go
  go/arrow/decimal256/decimal256_test.go
Labels: Component: Go, awaiting merge

#38067 GH-38042: [C++][Benchmark] Add non-stream Codec Compression/Decompression
  cpp/src/arrow/util/compression_benchmark.cc
Labels: Component: C++, awaiting merge

#38403 GH-38402: [CI][Integration] Provide wrapper scripts for integration testing
  ci/scripts/go_build.sh
  ci/scripts/integration_arrow.sh
  ci/scripts/integration_arrow_build.sh
  docker-compose.yml
Labels: awaiting change review

#38236 GH-27839: [R] Fetch latest nightly binary for arrow R dev versions.
  r/configure
  r/configure.win
  r/tools/nixlibs.R
  r/tools/winlibs.R
  r/vignettes/developers/install_details.Rmd
Labels: Component: R, awaiting merge

#37676 GH-36898: [CI] Hashpin Sensitive GitHub Actions
  .github/workflows/comment_bot.yml
  .github/workflows/cpp.yml
  .github/workflows/dev.yml
  .github/workflows/dev_pr.yml
  .github/workflows/docs.yml
  .github/workflows/docs_light.yml
  .github/workflows/go.yml
  .github/workflows/integration.yml
  .github/workflows/issue_bot.yml
  .github/workflows/java.yml
  .github/workflows/java_jni.yml
  .github/workflows/java_nightly.yml
  .github/workflows/js.yml
  .github/workflows/pr_bot.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  .github/workflows/r_nightly.yml
  .github/workflows/ruby.yml
  .github/workflows/swift.yml
Labels: awaiting committer review

#38433 MINOR: [C++] Fix a maybe-uninitialized warning
  cpp/src/arrow/compute/kernels/scalar_round.cc
Labels: Component: C++, awaiting review

#38450 GH-38449: [Release][Go][macOS] Use local test data if possible
  dev/release/verify-release-candidate.sh
Labels: awaiting committer review

#38453 GH-38452: [C++][Benchmark] Adding benchmark for LZ4/Snappy Compression
  cpp/src/arrow/util/compression_benchmark.cc
Labels: Component: C++, awaiting review

#38451 MINOR: [Python] Deduplicate `ensure_s3_initialized()` call
  python/pyarrow/_s3fs.pyx
Labels: Component: Python, awaiting merge

#38455 GH-38431: [Python][CI] Update fs.type_name checks for s3fs tests
  ci/conda_env_python.txt
  python/pyarrow/tests/test_fs.py
Labels: Component: Python, awaiting review

#37764 GH-37726: [Swift][FlightSQL] Update behavior to be similar to existing impls
  swift/.swiftlint.yml
  swift/Arrow/Sources/Arrow/ArrowReader.swift
  swift/Arrow/Sources/Arrow/ArrowReaderHelper.swift
  swift/Arrow/Sources/Arrow/ArrowType.swift
  swift/Arrow/Sources/Arrow/ArrowWriter.swift
  swift/Arrow/Tests/ArrowTests/TableTests.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightClient.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightData.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightInfo.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightSchemaResult.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightServer.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightSql.pb.swift
  swift/ArrowFlight/Sources/ArrowFlight/RecordBatchStreamReader.swift
  swift/ArrowFlight/Sources/ArrowFlight/RecordBatchStreamWriter.swift
  swift/ArrowFlight/Tests/ArrowFlightTests/FlightTest.swift
Labels: Component: Swift, awaiting merge

#38471 MINOR: [Python][Docs] Fix default for use_compliant_nested_type in parquet write_table docstring
  python/pyarrow/parquet/core.py
Labels: Component: Python, awaiting merge

#38331 GH-38022: [Java][FlightRPC] Expose app_metadata on FlightInfo and FlightEndpoint
  dev/archery/archery/integration/runner.py
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightEndpoint.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightInfo.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestBasicOperation.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestFlightService.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/AppMetadataFlightInfoEndpointScenario.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/Scenarios.java
  java/flight/flight-integration-tests/src/test/java/org/apache/arrow/flight/integration/tests/IntegrationTest.java
Labels: Component: Java, awaiting merge

#38463 GH-38418: [MATLAB] Add method for extracting one row of an `arrow.tabular.Table` as a string
  matlab/src/cpp/arrow/matlab/error/error.h
  matlab/src/cpp/arrow/matlab/tabular/get_row_as_string.h
  matlab/src/cpp/arrow/matlab/tabular/proxy/record_batch.cc
  matlab/src/cpp/arrow/matlab/tabular/proxy/record_batch.h
  matlab/src/cpp/arrow/matlab/tabular/proxy/table.cc
  matlab/src/cpp/arrow/matlab/tabular/proxy/table.h
  matlab/src/matlab/+arrow/+internal/+test/+tabular/createAllSupportedArrayTypes.m
  matlab/test/arrow/tabular/tTabularInternal.m
Labels: Component: MATLAB, awaiting merge

#35003 GH-34569: [C++] Diffing of Run-End Encoded arrays
  cpp/src/arrow/array/diff.cc
  cpp/src/arrow/array/diff_test.cc
  cpp/src/arrow/util/ree_util.cc
  cpp/src/arrow/util/ree_util.h
Labels: Component: C++, awaiting change review

#38425 GH-38424: [CI][C++] Use Fedora 38 instead of 35
  .env
  ci/docker/fedora-38-cpp.dockerfile
  cpp/CMakeLists.txt
  cpp/cmake_modules/FindorcAlt.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/adapters/orc/CMakeLists.txt
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: Component: C++, awaiting committer review

#38379 GH-38378: [C++][Parquet] Don't initialize OpenSSL explicitly with OpenSSL 1.1
  cpp/src/parquet/encryption/openssl_internal.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#38475 MINOR: [Java] Update installation documentation for BOM file
  docs/source/java/install.rst
Labels: Component: Documentation, awaiting merge

#38493 GH-14936: [Java] Remove netty dependency from arrow-vector
  java/vector/pom.xml
  java/vector/src/main/java/org/apache/arrow/vector/util/MapWithOrdinalImpl.java
  java/vector/src/main/java/org/apache/arrow/vector/util/MultiMapWithOrdinal.java
  java/vector/src/test/java/org/apache/arrow/vector/util/TestMapWithOrdinal.java
Labels: Component: Java, awaiting merge
