Repository apache/arrow, pull requests merged in 2023-07, with the labels that each got.

#36372 GH-36369: [C++][FlightRPC] Fix a hang bug in FlightClient::Authenticate*()
  cpp/src/arrow/flight/transport/grpc/grpc_client.cc
Labels: Component: C++, Component: FlightRPC, awaiting merge

#36409 GH-36408: [GLib][FlightSQL] Add support for INSERT/UPDATE/DELETE
  c_glib/arrow-flight-sql-glib/client.cpp
  c_glib/arrow-flight-sql-glib/client.h
  c_glib/arrow-flight-sql-glib/server.cpp
  c_glib/arrow-flight-sql-glib/server.h
  c_glib/arrow-flight-sql-glib/server.hpp
  c_glib/test/flight-sql/test-client.rb
  c_glib/test/helper/flight-sql-server.rb
Labels: Component: GLib, awaiting committer review

#36365 GH-36384: [Go] Schema: NumFields
  go/arrow/schema.go
  go/arrow/schema_test.go
Labels: Component: Go, awaiting merge

#34312 GH-34293: [Java] Error loading native libraries on Windows
  java/adapter/orc/src/main/java/org/apache/arrow/adapter/orc/OrcJniUtils.java
  java/c/src/main/java/org/apache/arrow/c/jni/JniLoader.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/JniLoader.java
  java/dataset/src/test/java/org/apache/arrow/dataset/CsvWriteSupport.java
  java/dataset/src/test/java/org/apache/arrow/dataset/ParquetWriteSupport.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/evaluator/JniLoader.java
Labels: Component: Java, awaiting change review

#36401 GH-35636: [C++] Extract two expensive test suites from compute-vector-test
  cpp/src/arrow/compute/kernels/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#36415 GH-36414: [C++] Add missing type_traits.h predicate: is_var_length_list()
  cpp/src/arrow/ipc/writer.cc
  cpp/src/arrow/testing/json_internal.cc
  cpp/src/arrow/testing/random_test.cc
  cpp/src/arrow/type_test.cc
  cpp/src/arrow/type_traits.h
Labels: Component: C++, awaiting committer review

#36440 MINOR: [Dev] Add mapleFU as collaborator and remove inactive collaborators
  .asf.yaml
Labels: awaiting committer review

#36435 GH-35710: [R] Followup improvements to new configure script
  r/configure
  r/tools/check-versions.R
  r/tools/test-check-versions.R
Labels: Component: R, awaiting merge

#36422 GH-36421: [Java] Enable Support for reading JSON Datasets
  ci/scripts/java_jni_macos_build.sh
  docs/source/java/dataset.rst
  java/dataset/src/main/cpp/jni_wrapper.cc
  java/dataset/src/main/java/org/apache/arrow/dataset/file/FileFormat.java
  java/dataset/src/test/java/org/apache/arrow/dataset/TextBasedWriteSupport.java
  java/dataset/src/test/java/org/apache/arrow/dataset/file/TestFileSystemDataset.java
Labels: Component: Java, Component: Documentation, awaiting merge

#36344 GH-26153: [C++] Share common codes for RecordBatchStreamReader and StreamDecoder
  cpp/src/arrow/ipc/read_write_test.cc
  cpp/src/arrow/ipc/reader.cc
  cpp/src/arrow/ipc/reader.h
  cpp/src/arrow/status.cc
  cpp/src/arrow/status.h
  cpp/src/arrow/testing/gtest_util.h
Labels: Component: C++, awaiting change review

#36376 GH-36352: [Python] Add project_id to GcsFileSystem options
  python/pyarrow/_gcsfs.pyx
  python/pyarrow/includes/libarrow_fs.pxd
  python/pyarrow/tests/test_fs.py
Labels: Component: Python, awaiting change review

#36442 GH-36346: [C++] Safe S3 finalization
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs.h
  python/pyarrow/_s3fs.pyx
  python/pyarrow/includes/common.pxd
  python/pyarrow/tests/test_fs.py
Labels: Component: C++, Component: Python, awaiting review

#36453 GH-36449: [C++][CI] Don't use -g1 for Python jobs
  ci/docker/linux-apt-python-3.dockerfile
  ci/docker/linux-dnf-python-3.dockerfile
  python/pyarrow/tests/test_cuda.py
Labels: Component: Python, awaiting committer review

#36454 GH-36452: [CI][C++] Test C++20 support with compatible compiler
  dev/tasks/tasks.yml
Labels: awaiting review

#36457 GH-36451: [CI][C++] Fix compilation failure on Fedora 35
  cpp/src/arrow/scalar_test.cc
Labels: awaiting review

#36413 GH-29705: [Python] Clean-up no-longer-used pandas dataframe serialization helpers
  python/pyarrow/pandas_compat.py
Labels: Component: Python, awaiting committer review

#36461 GH-36327: [C++][CI] Fix Valgrind failures
  cpp/src/arrow/compute/kernels/ree_util_internal.cc
  cpp/src/arrow/compute/kernels/vector_pairwise.cc
  cpp/src/arrow/compute/kernels/vector_run_end_encode.cc
  cpp/valgrind.supp
Labels: Component: C++, awaiting committer review

#36431 GH-35511: [C++] Util: add memory_pool in `SwapEndianArrayData`
  cpp/src/arrow/array/util.cc
  cpp/src/arrow/array/util.h
  cpp/src/arrow/ipc/reader.cc
Labels: Component: C++, awaiting committer review

#36444 GH-35417: [GLib] Add GArrowRunEndEncodedDataType
  c_glib/arrow-glib/basic-data-type.cpp
  c_glib/arrow-glib/composite-data-type.cpp
  c_glib/arrow-glib/composite-data-type.h
  c_glib/arrow-glib/type.cpp
  c_glib/arrow-glib/type.h
  c_glib/test/test-run-end-encoded-data-type.rb
Labels: Component: GLib, awaiting committer review

#36445 GH-35130: [Docs] Document how to become a collaborator to get triage role
  docs/source/developers/reviewing.rst
Labels: Component: Documentation, awaiting merge

#36466 GH-36450: [CI][Python] Upload wheel artifacts for Windows
  dev/tasks/python-wheels/github.windows.yml
Labels: awaiting committer review

#36468 MINOR: [Dev] Remove westonpace from compute reviews and add to acero reviews in CODEOWNERS
  .github/CODEOWNERS
Labels: awaiting committer review

#36162 GH-21761: [Python] accept pyarrow scalars in array constructor
  python/pyarrow/src/arrow/python/inference.cc
  python/pyarrow/src/arrow/python/python_to_arrow.cc
  python/pyarrow/tests/test_convert_builtin.py
Labels: Component: Python, awaiting merge

#36465 GH-23870: [Python] Ensure parquet.write_to_dataset doesn't create empty files for non-observed dictionary (category) values
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_dataset.py
Labels: Component: Python, awaiting committer review

#36460 GH-35943: [Dev] Ensure link issue works when PR body is empty
  .github/workflows/dev_pr/link.js
Labels: awaiting changes

#36467 GH-36257: [CI][Dev][Archery] bot requires pygithub 1.59.0 or later
  dev/archery/archery/bot.py
  dev/archery/archery/tests/test_bot.py
  dev/archery/requirements.txt
Labels: awaiting committer review

#36473 GH-36475: [C++][CI] Fix Flight feature verification
  ci/scripts/cpp_build.sh
  cpp/src/arrow/flight/try_compile/check_tls_opts_127.cc
  cpp/src/arrow/flight/try_compile/check_tls_opts_132.cc
Labels: Component: C++, Component: FlightRPC, awaiting merge

#36387 GH-36045:[Python] Improve usability of pc.map_lookup / MapLookupOptions
  python/pyarrow/_compute.pyx
  python/pyarrow/tests/test_compute.py
Labels: Component: Python, awaiting merge

#36320 GH-36319: [Go][Parquet] Improved row group writer error messages
  go/parquet/file/file_writer_test.go
  go/parquet/file/row_group_writer.go
Labels: Component: Go, awaiting review

#36478 GH-36477: [CI][macOS] Ignore brew update failure on crossbow tasks
  dev/tasks/macros.jinja
  dev/tasks/verify-rc/github.macos.amd64.yml
Labels: awaiting change review

#36481 MINOR: [Docs] Fix indentation error in Table.from_pylist docstring
  python/pyarrow/table.pxi
Labels: Component: Python, awaiting committer review

#36484 GH-36476: [C++][FlightRPC] Fix uninitialized fields in FlightInfo
  cpp/src/arrow/flight/types.h
Labels: Component: C++, Component: FlightRPC, awaiting merge

#36480 GH-36492: [CI][Python] Add Ubuntu 22.04 nightly build
  dev/tasks/tasks.yml
Labels: awaiting merge

#36485 GH-36483: [C++] Make `UTF8StringToUTF16` and `UTF16StringToUTF8` accept `string_views`
  cpp/src/arrow/util/utf8.cc
  cpp/src/arrow/util/utf8.h
  matlab/src/cpp/arrow/matlab/array/proxy/timestamp_array.cc
Labels: Component: C++, Component: MATLAB, awaiting change review

#36296 GH-35403: [Docs] Support sphinx 6 for building the docs
  ci/conda_env_sphinx.txt
  docs/requirements.txt
  docs/source/conf.py
  docs/source/cpp/build_system.rst
  docs/source/developers/documentation.rst
  docs/source/developers/java/building.rst
  docs/source/format/CDeviceDataInterface.rst
Labels: Component: Documentation, awaiting merge

#36495 MINOR: [CI] Use GITHUB_PATH instead of GITHUB_ACTIONS to detect environment
  ci/scripts/install_sccache.sh
Labels: Component: Continuous Integration, awaiting change review

#36497 MINOR: [CI][C++] Allow running TSan build on Ubuntu 22.04
  ci/docker/ubuntu-22.04-cpp.dockerfile
Labels: awaiting review

#36137 GH-35746: [Parquet][C++][Python] Switch default Parquet version to 2.6
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/arrow_schema_test.cc
  cpp/src/parquet/column_writer_test.cc
  cpp/src/parquet/properties.h
  cpp/src/parquet/properties_test.cc
  python/pyarrow/_parquet.pyx
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_basic.py
  python/pyarrow/tests/parquet/test_datetime.py
  python/pyarrow/tests/parquet/test_pandas.py
Labels: Component: Parquet, Component: C++, Component: Python, awaiting merge

#36486 GH-34509: [C++][Parquet] Improve docstrings for ArrowReaderProperties::batch_size
  cpp/src/parquet/properties.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#36463 GH-36446: [C++] Minor style improvements in ConcatenateImpl
  cpp/src/arrow/array/concatenate.cc
Labels: Component: C++, awaiting committer review

#35810 GH-35809: [C#] Improvements to the C Data Interface
  csharp/src/Apache.Arrow/Apache.Arrow.csproj
  csharp/src/Apache.Arrow/C/CArrowArray.cs
  csharp/src/Apache.Arrow/C/CArrowArrayExporter.cs
  csharp/src/Apache.Arrow/C/CArrowArrayImporter.cs
  csharp/src/Apache.Arrow/C/CArrowArrayStream.cs
  csharp/src/Apache.Arrow/C/CArrowArrayStreamExporter.cs
  csharp/src/Apache.Arrow/C/CArrowArrayStreamImporter.cs
  csharp/src/Apache.Arrow/C/CArrowSchema.cs
  csharp/src/Apache.Arrow/C/CArrowSchemaExporter.cs
  csharp/src/Apache.Arrow/C/NativeDelegate.cs
  csharp/test/Apache.Arrow.Tests/CDataInterfaceDataTests.cs
  csharp/test/Apache.Arrow.Tests/CDataInterfaceSchemaTests.cs
Labels: Component: C#, awaiting merge

#35989 GH-34351: [C++][Parquet] Statistics: add detail documentation and tiny optimization
  c_glib/test/parquet/test-statistics.rb
  cpp/src/parquet/statistics.cc
  cpp/src/parquet/statistics.h
  cpp/src/parquet/statistics_test.cc
Labels: Component: Parquet, Component: C++, Component: GLib, awaiting committer review

#36504 MINOR: [Dev] Add Gang Wu to CODEOWNERS for cpp/parquet and cpp/orc
  .github/CODEOWNERS
Labels: awaiting merge

#36507 MINOR: [CI][C++] Re-enable optimizations in Valgrind build
  docker-compose.yml
Labels: awaiting committer review

#36516 GH-36501: [CI][Java][JAR] Ensure removing Homebrew's gRPC packages
  dev/tasks/java-jars/github.yml
Labels: awaiting committer review

#36515 GH-36500: [CI][Java][JAR] Remove Homebrew's protobuf
  dev/tasks/java-jars/github.yml
Labels: awaiting committer review

#35792 GH-20047: [MATLAB] Enable GitHub Actions CI for MATLAB Interface on Windows
  .github/workflows/matlab.yml
  matlab/CMakeLists.txt
Labels: Component: MATLAB, awaiting merge

#36470 GH-35418: [GLib] Add GArrowRunEndEncodedArray
  c_glib/arrow-glib/basic-array.cpp
  c_glib/arrow-glib/composite-array.cpp
  c_glib/arrow-glib/composite-array.h
  c_glib/arrow-glib/compute.cpp
  c_glib/arrow-glib/compute.h
  c_glib/arrow-glib/compute.hpp
  c_glib/test/test-run-end-encode.rb
  c_glib/test/test-run-end-encoded-array.rb
Labels: Component: GLib, awaiting changes

#36514 GH-36513: [Dev][C#] Add Dependabot configuration for NuGet
  .github/dependabot.yml
Labels: awaiting committer review

#36531 GH-36524: [GLib] Suppress a pessimizing-move warning
  c_glib/arrow-glib/error.hpp
Labels: Component: GLib, awaiting committer review

#36508 GH-36498: [Python][CI] Hypothesis nightly test fails with pytz.exceptions.UnknownTimeZoneError: 'Factory'
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting review

#36462 GH-34884: [Python]: Support pickling pyarrow.dataset Partitioning subclasses
  cpp/src/arrow/dataset/partition.h
  python/pyarrow/_dataset.pyx
  python/pyarrow/includes/libarrow_dataset.pxd
  python/pyarrow/tests/test_dataset.py
Labels: Component: C++, Component: Python, awaiting changes

#36538 GH-36537: [Python] Ensure dataset writer follows default Parquet version of 2.6
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/test_dataset.py
Labels: Component: Python, awaiting changes

#36549 MINOR: [Dev] Add kevingurney to CODEOWNERS for `/matlab/`
  .github/CODEOWNERS
Labels: awaiting merge

#36533 GH-36407: [C++] Add arrow::ipc::Listener::OnSchemaDecoded(schema, filtered_schema)
  cpp/src/arrow/ipc/reader.cc
  cpp/src/arrow/ipc/reader.h
Labels: Component: C++, awaiting committer review

#36559 GH-31521: [C++][Flight] Migrate Flight SQL client to Result
  cpp/src/arrow/flight/sql/client.cc
  cpp/src/arrow/flight/sql/client.h
Labels: Component: C++, Component: FlightRPC, awaiting merge

#36542 GH-36541: [Python][CI] Ensure the "Without pandas" CI build has no pandas installed (don't install doc requirements in conda-python image)
  ci/docker/conda-python-pandas.dockerfile
  ci/docker/conda-python.dockerfile
  python/pyarrow/tests/test_dataset.py
  python/pyarrow/tests/test_extension_type.py
Labels: Component: Python, awaiting committer review

#36545 GH-36544: [Swift] Add/change some init methods to public access
  swift/Arrow/.gitignore
  swift/Arrow/Sources/Arrow/ArrowArrayBuilder.swift
  swift/Arrow/Sources/Arrow/ArrowReader.swift
  swift/Arrow/Sources/Arrow/ArrowSchema.swift
  swift/Arrow/Sources/Arrow/ArrowTable.swift
  swift/Arrow/Sources/Arrow/ArrowWriter.swift
Labels: awaiting review

#36554 GH-36553: [Python] Improve error message if certain submodule (cython or cpp) is not built
  python/pyarrow/acero.py
  python/pyarrow/dataset.py
  python/pyarrow/flight.py
  python/pyarrow/parquet/core.py
  python/pyarrow/substrait.py
Labels: Component: Python, Component: FlightRPC, awaiting committer review

#36557 MINOR: [C++][CI] Bump conda-forge AWS SDK version
  ci/conda_env_cpp.txt
Labels: awaiting committer review

#36576 GH-36543: [CI][Docs] Use -g1 instead of -g for building docs
  docker-compose.yml
Labels: awaiting committer review

#36579 GH-36556: [CI][C++] Enable S3 in Valgrind build
  docker-compose.yml
Labels: awaiting review

#36581 GH-36479: [C++][FlightRPC] Use gRPC version detected by find_package()
  ci/scripts/cpp_build.sh
  cpp/cmake_modules/FindgRPCAlt.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/flight/CMakeLists.txt
  cpp/src/arrow/flight/try_compile/check_tls_opts_127.cc
  cpp/src/arrow/flight/try_compile/check_tls_opts_132.cc
  cpp/src/arrow/flight/try_compile/check_tls_opts_134.cc
  cpp/src/arrow/flight/try_compile/check_tls_opts_136.cc
  cpp/src/arrow/flight/try_compile/check_tls_opts_143.cc
Labels: Component: C++, Component: FlightRPC, awaiting merge

#36583 GH-36582: [CI][C++][Homebrew] Backport the latest formula changes
  dev/tasks/homebrew-formulae/apache-arrow-glib.rb
  dev/tasks/homebrew-formulae/apache-arrow.rb
Labels: awaiting committer review

#36584 MINOR: [C++] Cleanup FindgRPCAlt
  cpp/cmake_modules/FindgRPCAlt.cmake
Labels: Component: C++, awaiting committer review

#36550 GH-34884: [Python]: Support pickling pyarrow.dataset PartitioningFactory objects
  python/pyarrow/_dataset.pxd
  python/pyarrow/_dataset.pyx
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/tests/test_dataset.py
Labels: Component: Python, awaiting change review

#36536 GH-36523: [C++] Fix TSan-detected lock ordering issues in S3
  cpp/src/arrow/filesystem/s3_test_util.h
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs_test.cc
  cpp/src/arrow/util/io_util.cc
Labels: Component: C++, awaiting merge

#35582 GH-34787: [Python] Accept zero_copy_only=False for ChunkedArray.to_numpy
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_array.py
Labels: Component: Python, awaiting change review

#36586 GH-36541: [Python][CI] Fixup nopandas build after merge of GH-33321
  python/pyarrow/tests/test_pandas.py
  python/pyarrow/tests/test_schema.py
Labels: Component: Python, awaiting committer review

#36374 GH-14969: [R][Docs] Enable pkgdown built-in search
  r/pkgdown/extra.js
  r/vignettes/developers/setup.Rmd
Labels: Component: R, awaiting merge

#36561 GH-36560: [MATLAB] Remove the DeepCopy name-value pair from `arrow.array.<Numeric>Array` constructors
  matlab/src/cpp/arrow/matlab/array/proxy/numeric_array.h
  matlab/src/matlab/+arrow/+array/NumericArray.m
  matlab/test/arrow/array/hNumericArray.m
  matlab/test/arrow/array/tFloat32Array.m
  matlab/test/arrow/array/tFloat64Array.m
Labels: Component: MATLAB, awaiting merge

#36290 GH-36284: [Python][Parquet] Support write page index in Python API
  python/pyarrow/_parquet.pxd
  python/pyarrow/_parquet.pyx
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_metadata.py
Labels: Component: Python, awaiting change review

#36600 GH-36599: [MATLAB] Bump libmexclass version to 3465900
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
Labels: Component: MATLAB, awaiting committer review

#36571 GH-36570: [Dev] Add "Component: Swift" label to PRs
  .github/workflows/dev_pr/labeler.yml
Labels: awaiting committer review

#36373 GH-36154: [JS][CI] Use `jest` cache in CI
  .github/workflows/js.yml
  js/.gitignore
  js/jest.config.js
Labels: Component: JavaScript, awaiting merge

#36575 GH-36311: [C++] Fix integer overflows in `utf8_slice_codeunits`
  cpp/src/arrow/compute/kernels/scalar_string_test.cc
  cpp/src/arrow/compute/kernels/scalar_string_utf8.cc
  python/pyarrow/_compute.pyx
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, awaiting committer review

#36018 GH-35581: [C++] Store offsets in scalars
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/data.cc
  cpp/src/arrow/array/data.h
  cpp/src/arrow/array/util.cc
  cpp/src/arrow/compute/expression_test.cc
  cpp/src/arrow/compute/kernels/vector_nested_test.cc
  cpp/src/arrow/scalar.h
  cpp/src/arrow/testing/random.cc
  cpp/src/arrow/testing/random.h
  cpp/src/arrow/type_fwd.h
Labels: Component: C++, awaiting change review

#36394 GH-36271: [R] Split out R6 classes and convenience functions
  r/R/buffer.R
  r/R/chunked-array.R
  r/R/field.R
  r/R/record-batch.R
  r/R/schema.R
  r/R/table.R
  r/R/type.R
  r/_pkgdown.yml
  r/man/Buffer-class.Rd
  r/man/ChunkedArray-class.Rd
  r/man/DataType-class.Rd
  r/man/Field-class.Rd
  r/man/Field.Rd
  r/man/RecordBatch-class.Rd
  r/man/Schema-class.Rd
  r/man/Table-class.Rd
  r/man/buffer.Rd
  r/man/chunked_array.Rd
  r/man/data-type.Rd
  r/man/read_schema.Rd
  r/man/record_batch.Rd
  r/man/schema.Rd
  r/man/table.Rd
Labels: Component: R, awaiting merge

#36334 GH-15281: [C++] Replace bytes_view alias with span
  cpp/src/arrow/buffer.h
  cpp/src/arrow/util/CMakeLists.txt
  cpp/src/arrow/util/bitmap.h
  cpp/src/arrow/util/bytes_view.h
  cpp/src/arrow/util/span.h
  cpp/src/arrow/util/span_test.cc
Labels: Component: C++, awaiting change review

#36609 MINOR: [Dev] Update CODEOWNERS for AlenkaF
  .github/CODEOWNERS
Labels: awaiting review

#36617 GH-36618: [C++] Add a test for evaluation of ARROW_CHECK payload
  cpp/src/arrow/util/logging_test.cc
Labels: Component: C++, awaiting committer review

#36521 GH-36502: [C++] Add run-end encoded array support to ReferencedByteRanges
  cpp/src/arrow/array/array_run_end_test.cc
  cpp/src/arrow/util/byte_size.cc
  cpp/src/arrow/util/byte_size_test.cc
  cpp/src/arrow/util/ree_util.cc
  cpp/src/arrow/util/ree_util.h
Labels: Component: C++, awaiting merge

#36606 GH-36598: [C++][MinGW] Fix build failure with Protobuf 23.4
  .github/workflows/cpp.yml
  .github/workflows/ruby.yml
  cpp/cmake_modules/FindProtobufAlt.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/gandiva/precompiled/CMakeLists.txt
Labels: Component: C++, Component: C++ - Gandiva, awaiting changes

#36418 GH-36417: [C++] Add Buffer::data_as, Buffer::mutable_data_as
  cpp/src/arrow/array/array_base.h
  cpp/src/arrow/array/array_dict.cc
  cpp/src/arrow/array/array_dict.h
  cpp/src/arrow/array/array_nested.cc
  cpp/src/arrow/array/array_nested.h
  cpp/src/arrow/array/data.h
  cpp/src/arrow/buffer.cc
  cpp/src/arrow/buffer.h
  cpp/src/arrow/buffer_builder.h
  cpp/src/arrow/compute/kernels/hash_aggregate.cc
  cpp/src/arrow/type.h
  cpp/src/parquet/column_reader.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#36626 GH-36619: [Python] Parquet statistics string representation misleading
  python/pyarrow/_parquet.pyx
  python/pyarrow/tests/parquet/test_metadata.py
Labels: Component: Python, awaiting committer review

#36487 GH-36469: [Java][Packaging] Distribute linux aarch64 libs with mavencentral jars
  ci/docker/java-jni-manylinux-201x.dockerfile
  ci/scripts/java_jni_macos_build.sh
  ci/scripts/java_jni_manylinux_build.sh
  cpp/src/arrow/compute/kernels/scalar_arithmetic_test.cc
  dev/tasks/java-jars/github.yml
  docker-compose.yml
Labels: Component: C++, Component: Packaging, awaiting merge

#36624 GH-36623: [Go] NullType support for csv
  go/arrow/csv/common.go
  go/arrow/csv/transformer.go
  go/arrow/csv/writer_test.go
Labels: Component: Go, awaiting committer review

#36539 GH-36187: [C++] Display the name of the problematic field when returning status "Data type ... is not supported in join non-key field" for HashJoin
  cpp/src/arrow/acero/hash_join_node.cc
  python/pyarrow/tests/test_table.py
Labels: Component: C++, Component: Python, awaiting change review

#36534 MINOR: [Docs] error in example
  js/src/builder.ts
Labels: Component: JavaScript, awaiting merge

#36499 GH-36482: [C++][CI] Fix sporadic test failures in AsofJoinBasicTest
  cpp/src/arrow/acero/asof_join_node.cc
Labels: Component: C++, awaiting merge

#36630 GH-36629: [CI][Python] Skip dask tests due to our non-nanosecond changes in arrow->pandas conversion
  ci/scripts/integration_dask.sh
Labels: awaiting merge

#36657 GH-36655: [Dev] Fix fury command to upload nightly wheels
  dev/tasks/macros.jinja
Labels: awaiting committer review

#36647 GH-36643: [C++][Parquet] Use nested namespace in parquet
  cpp/src/parquet/arrow/arrow_schema_test.cc
  cpp/src/parquet/arrow/arrow_statistics_test.cc
  cpp/src/parquet/arrow/path_internal.cc
  cpp/src/parquet/arrow/path_internal_test.cc
  cpp/src/parquet/arrow/reader.cc
  cpp/src/parquet/arrow/reader_internal.cc
  cpp/src/parquet/arrow/reconstruct_internal_test.cc
  cpp/src/parquet/arrow/schema.cc
  cpp/src/parquet/arrow/schema_internal.cc
  cpp/src/parquet/arrow/schema_internal.h
  cpp/src/parquet/arrow/writer.cc
  cpp/src/parquet/bloom_filter_reader_test.cc
  cpp/src/parquet/encoding_test.cc
  cpp/src/parquet/encryption/crypto_factory.cc
  cpp/src/parquet/encryption/crypto_factory.h
  cpp/src/parquet/encryption/encryption_internal.cc
  cpp/src/parquet/encryption/encryption_internal.h
  cpp/src/parquet/encryption/encryption_internal_nossl.cc
  cpp/src/parquet/encryption/file_key_material_store.h
  cpp/src/parquet/encryption/file_key_unwrapper.cc
  cpp/src/parquet/encryption/file_key_unwrapper.h
  cpp/src/parquet/encryption/file_key_wrapper.cc
  cpp/src/parquet/encryption/file_key_wrapper.h
  cpp/src/parquet/encryption/file_system_key_material_store.cc
  cpp/src/parquet/encryption/file_system_key_material_store.h
  cpp/src/parquet/encryption/key_encryption_key.h
  cpp/src/parquet/encryption/key_management_test.cc
  cpp/src/parquet/encryption/key_material.cc
  cpp/src/parquet/encryption/key_material.h
  cpp/src/parquet/encryption/key_metadata.cc
  cpp/src/parquet/encryption/key_metadata.h
  cpp/src/parquet/encryption/key_metadata_test.cc
  cpp/src/parquet/encryption/key_toolkit.cc
  cpp/src/parquet/encryption/key_toolkit.h
  cpp/src/parquet/encryption/key_toolkit_internal.cc
  cpp/src/parquet/encryption/key_toolkit_internal.h
  cpp/src/parquet/encryption/key_wrapping_test.cc
  cpp/src/parquet/encryption/kms_client.cc
  cpp/src/parquet/encryption/kms_client.h
  cpp/src/parquet/encryption/kms_client_factory.h
  cpp/src/parquet/encryption/local_wrap_kms_client.cc
  cpp/src/parquet/encryption/local_wrap_kms_client.h
  cpp/src/parquet/encryption/properties_test.cc
  cpp/src/parquet/encryption/read_configurations_test.cc
  cpp/src/parquet/encryption/test_encryption_util.cc
  cpp/src/parquet/encryption/test_encryption_util.h
  cpp/src/parquet/encryption/test_in_memory_kms.cc
  cpp/src/parquet/encryption/test_in_memory_kms.h
  cpp/src/parquet/encryption/two_level_cache_with_expiration.h
  cpp/src/parquet/encryption/two_level_cache_with_expiration_test.cc
  cpp/src/parquet/encryption/write_configurations_test.cc
  cpp/src/parquet/level_comparison.cc
  cpp/src/parquet/level_comparison.h
  cpp/src/parquet/level_comparison_inc.h
  cpp/src/parquet/level_conversion.cc
  cpp/src/parquet/level_conversion.h
  cpp/src/parquet/level_conversion_bmi2.cc
  cpp/src/parquet/level_conversion_inc.h
  cpp/src/parquet/level_conversion_test.cc
  cpp/src/parquet/types.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#36650 GH-36641: [C++] Remove reference to acero from non-acero file
  cpp/src/arrow/compute/util.cc
  cpp/src/arrow/compute/util.h
  cpp/src/arrow/compute/util_avx2.cc
Labels: Component: C++, awaiting committer review

#36661 GH-36659: [Python] Fix pyarrow.dataset.Partitioning.__eq__ when comparing with other type
  python/pyarrow/_dataset.pyx
  python/pyarrow/tests/test_dataset.py
Labels: Component: Python, awaiting merge

#36646 GH-36645: [Go] returns writer.Close error to caller when writing parquet
  go/parquet/file/file_writer.go
  go/parquet/file/file_writer_test.go
Labels: Component: Go, awaiting change review

#36653 GH-36601: [MATLAB] Add a MATLAB "type traits" class hierarchy
  matlab/src/matlab/+arrow/+type/+traits/BooleanTraits.m
  matlab/src/matlab/+arrow/+type/+traits/Float32Traits.m
  matlab/src/matlab/+arrow/+type/+traits/Float64Traits.m
  matlab/src/matlab/+arrow/+type/+traits/Int16Traits.m
  matlab/src/matlab/+arrow/+type/+traits/Int32Traits.m
  matlab/src/matlab/+arrow/+type/+traits/Int64Traits.m
  matlab/src/matlab/+arrow/+type/+traits/Int8Traits.m
  matlab/src/matlab/+arrow/+type/+traits/StringTraits.m
  matlab/src/matlab/+arrow/+type/+traits/TimestampTraits.m
  matlab/src/matlab/+arrow/+type/+traits/TypeTraits.m
  matlab/src/matlab/+arrow/+type/+traits/UInt16Traits.m
  matlab/src/matlab/+arrow/+type/+traits/UInt32Traits.m
  matlab/src/matlab/+arrow/+type/+traits/UInt64Traits.m
  matlab/src/matlab/+arrow/+type/+traits/UInt8Traits.m
  matlab/src/matlab/+arrow/+type/+traits/traits.m
  matlab/src/matlab/+arrow/+type/Type.m
  matlab/test/arrow/type/traits/hTypeTraits.m
  matlab/test/arrow/type/traits/tBooleanTraits.m
  matlab/test/arrow/type/traits/tInt16Traits.m
  matlab/test/arrow/type/traits/tInt32Traits.m
  matlab/test/arrow/type/traits/tInt64Traits.m
  matlab/test/arrow/type/traits/tInt8Traits.m
  matlab/test/arrow/type/traits/tStringTraits.m
  matlab/test/arrow/type/traits/tTimestampTraits.m
  matlab/test/arrow/type/traits/tUInt16Traits.m
  matlab/test/arrow/type/traits/tUInt32Traits.m
  matlab/test/arrow/type/traits/tUInt64Traits.m
  matlab/test/arrow/type/traits/tUInt8Traits.m
  matlab/test/arrow/type/traits/ttraits.m
Labels: Component: MATLAB, awaiting committer review

#36670 GH-36669: [Go] Guard against garbage in C Data structures
  go/arrow/cdata/cdata_exports.go
  go/arrow/cdata/cdata_fulltest.c
  go/arrow/cdata/cdata_test.go
  go/arrow/cdata/cdata_test_framework.go
  go/arrow/cdata/exports.go
  go/arrow/cdata/interface.go
  go/arrow/cdata/trampoline.c
Labels: Component: Go, awaiting merge

#36611 GH-36610: [CI][C++] Don't enable ARROW_ACERO by default
  ci/scripts/cpp_build.sh
Labels: awaiting committer review

#36637 GH-36634: [Dev] Ensure merge script goes over all pages when requesting info from GitHub
  dev/merge_arrow_pr.py
Labels: awaiting merge

#36622 GH-36621: [C++] Add documentation for ACERO_ALIGNMENT_HANDLING
  docs/source/cpp/env_vars.rst
Labels: Component: Documentation, awaiting merge

#36679 GH-36511: [C++][FlightRPC] Get rid of GRPCPP_PP_INCLUDE
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/flight/flight_test.cc
  cpp/src/arrow/flight/transport/grpc/customize_grpc.h
  cpp/src/arrow/flight/transport/grpc/grpc_client.cc
  cpp/src/arrow/flight/transport/grpc/grpc_server.cc
  cpp/src/arrow/flight/transport/grpc/serialization_internal.cc
  cpp/src/arrow/flight/transport/grpc/util_internal.cc
  cpp/src/arrow/util/config.h.cmake
Labels: Component: C++, Component: FlightRPC, awaiting merge

#36683 GH-36680: [Python] Add missing pytest.mark.acero
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting merge

#36676 MINOR: [Go] Test that we retain/release the right number of times
  go/arrow/cdata/cdata_test.go
Labels: Component: Go, awaiting merge

#36706 GH-36686: [C++] Pass CMAKE_OSX_SYSROOT to external projects
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  dev/tasks/macros.jinja
Labels: Component: C++, awaiting merge

#36710 GH-36707: [C++] Use ARROW_PACKAGE_PREFIX for OPENSSL_ROOT_DIR too
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting merge

#36322 GH-36318: [Go] only decode lengths for the number of existing values, not for all nvalues.
  go/parquet/file/file_reader_test.go
  go/parquet/internal/encoding/delta_bit_packing.go
  go/parquet/internal/encoding/delta_byte_array_test.go
  go/parquet/internal/encoding/delta_length_byte_array.go
Labels: Component: Go, awaiting change review

#36691 GH-36688: [C#] Fix dereference error
  csharp/src/Apache.Arrow/C/CArrowArrayStreamExporter.cs
Labels: Component: C#, awaiting review

#36732 MINOR: [Docs] Add C++/Run-End Encoded to the implementation status table
  docs/source/status.rst
Labels: Component: Documentation, awaiting merge

#36723 GH-36712: [CI] Also update issue components when it's updated
  .github/workflows/issue_bot.yml
Labels: awaiting merge

#36741 GH-36573: [CI] Remove Travis CI related files and mentions
  .travis.yml
  ci/detect-changes.py
  ci/docker/linux-apt-r.dockerfile
  docs/source/developers/continuous_integration/crossbow.rst
  docs/source/developers/continuous_integration/overview.rst
  docs/source/developers/release.rst
Labels: Component: Documentation, awaiting committer review

#36738 GH-36734: [MATLAB] template arrow::matlab::proxy::NumericArray on ArrowType instead of CType
  matlab/src/cpp/arrow/matlab/array/proxy/numeric_array.h
  matlab/src/cpp/arrow/matlab/array/proxy/timestamp_array.cc
  matlab/src/cpp/arrow/matlab/array/proxy/timestamp_array.h
  matlab/src/cpp/arrow/matlab/proxy/factory.cc
  matlab/src/cpp/arrow/matlab/type/proxy/traits.h
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
Labels: Component: MATLAB, awaiting merge

#35356 GH-34588:[C++][Python] Add a MetaFunction for "dictionary_decode"
  cpp/src/arrow/compute/kernels/vector_hash.cc
  cpp/src/arrow/compute/registry.cc
  cpp/src/arrow/compute/registry_internal.h
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, awaiting merge

#36764 MINOR: [Dev] Add js8544 as collaborator
  .asf.yaml
Labels: awaiting review

#36757 GH-36756: [CI][Python] Install Cython < 3.0 on verify-release-candidate script
  dev/release/verify-release-candidate.sh
Labels: awaiting merge

#36684 GH-36663: [C++] Fix the default value information for enum options
  cpp/cmake_modules/DefineOptions.cmake
Labels: Component: C++, awaiting committer review

#36649 PARQUET-2323: [C++] Use bitmap to store pre-buffered column chunks
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/file_reader.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#36675 GH-36326: [C++] Remove APIs deprecated in v9.0 or earlier
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/builder_adaptive.h
  cpp/src/arrow/array/builder_base.cc
  cpp/src/arrow/array/builder_base.h
  cpp/src/arrow/compute/api_scalar.cc
  cpp/src/arrow/compute/api_scalar.h
  cpp/src/arrow/compute/api_vector.cc
  cpp/src/arrow/compute/api_vector.h
  cpp/src/arrow/csv/reader.cc
  cpp/src/arrow/csv/reader.h
  cpp/src/arrow/flight/client.cc
  cpp/src/arrow/flight/client.h
  cpp/src/arrow/flight/flight_internals_test.cc
  cpp/src/arrow/flight/server.h
  cpp/src/arrow/flight/types.cc
  cpp/src/arrow/flight/types.h
  cpp/src/arrow/io/interfaces.h
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch.h
  cpp/src/arrow/record_batch_test.cc
  cpp/src/arrow/table_builder.cc
  cpp/src/arrow/table_builder.h
  cpp/src/parquet/arrow/reader.cc
  cpp/src/parquet/arrow/reader.h
Labels: Component: Parquet, Component: C++, Component: FlightRPC, awaiting change review

#36763 GH-36762: [Dev] Remove only component labels when an issue is updated
  .github/workflows/issue_bot.yml
Labels: awaiting merge

#36662 GH-35116: [CI][C++] Enable compile-time AVX2 on some CI platforms
  .github/workflows/cpp.yml
  ci/scripts/cpp_build.sh
  cpp/cmake_modules/SetupCxxFlags.cmake
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/acero/CMakeLists.txt
  cpp/src/arrow/acero/bloom_filter.cc
  cpp/src/arrow/acero/bloom_filter.h
  cpp/src/arrow/acero/bloom_filter_avx2.cc
  cpp/src/arrow/acero/bloom_filter_test.cc
  cpp/src/arrow/acero/swiss_join_avx2.cc
  cpp/src/arrow/acero/swiss_join_internal.h
  cpp/src/arrow/acero/test_util_internal.cc
  cpp/src/arrow/acero/test_util_internal.h
  cpp/src/arrow/compute/kernels/CMakeLists.txt
  cpp/src/arrow/compute/key_hash.cc
  cpp/src/arrow/compute/key_hash.h
  cpp/src/arrow/compute/key_hash_avx2.cc
  cpp/src/arrow/compute/key_hash_test.cc
  cpp/src/arrow/compute/key_map.cc
  cpp/src/arrow/compute/key_map.h
  cpp/src/arrow/compute/key_map_avx2.cc
  cpp/src/arrow/compute/row/compare_internal.cc
  cpp/src/arrow/compute/row/compare_internal.h
  cpp/src/arrow/compute/row/compare_internal_avx2.cc
  cpp/src/arrow/compute/row/encode_internal.cc
  cpp/src/arrow/compute/row/encode_internal.h
  cpp/src/arrow/compute/row/encode_internal_avx2.cc
  cpp/src/arrow/compute/util.cc
  cpp/src/arrow/compute/util.h
  cpp/src/arrow/compute/util_avx2.cc
  cpp/src/arrow/testing/util.cc
  cpp/src/arrow/testing/util.h
  cpp/src/arrow/util/byte_stream_split.h
  docker-compose.yml
Labels: Component: C++, awaiting change review

#36769 GH-36767: [C++][CI] Fix test failure on i386
  cpp/src/arrow/util/decimal_test.cc
Labels: Component: C++, awaiting committer review

#36125 GH-34620: [C#] Support DateOnly and TimeOnly on .NET 6.0+
  csharp/src/Apache.Arrow/Arrays/Date32Array.cs
  csharp/src/Apache.Arrow/Arrays/Date64Array.cs
  csharp/src/Apache.Arrow/Arrays/DateArrayBuilder.cs
  csharp/src/Apache.Arrow/Arrays/Time32Array.cs
  csharp/src/Apache.Arrow/Arrays/Time64Array.cs
  csharp/src/Apache.Arrow/Arrays/TimeArrayBuilder.cs
  csharp/test/Apache.Arrow.Tests/Apache.Arrow.Tests.csproj
  csharp/test/Apache.Arrow.Tests/ArrayBuilderTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowArrayTests.cs
  csharp/test/Apache.Arrow.Tests/Date32ArrayTests.cs
  csharp/test/Apache.Arrow.Tests/Date64ArrayTests.cs
  csharp/test/Apache.Arrow.Tests/TestDateAndTimeData.cs
  csharp/test/Apache.Arrow.Tests/TimeOnlyTests.cs
Labels: Component: C#, awaiting change review

#36434 GH-36433: [C++] Update fast_float version to 3.10.1
  cpp/src/arrow/util/value_parsing.cc
  cpp/src/arrow/util/value_parsing_test.cc
  cpp/src/arrow/vendored/fast_float/README.md
  cpp/src/arrow/vendored/fast_float/ascii_number.h
  cpp/src/arrow/vendored/fast_float/bigint.h
  cpp/src/arrow/vendored/fast_float/constexpr_feature_detect.h
  cpp/src/arrow/vendored/fast_float/decimal_to_binary.h
  cpp/src/arrow/vendored/fast_float/digit_comparison.h
  cpp/src/arrow/vendored/fast_float/fast_float.h
  cpp/src/arrow/vendored/fast_float/fast_table.h
  cpp/src/arrow/vendored/fast_float/float_common.h
  cpp/src/arrow/vendored/fast_float/parse_number.h
  cpp/src/arrow/vendored/fast_float/update.sh
Labels: Component: C++, Component: Documentation, awaiting merge

#36547 GH-36546: [Swift] The initial implementation for swift arrow flight
  ci/scripts/swift_test.sh
  swift/ArrowFlight/.gitignore
  swift/ArrowFlight/Package.swift
  swift/ArrowFlight/Sources/ArrowFlight/Flight.grpc.swift
  swift/ArrowFlight/Sources/ArrowFlight/Flight.pb.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightAction.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightActionType.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightClient.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightCriteria.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightData.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightDescriptor.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightEndpoint.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightInfo.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightLocation.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightPutResult.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightResult.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightSchemaResult.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightServer.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightTicket.swift
  swift/ArrowFlight/Sources/ArrowFlight/RecordBatchStreamReader.swift
  swift/ArrowFlight/Sources/ArrowFlight/RecordBatchStreamWriter.swift
  swift/ArrowFlight/Tests/ArrowFlightTests/FlightTest.swift
  swift/gen-protobuffers.sh
Labels: Component: Swift, awaiting change review

#36758 GH-36720: [R] stringr modifier functions cannot be called with namespace prefix
  r/NAMESPACE
  r/R/arrow-package.R
  r/R/dplyr-funcs-string.R
  r/tests/testthat/test-dplyr-funcs-string.R
Labels: Component: R, awaiting change review

#36699 GH-36698: [Go][Parquet] Add a TimestampLogicalType creation function …
  go/parquet/schema/logical_types.go
  go/parquet/schema/logical_types_test.go
Labels: Component: Go, awaiting review

#36788 GH-36787: [R] lintr update leads to failing tests on main
  r/.lintr
Labels: awaiting merge

#36697 GH-36696: [Go] Improve the MapOf and ListOf helpers
  go/parquet/schema/helpers.go
  go/parquet/schema/helpers_test.go
Labels: Component: Go, awaiting merge

#36791 GH-36770: [C++] Use custom endpoint for s3 using environment variable AWS_ENDPOINT_URL
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs_test.cc
Labels: Component: C++, awaiting merge

#36813 GH-36812: [C#] Fix C API support to work with .NET desktop framework
  csharp/src/Apache.Arrow/C/CArrowArray.cs
  csharp/src/Apache.Arrow/C/CArrowArrayExporter.cs
  csharp/src/Apache.Arrow/C/CArrowArrayImporter.cs
  csharp/src/Apache.Arrow/C/CArrowArrayStream.cs
  csharp/src/Apache.Arrow/C/CArrowArrayStreamExporter.cs
  csharp/src/Apache.Arrow/C/CArrowArrayStreamImporter.cs
  csharp/src/Apache.Arrow/C/CArrowSchema.cs
  csharp/src/Apache.Arrow/C/CArrowSchemaExporter.cs
  csharp/src/Apache.Arrow/C/CArrowSchemaImporter.cs
  csharp/test/Apache.Arrow.Tests/Apache.Arrow.Tests.csproj
  csharp/test/Apache.Arrow.Tests/ArrayBuilderTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowArrayTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowReaderVerifier.cs
  csharp/test/Apache.Arrow.Tests/ArrowStreamReaderTests.cs
  csharp/test/Apache.Arrow.Tests/CDataInterfaceDataTests.cs
  csharp/test/Apache.Arrow.Tests/CDataInterfacePythonTests.cs
  csharp/test/Apache.Arrow.Tests/CDataInterfaceSchemaTests.cs
  csharp/test/Apache.Arrow.Tests/Extensions/Net472Extensions.cs
Labels: Component: C#, Priority: Blocker, Critical Fix, awaiting change review

#36740 GH-36708: [C++] Fully calculate null-counts so the REE allocations make sense
  cpp/src/arrow/compute/kernels/ree_util_internal.cc
  cpp/src/arrow/compute/kernels/ree_util_internal.h
  cpp/src/arrow/compute/kernels/vector_run_end_encode.cc
  cpp/src/arrow/compute/kernels/vector_run_end_encode_test.cc
Labels: Component: C++, awaiting merge

#36822 MINOR: [Doc] Fix columnar.rst buffer layout table inconsistencies
  docs/source/format/Columnar.rst
Labels: Component: Documentation, awaiting review

#36826 MINOR: [Docs] Update document for AWS_ENDPOINT_URL environment variable
  docs/source/cpp/env_vars.rst
Labels: Component: Documentation, awaiting review

#36829 GH-36828: [C++][Parquet] Make buffered RowGroupSerializer using BufferedPageWriter
  cpp/src/parquet/file_writer.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#36801 MINOR: [R] Bump versions following 12.0.1.1 release
  r/pkgdown/assets/versions.html
  r/pkgdown/assets/versions.json
Labels: Component: R, awaiting merge

#36825 GH-36824: [C++] Improve the test tracing of CheckWithDifferentShapes in the if-else kernel tests
  cpp/src/arrow/compute/kernels/scalar_if_else_test.cc
Labels: Component: C++, awaiting committer review

#36774 GH-36773: [C++][Parquet] Avoid calculating prebuffer column bitmap multiple times
  cpp/src/parquet/file_reader.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#36804 MINOR: [R] Add NEWS gathering instructions
  r/PACKAGING.md
Labels: Component: R, Component: Documentation, awaiting committer review

#36803 MINOR: [R] Update instructions for bumping NEWS.md
  r/PACKAGING.md
Labels: Component: R, Component: Documentation, awaiting committer review

#36794 GH-36793: [Go] Allow NewSchemaFromStruct to skip fields if tagged with parquet:"-"
  go/parquet/schema/reflection.go
  go/parquet/schema/reflection_test.go
Labels: Component: Go, awaiting merge

#36810 GH-35800: [Docs] Link to GeoArrow from canonical extension types docs
  docs/source/format/CanonicalExtensions.rst
Labels: Component: Documentation, awaiting merge

#36836 GH-35292: [Release] Retry "apt install"
  dev/release/verify-apt.sh
Labels: awaiting merge

#36833 GH-36832: [Packaging][RPM] Remove needless Requires
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
Labels: awaiting committer review

#36800 GH-36789: [C++] Support divide(duration, duration)
  cpp/src/arrow/compute/kernels/scalar_arithmetic.cc
  cpp/src/arrow/compute/kernels/scalar_temporal_test.cc
Labels: Component: C++, awaiting committer review

#36780 GH-36776: [C++] Make ListArray::FromArrays() handle sliced offsets Arrays containing nulls
  cpp/src/arrow/array/array_list_test.cc
  cpp/src/arrow/array/array_nested.cc
Labels: Component: C++, awaiting committer review

#36855 GH-36852: [MATLAB] Add `arrow.type.Field` class
  matlab/src/cpp/arrow/matlab/error/error.h
  matlab/src/cpp/arrow/matlab/proxy/factory.cc
  matlab/src/cpp/arrow/matlab/type/proxy/field.cc
  matlab/src/cpp/arrow/matlab/type/proxy/field.h
  matlab/src/matlab/+arrow/+type/Field.m
  matlab/src/matlab/+arrow/field.m
  matlab/test/arrow/type/tField.m
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
Labels: Component: MATLAB, awaiting change review

#36859 GH-36858: [Go] Fix dictionary builder leak
  go/arrow/array/dictionary.go
  go/arrow/array/dictionary_test.go
Labels: Component: Go, awaiting review

#35440 GH-34213: [C++] Use recursive calls without a delimiter if the user is doing a recursive GetFileInfo
  cpp/src/arrow/filesystem/filesystem_test.cc
  cpp/src/arrow/filesystem/path_util.cc
  cpp/src/arrow/filesystem/path_util.h
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs_test.cc
  cpp/src/arrow/util/async_util.cc
  cpp/src/arrow/util/async_util_test.cc
Labels: Component: C++, awaiting changes

#36854 GH-36850: [Go] Arrow Concatenate fix, ensure allocations are Free'd
  go/arrow/array/concat.go
  go/arrow/array/concat_test.go
Labels: Component: Go, awaiting review

#36868 GH-36863: [C#][Packaging] Do not shutdown PythonEngine on CDataInterfacePythonTests if .NET is > 5.0
  csharp/test/Apache.Arrow.Tests/CDataInterfacePythonTests.cs
Labels: Component: C#, awaiting committer review
