Repository apache/arrow, pull requests merged in 2023-03, with the labels that each got.

#34349 GH-34309: [C++] Disable LTO for aws_lc and s2n-tls
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  dev/tasks/linux-packages/apache-arrow/apt/debian-bookworm/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/debian-bullseye/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-bionic/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-focal/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-jammy/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-kinetic/Dockerfile
  dev/tasks/linux-packages/apache-arrow/debian/rules
  dev/tasks/linux-packages/apt/build.sh
  dev/tasks/linux-packages/github.linux.amd64.yml
  dev/tasks/linux-packages/yum/build.sh
Labels: Component: C++, awaiting review

#34373 GH-34333: [Python] Test run_query with a registered scalar UDF
  cpp/src/arrow/engine/substrait/relation_internal.cc
  python/pyarrow/conftest.py
  python/pyarrow/tests/test_substrait.py
  python/pyarrow/tests/test_udf.py
Labels: Component: C++, Component: Python, awaiting merge

#34275 GH-34411: [Python] Change array constructor to accept pyarrow array
  python/pyarrow/array.pxi
  python/pyarrow/compute.py
  python/pyarrow/tests/test_array.py
Labels: Component: Python, awaiting merge

#34390 MINOR: [Docs][Java] Update status documentation for Java's CSV read support (as per ARROW-17786)
  docs/source/status.rst
Labels: Component: Documentation, awaiting committer review

#34413 GH-34256: [Dev] Update release scripts with main as new default branch
  dev/release/post-04-ruby.sh
Labels: awaiting review

#34318 PARQUET-2250:[C++][Parquet] Expose column descriptor through RecordReader
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader.h
  cpp/src/parquet/column_reader_test.cc
Labels: Component: Parquet, Component: C++, awaiting review

#34327 GH-34326: [C++][Parquet] Page null_count is incorrect if stats is disabled
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/column_writer_test.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#17877 PARQUET-2225: [C++][Parquet] Allow reading dense with RecordReader
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader.h
  cpp/src/parquet/column_reader_benchmark.cc
  cpp/src/parquet/column_reader_test.cc
Labels: Component: Parquet, Component: C++, awaiting review

#34419 GH-34417: [C++][Flight] Upgrade OpenTelemetry SemanticConventions header
  cpp/src/arrow/flight/server_tracing_middleware.cc
Labels: Component: C++, Component: FlightRPC, awaiting changes

#34439 MINOR: [Docs] Use dev docs site URLs in README.md
  README.md
Labels: Component: Documentation, awaiting review

#34342 GH-33466: [Go][Parquet] Add support for Dictionary arrays to pqarrow
  ci/scripts/js_build.sh
  go/arrow/array/array_test.go
  go/arrow/array/binarybuilder.go
  go/arrow/array/bufferbuilder.go
  go/arrow/array/dictionary.go
  go/arrow/array/dictionary_test.go
  go/arrow/array/table.go
  go/arrow/array/table_test.go
  go/arrow/compute/internal/kernels/vector_hash.go
  go/internal/bitutils/bit_set_run_reader.go
  go/parquet/file/column_reader.go
  go/parquet/file/column_writer.go
  go/parquet/file/column_writer_types.gen.go
  go/parquet/file/column_writer_types.gen.go.tmpl
  go/parquet/file/record_reader.go
  go/parquet/internal/encoding/byte_array_decoder.go
  go/parquet/internal/encoding/byte_array_encoder.go
  go/parquet/internal/encoding/decoder.go
  go/parquet/internal/encoding/encoder.go
  go/parquet/internal/encoding/fixed_len_byte_array_encoder.go
  go/parquet/internal/encoding/typed_encoder.gen.go
  go/parquet/internal/encoding/typed_encoder.gen.go.tmpl
  go/parquet/internal/encoding/types.go
  go/parquet/internal/testutils/random.go
  go/parquet/metadata/statistics.go
  go/parquet/metadata/statistics_types.gen.go
  go/parquet/metadata/statistics_types.gen.go.tmpl
  go/parquet/pqarrow/column_readers.go
  go/parquet/pqarrow/encode_arrow.go
  go/parquet/pqarrow/encode_arrow_test.go
  go/parquet/pqarrow/encode_dict_compute.go
  go/parquet/pqarrow/encode_dict_nocompute.go
  go/parquet/pqarrow/encode_dictionary_test.go
  go/parquet/pqarrow/file_writer.go
  go/parquet/pqarrow/path_builder.go
  go/parquet/pqarrow/properties.go
  go/parquet/pqarrow/schema.go
  js/package.json
  js/yarn.lock
Labels: Component: Go, Component: JavaScript, awaiting review

#34270 GH-34210: [C++] Make casting timestamp and duration zero-copy when TimeUnit matches
  cpp/src/arrow/compute/kernels/scalar_cast_temporal.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
Labels: Component: C++, awaiting review

#34447 GH-34446: [C++][Parquet] Fix RecordReaderPrimitveTypeTests test
  cpp/src/parquet/column_reader_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#34125 GH-34076: [C#] Allow schema fields with duplicate names
  csharp/src/Apache.Arrow/Ipc/ArrowStreamWriter.cs
  csharp/src/Apache.Arrow/RecordBatch.Builder.cs
  csharp/src/Apache.Arrow/Schema.cs
  csharp/src/Apache.Arrow/Table.cs
  csharp/test/Apache.Arrow.IntegrationTest/IntegrationCommand.cs
  csharp/test/Apache.Arrow.Tests/SchemaBuilderTests.cs
  csharp/test/Apache.Arrow.Tests/SchemaComparer.cs
  csharp/test/Apache.Arrow.Tests/TestData.cs
Labels: Component: C#

#34295 GH-34388: [C++] Build core compute kernels unconditionally
  cpp/cmake_modules/DefineOptions.cmake
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/array/CMakeLists.txt
  cpp/src/arrow/compute/CMakeLists.txt
  cpp/src/arrow/compute/exec/CMakeLists.txt
  cpp/src/arrow/compute/kernels/CMakeLists.txt
  cpp/src/arrow/compute/kernels/scalar_arithmetic.cc
  cpp/src/arrow/compute/kernels/scalar_round.cc
  cpp/src/arrow/compute/kernels/util_internal.cc
  cpp/src/arrow/compute/kernels/util_internal.h
  cpp/src/arrow/compute/registry.cc
  cpp/src/arrow/csv/CMakeLists.txt
  cpp/src/arrow/csv/api.h
  cpp/src/arrow/public_api_test.cc
  cpp/src/arrow/testing/generator.cc
  cpp/src/arrow/testing/generator.h
Labels: Component: C++, awaiting review

#34267 GH-34266: [C++] Add a pivot_longer node
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/exec/CMakeLists.txt
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/pivot_longer_node.cc
  cpp/src/arrow/compute/exec/pivot_longer_node_test.cc
Labels: Component: C++, awaiting committer review

#34169 MINOR: [JS] Update dependencies
  ci/docker/conda-integration.dockerfile
  js/package.json
  js/yarn.lock
Labels: Component: JavaScript, javascript, awaiting committer review

#34458 GH-34425: [GLib] Add GArrowRankOptions
  c_glib/arrow-glib/compute.cpp
  c_glib/arrow-glib/compute.h
  c_glib/arrow-glib/compute.hpp
  c_glib/test/test-rank-options.rb
Labels: Component: GLib, awaiting committer review

#34399 GH-34398: [R] Update NEWS.md for 11.0.0.3
  r/NEWS.md
Labels: Component: R, Component: Documentation, awaiting committer review

#34465 GH-34464: [R] Missing rlang import - inform
  r/NAMESPACE
  r/R/arrow-package.R
Labels: Component: R, awaiting committer review

#34416 GH-34262: [C++][ORC] Support union type
  cpp/src/arrow/adapters/orc/adapter_test.cc
  cpp/src/arrow/adapters/orc/util.cc
  cpp/src/arrow/adapters/orc/util.h
Labels: Component: C++, awaiting changes

#34435 GH-34410: [Python] Allow chunk sizes larger than the default to be used
  python/pyarrow/_parquet.pxd
  python/pyarrow/_parquet.pyx
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/common.py
  python/pyarrow/tests/parquet/test_parquet_writer.py
Labels: Component: Python, awaiting merge

#34480 GH-34479: [Java] java-jars failing due to conflicting slf4j bindings
  java/adapter/orc/pom.xml
Labels: Component: Java, awaiting review

#34429 GH-34428: [Python][Docs] Add docsstring for `make_fragment`
  python/pyarrow/_dataset.pyx
  python/pyarrow/_dataset_parquet.pyx
Labels: Component: Python, awaiting merge

#34482 GH-34481: [CI] Migrate ARM jobs from Travis to self-hosted runners
  .github/workflows/cpp.yml
  .github/workflows/go.yml
  .travis.yml
Labels: awaiting committer review

#34473 GH-34472: [Go][FlightRPC] Drain result of DoAction in Flight SQL client
  go/arrow/flight/flightsql/client.go
  go/arrow/flight/flightsql/client_test.go
Labels: Component: Go, awaiting committer review

#34488 MINOR: [Go][CI] Add openssl to macos CGO runs
  .github/workflows/go.yml
Labels: awaiting committer review

#34490 MINOR: [Go][CI] Fix indentation and syntax for yml file
  .github/workflows/go.yml
Labels: awaiting changes

#34406 GH-34405: [C++] Add support for custom names in QueryOptions. Wire this up to Substrait
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/plan_test.cc
  cpp/src/arrow/compute/exec/sink_node.cc
  cpp/src/arrow/engine/substrait/relation.h
  cpp/src/arrow/engine/substrait/serde.cc
  cpp/src/arrow/engine/substrait/serde.h
  cpp/src/arrow/engine/substrait/util.cc
  cpp/src/arrow/flight/sql/example/acero_server.cc
  python/pyarrow/tests/test_substrait.py
Labels: Component: C++, Component: Python, Component: FlightRPC, awaiting changes

#34323 GH-34322: [C++][Parquet] Encoding Microbench for ByteArray
  cpp/src/parquet/encoding_benchmark.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#34468 GH-34467: [R] Disable DuckDB tests on R versions < 4.0.0
  r/R/duckdb.R
  r/tests/testthat/test-duckdb.R
Labels: Component: R, awaiting committer review

#34493 GH-34492: [Go] Fix missing boolean plain encoder state update
  go/parquet/file/column_writer_test.go
  go/parquet/internal/encoding/boolean_encoder.go
  go/parquet/internal/encoding/encoding_test.go
  go/parquet/metadata/statistics_test.go
Labels: Component: Go, awaiting review

#34502 GH-34257:[Docs] Update git links/branches from master to main for external projects
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/vendored/xxhash/xxhash.h
  csharp/README.md
  python/pyarrow/serialization.py
  python/pyarrow/src/arrow/python/datetime.cc
  python/pyarrow/tests/data/orc/README.md
  r/R/dplyr-mutate.R
  r/R/dplyr-select.R
Labels: Component: R, Component: C++, Component: Python, Component: C#, Component: Documentation, awaiting committer review

#34343 GH-34334: [Go][CSV] Support list fields
  go/arrow/csv/common.go
  go/arrow/csv/reader.go
  go/arrow/csv/reader_test.go
  go/arrow/csv/testdata/header.csv
  go/arrow/csv/testdata/types.csv
  go/arrow/csv/transformer.go
  go/arrow/csv/writer.go
  go/arrow/csv/writer_test.go
  go/go.mod
  go/go.sum
Labels: Component: Go, awaiting committer review

#14662 GH-31905: [DevTools] Add linting to Cython files
  .pre-commit-config.yaml
  dev/archery/archery/lang/python.py
  dev/archery/archery/utils/lint.py
  dev/archery/setup.py
  python/examples/plasma/sorting/multimerge.pyx
  python/pyarrow/_compute.pyx
  python/pyarrow/_csv.pyx
  python/pyarrow/_cuda.pyx
  python/pyarrow/_dataset.pyx
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/_exec_plan.pyx
  python/pyarrow/_flight.pyx
  python/pyarrow/_fs.pyx
  python/pyarrow/_gcsfs.pyx
  python/pyarrow/_hdfs.pyx
  python/pyarrow/_hdfsio.pyx
  python/pyarrow/_json.pyx
  python/pyarrow/_orc.pyx
  python/pyarrow/_parquet.pyx
  python/pyarrow/_parquet_encryption.pyx
  python/pyarrow/_plasma.pyx
  python/pyarrow/_s3fs.pyx
  python/pyarrow/_substrait.pyx
  python/pyarrow/gandiva.pyx
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/ipc.pxi
  python/pyarrow/lib.pyx
  python/pyarrow/tests/bound_function_visit_strings.pyx
  python/pyarrow/tests/extensions.pyx
Labels: Component: Python, Component: FlightRPC, Component: C++ - Gandiva, awaiting merge

#34500 GH-34499: [R] Bump version in NEWS.md following release
  r/NEWS.md
Labels: Component: R, Component: Documentation, awaiting review

#34477 GH-34422: [R] Expose GcsFileSystem$options
  r/R/arrowExports.R
  r/R/filesystem.R
  r/man/FileSystem.Rd
  r/src/arrowExports.cpp
  r/src/filesystem.cpp
  r/tests/testthat/test-gcs.R
Labels: Component: R, awaiting committer review

#34445 GH-34283 [Python] Add types_mapper support to index for to_pandas
  python/pyarrow/pandas_compat.py
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting merge

#34184 GH-34154: [Python] Add `is_nan` method to Array and Expression
  python/pyarrow/_compute.pyx
  python/pyarrow/array.pxi
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_compute.py
Labels: Component: Python, awaiting change review

#34514 GH-34513: [CI][Python] Remove unused imports from _acero.pyx to fix linting failures
  python/pyarrow/_acero.pyx
Labels: Component: Python, awaiting merge

#34522 MINOR: [C++] Use if-constexpr to simplify visit_data_inline.h
  cpp/src/arrow/visit_data_inline.h
Labels: Component: C++, awaiting committer review

#34463 GH-32619: [Python][Docs] Include options for PyArrow build explicitly
  ci/appveyor-cpp-build.bat
  ci/scripts/python_wheel_windows_build.bat
  dev/tasks/conda-recipes/arrow-cpp/build-pyarrow.sh
  docs/source/developers/python.rst
  python/CMakeLists.txt
  python/setup.py
Labels: Component: Python, Component: Documentation, awaiting change review

#34311 GH-32884: [C++] Add ordered aggregation
  cpp/src/arrow/compute/exec.cc
  cpp/src/arrow/compute/exec.h
  cpp/src/arrow/compute/exec/aggregate_node.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/plan_test.cc
  cpp/src/arrow/compute/kernels/hash_aggregate_test.cc
  cpp/src/arrow/compute/row/grouper.cc
  cpp/src/arrow/compute/row/grouper.h
  cpp/src/arrow/compute/row/grouper_internal.h
  cpp/src/arrow/scalar.h
Labels: Component: C++, awaiting merge

#34498 GH-34404: [Python] Failing tests because pandas.Index can now store all numeric dtypes (not only 64bit versions)
  python/pyarrow/tests/parquet/test_dataset.py
  python/pyarrow/tests/test_compute.py
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting change review

#34454 GH-34453: [Go] Support Builders for user defined extensions
  go/arrow/array/array.go
  go/arrow/array/binary.go
  go/arrow/array/binarybuilder.go
  go/arrow/array/boolean.go
  go/arrow/array/booleanbuilder.go
  go/arrow/array/builder.go
  go/arrow/array/decimal128.go
  go/arrow/array/decimal256.go
  go/arrow/array/dictionary.go
  go/arrow/array/encoded.go
  go/arrow/array/extension.go
  go/arrow/array/extension_builder.go
  go/arrow/array/fixed_size_list.go
  go/arrow/array/fixedsize_binary.go
  go/arrow/array/fixedsize_binarybuilder.go
  go/arrow/array/float16.go
  go/arrow/array/float16_builder.go
  go/arrow/array/interval.go
  go/arrow/array/list.go
  go/arrow/array/map.go
  go/arrow/array/null.go
  go/arrow/array/numeric.gen.go
  go/arrow/array/numeric.gen.go.tmpl
  go/arrow/array/numericbuilder.gen.go
  go/arrow/array/numericbuilder.gen.go.tmpl
  go/arrow/array/record.go
  go/arrow/array/string.go
  go/arrow/array/struct.go
  go/arrow/array/union.go
  go/arrow/array/util.go
  go/arrow/datatype_extension.go
  go/arrow/internal/testing/types/extension_test.go
  go/arrow/internal/testing/types/extension_types.go
  go/go.mod
  go/go.sum
Labels: Component: Go, awaiting committer review

#34528 MINOR: [Docs][C++] Explain "Illegal Instruction" on legacy CPU
  docs/source/cpp/env_vars.rst
Labels: Component: Documentation, awaiting review

#34350 GH-33849: [C++] Fix builds with ARROW_BUILD_SHARED=OFF and ARROW_BUILD_EXAMPLES=ON
  cpp/examples/arrow/CMakeLists.txt
Labels: Component: C++, awaiting review

#34497 GH-34496: [C++][Parquet] fix parquet unittest in `MakePages` when num_values = 0
  cpp/src/parquet/test_util.h
Labels: Component: Parquet, Component: C++, awaiting merge

#34503 GH-20351: [C++] Kernel input type matcher for run-end encoded types
  cpp/src/arrow/compute/kernel.cc
  cpp/src/arrow/compute/kernel.h
  cpp/src/arrow/compute/kernel_test.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/type_traits.h
  cpp/src/arrow/util/ree_util.h
Labels: Component: C++, awaiting committer review

#34534 GH-20408: [Go] Implement Encode and Decode functions for REE
  go/arrow/compute/internal/kernels/vector_run_end_encode.go
  go/arrow/compute/registry.go
  go/arrow/compute/vector_run_end_test.go
  go/arrow/compute/vector_run_ends.go
Labels: Component: Go, awaiting committer review

#34548 GH-34547: [C++][ORC] Remove deprecated ORC_UNIQUE_PTR
  cpp/src/arrow/adapters/orc/adapter.cc
  cpp/src/arrow/adapters/orc/adapter_test.cc
  cpp/src/arrow/adapters/orc/util.cc
  cpp/src/arrow/adapters/orc/util.h
Labels: Component: C++, awaiting merge

#34530 GH-33976: [Python] Add scan ExecNode options
  python/pyarrow/_dataset.pyx
  python/pyarrow/tests/test_acero.py
Labels: Component: Python, awaiting changes

#34394 GH-31548: [Python] Test that zoneinfo timezones are accepted during type inference
  python/pyarrow/tests/test_convert_builtin.py
Labels: Component: Python, awaiting committer review

#34512 GH-34543: [CI] Self-hosted ARM workflows improvements
  .github/workflows/cpp.yml
  .github/workflows/go.yml
  ci/scripts/go_build.sh
Labels: awaiting change review

#34553 GH-34552: [C++][Parquet] Sync parquet.thrift from upstream
  cpp/src/generated/parquet_types.cpp
  cpp/src/generated/parquet_types.h
  cpp/src/parquet/parquet.thrift
Labels: awaiting merge

#34549 GH-34546: [C++] Support casting from large string to string scalar
  c_glib/test/test-large-binary-scalar.rb
  c_glib/test/test-large-string-scalar.rb
  cpp/src/arrow/dataset/partition_test.cc
  cpp/src/arrow/scalar.cc
Labels: Component: C++, Component: GLib, awaiting merge

#34550 GH-32338: [C++] Add IPC support for Run-End Encoded Arrays
  cpp/src/arrow/array/array_run_end.cc
  cpp/src/arrow/array/array_run_end.h
  cpp/src/arrow/array/array_run_end_test.cc
  cpp/src/arrow/ipc/feather_test.cc
  cpp/src/arrow/ipc/metadata_internal.cc
  cpp/src/arrow/ipc/reader.cc
  cpp/src/arrow/ipc/test_common.cc
  cpp/src/arrow/ipc/test_common.h
  cpp/src/arrow/ipc/writer.cc
  cpp/src/arrow/testing/json_integration_test.cc
  cpp/src/arrow/testing/json_internal.cc
  cpp/src/arrow/testing/random.cc
  cpp/src/arrow/testing/random.h
  cpp/src/arrow/testing/random_test.cc
  dev/archery/archery/integration/datagen.py
Labels: Component: C++, awaiting committer review

#34562 GH-34561: [C++] Implement RunEndEncodedBuilder::AppendEmptyValues()
  cpp/src/arrow/array/array_run_end_test.cc
  cpp/src/arrow/array/builder_run_end.cc
  cpp/src/arrow/array/builder_run_end.h
Labels: Component: C++, awaiting committer review

#34557 GH-34381: [Dev] Retrieve committers from arrow-site committers.yml instead of relying on author_association
  .github/workflows/pr_bot.yml
  dev/archery/archery/bot.py
  dev/archery/archery/cli.py
  dev/archery/archery/tests/test_bot.py
Labels: awaiting change review

#33785 GH-33741: [Python] Address docstrings in Data Types Factory Functions
  python/pyarrow/types.pxi
Labels: Component: Python

#34418 MINOR: [Go][FlightSQL] reference the ADBC drivers in README
  go/README.md
Labels: Component: Go, Component: Documentation, awaiting committer review

#34558 GH-34572: [Go][CSV] Add binary support for CSV
  go/arrow/csv/common.go
  go/arrow/csv/reader.go
  go/arrow/csv/reader_test.go
  go/arrow/csv/testdata/header.csv
  go/arrow/csv/testdata/types.csv
  go/arrow/csv/transformer.go
  go/arrow/csv/writer.go
  go/arrow/csv/writer_test.go
Labels: Component: Go, awaiting change review

#34582 GH-34581: [C++][Java] Bump Apache ORC to v1.8.3
  cpp/thirdparty/versions.txt
  java/adapter/orc/pom.xml
Labels: Component: Java, Component: C++, awaiting review

#34598 GH-34597: [Packaging][RPM] Don't use glog
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
Labels: awaiting committer review

#34623 GH-34622: [CI][GLib] Use "meson setup ..."
  ci/scripts/c_glib_build.sh
Labels: awaiting committer review

#34624 GH-34621: [GLib] Don't use "g_strdup(XXX->ToString().c_str())"
  c_glib/arrow-dataset-glib/partitioning.cpp
  c_glib/arrow-flight-glib/common.cpp
  c_glib/arrow-glib/basic-array.cpp
  c_glib/arrow-glib/basic-data-type.cpp
  c_glib/arrow-glib/chunked-array.cpp
  c_glib/arrow-glib/compute.cpp
  c_glib/arrow-glib/datum.cpp
  c_glib/arrow-glib/decimal.cpp
  c_glib/arrow-glib/field.cpp
  c_glib/arrow-glib/file-system.cpp
  c_glib/arrow-glib/memory-pool.cpp
  c_glib/arrow-glib/record-batch.cpp
  c_glib/arrow-glib/scalar.cpp
  c_glib/arrow-glib/schema.cpp
  c_glib/arrow-glib/table.cpp
  c_glib/gandiva-glib/function-signature.cpp
  c_glib/plasma-glib/object.cpp
Labels: Component: C++ - Gandiva, Component: GLib, awaiting committer review

#34601 GH-33750: [GLib] Add garrow_table_batch_reader_set_max_chunk_size()
  c_glib/arrow-glib/reader.cpp
  c_glib/arrow-glib/reader.h
  c_glib/arrow-glib/reader.hpp
  c_glib/test/test-table-batch-reader.rb
Labels: Component: GLib, awaiting committer review

#34606 GH-34605: [C++] Don't use std::move when passing shared_ptr to named table …
  cpp/src/arrow/engine/substrait/options.cc
Labels: Component: C++, awaiting changes

#34380 GH-33742: [Python] Address docstrings in Data Types classes
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting change review

#34642 GH-34641: [CI][Python] Mark test_scan on test_acero.py to require dataset
  python/pyarrow/tests/test_acero.py
Labels: Component: Python, awaiting merge

#34249 GH-34248: [C++] Add an order_by node
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/api_vector.cc
  cpp/src/arrow/compute/api_vector.h
  cpp/src/arrow/compute/exec/CMakeLists.txt
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/order_by_node.cc
  cpp/src/arrow/compute/exec/order_by_node_test.cc
  cpp/src/arrow/compute/ordering.h
  cpp/src/arrow/testing/generator.cc
  cpp/src/arrow/testing/generator.h
Labels: Component: C++, awaiting merge

#34628 GH-34659: [C++] Review the validation processes around Run-End Encoded arrays to improve the Python integration
  cpp/src/arrow/api.h
  cpp/src/arrow/array/array_run_end.cc
  cpp/src/arrow/array/array_run_end.h
  cpp/src/arrow/array/array_run_end_test.cc
  cpp/src/arrow/array/validate.cc
  cpp/src/arrow/compute/api_vector.cc
  cpp/src/arrow/compute/api_vector.h
  cpp/src/arrow/compute/kernels/vector_run_end_encode.cc
  cpp/src/arrow/util/ree_util.cc
  cpp/src/arrow/util/ree_util.h
Labels: Component: C++, awaiting merge

#34576 GH-34519: [C++][R] Fix dataset scans that project the same name as a field
  cpp/src/arrow/dataset/scanner.cc
  r/tests/testthat/test-dplyr-query.R
Labels: Component: R, Component: C++, awaiting merge

#34662 GH-34661: [CI][C#] Update Ubuntu C# jobs to use image with .NET 7.0
  .env
  ci/docker/ubuntu-22.04-csharp.dockerfile
  docker-compose.yml
Labels: awaiting merge

#34663 GH-34650: [GLib] Add GArrowFilterNodeOptions
  c_glib/arrow-glib/compute-definition.h
  c_glib/arrow-glib/compute.cpp
  c_glib/arrow-glib/compute.h
  c_glib/arrow-glib/expression.h
  c_glib/test/test-filter-node.rb
Labels: Component: GLib, awaiting committer review

#34048 GH-32292: [R][Packaging] Use binaries built on CentOS 7 for Ubuntu < 22.04
  ci/docker/centos-7-cpp.dockerfile
  cpp/CMakeLists.txt
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/CMakeLists.txt
  dev/tasks/macros.jinja
  dev/tasks/r/github.packages.yml
  dev/tasks/tasks.yml
  docker-compose.yml
  r/configure
  r/tools/nixlibs.R
  r/tools/test-nixlibs.R
  r/vignettes/developers/setup.Rmd
  r/vignettes/install.Rmd
Labels: Component: R, Component: C++, awaiting change review

#34654 GH-34248: [Python] Expose the order_by node
  python/pyarrow/_acero.pyx
  python/pyarrow/_compute.pxd
  python/pyarrow/_compute.pyx
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_acero.py
  python/pyarrow/tests/test_compute.py
Labels: Component: Python, awaiting committer review

#34647 GH-34629: [Go] Fix transpose_ints to work on riscv64-freebsd
  go/internal/utils/endians_default.go
  go/internal/utils/min_max_amd64.go
  go/internal/utils/min_max_arm64.go
  go/internal/utils/min_max_avx2_amd64.go
  go/internal/utils/min_max_neon_arm64.go
  go/internal/utils/min_max_noasm.go
  go/internal/utils/min_max_ppc64le.go
  go/internal/utils/min_max_s390x.go
  go/internal/utils/min_max_sse4_amd64.go
  go/internal/utils/transpose_ints_amd64.go
  go/internal/utils/transpose_ints_arm64.go
  go/internal/utils/transpose_ints_avx2_amd64.go
  go/internal/utils/transpose_ints_noasm.go
  go/internal/utils/transpose_ints_ppc64le.go
  go/internal/utils/transpose_ints_s390x.go
  go/internal/utils/transpose_ints_sse4_amd64.go
  go/internal/utils/transpose_ints_test.go
Labels: Component: Go, awaiting committer review

#34648 GH-34692: [Java] Expose Location.toSocketAddress
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/Location.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestBasicOperation.java
Labels: Component: Java, awaiting merge

#34694 MINOR: [Go][CI] Increase Go benchmark timeout
  ci/scripts/go_bench.sh
Labels: Component: Go, Component: Continuous Integration, awaiting committer review

#34617 GH-34615: [CI][C++] Add CI job for basic format support without ARROW_COMPUTE
  ci/docker/ubuntu-20.04-cpp-minimal.dockerfile
  ci/docker/ubuntu-22.04-cpp-minimal.dockerfile
  cpp/src/arrow/compute/CMakeLists.txt
  cpp/src/arrow/compute/exec/CMakeLists.txt
  cpp/src/arrow/compute/kernels/CMakeLists.txt
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: Component: C++, awaiting change review

#34674 GH-34395: [Python] Add support for symbolic linked Arrow related include directories
  python/CMakeLists.txt
Labels: Component: Python, awaiting changes

#34570 GH-34568: [C++][Python] Expose Run-End Encoded arrays in Python Arrow
  docs/source/python/api/arrays.rst
  docs/source/python/api/compute.rst
  docs/source/python/api/datatypes.rst
  python/pyarrow/__init__.py
  python/pyarrow/_compute.pyx
  python/pyarrow/array.pxi
  python/pyarrow/compute.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/lib.pxd
  python/pyarrow/lib.pyx
  python/pyarrow/public-api.pxi
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_compute.py
  python/pyarrow/tests/test_misc.py
  python/pyarrow/tests/test_types.py
  python/pyarrow/types.pxi
  python/pyarrow/types.py
Labels: Component: Python, Component: Documentation, awaiting merge

#34593 GH-34703: [Python] Set copy=False explicitly when creating a pandas Series
  python/pyarrow/array.pxi
  python/pyarrow/pandas_compat.py
Labels: Component: Python, awaiting committer review

#34585 GH-34584: [Go][CSV] Add extension types support
  go/arrow/array/extension.go
  go/arrow/csv/common.go
  go/arrow/csv/reader.go
  go/arrow/csv/reader_test.go
  go/arrow/csv/testdata/header.csv
  go/arrow/csv/testdata/types.csv
  go/arrow/csv/transformer.go
  go/arrow/csv/writer_test.go
  go/arrow/internal/testing/types/extension_types.go
Labels: Component: Go, awaiting changes

#34645 GH-34644: [C++] Prefer unsafe casting by default in Substrait
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: Component: C++, Breaking Change, awaiting merge

#34668 GH-34667: [C++][Parquet] Test DeltaLengthByteArrayDecoder with invalid inputs
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding_test.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#34679 GH-15286: [GLib] Add GArrowIndexOptions
  c_glib/arrow-glib/compute.cpp
  c_glib/arrow-glib/compute.h
  c_glib/arrow-glib/compute.hpp
  ruby/red-arrow/lib/arrow/array-computable.rb
  ruby/red-arrow/lib/arrow/data-type.rb
  ruby/red-arrow/lib/arrow/scalar.rb
  ruby/red-arrow/test/test-array.rb
  ruby/red-arrow/test/test-chunked-array.rb
  ruby/red-arrow/test/test-function.rb
  ruby/red-arrow/test/test-scalar.rb
Labels: Component: Ruby, Component: GLib, awaiting committer review

#34676 GH-34673: [C++][Parquet] Add Boolean Encoding benchmark for parquet
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding_benchmark.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#34707 GH-34595: [C++] Update google-cloud-cpp to v2.8.0
  cpp/build-support/google-cloud-cpp-curl-static-windows.patch
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting review

#34684 GH-34619: [C++] Add extension array handling to ArraySpan conversion
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/data.cc
Labels: Component: C++, awaiting committer review

#34693 GH-34638: [C++][Docs] Add documentation for minimal build flags
  docs/source/developers/cpp/building.rst
Labels: Component: Documentation, awaiting review

#34726 GH-34564: [Python][C++] Update code to compile with cython 3
  python/pyarrow/_flight.pyx
  python/pyarrow/_plasma.pyx
  python/pyarrow/error.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/includes/libarrow_fs.pxd
  python/pyarrow/lib.pxd
  python/pyarrow/tensor.pxi
Labels: Component: Python, Component: FlightRPC, awaiting merge

#34713 GH-33721: [CI][R] Disable sccache on test-r-install-local macOS
  dev/tasks/r/github.macos-linux.local.yml
Labels: awaiting merge

#14758 GH-33317: [C++] Utility method to ensure an array object meetings an alignment requirement
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/util/align_util.cc
  cpp/src/arrow/util/align_util.h
  cpp/src/arrow/util/align_util_test.cc
Labels: Component: C++, awaiting merge

#34672 GH-34670: [Packaging][C++] Add support for customizing GDB plugin install directory
  cpp/cmake_modules/DefineOptions.cmake
  cpp/src/arrow/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#34725 GH-15285: [GLib] Add GArrowMatchSubstringOptions
  c_glib/arrow-glib/compute.cpp
  c_glib/arrow-glib/compute.h
  c_glib/arrow-glib/compute.hpp
  c_glib/test/test-index-options.rb
  c_glib/test/test-match-substring-options.rb
Labels: Component: GLib, awaiting committer review

#34020 GH-33800: [Packaging] Drop support for Ubuntu 18.04
  ci/docker/conda.dockerfile
  ci/docker/ubuntu-18.04-cpp.dockerfile
  ci/docker/ubuntu-18.04-verify-rc.dockerfile
  dev/release/binary-task.rb
  dev/release/verify-apt.sh
  dev/release/verify-release-candidate.sh
  dev/tasks/linux-packages/apache-arrow-apt-source/apt/debian-buster/Dockerfile
  dev/tasks/linux-packages/apache-arrow-apt-source/apt/ubuntu-bionic/Dockerfile
  dev/tasks/linux-packages/apache-arrow-apt-source/apt/ubuntu-impish/Dockerfile
  dev/tasks/linux-packages/apache-arrow/Rakefile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-bionic-arm64/from
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-bionic/Dockerfile
  dev/tasks/linux-packages/apache-arrow/debian/control.in
  dev/tasks/linux-packages/package-task.rb
  dev/tasks/python-wheels/github.linux.amd64.yml
  dev/tasks/r/github.linux.versions.yml
  dev/tasks/r/github.packages.yml
  dev/tasks/tasks.yml
  docker-compose.yml
  docs/source/python/install.rst
Labels: Component: Documentation, awaiting changes

#34735 MINOR: [C++] Fix build issue where wrong variable checked for re2 prefix dir
  cpp/cmake_modules/Findre2Alt.cmake
Labels: Component: C++, awaiting review

#34705 GH-34687: [CI][Python] Create job to remove old nightly wheels from gemfury
  ci/scripts/gemfury_clean.rb
  dev/tasks/python-wheels/github.clean.yml
  dev/tasks/tasks.yml
Labels: awaiting changes

#34691 GH-34639: [C++] Support RecordBatch::FromStructArray even if struct array has nulls/offsets
  cpp/src/arrow/json/reader.cc
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch.h
  cpp/src/arrow/record_batch_test.cc
Labels: Component: C++, awaiting changes

#34618 GH-25163: [C#] Support half-float arrays.
  csharp/Directory.Build.props
  csharp/README.md
  csharp/src/Apache.Arrow/Apache.Arrow.csproj
  csharp/src/Apache.Arrow/Arrays/ArrowArrayBuilderFactory.cs
  csharp/src/Apache.Arrow/Arrays/ArrowArrayFactory.cs
  csharp/src/Apache.Arrow/Arrays/HalfFloatArray.cs
  csharp/src/Apache.Arrow/Ipc/ArrowStreamWriter.cs
  csharp/src/Apache.Arrow/RecordBatch.Builder.cs
  csharp/test/Apache.Arrow.Tests/ArrayBuilderTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowArrayTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowReaderVerifier.cs
  docs/source/status.rst
Labels: Component: C#, Component: Documentation, awaiting merge

#34720 GH-34633: [C++][Parquet] Fix StreamReader to read decimals
  cpp/src/parquet/stream_reader.cc
  cpp/src/parquet/stream_reader.h
  cpp/src/parquet/stream_reader_test.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#34289 GH-33727: [Python] array() errors if pandas categorical column has dictionary as string not object
  python/pyarrow/array.pxi
  python/pyarrow/tests/parquet/test_pandas.py
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting merge

#34401 GH-33976: [Python] Refactor the internal usage of ExecPlan to use new Acero Declaration/ExecNodeOptions bindings
  python/CMakeLists.txt
  python/pyarrow/_dataset.pyx
  python/pyarrow/_exec_plan.py
  python/pyarrow/_exec_plan.pyx
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_exec_plan.py
  python/setup.cfg
  python/setup.py
Labels: Component: Python, awaiting changes

#34697 GH-34696: [C++] Check REE arrays have no null buffer in Validate()
  cpp/src/arrow/array/array_run_end.cc
  cpp/src/arrow/array/array_run_end_test.cc
  cpp/src/arrow/array/validate.cc
Labels: Component: C++, awaiting merge

#34759 GH-34579: [Python][Docs] TableGroupBy.aggregate options
  python/pyarrow/table.pxi
Labels: Component: Python, awaiting change review

#34760 GH-33976: [Python] Expose pyarrow.acero as public submodule and add to reference docs
  docs/source/python/api.rst
  docs/source/python/api/acero.rst
  python/pyarrow/_acero.pyx
  python/pyarrow/_dataset.pyx
  python/pyarrow/acero.py
  python/pyarrow/lib.pyx
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_acero.py
  python/pyarrow/tests/test_exec_plan.py
Labels: Component: Python, Component: Documentation, awaiting committer review

#34728 GH-34665: [Parquet][C++] Allow Reading BloomFilter
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/bloom_filter.cc
  cpp/src/parquet/bloom_filter_reader.cc
  cpp/src/parquet/bloom_filter_reader.h
  cpp/src/parquet/bloom_filter_reader_test.cc
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/file_reader.h
  cpp/src/parquet/page_index.h
Labels: Component: Parquet, Component: C++, awaiting change review

#34627 GH-34626: [C++] Add ordered/segmented aggregation Substrait extension
  cpp/proto/substrait/extension_rels.proto
  cpp/src/arrow/compute/exec/source_node.cc
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/engine/substrait/expression_internal.h
  cpp/src/arrow/engine/substrait/options.cc
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/relation_internal.h
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: Component: C++, awaiting merge

#34803 GH-34802: [C++][Parquet] Allow passing pool to decoder
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding.h
Labels: Component: Parquet, Component: C++, awaiting merge

#34717 GH-33934: [Packaging][Linux] Enable Flight for arm64
  dev/release/verify-apt.sh
  dev/release/verify-yum.sh
  dev/tasks/linux-packages/apache-arrow/Rakefile
  dev/tasks/linux-packages/apache-arrow/apt/debian-bullseye/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-focal/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-jammy/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-kinetic/Dockerfile
  dev/tasks/linux-packages/apache-arrow/debian/control.in
  dev/tasks/linux-packages/apache-arrow/debian/rules
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
  dev/tasks/linux-packages/github.linux.yml
  dev/tasks/linux-packages/package-task.rb
  dev/tasks/linux-packages/travis.linux.arm64.yml
  dev/tasks/macros.jinja
  dev/tasks/tasks.yml
Labels: awaiting committer review

#34710 GH-33998: [R] Update vignettes to reference the new open_*_dataset functions
  r/R/dataset.R
  r/man/open_delim_dataset.Rd
  r/vignettes/dataset.Rmd
Labels: Component: R, awaiting merge

#34765 GH-14917: [C++] Error out when GTest is compiled with a C++ standard lower than 17
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting changes

#34798 GH-15247: [R] Error when trying to save a data.frame with NULL column names
  r/R/csv.R
  r/R/dataset-write.R
  r/R/record-batch-reader.R
  r/R/table.R
  r/R/util.R
  r/tests/testthat/test-Table.R
  r/tests/testthat/test-dataset-write.R
  r/tests/testthat/test-record-batch-reader.R
Labels: Component: R, awaiting change review

#34822 GH-34821: [DOC][ORC] Update documentation for ORC
  docs/source/cpp/orc.rst
Labels: Component: Documentation, awaiting review

#34747 GH-34743: [Python] Relax condition in flaky Flight test
  python/pyarrow/tests/test_flight.py
Labels: Component: Python, awaiting merge

#34632 GH-34536: [Parquet][C++] Overwrite default config for DeltaBitPackEncoder
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding_benchmark.cc
  cpp/src/parquet/encoding_test.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#34833 GH-34831: [C++] Check REE child buffers are valid before other checks
  cpp/src/arrow/array/validate.cc
Labels: Component: C++, awaiting committer review

#34810 GH-34801: [C++] Remove needless "Requires.private: libcurl openssl" from arrow.pc
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review
