Repository apache/arrow, pull requests merged in 2023-12, with the labels that each got.

#38985 GH-38984: [Python][Packaging] Verification of wheels on AlmaLinux 8 are failing due to missing pip
  dev/release/setup-rhel-rebuilds.sh
Labels: awaiting merge

#39016 GH-39003: [CI][macOS] Don't update Homebrew
  .github/workflows/cpp.yml
  .github/workflows/python.yml
  .github/workflows/ruby.yml
  dev/tasks/verify-rc/github.macos.amd64.yml
Labels: awaiting committer review

#38763 GH-38594: [Docs][C++][Gandiva] Document how to register Gandiva external functions
  docs/source/cpp/gandiva.rst
  docs/source/cpp/gandiva/expr_projector_filter.rst
  docs/source/cpp/gandiva/external_func.mmd
  docs/source/cpp/gandiva/external_func.png
  docs/source/cpp/gandiva/external_func.rst
Labels: Component: Documentation, awaiting change review

#38994 GH-38996: [Java] Update dependencies and plugins for JPMS modules
  java/algorithm/pom.xml
  java/flight/flight-core/pom.xml
  java/flight/flight-grpc/pom.xml
  java/flight/flight-sql-jdbc-driver/pom.xml
  java/flight/flight-sql/pom.xml
  java/performance/pom.xml
  java/pom.xml
  java/tools/pom.xml
  java/vector/pom.xml
Labels: Component: Java, awaiting merge

#38945 GH-38944: [Python] Fix spelling
  python/CMakeLists.txt
  python/examples/minimal_build/build_conda.sh
  python/examples/minimal_build/build_venv.sh
  python/pyarrow/_acero.pyx
  python/pyarrow/_compute.pyx
  python/pyarrow/_cuda.pyx
  python/pyarrow/_dataset.pyx
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/_parquet.pyx
  python/pyarrow/acero.py
  python/pyarrow/array.pxi
  python/pyarrow/dataset.py
  python/pyarrow/includes/libarrow_python.pxd
  python/pyarrow/interchange/column.py
  python/pyarrow/interchange/from_dataframe.py
  python/pyarrow/io.pxi
  python/pyarrow/parquet/core.py
  python/pyarrow/src/arrow/python/datetime.h
  python/pyarrow/src/arrow/python/inference.cc
  python/pyarrow/src/arrow/python/python_to_arrow.cc
  python/pyarrow/src/arrow/python/udf.cc
  python/pyarrow/table.pxi
  python/pyarrow/tests/parquet/test_basic.py
  python/pyarrow/tests/parquet/test_dataset.py
  python/pyarrow/tests/test_acero.py
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_compute.py
  python/pyarrow/tests/test_dataset.py
  python/pyarrow/tests/test_dataset_encryption.py
  python/pyarrow/tests/test_fs.py
  python/pyarrow/tests/test_io.py
  python/pyarrow/tests/test_json.py
  python/pyarrow/tests/test_misc.py
  python/pyarrow/tests/test_pandas.py
  python/pyarrow/tests/test_scalars.py
  python/pyarrow/tests/test_substrait.py
  python/pyarrow/tests/test_types.py
  python/pyarrow/tests/test_udf.py
  python/pyarrow/util.py
Labels: Component: Python, awaiting changes

#38374 GH-38342: [Python] Update to_pandas to use non-deprecated DataFrame constructor
  python/pyarrow/pandas-shim.pxi
  python/pyarrow/pandas_compat.py
  python/pyarrow/table.pxi
Labels: Component: Python, awaiting committer review

#39027 GH-38857: [Python] Fix append mode for cython 2
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/io.pxi
Labels: Component: Python, awaiting committer review

#38951 GH-38950: [Docs] Fix spelling
  docs/source/_static/theme_overrides.css
  docs/source/conf.py
  docs/source/cpp/acero/developer_guide.rst
  docs/source/cpp/acero/overview.rst
  docs/source/cpp/acero/substrait.rst
  docs/source/cpp/acero/user_guide.rst
  docs/source/cpp/compute.rst
  docs/source/cpp/datatypes.rst
  docs/source/cpp/examples/compute_and_write_example.rst
  docs/source/cpp/examples/dataset_skyhook_scan_example.rst
  docs/source/cpp/overview.rst
  docs/source/cpp/tutorials/basic_arrow.rst
  docs/source/developers/continuous_integration/archery.rst
  docs/source/developers/continuous_integration/crossbow.rst
  docs/source/developers/continuous_integration/docker.rst
  docs/source/developers/continuous_integration/overview.rst
  docs/source/developers/documentation.rst
  docs/source/developers/guide/documentation.rst
  docs/source/developers/guide/resources.rst
  docs/source/developers/guide/step_by_step/finding_issues.rst
  docs/source/developers/guide/tutorials/r_tutorial.rst
  docs/source/developers/java/building.rst
  docs/source/developers/release.rst
  docs/source/developers/reviewing.rst
  docs/source/format/ADBC.rst
  docs/source/format/CDataInterface.rst
  docs/source/format/CDeviceDataInterface.rst
  docs/source/format/CanonicalExtensions.rst
  docs/source/format/Columnar.rst
  docs/source/java/dataset.rst
  docs/source/python/api/compute.rst
  docs/source/python/dataset.rst
  docs/source/python/getting_involved.rst
  docs/source/python/integration.rst
  docs/source/python/integration/python_java.rst
  docs/source/python/interchange_protocol.rst
  docs/source/python/memory.rst
  docs/source/python/parquet.rst
Labels: Component: Documentation, awaiting change review

#38970 GH-38902: [R] Handle failing library detection with pkg-config
  r/configure
  r/tools/nixlibs.R
  r/tools/test-nixlibs.R
Labels: Component: R, awaiting change review

#39022 GH-38904:[R] Update news.md for 14.0.0.2
  r/NEWS.md
Labels: Component: R, Component: Documentation, awaiting merge

#38888 GH-38701: [C++][FS][Azure] Implement `DeleteDirContents()`
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting change review

#39021 GH-39020: [CI][Release][JS] Use Node.js 18 instead of 16
  dev/release/setup-rhel-rebuilds.sh
  dev/release/verify-release-candidate.sh
  dev/tasks/verify-rc/github.linux.amd64.yml
  dev/tasks/verify-rc/github.macos.amd64.yml
  dev/tasks/verify-rc/github.macos.arm64.yml
Labels: awaiting change review

#37383 GH-37359: [C#] Add ToList() to Decimal128Array and Decimal256Array
  csharp/src/Apache.Arrow/Arrays/Decimal128Array.cs
  csharp/src/Apache.Arrow/Arrays/Decimal256Array.cs
Labels: Component: C#, awaiting review

#39060 GH-39050: [C++] Use Cast() instead of CastTo() for Timestamp Scalar in test
  cpp/src/arrow/scalar_test.cc
Labels: Component: C++, awaiting review

#38959 GH-38958: [C++][Parquet] Fix spelling
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/path_internal.cc
  cpp/src/parquet/arrow/path_internal.h
  cpp/src/parquet/arrow/path_internal_test.cc
  cpp/src/parquet/arrow/schema.cc
  cpp/src/parquet/arrow/schema_internal.cc
  cpp/src/parquet/arrow/writer.cc
  cpp/src/parquet/column_reader_test.cc
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding.h
  cpp/src/parquet/encoding_test.cc
  cpp/src/parquet/encryption/test_encryption_util.h
  cpp/src/parquet/level_conversion.h
  cpp/src/parquet/level_conversion_test.cc
  cpp/src/parquet/page_index.cc
  cpp/src/parquet/page_index.h
  cpp/src/parquet/reader_test.cc
  cpp/src/parquet/schema.cc
  cpp/src/parquet/schema_test.cc
  cpp/src/parquet/statistics.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#37868 GH-37857: [Python][Dataset] Expose file size to python dataset
  python/pyarrow/_dataset.pxd
  python/pyarrow/_dataset.pyx
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/includes/libarrow_dataset.pxd
  python/pyarrow/tests/test_dataset.py
Labels: Component: Python, awaiting merge

#38967 GH-38966: [C++] Fix spelling (util)
  cpp/src/arrow/util/align_util.h
  cpp/src/arrow/util/async_generator.h
  cpp/src/arrow/util/async_generator_test.cc
  cpp/src/arrow/util/benchmark_util.h
  cpp/src/arrow/util/bit_block_counter.h
  cpp/src/arrow/util/bit_util_test.cc
  cpp/src/arrow/util/bitmap_reader.h
  cpp/src/arrow/util/byte_stream_split_internal.h
  cpp/src/arrow/util/byte_stream_split_test.cc
  cpp/src/arrow/util/decimal.cc
  cpp/src/arrow/util/future.h
  cpp/src/arrow/util/int_util.h
  cpp/src/arrow/util/io_util.cc
  cpp/src/arrow/util/iterator.h
  cpp/src/arrow/util/list_util.h
  cpp/src/arrow/util/logging.cc
  cpp/src/arrow/util/ree_util.cc
  cpp/src/arrow/util/ree_util.h
  cpp/src/arrow/util/ree_util_test.cc
  cpp/src/arrow/util/rle_encoding.h
  cpp/src/arrow/util/string_test.cc
  cpp/src/arrow/util/tdigest.cc
  cpp/src/arrow/util/tdigest_test.cc
  cpp/src/arrow/util/thread_pool_test.cc
Labels: Component: C++, awaiting committer review

#39053 MINOR: [C++] Fix a typo
  cpp/src/arrow/array/array_dict.cc
Labels: Component: C++, awaiting committer review

#38858 GH-38844: [C++] S3FileSystem export s3 sdk config "use_virtual_addressing" to arrow::fs::S3Options
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs.h
Labels: Component: C++, awaiting committer review

#39042 GH-39041:[R] Improve `update-checksum.R` output
  r/tools/update-checksums.R
Labels: Component: R, awaiting merge

#38961 GH-38960: [C++] Fix spelling (acero)
  cpp/src/arrow/acero/accumulation_queue.h
  cpp/src/arrow/acero/aggregate_internal.h
  cpp/src/arrow/acero/asof_join_node.cc
  cpp/src/arrow/acero/asof_join_node_test.cc
  cpp/src/arrow/acero/expression_benchmark.cc
  cpp/src/arrow/acero/hash_aggregate_test.cc
  cpp/src/arrow/acero/partition_util.h
  cpp/src/arrow/acero/pivot_longer_node.cc
  cpp/src/arrow/acero/sorted_merge_node.cc
  cpp/src/arrow/acero/swiss_join.cc
  cpp/src/arrow/acero/swiss_join_internal.h
Labels: Component: C++, awaiting merge

#39046 GH-39045: [C++][Acero] union node output batches should be unordered
  cpp/src/arrow/acero/union_node.cc
  cpp/src/arrow/acero/union_node_test.cc
Labels: Component: C++, awaiting merge

#39073 GH-39072: [Release][CI] Python3.11-devel is required for the verification job on AlmaLinux 8
  dev/release/setup-rhel-rebuilds.sh
Labels: awaiting change review

#38955 GH-38954: [Dev] Fix spelling
  dev/archery/README.md
  dev/archery/archery/bot.py
  dev/archery/archery/cli.py
  dev/archery/archery/crossbow/cli.py
  dev/archery/archery/crossbow/core.py
  dev/archery/archery/crossbow/reports.py
  dev/archery/archery/crossbow/tests/fixtures/crossbow-job-no-failure.yaml
  dev/archery/archery/crossbow/tests/fixtures/crossbow-job.yaml
  dev/archery/archery/release/cli.py
  dev/archery/archery/release/core.py
  dev/archery/archery/tests/fixtures/event-issue-comment-build-command.json
  dev/archery/archery/tests/fixtures/event-issue-comment-by-non-authorized-user.json
  dev/archery/archery/tests/fixtures/event-issue-comment-by-ursabot.json
  dev/archery/archery/tests/fixtures/event-issue-comment-not-mentioning-ursabot.json
  dev/archery/archery/tests/fixtures/event-issue-comment-with-empty-command.json
  dev/archery/archery/tests/fixtures/event-pr-review-committer.json
  dev/archery/archery/tests/fixtures/event-pr-review-non-committer.json
  dev/archery/archery/tests/fixtures/event-pull-request-opened.json
  dev/archery/archery/tests/fixtures/event-pull-request-target-opened-committer.json
  dev/archery/archery/tests/fixtures/event-pull-request-target-opened-non-committer.json
  dev/archery/archery/tests/fixtures/event-pull-request-target-synchronize.json
  dev/archery/archery/tests/fixtures/issue-26.json
  dev/archery/archery/tests/fixtures/pull-request-26-awaiting-review.json
  dev/archery/archery/tests/fixtures/pull-request-26-commit.json
  dev/archery/archery/tests/fixtures/pull-request-26.json
  dev/archery/archery/tests/test_bot.py
  dev/conbench_envs/README.md
  dev/merge_arrow_pr.py
  dev/tasks/conda-recipes/README.md
  dev/tasks/conda-recipes/arrow-cpp/meta.yaml
  dev/tasks/java-jars/README.md
  dev/tasks/linux-packages/apache-arrow-release/Rakefile
  dev/tasks/macros.jinja
  dev/tasks/python-wheels/github.osx.arm64.yml
  dev/tasks/r/github.macos-linux.local.yml
  dev/tasks/tasks.yml
  dev/tasks/vcpkg-tests/github.windows.yml
Labels: Component: Documentation, awaiting merge

#39080 MINOR: [R] Increase timeout for binary download
  r/tools/nixlibs.R
Labels: Component: R, awaiting merge

#39082 GH-39074: [Release][Packaging] Use UTF-8 explicitly for KEYS
  dev/tasks/linux-packages/apache-arrow-release/Rakefile
Labels: awaiting committer review

#39044 GH-35560: [C++] Use Cast() instead of CastTo() for Scalar in test
  cpp/src/arrow/dataset/partition_test.cc
  cpp/src/arrow/scalar_test.cc
Labels: Component: C++, awaiting merge

#39055 GH-38887: [C++][Parquet] Move EstimatedBufferedValueBytes from TypedColumnWriter to ColumnWriter
  cpp/examples/parquet/low_level_api/reader_writer2.cc
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/column_writer.h
  cpp/src/parquet/stream_writer.cc
  cpp/src/parquet/stream_writer.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#39089 GH-39088: [Dev][Java] Add Dependabot configuration for Java
  .github/dependabot.yml
Labels: awaiting merge

#39058 GH-38705: [C++][FS][Azure] Implement CopyFile()
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting committer review

#38549 GH-37061: [Docs][Format] Clarify semantics of GetSchema in FSQL
  docs/source/format/FlightSql.rst
  format/FlightSql.proto
Labels: Component: Documentation, awaiting merge

#38929 GH-38928: [R] Fix spelling
  r/NEWS.md
  r/R/arrow-object.R
  r/R/arrow-package.R
  r/R/compression.R
  r/R/config.R
  r/R/csv.R
  r/R/dataset.R
  r/R/dplyr-count.R
  r/R/dplyr-filter.R
  r/R/dplyr-funcs-augmented.R
  r/R/dplyr-funcs-conditional.R
  r/R/dplyr-funcs-datetime.R
  r/R/dplyr-funcs-string.R
  r/R/dplyr-funcs-type.R
  r/R/duckdb.R
  r/R/extension.R
  r/R/feather.R
  r/R/filesystem.R
  r/R/parquet.R
  r/R/udf.R
  r/configure
  r/man/ExtensionType.Rd
  r/man/FileSystem.Rd
  r/man/add_filename.Rd
  r/man/codec_is_available.Rd
  r/man/io_thread_count.Rd
  r/man/new_extension_type.Rd
  r/man/open_dataset.Rd
  r/man/read_delim_arrow.Rd
  r/man/write_feather.Rd
  r/man/write_parquet.Rd
  r/src/altrep.cpp
  r/src/safe-call-into-r.h
  r/tests/testthat/helper-arrow.R
  r/tests/testthat/helper-skip.R
  r/tests/testthat/test-Array.R
  r/tests/testthat/test-backwards-compatibility.R
  r/tests/testthat/test-dataset-write.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
  r/tests/testthat/test-dplyr-summarize.R
  r/tests/testthat/test-extension.R
  r/tools/nixlibs.R
  r/tools/update-checksums.R
  r/vignettes/arrow.Rmd
  r/vignettes/data_objects.Rmd
  r/vignettes/data_types.Rmd
  r/vignettes/data_wrangling.Rmd
  r/vignettes/developers/setup.Rmd
  r/vignettes/fs.Rmd
  r/vignettes/install.Rmd
  r/vignettes/read_write.Rmd
Labels: Component: R, Component: Parquet, Component: Documentation, awaiting merge

#39125 GH-38479: [C++] Avoid passing null pointer to LZ4 frame decompressor
  cpp/src/arrow/io/compressed.cc
  cpp/src/arrow/util/compression_lz4.cc
Labels: Component: C++, awaiting merge

#38507 GH-38506: [Go][Parquet] Add NumRows and RowGroupNumRows to pqarrow.FileWriter
  go/parquet/pqarrow/file_writer.go
  go/parquet/pqarrow/file_writer_test.go
Labels: Component: Go, awaiting change review

#39145 MINOR: [Java] Bump ch.qos.logback:logback-classic from 1.2.13 to 1.3.14 in /java
  java/memory/memory-netty/pom.xml
  java/pom.xml
  java/tools/pom.xml
Labels: Component: Java, awaiting review

#38635 GH-37884: [Swift] Allow reading of unaligned FlatBuffers buffers
  swift/Arrow/Package.swift
  swift/Arrow/Sources/Arrow/ArrowReader.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightClient.swift
  swift/ArrowFlight/Sources/ArrowFlight/FlightServer.swift
  swift/ArrowFlight/Sources/ArrowFlight/RecordBatchStreamReader.swift
Labels: Component: Swift, awaiting merge

#39137 GH-39136: [C++] Remove needless system Protobuf dependency with -DARROW_HDFS=ON
  cpp/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#39127 GH-39126: [C++][CI] Fix Valgrind failures
  cpp/src/arrow/array/array_dict_test.cc
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/builder_binary.cc
  cpp/src/arrow/array/builder_binary.h
Labels: Component: C++, awaiting committer review

#39124 GH-39122: [C++][Parquet] Optimize FLBA record reader
  cpp/src/parquet/column_reader.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#39151 GH-38702 [C++]: Implement AzureFileSystem::DeleteRootDirContents
  cpp/src/arrow/filesystem/azurefs.cc
Labels: Component: C++, awaiting merge

#39158 GH-39156: [C++][Compute] Fix negative duration division
  cpp/src/arrow/compute/kernels/base_arithmetic_internal.h
  cpp/src/arrow/compute/kernels/scalar_arithmetic.cc
  cpp/src/arrow/compute/kernels/scalar_temporal_test.cc
Labels: Component: C++, awaiting merge

#38980 GH-38979: [C++] Fix spelling
  cpp/src/arrow/adapters/orc/adapter.h
  cpp/src/arrow/c/bridge_test.cc
  cpp/src/arrow/chunked_array_test.cc
  cpp/src/arrow/compute/kernels/vector_selection_filter_internal.cc
  cpp/src/arrow/csv/lexing_internal.h
  cpp/src/arrow/csv/reader.cc
  cpp/src/arrow/csv/writer_benchmark.cc
  cpp/src/arrow/engine/substrait/extended_expression_internal.cc
  cpp/src/arrow/engine/substrait/extension_set.h
  cpp/src/arrow/engine/substrait/options.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/engine/substrait/visibility.h
  cpp/src/arrow/extension/fixed_shape_tensor_test.cc
  cpp/src/arrow/field_ref_test.cc
  cpp/src/arrow/integration/json_integration.h
  cpp/src/arrow/io/file_benchmark.cc
  cpp/src/arrow/io/interfaces.h
  cpp/src/arrow/ipc/metadata_internal.cc
  cpp/src/arrow/ipc/read_write_test.cc
  cpp/src/arrow/ipc/reader.h
  cpp/src/arrow/json/converter_test.cc
  cpp/src/arrow/json/reader.h
  cpp/src/arrow/table_test.cc
  cpp/src/arrow/testing/util.cc
  cpp/src/arrow/type_test.cc
  cpp/src/generated/Schema_generated.h
  cpp/src/skyhook/CMakeLists.txt
  cpp/src/skyhook/protocol/rados_protocol.h
  cpp/src/skyhook/protocol/skyhook_protocol.h
Labels: Component: C++, awaiting merge

#38978 GH-38977: [C++] Fix spelling
  cpp/CHANGELOG_PARQUET.md
  cpp/CMakeLists.txt
  cpp/CMakePresets.json
  cpp/apidoc/Doxyfile
  cpp/build-support/cpplint.py
  cpp/build-support/iwyu/mappings/boost-all.imp
  cpp/cmake_modules/SetupCxxFlags.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/cmake_modules/Usevcpkg.cmake
  cpp/examples/arrow/execution_plan_documentation_examples.cc
  cpp/examples/arrow/rapidjson_row_converter.cc
Labels: Component: C++, Component: Documentation, awaiting review

#38926 GH-38925: [CI] Fix spelling
  ci/conan/all/conandata.yml
  ci/conan/all/conanfile.py
  ci/conan/all/test_package/test_package.cpp
  ci/docker/conda-cpp.dockerfile
  ci/docker/java-jni-manylinux-201x.dockerfile
  ci/docker/python-wheel-manylinux.dockerfile
  ci/docker/python-wheel-windows-vs2017.dockerfile
  ci/scripts/install_python.sh
  ci/scripts/install_sccache.sh
  ci/scripts/integration_spark.sh
  ci/scripts/r_valgrind.sh
Labels: awaiting merge

#38957 GH-38956: [Gandiva] Fix spelling
  cpp/src/gandiva/date_utils.cc
  cpp/src/gandiva/expr_decomposer.cc
  cpp/src/gandiva/expr_decomposer_test.cc
  cpp/src/gandiva/expr_validator.cc
  cpp/src/gandiva/expression_cache_key.h
  cpp/src/gandiva/gdv_function_stubs.cc
  cpp/src/gandiva/gdv_function_stubs.h
  cpp/src/gandiva/gdv_function_stubs_test.cc
  cpp/src/gandiva/gdv_string_function_stubs.cc
  cpp/src/gandiva/hash_utils_test.cc
  cpp/src/gandiva/interval_holder.cc
  cpp/src/gandiva/interval_holder.h
  cpp/src/gandiva/llvm_generator.h
  cpp/src/gandiva/precompiled/decimal_ops.cc
  cpp/src/gandiva/precompiled/string_ops.cc
  cpp/src/gandiva/precompiled/string_ops_test.cc
Labels: Component: C++, Component: C++ - Gandiva, awaiting merge

#39043 GH-38316: [C#] Implement interval types
  csharp/src/Apache.Arrow/Arrays/ArrayDataTypeComparer.cs
  csharp/src/Apache.Arrow/Arrays/ArrowArrayFactory.cs
  csharp/src/Apache.Arrow/Arrays/IntervalArray.cs
  csharp/src/Apache.Arrow/C/CArrowSchemaExporter.cs
  csharp/src/Apache.Arrow/C/CArrowSchemaImporter.cs
  csharp/src/Apache.Arrow/Extensions/FlatbufExtensions.cs
  csharp/src/Apache.Arrow/Ipc/ArrowStreamWriter.cs
  csharp/src/Apache.Arrow/Ipc/ArrowTypeFlatbufferBuilder.cs
  csharp/src/Apache.Arrow/Scalars/DayTimeInterval.cs
  csharp/src/Apache.Arrow/Scalars/MonthDayNanosecondInterval.cs
  csharp/src/Apache.Arrow/Scalars/YearMonthInterval.cs
  csharp/src/Apache.Arrow/Types/IntervalType.cs
  csharp/src/Apache.Arrow/Types/IntervalUnit.cs
  csharp/test/Apache.Arrow.IntegrationTest/JsonFile.cs
  csharp/test/Apache.Arrow.Tests/ArrowArrayConcatenatorTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowReaderVerifier.cs
  csharp/test/Apache.Arrow.Tests/CDataInterfacePythonTests.cs
  csharp/test/Apache.Arrow.Tests/IntervalScalarTests.cs
  csharp/test/Apache.Arrow.Tests/TableTests.cs
  csharp/test/Apache.Arrow.Tests/TestData.cs
  dev/archery/archery/integration/datagen.py
  docs/source/status.rst
Labels: Component: C#, Component: Documentation, awaiting review

#39165 GH-31579 [C#]: Remove out-of-support versions of .NET and update C# README
  csharp/README.md
  csharp/src/Apache.Arrow/Apache.Arrow.csproj
Labels: Component: C#, Component: Documentation, awaiting review

#39166 GH-34636: [C#] Reduce allocations when using ArrayPool
  csharp/src/Apache.Arrow/Extensions/ArrayPoolExtensions.cs
  csharp/src/Apache.Arrow/Ipc/ArrowFileReaderImplementation.cs
  csharp/src/Apache.Arrow/Ipc/ArrowFileWriter.cs
  csharp/src/Apache.Arrow/Ipc/ArrowStreamReaderImplementation.cs
  csharp/src/Apache.Arrow/Ipc/ArrowStreamWriter.cs
Labels: Component: C#, awaiting review

#39167 GH-36588: [C#] Support blank column names and enable more integration tests.
  csharp/src/Apache.Arrow/Field.Builder.cs
  csharp/src/Apache.Arrow/Field.cs
  csharp/src/Apache.Arrow/Ipc/MessageSerializer.cs
  csharp/src/Apache.Arrow/Types/MapType.cs
  csharp/test/Apache.Arrow.IntegrationTest/JsonFile.cs
  csharp/test/Apache.Arrow.Tests/CDataInterfacePythonTests.cs
  dev/archery/archery/integration/datagen.py
Labels: Component: C#, awaiting review

#39168 GH-39130: [CI][GLib][Windows] Use old Ruby as workaround for load error
  .github/workflows/ruby.yml
  ci/scripts/msys2_setup.sh
Labels: awaiting committer review

#39032 GH-39031: [Docs] Remove misspelled rule from contrib css
  docs/source/_static/theme_overrides.css
Labels: Component: Documentation, awaiting committer review

#39150 GH-39159 [C++]: Try to make Buffer::device_type_ non-optional
  cpp/src/arrow/buffer.h
Labels: Component: C++, awaiting committer review

#39161 MINOR: [Docs] Fix broken links to documents of contributing
  .github/workflows/dev_pr/title_check.md
  CONTRIBUTING.md
  r/cheatsheet/README.md
Labels: Component: R, Component: Documentation, awaiting merge

#38349 GH-34890: [C++][Python] Add a no-op kernel for dictionary_encode(dictionary)
  cpp/src/arrow/compute/kernels/vector_hash.cc
  cpp/src/arrow/compute/kernels/vector_hash_test.cc
  docs/source/cpp/compute.rst
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, Component: Documentation, awaiting merge

#39171 GH-39170: [Java] Improve error message explaining why TestTls might fail
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/FlightTestUtil.java
Labels: Component: Java, awaiting merge

#39135 GH-39134: Create module info compiler plugin
  java/maven/module-info-compiler-maven-plugin/pom.xml
  java/maven/module-info-compiler-maven-plugin/src/main/java/org/apache/arrow/maven/plugins/BaseModuleInfoCompilerPlugin.java
  java/maven/module-info-compiler-maven-plugin/src/main/java/org/apache/arrow/maven/plugins/ModuleInfoCompilerPlugin.java
  java/maven/module-info-compiler-maven-plugin/src/main/java/org/apache/arrow/maven/plugins/ModuleInfoTestCompilerPlugin.java
  java/maven/pom.xml
  java/pom.xml
Labels: Component: Java, awaiting merge

#39084 MINOR: [JS] Fix typo in unmemoize comment
  js/src/vector.ts
Labels: Component: JavaScript, awaiting committer review

#39209 GH-39208: [C++][Parquet] Remove deprecated AppendRowGroup(int64_t num_rows)
  cpp/src/parquet/file_writer.cc
  cpp/src/parquet/file_writer.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#39211 GH-39210: [C++][Parquet] Avoid WriteRecordBatch from produce zero-sized RowGroup
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/writer.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#39188 GH-39189: [Java] Bump com.h2database:h2 from 1.4.196 to 2.2.224 in /java
  java/adapter/jdbc/pom.xml
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcToArrowCommentMetadataTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcToArrowTestHelper.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/Table.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowArrayTest.java
  java/adapter/jdbc/src/test/resources/h2/test1_all_datatypes_h2.yml
  java/adapter/jdbc/src/test/resources/h2/test1_all_datatypes_null_h2.yml
  java/adapter/jdbc/src/test/resources/h2/test1_all_datatypes_selected_null_rows_h2.yml
  java/adapter/jdbc/src/test/resources/h2/test1_binary_h2.yml
  java/adapter/jdbc/src/test/resources/h2/test1_char_h2.yml
  java/adapter/jdbc/src/test/resources/h2/test1_charset_ch_h2.yml
  java/adapter/jdbc/src/test/resources/h2/test1_charset_h2.yml
  java/adapter/jdbc/src/test/resources/h2/test1_charset_jp_h2.yml
  java/adapter/jdbc/src/test/resources/h2/test1_charset_kr_h2.yml
  java/adapter/jdbc/src/test/resources/h2/test1_list_h2.yml
  java/adapter/jdbc/src/test/resources/h2/test1_selected_datatypes_null_h2.yml
  java/performance/pom.xml
Labels: Component: Java, awaiting merge

#36627 GH-36441: [Python] Make `CacheOptions` configurable from Python
  cpp/src/arrow/io/caching.h
  python/pyarrow/__init__.py
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/_parquet.pxd
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/io.pxi
  python/pyarrow/lib.pxd
  python/pyarrow/tests/test_dataset.py
  python/pyarrow/tests/test_io.py
Labels: Component: C++, Component: Python, awaiting merge

#39040 GH-39037: [Java] Remove (Contrib/Experimental) mention in Flight SQL
  java/flight/flight-sql-jdbc-core/pom.xml
  java/flight/flight-sql-jdbc-driver/pom.xml
Labels: Component: Java, awaiting change review

#39207 GH-39119: [C++] Refactor the Azure FS tests and filesystem class instantiation
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_internal.cc
  cpp/src/arrow/filesystem/azurefs_internal.h
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting merge

#39224 GH-39223: [C#] Support IReadOnlyList<T?> on remaining scalar types
  csharp/src/Apache.Arrow/Arrays/Decimal128Array.cs
  csharp/src/Apache.Arrow/Arrays/Decimal256Array.cs
  csharp/src/Apache.Arrow/Arrays/DurationArray.cs
  csharp/src/Apache.Arrow/Arrays/FixedSizeBinaryArray.cs
  csharp/src/Apache.Arrow/DecimalUtility.cs
  csharp/test/Apache.Arrow.Tests/Decimal128ArrayTests.cs
  csharp/test/Apache.Arrow.Tests/Decimal256ArrayTests.cs
  csharp/test/Apache.Arrow.Tests/DecimalUtilityTests.cs
  csharp/test/Apache.Arrow.Tests/DurationArrayTests.cs
Labels: Component: C#, awaiting review

#39239 GH-39238:[Go] PATCH Prevents empty record to be appended to empty resultset
  go/arrow/flight/flightsql/driver/driver.go
  go/arrow/flight/flightsql/driver/driver_test.go
Labels: Component: Go, awaiting review

#39247 GH-39246: [CI][GLib][Ruby] Use Ubuntu 22.04 not 20.04
  .github/workflows/ruby.yml
Labels: awaiting committer review

#35780 GH-15060: [JS] Add LargeUtf8 type
  docs/source/status.rst
  js/src/Arrow.dom.ts
  js/src/Arrow.ts
  js/src/builder.ts
  js/src/builder/buffer.ts
  js/src/builder/largeutf8.ts
  js/src/builder/list.ts
  js/src/data.ts
  js/src/enum.ts
  js/src/interfaces.ts
  js/src/ipc/metadata/json.ts
  js/src/ipc/metadata/message.ts
  js/src/type.ts
  js/src/util/buffer.ts
  js/src/visitor.ts
  js/src/visitor/builderctor.ts
  js/src/visitor/bytelength.ts
  js/src/visitor/get.ts
  js/src/visitor/indexof.ts
  js/src/visitor/iterator.ts
  js/src/visitor/jsontypeassembler.ts
  js/src/visitor/jsonvectorassembler.ts
  js/src/visitor/set.ts
  js/src/visitor/typeassembler.ts
  js/src/visitor/typecomparator.ts
  js/src/visitor/typector.ts
  js/src/visitor/vectorassembler.ts
  js/src/visitor/vectorloader.ts
  js/test/data/tables.ts
  js/test/generate-test-data.ts
  js/test/unit/builders/builder-tests.ts
  js/test/unit/builders/largeUtf8-tests.ts
  js/test/unit/generated-data-tests.ts
  js/test/unit/generated-data-validators.ts
  js/test/unit/vector/vector-tests.ts
  js/test/unit/visitor-tests.ts
Labels: Component: JavaScript, Component: Documentation, awaiting change review

#37982 GH-37983: [JS] create nullable Fields in Table constructor
  js/src/table.ts
Labels: Component: JavaScript, awaiting committer review

#39254 GH-37983: [JS] Allow nullable fields in table when constructed from vector with nulls
  js/src/table.ts
  js/test/unit/table-tests.ts
Labels: Component: JavaScript, awaiting committer review

#38898 GH-38883: [Docs] Fix struct example to show hiding a child's entry
  docs/source/format/Columnar.rst
Labels: Component: Documentation, awaiting review

#39249 GH-39248: [JS] Unify code paths for utf8 and largeUtf8
  js/.vscode/settings.json
  js/src/visitor/get.ts
  js/src/visitor/set.ts
  js/src/visitor/vectorassembler.ts
Labels: Component: JavaScript, awaiting committer review

#39244 GH-39243:[R][CI] Remove r-arrow conda nightlies
  dev/tasks/conda-recipes/.ci_support/r/linux_64_r_base4.2.yaml
  dev/tasks/conda-recipes/.ci_support/r/linux_64_r_base4.3.yaml
  dev/tasks/conda-recipes/.ci_support/r/linux_aarch64_r_base4.2.yaml
  dev/tasks/conda-recipes/.ci_support/r/linux_aarch64_r_base4.3.yaml
  dev/tasks/conda-recipes/.ci_support/r/osx_64_r_base4.2.yaml
  dev/tasks/conda-recipes/.ci_support/r/osx_64_r_base4.3.yaml
  dev/tasks/conda-recipes/.ci_support/r/osx_arm64_r_base4.2.yaml
  dev/tasks/conda-recipes/.ci_support/r/osx_arm64_r_base4.3.yaml
  dev/tasks/conda-recipes/.ci_support/r/win_64_.yaml
  dev/tasks/conda-recipes/r-arrow/bld.bat
  dev/tasks/conda-recipes/r-arrow/build.sh
  dev/tasks/conda-recipes/r-arrow/build_win.sh
  dev/tasks/conda-recipes/r-arrow/configure.win
  dev/tasks/conda-recipes/r-arrow/install.libs.R
  dev/tasks/conda-recipes/r-arrow/meta.yaml
  dev/tasks/tasks.yml
Labels: awaiting review

#38027 GH-37199: [C++] Expose a span converter for Buffer and ArraySpan
  cpp/src/arrow/array/data.h
  cpp/src/arrow/buffer.h
Labels: Component: C++, awaiting change review

#39263 GH-39262: [C++][Azure][FS] Add default credential auth configuration
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting change review

#39276 GH-38535: [Python] Fix S3FileSystem equals None segfault
  python/pyarrow/_fs.pyx
  python/pyarrow/tests/test_fs.py
Labels: Component: Python, awaiting review

#39059 GH-38683: [Python][Docs] Update docstrings for Time32Type and Time64Type
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting change review

#39219 GH-39191: [R] throw error when `string_replace` is passed vector of values in `pattern`
  r/R/dplyr-funcs-string.R
  r/tests/testthat/test-dplyr-funcs-string.R
Labels: Component: R, awaiting changes

#39293 GH-39292 [C++][FS]: Remove the AzureBackend enum and add more flexible connection options
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting committer review

#39300 GH-39299: [Java] Upgrade to Avro 1.11.3
  java/pom.xml
Labels: Component: Java, awaiting review

#38472 GH-33984: [C++][Python] DLPack implementation for Arrow Arrays (producer)
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/c/CMakeLists.txt
  cpp/src/arrow/c/dlpack.cc
  cpp/src/arrow/c/dlpack.h
  cpp/src/arrow/c/dlpack_abi.h
  cpp/src/arrow/c/dlpack_test.cc
  dev/release/rat_exclude_files.txt
  docs/source/python/dlpack.rst
  docs/source/python/index.rst
  docs/source/python/interchange_protocol.rst
  python/pyarrow/_dlpack.pxi
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/lib.pyx
  python/pyarrow/tests/test_dlpack.py
Labels: Component: C++, Component: Python, Component: Documentation, awaiting change review

#39286 MINOR: [R] Update NEWS.md for 14.0.2
  r/NEWS.md
Labels: Component: R, Component: Documentation, awaiting merge

#37665 GH-35331: [Python] Expose Parquet sorting metadata
  docs/source/python/api/formats.rst
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/_parquet.pxd
  python/pyarrow/_parquet.pyx
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_metadata.py
Labels: Component: Python, Component: Documentation, awaiting committer review

#39274 MINOR: [Docs] local_timestamp kernel docs are not linked in python docs
  docs/source/python/api/compute.rst
Labels: Component: Documentation, awaiting committer review

#39307 GH-39306: [C++][Benchmarking] Remove hardcoded min times
  cpp/src/arrow/compute/kernels/vector_partition_benchmark.cc
  cpp/src/arrow/compute/kernels/vector_topk_benchmark.cc
  cpp/src/gandiva/tests/micro_benchmarks.cc
Labels: awaiting merge

#39298 GH-39297: [C++][FS]: Inform caller of container not-existing when checking for HNS support
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_internal.cc
  cpp/src/arrow/filesystem/azurefs_internal.h
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting merge

#39325 GH-39288: [Java][FlightSQL] Update Apache Avatica to version 1.24.0
  java/flight/flight-sql-jdbc-core/pom.xml
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ConnectionMutualTlsTest.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ConnectionTlsRootCertsTest.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ConnectionTlsTest.java
  java/flight/flight-sql-jdbc-driver/pom.xml
Labels: Component: Java, awaiting merge

#39323 GH-39322: [C++] Forward arguments to ExceptionToStatus all the way to Status::FromArgs
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_internal.h
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting committer review

#39329 GH-39328: [Java] Make default getConsumer public
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowUtils.java
Labels: Component: Java, awaiting merge

#39319 GH-39318: [C++][FS][Azure] Add workload identity auth configuration
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting review

#39334 GH-39333: [C++] Don't use "if constexpr" in lambda
  cpp/src/arrow/array/array_nested.cc
Labels: Component: C++, awaiting committer review

#39308 GH-15192: [C++] Bring back `case_when` tests for union types
  cpp/src/arrow/compute/kernels/scalar_if_else_test.cc
Labels: Component: C++, awaiting committer review

#38840 GH-38725: [Java] decompression in Lz4CompressionCodec.java does not set writer index
  java/compression/src/main/java/org/apache/arrow/compression/Lz4CompressionCodec.java
  java/compression/src/test/java/org/apache/arrow/compression/TestCompressionCodec.java
Labels: Component: Java, awaiting merge

#39199 GH-39196: [Python][Docs] Document the Arrow PyCapsule protocol in the 'extending pyarrow' section of the Python docs
  docs/source/format/CDataInterface/PyCapsuleInterface.rst
  docs/source/python/extending_types.rst
Labels: Component: Documentation, awaiting committer review

#39236 GH-39232: [C++] Support binary to fixed_size_binary cast
  cpp/src/arrow/compute/kernels/scalar_cast_string.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
Labels: Component: C++, awaiting review, awaiting committer review

#39340 GH-39339: [C++] Add ForceCachedHierarchicalNamespaceSupport to help with testing
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting committer review

#39112 GH-31303: [Python] Remove the legacy ParquetDataset custom python-based implementation
  docs/source/python/parquet.rst
  python/benchmarks/parquet.py
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/__init__.py
  python/pyarrow/tests/parquet/common.py
  python/pyarrow/tests/parquet/test_basic.py
  python/pyarrow/tests/parquet/test_compliant_nested_type.py
  python/pyarrow/tests/parquet/test_data_types.py
  python/pyarrow/tests/parquet/test_dataset.py
  python/pyarrow/tests/parquet/test_datetime.py
  python/pyarrow/tests/parquet/test_pandas.py
  python/pyarrow/tests/parquet/test_parquet_file.py
  python/pyarrow/tests/parquet/test_parquet_writer.py
  python/pyarrow/tests/test_dataset.py
  python/pyarrow/tests/test_hdfs.py
Labels: Component: Python, Component: Documentation, awaiting merge

#39346 GH-39343: [C++][FS][Azure] Add client secret auth configuration
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting review

#39316 GH-39006: [Python] Extract libparquet requirements out of libarrow_python.so to new libarrow_python_parquet_encryption.so
  ci/scripts/python_test.sh
  ci/scripts/python_wheel_unix_test.sh
  ci/scripts/python_wheel_windows_test.bat
  python/CMakeLists.txt
  python/pyarrow/src/arrow/python/parquet_encryption.h
Labels: Component: Python, awaiting change review

#39235 GH-39014: [Java] Add default truststore along with KeychainStore when on Mac system
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/client/utils/ClientAuthenticationUtils.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/client/utils/ClientAuthenticationUtilsTest.java
Labels: Component: Java, awaiting committer review

#39266 GH-39265: [Java] Make it run well with the netty newest version 4.1.104
  java/memory/memory-netty/src/main/java/io/netty/buffer/PooledByteBufAllocatorL.java
  java/pom.xml
Labels: Component: Java, awaiting changes

#39348 GH-39335: [C#] Support creating FlightClient with Grpc.Core.Channel
  csharp/src/Apache.Arrow.Flight/Client/FlightClient.cs
Labels: Component: C#, awaiting committer review

#39321 GH-39320: [C++][FS][Azure] Add managed identity auth configuration
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting change review

#38394 GH-37055: [C++] Optimize hash kernels for Dictionary ChunkedArrays
  cpp/src/arrow/compute/kernels/vector_hash.cc
  cpp/src/arrow/compute/kernels/vector_hash_benchmark.cc
Labels: Component: C++, awaiting committer review

#39018 GH-39017: [JS] Add `typeId` as attribute
  js/src/type.ts
Labels: Component: JavaScript, awaiting review

#39364 GH-39363: [C++] Use Cast() instead of CastTo() for Parquet
  cpp/src/arrow/dataset/file_parquet.cc
Labels: Component: C++, awaiting committer review

#39312 GH-39357: [C++] Reduce function.h includes
  cpp/examples/arrow/compute_and_write_csv_example.cc
  cpp/src/arrow/acero/aggregate_internal.cc
  cpp/src/arrow/acero/scalar_aggregate_node.cc
  cpp/src/arrow/compute/api.h
  cpp/src/arrow/compute/api_aggregate.h
  cpp/src/arrow/compute/api_scalar.h
  cpp/src/arrow/compute/api_vector.h
  cpp/src/arrow/compute/cast.h
  cpp/src/arrow/compute/function.cc
  cpp/src/arrow/compute/function.h
  cpp/src/arrow/compute/function_options.h
  cpp/src/arrow/compute/kernels/scalar_if_else_benchmark.cc
  cpp/src/arrow/compute/kernels/vector_rank.cc
  cpp/src/arrow/compute/kernels/vector_replace_benchmark.cc
  cpp/src/arrow/compute/kernels/vector_run_end_encode_test.cc
  cpp/src/arrow/compute/kernels/vector_select_k.cc
  cpp/src/arrow/compute/kernels/vector_sort.cc
  cpp/src/arrow/compute/registry_test.cc
  cpp/src/arrow/compute/type_fwd.h
Labels: Component: C++, awaiting committer review

#39252 GH-39251: [JS] Use resizable buffer in builder
  js/src/builder.ts
  js/src/builder/binary.ts
  js/src/builder/buffer.ts
  js/src/builder/largeutf8.ts
  js/src/builder/union.ts
  js/src/builder/utf8.ts
Labels: Component: JavaScript, awaiting committer review

#39382 MINOR: [C#] Remove launchSettings.json
  csharp/test/Apache.Arrow.IntegrationTest/Properties/launchSettings.json
Labels: Component: C#, awaiting merge

#39379 GH-39326: [C++] Flaky DatasetWriterTestFixture.MaxRowsOneWriteBackpresure test
  cpp/src/arrow/dataset/dataset_writer_test.cc
Labels: Component: C++, awaiting merge
