Repository apache/arrow, pull requests merged in 2023-05, with the labels that each got.

#35376 GH-35375: [C++][FlightRPC] Add `arrow::flight::ServerCallContext::incoming_headers()`
  cpp/src/arrow/flight/client.h
  cpp/src/arrow/flight/flight_test.cc
  cpp/src/arrow/flight/middleware.h
  cpp/src/arrow/flight/server.h
  cpp/src/arrow/flight/test_util.cc
  cpp/src/arrow/flight/transport/grpc/grpc_server.cc
  cpp/src/arrow/flight/transport/ucx/ucx_server.cc
  cpp/src/arrow/flight/types.h
Labels: Component: C++, Component: FlightRPC, awaiting merge

#35380 GH-35379: [C++][FlightRPC] Add teardown needed checks to avoid crash on error
  cpp/src/arrow/flight/flight_test.cc
Labels: Component: C++, Component: FlightRPC, awaiting merge

#35364 GH-35363: [C++] Fix Substrait schema names and for segmented aggregation
  cpp/src/arrow/acero/aggregate_node.cc
  cpp/src/arrow/engine/substrait/options.cc
  cpp/src/arrow/engine/substrait/serde.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/engine/substrait/type_fwd.h
Labels: Component: C++, awaiting change review

#35351 GH-35331: [C++][Parquet] Parquet Export Footer metadata SortColumns
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/metadata.h
  cpp/src/parquet/metadata_test.cc
  cpp/src/parquet/properties.h
  cpp/src/parquet/thrift_internal.h
  cpp/src/parquet/types.h
Labels: Component: Parquet, Component: C++, awaiting merge

#35242 GH-35171: [C++][Parquet] Implement CRC for data page v2
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/reader.h
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/file_deserialize_test.cc
  cpp/src/parquet/types.cc
  cpp/src/parquet/types.h
Labels: Component: Parquet, Component: C++, awaiting merge

#35129 GH-35059: [C++] Fix "hash_count" for run-end encoded inputs
  cpp/src/arrow/acero/hash_aggregate_test.cc
  cpp/src/arrow/array/data.cc
  cpp/src/arrow/compute/kernels/hash_aggregate.cc
  cpp/src/arrow/testing/gtest_util.cc
  cpp/src/arrow/testing/gtest_util.h
Labels: Component: C++, awaiting change review

#35378 GH-35377: [C++][FlightRPC] Add a `ServerCallContext` parameter to `arrow::flight::ServerAuthHandler` methods
  c_glib/arrow-flight-glib/server.cpp
  c_glib/arrow-flight-glib/server.h
  c_glib/arrow-flight-glib/server.hpp
  c_glib/test/helper/flight-server.rb
  cpp/src/arrow/flight/server_auth.cc
  cpp/src/arrow/flight/server_auth.h
  cpp/src/arrow/flight/test_util.cc
  cpp/src/arrow/flight/test_util.h
  cpp/src/arrow/flight/transport/grpc/grpc_server.cc
Labels: Component: C++, Component: FlightRPC, Component: GLib, awaiting merge

#35384 GH-35383: [C++] Prefer max_concurrency over executor capacity to avoid segmentation fault
  cpp/src/arrow/acero/aggregate_node.cc
Labels: Component: C++, awaiting changes

#35387 GH-34523: [C++] Avoid mixing bundled Abseil and system Abseil
  cpp/CMakeLists.txt
  cpp/src/arrow/flight/CMakeLists.txt
Labels: Component: C++, Component: FlightRPC, awaiting changes

#35386 MINOR: [Archery] Fixed ArrowSources.__str__() not returning string
  dev/archery/archery/utils/source.py
Labels: awaiting merge

#35401 GH-35400: [R] Import download.file from utils
  r/NAMESPACE
  r/R/io.R
Labels: Component: R, awaiting merge

#35173 GH-34775: [R] arrow_table: as.data.frame() sometimes returns a tbl and sometimes a data.frame
  r/R/array.R
  r/R/arrow-tabular.R
  r/R/csv.R
  r/R/dplyr-collect.R
  r/R/dplyr.R
  r/R/feather.R
  r/R/ipc-stream.R
  r/R/json.R
  r/R/metadata.R
  r/R/parquet.R
  r/tests/testthat/helper-expectation.R
  r/tests/testthat/test-RecordBatch.R
  r/tests/testthat/test-Table.R
  r/tests/testthat/test-compute-aggregate.R
  r/tests/testthat/test-compute-sort.R
  r/tests/testthat/test-dataset-csv.R
  r/tests/testthat/test-dataset.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
  r/tests/testthat/test-dplyr-query.R
  r/tests/testthat/test-duckdb.R
  r/tests/testthat/test-feather.R
  r/tests/testthat/test-metadata.R
  r/tests/testthat/test-na-omit.R
  r/tests/testthat/test-python-flight.R
  r/tests/testthat/test-python.R
  r/tests/testthat/test-read-write.R
  r/tests/testthat/test-utf.R
Labels: Component: R, Component: Parquet, awaiting merge

#34818 GH-33804: [Python] Add support for manylinux_2_28 wheel
  .env
  ci/docker/python-wheel-manylinux.dockerfile
  ci/scripts/install_glibc.sh
  dev/release/verify-release-candidate.sh
  dev/tasks/python-wheels/github.linux.yml
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: Component: Python, awaiting change review

#35412 GH-35410: [CI] Pin urllib3 for gcs testbench
  ci/scripts/install_gcs_testbench.sh
Labels: awaiting committer review

#35405 GH-35404: [Docs] Fix logo url and temporarily pin sphinx to 5.x to
  ci/conda_env_sphinx.txt
  docs/requirements.txt
  docs/source/_templates/docs-sidebar.html
Labels: Component: Documentation, awaiting changes

#35427 GH-35426: [CI][Packaging][Conan] Build grpc
  ci/scripts/conan_build.sh
Labels: awaiting committer review

#34420 GH-34386: [C++] Add a PathFromUriOrPath method
  cpp/src/arrow/filesystem/filesystem.cc
  cpp/src/arrow/filesystem/filesystem.h
  cpp/src/arrow/filesystem/gcsfs.cc
  cpp/src/arrow/filesystem/gcsfs.h
  cpp/src/arrow/filesystem/gcsfs_test.cc
  cpp/src/arrow/filesystem/hdfs.cc
  cpp/src/arrow/filesystem/hdfs.h
  cpp/src/arrow/filesystem/hdfs_test.cc
  cpp/src/arrow/filesystem/localfs.cc
  cpp/src/arrow/filesystem/localfs.h
  cpp/src/arrow/filesystem/localfs_test.cc
  cpp/src/arrow/filesystem/mockfs.cc
  cpp/src/arrow/filesystem/mockfs.h
  cpp/src/arrow/filesystem/path_util.cc
  cpp/src/arrow/filesystem/path_util.h
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs.h
  cpp/src/arrow/filesystem/s3fs_test.cc
  cpp/src/arrow/filesystem/util_internal.cc
  cpp/src/arrow/filesystem/util_internal.h
Labels: Component: C++, awaiting merge

#35436 GH-35435: [Ruby][Flight] Add ArrowFlight::Client#authenticate_basic
  ruby/red-arrow-flight/lib/arrow-flight/client.rb
  ruby/red-arrow-flight/lib/arrow-flight/loader.rb
Labels: Component: Ruby, awaiting committer review

#35276 GH-35202: [Go][Parquet] Fix panic reading nested empty list
  go/arrow/memory/internal/cgoalloc/allocator.go
  go/parquet/file/level_conversion.go
  go/parquet/pqarrow/column_readers.go
  go/parquet/pqarrow/encode_arrow_test.go
Labels: Component: Go, awaiting committer review

#35222 GH-35267: [C#] Serialize TotalBytes and TotalRecords in FlightInfo
  csharp/src/Apache.Arrow.Flight/FlightInfo.cs
  csharp/test/Apache.Arrow.Flight.TestWeb/FlightHolder.cs
  csharp/test/Apache.Arrow.Flight.Tests/FlightTests.cs
Labels: Component: C#, awaiting merge

#35454 GH-35442: [C++][FlightRPC] Pass ServerCallContext instead of CallHeaders to ServerMiddlewareFactory::StartCall()
  cpp/src/arrow/flight/CMakeLists.txt
  cpp/src/arrow/flight/flight_test.cc
  cpp/src/arrow/flight/integration_tests/test_integration.cc
  cpp/src/arrow/flight/server_auth.h
  cpp/src/arrow/flight/server_middleware.cc
  cpp/src/arrow/flight/server_middleware.h
  cpp/src/arrow/flight/server_tracing_middleware.cc
  cpp/src/arrow/flight/transport/grpc/grpc_server.cc
Labels: Component: C++, Component: FlightRPC, awaiting merge

#35430 GH-35099: [CI][Packaging] Upgrade vcpkg to 2023.04.15 Release
  .env
  ci/vcpkg/ports.patch
Labels: awaiting changes

#35481 GH-35482: [Go] Append nulls to values in `array.FixedSizeListBuilder.AppendNull`
  .gitignore
  go/arrow/array/fixed_size_list.go
  go/arrow/example_test.go
Labels: Component: Go, Breaking Change, awaiting merge

#35476 GH-35275: [Java] Ensure VectorSchemaRoot slice returns a new root
  java/vector/src/main/java/org/apache/arrow/vector/VectorSchemaRoot.java
  java/vector/src/test/java/org/apache/arrow/vector/TestVectorSchemaRoot.java
Labels: Component: Java, awaiting changes

#35416 GH-35415: [Python] RecordBatch string reprsentation includes column preview
  python/pyarrow/array.pxi
  python/pyarrow/ipc.pxi
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting committer review

#35469 GH-35468: [C++] Fix Acero var/std for multiple batches
  cpp/src/arrow/acero/groupby_test.cc
  cpp/src/arrow/compute/kernels/aggregate_var_std.cc
Labels: Component: C++

#35493 GH-35489: [MATLAB] Add CMake `build` directory to MATLAB `.gitignore`
  matlab/.gitignore
Labels: awaiting review

#35459 GH-35458: [C++][Benchmarking] Require Google Benchmark 1.6.1 or later
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/csv/parser_benchmark.cc
  cpp/src/arrow/io/memory_benchmark.cc
  cpp/src/arrow/util/benchmark_util.h
  cpp/src/arrow/util/decimal_benchmark.cc
  cpp/src/arrow/util/tdigest_benchmark.cc
Labels: Component: C++, awaiting merge

#35178 GH-34852: [C++][Go][Java][FlightRPC] Add support for ordered data
  cpp/src/arrow/flight/flight_internals_test.cc
  cpp/src/arrow/flight/integration_tests/flight_integration_test.cc
  cpp/src/arrow/flight/integration_tests/test_integration.cc
  cpp/src/arrow/flight/perf_server.cc
  cpp/src/arrow/flight/serialization_internal.cc
  cpp/src/arrow/flight/sql/example/acero_server.cc
  cpp/src/arrow/flight/sql/example/sqlite_server.cc
  cpp/src/arrow/flight/sql/server.cc
  cpp/src/arrow/flight/test_util.cc
  cpp/src/arrow/flight/test_util.h
  cpp/src/arrow/flight/types.cc
  cpp/src/arrow/flight/types.h
  dev/archery/archery/integration/runner.py
  docs/source/format/Flight.rst
  format/Flight.proto
  go/arrow/flight/internal/flight/Flight.pb.go
  go/arrow/flight/internal/flight/Flight_grpc.pb.go
  go/arrow/flight/server.go
  go/arrow/internal/flight_integration/scenario.go
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightInfo.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestBasicOperation.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/OrderedScenario.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/Scenarios.java
  java/flight/flight-integration-tests/src/test/java/org/apache/arrow/flight/integration/tests/IntegrationTest.java
Labels: Component: Java, Component: Go, Component: C++, Component: FlightRPC, Component: Documentation, Breaking Change, awaiting changes

#35366 GH-35329: [Python] Address pandas.types.is_sparse deprecation
  python/pyarrow/pandas-shim.pxi
Labels: Component: Python, awaiting committer review

#35487 GH-35485: [CI][Python] Archery formats Python C++ codebase
  dev/archery/archery/lang/python.py
  dev/archery/archery/utils/lint.py
  docs/source/developers/python.rst
  python/pyarrow/src/arrow/python/arrow_to_pandas.cc
  python/pyarrow/src/arrow/python/arrow_to_pandas.h
  python/pyarrow/src/arrow/python/csv.h
  python/pyarrow/src/arrow/python/datetime.cc
  python/pyarrow/src/arrow/python/datetime.h
  python/pyarrow/src/arrow/python/decimal.cc
  python/pyarrow/src/arrow/python/deserialize.h
  python/pyarrow/src/arrow/python/extension_type.cc
  python/pyarrow/src/arrow/python/extension_type.h
  python/pyarrow/src/arrow/python/filesystem.cc
  python/pyarrow/src/arrow/python/filesystem.h
  python/pyarrow/src/arrow/python/flight.cc
  python/pyarrow/src/arrow/python/gdb.cc
  python/pyarrow/src/arrow/python/helpers.cc
  python/pyarrow/src/arrow/python/helpers.h
  python/pyarrow/src/arrow/python/inference.h
  python/pyarrow/src/arrow/python/ipc.h
  python/pyarrow/src/arrow/python/numpy_convert.h
  python/pyarrow/src/arrow/python/platform.h
  python/pyarrow/src/arrow/python/python_test.cc
  python/pyarrow/src/arrow/python/python_to_arrow.cc
  python/pyarrow/src/arrow/python/python_to_arrow.h
  python/pyarrow/src/arrow/python/serialize.h
  python/pyarrow/src/arrow/python/udf.cc
  python/pyarrow/src/arrow/python/udf.h
Labels: Component: Python, Component: Documentation, awaiting merge

#35347 GH-35270: [C++] Use Buffer instead of raw buffer in hash join internals
  cpp/src/arrow/compute/key_map.cc
  cpp/src/arrow/compute/key_map.h
  cpp/src/arrow/compute/key_map_avx2.cc
Labels: Component: C++, awaiting changes

#35517 GH-35516: [R] Add 11.0.0.3 to backwards compatibility matrix
  dev/tasks/r/github.linux.arrow.version.back.compat.yml
Labels: awaiting merge

#35368 GH-34722: [C++][Parquet] Minor: Update wording of Parquet NextPage
  cpp/src/arrow/buffer.h
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader.h
Labels: Component: Parquet, Component: C++, awaiting merge

#35484 GH-35483: [CI][C++] Add header for snprintf for Windows
  python/pyarrow/src/arrow/python/platform.h
Labels: Component: Python, awaiting change review

#35429 MINOR: [R] Update docs on release process
  r/PACKAGING.md
Labels: Component: R, Component: Documentation, awaiting merge

#35388 MINOR: [R] Fix typo in installation vignette
  r/vignettes/install_nightly.Rmd
Labels: Component: R, awaiting merge

#35478 MINOR: [CI][R] Nightly R upload fails due to wrong branch
  .github/workflows/r_nightly.yml
Labels: Component: Continuous Integration, awaiting merge

#35529 MINOR: [R] Build docs for enums
  r/man/enums.Rd
Labels: Component: R, awaiting merge

#35340 MINOR: [C++] Add missing RunEndEncodedType dtor
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
Labels: Component: C++, awaiting committer review

#35509 GH-35503: [CI][Packaging][C++] Snappy patch fails to apply on arm64 windows wheel builds
  ci/vcpkg/ports.patch
Labels: awaiting committer review

#35432 GH-35425: [R] Tests failures on R < 4.0 due to data.frame conversion
  r/tests/testthat/test-dataset-csv.R
Labels: Component: R, awaiting committer review

#35504 GH-35490: [Python] Interchange protocol: update tests for string and large_string
  python/pyarrow/tests/interchange/test_conversion.py
Labels: Component: Python, awaiting merge

#35502 GH-32282: [R] Update case_when() binding to match changes in dplyr
  r/R/dplyr-funcs-conditional.R
  r/R/dplyr-funcs-doc.R
  r/man/acero.Rd
  r/tests/testthat/test-dplyr-funcs-conditional.R
Labels: Component: R, awaiting merge

#35396 GH-35390: [Python] Consolidate some APIs in Table and RecordBatch
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting review

#35505 GH-35389: [Python] Fix coalesce_keys=False option in join operation
  python/pyarrow/acero.py
  python/pyarrow/tests/test_exec_plan.py
Labels: Component: Python, awaiting merge

#35434 GH-35433: [CI] Unpin urllib3, upgrade gcs-testbench
  ci/scripts/install_gcs_testbench.sh
Labels: awaiting merge

#35353 GH-35352: [Java] Fix issues with "semi complex" types.
  java/vector/src/main/codegen/templates/AbstractPromotableFieldWriter.java
  java/vector/src/main/codegen/templates/ComplexWriters.java
  java/vector/src/main/codegen/templates/StructWriters.java
  java/vector/src/main/codegen/templates/UnionListWriter.java
  java/vector/src/main/codegen/templates/UnionReader.java
  java/vector/src/main/codegen/templates/UnionVector.java
  java/vector/src/main/codegen/templates/UnionWriter.java
  java/vector/src/main/java/org/apache/arrow/vector/DurationVector.java
  java/vector/src/main/java/org/apache/arrow/vector/FixedSizeBinaryVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampMicroTZVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampMilliTZVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampNanoTZVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampSecTZVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/impl/PromotableWriter.java
  java/vector/src/test/java/org/apache/arrow/vector/TestFixedSizeBinaryVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestListVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestUnionVector.java
  java/vector/src/test/java/org/apache/arrow/vector/complex/impl/TestPromotableWriter.java
  java/vector/src/test/java/org/apache/arrow/vector/complex/writer/TestComplexWriter.java
Labels: Component: Java, awaiting merge

#35499 GH-35304: [C++][ORC] Support attributes conversion
  cpp/src/arrow/adapters/orc/adapter.cc
  cpp/src/arrow/adapters/orc/adapter_test.cc
  cpp/src/arrow/adapters/orc/util.cc
  cpp/src/arrow/adapters/orc/util.h
Labels: Component: C++, awaiting committer review

#35527 GH-35526: [CI][C++] Fixing arrow::internal::IsNullRunEndEncoded redeclared
  cpp/src/arrow/array/data.h
  cpp/src/gandiva/llvm_generator.cc
Labels: Component: C++, Component: C++ - Gandiva, awaiting committer review

#35522 GH-35521: [C++] Hash null bitmap only if null count is 0
  cpp/src/arrow/scalar.cc
  cpp/src/arrow/scalar_test.cc
Labels: Component: C++, awaiting merge

#35395 GH-35040: [Python] Pyarrow scalar cast should use compute kernel
  python/pyarrow/scalar.pxi
  python/pyarrow/tests/test_scalars.py
Labels: Component: Python, awaiting committer review

#35554 GH-35553: [JAVA] Fix unwrap() in NettyArrowBuf
  java/memory/memory-netty/src/main/java/io/netty/buffer/NettyArrowBuf.java
  java/memory/memory-netty/src/test/java/io/netty/buffer/TestNettyArrowBuf.java
Labels: Component: Java, awaiting merge

#35548 GH-34789: [CI][Python] Update the Python versions in our nightly CI matrix
  dev/tasks/tasks.yml
Labels: awaiting committer review

#35530 GH-35264: [Python] Interchange protocol: test clean-up
  python/pyarrow/tests/interchange/test_conversion.py
Labels: Component: Python, awaiting changes

#35525 GH-35528:[Java] Fix RangeEqualsVisitor comparing BitVector with different begin index
  java/vector/src/main/java/org/apache/arrow/vector/compare/RangeEqualsVisitor.java
  java/vector/src/test/java/org/apache/arrow/vector/compare/TestRangeEqualsVisitor.java
Labels: Component: Java, awaiting merge

#35146 GH-29781: [C++][Parquet] Switch to use compliant nested types by default
  cpp/src/parquet/arrow/arrow_schema_test.cc
  cpp/src/parquet/properties.h
  docs/source/cpp/parquet.rst
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/_parquet.pyx
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_compliant_nested_type.py
  python/pyarrow/tests/parquet/test_data_types.py
Labels: Component: Parquet, Component: C++, Component: Python, Component: Documentation, awaiting changes

#35451 [FORMAT]: Minor Fix `VarBinary` examples to use Values buffer
  docs/source/format/Columnar.rst
Labels: Component: Documentation, awaiting merge

#35583 GH-34017: [Python][FlightRPC][Doc] Fix FlightStreamReader.read_chunk's docstring
  python/pyarrow/_flight.pyx
Labels: Component: Python, Component: FlightRPC, awaiting merge

#35590 GH-35588: [Java] returning a constant hashCode for null values, resolves #35588
  java/vector/src/main/java/org/apache/arrow/vector/NullVector.java
Labels: Component: Java, awaiting changes

#35495 GH-35492 [MATLAB]: Add arrow.array.Float32Array MATLAB Class
  matlab/src/cpp/arrow/matlab/proxy/factory.cc
  matlab/src/matlab/+arrow/+array/Float32Array.m
  matlab/test/arrow/array/tFloat32Array.m
Labels: Component: MATLAB, awaiting merge

#35428 GH-35423: [C++][Parquet] Parquet PageReader Force decompression buffer resize smaller
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/file_deserialize_test.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#35520 GH-35519: [C++][Parquet] Fixing exception handling in parquet FileSerializer
  cpp/src/parquet/file_writer.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#35255 GH-35193: [Python][Packaging] Enable GCS on Windows wheels
  ci/appveyor-cpp-build.bat
  ci/scripts/install_gcs_testbench.bat
  ci/scripts/python_wheel_windows_build.bat
  ci/scripts/python_wheel_windows_test.bat
Labels: awaiting merge

#35597 GH-35596: [C++][CI] Improve compilation caching with PCG
  cpp/cmake_modules/SetupCxxFlags.cmake
  cpp/src/arrow/vendored/pcg/README.md
  cpp/src/arrow/vendored/pcg/pcg_extras.hpp
Labels: Component: C++, Component: Documentation, awaiting committer review

#35612 GH-35594: [R][C++] Bump vendored date library
  cpp/src/arrow/vendored/datetime/README.md
  cpp/src/arrow/vendored/datetime/date.h
  cpp/src/arrow/vendored/datetime/tz.cpp
  cpp/src/arrow/vendored/datetime/tz.h
Labels: Component: C++, Component: Documentation, awaiting committer review

#35449 GH-35448: [C++] Fix detection of %z in strptime format
  cpp/src/arrow/compute/kernels/scalar_string_test.cc
  cpp/src/arrow/compute/kernels/scalar_temporal_unary.cc
Labels: Component: C++, awaiting merge

#35549 GH-35438: [Docs] Make corrections to the source docs
  docs/source/cpp/api/compute.rst
  docs/source/cpp/examples/index.rst
  docs/source/cpp/streaming_execution.rst
  docs/source/developers/cpp/building.rst
  docs/source/developers/java/building.rst
Labels: Component: Documentation, awaiting merge

#35592 GH-35539: [C++] Remove use of internal header files from public header file
  cpp/src/arrow/compute/key_map.cc
  cpp/src/arrow/compute/key_map.h
Labels: Component: C++, awaiting review

#35551 GH-35550: [MATLAB] Add public `toMATLAB` method to `arrow.array.Array` for converting to MATLAB types
  matlab/src/cpp/arrow/matlab/array/proxy/array.cc
  matlab/src/cpp/arrow/matlab/array/proxy/array.h
  matlab/src/cpp/arrow/matlab/array/proxy/numeric_array.h
  matlab/src/matlab/+arrow/+array/Array.m
  matlab/src/matlab/+arrow/+array/Float32Array.m
  matlab/src/matlab/+arrow/+array/Float64Array.m
  matlab/test/arrow/array/tFloat32Array.m
  matlab/test/arrow/array/tFloat64Array.m
Labels: Component: MATLAB, awaiting committer review

#35626 GH-35617: [Docs] Current n_buffers use in C API example
  docs/source/format/CDataInterface.rst
Labels: Component: Documentation, awaiting review

#35614 GH-32739: [CI][Docs] Document Docs PR Preview
  docs/source/developers/documentation.rst
  docs/source/developers/images/docs_preview_1.jpeg
  docs/source/developers/images/docs_preview_2.jpeg
Labels: Component: Documentation, awaiting merge

#14667 GH-33517: [C++][Flight] Exercise UCX on CI
  ci/docker/conda-cpp.dockerfile
  ci/scripts/cpp_build.sh
  cpp/src/arrow/flight/transport/ucx/CMakeLists.txt
Labels: Component: C++, Component: FlightRPC, awaiting merge

#35605 GH-35571: [C++][CI][Parquet] Change `EQ` to `FLOAT_EQ` in Decryption tests
  cpp/src/parquet/encryption/read_configurations_test.cc
  cpp/src/parquet/encryption/test_encryption_util.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#35513 GH-35506: [C++] Support First and Last aggregators in Substrait
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/function_test.cc
  cpp/src/arrow/engine/substrait/serde.h
Labels: Component: C++, awaiting merge

#35642 MINOR: [CI] Display detailed ccache counters
  appveyor.yml
  ci/scripts/cpp_build.sh
  ci/scripts/java_jni_macos_build.sh
  ci/scripts/java_jni_manylinux_build.sh
  ci/scripts/java_jni_windows_build.sh
Labels: awaiting review

#35646 MINOR: Ignore direnv file .envrc
  .gitignore
Labels: awaiting merge

#35653 GH-35651: [C++] Don't use self-move with MinGW
  cpp/src/arrow/util/small_vector_test.cc
Labels: Component: C++, awaiting committer review

#35473 GH-35445: [R] Behavior something like group_by(foo) |> across(everything()) is different from dplyr
  r/R/dplyr-across.R
  r/R/dplyr-arrange.R
  r/R/dplyr-filter.R
  r/R/dplyr-mutate.R
  r/R/dplyr-summarize.R
  r/tests/testthat/test-dplyr-across.R
  r/tests/testthat/test-dplyr-mutate.R
  r/tests/testthat/test-dplyr-summarize.R
Labels: Component: R, awaiting merge

#35657 MINOR: [C++] Add mising pragma-once
  cpp/src/arrow/compute/kernels/ree_util_internal.h
Labels: Component: C++, awaiting merge

#35673 GH-35538: [C++] Remove unnecessary status.h include from protobuf
  cpp/src/arrow/engine/substrait/serde.cc
Labels: Component: C++, awaiting merge

#35556 GH-35537: [MATLAB] Create shared test class utility for numeric arrays
  matlab/test/arrow/array/hNumericArray.m
  matlab/test/arrow/array/tFloat32Array.m
  matlab/test/arrow/array/tFloat64Array.m
Labels: Component: MATLAB, awaiting merge

#35663 GH-35662: [CI][C++][MinGW] Avoid crash in FormatTwoDigits() with release build
  cpp/src/arrow/util/formatting.h
Labels: Component: C++, awaiting committer review

#35680 GH-35606: [CI][C++][MinGW32] Use more accurate float inputs for decimal test
  cpp/src/arrow/util/decimal_test.cc
Labels: Component: C++, awaiting committer review

#35682 GH-35681: [Ruby] Add support for #select_columns with empty table
  ruby/red-arrow/lib/arrow/chunked-array.rb
  ruby/red-arrow/test/test-table.rb
Labels: Component: Ruby, awaiting committer review

#34919 GH-34918: [C++] Update vendored double-conversion 3.2.1
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/vendored/double-conversion/README.md
  cpp/src/arrow/vendored/double-conversion/bignum-dtoa.cc
  cpp/src/arrow/vendored/double-conversion/bignum.cc
  cpp/src/arrow/vendored/double-conversion/bignum.h
  cpp/src/arrow/vendored/double-conversion/cached-powers.cc
  cpp/src/arrow/vendored/double-conversion/cached-powers.h
  cpp/src/arrow/vendored/double-conversion/diy-fp.cc
  cpp/src/arrow/vendored/double-conversion/diy-fp.h
  cpp/src/arrow/vendored/double-conversion/double-conversion.h
  cpp/src/arrow/vendored/double-conversion/double-to-string.cc
  cpp/src/arrow/vendored/double-conversion/double-to-string.h
  cpp/src/arrow/vendored/double-conversion/fast-dtoa.cc
  cpp/src/arrow/vendored/double-conversion/fixed-dtoa.cc
  cpp/src/arrow/vendored/double-conversion/ieee.h
  cpp/src/arrow/vendored/double-conversion/patches/double-to-string.cc.patch
  cpp/src/arrow/vendored/double-conversion/patches/double-to-string.h.patch
  cpp/src/arrow/vendored/double-conversion/string-to-double.cc
  cpp/src/arrow/vendored/double-conversion/string-to-double.h
  cpp/src/arrow/vendored/double-conversion/strtod.cc
  cpp/src/arrow/vendored/double-conversion/strtod.h
  cpp/src/arrow/vendored/double-conversion/update.sh
  cpp/src/arrow/vendored/double-conversion/utils.h
Labels: Component: C++, Component: Documentation, awaiting committer review

#35562 GH-35557 [MATLAB] Add unsigned integer array MATLAB classes (i.e. `UInt8Array`, `UInt16Array`, `UInt32Array`, `UInt64Array`)
  matlab/src/cpp/arrow/matlab/proxy/factory.cc
  matlab/src/matlab/+arrow/+array/UInt16Array.m
  matlab/src/matlab/+arrow/+array/UInt32Array.m
  matlab/src/matlab/+arrow/+array/UInt64Array.m
  matlab/src/matlab/+arrow/+array/UInt8Array.m
  matlab/test/arrow/array/tUInt16Array.m
  matlab/test/arrow/array/tUInt32Array.m
  matlab/test/arrow/array/tUInt64Array.m
  matlab/test/arrow/array/tUInt8Array.m
Labels: Component: MATLAB, awaiting review

#35660 GH-35659: [Swift] Initial Swift IPC writer
  swift/Arrow/Sources/Arrow/ArrowBuffer.swift
  swift/Arrow/Sources/Arrow/ArrowBufferBuilder.swift
  swift/Arrow/Sources/Arrow/ArrowReader.swift
  swift/Arrow/Sources/Arrow/ArrowReaderHelper.swift
  swift/Arrow/Sources/Arrow/ArrowTable.swift
  swift/Arrow/Sources/Arrow/ArrowWriter.swift
  swift/Arrow/Sources/Arrow/ArrowWriterHelper.swift
  swift/Arrow/Tests/ArrowTests/ArrayTests.swift
  swift/Arrow/Tests/ArrowTests/IPCTests.swift
  swift/Arrow/Tests/ArrowTests/RecordBatchTests.swift
  swift/Arrow/Tests/ArrowTests/TableTests.swift
Labels: awaiting merge

#35683 GH-35501: [C++] Fix error C2280 in MSVC
  cpp/src/arrow/compute/function_internal.h
Labels: Component: C++, awaiting committer review

#35696 GH-35695: [CI][Packaging][Conan] Use build missing dependencies instead of defining them individually
  ci/scripts/conan_build.sh
Labels: awaiting merge

#35674 GH-35359: [C++] FixedSizeListArray.flatten() errors if all elements are null
  cpp/src/arrow/array/array_list_test.cc
  cpp/src/arrow/array/array_nested.cc
  cpp/src/arrow/compute/kernels/vector_nested_test.cc
Labels: Component: C++, awaiting changes

#35613 GH-35611: [C++] Remove unnecessary safe operations for ListBuilder and BinaryBuilder
  cpp/src/arrow/array/builder_binary.h
  cpp/src/arrow/array/builder_nested.h
Labels: Component: C++, awaiting committer review

#35690 GH-35684: [Go][Parquet] Fix nil dereference with nil list array
  go/parquet/pqarrow/encode_arrow.go
  go/parquet/pqarrow/encode_arrow_test.go
Labels: Component: Go, awaiting change review

#35422 MINOR: [C++] Use [] instead of exception-throwing at(i) in concatenate.cc
  cpp/src/arrow/array/concatenate.cc
Labels: Component: C++, awaiting merge

#35197 GH-14946: [C++] Add flattening FieldPath/FieldRef::Get methods
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/field_ref_test.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
  cpp/src/arrow/type_test.cc
Labels: Component: C++, awaiting committer review

#35280 GH-29887: [C++] Implement dictionary array sorting
  cpp/src/arrow/compute/kernels/vector_array_sort.cc
  cpp/src/arrow/compute/kernels/vector_rank.cc
  cpp/src/arrow/compute/kernels/vector_sort.cc
  cpp/src/arrow/compute/kernels/vector_sort_benchmark.cc
  cpp/src/arrow/compute/kernels/vector_sort_internal.h
  cpp/src/arrow/compute/kernels/vector_sort_test.cc
  cpp/src/arrow/util/benchmark_util.h
Labels: Component: C++, awaiting change review

#35046 MINOR: [C++] io_util.cc: fix for macOS without MACH_TASK_BASIC_INFO
  cpp/src/arrow/util/io_util.cc
Labels: Component: C++, awaiting committer review

#35561 GH-35558: [MATLAB] Add signed integer array MATLAB classes (i.e. `Int8Array`, `Int16Array`, `Int32Array`, `Int64Array`)
  matlab/src/cpp/arrow/matlab/proxy/factory.cc
  matlab/src/matlab/+arrow/+array/Int16Array.m
  matlab/src/matlab/+arrow/+array/Int32Array.m
  matlab/src/matlab/+arrow/+array/Int64Array.m
  matlab/src/matlab/+arrow/+array/Int8Array.m
  matlab/test/arrow/array/tInt16Array.m
  matlab/test/arrow/array/tInt32Array.m
  matlab/test/arrow/array/tInt64Array.m
  matlab/test/arrow/array/tInt8Array.m
Labels: Component: MATLAB, awaiting merge

#35342 GH-32605: [C#] Extend validity buffer api
  csharp/src/Apache.Arrow/Arrays/PrimitiveArrayBuilder.cs
  csharp/src/Apache.Arrow/ArrowBuffer.BitmapBuilder.cs
  csharp/src/Apache.Arrow/BitUtility.cs
  csharp/src/Apache.Arrow/Properties/AssembyInfo.cs
  csharp/test/Apache.Arrow.Tests/ArrayBuilderTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowBufferBitmapBuilderTests.cs
  csharp/test/Apache.Arrow.Tests/BitUtilityTests.cs
Labels: Component: C#, awaiting merge

#35724 GH-35712: [C++][CI] MacOS Disable ASSERT_DEATH in arrow-array-test
  cpp/src/arrow/array/array_dict_test.cc
Labels: Component: C++, awaiting committer review

#35720 MINOR: [Docs][C++] Improve Input Shapes section of Compute doc
  docs/source/cpp/compute.rst
Labels: Component: Documentation, awaiting merge

#35734 GH-35733: [Java] Fix minor type in IntervalMonthDayNanoVector ctor
  java/vector/src/main/java/org/apache/arrow/vector/IntervalMonthDayNanoVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestIntervalMonthDayNanoVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestIntervalYearVector.java
Labels: Component: Java, awaiting review

#35737 GH-35736: [C++] Fix compile key_map_avx2.cc
  cpp/src/arrow/compute/key_map_avx2.cc
Labels: Component: C++, awaiting committer review

#34392 GH-34391: [C++] Future as-of-join-node hangs on distant times
  cpp/src/arrow/acero/asof_join_node.cc
  cpp/src/arrow/acero/asof_join_node_test.cc
  cpp/src/arrow/acero/options.h
  cpp/src/arrow/acero/options_internal.h
Labels: Component: C++, awaiting change review

#35708 GH-35706: [CI] Set minimal permissions on pr_review_trigger.yml
  .github/workflows/pr_review_trigger.yml
Labels: awaiting merge

#34227 GH-34223: [Java] Java Substrait Consumer JNI call to ACERO C++
  ci/scripts/java_jni_macos_build.sh
  ci/scripts/java_jni_manylinux_build.sh
  ci/scripts/java_jni_windows_build.sh
  docs/source/java/index.rst
  docs/source/java/substrait.rst
  java/dataset/CMakeLists.txt
  java/dataset/src/main/cpp/jni_wrapper.cc
  java/dataset/src/main/java/org/apache/arrow/dataset/substrait/AceroSubstraitConsumer.java
  java/dataset/src/main/java/org/apache/arrow/dataset/substrait/JniWrapper.java
  java/dataset/src/test/java/org/apache/arrow/dataset/TestDataset.java
  java/dataset/src/test/java/org/apache/arrow/dataset/substrait/TestAceroSubstraitConsumer.java
  java/dataset/src/test/resources/avroschema/user.avsc
  java/dataset/src/test/resources/substrait/local_files_users.json
  java/dataset/src/test/resources/substrait/named_table_users.json
  java/pom.xml
Labels: Component: Java, Component: Documentation, awaiting merge

#34740 GH-34752: [C++] Add support for LoongArch
  cpp/cmake_modules/SetupCxxFlags.cmake
Labels: Component: C++, awaiting change review

#35738 MINOR: [CI][C++] Make ASan job faster
  docker-compose.yml
Labels: awaiting review

#35753 GH-35752: [CI][GLib][Ruby] Pass GITHUB_ACTIONS environment variable to Docker containers
  c_glib/README.md
  docker-compose.yml
Labels: Component: GLib, Component: Documentation, awaiting committer review

#35755 GH-35754: [CI][GLib] Don't build static C++ libraries
  ci/docker/linux-apt-c-glib.dockerfile
Labels: awaiting committer review

#35464 GH-35125: [C++][Acero] Add a self-defined io-executor in QueryOptions
  cpp/examples/arrow/dataset_parquet_scan_example.cc
  cpp/examples/arrow/execution_plan_documentation_examples.cc
  cpp/src/arrow/acero/exec_plan.cc
  cpp/src/arrow/acero/exec_plan.h
  cpp/src/arrow/acero/query_context.cc
  cpp/src/arrow/compute/registry.h
Labels: Component: C++, awaiting change review

#35764 GH-35763: [Go] Fix TypeEqual for lists
  go/arrow/compare.go
  go/arrow/compare_test.go
Labels: Component: Go, awaiting review

#35762 GH-35761: [Go] Fix map comparison in TypeEqual
  go/arrow/compare.go
  go/arrow/compare_test.go
Labels: awaiting review

#35687 GH-35686:[Go] Add AppendTime to TimestampBuilder
  go/arrow/_tools/tmpl/main.go
  go/arrow/array/numeric.gen.go
  go/arrow/array/numeric.gen.go.tmpl
  go/arrow/array/numericbuilder.gen.go
  go/arrow/array/numericbuilder.gen.go.tmpl
  go/arrow/array/numericbuilder.gen_test.go
  go/arrow/array/timestamp.go
  go/arrow/array/timestamp_test.go
  go/arrow/datatype_fixedwidth.go
  go/arrow/numeric.tmpldata
  go/arrow/type_traits_numeric.gen.go
  go/arrow/type_traits_numeric.gen_test.go
  go/arrow/type_traits_test.go
  go/arrow/type_traits_timestamp.go
Labels: Component: Go, awaiting change review

#35702 GH-35779: [R][Documentation] Document workaround for window-like functionality
  r/vignettes/data_wrangling.Rmd
Labels: Component: R, awaiting merge

#35767 GH-34784: [Go] Fix 32-bit build
  go/arrow/cdata/cdata.go
  go/arrow/compute/internal/exec/utils.go
Labels: Component: Go, awaiting merge

#35791 GH-35771: [Java] Bump Jackson to avoid CVE
  java/flight/flight-sql-jdbc-driver/pom.xml
  java/pom.xml
Labels: Component: Java, awaiting committer review

#35772 MINOR: [JS] Fix typo in comment
  js/src/vector.ts
Labels: Component: JavaScript, awaiting committer review

#35801 GH-35799: [CI] Set s3 region for sccache
  dev/tasks/macros.jinja
  docker-compose.yml
Labels: awaiting review

#35784 GH-35783: [JS] Update dependencies
  js/package.json
  js/src/table.ts
  js/src/util/bn.ts
  js/src/vector.ts
  js/yarn.lock
Labels: awaiting committer review

#35774 GH-35788: [Swift] bug fixes and change reader/writer to user Result type
  swift/Arrow/Sources/Arrow/ArrowArray.swift
  swift/Arrow/Sources/Arrow/ArrowArrayBuilder.swift
  swift/Arrow/Sources/Arrow/ArrowBufferBuilder.swift
  swift/Arrow/Sources/Arrow/ArrowData.swift
  swift/Arrow/Sources/Arrow/ArrowReader.swift
  swift/Arrow/Sources/Arrow/ArrowReaderHelper.swift
  swift/Arrow/Sources/Arrow/ArrowSchema.swift
  swift/Arrow/Sources/Arrow/ArrowTable.swift
  swift/Arrow/Sources/Arrow/ArrowType.swift
  swift/Arrow/Sources/Arrow/ArrowWriter.swift
  swift/Arrow/Sources/Arrow/ArrowWriterHelper.swift
  swift/Arrow/Sources/Arrow/ChunkedArray.swift
  swift/Arrow/Tests/ArrowTests/IPCTests.swift
  swift/Arrow/Tests/ArrowTests/RecordBatchTests.swift
  swift/Arrow/Tests/ArrowTests/TableTests.swift
Labels: awaiting change review

#35565 GH-35498: [C++] Relax EnsureAlignment check in Acero from requiring 64-byte aligned buffers to requiring value-aligned buffers
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/acero/exec_plan.cc
  cpp/src/arrow/acero/exec_plan.h
  cpp/src/arrow/acero/plan_test.cc
  cpp/src/arrow/acero/source_node.cc
  cpp/src/arrow/testing/gtest_util.cc
  cpp/src/arrow/testing/gtest_util.h
  cpp/src/arrow/type_traits.cc
  cpp/src/arrow/type_traits.h
  cpp/src/arrow/util/align_util.cc
  cpp/src/arrow/util/align_util.h
  cpp/src/arrow/util/align_util_test.cc
Labels: Component: C++, awaiting changes

#35811 GH-14790: [Dev] Avoid extra comment with Closes issue id on PRs
  .github/workflows/dev_pr/link.js
Labels: awaiting merge

#35744 GH-35711: [Go] Add `Value` and `GetValueIndex` methods to some builders
  go/arrow/array/dictionary.go
  go/arrow/array/dictionary_test.go
  go/arrow/array/numericbuilder.gen.go
  go/arrow/array/numericbuilder.gen.go.tmpl
  go/internal/hashing/xxh3_memo_table.go
Labels: Component: Go, awaiting changes

#35818 GH-35817: [Docs][C++] Fix value_counts/unique doc about null handling
  cpp/src/arrow/compute/kernels/vector_hash.cc
Labels: Component: C++, awaiting committer review

#35731 GH-35729: [C++][Parquet] Implement batch interface for BloomFilter in Parquet
  cpp/src/arrow/util/bitmap_writer.h
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/bloom_filter.cc
  cpp/src/parquet/bloom_filter.h
  cpp/src/parquet/bloom_filter_benchmark.cc
  cpp/src/parquet/bloom_filter_test.cc
  cpp/src/parquet/encoding_test.cc
  cpp/src/parquet/hasher.h
  cpp/src/parquet/level_conversion.cc
  cpp/src/parquet/level_conversion.h
  cpp/src/parquet/test_util.h
  cpp/src/parquet/xxhasher.cc
  cpp/src/parquet/xxhasher.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#35813 MINOR: [Doc][Python] Clarify behavior of pyarrow.compute.fill_value
  python/pyarrow/compute.py
Labels: Component: Python, awaiting committer review

#35831 MINOR: [Docs][Python] Add a missing .
  docs/source/python/compute.rst
Labels: Component: Documentation, awaiting review

#35834 GH-35820: [C++][CI] EnsureAlignment.Buffer fails on test-build-vcpkg-win
  cpp/src/arrow/util/align_util_test.cc
Labels: Component: C++, Component: Continuous Integration, awaiting committer review

#35842 GH-35845: [CI][Python] Fix usage of assert_frame_equal in test_hdfs.py
  python/pyarrow/pandas-shim.pxi
  python/pyarrow/tests/test_hdfs.py
Labels: Component: Python, awaiting merge

#35758 GH-35757: [C++][Parquet] Build encodings metadata from actual encodings
  cpp/src/parquet/column_writer_test.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/metadata_test.cc
  python/pyarrow/tests/parquet/test_metadata.py
Labels: Component: Parquet, Component: C++, Component: Python, awaiting committer review

#35794 GH-35618: [C++][Doc] Improve doc for Datum
  cpp/src/arrow/datum.h
Labels: Component: C++, awaiting committer review
