Repository apache/arrow, pull requests merged in 2023-06, with the labels that each got.

#35856 GH-35850: [C++] Don't disable optimization with RelWithDebInfo
  cpp/cmake_modules/SetupCxxFlags.cmake
Labels: Component: C++, awaiting changes

#35546 GH-35250: [Python] Add test for datetime column conversion to pandas
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting change review

#35849 GH-35847:[C++][Thirdparty] Bump xxhash version to v0.8.1
  cpp/src/arrow/vendored/xxhash/README.md
  cpp/src/arrow/vendored/xxhash/xxhash.h
Labels: Component: C++, Component: Documentation, awaiting committer review

#34769 GH-33976: [Python] Remove usage of TableGroupBy helper in favor of pyarrow.acero.Declaration
  cpp/src/arrow/acero/CMakeLists.txt
  cpp/src/arrow/acero/aggregate_benchmark.cc
  cpp/src/arrow/acero/aggregate_node_test.cc
  cpp/src/arrow/acero/groupby.cc
  cpp/src/arrow/acero/groupby.h
  python/pyarrow/_acero.pyx
  python/pyarrow/acero.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/includes/libarrow_acero.pxd
  python/pyarrow/table.pxi
Labels: Component: C++, Component: Python, awaiting merge

#35610 GH-35609: [Docs] Enable the build of subsections of the documentation
  docs/Makefile
  docs/requirements.txt
  docs/source/cpp/index.rst
  docs/source/developers/contributing.rst
  docs/source/developers/documentation.rst
  docs/source/developers/guide/architectural_overview.rst
  docs/source/developers/guide/documentation.rst
  docs/source/developers/guide/step_by_step/pr_lifecycle.rst
  docs/source/developers/guide/step_by_step/set_up.rst
  docs/source/developers/guide/tutorials/python_tutorial.rst
  docs/source/developers/guide/tutorials/r_tutorial.rst
  docs/source/developers/index.rst
  docs/source/format/index.rst
Labels: Component: Documentation, awaiting review

#35867 GH-35866: [Go] Provide a copy in `arrow.NestedType.Fields()` implementations
  go/arrow/datatype_nested.go
  go/arrow/datatype_nested_test.go
Labels: Component: Go, awaiting change review

#35814 GH-35360: [C++] Take offset into account in ScalarHashImpl::ArrayHash()
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/scalar.cc
  cpp/src/arrow/scalar_test.cc
  cpp/src/arrow/util/hashing.cc
  cpp/src/arrow/util/hashing.h
  cpp/src/arrow/util/hashing_test.cc
  python/pyarrow/tests/test_scalars.py
Labels: Component: C++, Component: Python, awaiting committer review

#35872 GH-35871: [Go] Account for struct validity bitmap in `array.ApproxEqual`
  go/arrow/array/compare.go
  go/arrow/array/struct.go
  go/parquet/pqarrow/column_readers.go
  go/parquet/pqarrow/encode_arrow_test.go
Labels: Component: Go, awaiting change review

#35878 GH-35838: [C++] Fix asof join backpresure
  cpp/src/arrow/acero/asof_join_node.cc
Labels: Component: C++, awaiting change review

#35860 GH-35730: [C++] Add the ability to specify custom schema on a dataset write
  cpp/src/arrow/dataset/CMakeLists.txt
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/dataset/file_base.h
  cpp/src/arrow/dataset/write_node_test.cc
  python/pyarrow/tests/test_dataset.py
  r/R/arrowExports.R
  r/R/query-engine.R
  r/R/schema.R
  r/src/arrowExports.cpp
  r/src/compute-exec.cpp
Labels: Component: R, Component: C++, Component: Python, awaiting merge

#35885 MINOR: [Go] Add `arrow.ListLikeType` interface
  go/arrow/array/list.go
  go/arrow/datatype_nested.go
Labels: Component: Go, awaiting review

#35893 MINOR: [Go] Use `arrow.ListLikeType`
  go/arrow/ipc/file_reader.go
Labels: Component: Go, awaiting review

#35808 GH-34363: [C++] Use equal size parts in S3 upload for R2 compatibility
  cpp/src/arrow/filesystem/s3fs.cc
Labels: Component: C++, awaiting change review

#35881 GH-35833: [C++] Add support for Abseil 20230125
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#35827 GH-35676: [MATLAB] Add an `InferNulls` name-value pair for controlling null value inference during construction of `arrow.array.Array`
  matlab/src/matlab/+arrow/+args/parseValidElements.m
  matlab/src/matlab/+arrow/+args/validateTypeAndShape.m
  matlab/src/matlab/+arrow/+array/Float32Array.m
  matlab/src/matlab/+arrow/+array/Float64Array.m
  matlab/src/matlab/+arrow/+array/Int16Array.m
  matlab/src/matlab/+arrow/+array/Int32Array.m
  matlab/src/matlab/+arrow/+array/Int64Array.m
  matlab/src/matlab/+arrow/+array/Int8Array.m
  matlab/src/matlab/+arrow/+array/UInt16Array.m
  matlab/src/matlab/+arrow/+array/UInt32Array.m
  matlab/src/matlab/+arrow/+array/UInt64Array.m
  matlab/src/matlab/+arrow/+array/UInt8Array.m
  matlab/test/arrow/array/hNumericArray.m
  matlab/test/arrow/array/tFloat64Array.m
Labels: Component: MATLAB, awaiting change review

#35892 GH-35891: [Doc][Python] Update link to Parquet C++ repository
  docs/source/python/parquet.rst
Labels: Component: Documentation, awaiting committer review

#34873 GH-34749 : [Java] Make Zstd compression level configurable
  java/compression/src/main/java/org/apache/arrow/compression/CommonsCompressionFactory.java
  java/compression/src/main/java/org/apache/arrow/compression/ZstdCompressionCodec.java
  java/compression/src/test/java/org/apache/arrow/compression/TestArrowReaderWriterWithCompression.java
  java/compression/src/test/java/org/apache/arrow/compression/TestCompressionCodec.java
  java/vector/src/main/java/org/apache/arrow/vector/compression/CompressionCodec.java
  java/vector/src/main/java/org/apache/arrow/vector/compression/NoCompressionCodec.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/ArrowFileWriter.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/ArrowStreamWriter.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/ArrowWriter.java
Labels: Component: Java, awaiting merge

#35880 MINOR: [Documentation][Python] Minor tweaks to docs around IPC messages
  docs/source/format/Glossary.rst
  docs/source/format/Other.rst
  python/pyarrow/table.pxi
Labels: Component: Python, Component: Documentation, awaiting committer review

#35904 GH-35868: [C++] Occasional TSAN failure on asof-join-node-test
  cpp/src/arrow/acero/asof_join_node.cc
Labels: Component: C++, awaiting committer review

#35862 GH-35803: [Doc] Add columns to the Implementation Status tables for Swift
  docs/source/status.rst
Labels: Component: Documentation, awaiting review

#35938 GH-35937: [R] Update NEWS for 12.0.1
  r/NEWS.md
Labels: Component: R, Component: Documentation, awaiting merge

#35912 GH-35911: [Go] Fix method CastToBytes of decimal256Traits
  go/arrow/type_traits_decimal256.go
  go/arrow/type_traits_test.go
Labels: Component: Go, awaiting merge

#35913 MINOR: [Go] Use `decimal256` in arrdata
  go/arrow/internal/arrdata/arrdata.go
  go/arrow/internal/arrjson/arrjson_test.go
Labels: Component: Go, awaiting merge

#35940 GH-35932: [Java] Make JDBC test less brittle
  dev/release/verify-release-candidate.sh
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcToArrowCommentMetadataTest.java
  java/adapter/jdbc/src/test/resources/h2/expectedSchemaWithComments.json
  java/adapter/jdbc/src/test/resources/h2/expectedSchemaWithCommentsAndJdbcMeta.json
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestBasicOperation.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ArrowFlightPreparedStatementTest.java
Labels: Component: Java, awaiting merge

#35899 GH-35909: [Go] Deprecate `arrow.MapType.ValueField` & `arrow.MapType.ValueType` methods
  go/arrow/array/map.go
  go/arrow/cdata/cdata.go
  go/arrow/datatype_nested.go
  go/arrow/datatype_nested_test.go
  go/arrow/internal/arrdata/arrdata.go
  go/arrow/internal/arrjson/arrjson.go
  go/arrow/ipc/file_reader.go
  go/arrow/ipc/metadata.go
  go/arrow/scalar/nested.go
  go/arrow/scalar/parse.go
  go/parquet/pqarrow/encode_arrow.go
  go/parquet/pqarrow/schema.go
Labels: Component: Go, awaiting change review

#35895 GH-35601: [R][Documentation] Add missing docs to fileysystem.R
  r/R/filesystem.R
  r/man/FileSystem.Rd
Labels: Component: R, awaiting review

#35882 GH-35709: [R][Documentation] Document passing data to duckdb for windowed aggregates
  r/vignettes/data_wrangling.Rmd
Labels: Component: R, awaiting merge

#35835 GH-33980: [Docs][Python] Document DataFrame Interchange Protocol implementation and usage
  docs/source/conf.py
  docs/source/python/api/tables.rst
  docs/source/python/index.rst
  docs/source/python/interchange_protocol.rst
  python/pyarrow/interchange/from_dataframe.py
Labels: Component: Python, Component: Documentation, awaiting merge

#35966 GH-35965: [Go] Fix `Decimal256DictionaryBuilder`
  go/arrow/array/dictionary.go
  go/arrow/array/dictionary_test.go
Labels: Component: Go, awaiting review

#35968 MINOR: [Go] add `TestDecimal256JSON`
  go/arrow/array/util_test.go
Labels: Component: Go, awaiting review

#35654 GH-35652: [Go][Compute] Allow executing Substrait Expressions using Go Compute
  .gitignore
  go/arrow/compute/arithmetic.go
  go/arrow/compute/exec.go
  go/arrow/compute/executor.go
  go/arrow/compute/expression.go
  go/arrow/compute/exprs/builders.go
  go/arrow/compute/exprs/builders_test.go
  go/arrow/compute/exprs/exec.go
  go/arrow/compute/exprs/exec_internal_test.go
  go/arrow/compute/exprs/exec_test.go
  go/arrow/compute/exprs/extension_types.go
  go/arrow/compute/exprs/field_refs.go
  go/arrow/compute/exprs/types.go
  go/arrow/compute/internal/kernels/cast.go
  go/arrow/errors.go
  go/go.mod
  go/go.sum
  go/internal/hashing/hash_funcs.go
  go/internal/hashing/hash_string.go
  go/internal/hashing/hash_string_go1.19.go
  go/internal/hashing/hashing_test.go
  go/internal/hashing/xxh3_memo_table.go
Labels: Component: Go, awaiting changes

#35983 GH-35982: [Go] Fix go1.18 broken builds
  go/arrow/compute/exprs/exec.go
  go/arrow/compute/exprs/types.go
Labels: Component: Go, awaiting merge

#35976 MINOR: [Go] Use proper methods in compute
  go/arrow/compute/exprs/exec.go
  go/arrow/compute/exprs/types.go
Labels: Component: Go, awaiting merge

#35981 GH-35975: [Go] Support importing decimal256
  go/arrow/cdata/cdata.go
  go/arrow/cdata/cdata_test.go
Labels: Component: Go, awaiting committer review

#35978 GH-35974: [Go] Don't panic if importing C Array Stream fails
  go/arrow/cdata/cdata.go
  go/arrow/cdata/cdata_fulltest.c
  go/arrow/cdata/cdata_test.go
  go/arrow/cdata/cdata_test_framework.go
  go/arrow/cdata/interface.go
Labels: Component: Go, awaiting merge

#35918 GH-35914: [MATLAB] Integrate the latest libmexclass changes to support error-handling
  matlab/src/cpp/arrow/matlab/array/proxy/array.cc
  matlab/src/cpp/arrow/matlab/array/proxy/array.h
  matlab/src/cpp/arrow/matlab/array/proxy/numeric_array.h
  matlab/src/cpp/arrow/matlab/error/error.h
  matlab/src/cpp/arrow/matlab/proxy/factory.cc
  matlab/src/cpp/arrow/matlab/proxy/factory.h
  matlab/test/arrow/gateway/tGateway.m
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
Labels: Component: MATLAB, awaiting change review

#35962 GH-35961: [C++][FlightSQL] Accept Protobuf 3.12.0 or later
  ci/docker/debian-11-cpp.dockerfile
  ci/docker/ubuntu-22.04-cpp.dockerfile
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/flight/sql/CMakeLists.txt
  cpp/src/arrow/flight/sql/client.cc
  cpp/src/arrow/flight/sql/server.cc
  dev/tasks/linux-packages/apache-arrow/Rakefile
Labels: Component: C++, Component: FlightRPC, awaiting merge

#35991 GH-35990: [CI][C++][Windows] Don't use -l for "choco list"
  .github/workflows/cpp.yml
Labels: awaiting committer review

#35514 GH-35515: [C++][Python] Add non decomposable aggregation UDF
  cpp/src/arrow/engine/substrait/extension_set.cc
  python/pyarrow/_compute.pxd
  python/pyarrow/_compute.pyx
  python/pyarrow/compute.py
  python/pyarrow/conftest.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/src/arrow/python/udf.cc
  python/pyarrow/src/arrow/python/udf.h
  python/pyarrow/tests/test_substrait.py
  python/pyarrow/tests/test_udf.py
Labels: Component: C++, Component: Python, awaiting change review

#35973 GH-35015: [Go] Fix parquet memleak
  go/arrow/array/extension.go
  go/arrow/memory/checked_allocator.go
  go/parquet/file/record_reader.go
  go/parquet/pqarrow/column_readers.go
  go/parquet/pqarrow/encode_arrow_test.go
  go/parquet/pqarrow/encode_dictionary_test.go
  go/parquet/pqarrow/file_reader.go
  go/parquet/pqarrow/helpers.go
Labels: Component: Go, awaiting change review

#35998 MINOR: [Go] add `TestBasicDecimal256`
  go/arrow/scalar/scalar.go
  go/arrow/scalar/scalar_test.go
Labels: Component: Go, awaiting review

#36002 GH-35669: [C++] Update to double-conversion 3.3.0, activate new flags, remove patches
  cpp/src/arrow/vendored/double-conversion/README.md
  cpp/src/arrow/vendored/double-conversion/bignum.cc
  cpp/src/arrow/vendored/double-conversion/double-to-string.cc
  cpp/src/arrow/vendored/double-conversion/double-to-string.h
  cpp/src/arrow/vendored/double-conversion/patches/double-to-string.cc.patch
  cpp/src/arrow/vendored/double-conversion/patches/double-to-string.h.patch
  cpp/src/arrow/vendored/double-conversion/update.sh
  cpp/src/gandiva/formatting_utils.h
Labels: Component: C++, Component: C++ - Gandiva, Component: Documentation, awaiting committer review

#35963 GH-35819: [GLib][Ruby] Refer dependency objects of GArrowExecutePlan
  c_glib/arrow-glib/compute.cpp
  c_glib/arrow-glib/compute.h
  c_glib/arrow-glib/compute.hpp
  c_glib/arrow-glib/reader.cpp
  c_glib/arrow-glib/reader.h
  c_glib/arrow-glib/reader.hpp
  c_glib/arrow-glib/version.h.in
  c_glib/doc/arrow-glib/arrow-glib-docs.xml
  ruby/red-arrow/ext/arrow/arrow.cpp
  ruby/red-arrow/lib/arrow/slicer.rb
Labels: Component: Ruby, Component: GLib, awaiting committer review

#35927 GH-35915: [Ruby] Add support for converting function options from Hash automatically
  c_glib/arrow-glib/expression.cpp
  ruby/red-arrow/lib/arrow/expression.rb
  ruby/red-arrow/lib/arrow/function.rb
  ruby/red-arrow/test/test-expression.rb
Labels: Component: Ruby, Component: GLib, awaiting committer review

#35920 GH-18547: [Java] Support re-emitting dictionaries in ArrowStreamWriter
  java/tools/src/main/java/org/apache/arrow/tools/EchoServer.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/ArrowFileWriter.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/ArrowStreamWriter.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/ArrowWriter.java
  java/vector/src/test/java/org/apache/arrow/vector/ipc/TestArrowReaderWriter.java
Labels: Component: Java, awaiting merge

#35923 GH-35922: [C++] Drop support for Debian GNU/Linux buster (10)
  ci/docker/debian-10-cpp.dockerfile
  ci/docker/debian-10-go-cgo-python.dockerfile
  ci/docker/debian-10-go.dockerfile
  ci/docker/debian-10-js.dockerfile
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: awaiting committer review

#36004 GH-36003: [Packaging][RPM] RPM jobs have a duplicated artifact pattern
  dev/tasks/tasks.yml
Labels: awaiting committer review

#35977 GH-35693: [MATLAB] Add `Valid` as a name-value pair on the `arrow.array.Float64Array` constructor
  matlab/src/matlab/+arrow/+args/parseValidElements.m
  matlab/src/matlab/+arrow/+args/validateTypeAndShape.m
  matlab/src/matlab/+arrow/+array/Float32Array.m
  matlab/src/matlab/+arrow/+array/Float64Array.m
  matlab/src/matlab/+arrow/+array/Int16Array.m
  matlab/src/matlab/+arrow/+array/Int32Array.m
  matlab/src/matlab/+arrow/+array/Int64Array.m
  matlab/src/matlab/+arrow/+array/Int8Array.m
  matlab/src/matlab/+arrow/+array/UInt16Array.m
  matlab/src/matlab/+arrow/+array/UInt32Array.m
  matlab/src/matlab/+arrow/+array/UInt64Array.m
  matlab/src/matlab/+arrow/+array/UInt8Array.m
  matlab/test/arrow/args/tParseValidElements.m
  matlab/test/arrow/array/hNumericArray.m
  matlab/test/arrow/array/tFloat32Array.m
  matlab/test/arrow/array/tFloat64Array.m
  matlab/test/arrow/array/tInt16Array.m
  matlab/test/arrow/array/tInt32Array.m
  matlab/test/arrow/array/tInt64Array.m
  matlab/test/arrow/array/tInt8Array.m
  matlab/test/arrow/array/tUInt16Array.m
  matlab/test/arrow/array/tUInt32Array.m
  matlab/test/arrow/array/tUInt64Array.m
  matlab/test/arrow/array/tUInt8Array.m
Labels: Component: MATLAB, awaiting change review

#35955 GH-35949: [R] CSV File reader options class objects should print the selected values
  r/R/arrowExports.R
  r/R/csv.R
  r/src/arrowExports.cpp
  r/src/csv.cpp
  r/tests/testthat/test-dataset-csv.R
Labels: Component: R, awaiting merge

#35887 MINOR: [Docs] Fix typo in docs for dense union data type
  docs/source/format/Columnar.rst
Labels: Component: Documentation, awaiting committer review

#36029 GH-35987: [C++] Pin brew protobuf version to 21
  cpp/Brewfile
Labels: Component: C++, awaiting review

#36022 GH-36008: [Ruby][Parquet] Add Parquet::ArrowFileReader#each_row_group
  ruby/red-parquet/lib/parquet/arrow-file-reader.rb
  ruby/red-parquet/lib/parquet/loader.rb
  ruby/red-parquet/test/test-arrow-file-reader.rb
Labels: Component: Parquet, Component: Ruby, awaiting committer review

#35999 MINOR: [Go] use `Decimal256Type` in `TestSwapEndianPrimitiveArrayData`
  go/arrow/ipc/endian_swap_test.go
Labels: Component: Go, awaiting change review

#36039 GH-35984: [MATLAB] Add null support to all numeric array classes
  matlab/src/matlab/+arrow/+array/Float32Array.m
  matlab/src/matlab/+arrow/+array/Float64Array.m
  matlab/src/matlab/+arrow/+array/Int16Array.m
  matlab/src/matlab/+arrow/+array/Int32Array.m
  matlab/src/matlab/+arrow/+array/Int64Array.m
  matlab/src/matlab/+arrow/+array/Int8Array.m
  matlab/src/matlab/+arrow/+array/NumericArray.m
  matlab/src/matlab/+arrow/+array/UInt16Array.m
  matlab/src/matlab/+arrow/+array/UInt32Array.m
  matlab/src/matlab/+arrow/+array/UInt64Array.m
  matlab/src/matlab/+arrow/+array/UInt8Array.m
  matlab/test/arrow/array/hNumericArray.m
  matlab/test/arrow/array/tFloat32Array.m
  matlab/test/arrow/array/tFloat64Array.m
  matlab/test/arrow/array/tInt32Array.m
  matlab/test/arrow/array/tInt64Array.m
  matlab/test/arrow/array/tInt8Array.m
  matlab/test/arrow/array/tUInt16Array.m
  matlab/test/arrow/array/tUInt32Array.m
  matlab/test/arrow/array/tUInt64Array.m
  matlab/test/arrow/array/tUInt8Array.m
Labels: Component: MATLAB, awaiting review

#36024 GH-36023: [CI][Ruby][Release] Suppress meaningless progress log from verify-rc-ruby
  docker-compose.yml
Labels: awaiting committer review

#35933 GH-35599: [Python] Canonical fixed-shape tensor extension array/type is not picklable.
  python/pyarrow/tests/test_extension_type.py
  python/pyarrow/types.pxi
Labels: awaiting committer review

#36011 GH-35858: [Python] disallow none schema parquet writer
  python/pyarrow/_parquet.pyx
  python/pyarrow/tests/parquet/test_parquet_writer.py
Labels: Component: Python, awaiting committer review

#36046 GH-35858: [Python] Fixup linting from PR GH-36011
  python/pyarrow/tests/parquet/test_parquet_writer.py
Labels: Component: Python, awaiting committer review

#36051 GH-36050: [Docs][C] Fix memory leak in C export documentation
  docs/source/format/CDataInterface.rst
Labels: Component: Documentation, awaiting review

#35980 GH-35979: [C++] Refactor Acero scalar and hash aggregation into separate files
  cpp/src/arrow/acero/CMakeLists.txt
  cpp/src/arrow/acero/aggregate_internal.cc
  cpp/src/arrow/acero/aggregate_internal.h
  cpp/src/arrow/acero/aggregate_node.cc
  cpp/src/arrow/acero/groupby_aggregate_node.cc
  cpp/src/arrow/acero/options.h
  cpp/src/arrow/acero/scalar_aggregate_node.cc
  cpp/src/arrow/acero/test_util_internal.cc
Labels: Component: C++, awaiting merge

#36041 GH-36040: [MATLAB] Add `arrow.array.BooleanArray` class
  matlab/src/cpp/arrow/matlab/array/proxy/boolean_array.cc
  matlab/src/cpp/arrow/matlab/array/proxy/boolean_array.h
  matlab/src/cpp/arrow/matlab/proxy/factory.cc
  matlab/src/matlab/+arrow/+array/BooleanArray.m
  matlab/test/arrow/array/tBooleanArray.m
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
Labels: Component: MATLAB, awaiting merge

#35314 GH-34723: [Java] Enable log trace for Netty allocator memory usage
  java/memory/memory-netty/pom.xml
  java/memory/memory-netty/src/main/java/io/netty/buffer/PooledByteBufAllocatorL.java
  java/memory/memory-netty/src/test/java/org/apache/arrow/memory/TestBaseAllocator.java
Labels: Component: Java, awaiting change review

#35997 GH-35576: [C++] Make Decimal{128,256}::FromReal more accurate
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
  cpp/src/arrow/util/basic_decimal.cc
  cpp/src/arrow/util/basic_decimal.h
  cpp/src/arrow/util/decimal.cc
  cpp/src/arrow/util/decimal.h
  cpp/src/arrow/util/decimal_internal.h
  cpp/src/arrow/util/decimal_test.cc
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, awaiting merge

#36064 MINOR: [Java] Bump logback-core from 1.2.3 to 1.2.12
  java/memory/memory-netty/pom.xml
Labels: Component: Java, awaiting review

#36066 GH-36052: [Go][Parquet] Cross build failures for 386
  .github/workflows/go.yml
  go/parquet/internal/utils/bit_packing_amd64.go
  go/parquet/internal/utils/bit_packing_arm64.go
  go/parquet/internal/utils/bit_packing_default.go
  go/parquet/internal/utils/bit_packing_noasm.go
  go/parquet/internal/utils/bit_packing_s390x.go
  go/parquet/internal/utils/unpack_bool_default.go
  go/parquet/internal/utils/unpack_bool_ppc64le.go
  go/parquet/internal/utils/unpack_bool_s390x.go
  go/parquet/metadata/statistics.go
Labels: Component: Go, awaiting merge

#35996 GH-35988: [C#] The C data interface implementation can leak on import
  csharp/src/Apache.Arrow/C/CArrowArrayExporter.cs
  csharp/src/Apache.Arrow/C/CArrowArrayImporter.cs
  csharp/src/Apache.Arrow/C/CArrowArrayStreamExporter.cs
  csharp/src/Apache.Arrow/C/CArrowArrayStreamImporter.cs
  csharp/src/Apache.Arrow/C/CArrowSchemaExporter.cs
  csharp/test/Apache.Arrow.Tests/CDataInterfaceDataTests.cs
  csharp/test/Apache.Arrow.Tests/CDataInterfacePythonTests.cs
Labels: Component: C#, awaiting merge

#35958 GH-35926: [C++][Parquet] Allow disabling ColumnIndex by disabling statistics
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/file_writer.cc
  cpp/src/parquet/printer.cc
  cpp/src/parquet/properties.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#36071 GH-36070: [Go][Flight] Add Flight Client Cookie Middleware
  go/arrow/flight/cookie_middleware.go
  go/arrow/flight/cookie_middleware_test.go
Labels: Component: Go, awaiting merge

#36083 GH-36082: [Release] Do nothing deb bump minor/patch version by post-11-bump-versions.sh on main
  dev/release/post-11-bump-versions-test.rb
  dev/release/post-11-bump-versions.sh
Labels: awaiting merge

#35750 GH-35749: [C++] Handle run-end encoded filters in compute kernels
  cpp/src/arrow/compute/api_vector.h
  cpp/src/arrow/compute/kernel.cc
  cpp/src/arrow/compute/kernel.h
  cpp/src/arrow/compute/kernels/ree_util_internal.h
  cpp/src/arrow/compute/kernels/vector_selection.cc
  cpp/src/arrow/compute/kernels/vector_selection_filter_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_internal.h
  cpp/src/arrow/compute/kernels/vector_selection_take_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_test.cc
Labels: Component: C++, awaiting committer review

#36089 GH-36025: [JS] Allow Node.js 18.14 or later in `verify-release-candidate.sh`
  dev/release/verify-release-candidate.sh
Labels: awaiting review

#36093 MINOR: [C++] Fix CMake options ordering
  cpp/cmake_modules/DefineOptions.cmake
Labels: Component: C++, awaiting merge

#36106 GH-36105: [Go] Support float16 in csv
  go/arrow/csv/common.go
  go/arrow/csv/reader.go
  go/arrow/csv/reader_test.go
  go/arrow/csv/testdata/header.csv
  go/arrow/csv/testdata/types.csv
  go/arrow/csv/transformer.go
  go/arrow/csv/writer_test.go
  go/arrow/float16/float16_test.go
Labels: Component: Go, awaiting review

#36108 GH-36098: [MATLAB] Change C++ proxy constructors to accept an options struct instead of a cell array containing the arguments
  matlab/src/cpp/arrow/matlab/array/proxy/boolean_array.cc
  matlab/src/cpp/arrow/matlab/array/proxy/numeric_array.h
  matlab/src/matlab/+arrow/+array/BooleanArray.m
  matlab/src/matlab/+arrow/+array/NumericArray.m
Labels: Component: MATLAB, awaiting review

#36077 GH-36076: [C++] Remove deprecated cli flag
  cpp/cmake_modules/BuildUtils.cmake
Labels: Component: C++, awaiting merge

#36016 GH-36013: [C++] Disabling bundled OpenTelemetry with Protobuf 3.22+
  .github/workflows/cpp.yml
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting merge

#36087 GH-35987: [C++] Unpin brew protobuf version
  cpp/Brewfile
Labels: Component: C++, awaiting review

#36116 MINOR [C++]: Remove cur_offset variable. Correctly this time.
  cpp/src/arrow/compute/kernels/vector_selection_filter_internal.cc
Labels: Component: C++, awaiting merge

#35902 GH-35837: [C++] Acero will hang if StopProducing is called while backpressure is applied on the source node
  cpp/src/arrow/acero/CMakeLists.txt
  cpp/src/arrow/acero/exec_plan.h
  cpp/src/arrow/acero/source_node.cc
  cpp/src/arrow/acero/source_node_test.cc
Labels: Component: C++, awaiting merge

#36122 GH-36120: [C#] Support schema metadata through the C API
  csharp/src/Apache.Arrow/C/CArrowSchemaExporter.cs
  csharp/src/Apache.Arrow/C/CArrowSchemaImporter.cs
  csharp/test/Apache.Arrow.Tests/CDataInterfacePythonTests.cs
Labels: Component: C#, awaiting merge

#36132 MINOR: [Java] Fix dependencies scope in flight-sql module
  java/flight/flight-sql/pom.xml
Labels: Component: Java, awaiting review

#36147 GH-36055: [JS] Use Node.js 18 in CI
  .env
  .github/workflows/js.yml
Labels: awaiting review

#34424 GH-15187: [Java] Made `reader` initialization lazy and added new `getTransferPair()` function that takes in a `Field` type
  java/vector/src/main/java/org/apache/arrow/vector/BaseFixedWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseValueVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BigIntVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BitVector.java
  java/vector/src/main/java/org/apache/arrow/vector/DateDayVector.java
  java/vector/src/main/java/org/apache/arrow/vector/DateMilliVector.java
  java/vector/src/main/java/org/apache/arrow/vector/Decimal256Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/DecimalVector.java
  java/vector/src/main/java/org/apache/arrow/vector/DurationVector.java
  java/vector/src/main/java/org/apache/arrow/vector/ExtensionTypeVector.java
  java/vector/src/main/java/org/apache/arrow/vector/FixedSizeBinaryVector.java
  java/vector/src/main/java/org/apache/arrow/vector/Float4Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/Float8Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/IntVector.java
  java/vector/src/main/java/org/apache/arrow/vector/IntervalDayVector.java
  java/vector/src/main/java/org/apache/arrow/vector/IntervalMonthDayNanoVector.java
  java/vector/src/main/java/org/apache/arrow/vector/IntervalYearVector.java
  java/vector/src/main/java/org/apache/arrow/vector/LargeVarBinaryVector.java
  java/vector/src/main/java/org/apache/arrow/vector/LargeVarCharVector.java
  java/vector/src/main/java/org/apache/arrow/vector/SmallIntVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeMicroVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeMilliVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeNanoVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeSecVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampMicroTZVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampMicroVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampMilliTZVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampMilliVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampNanoTZVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampNanoVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampSecTZVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampSecVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TinyIntVector.java
  java/vector/src/main/java/org/apache/arrow/vector/UInt1Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/UInt2Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/UInt4Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/UInt8Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/VarBinaryVector.java
  java/vector/src/main/java/org/apache/arrow/vector/VarCharVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/FixedSizeListVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/LargeListVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/ListVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestBitVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestDecimal256Vector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestDecimalVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestDurationVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestFixedSizeBinaryVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestIntervalYearVector.java
Labels: Component: Java, awaiting merge

#36107 GH-35705: [R] Rename docs page from acero
  r/R/dplyr-funcs-doc.R
  r/data-raw/docgen.R
  r/man/acero.Rd
Labels: awaiting merge

#35055 GH-34436: [R] Bindings for JSON Dataset
  cpp/src/arrow/dataset/type_fwd.h
  r/DESCRIPTION
  r/NAMESPACE
  r/R/arrowExports.R
  r/R/dataset-factory.R
  r/R/dataset-format.R
  r/R/dataset.R
  r/_pkgdown.yml
  r/man/FragmentScanOptions.Rd
  r/man/JsonFileFormat.Rd
  r/man/dataset_factory.Rd
  r/man/open_dataset.Rd
  r/src/arrowExports.cpp
  r/src/dataset.cpp
  r/tests/testthat/test-dataset-json.R
Labels: Component: R, Component: C++, awaiting merge

#36140 MINOR: [C++] Fix typo for IWYU pragma
  cpp/src/arrow/api.h
  cpp/src/parquet/thrift_internal.h
Labels: Component: Parquet, Component: C++, awaiting review

#36102 MINOR: [C++] Make clang-tidy stop complaining about C arrays
  .clang-tidy
Labels: awaiting committer review

#36167 GH-36166: [C++][MATLAB] Add utility to convert UTF-8 strings to UTF-16 and UTF-16 strings to UTF-8
  cpp/src/arrow/util/utf8.cc
  cpp/src/arrow/util/utf8.h
  cpp/src/arrow/util/utf8_util_test.cc
Labels: Component: C++, awaiting merge

#36143 MINOR: [Go] add float16 and run end encoded test cases in `TestMakeFromData`
  go/arrow/array/array_test.go
Labels: Component: Go, awaiting review

#35727 GH-33206: [C++] Add support for StructArray sorting and nested sort keys
  cpp/src/arrow/compute/kernels/vector_array_sort.cc
  cpp/src/arrow/compute/kernels/vector_sort.cc
  cpp/src/arrow/compute/kernels/vector_sort_internal.h
  cpp/src/arrow/compute/kernels/vector_sort_test.cc
Labels: Component: C++, awaiting committer review

#36165 MINOR: [Go] DictionaryBuilder reads null bitmap from idxBuilder
  go/arrow/array/dictionary.go
  go/arrow/array/dictionary_test.go
Labels: Component: Go

#36174 GH-36172: [R] Windows devdocs build failing as it uses libarrow built without JSON capabilities
  r/vignettes/developers/setup.Rmd
Labels: awaiting merge

#36163 GH-36095: [Go] Add doc for `pqarrow.FileWriter.WriteBuffered`
  go/parquet/pqarrow/file_writer.go
Labels: Component: Go, awaiting merge

#36175 MINOR: [Python][CI] Fix harmless user warning in test_list_of_datetime_time_roundtrip
  python/pyarrow/tests/parquet/test_datetime.py
Labels: Component: Python, awaiting committer review

#36179 GH-36176: [C++] Fix regression for single-key Table sorting
  cpp/src/arrow/compute/kernels/vector_sort.cc
Labels: Component: C++, awaiting committer review

#36063 GH-35635: [C++][CI] Preserve root when ignoring host on PathFromUriHelper to fix HDFS tests
  cpp/src/arrow/filesystem/util_internal.cc
Labels: Component: C++, awaiting committer review

#36160 GH-36117: [C++] Ensure creating BUILD_OUTPUT_ROOT_DIRECTORY
  cpp/cmake_modules/BuildUtils.cmake
Labels: Component: C++, awaiting committer review

#36159 GH-36157: [C++][Dev] Add support for using python3 to run IWYU
  cpp/CMakeLists.txt
  cpp/build-support/iwyu/iwyu.sh
Labels: Component: C++, awaiting committer review

#36194 GH-36056: [CI] Enable Dependabot for GitHub Actions
  .github/dependabot.yml
Labels: awaiting merge

#35907 GH-35906: [Docs] Enable building the documentation without having pyarrow installed
  docs/source/conf.py
  docs/source/developers/documentation.rst
Labels: Component: Documentation, awaiting merge

#35874 GH-35838: [C++] Add backpressure test for asof join node
  cpp/src/arrow/acero/asof_join_node.cc
  cpp/src/arrow/acero/asof_join_node_test.cc
  cpp/src/arrow/acero/test_nodes.cc
  cpp/src/arrow/acero/test_nodes.h
Labels: Component: C++, awaiting changes

#36169 GH-36198: [Go] Remove deprecated equality checks
  go/arrow/array/compare.go
  go/arrow/array/compare_test.go
  go/arrow/array/concat_test.go
  go/arrow/array/dictionary.go
  go/arrow/array/dictionary_test.go
  go/arrow/array/util_test.go
  go/arrow/cdata/cdata_test.go
Labels: Component: Go, awaiting review

#36145 GH-36181: [Go] add methods `AppendNulls` and `AppendEmptyValues` for all builders
  go/arrow/array/binarybuilder.go
  go/arrow/array/booleanbuilder.go
  go/arrow/array/builder.go
  go/arrow/array/decimal128.go
  go/arrow/array/decimal256.go
  go/arrow/array/dictionary.go
  go/arrow/array/dictionary_test.go
  go/arrow/array/encoded.go
  go/arrow/array/fixed_size_list.go
  go/arrow/array/fixedsize_binarybuilder.go
  go/arrow/array/float16_builder.go
  go/arrow/array/interval.go
  go/arrow/array/list.go
  go/arrow/array/map.go
  go/arrow/array/null.go
  go/arrow/array/null_test.go
  go/arrow/array/numericbuilder.gen.go
  go/arrow/array/numericbuilder.gen.go.tmpl
  go/arrow/array/struct.go
  go/arrow/array/timestamp.go
  go/arrow/array/union.go
Labels: Component: Go, awaiting change review

#36211 GH-36209: [Java] Upgrade Netty due to security vulnerability
  java/memory/memory-netty/src/main/java/io/netty/buffer/PooledByteBufAllocatorL.java
  java/pom.xml
Labels: Component: Java, awaiting merge

#36142 GH-36141: [Go] Support large and fixed types in csv
  go/arrow/csv/common.go
  go/arrow/csv/reader.go
  go/arrow/csv/reader_test.go
  go/arrow/csv/testdata/header.csv
  go/arrow/csv/testdata/types.csv
  go/arrow/csv/transformer.go
  go/arrow/csv/writer_test.go
Labels: Component: Go, awaiting merge

#36061 GH-34788: [Python][Packaging][CI] Drop Python 3.7 support
  .github/workflows/python.yml
  ci/docker/conda-python.dockerfile
  ci/docker/python-wheel-windows-test-vs2017.dockerfile
  ci/docker/python-wheel-windows-vs2017.dockerfile
  ci/scripts/install_python.sh
  ci/scripts/r_install_system_dependencies.sh
  dev/archery/setup.py
  dev/release/verify-release-candidate-wheels.bat
  dev/release/verify-release-candidate.sh
  dev/tasks/tasks.yml
  docker-compose.yml
  docs/source/developers/continuous_integration/archery.rst
  docs/source/developers/continuous_integration/crossbow.rst
  docs/source/python/install.rst
  python/asv.conf.json
  python/requirements-test.txt
  python/requirements-wheel-test.txt
  python/setup.py
  r/tests/testthat/test-python.R
Labels: Component: R, Component: Python, Component: Documentation, awaiting changes

#36208 GH-36207: [MATLAB] Add MATLAB autosave files (`.asv`) to the `.gitignore`
  matlab/.gitignore
Labels: awaiting review

#36216 MINOR: [CI] Remove needless ":" from Dependabot PR subject
  .github/dependabot.yml
Labels: Component: Continuous Integration, awaiting committer review

#36225 GH-36224: [CI] Update rest api invocations in GitHub scripts
  .github/workflows/comment_bot.yml
  .github/workflows/dev_pr/helpers.js
  .github/workflows/dev_pr/issue_check.js
  .github/workflows/dev_pr/link.js
  .github/workflows/dev_pr/title_check.js
Labels: Component: Continuous Integration, awaiting review

#36221 GH-36220: [CI] Run the "Docker Push" step only on the main branch
  .github/workflows/cpp.yml
  .github/workflows/dev.yml
  .github/workflows/docs.yml
  .github/workflows/go.yml
  .github/workflows/integration.yml
  .github/workflows/java.yml
  .github/workflows/java_jni.yml
  .github/workflows/js.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  .github/workflows/ruby.yml
  .github/workflows/swift.yml
Labels: awaiting committer review

#36226 MINOR: [CI] Checkout from main in dev_pr workflow
  .github/workflows/dev_pr.yml
Labels: Component: Continuous Integration, awaiting review

#36219 GH-36218: [CI][Go] Run benchmark steps only on the main branch
  .github/workflows/go.yml
Labels: awaiting committer review

#36229 GH-36218: [CI][Go] Run benchmark steps only on the main branch
  .github/workflows/go.yml
Labels: awaiting committer review

#36210 GH-36177: [MATLAB] Add the Type object hierarchy to the MATLAB interface
  matlab/src/matlab/+arrow/+type/BooleanType.m
  matlab/src/matlab/+arrow/+type/Float32Type.m
  matlab/src/matlab/+arrow/+type/Float64Type.m
  matlab/src/matlab/+arrow/+type/ID.m
  matlab/src/matlab/+arrow/+type/Int16Type.m
  matlab/src/matlab/+arrow/+type/Int32Type.m
  matlab/src/matlab/+arrow/+type/Int64Type.m
  matlab/src/matlab/+arrow/+type/Int8Type.m
  matlab/src/matlab/+arrow/+type/PrimitiveType.m
  matlab/src/matlab/+arrow/+type/Type.m
  matlab/src/matlab/+arrow/+type/UInt16Type.m
  matlab/src/matlab/+arrow/+type/UInt32Type.m
  matlab/src/matlab/+arrow/+type/UInt64Type.m
  matlab/src/matlab/+arrow/+type/UInt8Type.m
  matlab/test/arrow/type/hPrimitiveType.m
  matlab/test/arrow/type/tBooleanType.m
  matlab/test/arrow/type/tFloat32Type.m
  matlab/test/arrow/type/tFloat64Type.m
  matlab/test/arrow/type/tID.m
  matlab/test/arrow/type/tInt16Type.m
  matlab/test/arrow/type/tInt32Type.m
  matlab/test/arrow/type/tInt64Type.m
  matlab/test/arrow/type/tInt8Type.m
  matlab/test/arrow/type/tUInt16Type.m
  matlab/test/arrow/type/tUInt32Type.m
  matlab/test/arrow/type/tUInt64Type.m
  matlab/test/arrow/type/tUInt8Type.m
Labels: Component: MATLAB, awaiting review

#36228 GH-36227: [C++] New GcsOption to set the project id
  cpp/src/arrow/filesystem/gcsfs.cc
  cpp/src/arrow/filesystem/gcsfs.h
  cpp/src/arrow/filesystem/gcsfs_internal.cc
  cpp/src/arrow/filesystem/gcsfs_internal.h
  cpp/src/arrow/filesystem/gcsfs_test.cc
Labels: Component: C++, awaiting change review

#36222 GH-36214: [C++] Specify `FieldPath::Hash` as template parameter where possible
  cpp/src/arrow/compute/kernels/vector_sort.cc
  cpp/src/arrow/ipc/dictionary.cc
Labels: awaiting committer review

#36237 GH-36232: [Packaging][Ubuntu] Drop support for Ubuntu 22.10 (kinetic)
  dev/release/binary-task.rb
  dev/release/verify-release-candidate.sh
  dev/tasks/linux-packages/apache-arrow-apt-source/apt/ubuntu-kinetic/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-kinetic-arm64/from
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-kinetic/Dockerfile
  dev/tasks/linux-packages/package-task.rb
  dev/tasks/tasks.yml
Labels: awaiting committer review

#36094 GH-36092: [C++] Simplify concurrency in as-of-join node
  cpp/src/arrow/acero/asof_join_node.cc
Labels: Component: C++, awaiting merge

#36020 GH-32190: [C++][Compute] Implement cumulative prod, max and min functions
  cpp/src/arrow/compute/api_vector.cc
  cpp/src/arrow/compute/api_vector.h
  cpp/src/arrow/compute/function_internal.h
  cpp/src/arrow/compute/kernels/base_arithmetic_internal.h
  cpp/src/arrow/compute/kernels/codegen_internal.h
  cpp/src/arrow/compute/kernels/vector_cumulative_ops.cc
  cpp/src/arrow/compute/kernels/vector_cumulative_ops_test.cc
  cpp/src/arrow/scalar.h
  docs/source/cpp/compute.rst
  docs/source/python/api/compute.rst
  python/pyarrow/_compute.pyx
  python/pyarrow/compute.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, Component: Documentation, awaiting merge

#36067 GH-36059: [C++][Compute] Reserve space for hashtable for scalar lookup functions
  cpp/src/arrow/compute/kernels/scalar_set_lookup.cc
  cpp/src/arrow/compute/kernels/scalar_set_lookup_benchmark.cc
Labels: Component: C++, awaiting change review

#36012 GH-35859: [Python] Actually change the default row group size to 1Mi
  python/pyarrow/_parquet.pyx
  python/pyarrow/tests/parquet/test_parquet_writer.py
Labels: Component: Python, awaiting change review

#36238 GH-36233: [Packaging][Ubuntu] Add support for Ubuntu 23.04 (lunar)
  dev/release/binary-task.rb
  dev/release/verify-release-candidate.sh
  dev/tasks/linux-packages/apache-arrow-apt-source/apt/ubuntu-lunar/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-lunar-arm64/from
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-lunar/Dockerfile
  dev/tasks/linux-packages/package-task.rb
  dev/tasks/tasks.yml
Labels: awaiting change review

#35543 GH-35542 : [R] Implement schema extraction function
  r/NAMESPACE
  r/R/arrow-package.R
  r/R/csv.R
  r/R/dplyr-collect.R
  r/R/dplyr-summarize.R
  r/R/schema.R
  r/_pkgdown.yml
  r/man/infer_schema.Rd
  r/man/schema-class.Rd
  r/man/schema.Rd
  r/tests/testthat/test-schema.R
Labels: Component: R, awaiting merge

#36206 GH-36090: [C++] Add testing libraries for Acero & Datasets
  cpp/src/arrow/acero/CMakeLists.txt
  cpp/src/arrow/dataset/CMakeLists.txt
Labels: Component: C++, awaiting merge

#36260 GH-36259: [R] Docs for as_schema description incorrect
  r/R/schema.R
  r/man/as_schema.Rd
Labels: awaiting merge

#36261 MINOR: [R] Make description of to_arrow function more specific
  r/R/duckdb.R
  r/man/to_arrow.Rd
Labels: Component: R, awaiting merge

#36262 MINOR: [R] Update phrasing of match_arrow docs to match base R
  r/R/compute.R
  r/man/match_arrow.Rd
Labels: Component: R, awaiting merge

#36263 MINOR: [R] Rephrase titles of docs for class objects
  r/R/extension.R
  r/R/memory-pool.R
  r/R/message.R
  r/R/type.R
  r/man/DataType.Rd
  r/man/ExtensionArray.Rd
  r/man/ExtensionType.Rd
  r/man/FixedWidthType.Rd
  r/man/JsonFileFormat.Rd
  r/man/MemoryPool.Rd
  r/man/Message.Rd
  r/man/MessageReader.Rd
Labels: Component: R, awaiting merge

#36270 GH-36251: [MATLAB] Add `Type` property to `arrow.array.Array`
  matlab/src/matlab/+arrow/+array/Array.m
  matlab/src/matlab/+arrow/+array/BooleanArray.m
  matlab/src/matlab/+arrow/+array/Float32Array.m
  matlab/src/matlab/+arrow/+array/Float64Array.m
  matlab/src/matlab/+arrow/+array/Int16Array.m
  matlab/src/matlab/+arrow/+array/Int32Array.m
  matlab/src/matlab/+arrow/+array/Int64Array.m
  matlab/src/matlab/+arrow/+array/Int8Array.m
  matlab/src/matlab/+arrow/+array/UInt16Array.m
  matlab/src/matlab/+arrow/+array/UInt32Array.m
  matlab/src/matlab/+arrow/+array/UInt64Array.m
  matlab/src/matlab/+arrow/+array/UInt8Array.m
  matlab/test/arrow/array/hNumericArray.m
  matlab/test/arrow/array/tBooleanArray.m
  matlab/test/arrow/array/tFloat32Array.m
  matlab/test/arrow/array/tFloat64Array.m
  matlab/test/arrow/array/tInt16Array.m
  matlab/test/arrow/array/tInt32Array.m
  matlab/test/arrow/array/tInt64Array.m
  matlab/test/arrow/array/tInt8Array.m
  matlab/test/arrow/array/tUInt16Array.m
  matlab/test/arrow/array/tUInt32Array.m
  matlab/test/arrow/array/tUInt64Array.m
  matlab/test/arrow/array/tUInt8Array.m
Labels: Component: MATLAB, awaiting review

#36114 GH-36109: [MATLAB] Store a nullptr as the validity bitmap if all array elements are valid
  matlab/src/cpp/arrow/matlab/array/proxy/array.cc
  matlab/src/cpp/arrow/matlab/array/proxy/boolean_array.cc
  matlab/src/cpp/arrow/matlab/array/proxy/numeric_array.h
  matlab/src/cpp/arrow/matlab/bit/pack.cc
  matlab/src/cpp/arrow/matlab/bit/pack.h
  matlab/src/cpp/arrow/matlab/bit/unpack.cc
  matlab/src/cpp/arrow/matlab/bit/unpack.h
  matlab/src/matlab/+arrow/+args/parseValidElements.m
  matlab/test/arrow/args/tParseValidElements.m
  matlab/test/arrow/array/hNumericArray.m
  matlab/test/arrow/array/tBooleanArray.m
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
Labels: Component: MATLAB, awaiting merge

#35985 GH-35969: [Swift] use ArrowType instead of ArrowType.info and add binary, time32 and time64 types
  docs/source/status.rst
  swift/Arrow/Sources/Arrow/ArrowArray.swift
  swift/Arrow/Sources/Arrow/ArrowArrayBuilder.swift
  swift/Arrow/Sources/Arrow/ArrowBufferBuilder.swift
  swift/Arrow/Sources/Arrow/ArrowData.swift
  swift/Arrow/Sources/Arrow/ArrowReader.swift
  swift/Arrow/Sources/Arrow/ArrowReaderHelper.swift
  swift/Arrow/Sources/Arrow/ArrowSchema.swift
  swift/Arrow/Sources/Arrow/ArrowTable.swift
  swift/Arrow/Sources/Arrow/ArrowType.swift
  swift/Arrow/Sources/Arrow/ArrowWriter.swift
  swift/Arrow/Sources/Arrow/ArrowWriterHelper.swift
  swift/Arrow/Sources/Arrow/ChunkedArray.swift
  swift/Arrow/Tests/ArrowTests/ArrayTests.swift
  swift/Arrow/Tests/ArrowTests/IPCTests.swift
  swift/Arrow/Tests/ArrowTests/RecordBatchTests.swift
  swift/Arrow/Tests/ArrowTests/TableTests.swift
Labels: Component: Documentation, awaiting merge

#36075 GH-36074: [C++] Clarify docs for ConcatenateTablesOptions::field_merge_options
  cpp/src/arrow/table.h
Labels: Component: C++, awaiting committer review

#35798 GH-35579: [C++] Support non-named FieldRefs in Parquet scanner
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/src/arrow/dataset/file_parquet_test.cc
  cpp/src/arrow/dataset/test_util_internal.h
  cpp/src/arrow/type.h
Labels: Component: C++, awaiting merge

#36244 GH-36243: [Dev] Remove PR workflow label as part of merge
  dev/merge_arrow_pr.py
Labels: awaiting change review

#36288 GH-36287: [Ruby] Add support for installing arrow-c-glib conda package automatically
  ruby/red-arrow/ext/arrow/extconf.rb
Labels: Component: Ruby, awaiting committer review

#36282 GH-36241: [Packaging] Drop support for Amazon Linux 2
  dev/release/binary-task.rb
  dev/release/verify-release-candidate.sh
  dev/release/verify-yum.sh
  dev/tasks/linux-packages/apache-arrow-release/yum/Apache-Arrow.repo
  dev/tasks/linux-packages/apache-arrow-release/yum/amazon-linux-2/Dockerfile
  dev/tasks/linux-packages/apache-arrow-release/yum/apache-arrow-release.spec.in
  dev/tasks/linux-packages/apache-arrow/yum/amazon-linux-2-aarch64/from
  dev/tasks/linux-packages/apache-arrow/yum/amazon-linux-2/Dockerfile
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
  dev/tasks/linux-packages/package-task.rb
  dev/tasks/tasks.yml
Labels: awaiting committer review

#36281 GH-36239: [CI][C++] Add support for multiple flags for ARROW_*_FLAGS_*
  ci/scripts/cpp_build.sh
Labels: awaiting committer review

#36156 GH-36131: [Docs] Use https://arrow.apache.org/julia/ for Julia URL
  docs/source/index.rst
Labels: Component: Documentation, awaiting committer review

#36231 GH-36128: [C++][Compute] Allow multiplication between duration and all integer types
  cpp/src/arrow/compute/kernels/codegen_internal.cc
  cpp/src/arrow/compute/kernels/codegen_internal.h
  cpp/src/arrow/compute/kernels/scalar_arithmetic.cc
  cpp/src/arrow/compute/kernels/scalar_temporal_test.cc
Labels: Component: C++, awaiting merge

#36058 GH-36047: [C++][Compute] Add support for duration types to IndexIn and IsIn
  cpp/src/arrow/compute/kernels/scalar_set_lookup.cc
  cpp/src/arrow/compute/kernels/scalar_set_lookup_test.cc
Labels: Component: C++, awaiting merge

#36276 MINOR: [C++] Separate ListArray from LargeListArray member function implementations
  cpp/src/arrow/array/array_nested.cc
Labels: Component: C++, awaiting committer review

#36306 MINOR: [CI] Disable UCX for now
  ci/docker/conda-cpp.dockerfile
Labels: awaiting committer review

#36032 GH-36031: [JS]: Update dependencies
  js/package.json
  js/src/util/buffer.ts
  js/yarn.lock
Labels: Component: JavaScript, awaiting changes

#36034 GH-36033: [JS] Remove BigInt compat
  js/src/type.ts
  js/src/util/bn.ts
  js/src/util/buffer.ts
  js/src/util/compat.ts
  js/src/util/pretty.ts
  js/src/vector.ts
Labels: awaiting committer review

#36273 GH-36249: [MATLAB] Create a `MATLAB_ASSIGN_OR_ERROR` macro to mirror the C++ `ARROW_ASSIGN_OR_RAISE` macro
  matlab/src/cpp/arrow/matlab/array/proxy/boolean_array.cc
  matlab/src/cpp/arrow/matlab/array/proxy/numeric_array.h
  matlab/src/cpp/arrow/matlab/error/error.h
  matlab/src/cpp/arrow/matlab/tabular/proxy/record_batch.cc
Labels: Component: MATLAB, awaiting merge

#35921 GH-34921: [C++][Python][Java] Require CMake 3.16 or later
  ci/docker/linux-apt-jni.dockerfile
  cpp/CMakeLists.txt
  cpp/cmake_modules/BuildUtils.cmake
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/FindNumPy.cmake
  cpp/cmake_modules/FindPython3Alt.cmake
  cpp/cmake_modules/FindPythonLibsNew.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/examples/minimal_build/CMakeLists.txt
  cpp/examples/parquet/parquet_arrow/CMakeLists.txt
  cpp/examples/tutorial_examples/CMakeLists.txt
  docs/source/developers/cpp/building.rst
  docs/source/developers/python.rst
  java/CMakeLists.txt
  python/CMakeLists.txt
Labels: Component: Java, Component: C++, Component: Python, Component: Documentation, awaiting committer review

#36316 GH-36317: [C++] Return a BufferVector from CleanListOffsets
  cpp/src/arrow/array/array_nested.cc
  cpp/src/arrow/array/array_nested.h
Labels: Component: C++, awaiting committer review

#36170 GH-36038: [Python] Implement __reduce__ on ExtensionType class
  python/pyarrow/tests/test_extension_type.py
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting merge

#36256 GH-36255: [C++] Add benchmarks for "if_else" kernel on lists
  cpp/src/arrow/compute/kernels/scalar_if_else_benchmark.cc
Labels: Component: C++, awaiting committer review

#36328 GH-35651: [C++] Suppress self-move warning introduced in gcc 13
  cpp/cmake_modules/SetupCxxFlags.cmake
  cpp/src/arrow/util/small_vector_test.cc
Labels: Component: C++, awaiting committer review
