Repository apache/arrow, pull requests merged in 2023-08, with the labels that each got.

#35312 GH-35409: [Python][Docs] Clarify S3FileSystem Credentials chain for EC2
  docs/source/python/filesystems.rst
  python/pyarrow/_s3fs.pyx
Labels: Component: Python, Component: Documentation, awaiting change review

#36929 GH-36927: [Java][Docs] Enable Gandiva build as part of Java maven commands
  docs/source/developers/java/building.rst
  java/pom.xml
Labels: Component: Java, Component: Documentation, awaiting change review

#36948 GH-36947: [CI] Move free up disk space to the Jinja macros to be able to reuse it on docs job
  dev/tasks/docs/github.linux.yml
  dev/tasks/linux-packages/github.linux.yml
  dev/tasks/macros.jinja
Labels: awaiting merge

#36693 GH-36692: [CI][Packaging] Pin gemfury to 0.12.0 due to issue with faraday dependency
  dev/tasks/macros.jinja
Labels: awaiting change review

#36976 GH-36973: [CI][Python] Archery linter integrated with flake8==6.1.0
  .pre-commit-config.yaml
  dev/archery/setup.py
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_csv.py
  python/pyarrow/tests/test_dataset.py
  python/pyarrow/tests/test_extension_type.py
  python/pyarrow/tests/test_flight.py
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting merge

#36982 GH-36981: [Go] Fix ipc reader leak
  go/arrow/ipc/reader.go
  go/arrow/ipc/reader_test.go
Labels: Component: Go, awaiting merge

#36347 GH-36199: [Python][CI][Spark] Update spark versions used on our nightly tests
  dev/tasks/tasks.yml
Labels: awaiting changes

#36938 MINOR: [C++] Acero tiny typo fix
  cpp/src/arrow/acero/exec_plan.h
  cpp/src/arrow/acero/options.h
Labels: Component: C++, awaiting merge

#36979 GH-36975: [C++][FlightRPC] Skip unknown fields, don't crash
  cpp/src/arrow/flight/flight_internals_test.cc
  cpp/src/arrow/flight/transport/grpc/serialization_internal.cc
Labels: Component: C++, Component: FlightRPC, awaiting changes

#36971 GH-36970: [C++][Parquet] Minor style fix for parquet metadata
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/thrift_internal.h
Labels: Component: Parquet, Component: C++, awaiting merge

#36989 MINOR: [Doc][Release] Update wrong reference from JIRA to GitHub issues
  dev/archery/archery/templates/release_curation.txt.j2
  dev/release/02-source-test.rb
  dev/release/02-source.sh
Labels: awaiting committer review

#36191 GH-36189: [C++][Parquet] StreamReader::SkipRows() skips to incorrect place in multi-row-group files
  cpp/src/parquet/stream_reader.cc
  cpp/src/parquet/stream_reader_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#36987 GH-36856: [C++] Remove needless braces from BasicDecimal256FromLE() arguments
  cpp/src/arrow/util/decimal_internal.h
Labels: Component: C++, awaiting committer review

#36925 GH-36752: [Python] Remove AWS SDK bundling when building wheels
  .env
  ci/docker/python-wheel-manylinux.dockerfile
  ci/docker/python-wheel-windows-vs2017.dockerfile
  ci/scripts/java_jni_macos_build.sh
  ci/scripts/python_wheel_manylinux_build.sh
  ci/scripts/python_wheel_windows_build.bat
Labels: awaiting change review

#37013 GH-36961: [MATLAB] Add `arrow.tabular.Schema` class and associated `arrow.schema` construction function
  matlab/src/cpp/arrow/matlab/error/error.h
  matlab/src/cpp/arrow/matlab/proxy/factory.cc
  matlab/src/cpp/arrow/matlab/tabular/proxy/schema.cc
  matlab/src/cpp/arrow/matlab/tabular/proxy/schema.h
  matlab/src/matlab/+arrow/+tabular/Schema.m
  matlab/src/matlab/+arrow/schema.m
  matlab/test/arrow/tabular/tSchema.m
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
Labels: Component: MATLAB, awaiting change review

#37025 GH-36984: [MATLAB] Create `arrow.recordbatch` convenience constructor function
  matlab/src/matlab/+arrow/+tabular/+internal/decompose.m
  matlab/src/matlab/+arrow/+tabular/+internal/getArrayProxyIDs.m
  matlab/src/matlab/+arrow/+tabular/RecordBatch.m
  matlab/src/matlab/+arrow/recordbatch.m
  matlab/test/arrow/tabular/tRecordBatch.m
Labels: Component: MATLAB, awaiting merge

#37029 MINOR: [C++] async_until typo fix
  cpp/src/arrow/acero/source_node.cc
  cpp/src/arrow/util/async_util.h
Labels: Component: C++, awaiting review

#37030 MINOR: [Docs] Fix a typo in env_vars.rst
  docs/source/cpp/env_vars.rst
Labels: Component: Documentation, awaiting review

#37031 MINOR: [C++] Fix a typo in Acero agg description
  cpp/src/arrow/acero/aggregate_internal.h
Labels: Component: C++, awaiting review

#37018 GH-36642: [Python][CI] Configure warnings as errors during pytest
  dev/tasks/tasks.yml
  docker-compose.yml
  python/pyarrow/tests/parquet/conftest.py
  python/pyarrow/tests/parquet/test_dataset.py
  python/pyarrow/tests/strategies.py
  python/pyarrow/tests/test_pandas.py
  python/pyarrow/tests/test_tensor.py
Labels: Component: Python, awaiting review

#36362 MINOR: [Docs] add note about how comment bot assigns users
  docs/source/developers/guide/step_by_step/finding_issues.rst
Labels: Component: Documentation, awaiting changes

#36959 GH-36936: [Go] Make it possible to register custom functions.
  go/arrow/compute/arithmetic.go
  go/arrow/compute/arithmetic_test.go
  go/arrow/compute/cast.go
  go/arrow/compute/example_test.go
  go/arrow/compute/exec.go
  go/arrow/compute/exec/hash_util.go
  go/arrow/compute/exec/kernel.go
  go/arrow/compute/exec/kernel_test.go
  go/arrow/compute/exec/span.go
  go/arrow/compute/exec/span_test.go
  go/arrow/compute/exec/utils.go
  go/arrow/compute/exec/utils_test.go
  go/arrow/compute/exec_internals_test.go
  go/arrow/compute/exec_test.go
  go/arrow/compute/executor.go
  go/arrow/compute/expression.go
  go/arrow/compute/exprs/exec.go
  go/arrow/compute/functions.go
  go/arrow/compute/internal/kernels/base_arithmetic.go
  go/arrow/compute/internal/kernels/base_arithmetic_amd64.go
  go/arrow/compute/internal/kernels/basic_arithmetic_noasm.go
  go/arrow/compute/internal/kernels/boolean_cast.go
  go/arrow/compute/internal/kernels/cast.go
  go/arrow/compute/internal/kernels/cast_temporal.go
  go/arrow/compute/internal/kernels/helpers.go
  go/arrow/compute/internal/kernels/numeric_cast.go
  go/arrow/compute/internal/kernels/rounding.go
  go/arrow/compute/internal/kernels/scalar_arithmetic.go
  go/arrow/compute/internal/kernels/scalar_boolean.go
  go/arrow/compute/internal/kernels/scalar_comparison_amd64.go
  go/arrow/compute/internal/kernels/scalar_comparison_noasm.go
  go/arrow/compute/internal/kernels/scalar_comparisons.go
  go/arrow/compute/internal/kernels/string_casts.go
  go/arrow/compute/internal/kernels/types.go
  go/arrow/compute/internal/kernels/vector_hash.go
  go/arrow/compute/internal/kernels/vector_run_end_encode.go
  go/arrow/compute/internal/kernels/vector_selection.go
  go/arrow/compute/registry_test.go
  go/arrow/compute/scalar_bool.go
  go/arrow/compute/scalar_compare.go
  go/arrow/compute/scalar_compare_test.go
  go/arrow/compute/selection.go
  go/arrow/compute/utils.go
  go/arrow/compute/vector_hash_test.go
  go/arrow/compute/vector_run_end_test.go
  go/arrow/compute/vector_selection_test.go
Labels: Component: Go, awaiting change review

#37047 GH-37045: [MATLAB] Implement featherwrite in terms of arrow.internal.io.feather.Writer
  matlab/src/matlab/featherwrite.m
  matlab/test/tfeather.m
Labels: Component: MATLAB, awaiting merge

#37052 GH-37049: [MATLAB] Update feather `Reader` and `Writer` objects to work directly with `arrow.tabular.RecordBatch`s instead of MATLAB `table`s
  matlab/src/matlab/+arrow/+internal/+io/+feather/Reader.m
  matlab/src/matlab/+arrow/+internal/+io/+feather/Writer.m
  matlab/src/matlab/featherwrite.m
  matlab/test/arrow/io/feather/tRoundTrip.m
Labels: Component: MATLAB, awaiting committer review

#37048 MINOR: [C++] Fix a lint failure
  cpp/src/arrow/acero/aggregate_internal.h
Labels: Component: C++, awaiting committer review

#37026 MINOR: [Go] Add gRPC status details to sample Flight SQL server
  go/arrow/flight/flightsql/example/sql_batch_reader.go
  go/arrow/flight/flightsql/example/sqlite_server.go
Labels: Component: Go, awaiting merge

#37032 GH-36892: [C++] Fix performance regressions in `FieldPath::Get`
  cpp/src/arrow/type.cc
  cpp/src/arrow/type_benchmark.cc
Labels: Component: C++, awaiting committer review

#36673 GH-36672: [Python][C++] Add support for vector function UDF
  python/pyarrow/_compute.pyx
  python/pyarrow/compute.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/src/arrow/python/udf.cc
  python/pyarrow/src/arrow/python/udf.h
  python/pyarrow/tests/test_udf.py
Labels: Component: Python, awaiting changes

#37053 GH-37051: [Dev][JS] Add Dependabot configuration for npm
  .github/dependabot.yml
Labels: awaiting committer review

#35672 GH-35176: [C++] Add support for disabling threading for emscripten
  ci/scripts/cpp_build.sh
  cpp/cmake_modules/DefineOptions.cmake
  cpp/src/arrow/acero/CMakeLists.txt
  cpp/src/arrow/acero/asof_join_node.cc
  cpp/src/arrow/acero/bloom_filter.cc
  cpp/src/arrow/acero/bloom_filter_test.cc
  cpp/src/arrow/acero/plan_test.cc
  cpp/src/arrow/acero/task_util.cc
  cpp/src/arrow/acero/task_util.h
  cpp/src/arrow/acero/task_util_test.cc
  cpp/src/arrow/dataset/dataset_writer_test.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/io/memory_test.cc
  cpp/src/arrow/testing/gtest_util.cc
  cpp/src/arrow/util/async_generator_test.cc
  cpp/src/arrow/util/config.h.cmake
  cpp/src/arrow/util/future.cc
  cpp/src/arrow/util/future_test.cc
  cpp/src/arrow/util/iterator_test.cc
  cpp/src/arrow/util/task_group.cc
  cpp/src/arrow/util/thread_pool.cc
  cpp/src/arrow/util/thread_pool.h
  cpp/src/arrow/util/thread_pool_test.cc
  cpp/src/parquet/encryption/key_management_test.cc
  dev/tasks/tasks.yml
Labels: Component: Parquet, Component: C++, awaiting change review

#37020 GH-37019: [R] Documentation for read_parquet() et al needs updating
  r/R/csv.R
  r/R/dplyr-funcs-doc.R
  r/R/feather.R
  r/R/ipc-stream.R
  r/R/json.R
  r/R/parquet.R
  r/man/acero.Rd
  r/man/read_delim_arrow.Rd
  r/man/read_feather.Rd
  r/man/read_ipc_stream.Rd
  r/man/read_json_arrow.Rd
  r/man/read_parquet.Rd
Labels: Component: R, Component: Parquet, awaiting committer review

#36937 GH-36674: [C++] Use anonymous namespace in arrow/ipc/reader.cc
  cpp/src/arrow/ipc/reader.cc
Labels: Component: C++, awaiting committer review

#36517 GH-36512: [C++][FlightRPC] Add async GetFlightInfo client call
  cpp/src/arrow/flight/CMakeLists.txt
  cpp/src/arrow/flight/api.h
  cpp/src/arrow/flight/client.cc
  cpp/src/arrow/flight/client.h
  cpp/src/arrow/flight/flight_internals_test.cc
  cpp/src/arrow/flight/flight_test.cc
  cpp/src/arrow/flight/serialization_internal.cc
  cpp/src/arrow/flight/serialization_internal.h
  cpp/src/arrow/flight/test_definitions.cc
  cpp/src/arrow/flight/test_definitions.h
  cpp/src/arrow/flight/transport.cc
  cpp/src/arrow/flight/transport.h
  cpp/src/arrow/flight/transport/grpc/grpc_client.cc
  cpp/src/arrow/flight/transport/grpc/util_internal.cc
  cpp/src/arrow/flight/transport/grpc/util_internal.h
  cpp/src/arrow/flight/type_fwd.h
  cpp/src/arrow/flight/types.cc
  cpp/src/arrow/flight/types.h
  cpp/src/arrow/flight/types_async.h
Labels: Component: C++, Component: FlightRPC, awaiting changes

#36932 GH-36931: [C++] Add cumulative_mean function
  cpp/src/arrow/compute/api_vector.cc
  cpp/src/arrow/compute/api_vector.h
  cpp/src/arrow/compute/kernels/vector_cumulative_ops.cc
  cpp/src/arrow/compute/kernels/vector_cumulative_ops_test.cc
  docs/source/cpp/compute.rst
Labels: Component: C++, Component: Documentation, awaiting committer review

#36289 GH-35273: [C++] Add integer round kernels
  cpp/src/arrow/compute/kernels/codegen_internal.h
  cpp/src/arrow/compute/kernels/scalar_round.cc
  cpp/src/arrow/compute/kernels/scalar_round_arithmetic_test.cc
  cpp/src/arrow/engine/substrait/function_test.cc
  docs/source/cpp/compute.rst
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, Component: Documentation, Breaking Change, awaiting merge

#37083 GH-37073: [Java] JDBC: Only use username/pass auth if token is not provided
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/client/ArrowFlightSqlClientHandler.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ConnectionTest.java
Labels: Component: Java

#36906 GH-36905: [C++] Add support for SparseUnion to selection functions
  cpp/src/arrow/compute/kernels/vector_selection_filter_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_internal.h
  cpp/src/arrow/compute/kernels/vector_selection_take_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_test.cc
  docs/source/cpp/compute.rst
Labels: Component: C++, Component: Documentation, awaiting committer review

#36966 GH-36949: [C++] Fix KeyColumnArray's buffers array bounds assertion.
  cpp/src/arrow/compute/light_array.h
Labels: Component: C++, awaiting review

#36654 GH-35450: [C++] Return error when `RecordBatch::ToStructArray` called with mismatched column lengths
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch_test.cc
Labels: Component: C++, awaiting committer review

#37109 GH-37106: [C++] Remove overflowed integer rounding benchmarks
  cpp/src/arrow/compute/kernels/scalar_round_benchmark.cc
Labels: Component: C++, awaiting committer review

#37098 GH-37096: [MATLAB] Add utility which makes valid MATLAB table variable names from an arbitrary list of strings
  matlab/src/matlab/+arrow/+tabular/+internal/makeValidDimensionNames.m
  matlab/src/matlab/+arrow/+tabular/+internal/makeValidVariableNames.m
  matlab/test/arrow/tabular/tMakeValidDimensionNames.m
  matlab/test/arrow/tabular/tMakeValidVariableNames.m
Labels: Component: MATLAB, awaiting change review

#37105 GH-37099: [C++] Fix build of Flight-UCX
  cpp/src/arrow/flight/transport/ucx/ucx_internal.cc
Labels: Component: C++, Component: FlightRPC, awaiting committer review

#36972 GH-36939: [C++][Parquet] Direct put of BooleanArray is incorrect when called several times
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding_test.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#37108 MINOR: [Docs][JS] Update implementation status table
  docs/source/status.rst
Labels: Component: Documentation, awaiting review

#37085 GH-37021 [Java][arrow-jdbc] Pluggable getConsumer
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/ArrowVectorIterator.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowConfig.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowConfigBuilder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowUtils.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/sql/example/FlightSqlExample.java
Labels: Component: Java, awaiting merge

#37117 GH-37116: [C++][ORC] Link to absl::log_internal_check_op for ABSL_DCHECK*()
  .github/workflows/cpp.yml
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#37119 GH-37022: [CI][Java] Use the official Maven download URL
  ci/docker/java-jni-manylinux-201x.dockerfile
Labels: awaiting committer review

#37121 GH-37120: [CI][Docs] Ensure removing existing Node.js
  ci/docker/linux-apt-docs.dockerfile
Labels: awaiting committer review

#37131 GH-37129: [CI][Docs] Free up disk space
  .github/workflows/docs.yml
  ci/scripts/util_free_space.sh
  dev/tasks/macros.jinja
Labels: awaiting committer review

#37130 MINOR: [CI][C++] Remove needless NPROC from Windows job
  .github/workflows/cpp.yml
Labels: awaiting committer review

#37132 GH-37129: [CI][Docs] Use Ubuntu 22.04
  .github/workflows/docs.yml
Labels: awaiting committer review

#37101 GH-36950: [C++] Change std::vector<std::shared_ptr<Field>> to use it's alias: FieldVector
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
  cpp/src/arrow/type_fwd.h
Labels: Component: C++, awaiting committer review

#37135 GH-37110: [C++] Expression: SmallestTypeFor lost tz for Scalar
  cpp/src/arrow/compute/expression.cc
  cpp/src/arrow/compute/expression_test.cc
Labels: Component: C++, awaiting committer review

#37150 GH-37124: [MATLAB] Add utility functions for validating numeric and string index values
  matlab/src/matlab/+arrow/+internal/+validate/+index/numeric.m
  matlab/src/matlab/+arrow/+internal/+validate/+index/numericOrString.m
  matlab/src/matlab/+arrow/+internal/+validate/+index/string.m
  matlab/test/arrow/internal/validate/index/tNumeric.m
  matlab/test/arrow/internal/validate/index/tNumericOrString.m
  matlab/test/arrow/internal/validate/index/tString.m
Labels: Component: MATLAB, awaiting merge

#37064 GH-37028: [C++] Add support for duration types to if_else functions
  cpp/src/arrow/compute/kernels/codegen_internal.cc
  cpp/src/arrow/compute/kernels/scalar_if_else.cc
  cpp/src/arrow/compute/kernels/scalar_if_else_test.cc
  cpp/src/arrow/compute/kernels/test_util.h
Labels: Component: C++, awaiting committer review

#37123 GH-35916 [Java][arrow-jdbc] Add extra fields to JdbcFieldInfo
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcFieldInfo.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/ResultSetUtility.java
Labels: Component: Java, awaiting merge

#37125 GH-37128: [Java] Bump CI job from JDK 18 to JDK 20
  .github/workflows/java.yml
  docker-compose.yml
  java/flight/flight-sql-jdbc-core/pom.xml
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/client/utils/ClientAuthenticationUtilsTest.java
  java/flight/flight-sql-jdbc-driver/pom.xml
Labels: Component: Java, awaiting merge

#37161 GH-37160: [MATLAB] `arrow.internal.validate.index.string()` should not error if given a string with zero characters
  matlab/src/matlab/+arrow/+internal/+validate/+index/string.m
  matlab/test/arrow/internal/validate/index/tString.m
Labels: Component: MATLAB, awaiting merge

#37162 GH-37157: [MATLAB] Use `arrow.internal.validate.index.numericOrString()` in the `field()` method of `arrow.tabular.Schema`
  matlab/src/matlab/+arrow/+tabular/Schema.m
  matlab/test/arrow/tabular/tSchema.m
Labels: Component: MATLAB, awaiting changes

#37163 GH-37046: [MATLAB] Implement `featherread` in terms of `arrow.internal.io.feather.Reader`
  matlab/src/cpp/arrow/matlab/io/feather/proxy/reader.cc
  matlab/src/matlab/featherread.m
  matlab/test/tfeather.m
  matlab/test/tfeathermex.m
Labels: Component: MATLAB, awaiting changes

#36946 GH-36155: [C++][Go][Java][FlightRPC] Add support for long-running queries
  cpp/src/arrow/flight/CMakeLists.txt
  cpp/src/arrow/flight/client.cc
  cpp/src/arrow/flight/client.h
  cpp/src/arrow/flight/flight_internals_test.cc
  cpp/src/arrow/flight/integration_tests/flight_integration_test.cc
  cpp/src/arrow/flight/integration_tests/test_integration.cc
  cpp/src/arrow/flight/middleware.h
  cpp/src/arrow/flight/serialization_internal.cc
  cpp/src/arrow/flight/serialization_internal.h
  cpp/src/arrow/flight/server.cc
  cpp/src/arrow/flight/server.h
  cpp/src/arrow/flight/transport.cc
  cpp/src/arrow/flight/transport.h
  cpp/src/arrow/flight/transport/grpc/grpc_client.cc
  cpp/src/arrow/flight/transport/grpc/grpc_server.cc
  cpp/src/arrow/flight/transport/ucx/ucx_client.cc
  cpp/src/arrow/flight/transport/ucx/ucx_internal.h
  cpp/src/arrow/flight/transport/ucx/ucx_server.cc
  cpp/src/arrow/flight/type_fwd.h
  cpp/src/arrow/flight/types.cc
  cpp/src/arrow/flight/types.h
  dev/archery/archery/integration/runner.py
  docs/source/format/Flight.rst
  docs/source/format/Flight/PollFlightInfo.mmd
  docs/source/format/Flight/PollFlightInfo.mmd.svg
  format/Flight.proto
  go/arrow/flight/flightsql/client_test.go
  go/arrow/flight/gen/flight/Flight.pb.go
  go/arrow/flight/gen/flight/FlightSql.pb.go
  go/arrow/flight/gen/flight/Flight_grpc.pb.go
  go/arrow/flight/server.go
  go/arrow/internal/flight_integration/scenario.go
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightClient.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightMethod.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightProducer.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightService.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/PollInfo.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/PollFlightInfoProducer.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/PollFlightInfoScenario.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/Scenarios.java
  java/flight/flight-integration-tests/src/test/java/org/apache/arrow/flight/integration/tests/IntegrationTest.java
Labels: Component: Java, Component: Go, Component: C++, Component: FlightRPC, Component: Documentation, awaiting change review

#36996 GH-36991: [Python][Packaging] Skip tests on Win that require a tz database
  python/pyarrow/tests/test_convert_builtin.py
  python/pyarrow/tests/test_scalars.py
Labels: Component: Python, Component: Packaging, awaiting committer review

#37112 GH-37102: [Go][Parquet] Encoding: Make BitWriter Reserve when ReserveBytes
  go/parquet/internal/encoding/delta_bit_packing.go
  go/parquet/internal/encoding/encoding_test.go
  go/parquet/internal/encoding/levels.go
  go/parquet/internal/utils/bit_writer.go
  go/parquet/internal/utils/rle.go
Labels: Component: Go, awaiting changes

#37024 GH-36726: [R] calling read_parquet on S3 connections results in error message being ignored
  r/R/io.R
  r/tests/testthat/test-csv.R
  r/tests/testthat/test-ipc-stream.R
Labels: Component: R, awaiting merge

#37176 GH-37175: [MATLAB] Support creating `arrow.tabular.RecordBatch` instances from a list of `arrow.array.Array` values
  matlab/src/matlab/+arrow/+tabular/+internal/validateArrayLengths.m
  matlab/src/matlab/+arrow/+tabular/+internal/validateColumnNames.m
  matlab/src/matlab/+arrow/+tabular/RecordBatch.m
  matlab/test/arrow/tabular/tRecordBatch.m
  matlab/test/arrow/tabular/tValidateArrayLengths.m
  matlab/test/arrow/tabular/tValidateColumnNames.m
Labels: Component: MATLAB, awaiting merge

#37184 GH-37182: [MATLAB] Add public `Schema` property to MATLAB `arrow.tabular.RecordBatch` class
  matlab/src/cpp/arrow/matlab/tabular/proxy/record_batch.cc
  matlab/src/cpp/arrow/matlab/tabular/proxy/record_batch.h
  matlab/src/matlab/+arrow/+tabular/RecordBatch.m
  matlab/test/arrow/tabular/tRecordBatch.m
Labels: Component: MATLAB, awaiting committer review

#37189 GH-37187: [MATLAB] Re-implement `tfeathermex.m` tests in terms of new internal Feather Reader and Writer objects
  matlab/test/arrow/io/feather/tRoundTrip.m
  matlab/test/tfeathermex.m
  matlab/test/util/createVariablesAndMetadataStructs.m
  matlab/test/util/featherMEXRoundTrip.m
Labels: Component: MATLAB, awaiting change review

#37191 GH-37179: [MATLAB] Add a test utility that creates a MATLAB `table` containing all supported types
  matlab/src/matlab/+arrow/+internal/+test/+tabular/createTableWithSupportedTypes.m
  matlab/test/arrow/tabular/tRecordBatch.m
  matlab/test/tfeather.m
  matlab/test/util/createTable.m
Labels: Component: MATLAB, awaiting merge

#37142 GH-37141: [GLib][FlightRPC] Add more ArrowFlight::ClientOptions properties
  c_glib/arrow-flight-glib/client.cpp
  c_glib/test/flight/test-client-options.rb
Labels: Component: GLib, awaiting committer review

#37198 GH-37197: [Java][CI][Packaging] Free some disk space on the java-jars GitHub job
  dev/tasks/java-jars/github.yml
Labels: awaiting committer review

#37190 GH-37188: [MATLAB] Move `test/util/featherRoundTrip.m` into a packaged test utility function
  matlab/src/matlab/+arrow/+internal/+test/+io/+feather/roundtrip.m
  matlab/test/arrow/io/feather/tRoundTrip.m
  matlab/test/tfeather.m
Labels: Component: MATLAB, awaiting changes

#37204 GH-37203: [MATLAB] Remove unused feather V1 MEX infrastructure and code
  matlab/CMakeLists.txt
  matlab/build_support/common_vars.m
  matlab/build_support/compile.m
  matlab/build_support/test.m
  matlab/src/cpp/arrow/matlab/api/visibility.h
  matlab/src/cpp/arrow/matlab/feather/feather_functions.cc
  matlab/src/cpp/arrow/matlab/feather/feather_functions.h
  matlab/src/cpp/arrow/matlab/feather/feather_reader.cc
  matlab/src/cpp/arrow/matlab/feather/feather_reader.h
  matlab/src/cpp/arrow/matlab/feather/feather_writer.cc
  matlab/src/cpp/arrow/matlab/feather/feather_writer.h
  matlab/src/cpp/arrow/matlab/feather/matlab_traits.h
  matlab/src/cpp/arrow/matlab/feather/util/handle_status.cc
  matlab/src/cpp/arrow/matlab/feather/util/handle_status.h
  matlab/src/cpp/arrow/matlab/feather/util/unicode_conversion.cc
  matlab/src/cpp/arrow/matlab/feather/util/unicode_conversion.h
  matlab/src/cpp/arrow/matlab/mex/call.cc
  matlab/src/cpp/arrow/matlab/mex/mex_functions.h
  matlab/src/cpp/arrow/matlab/mex/mex_util.cc
  matlab/src/cpp/arrow/matlab/mex/mex_util.h
  matlab/src/cpp/arrow/matlab/mex/mex_util_test.cc
Labels: Component: MATLAB, awaiting merge

#37149 GH-37148: [C++] Explicitly list the integer values of the Type::type enum
  cpp/src/arrow/type_fwd.h
  r/R/enums.R
Labels: Component: R, Component: C++, awaiting merge

#37214 GH-37213: [C#] Updating a reference to FlatBuffers missed due to rebase/merge conflict
  csharp/src/Apache.Arrow/Arrays/ArrayData.cs
Labels: Component: C#, awaiting committer review

#37211 GH-37209: [CI][Docs][MATLAB] Remove support for `MATLAB_ARROW_INTERFACE` flag from CMake build system and build new MATLAB Interface code by default
  ci/scripts/matlab_build.sh
  matlab/CMakeLists.txt
  matlab/README.md
Labels: Component: MATLAB, Component: Documentation, Component: Continuous Integration, awaiting committer review

#37167 GH-37144: [C++] Add RecordBatchFileReader::To{RecordBatches,Table}
  cpp/src/arrow/ipc/read_write_test.cc
  cpp/src/arrow/ipc/reader.cc
  cpp/src/arrow/ipc/reader.h
  cpp/src/arrow/table.h
Labels: Component: C++, awaiting changes

#37215 GH-37210: [Docs][MATLAB] Update MATLAB `README.md` to mention support for new MATLAB APIs (e.g. `RecordBatch`, `Field`, `Schema`, etc.)
  matlab/README.md
Labels: Component: MATLAB, Component: Documentation, awaiting changes

#37223 GH-37222: [Docs][MATLAB] Rename `arrow.recordbatch` (all lowercase) to `arrow.recordBatch` (camelCase)
  matlab/README.md
  matlab/src/matlab/+arrow/recordBatch.m
  matlab/src/matlab/featherwrite.m
  matlab/test/arrow/io/feather/tRoundTrip.m
  matlab/test/arrow/tabular/tRecordBatch.m
Labels: Component: MATLAB, Component: Documentation, awaiting committer review

#37233 GH-37228: [MATLAB] Add C++ `ARROW_MATLAB_EXPORT` symbol export macro
  matlab/src/cpp/arrow/matlab/api/visibility.h
  matlab/src/cpp/arrow/matlab/array/proxy/numeric_array.h
  matlab/src/cpp/arrow/matlab/array/proxy/timestamp_array.cc
  matlab/src/cpp/arrow/matlab/array/proxy/timestamp_array.h
  matlab/src/cpp/arrow/matlab/proxy/factory.cc
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
Labels: Component: MATLAB, awaiting merge

#37218 GH-37217: [Python] Add missing docstrings to Cython
  python/pyarrow/_compute.pyx
  python/pyarrow/_csv.pyx
  python/pyarrow/_dataset.pyx
  python/pyarrow/_dataset_orc.pyx
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/_fs.pyx
  python/pyarrow/_json.pyx
  python/pyarrow/_parquet.pyx
  python/pyarrow/array.pxi
  python/pyarrow/gandiva.pyx
  python/pyarrow/io.pxi
  python/pyarrow/scalar.pxi
  python/pyarrow/table.pxi
  python/pyarrow/tensor.pxi
  python/pyarrow/types.pxi
Labels: Component: Python, Component: C++ - Gandiva, awaiting change review

#37248 GH-37245: [MATLAB] `arrow.internal.proxy.validate` throws `MATLAB:UndefinedFunction` when crafting the message to display when throwing the `arrow:proxy:ProxyNameMismatch` error
  matlab/src/matlab/+arrow/+internal/+proxy/validate.m
  matlab/test/arrow/internal/proxy/tValidate.m
Labels: Component: MATLAB, awaiting merge

#36817 GH-36816: [C#] Reduce allocations
  csharp/src/Apache.Arrow/Arrays/Time32Array.cs
  csharp/src/Apache.Arrow/Arrays/Time64Array.cs
  csharp/src/Apache.Arrow/C/CArrowArrayStreamExporter.cs
  csharp/src/Apache.Arrow/C/CArrowSchemaImporter.cs
  csharp/src/Apache.Arrow/Ipc/MessageSerializer.cs
  csharp/src/Apache.Arrow/Types/IntervalUnit.cs
  csharp/src/Apache.Arrow/Types/Time32Type.cs
  csharp/src/Apache.Arrow/Types/Time64Type.cs
  csharp/src/Apache.Arrow/Types/TimeType.cs
Labels: Component: C#, awaiting merge

#37247 GH-37246: [Java] expose VectorAppender class to offer support to append vector values
  java/vector/src/main/java/org/apache/arrow/vector/util/VectorAppender.java
Labels: Component: Java, awaiting merge

#37240 GH-37107: [C++] Suppress an unused variable warning with GCC 7
  cpp/src/arrow/util/ree_util.h
Labels: Component: C++, awaiting committer review

#37261 GH-37239: [Ruby] Updated documentation for ArrowTable#initialize to clarify argument details
  ruby/red-arrow/lib/arrow/table.rb
Labels: Component: Ruby, awaiting review

#37168 GH-36933: [Python] Pointless ellipsis in array repr
  cpp/src/arrow/pretty_print.cc
  cpp/src/arrow/pretty_print_test.cc
Labels: Component: C++, awaiting merge

#37256 GH-37251: [MATLAB] Make `arrow.type.TemporalType` a "tag" class
  matlab/src/matlab/+arrow/+type/TemporalType.m
  matlab/src/matlab/+arrow/+type/Time32Type.m
  matlab/src/matlab/+arrow/+type/TimestampType.m
Labels: Component: MATLAB, awaiting merge

#37275 GH-37273: [C++] Bump vendored xxhash version
  cpp/src/arrow/vendored/xxhash/README.md
  cpp/src/arrow/vendored/xxhash/xxhash.c
  cpp/src/arrow/vendored/xxhash/xxhash.h
Labels: Component: C++, Component: Documentation, awaiting merge

#36977 GH-36240: [Python] Refactor CumulativeSumOptions to a separate class for independent deprecation
  python/pyarrow/_compute.pyx
  python/pyarrow/compute.py
  python/pyarrow/tests/test_compute.py
Labels: Component: Python, awaiting committer review

#37272 GH-37266: [CI][C++] Use ARROW_CMAKE_ARGS not CMAKE_ARGS
  .github/workflows/cpp.yml
  .github/workflows/ruby.yml
  ci/appveyor-cpp-build.bat
  ci/scripts/cpp_build.sh
Labels: awaiting review

#34834 GH-33985: [C++] Add substrait serialization/deserialization for expressions
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/compute/cast.cc
  cpp/src/arrow/compute/cast.h
  cpp/src/arrow/engine/CMakeLists.txt
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/engine/substrait/extended_expression_internal.cc
  cpp/src/arrow/engine/substrait/extended_expression_internal.h
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/extension_set.h
  cpp/src/arrow/engine/substrait/options.h
  cpp/src/arrow/engine/substrait/plan_internal.cc
  cpp/src/arrow/engine/substrait/relation.h
  cpp/src/arrow/engine/substrait/serde.cc
  cpp/src/arrow/engine/substrait/serde.h
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/engine/substrait/util.cc
  cpp/src/arrow/engine/substrait/util.h
  cpp/src/arrow/engine/substrait/util_internal.cc
  cpp/src/arrow/engine/substrait/util_internal.h
  cpp/thirdparty/versions.txt
  docs/source/python/api/substrait.rst
  python/pyarrow/_compute.pyx
  python/pyarrow/_substrait.pyx
  python/pyarrow/includes/libarrow_substrait.pxd
  python/pyarrow/substrait.py
  python/pyarrow/tests/test_compute.py
  python/pyarrow/tests/test_substrait.py
Labels: Component: C++, Component: Python, Component: Documentation, awaiting change review

#37316 GH-37253: [MATLAB] Add test cases which verify that the `NumFields`, `BitWidth`, and `ID` properties can not be modified to `hFixedWidth` test class
  matlab/test/arrow/type/hFixedWidthType.m
  matlab/test/arrow/type/tTime32Type.m
  matlab/test/arrow/type/tTime64Type.m
Labels: Component: MATLAB, awaiting committer review

#37300 GH-37299: [C++] Fix clang-format version mismatch error with Homebrew's clang-format
  cpp/cmake_modules/FindClangTools.cmake
Labels: Component: C++, awaiting merge

#37315 GH-37290: [MATLAB] Add `arrow.array.Time32Array` class
  matlab/src/cpp/arrow/matlab/array/proxy/time32_array.cc
  matlab/src/cpp/arrow/matlab/array/proxy/time32_array.h
  matlab/src/cpp/arrow/matlab/proxy/factory.cc
  matlab/src/cpp/arrow/matlab/type/proxy/wrap.cc
  matlab/src/matlab/+arrow/+array/Time32Array.m
  matlab/src/matlab/+arrow/+type/+traits/Time32Traits.m
  matlab/src/matlab/+arrow/+type/+traits/traits.m
  matlab/test/arrow/array/tTime32Array.m
  matlab/test/arrow/type/traits/tTime32Traits.m
  matlab/test/arrow/type/traits/ttraits.m
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
Labels: Component: MATLAB, awaiting change review

#37301 GH-35167: [Docs][C++] Use new API for arrow::json::TableReader
  docs/source/cpp/json.rst
Labels: Component: Documentation, awaiting change review

#37327 GH-37276: [C++] Skip multithread tests on single thread env
  cpp/src/arrow/acero/plan_test.cc
  cpp/src/arrow/csv/reader_test.cc
Labels: Component: C++, awaiting review

#37305 GH-37303: [Python] Update test_option_class_equality due to CumulativeSumOptions refactor
  python/pyarrow/tests/test_compute.py
Labels: Component: Python, awaiting review

#37331 GH-37330: [Docs][CI]Increase the Timeout for the Sphinx build
  .github/workflows/docs_light.yml
Labels: awaiting merge

#37292 GH-20086: [C++] Cast between fixed size and variable size lists
  cpp/src/arrow/compute/kernels/scalar_cast_nested.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
Labels: Component: C++, awaiting change review

#37304 MINOR: [Go] Add LazyQuotes parsing option to CSV reader
  go/arrow/csv/common.go
Labels: Component: Go, awaiting review

#36986 GH-37093: [Python] Add async Flight client with GetFlightInfo
  cpp/src/arrow/flight/client.cc
  cpp/src/arrow/flight/client.h
  cpp/src/arrow/flight/test_definitions.cc
  cpp/src/arrow/flight/transport.h
  cpp/src/arrow/flight/transport/grpc/grpc_client.cc
  python/pyarrow/_flight.pyx
  python/pyarrow/error.pxi
  python/pyarrow/includes/common.pxd
  python/pyarrow/includes/libarrow_flight.pxd
  python/pyarrow/includes/libarrow_python.pxd
  python/pyarrow/lib.pxd
  python/pyarrow/src/arrow/python/async.h
  python/pyarrow/src/arrow/python/common.h
  python/pyarrow/src/arrow/python/pyarrow.cc
  python/pyarrow/src/arrow/python/pyarrow.h
  python/pyarrow/tests/test_flight_async.py
Labels: Component: C++, Component: Python, Component: FlightRPC, awaiting change review

#35865 GH-35740: Add documentation for list arrays' values property
  python/pyarrow/array.pxi
Labels: Component: Python, awaiting change review

#37347 GH-37340: [MATLAB] The `column(index)` method of `arrow.tabular.RecordBatch` errors if `index` refers to an `arrow.array.Time32Array` column
  matlab/src/cpp/arrow/matlab/array/proxy/wrap.cc
  matlab/src/matlab/+arrow/+internal/+test/+tabular/createAllSupportedArrayTypes.m
  matlab/test/arrow/tabular/tRecordBatch.m
Labels: Component: MATLAB, awaiting merge

#37335 MINOR: [R] Update reference to data.frame which should say tibble instead
  r/data-raw/docgen.R
Labels: Component: R, awaiting merge

#37314 GH-37294: [C++] Use std::string for HasSubstr matcher
  cpp/src/arrow/flight/flight_test.cc
  cpp/src/arrow/flight/test_definitions.cc
Labels: Component: C++, Component: FlightRPC, awaiting committer review

#37255 GH-37254: [Python] Parametrize all pickling tests to use both the pickle and cloudpickle modules
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/_fs.pyx
  python/pyarrow/_gcsfs.pyx
  python/pyarrow/_hdfs.pyx
  python/pyarrow/_s3fs.pyx
  python/pyarrow/scalar.pxi
  python/pyarrow/tests/conftest.py
  python/pyarrow/tests/parquet/test_dataset.py
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_compute.py
  python/pyarrow/tests/test_csv.py
  python/pyarrow/tests/test_dataset.py
  python/pyarrow/tests/test_extension_type.py
  python/pyarrow/tests/test_fs.py
  python/pyarrow/tests/test_hdfs.py
  python/pyarrow/tests/test_io.py
  python/pyarrow/tests/test_json.py
  python/pyarrow/tests/test_scalars.py
  python/pyarrow/tests/test_schema.py
  python/pyarrow/tests/test_table.py
  python/pyarrow/tests/test_types.py
Labels: Component: Python, awaiting merge

#37326 GH-37325: [R] Update NEWS.md with missing changes for 13.0.0
  r/NEWS.md
Labels: Component: R, Component: Documentation, awaiting merge

#37349 GH-37329: [Release][Homebrew] Follow directory structure change
  dev/release/post-13-homebrew.sh
Labels: awaiting committer review

#37174 GH-37173: [C++][Go][Format] C-export/import Run-End Encoded Arrays
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/c/bridge_test.cc
  cpp/src/arrow/type.cc
  docs/source/format/CDataInterface.rst
  go/arrow/array/encoded.go
  go/arrow/cdata/cdata.go
  go/arrow/cdata/cdata_exports.go
  go/arrow/cdata/cdata_test.go
  go/arrow/cdata/cdata_test_framework.go
  go/arrow/cdata/test/test_export_to_cgo.py
Labels: Component: Go, Component: C++, Component: Documentation, awaiting change review

#37324 GH-37307: [Python][CI] Manually skip tests with skip_with_pyarrow_strings marker for nightly dask integration tests
  ci/scripts/integration_dask.sh
Labels: awaiting committer review

#37351 GH-37334: [Packaging][Release][RPM] Don't remove old repodata/*
  dev/release/binary-task.rb
Labels: awaiting merge

#37311 GH-37308: [C++][Docs] Change name for CPP tutorial and minor fixes to the job
  cpp/examples/tutorial_examples/CMakeLists.txt
  cpp/examples/tutorial_examples/build_example.sh
  cpp/examples/tutorial_examples/dataset_example.cc
  cpp/examples/tutorial_examples/run.sh
  dev/tasks/tasks.yml
Labels: Component: C++, awaiting changes

#37374 GH-37373: [CI][Integration] Free up disk space
  .github/workflows/integration.yml
Labels: awaiting merge

#37387 GH-37386: [R] CRAN failures due to "invalid non-character version specification"
  r/tests/testthat/test-data-type.R
  r/tests/testthat/test-schema.R
Labels: Component: R, awaiting merge

#37372 MINOR: [R][Docs] Improve error message around add_filename
  r/R/dplyr-funcs-augmented.R
  r/R/util.R
  r/man/add_filename.Rd
  r/tests/testthat/test-dataset.R
Labels: Component: R, awaiting merge

#37370 GH-37345: [MATLAB] Add function handle to `fromMATLAB` static construction methods to `TypeTraits` classes
  matlab/src/matlab/+arrow/+type/+traits/BooleanTraits.m
  matlab/src/matlab/+arrow/+type/+traits/Float32Traits.m
  matlab/src/matlab/+arrow/+type/+traits/Float64Traits.m
  matlab/src/matlab/+arrow/+type/+traits/Int16Traits.m
  matlab/src/matlab/+arrow/+type/+traits/Int32Traits.m
  matlab/src/matlab/+arrow/+type/+traits/Int64Traits.m
  matlab/src/matlab/+arrow/+type/+traits/Int8Traits.m
  matlab/src/matlab/+arrow/+type/+traits/StringTraits.m
  matlab/src/matlab/+arrow/+type/+traits/Time32Traits.m
  matlab/src/matlab/+arrow/+type/+traits/Time64Traits.m
  matlab/src/matlab/+arrow/+type/+traits/TimestampTraits.m
  matlab/src/matlab/+arrow/+type/+traits/TypeTraits.m
  matlab/src/matlab/+arrow/+type/+traits/UInt16Traits.m
  matlab/src/matlab/+arrow/+type/+traits/UInt32Traits.m
  matlab/src/matlab/+arrow/+type/+traits/UInt64Traits.m
  matlab/src/matlab/+arrow/+type/+traits/UInt8Traits.m
  matlab/test/arrow/type/traits/hTypeTraits.m
  matlab/test/arrow/type/traits/tBooleanTraits.m
  matlab/test/arrow/type/traits/tInt16Traits.m
  matlab/test/arrow/type/traits/tInt32Traits.m
  matlab/test/arrow/type/traits/tInt64Traits.m
  matlab/test/arrow/type/traits/tInt8Traits.m
  matlab/test/arrow/type/traits/tStringTraits.m
  matlab/test/arrow/type/traits/tTime32Traits.m
  matlab/test/arrow/type/traits/tTime64Traits.m
  matlab/test/arrow/type/traits/tTimestampTraits.m
  matlab/test/arrow/type/traits/tUInt16Traits.m
  matlab/test/arrow/type/traits/tUInt32Traits.m
  matlab/test/arrow/type/traits/tUInt64Traits.m
  matlab/test/arrow/type/traits/tUInt8Traits.m
Labels: Component: MATLAB, awaiting merge

#37393 GH-37392: [JS] Remove lerna
  js/DEVELOP.md
  js/lerna.json
  js/npm-release.sh
  js/package.json
  js/yarn.lock
Labels: Component: JavaScript, Component: Documentation, awaiting change review

#37225 GH-37208: [R] Use currrently running R binary to compile test program (nix install)
  r/tools/nixlibs.R
Labels: Component: R, awaiting change review

#37264 GH-37268: [C++] adding move in some ctor in fs and dataset
  cpp/src/arrow/dataset/scan_node.cc
  cpp/src/arrow/filesystem/filesystem.cc
  cpp/src/arrow/filesystem/filesystem.h
  cpp/src/arrow/io/caching.h
  cpp/src/arrow/util/async_util.h
  cpp/src/arrow/util/thread_pool.h
Labels: Component: C++, awaiting merge

#37417 GH-37416: [Go] Allow accessing underlying index builder of dictionary builders
  go/arrow/array/dictionary.go
Labels: Component: Go, awaiting review

#37426 GH-36124: [C++] Export compile_commands.json by default
  cpp/CMakePresets.json
Labels: Component: C++, awaiting committer review

#37415 GH-37414: [Release][CI] Update references to wrong apache-arrow Homebrew formula path
  dev/release/post-04-ruby.sh
  dev/tasks/homebrew-formulae/apache-arrow-glib.rb
  dev/tasks/homebrew-formulae/apache-arrow.rb
  dev/tasks/r/github.macos.brew.yml
Labels: awaiting committer review

#37238 GH-37237: [C++] Set extraction time to all downloaded contents timestamp
  cpp/CMakeLists.txt
Labels: Component: C++, awaiting changes

#37399 GH-37352: [C++] Don't put all dependencies to ArrowConfig.cmake/arrow.pc
  cpp/CMakeLists.txt
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/ArrowConfig.cmake.in
  cpp/src/arrow/ArrowTestingConfig.cmake.in
  cpp/src/arrow/flight/ArrowFlightConfig.cmake.in
  cpp/src/arrow/flight/arrow-flight.pc.in
  cpp/src/parquet/ParquetConfig.cmake.in
  cpp/src/parquet/parquet.pc.in
  dev/release/verify-apt.sh
  dev/release/verify-yum.sh
  dev/tasks/linux-packages/apache-arrow/debian/control.in
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
Labels: Component: Parquet, Component: C++, Component: FlightRPC, awaiting committer review

#37409 GH-37408: [C++] Install arrow-compute.pc only when ARROW_COMPUTE=ON
  cpp/src/arrow/compute/CMakeLists.txt
  cpp/src/arrow/compute/arrow-compute.pc.in
Labels: Component: C++, awaiting committer review

#37435 MINOR: [Docs][Java] Fix typo in javadoc
  java/vector/src/main/java/org/apache/arrow/vector/complex/AbstractStructVector.java
Labels: Component: Java, awaiting merge

#37438 MINOR: [Go] Export IndexBuilder struct
  go/arrow/array/dictionary.go
Labels: Component: Go, awaiting review

#37451 GH-37447: [C++][Docs] Document `ARROW_SUBSTRAIT` CMake flag
  docs/source/developers/cpp/building.rst
Labels: Component: Documentation

#37395 GH-37394: [C++][S3] Use AWS_SDK_VERSION_* instead of try_compile()
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/try_compile/check_s3fs_crt.cc
Labels: Component: C++, awaiting committer review

#37445 GH-37367: [MATLAB] Add `arrow.array.Date32Array` class
  matlab/src/cpp/arrow/matlab/array/proxy/numeric_array.h
  matlab/src/cpp/arrow/matlab/array/proxy/wrap.cc
  matlab/src/cpp/arrow/matlab/proxy/factory.cc
  matlab/src/cpp/arrow/matlab/type/proxy/traits.h
  matlab/src/cpp/arrow/matlab/type/proxy/wrap.cc
  matlab/src/matlab/+arrow/+array/Date32Array.m
  matlab/src/matlab/+arrow/+internal/+test/+tabular/createAllSupportedArrayTypes.m
  matlab/src/matlab/+arrow/+type/+traits/Date32Traits.m
  matlab/src/matlab/+arrow/+type/+traits/traits.m
  matlab/test/arrow/array/tDate32Array.m
  matlab/test/arrow/array/tTime32Array.m
  matlab/test/arrow/type/traits/tDate32Traits.m
  matlab/test/arrow/type/traits/ttraits.m
Labels: Component: MATLAB, awaiting changes

#37441 GH-37440: [C#][Docs] Add Flight SQL supported functions to status.rst
  docs/source/status.rst
Labels: Component: Documentation, awaiting change review

#36835 GH-29847: [C++] Build with Azure SDK for C++
  ci/docker/ubuntu-20.04-cpp.dockerfile
  ci/docker/ubuntu-22.04-cpp.dockerfile
  ci/scripts/cpp_build.sh
  cpp/CMakeLists.txt
  cpp/cmake_modules/FindAzure.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting merge

#37360 GH-37212: [C++] IO: Add FromString to ::arrow::io::BufferReader
  cpp/examples/arrow/join_example.cc
  cpp/src/arrow/adapters/orc/adapter_test.cc
  cpp/src/arrow/buffer.cc
  cpp/src/arrow/compute/function_internal.cc
  cpp/src/arrow/flight/sql/client.cc
  cpp/src/arrow/flight/types.cc
  cpp/src/arrow/io/memory.cc
  cpp/src/arrow/io/memory.h
  cpp/src/arrow/io/memory_test.cc
  cpp/src/arrow/ipc/read_write_test.cc
  cpp/src/arrow/ipc/reader.h
Labels: Component: C++, Component: FlightRPC, awaiting merge

#37454 GH-37453: [C++][Parquet] Performance fix for WriteBatch
  cpp/src/parquet/column_writer.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#36784 GH-36771: [R] stringr helper functions drop calling environment when evaluating
  r/R/dplyr-funcs-string.R
  r/tests/testthat/test-dplyr-funcs-string.R
Labels: Component: R, awaiting merge

#37462 MINOR: [C++] Mark more files generated
  .gitattributes
Labels: awaiting committer review

#37450 GH-37449: [Python] Catch error importing `pyarrow.dataset` in `python/pyarrow/tests/test_substrait.py`
  python/pyarrow/tests/test_substrait.py
Labels: Component: Python, awaiting change review

#37243 GH-34909: [C++] Avoid mean overflow on large integer inputs
  cpp/src/arrow/compute/kernels/aggregate_basic_internal.h
  cpp/src/arrow/compute/kernels/aggregate_test.cc
Labels: Component: C++, awaiting committer review

#37471 GH-37466: [C++][Parquet] Fix Valgrind failure in DELTA_BYTE_ARRAY decoder
  cpp/src/arrow/util/bit_stream_utils.h
  cpp/src/parquet/encoding.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#37455 MINOR: [Go] Don't recursively reserve in append to struct builder
  go/arrow/array/struct.go
Labels: Component: Go, awaiting change review

#37475 GH-37473: [MATLAB] Add support for indexing `RecordBatch` columns by `Field` name
  matlab/src/cpp/arrow/matlab/tabular/proxy/record_batch.cc
  matlab/src/cpp/arrow/matlab/tabular/proxy/record_batch.h
  matlab/src/matlab/+arrow/+tabular/RecordBatch.m
  matlab/src/matlab/+arrow/+tabular/Schema.m
  matlab/test/arrow/tabular/tRecordBatch.m
  matlab/test/arrow/tabular/tSchema.m
Labels: Component: MATLAB, awaiting changes

#37474 GH-37472: [MATLAB] Implement the `isequal()` method on `arrow.type.Type`
  matlab/src/cpp/arrow/matlab/type/proxy/type.cc
  matlab/src/cpp/arrow/matlab/type/proxy/type.h
  matlab/src/matlab/+arrow/+type/Type.m
  matlab/test/arrow/type/tBooleanType.m
  matlab/test/arrow/type/tDate32Type.m
  matlab/test/arrow/type/tFloat32Type.m
  matlab/test/arrow/type/tFloat64Type.m
  matlab/test/arrow/type/tInt16Type.m
  matlab/test/arrow/type/tInt32Type.m
  matlab/test/arrow/type/tInt64Type.m
  matlab/test/arrow/type/tInt8Type.m
  matlab/test/arrow/type/tStringType.m
  matlab/test/arrow/type/tTime32Type.m
  matlab/test/arrow/type/tTime64Type.m
  matlab/test/arrow/type/tTimestampType.m
  matlab/test/arrow/type/tUInt16Type.m
  matlab/test/arrow/type/tUInt32Type.m
  matlab/test/arrow/type/tUInt64Type.m
  matlab/test/arrow/type/tUInt8Type.m
Labels: Component: MATLAB, awaiting change review

#37365 GH-37364: [C++][GPU] Add CUDA impl of Device Event/Stream
  cpp/src/arrow/c/bridge_test.cc
  cpp/src/arrow/device.h
  cpp/src/arrow/gpu/cuda_context.cc
  cpp/src/arrow/gpu/cuda_context.h
  cpp/src/arrow/gpu/cuda_test.cc
Labels: Component: C++, awaiting merge

#37481 GH-37480: [Python] Bump pandas version that contains regression for pandas issue 50127
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting review

#37016 GH-37014: [C++][Parquet] Preserve some Parquet distinct counts when merging stats
  cpp/src/parquet/statistics.cc
  cpp/src/parquet/statistics_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#37479 MINOR: [Go] Correct benchmark units from bits/s to bytes/s
  ci/scripts/go_bench_adapt.py
Labels: awaiting committer review

#37459 GH-37465: [Go] Add Value method to BooleanBuilder
  go/arrow/array/booleanbuilder.go
  go/arrow/array/booleanbuilder_test.go
Labels: Component: Go, awaiting review

#37457 GH-37456: [R] CRAN incoming checks show NOTE due to internal function which isn't documented
  r/R/dplyr-funcs.R
  r/man/enums.Rd
  r/man/register_binding.Rd
Labels: Component: R, Priority: Blocker, awaiting merge

#37464 GH-37463: [R] CRAN incoming checks fail due to test run length
  r/tests/testthat/test-dplyr-funcs-conditional.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
  r/tests/testthat/test-dplyr-funcs-math.R
  r/tests/testthat/test-dplyr-funcs-string.R
  r/tests/testthat/test-dplyr-funcs-type.R
  r/tests/testthat/test-dplyr-funcs.R
Labels: Component: R, awaiting merge

#36955 GH-36882: [C++][Parquet] Default RLE for bool values in the parquet version 2.x
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/column_writer_test.cc
  cpp/src/parquet/properties.h
  python/pyarrow/tests/parquet/test_metadata.py
Labels: Component: Parquet, Component: C++, Component: Python, awaiting committer review
