Repository apache/arrow, pull requests merged in 2023-01, with the labels that each got.

#15142 GH-15141: [C++] fix for unstable test due to unstable sort
  cpp/src/arrow/compute/exec/plan_test.cc
Labels: Component: C++

#15147 GH-15146: [GLib] Add `GADatasetFinishOptions`
  c_glib/arrow-dataset-glib/dataset-factory.cpp
  c_glib/arrow-dataset-glib/dataset-factory.h
  c_glib/arrow-dataset-glib/dataset-factory.hpp
  c_glib/arrow-glib/version.h.in
  c_glib/doc/arrow-dataset-glib/arrow-dataset-glib-docs.xml
  c_glib/doc/arrow-glib/arrow-glib-docs.xml
  c_glib/test/dataset/test-file-system-dataset-factory.rb
Labels: Component: GLib

#13656 ARROW-17144: [C++][Gandiva] Add sqrt function
  cpp/src/gandiva/function_registry_arithmetic.cc
  cpp/src/gandiva/precompiled/arithmetic_ops.cc
  cpp/src/gandiva/precompiled/arithmetic_ops_test.cc
  cpp/src/gandiva/precompiled/types.h
  cpp/src/gandiva/tests/projector_test.cc
Labels: Component: C++, Component: C++ - Gandiva

#15127 GH-15126: [R] purrr::rerun was deprecated in purrr 1.0.0
  r/tests/testthat/test-chunked-array.R
Labels: Component: R

#15117 GH-15115: [R][CI] pyarrow tests fail on macos 10.13 due to missing pyarrow wheel
  r/tests/testthat/test-python.R
Labels: Component: R

#15132 ARROW-18202: [C++] Reallow regexp replace on empty string
  cpp/src/arrow/compute/kernels/scalar_string_ascii.cc
  cpp/src/arrow/compute/kernels/scalar_string_test.cc
Labels: Component: C++

#15163 MINOR: [Docs][R] Remove duplicated words
  r/NEWS.md
Labels: Component: R, Component: Documentation

#15143 GH-15136: [Python][macOS] Use `@rpath` for libarrow_python.dylib
  cpp/cmake_modules/FindNumPy.cmake
  cpp/cmake_modules/FindPythonLibsNew.cmake
  python/CMakeLists.txt
Labels: Component: C++, Component: Python

#15152 GH-15150: [C++][FlightRPC] Wait for side effects in DoAction
  cpp/src/arrow/flight/flight_test.cc
  cpp/src/arrow/flight/transport/grpc/grpc_client.cc
Labels: Component: C++, Component: FlightRPC

#15149 ARROW-18318: [Python] Expose Scalar.validate()
  python/pyarrow/scalar.pxi
  python/pyarrow/tests/test_scalars.py
Labels: Component: Python

#15170 MINOR: [C++][Parquet] Make DeltaBitPack roundtrip tests faster
  cpp/src/parquet/encoding_test.cc
Labels: Component: Parquet, Component: C++

#14974 ARROW-18436: [C++] Ensure correct (un)escaping of special characters in URI paths
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/filesystem/localfs_test.cc
  cpp/src/arrow/util/uri.cc
  cpp/src/arrow/util/uri.h
  cpp/src/arrow/util/uri_test.cc
  python/pyarrow/tests/test_fs.py
Labels: Component: C++, Component: Python

#15140 GH-14951: [C++][Parquet] Add benchmarks for DELTA_BINARY_PACKED encoding
  cpp/src/parquet/encoding_benchmark.cc
Labels: Component: Parquet, Component: C++

#15166 ARROW-17302: [R] Configure curl timeout policy for S3
  r/R/arrowExports.R
  r/R/filesystem.R
  r/man/FileSystem.Rd
  r/src/arrowExports.cpp
  r/src/filesystem.cpp
Labels: Component: R

#15177 GH-15174: [Go][FlightRPC] Expose Flight Server Desc and RegisterFlightService
  go/arrow/flight/client.go
  go/arrow/flight/server.go
  go/arrow/flight/server_example_test.go
Labels: Component: Go

#15077 GH-14907: [R] right_join() function does not produce the expected outcome
  r/R/dplyr-join.R
  r/tests/testthat/test-dplyr-join.R
Labels: Component: R

#15131 ARROW-18195: [C++] Fix case_when produces bad data when condition has nulls
  cpp/src/arrow/compute/kernels/scalar_if_else.cc
  cpp/src/arrow/compute/kernels/scalar_if_else_test.cc
Labels: Component: C++

#15169 GH-15168: [GLib] Add support for half float
  c_glib/arrow-glib/array-builder.cpp
  c_glib/arrow-glib/array-builder.h
  c_glib/arrow-glib/basic-array.cpp
  c_glib/arrow-glib/basic-array.h
  c_glib/arrow-glib/basic-data-type.cpp
  c_glib/arrow-glib/basic-data-type.h
  c_glib/arrow-glib/scalar.cpp
  c_glib/arrow-glib/scalar.h
  c_glib/test/helper/buildable.rb
  c_glib/test/test-half-float-array.rb
  c_glib/test/test-half-float-data-type.rb
  c_glib/test/test-half-float-scalar.rb
  ruby/red-arrow/test/test-data-type.rb
Labels: Component: Ruby, Component: GLib

#15097 GH-15096: [C++] Substrait ProjectRel Emit Optimization
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: Component: C++

#15190 GH-15176: Fix various issues introduced in the asof-join benchmark by ARROW-17980 and ARROW-15732
  cpp/src/arrow/compute/exec/asof_join_benchmark.cc
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/util.h
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: Component: C++

#15088 GH-15084: [Ruby] Use common keys when keys.nil? in Table#join
  ruby/red-arrow/lib/arrow/table.rb
  ruby/red-arrow/test/test-table.rb
Labels: Component: Ruby

#15101 GH-15100: [C++][Parquet] Add benchmark for reading strings from Parquet
  cpp/src/parquet/arrow/reader_writer_benchmark.cc
Labels: Component: Parquet, Component: C++

#15198 GH-15199: [C++][Substrait] Allow AGGREGATION_INVOCATION_UNSPECIFIED as valid invocation
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: Component: C++

#15063 GH-15062: [C++] Simplify EnumParser behavior
  cpp/src/arrow/engine/substrait/extension_set.cc
Labels: Component: C++

#14449 MINOR: [R][Docs] .feather -> .arrow
  r/vignettes/dataset.Rmd
Labels: Component: R, Component: Documentation

#15204 ARROW-18086: [Ruby] Add support for HalfFloat
  ruby/red-arrow/ext/arrow/converters.hpp
  ruby/red-arrow/ext/arrow/raw-records.cpp
  ruby/red-arrow/ext/arrow/values.cpp
  ruby/red-arrow/lib/arrow/half-float-array-builder.rb
  ruby/red-arrow/lib/arrow/half-float-array.rb
  ruby/red-arrow/lib/arrow/half-float.rb
  ruby/red-arrow/lib/arrow/loader.rb
  ruby/red-arrow/test/raw-records/test-basic-arrays.rb
  ruby/red-arrow/test/test-half-float-array.rb
  ruby/red-arrow/test/test-half-float.rb
  ruby/red-arrow/test/values/test-basic-arrays.rb
Labels: Component: Ruby

#15207 GH-15205: [R] Fix a parquet-fixture finding in R tests
  .github/workflows/r.yml
  docker-compose.yml
  r/tests/testthat/test-parquet.R
Labels: Component: R

#15184 GH-15185: [C++][Parquet] Improve documentation for Parquet Reader column_indices
  cpp/src/parquet/arrow/reader.h
  cpp/src/parquet/metadata.h
Labels: Component: Parquet, Component: C++

#15214 ARROW-15006: [Python][Doc] Add five more numpydoc checks to CI
  docker-compose.yml
  python/pyarrow/_dataset.pyx
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/array.pxi
  python/pyarrow/compute.py
  python/pyarrow/dataset.py
  python/pyarrow/feather.py
  python/pyarrow/fs.py
  python/pyarrow/io.pxi
  python/pyarrow/ipc.pxi
  python/pyarrow/ipc.py
  python/pyarrow/parquet/core.py
  python/pyarrow/plasma.py
  python/pyarrow/table.pxi
Labels: Component: Python

#15235 ARROW-16795: [C#][Flight] Nightly verify-rc-source-csharp-macos-arm64 fails
  csharp/test/Apache.Arrow.Flight.Tests/TestWebFactory.cs
Labels: Component: C#

#15227 MINOR: [Docs] Fix typo in docs
  docs/source/cpp/arrays.rst
Labels: Component: Documentation

#15238 GH-15237: [C++] Add ::arrow::Unreachable() using std::string_view
  cpp/src/arrow/util/unreachable.cc
  cpp/src/arrow/util/unreachable.h
Labels: Component: C++

#15251 GH-14920: [C++][CMake] Add missing -latomic to Arrow CMake package
  cpp/src/arrow/CMakeLists.txt
Labels: Component: C++

#15245 ARROW-18377: MIGRATION: Automate component labels from issue form content
  .github/workflows/issue_bot.yml
Labels: Component: Continuous Integration, Component: Developer Tools

#14934 ARROW-18427: [C++] Support negative tolerance in `AsofJoinNode`
  cpp/src/arrow/compute/exec/asof_join_node.cc
  cpp/src/arrow/compute/exec/asof_join_node_test.cc
Labels: Component: C++

#14679 ARROW-15470: [R] Set null value in CSV writer
  r/R/csv.R
  r/R/dataset-format.R
  r/man/CsvReadOptions.Rd
  r/man/write_csv_arrow.Rd
  r/src/csv.cpp
  r/tests/testthat/_snaps/dataset-write.md
  r/tests/testthat/test-csv.R
  r/tests/testthat/test-dataset-csv.R
Labels: Component: R, Component: Documentation

#15219 GH-15218: [Python] Remove auto generated pyarrow_api.h and pyarrow_lib.h
  python/CMakeLists.txt
  python/pyarrow/src/arrow/python/pyarrow_api.h
  python/pyarrow/src/arrow/python/pyarrow_lib.h
Labels: Component: Python

#15255 GH-15254: [GLib] garrow_execute_plain_wait() checks the finished status
  c_glib/arrow-glib/compute.cpp
  c_glib/arrow-glib/compute.h
Labels: Component: GLib

#15222 MINOR: [Java] Doc & javadoc improvements
  docs/source/java/quickstartguide.rst
  java/vector/src/main/java/org/apache/arrow/vector/BaseIntVector.java
Labels: Component: Java, Component: Documentation

#15269 ARROW-16728: [Python] ParquetDataset to still take legacy code path when old filesystem is passed
  python/pyarrow/parquet/core.py
Labels: Component: Python

#15268 GH-14976: [Python] Avoid dependency on exec plan in Table.sort_by to fix minimal tests
  python/pyarrow/table.pxi
Labels: Component: Python

#15263 MINOR: [Documentation] Fine tune Java IPC doc
  docs/source/java/ipc.rst
Labels: Component: Documentation

#15273 MINOR: [C++] Mark TypeHolder operator bool() as const
  cpp/src/arrow/type.h
Labels: Component: C++

#15201 GH-15200: [C++] Created benchmarks for round kernels.
  cpp/src/arrow/compute/kernels/CMakeLists.txt
  cpp/src/arrow/compute/kernels/scalar_arithmetic_benchmark.cc
  cpp/src/arrow/compute/kernels/scalar_round_benchmark.cc
Labels: Component: C++

#15270 ARROW-16480: [R] Update read_csv_arrow and open_dataset parse_options, read_options, and convert_options to take lists
  r/R/csv.R
  r/R/dataset-format.R
  r/tests/testthat/test-csv.R
  r/tests/testthat/test-dataset-csv.R
Labels: Component: R

#15217 ARROW-18161: [Ruby] Refer source input in sub objects
  ruby/red-arrow/lib/arrow/array.rb
  ruby/red-arrow/lib/arrow/chunked-array.rb
  ruby/red-arrow/lib/arrow/column-containable.rb
  ruby/red-arrow/lib/arrow/column.rb
  ruby/red-arrow/lib/arrow/input-referable.rb
  ruby/red-arrow/lib/arrow/loader.rb
  ruby/red-arrow/lib/arrow/record-batch.rb
  ruby/red-arrow/lib/arrow/table-loader.rb
  ruby/red-arrow/lib/arrow/table.rb
  ruby/red-arrow/test/test-table.rb
Labels: Component: Ruby

#33602 GH-26209: [Ruby] Add support for Ruby 2.5
  ruby/red-arrow-dataset/lib/arrow-dataset/arrow-table-loadable.rb
  ruby/red-arrow/lib/arrow/table.rb
  ruby/red-arrow/test/test-table.rb
Labels: Component: Ruby

#13890 ARROW-17425: [R] `lubridate::as_datetime()` in dplyr query should be able to handle time in sub seconds
  r/R/dplyr-funcs-datetime.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
Labels: Component: R

#15186 GH-15172: [Python] Docstring test failure
  python/pyarrow/_fs.pyx
Labels: Component: Python

#14922 ARROW-16266: [R] Add StructArray$create()
  r/R/array.R
  r/R/arrowExports.R
  r/src/array.cpp
  r/src/arrowExports.cpp
  r/tests/testthat/test-Array.R
Labels: Component: R

#15179 GH-15042: [C++][Parquet] Update stats on subsequent batches of dictionaries
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/column_writer.cc
Labels: Component: Parquet, Component: C++

#15244 GH-15239: [C++][Parquet] Parquet writer writes decimal as int32/64
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/reader_internal.cc
  cpp/src/parquet/arrow/schema.cc
  cpp/src/parquet/arrow/test_util.h
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/properties.h
Labels: Component: Parquet, Component: C++

#29185 GH-15264: [C++] Add scanner tests for disabling readahead and fix relevant bugs
  cpp/src/arrow/dataset/file_csv_test.cc
  cpp/src/arrow/dataset/file_ipc.cc
  cpp/src/arrow/dataset/file_ipc_test.cc
  cpp/src/arrow/dataset/file_orc_test.cc
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/src/arrow/dataset/file_parquet_test.cc
  cpp/src/arrow/dataset/scanner.cc
  cpp/src/arrow/dataset/test_util.h
Labels: Component: C++

#15183 GH-15151: [C++] ]Adding RecordBatchReaderSource to solve an issue in R API
  cpp/examples/arrow/execution_plan_documentation_examples.cc
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/plan_test.cc
  cpp/src/arrow/compute/exec/source_node.cc
  cpp/src/arrow/compute/exec/test_util.cc
  cpp/src/arrow/compute/exec/test_util.h
  r/src/compute-exec.cpp
Labels: Component: R, Component: C++

#15294 MINOR: [C++] Optimize Gandiva log function
  cpp/src/gandiva/precompiled/extended_math_ops.cc
Labels: Component: C++, Component: C++ - Gandiva

#15293 GH-15292: [C++] Typeclass alias is missing in ExtensionArray
  cpp/src/arrow/extension_type.h
Labels: Component: C++

#14093 GH-32685: [R] Implement lubridate::with_tz and lubridate::force_tz
  r/R/dplyr-funcs-datetime.R
  r/R/dplyr-funcs-doc.R
  r/man/acero.Rd
  r/tests/testthat/test-dplyr-funcs-datetime.R
Labels: Component: R

#14176 ARROW-16782: [Format] Add REE definitions to FlatBuffers
  cpp/src/generated/File_generated.h
  cpp/src/generated/Message_generated.h
  cpp/src/generated/Schema_generated.h
  cpp/src/generated/SparseTensor_generated.h
  cpp/src/generated/Tensor_generated.h
  cpp/src/generated/feather_generated.h
  cpp/src/plasma/common_generated.h
  cpp/src/plasma/plasma_generated.h
  docs/source/format/Columnar.rst
  format/Schema.fbs
  go/arrow/internal/flatbuf/RunEndEncoded.go
  go/arrow/internal/flatbuf/Type.go
Labels: Component: Go, Component: C++, Component: Documentation, Component: Format

#15240 GH-15216: [C++][Parquet] Parquet writer accepts RecordBatch
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/writer.cc
  cpp/src/parquet/arrow/writer.h
  cpp/src/parquet/file_writer.cc
  cpp/src/parquet/file_writer.h
Labels: Component: Parquet, Component: C++

#33606 GH-26394: [Python] Don't use target_include_directories() for imported target
  cpp/cmake_modules/FindNumPy.cmake
  cpp/cmake_modules/FindPythonLibsNew.cmake
Labels: Component: C++

#14533 GH-33005: [Dev] Update the pull request merge script to work with master or main
  dev/merge_arrow_pr.py
Labels: Component: Developer Tools

#15291 GH-15290: [C++][Compute] Optimize IfElse kernel AAS/ASA case when the scalar is null
  cpp/src/arrow/compute/kernels/scalar_if_else.cc
Labels: Component: C++

#33623 GH-33212: [C++][Python] Add use_threads to pyarrow.substrait.run_query
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/engine/substrait/serde.cc
  cpp/src/arrow/engine/substrait/serde.h
  cpp/src/arrow/engine/substrait/util.cc
  cpp/src/arrow/engine/substrait/util.h
  python/pyarrow/_substrait.pyx
  python/pyarrow/includes/libarrow_substrait.pxd
  python/pyarrow/tests/test_substrait.py
Labels: Component: C++, Component: Python

#33644 GH-33643: [C++] Remove implicit = capture of this which is not valid in c++20
  cpp/src/arrow/compute/exec/source_node.cc
Labels: Component: C++

#14804 GH-33346: [Python] DataFrame Interchange Protocol for pyarrow Table
  python/pyarrow/interchange/__init__.py
  python/pyarrow/interchange/buffer.py
  python/pyarrow/interchange/column.py
  python/pyarrow/interchange/dataframe.py
  python/pyarrow/interchange/from_dataframe.py
  python/pyarrow/table.pxi
  python/pyarrow/tests/interchange/__init__.py
  python/pyarrow/tests/interchange/test_conversion.py
  python/pyarrow/tests/interchange/test_interchange_spec.py
Labels: Component: Python

#33645 GH-33000: [doc] Various documentation syntax fixes
  cpp/apidoc/Doxyfile
  cpp/src/arrow/compute/exec/exec_plan.h
  docs/source/cpp/json.rst
  docs/source/cpp/streaming_execution.rst
  docs/source/developers/continuous_integration/crossbow.rst
  docs/source/developers/guide/index.rst
  python/pyarrow/parquet/core.py
Labels: Component: C++, Component: Python, Component: Documentation

#15157 GH-15156: [JS] Fix can't find variable: BigInt64Array
  js/src/type.ts
  js/src/util/pretty.ts
  js/src/vector.ts
Labels: Component: JavaScript

#15276 GH-15274: [Java][FlightRPC] handle null keystore password
  java/flight/flight-sql-jdbc-driver/src/main/java/org/apache/arrow/driver/jdbc/client/utils/ClientAuthenticationUtils.java
  java/flight/flight-sql-jdbc-driver/src/test/java/org/apache/arrow/driver/jdbc/client/utils/ClientAuthenticationUtilsTest.java
Labels: Component: Java

#33658 GH-33638: [C++] Removing ExecPlan::Make deprecation warning
  cpp/src/arrow/compute/exec/exec_plan.h
  r/src/compute-exec.cpp
Labels: Component: R, Component: C++

#33664 GH-14981: [R] Forward compatibility with dplyr::join_by()
  r/R/dplyr-join.R
  r/tests/testthat/test-dplyr-join.R
Labels: Component: R

#33653 GH-15289: [Ruby] Return self when saving Table to csv
  ruby/red-arrow/lib/arrow/table-saver.rb
  ruby/red-arrow/test/test-table.rb
Labels: Component: Ruby

#33665 GH-33657: [C++] arrow-dataset.pc doesn't depend on parquet.pc without ARROW_PARQUET=ON
  cpp/src/arrow/dataset/CMakeLists.txt
  cpp/src/arrow/dataset/arrow-dataset.pc.in
Labels: Component: C++

#33669 GH-33667: [C++][CI] Use Ubuntu 22.04 for ASAN
  .github/workflows/cpp.yml
  cpp/src/arrow/flight/CMakeLists.txt
Labels: Component: C++, Component: FlightRPC

#33677 GH-33670: [GLib] Add `GArrowProjectNodeOptions`
  c_glib/arrow-glib/compute.cpp
  c_glib/arrow-glib/compute.h
  c_glib/test/test-project-node.rb
Labels: Component: GLib

#33675 GH-33671: [GLib] Add `garrow_chunked_array_new_empty()`
  c_glib/arrow-glib/chunked-array.cpp
  c_glib/arrow-glib/chunked-array.h
  c_glib/arrow-glib/chunked-array.hpp
  c_glib/test/test-chunked-array.rb
Labels: Component: GLib, Breaking Change

#33685 GH-15226: [C++] Add DurationType to hash kernels
  cpp/src/arrow/compute/kernels/vector_hash.cc
  cpp/src/arrow/compute/kernels/vector_hash_test.cc
Labels: Component: C++

#33608 GH-33607: [C++] Support optional additional arguments for inline visit functions
  cpp/src/arrow/array/diff.cc
  cpp/src/arrow/testing/builder.h
  cpp/src/arrow/visit_array_inline.h
  cpp/src/arrow/visit_scalar_inline.h
  cpp/src/arrow/visit_type_inline.h
  cpp/src/parquet/column_writer.cc
Labels: Component: Parquet, Component: C++

#33700 GH-15243: [C++] fix for potential deadlock in the group-by node
  cpp/src/arrow/compute/exec/aggregate_node.cc
Labels: Component: C++

#13791 MINOR: Update NEWS.md regarding parse_date_time
  r/NEWS.md
  r/R/dplyr-funcs-datetime.R
  r/R/dplyr-funcs-doc.R
  r/man/acero.Rd
  r/man/arrow-package.Rd
Labels: Component: R, Component: Documentation

#33693 GH-33666: [R] Remove extraneous argument to semi_join
  r/tests/testthat/test-dplyr-join.R
Labels: Component: R

#33711 GH-25633: [CI][Java][macOS] Ensure using bundled RE2
  ci/scripts/java_jni_macos_build.sh
  dev/tasks/java-jars/github.yml
Labels: Component: Java, Component: Continuous Integration

#33684 GH-15171: [C++] Pass std::string_view by value
  cpp/src/arrow/array/builder_binary.h
  cpp/src/arrow/compute/exec/tpch_node_test.cc
  cpp/src/arrow/compute/kernels/scalar_string_internal.h
  cpp/src/arrow/flight/cookie_internal.cc
  cpp/src/arrow/flight/cookie_internal.h
  cpp/src/arrow/io/memory.cc
  cpp/src/arrow/io/memory.h
  cpp/src/arrow/scalar_test.cc
  cpp/src/arrow/util/decimal.cc
  cpp/src/arrow/util/decimal.h
  cpp/src/arrow/util/hashing.h
  cpp/src/arrow/util/hashing_test.cc
  cpp/src/arrow/util/utf8.cc
  cpp/src/arrow/util/utf8.h
  cpp/src/arrow/util/utf8_internal.h
  cpp/src/parquet/encoding.cc
Labels: Component: Parquet, Component: C++, Component: FlightRPC

#15267 GH-15265: [Java] Publish SBOM artifacts
  .github/workflows/java_nightly.yml
  ci/scripts/java_full_build.sh
  dev/tasks/java-jars/github.yml
  dev/tasks/tasks.yml
  java/pom.xml
Labels: Component: Java

#33609 GH-31506: [Python] Address docstrings in Streams and File Access (Factory Functions)
  docker-compose.yml
  python/pyarrow/io.pxi
Labels: Component: Python

#33654 GH-15287: [Ruby] Merge column and add suffix in Table#join
  c_glib/arrow-glib/compute.cpp
  ruby/red-arrow/lib/arrow/table.rb
  ruby/red-arrow/test/test-table.rb
Labels: Component: Ruby, Component: GLib, Breaking Change

#33647 MINOR: [C++] Remove unnecessary code in MultipathLevelBuilder::Write
  cpp/src/parquet/arrow/path_internal.cc
Labels: Component: Parquet, Component: C++

#33680 GH-33679: [JS] Update dependencies
  js/.eslintrc.cjs
  js/package.json
  js/src/io/file.ts
  js/test/.eslintrc.cjs
  js/test/unit/vector/bool-vector-tests.ts
  js/yarn.lock
Labels: Component: JavaScript

#33718 GH-33717: [Go] Flight SQL Server handle StreamChunk errors
  go/arrow/flight/flightsql/server.go
  go/arrow/flight/flightsql/server_test.go
Labels: Component: Go

#14814 GH-14875: [C++] C Data Interface: check imported buffer for non-null
  cpp/src/arrow/array/validate.cc
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/c/bridge_test.cc
Labels: Component: C++

#15210 GH-20512: [Python] Numpy conversion doesn't account for ListArray offset
  cpp/src/arrow/array/array_nested.h
  python/pyarrow/src/arrow/python/arrow_to_pandas.cc
  python/pyarrow/tests/test_pandas.py
Labels: Component: C++, Component: Python

#15213 GH-15212: [C++] fix sliced list array writing in ORC
  cpp/src/arrow/adapters/orc/adapter_test.cc
  cpp/src/arrow/adapters/orc/util.cc
Labels: Component: C++

#33614 GH-33526: [R] Implement new function open_dataset_csv with signature more closely matching read_csv_arrow
  r/NAMESPACE
  r/R/csv.R
  r/R/dataset-format.R
  r/R/dataset.R
  r/_pkgdown.yml
  r/man/CsvFileFormat.Rd
  r/man/FileFormat.Rd
  r/man/acero.Rd
  r/man/open_delim_dataset.Rd
  r/tests/testthat/test-dataset-csv.R
Labels: Component: R

#33656 GH-33655: [C++][Parquet] Write parquet columns in parallel
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/writer.cc
  cpp/src/parquet/arrow/writer.h
  cpp/src/parquet/properties.cc
  cpp/src/parquet/properties.h
Labels: Component: Parquet, Component: C++

#15241 GH-14923: [C++][Parquet] Fix DELTA_BINARY_PACKED problem on reading the last block with malford bit-width
  cpp/src/arrow/util/bit_stream_utils.h
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding_test.cc
Labels: Component: Parquet, Component: C++

#33712 GH-15139: [C++] Improve bzip2 static library path detection for arrow.pc
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++

#19706 GH-18818: [R] Create a field ref to a field in a struct
  r/NAMESPACE
  r/R/arrow-object.R
  r/R/arrowExports.R
  r/R/expression.R
  r/R/type.R
  r/src/arrowExports.cpp
  r/src/compute.cpp
  r/src/expression.cpp
  r/tests/testthat/test-dplyr-query.R
  r/tests/testthat/test-expression.R
Labels: Component: R

#33766 MINOR: [C++][Docs] Fix broken URL in C++ Building docs
  docs/source/developers/cpp/building.rst
Labels: Component: Documentation

#33648 GH-33640: [C++] Add backpressure to asof join node
  cpp/proto/substrait/extension_rels.proto
  cpp/src/arrow/compute/exec/CMakeLists.txt
  cpp/src/arrow/compute/exec/asof_join_node.cc
  cpp/src/arrow/compute/exec/asof_join_node_test.cc
  cpp/src/arrow/compute/exec/test_nodes.cc
  cpp/src/arrow/compute/exec/test_nodes.h
  cpp/src/arrow/compute/exec/test_util.cc
  cpp/src/arrow/compute/exec/test_util.h
Labels: Component: C++

#15223 GH-15203: [Java] Implement writing compressed files
  java/compression/src/test/java/org/apache/arrow/compression/TestCompressionCodec.java
  java/vector/src/main/java/org/apache/arrow/vector/VectorUnloader.java
  java/vector/src/main/java/org/apache/arrow/vector/compression/AbstractCompressionCodec.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/ArrowFileWriter.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/ArrowStreamWriter.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/ArrowWriter.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/message/ArrowRecordBatch.java
  java/vector/src/test/java/org/apache/arrow/vector/TestVectorUnloadLoad.java
Labels: Component: Java

#33780 GH-33779: [R] Nightly builds (R 3.5 and 3.6) failing due to field refs test
  r/tests/testthat/test-expression.R
Labels: Component: R

#33764 GH-15109: [Python] Allow creation of non empty struct array with zero field
  cpp/src/arrow/array/array_nested.cc
  python/pyarrow/array.pxi
  python/pyarrow/tests/test_array.py
Labels: Component: C++, Component: Python

#33778 GH-33777: [R] Nightly builds failing due to dataset test not being skipped on builds without datasets module
  r/tests/testthat/test-dplyr-query.R
Labels: Component: R

#33772 GH-15137: [C++][CI] Fix ASAN error in streaming JSON reader tests
  cpp/src/arrow/json/reader_test.cc
Labels: Component: C++

#33768 GH-33767: [Go] Clear out parameter in ArrowArrayStream.get_next
  go/arrow/cdata/cdata_exports.go
  go/arrow/cdata/cdata_fulltest.c
  go/arrow/cdata/cdata_test.go
  go/arrow/cdata/cdata_test_framework.go
Labels: Component: Go

#33792 GH-33789: [Go] Add Err() to RecordReader
  go/arrow/array/record.go
  go/arrow/array/record_test.go
  go/arrow/array/table.go
  go/arrow/array/table_test.go
  go/arrow/cdata/cdata.go
  go/arrow/cdata/cdata_exports.go
  go/arrow/cdata/cdata_test.go
  go/arrow/cdata/cdata_test_framework.go
  go/arrow/cdata/exports.go
  go/parquet/pqarrow/file_reader.go
Labels: Component: Go, Breaking Change

#33735 GH-33734: [Go] make compatible with grpc < 1.45
  go/arrow/flight/server.go
Labels: Component: Go

#14111 GH-32946: [Go] Implement REE Array and Compare
  go/arrow/array/array.go
  go/arrow/array/builder.go
  go/arrow/array/compare.go
  go/arrow/array/encoded.go
  go/arrow/array/encoded_test.go
  go/arrow/compare.go
  go/arrow/compute/internal/exec/span.go
  go/arrow/datatype.go
  go/arrow/datatype_encoded.go
  go/arrow/encoded/ree_utils.go
  go/arrow/encoded/ree_utils_test.go
  go/arrow/internal/utils.go
  go/arrow/scalar/scalar.go
  go/arrow/type_string.go
Labels: Component: Go

#33748 GH-33746: [R] Update NEWS.md for 11.0.0
  r/NEWS.md
Labels: Component: R, Component: Documentation

#33736 PARQUET-2232: [C++] Add an api to ColumnChunkMetaData to indicate if the column chunk uses a bloom filter
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/metadata.h
  cpp/src/parquet/metadata_test.cc
Labels: Component: Parquet, Component: C++

#15288 GH-15284: [C++] Use DeclarationToExecBatches in Acero plan tests
  cpp/src/arrow/compute/exec/plan_test.cc
Labels: Component: C++

#33795 GH-33794: [Go] Add SetRecordReader to PreparedStatement
  go/arrow/flight/flightsql/client.go
  go/arrow/flight/flightsql/client_test.go
Labels: Component: Go

#33809 MINOR: [R] Update BugReports field in DESCRIPTION
  r/DESCRIPTION
Labels: Component: R

#33725 GH-33724: [Doc] Update the substrait conformance doc with the latest support
  cpp/src/arrow/engine/substrait/serde.cc
  docs/source/cpp/streaming_execution.rst
Labels: Component: C++, Component: Documentation

#33739 GH-33655: [C++][Parquet] Fix occasional failure in TestArrowReadWrite.MultithreadedWrite
  cpp/src/parquet/arrow/writer.cc
Labels: Component: Parquet, Component: C++

#33811 GH-33786: [C++] Ignore old system xsimd
  cpp/CMakeLists.txt
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  dev/release/setup-ubuntu.sh
Labels: Component: C++

#33817 GH-33816: [CI][Conan] Use TARGET_FILE for portability
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++

#33806 GH-33723: [C++] re2::RE2::RE2() result must be checked
  cpp/src/arrow/compute/kernels/scalar_string_ascii.cc
  cpp/src/arrow/compute/kernels/scalar_string_test.cc
  cpp/src/gandiva/regex_functions_holder.cc
  cpp/src/gandiva/regex_functions_holder.h
Labels: Component: C++, Component: C++ - Gandiva

#33788 MINOR: [Docs][Format] Add link to IPC section on the Columnar page
  docs/source/format/IPC.rst
Labels: Component: Documentation

#33738 GH-33737: [C++] simplify exec plan tracing
  cpp/src/arrow/compute/exec/aggregate_node.cc
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/compute/exec/filter_node.cc
  cpp/src/arrow/compute/exec/hash_join_node.cc
  cpp/src/arrow/compute/exec/map_node.cc
  cpp/src/arrow/compute/exec/map_node.h
  cpp/src/arrow/compute/exec/project_node.cc
  cpp/src/arrow/compute/exec/query_context.cc
  cpp/src/arrow/compute/exec/query_context.h
  cpp/src/arrow/compute/exec/sink_node.cc
  cpp/src/arrow/compute/exec/source_node.cc
  cpp/src/arrow/compute/exec/tpch_node.cc
  cpp/src/arrow/compute/exec/union_node.cc
  cpp/src/arrow/compute/exec/util.h
  cpp/src/arrow/dataset/dataset_writer.cc
  cpp/src/arrow/dataset/dataset_writer_test.cc
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/dataset/scan_node.cc
  cpp/src/arrow/dataset/scanner.cc
  cpp/src/arrow/util/async_util.cc
  cpp/src/arrow/util/async_util.h
  cpp/src/arrow/util/async_util_test.cc
  cpp/src/arrow/util/tracing.cc
  cpp/src/arrow/util/tracing.h
  cpp/src/arrow/util/tracing_internal.h
  cpp/thirdparty/versions.txt
Labels: Component: C++

#33838 MINOR: [C++][R] Declare FieldRef(std::vector<FieldRef>) constructor explicit
  cpp/src/arrow/type.h
  r/src/expression.cpp
Labels: Component: R, Component: C++

#33841 GH-33840: [Go] Improve SQLite Flight SQL Example and provide mainprog
  go/arrow/cdata/cdata_exports.go
  go/arrow/cdata/cdata_fulltest.c
  go/arrow/cdata/cdata_test.go
  go/arrow/cdata/cdata_test_framework.go
  go/arrow/datatype_nested.go
  go/arrow/flight/flightsql/example/cmd/sqlite_flightsql_server/main.go
  go/arrow/flight/flightsql/example/sql_batch_reader.go
  go/arrow/flight/flightsql/example/sqlite_server.go
  go/arrow/flight/record_batch_reader.go
  go/arrow/scalar/temporal.go
Labels: Component: Go

#14114 GH-20407: [Go] Array Builder for REE arrays
  go/arrow/array/builder.go
  go/arrow/array/encoded.go
  go/arrow/array/encoded_test.go
  go/arrow/datatype_encoded.go
Labels: Component: Go

#33828 GH-33787: [C++] Suppress unused-value warning from LinuxParseCpuFlags() on s390x
  cpp/src/arrow/util/cpu_info.cc
Labels: Component: C++

#33829 GH-32801: [C++][Docs] Delete outdated .md files
  cpp/apidoc/HDFS.md
  cpp/apidoc/tutorials/plasma.md
  cpp/apidoc/tutorials/tensor_to_py.md
Labels: Component: C++, Component: Documentation

#14989 GH-33600: [Go][Parquet] Panic in bitmap writer
  go/parquet/file/column_writer_types.gen.go
  go/parquet/file/column_writer_types.gen.go.tmpl
  go/parquet/pqarrow/column_readers.go
  go/parquet/pqarrow/encode_arrow_test.go
Labels: Component: Go

#33853 GH-33852: [Go] Return a catalog/schema from Flight SQL example server
  go/arrow/flight/flightsql/example/sqlite_server.go
  go/arrow/flight/flightsql/sqlite_server_test.go
Labels: Component: Go

#33812 GH-33796: [C++] Fix wrong arrow-testing.pc config with system GoogleTest
  cpp/CMakeLists.txt
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/arrow-testing.pc.in
Labels: Component: C++

#33836 GH-33835: [Doc][Release] Improvements to release guide instructions
  docs/source/developers/release.rst
Labels: Component: Documentation

#33860 GH-33859: [C++][Java] Bump Apache ORC to v1.8.2
  cpp/thirdparty/versions.txt
  java/adapter/orc/pom.xml
Labels: Component: Java, Component: C++

#33865 GH-33864: [Go] Don't directly coerce cgo.Handle to unsafe.Pointer
  go/arrow/cdata/cdata_exports.go
  go/arrow/cdata/exports.go
  go/go.mod
Labels: Component: Go

#14174 GH-32747: [C++] Substrait To Arrow Emit feature testing
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: Component: C++

#33660 GH-33659: [Developer Tools] Add definition of Breaking Change and Critical Fix
  .github/pull_request_template.md
  docs/source/developers/reviewing.rst
Labels: Component: Documentation

#33868 GH-33867: [Go][FlightSQL] Allow passing grpc call options to PreparedStatement methods
  go/arrow/flight/flightsql/client.go
  go/arrow/flight/flightsql/client_test.go
Labels: Component: Go, Breaking Change

#14126 GH-32947: [Go] Implement Concatenate for REE Array
  go/arrow/array/concat.go
  go/arrow/array/concat_test.go
  go/arrow/type_string.go
Labels: Component: Go

#15253 GH-32653: [C++] Cleanup error handling in execution engine
  c_glib/arrow-glib/compute.cpp
  c_glib/arrow-glib/compute.h
  cpp/examples/arrow/compute_register_example.cc
  cpp/examples/arrow/engine_substrait_consumption.cc
  cpp/examples/arrow/execution_plan_documentation_examples.cc
  cpp/src/arrow/compute/exec/aggregate_node.cc
  cpp/src/arrow/compute/exec/asof_join_node.cc
  cpp/src/arrow/compute/exec/asof_join_node_test.cc
  cpp/src/arrow/compute/exec/benchmark_util.cc
  cpp/src/arrow/compute/exec/exec_plan.cc
  cpp/src/arrow/compute/exec/exec_plan.h
  cpp/src/arrow/compute/exec/filter_node.cc
  cpp/src/arrow/compute/exec/hash_join.cc
  cpp/src/arrow/compute/exec/hash_join.h
  cpp/src/arrow/compute/exec/hash_join_node.cc
  cpp/src/arrow/compute/exec/map_node.cc
  cpp/src/arrow/compute/exec/map_node.h
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/compute/exec/plan_test.cc
  cpp/src/arrow/compute/exec/project_node.cc
  cpp/src/arrow/compute/exec/query_context.cc
  cpp/src/arrow/compute/exec/query_context.h
  cpp/src/arrow/compute/exec/sink_node.cc
  cpp/src/arrow/compute/exec/source_node.cc
  cpp/src/arrow/compute/exec/swiss_join.cc
  cpp/src/arrow/compute/exec/swiss_join.h
  cpp/src/arrow/compute/exec/test_util.cc
  cpp/src/arrow/compute/exec/test_util.h
  cpp/src/arrow/compute/exec/tpch_node.cc
  cpp/src/arrow/compute/exec/tpch_node_test.cc
  cpp/src/arrow/compute/exec/union_node.cc
  cpp/src/arrow/compute/kernels/hash_aggregate_test.cc
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/dataset/scan_node.cc
  cpp/src/arrow/dataset/scanner.cc
  cpp/src/arrow/dataset/scanner_test.cc
  cpp/src/arrow/engine/substrait/function_test.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/flight/sql/example/acero_server.cc
  python/pyarrow/includes/libarrow.pxd
  r/src/compute-exec.cpp
Labels: Component: R, Component: C++, Component: Python, Component: FlightRPC, Component: GLib

#14682 GH-32916: [C++] [Python] User-defined tabular functions
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
  python/pyarrow/_compute.pyx
  python/pyarrow/_dataset.pyx
  python/pyarrow/compute.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/includes/libarrow_dataset.pxd
  python/pyarrow/src/arrow/python/udf.cc
  python/pyarrow/src/arrow/python/udf.h
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_udf.py
Labels: Component: C++, Component: Python

#33866 GH-33872: [C++] Remove hacky shared_ptr construction in AppendScalar
  cpp/src/arrow/array/builder_base.cc
Labels: Component: C++

#15083 GH-33566: [C++] Add support for nullary and n-ary aggregate functions
  cpp/src/arrow/compute/api_aggregate.h
  cpp/src/arrow/compute/exec.cc
  cpp/src/arrow/compute/exec.h
  cpp/src/arrow/compute/exec/aggregate.cc
  cpp/src/arrow/compute/exec/aggregate.h
  cpp/src/arrow/compute/exec/aggregate_node.cc
  cpp/src/arrow/compute/exec/plan_test.cc
  cpp/src/arrow/compute/exec/test_util.cc
  cpp/src/arrow/compute/kernels/aggregate_basic.cc
  cpp/src/arrow/compute/kernels/hash_aggregate.cc
  cpp/src/arrow/compute/kernels/hash_aggregate_test.cc
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/function_test.cc
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/engine/substrait/test_plan_builder.cc
  cpp/src/arrow/engine/substrait/test_plan_builder.h
  docs/source/cpp/compute.rst
  docs/source/python/api/compute.rst
  python/pyarrow/_compute.pyx
  python/pyarrow/compute.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: C++, Component: Python, Component: Documentation

#33889 GH-33887: [Go] cdata package leaks handles, difficult debugging
  go/arrow/cdata/arrow/c/helpers.h
  go/arrow/cdata/exports.go
Labels: Component: Go

#33603 GH-32240: [C#] Support decompression of IPC format buffers
  csharp/src/Apache.Arrow/Ipc/ArrowFileReader.cs
  csharp/src/Apache.Arrow/Ipc/ArrowFileReaderImplementation.cs
  csharp/src/Apache.Arrow/Ipc/ArrowReaderImplementation.cs
  csharp/src/Apache.Arrow/Ipc/ArrowStreamReader.cs
  csharp/src/Apache.Arrow/Ipc/ArrowStreamReaderImplementation.cs
  csharp/src/Apache.Arrow/Ipc/CompressionCodecType.cs
  csharp/src/Apache.Arrow/Ipc/DecompressingBufferCreator.cs
  csharp/src/Apache.Arrow/Ipc/IBufferCreator.cs
  csharp/src/Apache.Arrow/Ipc/ICompressionCodec.cs
  csharp/src/Apache.Arrow/Ipc/ICompressionCodecFactory.cs
  csharp/src/Apache.Arrow/Ipc/NoOpBufferCreator.cs
  csharp/test/Apache.Arrow.Tests/Apache.Arrow.Tests.csproj
  csharp/test/Apache.Arrow.Tests/ArrowFileReaderTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowStreamReaderTests.cs
  csharp/test/Apache.Arrow.Tests/Compression/CompressionCodecFactory.cs
  csharp/test/Apache.Arrow.Tests/Compression/Lz4CompressionCodec.cs
  csharp/test/Apache.Arrow.Tests/Compression/ZstdCompressionCodec.cs
  csharp/test/Apache.Arrow.Tests/Resources/ipc_lz4_compression.arrow
  csharp/test/Apache.Arrow.Tests/Resources/ipc_lz4_compression.arrow_stream
  csharp/test/Apache.Arrow.Tests/Resources/ipc_zstd_compression.arrow
  csharp/test/Apache.Arrow.Tests/Resources/ipc_zstd_compression.arrow_stream
  csharp/test/Apache.Arrow.Tests/generate_resources.py
Labels: Component: C#

#33694 MINOR: [C++][Parquet] Rephrase decimal annotation
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/schema.cc
  cpp/src/parquet/properties.h
Labels: Component: Parquet, Component: C++

#14799 GH-33580: [C++] Support emit info in Substrait extension-multi and AsOfJoin
  cpp/src/arrow/compute/exec.cc
  cpp/src/arrow/compute/exec/asof_join_node.cc
  cpp/src/arrow/compute/exec/asof_join_node.h
  cpp/src/arrow/engine/substrait/extension_set.h
  cpp/src/arrow/engine/substrait/options.cc
  cpp/src/arrow/engine/substrait/options.h
  cpp/src/arrow/engine/substrait/options_internal.h
  cpp/src/arrow/engine/substrait/relation.h
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/engine/substrait/type_fwd.h
Labels: Component: C++

#33847 GH-33701: [C++] Add support for LTO (link time optimization) build
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
Labels: Component: C++

#33907 GH-33876: [C++][Windows] Use different .pc path for each config
  cpp/cmake_modules/BuildUtils.cmake
Labels: Component: C++

#33922 MINOR: [Ruby][Docs] Add a short example of Arrow::Table#join to README
  ruby/README.md
Labels: Component: Ruby, Component: Documentation

#14146 GH-20415: [Go] Kernel Input Type for RLE
  go/arrow/array/concat.go
  go/arrow/compute/internal/exec/kernel.go
  go/arrow/compute/internal/exec/kernel_test.go
Labels: Component: Go

#33905 MINOR: [Go][ipc] Fix typeFromFB
  go/arrow/datatype_nested.go
  go/arrow/datatype_nested_test.go
  go/arrow/ipc/ipc_test.go
  go/arrow/ipc/metadata.go
  go/arrow/ipc/metadata_test.go
  go/arrow/scalar/scalar_test.go
Labels: Component: Go

#33775 GH-33588: [Substrait] Add Substrait→Acero mapping for round operationMajor:
  cpp/src/arrow/compute/api_scalar.cc
  cpp/src/arrow/compute/api_scalar.h
  cpp/src/arrow/compute/kernels/scalar_round.cc
  cpp/src/arrow/compute/kernels/scalar_round_arithmetic_test.cc
  cpp/src/arrow/compute/kernels/scalar_round_benchmark.cc
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/function_test.cc
Labels: Component: C++

#33927 MINOR: [R] Fix URL in R package release checklist
  r/PACKAGING.md
Labels: Component: R, Component: Documentation

#33676 GH-33673: [C++] Standardize as-of-join convention for past and future tolerance
  cpp/src/arrow/compute/exec/asof_join_node.cc
  cpp/src/arrow/compute/exec/asof_join_node_test.cc
  cpp/src/arrow/compute/exec/options.h
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: Component: C++
