Repository apache/arrow, pull requests merged in 2024-06, with the labels that each got.

#41921 GH-41920: [CI][JS] Add missing build directory argument
  .github/workflows/js.yml
Labels: awaiting committer review

#41839 GH-41806: [GLib][CI] Use vcpkg for C++ dependencies when building GLib libraries with MSVC
  .github/workflows/ruby.yml
  ci/scripts/cpp_build.sh
  cpp/cmake_modules/Usevcpkg.cmake
Labels: Component: C++, awaiting merge

#41715 GH-39345: [C++][FS][Azure] Add support for environment credential
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting merge

#41898 GH-41648: [Java] Memory Leak about splitAndTransfer
  java/vector/src/main/java/org/apache/arrow/vector/BaseFixedWidthVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestValueVector.java
Labels: Component: Java, awaiting merge

#41830 GH-41829: [R] Update relative URLs in README to absolute paths to prevent CRAN check failures
  r/README.md
Labels: Component: R, Component: Documentation, awaiting merge

#41237 GH-41262: [Java][FlightSQL] Implement stateless prepared statements
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/FlightSqlClient.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/sql/example/DoPutPreparedStatementResultPOJO.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/sql/example/FlightSqlExample.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/sql/example/FlightSqlStatelessExample.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/sql/test/TestFlightSql.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/sql/test/TestFlightSqlStateless.java
Labels: Component: Java, awaiting merge

#41934 GH-41397: [C#] Downgrade macOS test runner to avoid infrastructure bug
  .github/workflows/csharp.yml
Labels: awaiting merge

#41906 GH-41905: [JS] Update dependencies
  js/bin/integration.ts
  js/package.json
  js/test/unit/builders/builder-tests.ts
  js/test/unit/builders/utils.ts
  js/test/unit/ipc/writer/streams-dom-tests.ts
  js/test/unit/ipc/writer/streams-node-tests.ts
  js/test/unit/table/assign-tests.ts
  js/yarn.lock
Labels: Component: JavaScript, awaiting committer review

#41946 GH-41945: [Swift] Add interface ArrowArrayHolderBuilder
  swift/Arrow/Sources/Arrow/ArrowArrayBuilder.swift
  swift/Arrow/Tests/ArrowTests/ArrayTests.swift
Labels: Component: Swift, awaiting review

#41930 GH-41902: [Java] Variadic Buffer Counts Incorrect
  java/c/src/main/java/org/apache/arrow/c/StructVectorLoader.java
  java/c/src/main/java/org/apache/arrow/c/StructVectorUnloader.java
  java/c/src/test/java/org/apache/arrow/c/DictionaryTest.java
  java/vector/src/main/java/org/apache/arrow/vector/VectorLoader.java
  java/vector/src/main/java/org/apache/arrow/vector/VectorUnloader.java
  java/vector/src/test/java/org/apache/arrow/vector/TestValueVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestVarCharViewVector.java
Labels: Component: Java, awaiting merge

#39777 GH-39649: [Java][CI] Fix or suppress spurious errorprone warnings stage 2
  docs/source/developers/java/development.rst
  java/adapter/avro/src/main/java/org/apache/arrow/adapter/avro/AvroToArrowUtils.java
  java/adapter/avro/src/main/java/org/apache/arrow/adapter/avro/AvroToArrowVectorIterator.java
  java/adapter/avro/src/main/java/org/apache/arrow/adapter/avro/consumers/Consumer.java
  java/adapter/avro/src/test/java/org/apache/arrow/adapter/avro/AvroSkipFieldTest.java
  java/adapter/avro/src/test/java/org/apache/arrow/adapter/avro/AvroTestBase.java
  java/adapter/avro/src/test/java/org/apache/arrow/adapter/avro/AvroToArrowIteratorTest.java
  java/adapter/avro/src/test/java/org/apache/arrow/adapter/avro/AvroToArrowTest.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/consumer/BinaryConsumer.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/consumer/ClobConsumer.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/consumer/JdbcConsumer.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcParameterBinderTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcToArrowCommentMetadataTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcToArrowConfigTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcToArrowTestHelper.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/ResultSetUtility.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/UnreliableMetaDataTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcAliasToArrowTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowArrayTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowCharSetTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowDataTypesTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowMapDataTypeTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowNullTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowOptionalColumnsTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowTimeZoneTest.java
  java/c/src/main/java/org/apache/arrow/c/Format.java
  java/c/src/main/java/org/apache/arrow/c/jni/CDataJniException.java
  java/c/src/test/java/org/apache/arrow/c/DictionaryTest.java
  java/c/src/test/java/org/apache/arrow/c/NativeUtilTest.java
  java/c/src/test/java/org/apache/arrow/c/RoundtripTest.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/AllocationOutcomeDetails.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/AllocationReservation.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/BaseAllocator.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/BufferLedger.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/BufferManager.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/CheckAllocator.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/ChildAllocator.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/LowCostIdentityHashMap.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/rounding/DefaultRoundingPolicy.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/ArrowBufPointer.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/Float16.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/HistoricalLog.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/MemoryUtil.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/hash/MurmurHasher.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/hash/SimpleHasher.java
  java/memory/memory-core/src/test/java/org/apache/arrow/memory/TestArrowBuf.java
  java/memory/memory-core/src/test/java/org/apache/arrow/memory/TestBaseAllocator.java
  java/memory/memory-core/src/test/java/org/apache/arrow/memory/TestLowCostIdentityHashMap.java
  java/memory/memory-core/src/test/java/org/apache/arrow/memory/util/TestArrowBufPointer.java
  java/memory/memory-core/src/test/java/org/apache/arrow/memory/util/TestByteFunctionHelpers.java
  java/memory/memory-core/src/test/java/org/apache/arrow/memory/util/hash/TestArrowBufHasher.java
  java/memory/memory-netty-buffer-patch/src/main/java/io/netty/buffer/NettyArrowBuf.java
  java/memory/memory-netty-buffer-patch/src/main/java/io/netty/buffer/UnsafeDirectLittleEndian.java
  java/memory/memory-netty-buffer-patch/src/test/java/io/netty/buffer/TestUnsafeDirectLittleEndian.java
  java/memory/memory-netty/src/main/java/org/apache/arrow/memory/netty/NettyAllocationManager.java
  java/memory/memory-netty/src/test/java/org/apache/arrow/memory/netty/TestEndianness.java
  java/memory/memory-netty/src/test/java/org/apache/arrow/memory/netty/TestNettyAllocator.java
  java/pom.xml
Labels: Component: Java, Component: Documentation, awaiting merge

#41633 GH-41608: [C++][Python] Extends the add_key_value to parquet::arrow and PyArrow
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/arrow/arrow_metadata_test.cc
  cpp/src/parquet/arrow/writer.cc
  cpp/src/parquet/arrow/writer.h
  cpp/src/parquet/file_writer.h
  python/pyarrow/_parquet.pxd
  python/pyarrow/_parquet.pyx
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_parquet_writer.py
Labels: Component: Parquet, Component: C++, Component: Python, awaiting committer review

#41822 GH-41493: [C++][S3] Add a new option to check existence before CreateDir
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs.h
  cpp/src/arrow/filesystem/s3fs_test.cc
Labels: Component: C++, awaiting committer review

#40496 GH-40494: [Go] add support for protobuf messages
  dev/release/rat_exclude_files.txt
  go/arrow/datatype_nested.go
  go/arrow/util/messages/README.md
  go/arrow/util/messages/types.proto
  go/arrow/util/protobuf_reflect.go
  go/arrow/util/protobuf_reflect_test.go
  go/arrow/util/util_message/types.pb.go
  go/go.mod
  go/go.sum
Labels: Component: Go, Component: Documentation, awaiting merge

#41957 GH-38553 : [C++] Replace null_count with MayHaveNulls in ListArrayFromArray and MapArray
  cpp/src/arrow/array/array_list_test.cc
  cpp/src/arrow/array/array_nested.cc
  python/pyarrow/tests/test_array.py
Labels: Component: C++, Component: Python, awaiting review

#41041 GH-37929: [Python] begin moving static settings to pyproject.toml
  .github/workflows/dev.yml
  ci/conda_env_python.txt
  dev/release/01-prepare-test.rb
  dev/release/post-11-bump-versions-test.rb
  dev/release/utils-prepare.sh
  dev/tasks/python-minimal-build/github.linux.yml
  python/examples/minimal_build/Dockerfile.ubuntu
  python/examples/minimal_build/build_conda.sh
  python/examples/minimal_build/build_venv.sh
  python/pyproject.toml
  python/requirements-build.txt
  python/setup.py
Labels: Component: Python, awaiting merge

#41932 GH-40062: [C++] Move RecordBatch::ToTensor code from record_batch.cc to tensor.cc
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/tensor.cc
  cpp/src/arrow/tensor.h
Labels: Component: C++, awaiting merge

#41986 GH-41983: [Dev] Run issue labeling bot only when opening an issue (not editing)
  .github/workflows/issue_bot.yml
Labels: awaiting committer review

#41503 GH-41502: [Python] Fix reading column index with decimal values
  python/pyarrow/pandas_compat.py
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting committer review

#41954 GH-41953: [C++] Minor enhance code style for FixedShapeTensorType
  cpp/src/arrow/extension/fixed_shape_tensor.cc
  cpp/src/arrow/extension/fixed_shape_tensor.h
Labels: Component: C++, awaiting merge

#41798 GH-41797: [C++][S3] Remove GetBucketRegion hack for newer AWS SDK versions
  cpp/src/arrow/filesystem/s3fs.cc
Labels: Component: C++, awaiting committer review

#41987 MINOR: [C++][CI] Work around bug in conda-forge benchmark package
  .github/workflows/cpp.yml
  ci/conda_env_cpp.txt
Labels: Component: Continuous Integration, awaiting merge

#42000 GH-41999: [Swift] Add methods for adding array and vargs to arrow array
  swift/Arrow/Sources/Arrow/ArrowArrayBuilder.swift
  swift/Arrow/Tests/ArrowTests/ArrayTests.swift
Labels: Component: Swift, awaiting review

#41996 MINOR: [Java] Bump com.google.errorprone:error_prone_core from 2.10.0 to 2.28.0 in /java - Manual Fix
  java/pom.xml
Labels: Component: Java, awaiting merge

#41980 GH-41968: [Java] Implement TransferPair functionality for BinaryView
  java/vector/src/main/java/org/apache/arrow/vector/ViewVarBinaryVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestSplitAndTransfer.java
  java/vector/src/test/java/org/apache/arrow/vector/TestVarCharViewVector.java
Labels: Component: Java, awaiting committer review

#41958 GH-41691: [Doc] Remove notion of "logical type"
  docs/source/format/Columnar.rst
  docs/source/format/Versioning.rst
  docs/source/python/data.rst
  docs/source/python/extending_types.rst
Labels: Component: Documentation, awaiting merge

#41995 GH-41994 [C++]: kernel.cc: Remove defaults on switch so that compiler can check full enum coverage for us
  cpp/src/arrow/compute/kernel.cc
Labels: Component: C++, awaiting change review

#42008 GH-42005: [Java][Integration][CI] Fix ARROW_BUILD_ROOT Path to find pom.xml
  dev/archery/archery/integration/tester_java.py
  dev/archery/archery/integration/tester_js.py
Labels: awaiting review

#42004 MINOR: [C++] Include `<string>` before using `std::string`
  cpp/src/arrow/json/object_writer.h
Labels: Component: C++, awaiting review

#41658 GH-41652: [C++][CMake][Windows] Don't build needless object libraries
  cpp/src/arrow/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#41772 GH-41307: [Java] Use org.apache:apache parent pom version 31
  ci/scripts/java_full_build.sh
  dev/tasks/tasks.yml
  java/adapter/avro/pom.xml
  java/adapter/jdbc/pom.xml
  java/adapter/orc/pom.xml
  java/bom/pom.xml
  java/c/pom.xml
  java/flight/flight-core/pom.xml
  java/flight/flight-integration-tests/pom.xml
  java/flight/flight-sql-jdbc-core/pom.xml
  java/flight/flight-sql-jdbc-driver/pom.xml
  java/flight/flight-sql/pom.xml
  java/format/pom.xml
  java/gandiva/pom.xml
  java/maven/module-info-compiler-maven-plugin/pom.xml
  java/maven/pom.xml
  java/memory/memory-core/pom.xml
  java/performance/pom.xml
  java/pom.xml
  java/tools/pom.xml
  java/vector/pom.xml
Labels: Component: Java, awaiting merge

#41972 GH-41960: Expose new S3 option check_directory_existence_before_creation
  python/pyarrow/_s3fs.pyx
  python/pyarrow/includes/libarrow_fs.pxd
  python/pyarrow/tests/test_fs.py
Labels: Component: Python, awaiting merge

#42022 GH-42017: [CI][Python][C++] Fix utf8proc detection for wheel on Windows
  cpp/cmake_modules/Findutf8proc.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/cmake_modules/Usevcpkg.cmake
Labels: Component: C++, awaiting committer review

#42007 GH-42006: [CI][Python] Use pip install -e instead of setup.py build_ext --inplace for installing pyarrow on verification script
  dev/release/verify-release-candidate.sh
Labels: awaiting merge

#42031 MINOR: [Python] spell "language" correctly in trove classifier
  python/pyproject.toml
Labels: Component: Python, awaiting review

#42023 GH-42020: [Swift] Add Arrow decoding implementation for Swift Codable
  swift/Arrow/Sources/Arrow/ArrowDecoder.swift
  swift/Arrow/Tests/ArrowTests/CodableTests.swift
Labels: Component: Swift, awaiting committer review

#42040 GH-42039: [Docs][Go] Fix broken link
  go/README.md
Labels: Component: Go, Component: Documentation, awaiting review

#42043 GH-42041: [Swift] Fix nullable type decoder issue
  swift/Arrow/Sources/Arrow/ArrowDecoder.swift
  swift/Arrow/Tests/ArrowTests/CodableTests.swift
Labels: Component: Swift, awaiting merge

#42044 GH-42042: [Java] Update Unit Tests for Compressions Module
  java/compression/src/test/java/org/apache/arrow/compression/TestArrowReaderWriterWithCompression.java
Labels: Component: Java, awaiting committer review

#41976 GH-39344: [C++][FS][Azure] Support azure cli auth
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting merge

#42049 GH-41929: [Java] pom.xml license formatting
  java/adapter/avro/pom.xml
  java/adapter/jdbc/pom.xml
  java/adapter/orc/pom.xml
  java/algorithm/pom.xml
  java/bom/pom.xml
  java/c/pom.xml
  java/compression/pom.xml
  java/dataset/pom.xml
  java/dev/license/asf-xml.license
  java/flight/flight-core/pom.xml
  java/flight/flight-integration-tests/pom.xml
  java/flight/flight-sql-jdbc-core/pom.xml
  java/flight/flight-sql-jdbc-driver/pom.xml
  java/flight/flight-sql/pom.xml
  java/flight/pom.xml
  java/format/pom.xml
  java/gandiva/pom.xml
  java/maven/module-info-compiler-maven-plugin/pom.xml
  java/maven/pom.xml
  java/memory/memory-core/pom.xml
  java/memory/memory-netty-buffer-patch/pom.xml
  java/memory/memory-netty/pom.xml
  java/memory/memory-unsafe/pom.xml
  java/memory/pom.xml
  java/performance/pom.xml
  java/pom.xml
  java/tools/pom.xml
  java/vector/pom.xml
Labels: Component: Java, awaiting merge

#41971 GH-41970: [C++] Misc changes making code around list-like types and list-view types behave the same way
  cpp/src/arrow/array/builder_nested.h
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
  cpp/src/arrow/compute/kernels/vector_hash.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
  cpp/src/arrow/type_fwd.h
  docs/source/cpp/compute.rst
  docs/source/format/Columnar.rst
Labels: Component: C++, Component: Documentation, awaiting merge

#41876 GH-41862: [C++][S3] Fix potential deadlock when closing output stream
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs_test.cc
Labels: Component: C++, awaiting change review

#41373 GH-41301: [C++] Extract the kernel loops used for PrimitiveTakeExec and generalize to any fixed-width type
  cpp/src/arrow/compute/kernels/gather_internal.h
  cpp/src/arrow/compute/kernels/vector_selection_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_internal.h
  cpp/src/arrow/compute/kernels/vector_selection_take_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_test.cc
Labels: Component: C++, awaiting change review

#39905 GH-39898: [C++] Add support for OpenTelemetry logging
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/flight/CMakeLists.txt
  cpp/src/arrow/flight/flight_test.cc
  cpp/src/arrow/flight/otel_logging.cc
  cpp/src/arrow/flight/otel_logging.h
  cpp/src/arrow/flight/otel_logging_internal.h
  cpp/src/arrow/flight/server_tracing_middleware.cc
  cpp/src/arrow/flight/sql/client.cc
  cpp/src/arrow/flight/sql/server.cc
  cpp/src/arrow/flight/sql/test_app_cli.cc
  cpp/src/arrow/flight/sql/test_server_cli.cc
  cpp/src/arrow/flight/transport/grpc/grpc_client.cc
  cpp/src/arrow/flight/transport/grpc/grpc_server.cc
  cpp/src/arrow/telemetry/CMakeLists.txt
  cpp/src/arrow/telemetry/logging.cc
  cpp/src/arrow/telemetry/logging.h
  cpp/src/arrow/telemetry/telemetry_test.cc
  cpp/src/arrow/telemetry/util_internal.h
  cpp/src/arrow/util/CMakeLists.txt
  cpp/src/arrow/util/logger.cc
  cpp/src/arrow/util/logger.h
  cpp/src/arrow/util/logger_test.cc
  cpp/src/arrow/util/logging.cc
  cpp/src/arrow/util/logging.h
  cpp/src/arrow/util/tracing_internal.cc
  cpp/thirdparty/versions.txt
Labels: Component: C++, Component: FlightRPC, awaiting merge

#42064 MINOR: [Swift] Add missing Bool type to decoder type checks
  swift/Arrow/Sources/Arrow/ArrowDecoder.swift
Labels: Component: Swift, awaiting review

#42058 GH-40831: [Java] Adding Spotless to Tools module
  java/tools/pom.xml
  java/tools/src/main/java/org/apache/arrow/tools/EchoServer.java
  java/tools/src/main/java/org/apache/arrow/tools/FileRoundtrip.java
  java/tools/src/main/java/org/apache/arrow/tools/FileToStream.java
  java/tools/src/main/java/org/apache/arrow/tools/Integration.java
  java/tools/src/main/java/org/apache/arrow/tools/StreamToFile.java
  java/tools/src/test/java/org/apache/arrow/tools/ArrowFileTestFixtures.java
  java/tools/src/test/java/org/apache/arrow/tools/EchoServerTest.java
  java/tools/src/test/java/org/apache/arrow/tools/TestFileRoundtrip.java
  java/tools/src/test/java/org/apache/arrow/tools/TestIntegration.java
Labels: Component: Java, awaiting committer review

#42057 GH-40830: [Java] Adding Spotless to Performance module
  java/performance/pom.xml
  java/performance/src/main/java/org/apache/arrow/adapter/AvroAdapterBenchmarks.java
  java/performance/src/main/java/org/apache/arrow/adapter/jdbc/JdbcAdapterBenchmarks.java
  java/performance/src/main/java/org/apache/arrow/algorithm/search/ParallelSearcherBenchmarks.java
  java/performance/src/main/java/org/apache/arrow/memory/AllocatorBenchmarks.java
  java/performance/src/main/java/org/apache/arrow/memory/ArrowBufBenchmarks.java
  java/performance/src/main/java/org/apache/arrow/memory/util/ArrowBufPointerBenchmarks.java
  java/performance/src/main/java/org/apache/arrow/memory/util/ByteFunctionHelpersBenchmarks.java
  java/performance/src/main/java/org/apache/arrow/vector/BaseValueVectorBenchmarks.java
  java/performance/src/main/java/org/apache/arrow/vector/BitVectorHelperBenchmarks.java
  java/performance/src/main/java/org/apache/arrow/vector/DecimalVectorBenchmarks.java
  java/performance/src/main/java/org/apache/arrow/vector/Float8Benchmarks.java
  java/performance/src/main/java/org/apache/arrow/vector/FloatingPointBenchmarks.java
  java/performance/src/main/java/org/apache/arrow/vector/IntBenchmarks.java
  java/performance/src/main/java/org/apache/arrow/vector/VarCharBenchmarks.java
  java/performance/src/main/java/org/apache/arrow/vector/VariableWidthVectorBenchmarks.java
  java/performance/src/main/java/org/apache/arrow/vector/VectorLoaderBenchmark.java
  java/performance/src/main/java/org/apache/arrow/vector/VectorUnloaderBenchmark.java
  java/performance/src/main/java/org/apache/arrow/vector/dictionary/DictionaryEncoderBenchmarks.java
  java/performance/src/main/java/org/apache/arrow/vector/ipc/WriteChannelBenchmark.java
  java/performance/src/main/java/org/apache/arrow/vector/ipc/message/ArrowRecordBatchBenchmarks.java
  java/performance/src/main/java/org/apache/arrow/vector/util/TransferPairBenchmarks.java
Labels: Component: Java, awaiting merge

#42055 GH-40827: [Java] Adding Spotless to Gandiva module
  java/gandiva/pom.xml
  java/gandiva/src/main/java/module-info.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/evaluator/ConfigurationBuilder.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/evaluator/DecimalTypeUtil.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/evaluator/ExpressionRegistry.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/evaluator/ExpressionRegistryJniHelper.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/evaluator/Filter.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/evaluator/FunctionSignature.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/evaluator/JniLoader.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/evaluator/JniWrapper.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/evaluator/Projector.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/evaluator/SelectionVector.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/evaluator/SelectionVectorInt16.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/evaluator/SelectionVectorInt32.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/evaluator/VectorExpander.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/exceptions/EvaluatorClosedException.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/exceptions/GandivaException.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/exceptions/UnsupportedTypeException.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/AndNode.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/ArrowTypeHelper.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/BinaryNode.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/BooleanNode.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/Condition.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/DecimalNode.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/DoubleNode.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/ExpressionTree.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/FieldNode.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/FloatNode.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/FunctionNode.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/IfNode.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/InNode.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/IntNode.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/LongNode.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/NullNode.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/OrNode.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/StringNode.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/TreeBuilder.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/TreeNode.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/BaseEvaluatorTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/DecimalTypeUtilTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/ExpressionRegistryTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/FilterProjectTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/FilterTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/MicroBenchmarkTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/ProjectorDecimalTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/ProjectorTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/TestJniLoader.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/expression/ArrowTypeHelperTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/expression/TreeBuilderTest.java
Labels: Component: Java, awaiting merge

#42060 GH-40823: [Java] Adding Spotless to Compression module
  java/compression/pom.xml
  java/compression/src/main/java/org/apache/arrow/compression/CommonsCompressionFactory.java
  java/compression/src/main/java/org/apache/arrow/compression/Lz4CompressionCodec.java
  java/compression/src/main/java/org/apache/arrow/compression/ZstdCompressionCodec.java
  java/compression/src/test/java/org/apache/arrow/compression/TestArrowReaderWriterWithCompression.java
  java/compression/src/test/java/org/apache/arrow/compression/TestCompressionCodec.java
Labels: Component: Java, awaiting review

#42059 GH-40822: [Java] Adding Spotless to C module
  java/c/pom.xml
  java/c/src/main/java/module-info.java
  java/c/src/main/java/org/apache/arrow/c/ArrayExporter.java
  java/c/src/main/java/org/apache/arrow/c/ArrayImporter.java
  java/c/src/main/java/org/apache/arrow/c/ArrayStreamExporter.java
  java/c/src/main/java/org/apache/arrow/c/ArrowArray.java
  java/c/src/main/java/org/apache/arrow/c/ArrowArrayStream.java
  java/c/src/main/java/org/apache/arrow/c/ArrowArrayStreamReader.java
  java/c/src/main/java/org/apache/arrow/c/ArrowSchema.java
  java/c/src/main/java/org/apache/arrow/c/BaseStruct.java
  java/c/src/main/java/org/apache/arrow/c/BufferImportTypeVisitor.java
  java/c/src/main/java/org/apache/arrow/c/CDataDictionaryProvider.java
  java/c/src/main/java/org/apache/arrow/c/Data.java
  java/c/src/main/java/org/apache/arrow/c/Flags.java
  java/c/src/main/java/org/apache/arrow/c/Format.java
  java/c/src/main/java/org/apache/arrow/c/Metadata.java
  java/c/src/main/java/org/apache/arrow/c/NativeUtil.java
  java/c/src/main/java/org/apache/arrow/c/ReferenceCountedArrowArray.java
  java/c/src/main/java/org/apache/arrow/c/SchemaExporter.java
  java/c/src/main/java/org/apache/arrow/c/SchemaImporter.java
  java/c/src/main/java/org/apache/arrow/c/StructVectorLoader.java
  java/c/src/main/java/org/apache/arrow/c/StructVectorUnloader.java
  java/c/src/main/java/org/apache/arrow/c/jni/CDataJniException.java
  java/c/src/main/java/org/apache/arrow/c/jni/JniLoader.java
  java/c/src/main/java/org/apache/arrow/c/jni/JniWrapper.java
  java/c/src/main/java/org/apache/arrow/c/jni/PrivateData.java
  java/c/src/test/java/org/apache/arrow/c/ArrowArrayUtilityTest.java
  java/c/src/test/java/org/apache/arrow/c/DictionaryTest.java
  java/c/src/test/java/org/apache/arrow/c/FlagsTest.java
  java/c/src/test/java/org/apache/arrow/c/FormatTest.java
  java/c/src/test/java/org/apache/arrow/c/MetadataTest.java
  java/c/src/test/java/org/apache/arrow/c/NativeUtilTest.java
  java/c/src/test/java/org/apache/arrow/c/RoundtripTest.java
  java/c/src/test/java/org/apache/arrow/c/StreamTest.java
Labels: Component: Java, awaiting review

#41819 GH-41818: [C++][Parquet] normalize dictionary encoding to use RLE_DICTIONARY
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/types.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#42028 GH-40749: [Python][Packaging] Strip unnecessary symbols when building wheels
  ci/scripts/python_wheel_manylinux_build.sh
Labels: awaiting change review

#42051 GH-42013 [Python] Allow Array.filter() to take general array input
  python/pyarrow/array.pxi
  python/pyarrow/tests/test_compute.py
Labels: Component: Python, awaiting change review

#41900 GH-41899: [C++] IPC: Minor enhance the code of writer
  cpp/src/arrow/ipc/writer.cc
Labels: Component: C++, awaiting merge

#41981 GH-42100: [C++][Parquet] ParquetFilePrinter::JSONPrint print length of FLBA
  cpp/src/parquet/printer.cc
  cpp/src/parquet/reader_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#41965 GH-23576: [JS] Support DictionaryMessage replacement
  js/gulp/argv.js
  js/gulp/test-task.js
  js/src/ipc/reader.ts
  js/src/ipc/writer.ts
  js/test/unit/ipc/message-reader-tests.ts
  js/test/unit/ipc/writer/file-writer-tests.ts
  js/test/unit/ipc/writer/stream-writer-tests.ts
Labels: Component: JavaScript, awaiting changes

#41883 GH-41791: [CI][Conda] Update azure.linux.yml task, replace CondaEnvironment@1 with Bash@3
  dev/tasks/conda-recipes/azure.linux.yml
  dev/tasks/macros.jinja
Labels: awaiting change review

#42029 GH-42025: [Java] Update Unit Tests for Algorithm Module
  java/algorithm/src/test/java/org/apache/arrow/algorithm/deduplicate/TestDeduplicationUtils.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/deduplicate/TestVectorRunDeduplicator.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/dictionary/TestHashTableBasedDictionaryBuilder.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/dictionary/TestHashTableDictionaryEncoder.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/dictionary/TestLinearDictionaryEncoder.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/dictionary/TestSearchDictionaryEncoder.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/dictionary/TestSearchTreeBasedDictionaryBuilder.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/misc/TestPartialSumUtils.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/rank/TestVectorRank.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/search/TestParallelSearcher.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/search/TestVectorRangeSearcher.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/search/TestVectorSearcher.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/sort/TestCompositeVectorComparator.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/sort/TestDefaultVectorComparator.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/sort/TestFixedWidthInPlaceVectorSorter.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/sort/TestFixedWidthOutOfPlaceVectorSorter.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/sort/TestFixedWidthSorting.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/sort/TestGeneralOutOfPlaceVectorSorter.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/sort/TestIndexSorter.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/sort/TestInsertionSorter.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/sort/TestOffHeapIntStack.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/sort/TestOutOfPlaceVectorSorter.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/sort/TestStableVectorComparator.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/sort/TestVariableWidthOutOfPlaceVectorSorter.java
  java/algorithm/src/test/java/org/apache/arrow/algorithm/sort/TestVariableWidthSorting.java
Labels: Component: Java, awaiting merge

#42062 GH-40824: [Java] Adding Spotless to Dataset module
  java/dataset/pom.xml
  java/dataset/src/main/java/module-info.java
  java/dataset/src/main/java/org/apache/arrow/dataset/file/DatasetFileWriter.java
  java/dataset/src/main/java/org/apache/arrow/dataset/file/FileFormat.java
  java/dataset/src/main/java/org/apache/arrow/dataset/file/FileSystemDatasetFactory.java
  java/dataset/src/main/java/org/apache/arrow/dataset/file/JniWrapper.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/DirectReservationListener.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/JniExceptionDescriber.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/JniLoader.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/JniWrapper.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/NativeContext.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/NativeDataset.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/NativeDatasetFactory.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/NativeInstanceReleasedException.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/NativeMemoryPool.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/NativeScanTask.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/NativeScanner.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/ReservationListener.java
  java/dataset/src/main/java/org/apache/arrow/dataset/scanner/ArrowScannerReader.java
  java/dataset/src/main/java/org/apache/arrow/dataset/scanner/ScanOptions.java
  java/dataset/src/main/java/org/apache/arrow/dataset/scanner/ScanTask.java
  java/dataset/src/main/java/org/apache/arrow/dataset/scanner/Scanner.java
  java/dataset/src/main/java/org/apache/arrow/dataset/source/Dataset.java
  java/dataset/src/main/java/org/apache/arrow/dataset/source/DatasetFactory.java
  java/dataset/src/main/java/org/apache/arrow/dataset/substrait/AceroSubstraitConsumer.java
  java/dataset/src/main/java/org/apache/arrow/dataset/substrait/JniWrapper.java
  java/dataset/src/test/java/org/apache/arrow/dataset/OrcWriteSupport.java
  java/dataset/src/test/java/org/apache/arrow/dataset/ParquetWriteSupport.java
  java/dataset/src/test/java/org/apache/arrow/dataset/TestAllTypes.java
  java/dataset/src/test/java/org/apache/arrow/dataset/TestDataset.java
  java/dataset/src/test/java/org/apache/arrow/dataset/TextBasedWriteSupport.java
  java/dataset/src/test/java/org/apache/arrow/dataset/file/TestDatasetFileWriter.java
  java/dataset/src/test/java/org/apache/arrow/dataset/file/TestFileSystemDataset.java
  java/dataset/src/test/java/org/apache/arrow/dataset/file/TestFileSystemDatasetFactory.java
  java/dataset/src/test/java/org/apache/arrow/dataset/jni/TestNativeDataset.java
  java/dataset/src/test/java/org/apache/arrow/dataset/jni/TestReservationListener.java
  java/dataset/src/test/java/org/apache/arrow/dataset/substrait/TestAceroSubstraitConsumer.java
Labels: Component: Java, awaiting merge

#42125 MINOR: [DEV] Add sgilmore10 to CODEOWNERS for `/matlab/`
  .github/CODEOWNERS
Labels: awaiting review

#42067 GH-42065: [C++] Support list-views on list_slice
  cpp/src/arrow/compute/kernels/CMakeLists.txt
  cpp/src/arrow/compute/kernels/scalar_list_benchmark.cc
  cpp/src/arrow/compute/kernels/scalar_nested.cc
  cpp/src/arrow/compute/kernels/scalar_nested_test.cc
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, awaiting changes

#42123 GH-42015: [MATLAB] Executing `tfeather.m` test class causes MATLAB to crash on `windows-2022` after MSVC update from 14.39.33519 to 14.40.33807
  matlab/CMakeLists.txt
Labels: Component: MATLAB, awaiting review

#41925 GH-41923: [C++] Fix ExecuteScalar deduce all_scalar with chunked_array
  cpp/src/arrow/compute/expression.cc
  cpp/src/arrow/compute/expression_test.cc
Labels: Component: C++, awaiting changes

#42108 GH-42107: [C++][FS][Azure] Ensure setting BlobSasBuilder::Protocol
  cpp/src/arrow/filesystem/azurefs.cc
Labels: Component: C++, awaiting changes

#42110 GH-42109: [C++][CMake] Add preset for Valgrind
  cpp/CMakePresets.json
Labels: Component: C++, awaiting changes

#41773 GH-41758: [Python] Disallow direct pa.RecordBatchReader() construction to avoid segfaults
  python/pyarrow/ipc.pxi
  python/pyarrow/tests/test_misc.py
Labels: Component: Python, awaiting committer review

#42099 GH-41924: [Python] Fix tests when using NumPy 2.0 on Windows
  python/pyarrow/tests/parquet/common.py
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_pandas.py
  python/pyarrow/tests/test_table.py
  python/scripts/test_leak.py
Labels: Component: Python, awaiting committer review

#41889 GH-41662: [Python] Ensure Buffer methods don't crash with non-CPU data
  python/pyarrow/io.pxi
  python/pyarrow/tests/test_io.py
Labels: Component: Python, awaiting merge

#41956 GH-41955: [C++] Follow up of adding null_bitmap to MapArray::FromArrays
  cpp/src/arrow/array/array_list_test.cc
  cpp/src/arrow/array/array_nested.cc
  cpp/src/arrow/array/array_nested.h
  python/pyarrow/tests/test_array.py
Labels: Component: C++, Component: Python, awaiting merge

#42141 GH-42140: [C++] Avoid invalid accesses in parquet-encoding-benchmark
  cpp/src/parquet/encoding_benchmark.cc
Labels: Component: Parquet, Component: C++, Component: Benchmarking, awaiting committer review

#42127 GH-42126: [C++] Move TakeXXX free functions into TakeMetaFunction and make them private
  cpp/src/arrow/compute/kernels/vector_selection_take_internal.cc
Labels: Component: C++, awaiting changes

#42035 GH-41947: [Java] Support catalog in JDBC driver with session options
  java/flight/flight-sql-jdbc-core/pom.xml
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/ArrowFlightConnection.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/client/ArrowFlightSqlClientHandler.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/ArrowFlightConnectionConfigImpl.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/client/ArrowFlightSqlClientHandlerBuilderTest.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/utils/ArrowFlightConnectionConfigImplTest.java
Labels: Component: Java, awaiting change review

#42148 MINOR: [Dev][Docs] Fix references to archery docker run command
  docker-compose.yml
  docs/source/developers/continuous_integration/overview.rst
Labels: Component: Documentation, awaiting review

#42038 GH-42030: [Java] Update Unit Tests for Adapter Module
  java/adapter/avro/src/test/java/org/apache/arrow/adapter/avro/AvroLogicalTypesTest.java
  java/adapter/avro/src/test/java/org/apache/arrow/adapter/avro/AvroSkipFieldTest.java
  java/adapter/avro/src/test/java/org/apache/arrow/adapter/avro/AvroTestBase.java
  java/adapter/avro/src/test/java/org/apache/arrow/adapter/avro/AvroToArrowIteratorTest.java
  java/adapter/avro/src/test/java/org/apache/arrow/adapter/avro/AvroToArrowTest.java
  java/adapter/avro/src/test/java/org/apache/arrow/adapter/avro/TestWriteReadAvroRecord.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/AbstractJdbcToArrowTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcFieldInfoTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcToArrowCommentMetadataTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcToArrowConfigTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/JdbcToArrowTestHelper.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/ResultSetUtilityTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/UnreliableMetaDataTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/consumer/AbstractConsumerTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/consumer/BinaryConsumerTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcAliasToArrowTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowArrayTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowCharSetTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowDataTypesTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowMapDataTypeTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowNullTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowOptionalColumnsTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowTimeZoneTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowVectorIteratorTest.java
  java/adapter/orc/src/test/java/org/apache/arrow/adapter/orc/OrcReaderTest.java
Labels: Component: Java, awaiting merge

#42115 GH-42101: [Java] Create File for Output Validation in FileRoundtrip
  java/tools/src/main/java/org/apache/arrow/tools/FileRoundtrip.java
  java/tools/src/test/java/org/apache/arrow/tools/TestFileRoundtrip.java
Labels: Component: Java, awaiting merge

#42135 GH-42134: [C++][FS][Azure] Validate AzureOptions::{blob,dfs}_storage_scheme
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
  python/pyarrow/tests/test_fs.py
Labels: Component: C++, Component: Python, awaiting merge

#42132 MINOR: [C#] Handle Empty Schema
  csharp/src/Apache.Arrow.Flight/Internal/FlightMessageSerializer.cs
Labels: Component: C#, awaiting review

#42150 GH-41349: [C#] Optimize DecimalUtility.GetBytes(SqlDecimal) on .NET 7+
  csharp/src/Apache.Arrow/Apache.Arrow.csproj
  csharp/src/Apache.Arrow/DecimalUtility.cs
  csharp/src/Apache.Arrow/Scalars/BinaryView.cs
Labels: Component: C#, awaiting review

#42129 GH-42128: [Packaging][CentOS] Migrate CentOS 7 and CentOS Stream 8 packaging jobs to use vault.centos.org
  dev/release/verify-yum.sh
  dev/tasks/linux-packages/apache-arrow-release/yum/centos-7/Dockerfile
  dev/tasks/linux-packages/apache-arrow-release/yum/centos-8-stream/Dockerfile
  dev/tasks/linux-packages/apache-arrow/yum/centos-7/Dockerfile
  dev/tasks/linux-packages/apache-arrow/yum/centos-8-stream/Dockerfile
Labels: awaiting changes

#41969 GH-42143: [R] Sanitize R metadata
  r/NEWS.md
  r/R/extension.R
  r/R/metadata.R
  r/tests/testthat/test-metadata.R
Labels: Component: R, Component: Documentation, awaiting change review

#42163 GH-42162: [Java] Update Unit Tests for Dataset Module
  java/dataset/src/test/java/org/apache/arrow/dataset/TestAllTypes.java
  java/dataset/src/test/java/org/apache/arrow/dataset/TestDataset.java
  java/dataset/src/test/java/org/apache/arrow/dataset/file/TestDatasetFileWriter.java
  java/dataset/src/test/java/org/apache/arrow/dataset/file/TestFileSystemDataset.java
  java/dataset/src/test/java/org/apache/arrow/dataset/file/TestFileSystemDatasetFactory.java
  java/dataset/src/test/java/org/apache/arrow/dataset/jni/TestNativeDataset.java
  java/dataset/src/test/java/org/apache/arrow/dataset/jni/TestReservationListener.java
  java/dataset/src/test/java/org/apache/arrow/dataset/substrait/TestAceroSubstraitConsumer.java
Labels: Component: Java, awaiting review

#42166 GH-42164: [Java] Update Unit Tests for Gandiva Module
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/BaseEvaluatorTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/DecimalTypeUtilTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/ExpressionRegistryTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/FilterProjectTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/FilterTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/MicroBenchmarkTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/ProjectorDecimalTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/ProjectorTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/TestJniLoader.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/expression/ArrowTypeHelperTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/expression/TreeBuilderTest.java
Labels: Component: Java, awaiting review

#42155 MINOR: [JS] Prevent the exception for schema "fields" is null or undefined
  js/src/schema.ts
Labels: Component: JavaScript, awaiting merge

#42172 GH-42170: [Python][CI] Update expected output for numpy 2.0.0
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting committer review

#42175 GH-42136: [CI][Go][Java][JS] Use AMD64-based macOS explicitly
  .github/workflows/go.yml
  .github/workflows/java.yml
  .github/workflows/js.yml
Labels: awaiting change review

#42093 GH-42092: [Java] Update Unit Tests for Tools Module
  java/tools/src/test/java/org/apache/arrow/tools/ArrowFileTestFixtures.java
  java/tools/src/test/java/org/apache/arrow/tools/EchoServerTest.java
  java/tools/src/test/java/org/apache/arrow/tools/TestFileRoundtrip.java
  java/tools/src/test/java/org/apache/arrow/tools/TestIntegration.java
Labels: Component: Java, awaiting change review

#41895 GH-37728: [Java] Add methods to get an Iterable for a ValueVector
  java/dataset/pom.xml
  java/dataset/src/test/java/org/apache/arrow/dataset/substrait/TestAceroSubstraitConsumer.java
  java/vector/pom.xml
  java/vector/src/main/codegen/templates/DenseUnionVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BigIntVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BitVector.java
  java/vector/src/main/java/org/apache/arrow/vector/DateDayVector.java
  java/vector/src/main/java/org/apache/arrow/vector/DateMilliVector.java
  java/vector/src/main/java/org/apache/arrow/vector/Decimal256Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/DecimalVector.java
  java/vector/src/main/java/org/apache/arrow/vector/DurationVector.java
  java/vector/src/main/java/org/apache/arrow/vector/FixedSizeBinaryVector.java
  java/vector/src/main/java/org/apache/arrow/vector/Float2Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/Float4Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/Float8Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/IntVector.java
  java/vector/src/main/java/org/apache/arrow/vector/IntervalDayVector.java
  java/vector/src/main/java/org/apache/arrow/vector/IntervalMonthDayNanoVector.java
  java/vector/src/main/java/org/apache/arrow/vector/IntervalYearVector.java
  java/vector/src/main/java/org/apache/arrow/vector/LargeVarBinaryVector.java
  java/vector/src/main/java/org/apache/arrow/vector/LargeVarCharVector.java
  java/vector/src/main/java/org/apache/arrow/vector/NullVector.java
  java/vector/src/main/java/org/apache/arrow/vector/SmallIntVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeMicroVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeMilliVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeNanoVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeSecVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampMicroTZVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampMicroVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampMilliTZVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampMilliVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampNanoTZVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampNanoVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampSecTZVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TimeStampSecVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TinyIntVector.java
  java/vector/src/main/java/org/apache/arrow/vector/UInt1Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/UInt2Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/UInt4Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/UInt8Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/ValueIterableVector.java
  java/vector/src/main/java/org/apache/arrow/vector/VarBinaryVector.java
  java/vector/src/main/java/org/apache/arrow/vector/VarCharVector.java
  java/vector/src/main/java/org/apache/arrow/vector/ViewVarBinaryVector.java
  java/vector/src/main/java/org/apache/arrow/vector/ViewVarCharVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/FixedSizeListVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/LargeListVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/ListVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/ListViewVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/NonNullableStructVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/StructVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestValueVectorIterable.java
  java/vector/src/test/java/org/apache/arrow/vector/types/pojo/TestExtensionType.java
Labels: Component: Java, awaiting merge

#42088 GH-42087: [Swift] refactored to remove build warnings
  swift/Arrow/Package.swift
  swift/Arrow/Sources/Arrow/ArrowCExporter.swift
  swift/Arrow/Tests/ArrowTests/CodableTests.swift
  swift/ArrowFlight/Package.swift
Labels: Component: Swift, awaiting review

#42194 GH-41203: [Python][Packaging] Ensure to build with released numpy 2.0 (instead of RC) in the wheel building workflows
  .env
  python/requirements-wheel-build.txt
Labels: Component: Python, awaiting merge

#41979 GH-41978: [Python] Fix pandas tests to follow downstream datetime64 unit changes
  python/pyarrow/pandas_compat.py
  python/pyarrow/tests/interchange/test_conversion.py
  python/pyarrow/tests/parquet/test_datetime.py
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting committer review

#41498 MINOR: [Python][Docs] Fix mention of default for coerce_timestamps keyword in reading Parquet
  python/pyarrow/parquet/core.py
Labels: Component: Python, awaiting review, awaiting merge

#42195 GH-42124: [Swift] Add methods for loading and validating builder by type
  swift/Arrow/Sources/Arrow/ArrowArrayBuilder.swift
  swift/Arrow/Tests/ArrowTests/ArrayBuilderTest.swift
Labels: Component: Swift, awaiting review

#42171 GH-42167: [CI] Upgrade the version of vcpkg in .env
  .env
  .github/workflows/java_jni.yml
  ci/docker/python-wheel-manylinux.dockerfile
  ci/vcpkg/ports.patch
Labels: awaiting review

#42202 GH-42197: [CI][Packaging][Java] Ensure updating "python@*" formulae on macOS
  dev/tasks/java-jars/github.yml
Labels: awaiting committer review

#42189 GH-42190: [Python] Add CI job for Numpy 1.X
  dev/tasks/tasks.yml
Labels: awaiting change review

#42201 GH-42146: [MATLAB] Add IPC `RecordBatchFileReader` and `RecordBatchFileWriter` MATLAB classes
  matlab/src/cpp/arrow/matlab/error/error.h
  matlab/src/cpp/arrow/matlab/io/ipc/proxy/record_batch_file_reader.cc
  matlab/src/cpp/arrow/matlab/io/ipc/proxy/record_batch_file_reader.h
  matlab/src/cpp/arrow/matlab/io/ipc/proxy/record_batch_file_writer.cc
  matlab/src/cpp/arrow/matlab/io/ipc/proxy/record_batch_file_writer.h
  matlab/src/cpp/arrow/matlab/proxy/factory.cc
  matlab/src/matlab/+arrow/+io/+ipc/RecordBatchFileReader.m
  matlab/src/matlab/+arrow/+io/+ipc/RecordBatchFileWriter.m
  matlab/test/arrow/io/ipc/tRecordBatchFileReader.m
  matlab/test/arrow/io/ipc/tRecordBatchFileWriter.m
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
Labels: Component: MATLAB, awaiting merge

#42103 GH-42016: [Python] Expose new FLOAT16 logical type in the pyarrow.parquet bindings
  python/pyarrow/_parquet.pxd
  python/pyarrow/_parquet.pyx
  python/pyarrow/tests/parquet/common.py
  python/pyarrow/tests/parquet/test_metadata.py
Labels: Component: Python, awaiting change review

#42131 GH-42130: [GLib] Fix building gir files with MSVC
  .github/workflows/ruby.yml
  c_glib/arrow-dataset-glib/enums.h.template
  c_glib/arrow-dataset-glib/meson.build
  c_glib/arrow-glib/enums.h.template
  c_glib/arrow-glib/meson.build
  c_glib/gandiva-glib/enums.h.template
  c_glib/gandiva-glib/meson.build
  c_glib/tool/generate-version-header.py
  c_glib/vcpkg.json
  ci/scripts/c_glib_build.sh
Labels: Component: C++ - Gandiva, Component: GLib, awaiting merge

#42217 GH-42208: [Java] Fix the Test in flight-sql-jdbc-driver Module
  java/flight/flight-sql-jdbc-driver/src/test/java/org/apache/arrow/driver/jdbc/ITDriverJarValidation.java
Labels: Component: Java, awaiting merge

#41967 GH-40942: [Java] Implement C Data Interface for StringView
  dev/archery/archery/integration/datagen.py
  java/c/src/main/java/org/apache/arrow/c/ArrayExporter.java
  java/c/src/main/java/org/apache/arrow/c/BufferImportTypeVisitor.java
  java/c/src/main/java/org/apache/arrow/c/Format.java
  java/c/src/main/java/org/apache/arrow/c/StructVectorUnloader.java
  java/c/src/test/java/org/apache/arrow/c/DictionaryTest.java
  java/c/src/test/java/org/apache/arrow/c/RoundtripTest.java
  java/c/src/test/java/org/apache/arrow/c/StreamTest.java
  java/c/src/test/python/integration_tests.py
  java/tools/src/test/java/org/apache/arrow/tools/ArrowFileTestFixtures.java
  java/tools/src/test/java/org/apache/arrow/tools/TestIntegration.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthViewVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BufferLayout.java
  java/vector/src/main/java/org/apache/arrow/vector/FieldVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TypeLayout.java
  java/vector/src/main/java/org/apache/arrow/vector/VectorUnloader.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/JsonFileReader.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/JsonFileWriter.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/message/MessageSerializer.java
  java/vector/src/test/java/org/apache/arrow/vector/TestVarCharViewVector.java
  java/vector/src/test/java/org/apache/arrow/vector/complex/writer/TestComplexWriter.java
Labels: Component: Java, awaiting merge

#42225 GH-42224: [Java] Fix Typo in TestAceroSubstraitConsumer Test Method
  java/dataset/src/test/java/org/apache/arrow/dataset/substrait/TestAceroSubstraitConsumer.java
Labels: Component: Java, awaiting merge

#42206 GH-42193: [Java] Update dependency to maintain JUnit 5 only
  java/adapter/avro/src/test/java/org/apache/arrow/adapter/avro/AvroLogicalTypesTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowOptionalColumnsTest.java
  java/pom.xml
  java/vector/src/test/java/org/apache/arrow/vector/util/TestMapWithOrdinal.java
Labels: Component: Java, awaiting merge

#42219 GH-37669: [C++][Python] Fix casting to extension type with fixed size list storage type
  cpp/src/arrow/compute/kernels/scalar_cast_extension.cc
  python/pyarrow/tests/test_extension_type.py
Labels: Component: C++, Component: Python, awaiting merge

#42227 MINOR: [Go] check nil buffer in SizeInBytes
  go/arrow/array/data.go
  go/arrow/array/data_test.go
Labels: Component: Go, awaiting merge

#42230 GH-42228: [CI][Java] Suppress transfer progress log in java-jars
  ci/scripts/java_full_build.sh
  dev/tasks/java-jars/github.yml
Labels: awaiting merge

#42244 GH-42243: [Swift] Update isValidBuilderType to not required instance of type
  swift/Arrow/Sources/Arrow/ArrowArrayBuilder.swift
  swift/Arrow/Tests/ArrowTests/ArrayBuilderTest.swift
Labels: Component: Swift, awaiting review

#42246 GH-42245: [Swift] Ensure map behavior is the same for all key types
  swift/Arrow/Sources/Arrow/ArrowDecoder.swift
  swift/Arrow/Tests/ArrowTests/CodableTests.swift
Labels: Component: Swift, awaiting changes

#42226 GH-42220: [R] handle vctrs_rcrd extension type in metadata cleaning
  r/R/extension.R
  r/tests/testthat/test-extension.R
Labels: Component: R, awaiting merge

#42249 GH-42234: [CI][R] Disable libarrow binary use on valgrind tests
  docker-compose.yml
Labels: awaiting committer review

#42250 GH-42232: [C++] Use non-stale c-ares download URL
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting change review

#42214 GH-42213: [Swift] Use "--warnings-as-errors" only on CI
  ci/scripts/swift_test.sh
  swift/Arrow/Package.swift
  swift/ArrowFlight/Package.swift
Labels: Component: Swift, awaiting merge

#42210 GH-41952: [R] Turn S3 and ZSTD on by default for macOS
  r/R/arrow-info.R
  r/inst/build_arrow_static.sh
  r/tools/nixlibs.R
Labels: Component: R, awaiting changes

#42248 MINOR: [Go] Remove extraneous godocs line
  go/arrow/example_test.go
Labels: Component: Go, awaiting review

#42207 GH-42139: [C++] Fix some potential uninitialized variable warnings
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/gpu/cuda_benchmark.cc
Labels: Component: C++, awaiting change review

#42122 GH-42104: [C++] Fix an OTel test failure and remove needless logs
  cpp/src/arrow/flight/sql/client.cc
  cpp/src/arrow/flight/sql/server.cc
  cpp/src/arrow/flight/transport/grpc/grpc_client.cc
  cpp/src/arrow/flight/transport/grpc/grpc_server.cc
  cpp/src/arrow/telemetry/telemetry_test.cc
Labels: Component: C++, Component: FlightRPC, awaiting merge

#43028 GH-43020: [Java] Simplify flight.properties generation
  java/.gitignore
  java/flight/flight-sql-jdbc-core/pom.xml
  java/flight/flight-sql-jdbc-core/src/main/resources/properties/flight.properties
Labels: Component: Java, awaiting merge

#42188 GH-41813: [C++] Fix avx2 gather offset larger than 2GB in `CompareColumnsToRows`
  cpp/src/arrow/compute/row/compare_internal_avx2.cc
  cpp/src/arrow/compute/row/compare_test.cc
Labels: Component: C++, Critical Fix, awaiting committer review

#42239 MINOR: [C++][Docs] Enhance document for RecordBatchReader::ReadNext
  cpp/src/arrow/record_batch.h
Labels: Component: C++, awaiting merge

#43016 GH-43015: [Go] Reuse column compressors in IPC module
  go/arrow/ipc/file_writer.go
  go/arrow/ipc/ipc.go
  go/arrow/ipc/writer.go
  go/arrow/ipc/writer_test.go
Labels: Component: Go, awaiting change review

#43034 GH-43033: [CI][Docker] Enable linter for python-wheel-windows-test-vs2019
  .pre-commit-config.yaml
  ci/docker/python-wheel-windows-test-vs2019.dockerfile
Labels: awaiting committer review

#43049 GH-43048: [JAVA] Fix IndexOutOfBoundsException message by reporting index correctly
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/ArrowBuf.java
Labels: Component: Java, awaiting committer review

#42113 GH-42112: [Python] Array gracefully fails on non-cpu device
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/lib.pxd
  python/pyarrow/tests/test_array.py
Labels: Component: Python, awaiting change review

#40708 GH-38325: [Python] Expand the Arrow PyCapsule Interface with C Device Data support
  docs/source/format/CDataInterface/PyCapsuleInterface.rst
  docs/source/format/CDeviceDataInterface.rst
Labels: Component: Documentation, awaiting merge

#42236 GH-42235: [C++] list_parent_indices: Add support for list-view types
  cpp/src/arrow/compute/kernels/vector_nested.cc
  cpp/src/arrow/compute/kernels/vector_nested_test.cc
  cpp/src/arrow/type.cc
  docs/source/cpp/compute.rst
Labels: Component: C++, Component: Documentation, awaiting change review

#43042 GH-43040: [C++] Reduce the recursion of many-join test
  cpp/src/arrow/acero/hash_join_node_test.cc
Labels: Component: C++, awaiting merge

#43043 GH-39220: [Python] Let RecordBatch.filter accept a boolean expression in addition to mask array
  python/pyarrow/acero.py
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting merge

#42010 GH-41664: [C++][Python] PrettyPrint non-cpu data by copying to default CPU device
  cpp/src/arrow/pretty_print.cc
  python/pyarrow/array.pxi
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_cuda.py
Labels: Component: C++, Component: Python, awaiting merge

#40717 GH-38325: [Python] Implement PyCapsule interface for Device data in PyArrow
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_cffi.py
  python/pyarrow/tests/test_table.py
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting merge

#43051 GH-43045: [CI][Python] Pin openjdk=17 in python substrait integration
  ci/docker/conda-python-substrait.dockerfile
Labels: awaiting merge

#42034 GH-41475: [Python] Build with Python 3.13
  python/pyarrow/src/arrow/python/udf.cc
Labels: Component: Python, awaiting merge

#43052 GH-43062: [Go] Use calloc instead of malloc
  go/arrow/cdata/cdata.go
  go/arrow/cdata/cdata_exports.go
Labels: Component: Go, awaiting merge

#43064 GH-43060: [C++] Limit buffer size in BufferedInputStream::SetBufferSize with raw_read_bound
  cpp/src/arrow/io/buffered.cc
  cpp/src/arrow/io/buffered_test.cc
Labels: Component: C++, awaiting committer review

#42117 GH-42116: [C++] Support list-view typed arrays in array_take and array_filter
  cpp/src/arrow/compute/kernels/vector_selection.cc
  cpp/src/arrow/compute/kernels/vector_selection_filter_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_internal.h
  cpp/src/arrow/compute/kernels/vector_selection_take_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_test.cc
Labels: Component: C++, awaiting change review

#43063 GH-42021: [Swift] Add Arrow encoder implementation for Swift Codable
  swift/Arrow/Sources/Arrow/ArrowEncoder.swift
  swift/Arrow/Tests/ArrowTests/CodableTests.swift
Labels: Component: Swift, awaiting change review

#43074 GH-43058: [C#] Revert upgrade of Xunit from 2.8.0 to 2.8.1
  csharp/test/Apache.Arrow.Compression.Tests/Apache.Arrow.Compression.Tests.csproj
  csharp/test/Apache.Arrow.Flight.Sql.Tests/Apache.Arrow.Flight.Sql.Tests.csproj
  csharp/test/Apache.Arrow.Flight.Tests/Apache.Arrow.Flight.Tests.csproj
  csharp/test/Apache.Arrow.Tests/Apache.Arrow.Tests.csproj
Labels: Component: C#, awaiting review

#43081 MINOR: [Docs] Update alignment to center for ADBC documentation
  docs/source/format/ADBC.rst
Labels: Component: Documentation, awaiting merge

#43082 GH-41804: [Swift] Add Struct (Nested) type
  swift/Arrow/Sources/Arrow/ArrowData.swift
  swift/Arrow/Sources/Arrow/ArrowType.swift
Labels: Component: Swift, awaiting review
