Repository apache/arrow, pull requests merged in 2024-04, with the labels that each got.

#40902 GH-40900: [Go] Fix Mallocator Weirdness
  go/arrow/memory/mallocator/mallocator.go
Labels: Component: Go, awaiting merge

#40889 GH-40888: [Go][FlightRPC] support conversion from array.Duration in FlightSQL driver
  go/arrow/flight/flightsql/driver/utils.go
  go/arrow/flight/flightsql/driver/utils_test.go
Labels: Component: Go, awaiting change review

#40567 GH-39069: [C++][FS][Azure] Use the generic filesystem tests
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
  cpp/src/arrow/filesystem/test_util.cc
  cpp/src/arrow/filesystem/test_util.h
Labels: Component: C++, awaiting change review

#40883 GH-40882: [C++] Suppress shorten-64-to-32 warnings in CUDA/Skyhook codes
  cpp/src/arrow/gpu/cuda_memory.cc
  cpp/src/skyhook/cls/cls_skyhook.cc
  cpp/src/skyhook/protocol/skyhook_protocol.cc
Labels: Component: C++, awaiting committer review

#40914 MINOR: [Docs] Remove repetitive words
  cpp/src/arrow/vendored/datetime/tz.cpp
  cpp/src/arrow/vendored/pcg/pcg_random.hpp
  docs/source/developers/release.rst
  docs/source/format/ADBC.rst
  python/pyarrow/src/arrow/python/python_to_arrow.cc
  r/R/dplyr-arrange.R
Labels: Component: R, Component: C++, Component: Python, Component: Documentation, awaiting review

#40904 GH-40896: [Java] Remove runtime dependencies on Eclipse, logback
  LICENSE.txt
  dev/release/rat_exclude_files.txt
  java/dev/checkstyle/suppressions.xml
  java/tools/pom.xml
  java/vector/pom.xml
  java/vector/src/main/java/module-info.java
  java/vector/src/main/java/org/apache/arrow/vector/util/IntObjectHashMap.java
  java/vector/src/main/java/org/apache/arrow/vector/util/IntObjectMap.java
  java/vector/src/main/java/org/apache/arrow/vector/util/MapWithOrdinalImpl.java
  java/vector/src/main/java/org/apache/arrow/vector/util/MultiMapWithOrdinal.java
Labels: Component: Java, awaiting committer review

#40850 MINOR: [Java] Fix maven-checkstyle-plugin configuration
  java/maven/pom.xml
  java/pom.xml
Labels: Component: Java, awaiting committer review

#40685 GH-40684: [Java][Docs] JNI module debugging with IntelliJ
  docs/source/developers/java/building.rst
Labels: Component: Documentation, awaiting merge

#40834 GH-40833: [Docs][Release] Make explicit in the documentation that verifying binaries is not required in order to case a vote
  docs/source/developers/release_verification.rst
Labels: Component: Documentation, awaiting merge

#40043 GH-40038: [Java] Export non empty offset buffer for variable-size layout through C Data Interface
  java/c/src/main/java/org/apache/arrow/c/ArrayExporter.java
  java/c/src/test/java/org/apache/arrow/c/RoundtripTest.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseLargeVariableWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/FieldVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/BaseRepeatedValueVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/LargeListVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/ListVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/MapVector.java
Labels: Component: Java, awaiting changes

#40484 GH-40431: [C++] Move key_hash/key_map/light_array related files to internal for prevent using by users
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/acero/asof_join_node.cc
  cpp/src/arrow/acero/bloom_filter_test.cc
  cpp/src/arrow/acero/hash_join_node.cc
  cpp/src/arrow/acero/hash_join_node.h
  cpp/src/arrow/acero/schema_util.h
  cpp/src/arrow/acero/swiss_join.cc
  cpp/src/arrow/acero/swiss_join_internal.h
  cpp/src/arrow/compute/key_hash_internal.cc
  cpp/src/arrow/compute/key_hash_internal.h
  cpp/src/arrow/compute/key_hash_internal_avx2.cc
  cpp/src/arrow/compute/key_hash_test.cc
  cpp/src/arrow/compute/key_map_internal.cc
  cpp/src/arrow/compute/key_map_internal.h
  cpp/src/arrow/compute/key_map_internal_avx2.cc
  cpp/src/arrow/compute/light_array_internal.cc
  cpp/src/arrow/compute/light_array_internal.h
  cpp/src/arrow/compute/light_array_test.cc
  cpp/src/arrow/compute/row/compare_internal.h
  cpp/src/arrow/compute/row/encode_internal.h
  cpp/src/arrow/compute/row/grouper.cc
  cpp/src/arrow/compute/row/row_internal.h
  cpp/src/arrow/compute/util.cc
  cpp/src/arrow/compute/util.h
Labels: Component: C++, awaiting merge

#40940 MINOR: [Docs][Java] Fix wrong method usage in example
  docs/source/java/vector.rst
Labels: Component: Documentation, awaiting committer review

#40972 MINOR: [CI] Avoid docker-compose on Azure
  .github/workflows/archery.yml
  dev/archery/requirements-test.txt
  dev/tasks/docker-tests/azure.linux.yml
Labels: awaiting committer review

#40984 GH-40983: [C++] Fix unused function build error
  cpp/src/arrow/io/compressed_benchmark.cc
Labels: Component: C++, awaiting committer review

#40876 GH-40872: [C++][Parquet] Encoding: Optimize DecodeArrow/Decode(bitmap) for PlainBooleanDecoder
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding.h
  cpp/src/parquet/encoding_benchmark.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#40962 GH-40961: [GLib] Suppress warnings for Vala examples on macOS
  c_glib/example/vala/meson.build
  c_glib/example/vala/read-file.vala
  c_glib/example/vala/read-stream.vala
Labels: Component: GLib, awaiting committer review

#40852 GH-40851: [JS] Fix nullcount and make vectors created from typed arrays not nullable
  js/src/data.ts
  js/src/vector.ts
  js/test/unit/vector/vector-tests.ts
Labels: Component: JavaScript, awaiting committer review

#40892 GH-40891: [JS] Store Dates as TimestampMillisecond
  js/src/factories.ts
  js/src/type.ts
  js/test/unit/vector/date-vector-tests.ts
Labels: Component: JavaScript, awaiting committer review

#40955 MINOR: [R] Replace use of show_query in test-duckdb.R with dbplyr::sql_build
  r/tests/testthat/test-duckdb.R
Labels: Component: R, awaiting merge

#40985 GH-24826: [Java] Add DUV.setOffset method
  java/vector/src/main/codegen/templates/DenseUnionVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestDenseUnionVector.java
Labels: Component: Java, awaiting committer review

#40980 GH-40806: [C++] Revert changes from PR #40857
  cpp/src/arrow/config.cc
Labels: Component: C++, awaiting committer review

#40722 GH-40224: [C++] Fix: improve the backpressure handling in the dataset writer
  cpp/src/arrow/dataset/dataset_writer.cc
  cpp/src/arrow/util/async_util.cc
  cpp/src/arrow/util/async_util.h
  cpp/src/arrow/util/async_util_test.cc
Labels: Component: C++, Critical Fix, awaiting changes

#41001 MINOR: [Java] `DenseUnionVector.empty` should create not-nullable DUVs
  java/vector/src/main/codegen/templates/DenseUnionVector.java
Labels: Component: Java, awaiting merge

#40975 GH-40974: [CI][Python] CI failures on Python builds due to pytest_cython
  ci/conda_env_sphinx.txt
Labels: awaiting change review

#40067 GH-20213: [C++] Implement cast to/from halffloat
  c_glib/test/test-half-float-scalar.rb
  cpp/src/arrow/compare.cc
  cpp/src/arrow/compute/kernels/scalar_cast_internal.cc
  cpp/src/arrow/compute/kernels/scalar_cast_numeric.cc
  cpp/src/arrow/compute/kernels/scalar_cast_string.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
  cpp/src/arrow/ipc/json_simple.cc
  cpp/src/arrow/ipc/json_simple_test.cc
  cpp/src/arrow/record_batch_test.cc
  cpp/src/arrow/type_traits.h
  cpp/src/arrow/util/formatting.cc
  cpp/src/arrow/util/formatting.h
  cpp/src/arrow/util/value_parsing.cc
  cpp/src/arrow/util/value_parsing.h
  docs/source/status.rst
Labels: Component: C++, Component: GLib, Component: Documentation, awaiting change review

#37821 GH-23221: [C++] Add support for building with Emscripten
  ci/docker/ubuntu-22.04-cpp.dockerfile
  ci/scripts/cpp_build.sh
  ci/scripts/cpp_test.sh
  ci/scripts/go_bench.sh
  cpp/CMakePresets.json
  cpp/build-support/emscripten-test-init.js
  cpp/cmake_modules/BuildUtils.cmake
  cpp/cmake_modules/SetupCxxFlags.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/array/array_dict_test.cc
  cpp/src/arrow/compute/kernels/scalar_string_test.cc
  cpp/src/arrow/compute/kernels/scalar_temporal_test.cc
  cpp/src/arrow/filesystem/localfs_test.cc
  cpp/src/arrow/io/file.cc
  cpp/src/arrow/io/file_test.cc
  cpp/src/arrow/ipc/read_write_test.cc
  cpp/src/arrow/util/async_generator_test.cc
  cpp/src/arrow/util/atfork_test.cc
  cpp/src/arrow/util/cache_test.cc
  cpp/src/arrow/util/cancel_test.cc
  cpp/src/arrow/util/counting_semaphore_test.cc
  cpp/src/arrow/util/future_test.cc
  cpp/src/arrow/util/io_util.cc
  cpp/src/arrow/util/io_util_test.cc
  cpp/src/arrow/util/mutex.cc
  cpp/src/arrow/util/rle_encoding_test.cc
  cpp/src/arrow/util/value_parsing_test.cc
  dev/tasks/tasks.yml
  docker-compose.yml
  docs/source/developers/cpp/emscripten.rst
  docs/source/developers/cpp/index.rst
Labels: Component: C++, Component: Documentation, awaiting change review

#40786 GH-40775: [Benchmarking][Java] Fix conbench timeout
  java/memory/memory-netty/src/test/java/org/apache/arrow/memory/netty/TestNettyAllocator.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/WriteChannel.java
Labels: Component: Java, awaiting merge

#41025 GH-41024: [C++] IO: fixing compiling in gcc 7.5.0
  cpp/src/arrow/io/compressed.cc
Labels: Component: C++, awaiting review

#41006 GH-40549: [Java] Revert bump org.apache.maven.plugins:maven-shade-plugin from 3.2.4 to 3.5.2 in /java (#40462)"
  java/flight/flight-core/pom.xml
  java/pom.xml
  java/vector/pom.xml
Labels: Component: Java

#41027 GH-41005: [CI] HDFS and skyhook tests require docker compose usage because they require multiple containers
  dev/tasks/tasks.yml
Labels: awaiting committer review

#41026 GH-41007: [CI][Archery] Correctly interpolate environment variables from docker compose when using docker cli on archery docker
  dev/archery/archery/docker/cli.py
  dev/archery/archery/docker/core.py
Labels: awaiting committer review

#41030 GH-40962: [GLib] Add missing "no" to suppress warnings
  c_glib/example/vala/meson.build
Labels: awaiting committer review

#41040 GH-41039: [Python] ListView pandas tests should use np.nan instead of None
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting committer review

#41031 GH-41015: [JS] [Benchmarking] allow JS benchmarks to run more portably
  js/package.json
Labels: Component: JavaScript, awaiting merge

#41038 GH-40680: [Java] Test JDK 22 in CI
  .github/workflows/java.yml
  docs/source/java/install.rst
  java/pom.xml
Labels: Component: Java, Component: Documentation, awaiting committer review

#41019 GH-40991: [R] Prefer r-universe, add a startup message
  r/DESCRIPTION
  r/R/arrow-info.R
  r/R/arrow-package.R
  r/R/install-arrow.R
  r/man/arrow-package.Rd
  r/man/format_schema.Rd
Labels: Component: R, awaiting changes

#40927 GH-40400: [C++] Add support for LLD
  ci/docker/ubuntu-20.04-cpp.dockerfile
  ci/scripts/cpp_build.sh
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/SetupCxxFlags.cmake
Labels: Component: C++, awaiting change review

#41045 GH-41044: [C++] formatting.h: Make sure space is allocated for the 'Z' when formatting timestamps
  cpp/src/arrow/util/formatting.h
  cpp/src/arrow/util/formatting_util_test.cc
Labels: Component: C++, awaiting merge

#41051 GH-40745: [Java][FlightRPC] Support configuring backpressure threshold
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightServer.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/grpc/ServerBackpressureThresholdInterceptor.java
  java/pom.xml
Labels: Component: Java, awaiting merge

#40988 GH-40249: [Java] Fix NPE in ArrowDatabaseMetadata
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/ArrowDatabaseMetadata.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ArrowDatabaseMetadataTest.java
Labels: Component: Java, awaiting change review

#41000 GH-40999: [Java] Fix AIOOBE trying to splitAndTransfer DUV within nullable struct
  java/vector/src/main/codegen/templates/DenseUnionVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestDenseUnionVector.java
Labels: Component: Java, awaiting committer review

#41062 GH-41061: [C++] Ignore ARROW_USE_MOLD/ARROW_USE_LLD with clang < 12
  cpp/cmake_modules/SetupCxxFlags.cmake
Labels: Component: C++, awaiting committer review

#41037 GH-41032: [C++][Parquet] Bugfixes and more tests in boolean arrow decoding
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding_test.cc
Labels: Component: Parquet, Component: C++, Critical Fix, awaiting committer review

#41053 GH-40799: [Doc][Format] Implementation status page should list canonical extension types
  docs/source/status.rst
Labels: Component: Documentation, awaiting changes

#41048 GH-41047: [C#] Address performance issue of reading from StringArray
  csharp/src/Apache.Arrow/Arrays/StringArray.cs
  csharp/test/Apache.Arrow.Tests/StringArrayTests.cs
Labels: Component: C#, awaiting committer review

#41086 GH-41085: [CI][Java] Add Spark integration tests to "java" group in Crossbow tasks
  dev/tasks/tasks.yml
Labels: awaiting committer review

#41066 GH-30866: [Java] fix SplitAndTransfer throws for (0,0) if vector empty
  java/vector/src/main/java/org/apache/arrow/vector/BaseLargeVariableWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/ListVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestLargeVarCharVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestSplitAndTransfer.java
Labels: Component: Java, awaiting merge

#41096 MINOR: [Docs] Change Twitter logo to X logo
  docs/source/conf.py
Labels: Component: Documentation, awaiting committer review

#41091 GH-41088: [CI][Crossbow] Fix GitHub Actions workflow syntax error
  dev/tasks/python-wheels/github.osx.yml
  dev/tasks/verify-rc/github.macos.yml
Labels: awaiting committer review

#41084 GH-41089: [C++] Clean up remaining tasks related to half float casts
  cpp/src/arrow/ipc/json_simple_test.cc
  cpp/src/arrow/util/formatting_util_test.cc
  cpp/src/arrow/util/value_parsing_test.cc
Labels: Component: C++, awaiting committer review

#41059 GH-41043: [CI][Python] check message in test_make_write_options_error for Cython 2
  python/pyarrow/tests/test_dataset.py
Labels: Component: Python, awaiting committer review

#40867 GH-40866: [C++][Python] Basic conversion of RecordBatch to Arrow Tensor - add support for row-major
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch.h
  cpp/src/arrow/record_batch_test.cc
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: C++, Component: Python, awaiting merge

#40925 GH-41133: [Benchmarking] Build benchmarks in benchmarks.env
  dev/archery/archery/benchmark/google.py
  dev/conbench_envs/benchmarks.env
  dev/conbench_envs/hooks.sh
Labels: awaiting committer review

#41120 GH-41119: [Archery][Packaging][CI] Avoid using --progress flag on Docker on Windows on archery
  dev/archery/archery/docker/core.py
Labels: awaiting change review

#41068 GH-41034: [C++][FS][Azure] Adjust DeleteDir/DeleteDirContents/GetFileInfoSelector behaviors against Azure for generic filesystem tests
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting merge

#41138 GH-41137: [C#] Fix DenseUnionArray IsNull/Valid
  csharp/src/Apache.Arrow/Arrays/DenseUnionArray.cs
  csharp/src/Apache.Arrow/Arrays/SparseUnionArray.cs
  csharp/src/Apache.Arrow/Arrays/UnionArray.cs
  csharp/test/Apache.Arrow.Tests/UnionArrayTests.cs
Labels: Component: C#, awaiting review

#40696 GH-40695 [C++] Expand Substrait type support
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/engine/substrait/extension_set.cc
  cpp/src/arrow/engine/substrait/extension_set.h
  cpp/src/arrow/engine/substrait/extension_types.cc
  cpp/src/arrow/engine/substrait/extension_types.h
  cpp/src/arrow/engine/substrait/serde_test.cc
  cpp/src/arrow/engine/substrait/type_internal.cc
  cpp/src/arrow/engine/substrait/util.h
  cpp/thirdparty/versions.txt
  format/substrait/extension_types.yaml
  python/pyarrow/tests/test_substrait.py
Labels: Component: C++, Component: Python, awaiting changes

#41150 GH-41147: [CI][C++] Use newer LLVM on Ubuntu 24.04
  ci/docker/ubuntu-24.04-cpp.dockerfile
  dev/tasks/tasks.yml
Labels: awaiting merge

#41152 GH-41145: [R][CI] test-r-dev-duckdb fails installing duckdb
  ci/docker/linux-apt-r.dockerfile
Labels: awaiting committer review

#41060 GH-40913: [C++] Fix compile warning with 'implicitly-defined constructor does not initialize' in encoding_benchmark
  cpp/src/parquet/encoding_benchmark.cc
Labels: awaiting committer review

#41155 GH-41154: [C++] Fix Valgrind error in string-to-float16 conversion
  cpp/src/arrow/util/value_parsing.cc
Labels: Component: C++, awaiting merge

#41153 GH-41127: [CI] Use GitHub Actions instead of Azure Pipelines for docker-tests
  dev/tasks/docker-tests/azure.linux.yml
  dev/tasks/docker-tests/circle.linux.yml
  dev/tasks/tasks.yml
Labels: awaiting merge

#41163 GH-41004: [C++][FS][Azure] Don't run TestGetFileInfoGenerator() with Valgrind
  cpp/src/arrow/filesystem/test_util.cc
  cpp/src/arrow/util/config.h.cmake
Labels: Component: C++, awaiting committer review

#41144 GH-41136: [C#] Recompute null count for sliced arrays on demand
  csharp/src/Apache.Arrow/Arrays/Array.cs
  csharp/src/Apache.Arrow/Arrays/ArrayData.cs
  csharp/src/Apache.Arrow/Arrays/ArrayDataConcatenator.cs
  csharp/src/Apache.Arrow/Arrays/DenseUnionArray.cs
  csharp/src/Apache.Arrow/Arrays/NullArray.cs
  csharp/src/Apache.Arrow/Arrays/SparseUnionArray.cs
  csharp/src/Apache.Arrow/Arrays/UnionArray.cs
  csharp/src/Apache.Arrow/C/CArrowArrayExporter.cs
  csharp/src/Apache.Arrow/Ipc/ArrowStreamWriter.cs
  csharp/test/Apache.Arrow.Tests/ArrowArrayTests.cs
  csharp/test/Apache.Arrow.Tests/UnionArrayTests.cs
Labels: Component: C#, awaiting committer review

#40970 GH-40968: [C++][Gandiva] add RE2::Options set_dot_nl(true) for Like function
  cpp/src/gandiva/regex_functions_holder.cc
  cpp/src/gandiva/regex_functions_holder.h
  cpp/src/gandiva/regex_functions_holder_test.cc
Labels: Component: C++, Component: C++ - Gandiva, awaiting merge

#41151 GH-41124: [CI][C++] Don't use CMake 3.29.1 with vcpkg
  ci/scripts/install_cmake.sh
  dev/tasks/macros.jinja
  dev/tasks/python-wheels/github.osx.yml
  dev/tasks/vcpkg-tests/cpp-build-vcpkg.bat
  dev/tasks/vcpkg-tests/github.windows.yml
Labels: awaiting change review

#41165 GH-41140: [C#] Account for offset and length in union arrays
  csharp/src/Apache.Arrow/Arrays/DenseUnionArray.cs
  csharp/src/Apache.Arrow/Arrays/SparseUnionArray.cs
  csharp/src/Apache.Arrow/Arrays/UnionArray.cs
  csharp/test/Apache.Arrow.Tests/UnionArrayTests.cs
Labels: Component: C#, awaiting review

#41160 GH-41159: [Go][Parquet] Improvement Parquet BitWriter WriteVlqInt Performance
  go/parquet/internal/utils/bit_reader_test.go
  go/parquet/internal/utils/bit_writer.go
Labels: Component: Go, awaiting merge

#41178 GH-41169: [CI][Release] Specify --build-config explicitly on Windows
  dev/release/verify-release-candidate.bat
Labels: awaiting committer review

#41181 GH-41167: [CI][Release][GLib][Conda] Pin gobject-introspection to 1.78.1
  dev/release/verify-release-candidate.sh
Labels: awaiting committer review

#41177 GH-41176: [C++] Stop defining ARROW_TEST_MEMCHECK in config.h.cmake
  cpp/src/arrow/filesystem/test_util.cc
  cpp/src/arrow/util/config.h.cmake
Labels: Component: C++, awaiting committer review

#41195 GH-41192: [C++] Fix hashjoin benchmark failed at make utf8's random batches
  cpp/src/arrow/acero/hash_join_benchmark.cc
Labels: Component: C++, awaiting committer review

#40818 GH-38010: [Python] Construct pyarrow.Field and ChunkedArray through Arrow PyCapsule Protocol
  docs/source/python/extending_types.rst
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_cffi.py
  python/pyarrow/tests/test_table.py
  python/pyarrow/tests/test_types.py
  python/pyarrow/types.pxi
Labels: Component: Python, Component: Documentation, awaiting changes

#40645 GH-40644: [Python] Allow passing a mapping of column names to `rename_columns`
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting committer review

#41097 GH-39848: [Python][Packaging] Build pyarrow wheels with numpy RC instead of nightly
  .env
  ci/docker/python-wheel-manylinux.dockerfile
  ci/docker/python-wheel-windows-vs2019.dockerfile
  ci/scripts/python_wheel_macos_build.sh
  python/requirements-wheel-build.txt
Labels: Component: Python, awaiting merge

#41200 GH-41199: [C#] Fix accessing values of a sliced decimal array
  csharp/src/Apache.Arrow/Arrays/Decimal128Array.cs
  csharp/src/Apache.Arrow/Arrays/Decimal256Array.cs
  csharp/test/Apache.Arrow.Tests/Decimal128ArrayTests.cs
  csharp/test/Apache.Arrow.Tests/Decimal256ArrayTests.cs
Labels: Component: C#, awaiting review

#41197 GH-40517: [C#] Fix writing sliced arrays to IPC format
  csharp/src/Apache.Arrow/Arrays/BinaryViewArray.cs
  csharp/src/Apache.Arrow/Arrays/FixedSizeBinaryArray.cs
  csharp/src/Apache.Arrow/Ipc/ArrowReaderImplementation.cs
  csharp/src/Apache.Arrow/Ipc/ArrowStreamWriter.cs
  csharp/test/Apache.Arrow.Tests/ArrowArrayConcatenatorTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowFileWriterTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowReaderVerifier.cs
  csharp/test/Apache.Arrow.Tests/ArrowStreamWriterTests.cs
  csharp/test/Apache.Arrow.Tests/BinaryViewArrayTests.cs
  csharp/test/Apache.Arrow.Tests/FixedSizeBinaryArrayTests.cs
Labels: Component: C#, awaiting review

#41117 GH-41116: [C++] IO: enhance boundary checking in CompressedInputStream
  cpp/src/arrow/io/compressed.cc
Labels: Component: C++, awaiting committer review

#41071 GH-41098: [Python] Add copy keyword in Array.__array__ for numpy 2.0+ compatibility
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting change review

#41070 GH-41016: [C++] Fix null count check in BooleanArray.true_count()
  cpp/src/arrow/array/array_primitive.cc
  cpp/src/arrow/array/array_test.cc
Labels: Component: C++, awaiting change review

#41122 GH-41121: [C++] Fix: left anti join filter empty rows.
  cpp/src/arrow/acero/hash_join_node_test.cc
  cpp/src/arrow/acero/swiss_join.cc
Labels: Component: C++, awaiting committer review

#41092 GH-41055: [C++] Support flatten for combining nested list related types
  cpp/src/arrow/array/array_list_test.cc
  cpp/src/arrow/array/array_nested.cc
  cpp/src/arrow/array/array_nested.h
Labels: Component: C++, awaiting merge

#41226 GH-41198: [C#] Fix concatenation of union arrays
  csharp/src/Apache.Arrow/Arrays/ArrayDataConcatenator.cs
  csharp/test/Apache.Arrow.Tests/ArrowArrayConcatenatorTests.cs
Labels: Component: C#, awaiting committer review

#41228 GH-41227: [CI][Release][GLib][Conda] Unpin gobject-introspection
  dev/release/verify-release-candidate.sh
Labels: awaiting committer review

#40897 GH-35081: [Python] construct pandas.DataFrame with public API in `to_pandas`
  python/pyarrow/pandas-shim.pxi
  python/pyarrow/pandas_compat.py
Labels: Component: Python, awaiting committer review

#41107 GH-38889: [C++] Fix redundant move warnings
  cpp/src/arrow/util/decimal.h
Labels: Component: C++, awaiting committer review

#41202 GH-41201: [C++] Fix mistake in integration test. Explicitly cast std::string to avoid compiler interpreting char* -> bool
  cpp/src/arrow/flight/integration_tests/test_integration.cc
Labels: Component: C++, Component: FlightRPC, awaiting merge

#41230 GH-41225: [C#] Slice value buffers when writing sliced list or binary arrays in IPC format
  csharp/src/Apache.Arrow/Ipc/ArrowStreamWriter.cs
  csharp/test/Apache.Arrow.Tests/ArrowFileWriterTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowReaderVerifier.cs
  csharp/test/Apache.Arrow.Tests/TestData.cs
Labels: Component: C#, awaiting committer review

#39483 GH-39482: [JS] Refactor imports
  js/.eslintrc.cjs
  js/bin/file-to-stream.ts
  js/bin/integration.ts
  js/bin/json-to-arrow.ts
  js/bin/print-buffer-alignment.ts
  js/bin/stream-to-file.ts
  js/gulp/arrow-task.js
  js/gulp/bundle-task.js
  js/gulp/closure-task.js
  js/gulp/test-task.js
  js/gulp/typescript-task.js
  js/gulp/util.js
  js/src/bin/arrow2csv.ts
  js/src/builder.ts
  js/src/fb/.eslintrc.cjs
  js/src/io/adapters.ts
  js/src/io/interfaces.ts
  js/src/io/node/builder.ts
  js/src/io/node/iterable.ts
  js/src/io/node/reader.ts
  js/src/io/node/writer.ts
  js/src/ipc/reader.ts
  js/src/ipc/writer.ts
  js/src/util/compat.ts
  js/test/.eslintrc.cjs
  js/test/unit/ipc/helpers.ts
  js/test/unit/ipc/reader/streams-node-tests.ts
Labels: Component: JavaScript, awaiting committer review

#40730 GH-39131: [JS] Add at() for array like types
  js/src/recordbatch.ts
  js/src/table.ts
  js/src/util/vector.ts
  js/src/vector.ts
  js/test/unit/vector/bool-vector-tests.ts
  js/test/unit/vector/numeric-vector-tests.ts
  js/test/unit/vector/vector-tests.ts
Labels: Component: JavaScript, awaiting committer review

#40960 GH-40959: [JS] Store Timestamps in 64 bits
  js/src/type.ts
  js/src/util/bigint.ts
  js/src/visitor/get.ts
  js/src/visitor/iterator.ts
  js/src/visitor/set.ts
  js/test/generate-test-data.ts
  js/test/unit/builders/date-tests.ts
  js/test/unit/builders/utils.ts
  js/test/unit/vector/date-vector-tests.ts
  js/test/unit/vector/vector-tests.ts
Labels: Component: JavaScript, awaiting change review

#40990 GH-40989: [JS] Update dependencies
  js/.eslintrc.cjs
  js/.vscode/settings.json
  js/package.json
  js/src/io/node/reader.ts
  js/src/io/whatwg/reader.ts
  js/src/ipc/reader.ts
  js/yarn.lock
Labels: Component: JavaScript, awaiting committer review

#41241 GH-41240: [Release][Packaging] Use Debian bookworm for uploading binaries
  dev/release/binary/Dockerfile
Labels: awaiting committer review

#41242 GH-41238: [Release] Use UTF-8 as the default encoding to upload binary
  dev/release/05-binary-upload.sh
  dev/release/binary/runner.sh
Labels: awaiting merge

#41245 GH-41164: [C#] Fix concatenation of sliced arrays
  csharp/src/Apache.Arrow/Arrays/ArrayDataConcatenator.cs
  csharp/src/Apache.Arrow/Arrays/ArrowArrayBuilderFactory.cs
  csharp/test/Apache.Arrow.Tests/ArrowArrayBuilderFactoryReflector.cs
  csharp/test/Apache.Arrow.Tests/ArrowArrayConcatenatorTests.cs
Labels: Component: C#, awaiting committer review

#41174 GH-41173: [Java] Add spotless configuration for Maven pom.xml files
  docs/source/developers/java/development.rst
  java/adapter/avro/pom.xml
  java/adapter/jdbc/pom.xml
  java/adapter/orc/pom.xml
  java/algorithm/pom.xml
  java/bom/pom.xml
  java/c/pom.xml
  java/compression/pom.xml
  java/dataset/pom.xml
  java/flight/flight-core/pom.xml
  java/flight/flight-integration-tests/pom.xml
  java/flight/flight-sql-jdbc-core/pom.xml
  java/flight/flight-sql-jdbc-driver/pom.xml
  java/flight/flight-sql/pom.xml
  java/flight/pom.xml
  java/format/pom.xml
  java/gandiva/pom.xml
  java/maven/module-info-compiler-maven-plugin/pom.xml
  java/maven/pom.xml
  java/memory/memory-core/pom.xml
  java/memory/memory-netty-buffer-patch/pom.xml
  java/memory/memory-netty/pom.xml
  java/memory/memory-unsafe/pom.xml
  java/memory/pom.xml
  java/performance/pom.xml
  java/pom.xml
  java/tools/pom.xml
  java/vector/pom.xml
Labels: Component: Java, Component: Documentation, awaiting merge

#38385 GH-38255: [Go][C++] Implement Flight SQL Bulk Ingestion
  cpp/src/arrow/flight/integration_tests/flight_integration_test.cc
  cpp/src/arrow/flight/integration_tests/test_integration.cc
  cpp/src/arrow/flight/sql/client.cc
  cpp/src/arrow/flight/sql/client.h
  cpp/src/arrow/flight/sql/server.cc
  cpp/src/arrow/flight/sql/server.h
  cpp/src/arrow/flight/sql/types.h
  dev/archery/archery/integration/runner.py
  docs/source/format/FlightSql.rst
  docs/source/format/FlightSql/CommandStatementIngest.mmd
  docs/source/format/FlightSql/CommandStatementIngest.mmd.svg
  format/FlightSql.proto
  go/arrow/flight/flightsql/client.go
  go/arrow/flight/flightsql/server.go
  go/arrow/flight/flightsql/server_test.go
  go/arrow/flight/flightsql/types.go
  go/arrow/flight/gen/flight/Flight.pb.go
  go/arrow/flight/gen/flight/FlightSql.pb.go
  go/arrow/flight/gen/flight/Flight_grpc.pb.go
  go/arrow/internal/flight_integration/scenario.go
Labels: Component: Go, Component: C++, Component: FlightRPC, Component: Documentation, awaiting change review

#39723 GH-39722: [JS] Clean up packaging
  js/.vscode/launch.json
  js/gulp/arrow-task.js
  js/gulp/closure-task.js
  js/gulp/package-task.js
  js/gulp/typescript-task.js
Labels: Component: JavaScript, awaiting committer review

#41248 GH-41247: [Release] Use LC_ALL in binary upload scripts
  dev/release/05-binary-upload.sh
  dev/release/binary/runner.sh
Labels: awaiting committer review

#41244 GH-41243: [Release][Packaging] Avoid needless download by "archery crossbow download-artifacts"
  dev/archery/archery/crossbow/cli.py
Labels: awaiting committer review

#41111 GH-41112: [C++] Clean up unused parameter warnings
  cpp/src/arrow/array/builder_base.h
  cpp/src/arrow/array/builder_nested.h
  cpp/src/arrow/array/builder_primitive.h
  cpp/src/arrow/device.h
  cpp/src/arrow/type.h
Labels: Component: C++, awaiting merge

#41281 GH-41280: [Release][Java] Make Maven version detection more robust
  dev/release/verify-release-candidate.sh
Labels: awaiting merge

#41303 GH-41302: [C#][Integration] Fix writing list and binary arrays with zero length offsets to IPC format
  csharp/src/Apache.Arrow/Ipc/ArrowStreamWriter.cs
  csharp/test/Apache.Arrow.Tests/ArrowFileWriterTests.cs
Labels: Component: C#, awaiting review

#41255 GH-41231: [C#] Slice values array when writing a sliced list view array to IPC format
  csharp/src/Apache.Arrow/Ipc/ArrowStreamWriter.cs
  csharp/test/Apache.Arrow.Tests/ArrowFileWriterTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowReaderVerifier.cs
Labels: Component: C#, awaiting review

#41109 GH-40563: [Go] Unable to JSON marshal float64 arrays which contain a NaN value
  go/arrow/array/float16.go
  go/arrow/array/numeric.gen.go
  go/arrow/array/numeric.gen.go.tmpl
  go/arrow/array/numeric_test.go
  go/arrow/array/numericbuilder.gen_test.go
  go/arrow/array/numericbuilder.gen_test.go.tmpl
  go/arrow/float16/float16.go
Labels: Component: Go, awaiting merge

#41276 GH-41095: [C++][FS][Azure] Add support for CopyFile with hierarchical namespace support
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
Labels: Component: C++, awaiting change review

#41332 MINOR: [C++][CMake] Remove unused CMAKE_SKIP_INSTALL_ALL_DEPENDENCY
  cpp/CMakeLists.txt
Labels: Component: C++, awaiting merge

#40884 GH-39664: [C++][Acero] Ensure Acero benchmarks present a metric for identifying throughput
  cpp/src/arrow/acero/aggregate_benchmark.cc
  cpp/src/arrow/acero/asof_join_benchmark.cc
Labels: Component: C++, awaiting merge

#41223 GH-41323: [R] Redo how summarize() evaluates expressions
  r/NEWS.md
  r/R/arrowExports.R
  r/R/dplyr-across.R
  r/R/dplyr-eval.R
  r/R/dplyr-summarize.R
  r/R/expression.R
  r/src/arrowExports.cpp
  r/src/expression.cpp
  r/tests/testthat/test-dplyr-across.R
  r/tests/testthat/test-dplyr-filter.R
  r/tests/testthat/test-dplyr-funcs-conditional.R
  r/tests/testthat/test-dplyr-summarize.R
Labels: Component: R, Component: Documentation, awaiting merge

#41313 GH-41314: [CI][Python] Add a job on ARM64 macOS
  .github/workflows/python.yml
  ci/scripts/python_build.sh
Labels: awaiting review

#40311 GH-37720: [Go][FlightSQL] Add prepared statement handle to DoPut result
  go/arrow/flight/flightsql/client.go
  go/arrow/flight/flightsql/client_test.go
  go/arrow/flight/flightsql/driver/driver_test.go
  go/arrow/flight/flightsql/example/sqlite_server.go
  go/arrow/flight/flightsql/server.go
  go/arrow/flight/gen/flight/FlightSql.pb.go
  go/arrow/internal/flight_integration/scenario.go
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/FlightSqlClient.java
Labels: Component: Java, Component: Go, awaiting change review

#41304 MINOR: [C++][Parquet] Change static_pointer_cast to static_cast for DataPage
  cpp/src/parquet/column_reader.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#40237 GH-40069: [C++] Make scalar scratch space immutable after initialization
  c_glib/arrow-glib/scalar.cpp
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/data.cc
  cpp/src/arrow/compute/kernels/codegen_internal.h
  cpp/src/arrow/compute/kernels/scalar_compare.cc
  cpp/src/arrow/scalar.cc
  cpp/src/arrow/scalar.h
  cpp/src/arrow/scalar_test.cc
Labels: Component: C++, Component: GLib, Breaking Change, awaiting changes

#41354 GH-41353: [C++] Define bit_width and byte_width of ExtensionType in terms of the storage type
  cpp/src/arrow/extension_type.h
  cpp/src/arrow/extension_type_test.cc
Labels: Component: C++, awaiting committer review

#41355 MINOR: [R] refactor: move aggregation function bindings to their own file
  r/DESCRIPTION
  r/R/dplyr-funcs-agg.R
  r/R/dplyr-funcs.R
  r/R/dplyr-summarize.R
Labels: Component: R, awaiting merge

#41115 GH-41114: [C++] Add is_validity_defined_by_bitmap() predicate
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/builder_nested.h
  cpp/src/arrow/array/concatenate.cc
  cpp/src/arrow/array/data.cc
  cpp/src/arrow/array/data.h
  cpp/src/arrow/array/util.cc
  cpp/src/arrow/array/validate.cc
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/c/bridge_test.cc
  cpp/src/arrow/compute/exec.cc
  cpp/src/arrow/integration/json_internal.cc
  cpp/src/arrow/ipc/metadata_internal.cc
  cpp/src/arrow/type.h
Labels: Component: C++, awaiting committer review

#40356 GH-40342: [C++] move LocalFileSystem to the registry
  cpp/examples/arrow/filesystem_definition_example.cc
  cpp/src/arrow/filesystem/CMakeLists.txt
  cpp/src/arrow/filesystem/filesystem.cc
  cpp/src/arrow/filesystem/filesystem.h
  cpp/src/arrow/filesystem/localfs.cc
  cpp/src/arrow/filesystem/localfs.h
  cpp/src/arrow/filesystem/localfs_test.cc
  cpp/src/arrow/testing/examplefs.cc
  docs/source/cpp/io.rst
  python/pyarrow/_fs.pxd
  python/pyarrow/_fs.pyx
  python/pyarrow/includes/libarrow_fs.pxd
  r/R/arrowExports.R
  r/R/filesystem.R
  r/src/arrowExports.cpp
  r/src/filesystem.cpp
Labels: Component: R, Component: C++, Component: Python, Component: Documentation, awaiting merge

#41368 MINOR: [R] Update language in NEWS.md related to GH-41223
  r/NEWS.md
Labels: Component: R, Component: Documentation, awaiting committer review

#41341 GH-41340: [C++][CMake][Windows] Remove needless .dll suffix from link libraries
  cpp/CMakeLists.txt
  cpp/src/arrow/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#41379 GH-41371: [CI][Release] Use the latest Ruby on macOS
  .github/workflows/dev.yml
Labels: awaiting merge

#41384 GH-41370: [CI][MATLAB] MATLAB macOS CI workflow fails because of `macos-latest` change to `macos-14`
  .github/workflows/matlab.yml
  dev/tasks/matlab/github.yml
Labels: awaiting committer review

#41387 GH-41369: [CI][GLib] Don't use /usr/local on macOS
  .github/workflows/ruby.yml
  ci/scripts/c_glib_test.sh
  ci/scripts/ruby_test.sh
Labels: awaiting committer review

#41328 GH-41327: [Ruby] Show type name in Arrow::Table#to_s
  ruby/red-arrow/lib/arrow/field-containable.rb
  ruby/red-arrow/lib/arrow/table-formatter.rb
  ruby/red-arrow/lib/arrow/table-list-formatter.rb
  ruby/red-arrow/lib/arrow/table-table-formatter.rb
  ruby/red-arrow/test/test-csv-loader.rb
  ruby/red-arrow/test/test-group.rb
  ruby/red-arrow/test/test-schema.rb
  ruby/red-arrow/test/test-slicer.rb
  ruby/red-arrow/test/test-struct-data-type.rb
  ruby/red-arrow/test/test-table.rb
Labels: Component: Ruby, awaiting committer review

#41360 GH-41333: [C++][CMake] Prefer protobuf-config.cmake to FindProtobuf.cmake
  cpp/cmake_modules/FindProtobufAlt.cmake
Labels: Component: C++, awaiting merge

#41305 GH-41282: [Dev] Always prompt next major version on merge script if it exists
  dev/merge_arrow_pr.py
  dev/test_merge_arrow_pr.py
Labels: awaiting review

#41376 GH-41375: [C#] Move to .NET 8.0
  .env
  .github/workflows/csharp.yml
  .github/workflows/dev.yml
  ci/docker/conda-integration.dockerfile
  ci/docker/ubuntu-22.04-csharp.dockerfile
  csharp/examples/FlightAspServerExample/FlightAspServerExample.csproj
  csharp/examples/FlightClientExample/FlightClientExample.csproj
  csharp/examples/FluentBuilderExample/FluentBuilderExample.csproj
  csharp/test/Apache.Arrow.Benchmarks/Apache.Arrow.Benchmarks.csproj
  csharp/test/Apache.Arrow.Compression.Tests/Apache.Arrow.Compression.Tests.csproj
  csharp/test/Apache.Arrow.Flight.Sql.Tests/Apache.Arrow.Flight.Sql.Tests.csproj
  csharp/test/Apache.Arrow.Flight.TestWeb/Apache.Arrow.Flight.TestWeb.csproj
  csharp/test/Apache.Arrow.Flight.Tests/Apache.Arrow.Flight.Tests.csproj
  csharp/test/Apache.Arrow.IntegrationTest/Apache.Arrow.IntegrationTest.csproj
  csharp/test/Apache.Arrow.Tests/Apache.Arrow.Tests.csproj
  dev/archery/archery/integration/tester_csharp.py
  dev/release/verify-release-candidate.sh
  dev/tasks/verify-rc/github.macos.yml
  docs/source/developers/release_verification.rst
Labels: Component: C#, Component: Documentation, awaiting merge

#41393 GH-41386: [Docs] Document Arrow Go Avro read support
  docs/source/status.rst
Labels: Component: Documentation, awaiting merge

#41392 GH-41390: [CI] Use setup-python GitHub action on csharp macOS job
  .github/workflows/csharp.yml
Labels: awaiting committer review

#41372 GH-41358: [R] Support join "na_matches" argument
  r/NEWS.md
  r/R/arrow-package.R
  r/R/arrowExports.R
  r/R/dplyr-funcs-doc.R
  r/R/dplyr-join.R
  r/R/query-engine.R
  r/man/acero.Rd
  r/src/arrowExports.cpp
  r/src/compute-exec.cpp
  r/tests/testthat/test-dplyr-join.R
Labels: Component: R, Component: Documentation, awaiting changes

#41412 MINOR: [Docs] Correct a small typo in archery docs
  dev/archery/README.md
Labels: Component: Documentation, awaiting committer review

#41359 GH-41367: [C++] Replace [[maybe_unused]] with Arrow macro
  cpp/apidoc/Doxyfile
  cpp/cmake_modules/SetupCxxFlags.cmake
  cpp/src/arrow/array/builder_base.h
  cpp/src/arrow/array/builder_nested.h
  cpp/src/arrow/array/builder_primitive.h
  cpp/src/arrow/device.h
  cpp/src/arrow/type.h
  cpp/src/arrow/util/macros.h
Labels: Component: C++, awaiting merge

#41406 GH-41405: [Release][Docs][GLib] Use Sphinx based GLib front page
  dev/release/post-08-docs.sh
Labels: awaiting committer review

#41309 GH-41307: [Java] Use org.apache:apache parent pom version 31
  java/adapter/avro/pom.xml
  java/adapter/jdbc/pom.xml
  java/adapter/orc/pom.xml
  java/bom/pom.xml
  java/c/pom.xml
  java/dataset/pom.xml
  java/flight/flight-core/pom.xml
  java/flight/flight-integration-tests/pom.xml
  java/flight/flight-sql-jdbc-core/pom.xml
  java/flight/flight-sql-jdbc-driver/pom.xml
  java/flight/flight-sql/pom.xml
  java/format/pom.xml
  java/gandiva/pom.xml
  java/maven/module-info-compiler-maven-plugin/pom.xml
  java/maven/pom.xml
  java/memory/memory-core/pom.xml
  java/performance/pom.xml
  java/pom.xml
  java/tools/pom.xml
  java/vector/pom.xml
Labels: Component: Java, awaiting merge

#41403 GH-41402: [CI][R] Update our backwards compatibility CI any other R 4.4 cleanups
  .env
  .github/workflows/r.yml
  ci/docker/linux-apt-docs.dockerfile
  ci/docker/linux-apt-lint.dockerfile
  ci/docker/linux-apt-r.dockerfile
  ci/etc/valgrind-cran.supp
  ci/scripts/r_sanitize.sh
  ci/scripts/r_test.sh
  ci/scripts/r_valgrind.sh
  dev/tasks/r/github.linux.arrow.version.back.compat.yml
  dev/tasks/r/github.linux.offline.build.yml
  dev/tasks/r/github.linux.versions.yml
  dev/tasks/r/github.packages.yml
  dev/tasks/tasks.yml
  docker-compose.yml
  r/DESCRIPTION
  r/R/dplyr-funcs-type.R
  r/R/util.R
  r/tests/testthat/test-Array.R
  r/tests/testthat/test-RecordBatch.R
  r/tests/testthat/test-Table.R
  r/tests/testthat/test-altrep.R
  r/tests/testthat/test-chunked-array.R
  r/tests/testthat/test-dplyr-collapse.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
  r/tests/testthat/test-dplyr-funcs-type.R
  r/tests/testthat/test-dplyr-glimpse.R
  r/tests/testthat/test-scalar.R
  r/tools/test-nixlibs.R
  r/vignettes/developers/docker.Rmd
  r/vignettes/install.Rmd
Labels: Component: R, awaiting change review

#41414 MINOR: [R] refactor arrow_mask to include aggregations list
  r/R/dplyr-eval.R
  r/R/dplyr-funcs-agg.R
  r/R/dplyr-summarize.R
Labels: Component: R, awaiting merge

#41409 GH-41398: [R][CI] Windows job failing after R 4.4 release
  r/src/extension-impl.cpp
  r/src/extension.h
Labels: Component: R, awaiting committer review

#41350 GH-29537: [R] Support mutate/summarize with implicit join
  r/R/arrow-package.R
  r/R/dplyr-funcs-agg.R
  r/R/dplyr-funcs-doc.R
  r/R/dplyr-mutate.R
  r/man/acero.Rd
  r/tests/testthat/test-dataset-dplyr.R
  r/tests/testthat/test-dplyr-mutate.R
  r/vignettes/data_wrangling.Rmd
Labels: Component: R, awaiting merge

#41428 GH-41427: [Go] Fix stateless prepared statements
  go/arrow/flight/flightsql/client.go
  go/arrow/flight/flightsql/client_test.go
Labels: Component: Go, awaiting changes

#41434 GH-41433: [C++][Gandiva] Fix ascii_utf8 function to return same result on x86 and Arm
  cpp/src/gandiva/precompiled/string_ops.cc
  cpp/src/gandiva/precompiled/string_ops_test.cc
Labels: Component: C++, Component: C++ - Gandiva, awaiting review

#41366 GH-41317: [C++] Fix crash on invalid Parquet file
  cpp/src/arrow/table.cc
  cpp/src/arrow/table.h
  cpp/src/parquet/arrow/reader.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#41458 MINOR: [Java] Upgrade bcpkix-jdkon15 dependency to bcpkix-jdkon18
  java/flight/flight-sql-jdbc-core/pom.xml
Labels: Component: Java, awaiting review

#41459 GH-40342: [Python] Fix pickling of LocalFileSystem for cython 2
  python/pyarrow/_fs.pyx
Labels: Component: Python, awaiting committer review

#41436 GH-41400: [MATLAB] Bump `libmexclass` version to commit `ca3cea6`
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
Labels: Component: MATLAB, awaiting merge

#41421 GH-41407: [C++] Use static method to fill scalar scratch space to prevent ub
  cpp/src/arrow/scalar.cc
  cpp/src/arrow/scalar.h
Labels: Component: C++, awaiting merge

#41295 GH-41183: [C++][Python] Expose recursive flatten for lists on list_flatten kernel function and pyarrow bindings
  cpp/src/arrow/compute/api_vector.cc
  cpp/src/arrow/compute/api_vector.h
  cpp/src/arrow/compute/kernels/codegen_internal.cc
  cpp/src/arrow/compute/kernels/codegen_internal.h
  cpp/src/arrow/compute/kernels/scalar_nested.cc
  cpp/src/arrow/compute/kernels/scalar_nested_test.cc
  cpp/src/arrow/compute/kernels/vector_nested.cc
  cpp/src/arrow/compute/kernels/vector_nested_test.cc
  python/pyarrow/_compute.pyx
  python/pyarrow/array.pxi
  python/pyarrow/compute.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/lib.pxd
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, awaiting changes

#41419 GH-41418: [C++] Add [Large]ListView and Map nested types for scalar_if_else's kernel functions
  cpp/src/arrow/compute/kernels/scalar_if_else.cc
  cpp/src/arrow/compute/kernels/scalar_if_else_benchmark.cc
  cpp/src/arrow/compute/kernels/scalar_if_else_test.cc
Labels: Component: C++, awaiting merge
