Repository apache/arrow, pull requests merged in 2024-03, with the labels that each got.

#40244 GH-40212: [R][CI] Add a C++ with gcc 14 build
  ci/docker/ubuntu-24.04-cpp.dockerfile
  ci/scripts/install_gcs_testbench.sh
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: awaiting changes

#40160 GH-39855: [Python] ListView support for pa.array()
  python/pyarrow/src/arrow/python/python_to_arrow.cc
  python/pyarrow/tests/strategies.py
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_convert_builtin.py
  python/pyarrow/tests/test_scalars.py
Labels: Component: Python, awaiting change review

#40269 GH-40268: [Archery] Bump the version of pygit2, adapt to API changes
  .github/workflows/archery.yml
  .github/workflows/comment_bot.yml
  .github/workflows/dev.yml
  .github/workflows/docs.yml
  .github/workflows/docs_light.yml
  .github/workflows/java_nightly.yml
  .github/workflows/pr_bot.yml
  .github/workflows/r_nightly.yml
  dev/archery/archery/crossbow/core.py
  dev/archery/archery/docker/cli.py
  dev/archery/setup.py
  dev/tasks/java-jars/github.yml
  dev/tasks/macros.jinja
Labels: awaiting merge

#40284 GH-40155: [Go][FlightRPC][FlightSQL] Implement Session Management
  cpp/src/arrow/flight/sql/server_session_middleware.cc
  dev/archery/archery/integration/runner.py
  go/arrow/flight/client.go
  go/arrow/flight/flightsql/client.go
  go/arrow/flight/flightsql/client_test.go
  go/arrow/flight/flightsql/server.go
  go/arrow/flight/flightsql/server_test.go
  go/arrow/flight/gen/flight/Flight.pb.go
  go/arrow/flight/gen/flight/FlightSql.pb.go
  go/arrow/flight/gen/flight/Flight_grpc.pb.go
  go/arrow/flight/server.go
  go/arrow/flight/session/cookies.go
  go/arrow/flight/session/example_session_test.go
  go/arrow/flight/session/session.go
  go/arrow/flight/session/stateful_session.go
  go/arrow/flight/session/stateless_session.go
  go/arrow/internal/flight_integration/scenario.go
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/SessionOptionsProducer.java
Labels: Component: Java, Component: Go, Component: C++, Component: FlightRPC, awaiting changes

#40321 GH-40323: [R] [CI] Use rocker/r-ver instead of library/r-base
  dev/tasks/tasks.yml
Labels: awaiting merge

#40332 GH-40331: [C++][CMake] Add missing glog::glog dependency to arrow_util
  cpp/src/arrow/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#40200 GH-40183: [C++] Fix cast function bind failed after add an alias name through AddAlias
  cpp/src/arrow/compute/expression_internal.h
  cpp/src/arrow/compute/expression_test.cc
  cpp/src/arrow/compute/registry.cc
  cpp/src/arrow/compute/registry.h
Labels: Component: C++, awaiting merge

#40330 GH-40327: [C++][Parquet] Add missing config.h include in key_management_test.cc
  cpp/src/parquet/encryption/key_management_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#40338 GH-40334: [C++][Gandiva] Add missing OpenSSL dependency to encrypt_utils_test.cc
  cpp/src/gandiva/CMakeLists.txt
Labels: Component: C++, Component: C++ - Gandiva, awaiting merge

#40294 GH-40153: [Python] Make `Tensor.__getbuffer__` work on 32-bit platforms
  python/pyarrow/lib.pxd
  python/pyarrow/tensor.pxi
Labels: Component: Python, awaiting changes

#40064 GH-40059: [C++][Python] Basic conversion of RecordBatch to Arrow Tensor
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch.h
  cpp/src/arrow/record_batch_test.cc
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: C++, Component: Python, awaiting changes

#40084 GH-40345: [FlightRPC][C++][Java][Go] Add URI scheme to reuse connection
  cpp/src/arrow/flight/flight_internals_test.cc
  cpp/src/arrow/flight/integration_tests/flight_integration_test.cc
  cpp/src/arrow/flight/integration_tests/test_integration.cc
  cpp/src/arrow/flight/types.cc
  cpp/src/arrow/flight/types.h
  dev/archery/archery/integration/runner.py
  docs/source/format/Flight.rst
  format/Flight.proto
  go/arrow/flight/server.go
  go/arrow/internal/flight_integration/scenario.go
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/Location.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/LocationSchemes.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestBasicOperation.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/LocationReuseConnectionScenario.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/Scenarios.java
  java/flight/flight-integration-tests/src/main/test/java/org/apache/arrow/flight/integration/tests/IntegrationTest.java
  java/flight/flight-integration-tests/src/test/java/org/apache/arrow/flight/integration/tests/IntegrationTest.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/client/ArrowFlightSqlClientHandler.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ResultSetTest.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/utils/FallbackFlightSqlProducer.java
Labels: Component: Java, Component: Go, Component: C++, Component: FlightRPC, Component: Documentation, awaiting merge

#40363 GH-20127: [Python][CI] Remove legacy hdfs tests from hdfs and hypothesis setup
  ci/scripts/integration_hdfs.sh
Labels: awaiting committer review

#40367 GH-40366: [C++] Remove const qualifier from Buffer::mutable_span_as
  cpp/src/arrow/buffer.h
Labels: Component: C++, awaiting merge

#40232 GH-40227: [R] ensure executable files in `create_package_with_all_dependencies`
  r/R/install-arrow.R
Labels: Component: R, awaiting committer review

#40387 GH-40386: [Python] Fix except clauses
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting review

#40372 GH-40370: [C++] Define ARROW_FORCE_INLINE for non-MSVC builds
  cpp/src/arrow/util/macros.h
  cpp/src/arrow/util/visibility.h
Labels: Component: C++, awaiting merge

#40381 GH-40379: [Python] Fix byte_width for binary(0) + fix hypothesis tests
  python/pyarrow/tests/strategies.py
  python/pyarrow/tests/test_types.py
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting committer review

#40147 GH-38794: [C++][S3] Handle conventional content-type for directories
  cpp/src/arrow/filesystem/s3fs.cc
Labels: Component: C++, awaiting merge

#40378 GH-40377: [Python][CI] Fix install of nightly dask in integration tests
  ci/scripts/install_dask.sh
Labels: awaiting merge

#40404 MINOR: [Java] add toString on AbstractContainerVector
  java/vector/src/main/java/org/apache/arrow/vector/complex/AbstractContainerVector.java
Labels: Component: Java, awaiting review

#40406 GH-40405: [C++] Produce better error message when Move is attempted on flat-namespace accounts
  cpp/src/arrow/filesystem/azurefs.cc
Labels: Component: C++, awaiting committer review

#40411 MINOR: [Dev][C++] Fix SyntaxWarnings in asan_symbolize.py
  cpp/build-support/asan_symbolize.py
Labels: Component: C++, awaiting review

#40403 GH-40402: [GLib] Add missing compute function options classes
  c_glib/arrow-glib/compute.cpp
  c_glib/arrow-glib/compute.h
  c_glib/arrow-glib/compute.hpp
  c_glib/test/test-function.rb
  c_glib/test/test-split-pattern-options.rb
  c_glib/test/test-strftime-options.rb
  c_glib/test/test-strptime-options.rb
  c_glib/test/test-struct-field-options.rb
Labels: Component: GLib, awaiting review, awaiting changes

#40371 GH-38821: [C++] Strengthen handling of duplicate slashes in S3, GCS
  cpp/src/arrow/filesystem/filesystem_test.cc
  cpp/src/arrow/filesystem/gcsfs.cc
  cpp/src/arrow/filesystem/gcsfs_test.cc
  cpp/src/arrow/filesystem/path_util.cc
  cpp/src/arrow/filesystem/path_util.h
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs_test.cc
Labels: Component: C++, awaiting merge

#38924 GH-38923: [GLib] Fix spelling
  c_glib/arrow-dataset-glib/dataset-factory.h
  c_glib/arrow-flight-sql-glib/server.h
  c_glib/arrow-glib/array-builder.cpp
  c_glib/arrow-glib/buffer.cpp
  c_glib/arrow-glib/composite-array.cpp
  c_glib/arrow-glib/compute.cpp
  c_glib/arrow-glib/expression.cpp
  c_glib/arrow-glib/input-stream.cpp
  c_glib/arrow-glib/local-file-system.cpp
  c_glib/arrow-glib/metadata-version.cpp
  c_glib/arrow-glib/output-stream.cpp
  c_glib/parquet-glib/arrow-file-reader.cpp
  c_glib/parquet-glib/arrow-file-writer.cpp
  c_glib/parquet-glib/statistics.cpp
  c_glib/test/flight/test-client-options.rb
  c_glib/test/gandiva/test-native-function.rb
  c_glib/test/helper/readable.rb
  c_glib/test/test-array.rb
  c_glib/test/test-decimal128-data-type.rb
  c_glib/test/test-decimal256-data-type.rb
  c_glib/test/test-dictionary-array-builder.rb
  c_glib/test/test-extension-data-type.rb
  c_glib/test/test-fixed-size-binary-array.rb
Labels: Component: Parquet, Component: GLib, awaiting change review

#40425 GH-40422: [C++][FlightRPC] Add missing expiration_time arguments
  cpp/src/arrow/flight/integration_tests/test_integration.cc
Labels: Component: C++, Component: FlightRPC, awaiting review

#40433 GH-40432: [C++] Add missing Threads::Threads dependency to arrow_static
  cpp/src/arrow/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#40447 MINOR: [R][Docs] Fix typo in s3_bucket example code
  r/R/filesystem.R
  r/man/s3_bucket.Rd
Labels: Component: R, awaiting review

#40446 GH-40445: [C++] Fix static build on Windows
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#40444 GH-40443: [Python] Suppress python/examples/minimal_build/Dockerfile.* warnings
  .hadolint.yaml
  .pre-commit-config.yaml
  python/examples/minimal_build/Dockerfile.fedora
  python/examples/minimal_build/Dockerfile.ubuntu
Labels: Component: Python, awaiting committer review

#40440 GH-40439: [Python] Fix flake8 failures in python/benchmarks/parquet.py
  dev/archery/archery/utils/lint.py
  python/benchmarks/parquet.py
Labels: Component: Python, awaiting committer review

#40116 GH-40023: [Python] Use Cast() instead of CastTo
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/pyarrow_cython_example.pyx
  python/pyarrow/tests/test_cython.py
Labels: Component: Python, awaiting change review

#40442 GH-40441: [GLib][Docs] Use Sphinx for Apache Arrow GLib front page
  ci/conda_env_sphinx.txt
  docs/requirements.txt
  docs/source/c_glib/arrow-cuda-glib/index.md
  docs/source/c_glib/arrow-dataset-glib/index.md
  docs/source/c_glib/arrow-flight-glib/index.md
  docs/source/c_glib/arrow-flight-sql-glib/index.md
  docs/source/c_glib/arrow-glib/index.md
  docs/source/c_glib/gandiva-glib/index.md
  docs/source/c_glib/index.md
  docs/source/c_glib/index.rst
  docs/source/c_glib/parquet-glib/index.md
  docs/source/conf.py
Labels: Component: Documentation, awaiting committer review

#40457 GH-40438: [GLib] Add GArrowTimestampParser
  c_glib/arrow-glib/meson.build
  c_glib/arrow-glib/reader.cpp
  c_glib/arrow-glib/timestamp-parser.cpp
  c_glib/arrow-glib/timestamp-parser.h
  c_glib/arrow-glib/timestamp-parser.hpp
  c_glib/test/test-timestamp-parser.rb
Labels: Component: GLib, awaiting committer review

#40449 GH-40448: [CI][Dev] Run pre-commit
  .github/workflows/dev.yml
Labels: awaiting changes

#40456 GH-40082: [CI][C++] Add a job on ARM64 macOS
  .github/workflows/cpp.yml
  ci/scripts/cpp_test.sh
  ci/scripts/install_minio.sh
  cpp/src/arrow/util/io_util_test.cc
Labels: Component: C++, awaiting committer review

#40325 GH-40028: [C++][FS][Azure] Add AzureFileSystem support to FileSystemFromUri()
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_test.cc
  cpp/src/arrow/filesystem/filesystem.cc
Labels: Component: C++, awaiting change review

#40459 GH-40458: [Release][Docs] Changes for version and warning banner should not affect minor releases
  dev/release/post-08-docs.sh
Labels: awaiting merge

#40486 GH-40485: [Python][CI] Skip failing test_dateutil_tzinfo_to_string
  python/pyarrow/tests/test_types.py
Labels: Component: Python, awaiting review

#39487 GH-20339: [C++] Add residual filter support to swiss join
  cpp/src/arrow/acero/hash_join_benchmark.cc
  cpp/src/arrow/acero/hash_join_node.cc
  cpp/src/arrow/acero/hash_join_node_test.cc
  cpp/src/arrow/acero/swiss_join.cc
  cpp/src/arrow/acero/swiss_join_internal.h
Labels: Component: C++, awaiting merge

#40397 GH-40394: [C++] Add support for mold
  ci/docker/ubuntu-22.04-cpp.dockerfile
  ci/docker/ubuntu-24.04-cpp.dockerfile
  ci/scripts/cpp_build.sh
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/SetupCxxFlags.cmake
  cpp/src/arrow/symbols.map
  dev/tasks/linux-packages/apache-arrow/apt/debian-bookworm/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/debian-trixie/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-jammy/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-noble/Dockerfile
  dev/tasks/linux-packages/apache-arrow/debian/rules
Labels: Component: C++, awaiting changes

#40435 GH-39669: [C++][Gandiva] Ensure Gandiva benchmarks present a bytes/s or items/s metric
  cpp/src/gandiva/tests/timed_evaluate.h
Labels: Component: C++, Component: C++ - Gandiva, awaiting merge

#40313 GH-40312: [Python] Add ListView documentation to user guide
  docs/source/python/data.rst
Labels: Component: Documentation, awaiting committer review

#40418 GH-40376: [Python] Update for NumPy 2.0 ABI change in PyArray_Descr->elsize
  .env
  python/CMakeLists.txt
  python/pyarrow/src/arrow/python/arrow_to_pandas.cc
  python/pyarrow/src/arrow/python/numpy_convert.cc
  python/pyarrow/src/arrow/python/numpy_interop.h
  python/pyarrow/src/arrow/python/numpy_to_arrow.cc
Labels: Component: Python, awaiting merge

#40497 GH-40495: [GLib] Use G_DECLARE_DERIVABLE_TYPE()
  c_glib/arrow-glib/input-stream.h
  c_glib/arrow-glib/output-stream.h
  c_glib/arrow-glib/reader.h
  c_glib/arrow-glib/writer.h
Labels: Component: GLib, awaiting committer review

#40253 GH-40252: [C++] Make span SFINAE standards-conforming to enable compilation with nvcc
  cpp/src/arrow/util/span.h
  cpp/src/arrow/util/span_test.cc
Labels: Component: C++, awaiting committer review

#40455 GH-40454: [CI][Debian] Update Debian to 12 from 11
  .env
  .github/workflows/go.yml
  .github/workflows/js.yml
  ci/docker/debian-12-cpp.dockerfile
  ci/docker/debian-12-go-cgo-python.dockerfile
  ci/docker/debian-12-go.dockerfile
  ci/docker/debian-12-js.dockerfile
  ci/docker/linux-apt-c-glib.dockerfile
  ci/docker/linux-apt-python-3.dockerfile
  ci/scripts/go_cgo_python_test.sh
  ci/scripts/install_numba.sh
  ci/scripts/python_build.sh
  ci/scripts/python_test.sh
  dev/tasks/docker-tests/github.linux.yml
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: awaiting change review

#40429 GH-40428: [Python][CI] Fix dataset partition filter tests with pandas nightly
  python/pyarrow/tests/parquet/test_dataset.py
Labels: Component: Python, awaiting committer review

#40021 GH-39968: [Python][FS][Azure] Minimal Python bindings for `AzureFileSystem`
  ci/docker/alpine-linux-3.16-cpp.dockerfile
  ci/docker/fedora-39-cpp.dockerfile
  ci/docker/linux-apt-docs.dockerfile
  ci/docker/ubuntu-20.04-cpp-minimal.dockerfile
  ci/docker/ubuntu-22.04-cpp-minimal.dockerfile
  cpp/src/arrow/filesystem/api.h
  cpp/src/arrow/filesystem/azurefs_test.cc
  cpp/src/arrow/filesystem/type_fwd.h
  cpp/src/arrow/util/config.h.cmake
  python/CMakeLists.txt
  python/pyarrow/__init__.py
  python/pyarrow/_azurefs.pyx
  python/pyarrow/_fs.pyx
  python/pyarrow/conftest.py
  python/pyarrow/fs.py
  python/pyarrow/includes/libarrow_fs.pxd
  python/pyarrow/tests/conftest.py
  python/pyarrow/tests/test_fs.py
  python/setup.py
Labels: Component: C++, Component: Python, awaiting change review

#40396 GH-40395: [C++] Avoid simplifying expressions which call impure functions
  cpp/src/arrow/compute/expression.cc
  cpp/src/arrow/compute/expression_test.cc
  cpp/src/arrow/compute/function.h
  cpp/src/arrow/compute/kernels/scalar_random.cc
  docs/source/cpp/compute.rst
Labels: Component: C++, Component: Documentation, awaiting merge

#40511 MINOR: [Go] update go dependencies
  go/go.mod
  go/go.sum
Labels: Component: Go, awaiting merge

#40512 MINOR: [Docs] Clarify inlined strings in `VariableLengthStringView` is padded with `0`
  docs/source/format/Columnar.rst
Labels: awaiting committer review

#38917 GH-38916: [R] Simplify dataset and table print output
  r/R/arrow-tabular.R
  r/R/dataset.R
  r/R/record-batch-reader.R
  r/R/schema.R
  r/tests/testthat/_snaps/dplyr-glimpse.md
  r/tests/testthat/test-dataset.R
  r/tests/testthat/test-record-batch-reader.R
  r/tests/testthat/test-schema.R
Labels: Component: R, Component: Documentation, awaiting change review

#40437 GH-40077: [CI] Use GitHub hosted M1 macOS runner
  dev/tasks/java-jars/github.yml
  dev/tasks/python-wheels/github.osx.amd64.yml
  dev/tasks/python-wheels/github.osx.yml
  dev/tasks/r/github.packages.yml
  dev/tasks/tasks.yml
  dev/tasks/verify-rc/github.macos.arm64.yml
Labels: awaiting committer review

#40523 GH-40522: [Dev][Go] Add Dependabot configuration for Go
  .github/dependabot.yml
Labels: awaiting committer review

#40499 GH-40498: [GLib] Remove arrow-glib/gobject-type.h
  c_glib/arrow-glib/arrow-glib.h
  c_glib/arrow-glib/basic-array-definition.h
  c_glib/arrow-glib/buffer.h
  c_glib/arrow-glib/chunked-array-definition.h
  c_glib/arrow-glib/codec.h
  c_glib/arrow-glib/compute-definition.h
  c_glib/arrow-glib/decimal.h
  c_glib/arrow-glib/file.h
  c_glib/arrow-glib/gobject-type.h
  c_glib/arrow-glib/interval.h
  c_glib/arrow-glib/ipc-options.h
  c_glib/arrow-glib/memory-pool.h
  c_glib/arrow-glib/meson.build
  c_glib/arrow-glib/readable.h
  c_glib/arrow-glib/reader.h
  c_glib/arrow-glib/table-builder.h
  c_glib/arrow-glib/timestamp-parser.h
  c_glib/arrow-glib/version.h.in
  c_glib/arrow-glib/writable-file.h
  c_glib/arrow-glib/writable.h
Labels: Component: GLib, awaiting committer review

#40505 GH-39444: [Python] Fix parquet import in encryption test
  dev/tasks/tasks.yml
  python/pyarrow/tests/test_dataset_encryption.py
Labels: Component: Python, awaiting merge

#40543 GH-40542: [Dev][CI] Run pre-commit to all files
  .github/workflows/dev.yml
Labels: awaiting committer review

#40365 GH-40297: [C++] Add TensorFromJSON helper function
  cpp/src/arrow/record_batch_test.cc
  cpp/src/arrow/testing/gtest_util.cc
  cpp/src/arrow/testing/gtest_util.h
  cpp/src/arrow/testing/gtest_util_test.cc
Labels: Component: C++, awaiting merge

#40307 GH-40306: [C++] Fix a wrong total_bytes to generate StringType's test data in vector_hash_benchmark
  cpp/src/arrow/compute/kernels/vector_hash_benchmark.cc
Labels: Component: C++, awaiting merge

#40537 GH-40536: [CI]: Migrate remaining jobs away from self-hosted mac runners.
  dev/tasks/r/github.packages.yml
  dev/tasks/tasks.yml
  dev/tasks/verify-rc/github.macos.arm64.yml
  dev/tasks/verify-rc/github.macos.yml
Labels: awaiting merge

#40564 GH-40562: [C++] Repair FileSystem merge error
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
Labels: Component: C++, awaiting merge

#40519 GH-40500: [C++] Ensure using bundled FlatBuffers
  cpp/CMakeLists.txt
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/gpu/CMakeLists.txt
  cpp/src/arrow/ipc/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#40559 GH-40558: [C++][CI] Fix TSAN and ASAN/UBSAN crashes
  .github/workflows/cpp.yml
  dev/tasks/docker-tests/github.linux.yml
Labels: awaiting merge

#40322 GH-40566: [C++] Fix 3.12 Python support
  cpp/cmake_modules/FindPython3Alt.cmake
Labels: Component: C++, awaiting committer review

#40148 GH-35875: [R] Update Readme
  r/README.md
  r/_pkgdown.yml
Labels: Component: R, Component: Documentation, awaiting merge

#40399 GH-40398: [C++] Expose protobuf dependency if opentelemetry or ORC are enabled
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting change review

#40292 GH-40291: [Python] Accept dict in pyarrow.record_batch() function
  python/pyarrow/table.pxi
Labels: Component: Python, awaiting committer review

#39506 GH-30915: [C++][Python] Add missing methods to `RecordBatch`
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch.h
  cpp/src/arrow/record_batch_test.cc
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: C++, Component: Python, awaiting merge

#40412 GH-37989: [Python] Plug reference leaks when creating Arrow array from Python list of dicts
  python/pyarrow/src/arrow/python/python_to_arrow.cc
Labels: Component: Python, awaiting merge

#39240 GH-38768: [Python] Slicing an array backwards beyond the start now includes first item.
  python/pyarrow/array.pxi
  python/pyarrow/tests/test_array.py
Labels: Component: Python, awaiting review

#34234 GH-34235: [Python] Add `join_asof` binding
  cpp/src/arrow/acero/asof_join_node.cc
  python/pyarrow/_acero.pyx
  python/pyarrow/_dataset.pyx
  python/pyarrow/acero.py
  python/pyarrow/includes/libarrow_acero.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_acero.py
  python/pyarrow/tests/test_dataset.py
  python/pyarrow/tests/test_table.py
Labels: Component: C++, Component: Python, awaiting change review

#40578 GH-40577: [C++] Ensure pkg-config flags include -ldl for static builds
  cpp/src/arrow/CMakeLists.txt
Labels: Component: C++, awaiting merge

#40545 GH-40544: [Dev] Add cmake-format configuration to pre-commit
  .pre-commit-config.yaml
Labels: awaiting committer review

#40571 GH-40535: [Docs][R] Set RETICULATE_PYTHON_ENV in order to find pyarrow
  ci/docker/linux-apt-docs.dockerfile
Labels: awaiting change review

#40554 GH-40553: [C#] Avoid logger instantiations per request
  csharp/src/Apache.Arrow.Flight.Sql/FlightSqlServer.cs
Labels: Component: C#, awaiting committer review

#40617 GH-40615: [Packaging][deb] Move libprotobuf-dev dependency to libarrow-dev from libarrow-flight-dev
  dev/tasks/linux-packages/apache-arrow/debian/control.in
Labels: awaiting committer review

#40618 GH-40616: [Docs][GLib] Ensure overwriting placeholder front pages
  docker-compose.yml
Labels: awaiting committer review

#40590 GH-40573: [GLib][Ruby][CSV] Add support for customizing timestamp parsers
  c_glib/arrow-glib/reader.cpp
  c_glib/arrow-glib/reader.h
  c_glib/test/test-csv-reader.rb
  ruby/red-arrow/lib/arrow/loader.rb
  ruby/red-arrow/lib/arrow/timestamp-parser.rb
  ruby/red-arrow/test/test-csv-loader.rb
Labels: Component: Ruby, Component: GLib, awaiting committer review

#40374 GH-40333: [Docs] Improve env var docs for ARROW_USER_SIMD_LEVEL
  docs/source/cpp/env_vars.rst
Labels: Component: Documentation, awaiting merge

#40335 GH-38560: [C++][Parquet] Rewrite BYTE_STREAM_SPLIT SSE optimizations using xsimd
  cpp/src/arrow/util/byte_stream_split_internal.h
  cpp/src/arrow/util/byte_stream_split_test.cc
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/encoding_benchmark.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#40585 GH-40575: [Docs][Python] Added JsonFileFormat to docs
  docs/source/python/api/dataset.rst
Labels: Component: Documentation, awaiting merge

#40625 GH-40621: [C++] Add missing util/config.h in arrow/io/compressed_test.cc
  cpp/src/arrow/io/compressed_test.cc
Labels: Component: C++, awaiting committer review

#40608 GH-40607: [C++] Rename `Function::is_impure()` to `is_pure()`
  cpp/src/arrow/compute/expression.cc
  cpp/src/arrow/compute/expression_test.cc
  cpp/src/arrow/compute/function.h
  cpp/src/arrow/compute/kernels/scalar_random.cc
  docs/source/cpp/compute.rst
Labels: Component: C++, Component: Documentation, awaiting changes

#40552 GH-40551: [Release][Docs] Improve documentation for patch Release process
  docs/source/developers/release.rst
Labels: Component: Documentation, awaiting changes

#40666 GH-34235: [Python] Correct test marker for join_asof tests
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting committer review

#40603 GH-40602: [C++] Move mold linker flags to variables
  cpp/cmake_modules/SetupCxxFlags.cmake
Labels: Component: C++, awaiting merge

#40676 GH-40672: [Go][Parquet] Add proper build tags for min_max
  go/internal/utils/min_max_noasm.go
Labels: Component: Go, awaiting merge

#40651 MINOR: [R] Update R packaging steps to reflect current release process
  r/PACKAGING.md
Labels: Component: R, Component: Documentation, awaiting committer review

#40669 GH-40668: [Ruby][CI] Require GLib 2.58 or later for timezone
  ruby/red-arrow/test/helper/omittable.rb
  ruby/red-arrow/test/test-csv-loader.rb
Labels: Component: Ruby, awaiting committer review

#40679 MINOR: [Docs] Add link to ListView format in pyarrow docs
  docs/source/python/data.rst
Labels: Component: Documentation, awaiting merge

#40341 GH-40273: [Python] Support construction of Run-End Encoded arrays in pa.array(..)
  python/pyarrow/array.pxi
  python/pyarrow/tests/test_array.py
Labels: Component: Python, awaiting changes

#38179 GH-37328: [Python] Add a function to download and extract timezone database on Windows
  docs/source/python/install.rst
  python/pyarrow/tests/test_util.py
  python/pyarrow/util.py
Labels: Component: Python, Component: Documentation, awaiting change review

#40656 GH-40619: [Java] JDBC Adapter Build Issue
  java/adapter/jdbc/pom.xml
Labels: Component: Java, awaiting review

#40609 GH-36026: [Python] Fix ORC test segfault in the python wheel windows test
  .env
  .github/workflows/java_jni.yml
  appveyor.yml
  ci/appveyor-cpp-build.bat
  ci/docker/python-wheel-windows-test-vs2019.dockerfile
  ci/docker/python-wheel-windows-vs2019.dockerfile
  ci/scripts/python_wheel_windows_build.bat
  ci/scripts/python_wheel_windows_test.bat
  cpp/src/arrow/adapters/orc/adapter.cc
Labels: Component: C++, awaiting changes

#40565 GH-40316: [Python] only allocate the ScalarMemoTable when used
  python/pyarrow/src/arrow/python/arrow_to_pandas.cc
Labels: Component: Python, awaiting merge

#40610 GH-40591: [R] Add extra CSS for navbar on pkgdown website
  r/pkgdown/extra.css
Labels: Component: R, awaiting merge

#40673 MINOR: [Dev] Remove Bryce from collaborators
  .asf.yaml
Labels: awaiting merge

#40329 GH-40328: [C++][Parquet] Allow use of FileDecryptionProperties after the CryptoFactory is destroyed
  cpp/src/parquet/encryption/crypto_factory.cc
  cpp/src/parquet/encryption/crypto_factory.h
  cpp/src/parquet/encryption/file_key_unwrapper.cc
  cpp/src/parquet/encryption/file_key_unwrapper.h
  cpp/src/parquet/encryption/key_management_test.cc
  python/pyarrow/tests/parquet/test_encryption.py
Labels: Component: Parquet, Component: C++, Component: Python, awaiting committer review

#40661 GH-40659: [Python][C++] Support conversion of pyarrow.RunEndEncodedArray to numpy/pandas
  python/pyarrow/src/arrow/python/arrow_to_pandas.cc
  python/pyarrow/tests/test_array.py
Labels: Component: Python, awaiting change review

#40643 GH-36399: [Python] Add missing `shape` property to `RecordBatch`
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting change review

#39148 GH-39147: [R] Add Bootstrap.r
  r/.Rbuildignore
  r/DESCRIPTION
  r/Makefile
  r/bootstrap.R
Labels: Component: R, awaiting committer review

#40704 GH-40703: [CI][Packaging] Homebrew can't install Python 3.12 on GHA runners
  dev/tasks/macros.jinja
Labels: awaiting committer review

#40707 GH-40706: [CI][Python] Activate ARROW_PYTHON_VENV if defined in sdist-test job
  ci/scripts/python_sdist_test.sh
Labels: awaiting committer review

#40514 GH-40515: [Java] Bump org.apache.maven dependencies from 3.3.9 to 3.8.7
  .env
  ci/docker/conda-integration.dockerfile
  ci/docker/conda-python-hdfs.dockerfile
  ci/docker/conda-python-jpype.dockerfile
  ci/docker/conda-python-spark.dockerfile
  ci/docker/linux-apt-docs.dockerfile
  dev/release/verify-release-candidate.sh
  java/maven/module-info-compiler-maven-plugin/pom.xml
Labels: Component: Java, awaiting change review

#39708 GH-39707: [Java] Enable local build cache for Maven/Java build
  .github/workflows/java.yml
  .github/workflows/java_jni.yml
  .gitignore
  .mvn/extensions.xml
  .mvn/gradle-enterprise.xml
  ci/scripts/java_build.sh
  ci/scripts/java_test.sh
  java/maven/module-info-compiler-maven-plugin/pom.xml
  java/pom.xml
Labels: Component: Java, awaiting merge

#40728 GH-40727: [C++][Gandiva] 'ilike' function does not work
  cpp/src/gandiva/function_holder_maker_registry.cc
  cpp/src/gandiva/tests/utf8_test.cc
Labels: Component: C++, Component: C++ - Gandiva, awaiting change review

#40671 GH-40026: [C++][FS][Azure] Add support for reading user defined metadata
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting merge

#40691 GH-40690: [C#][FlightRPC] Add do_exchange csharp implementation
  csharp/src/Apache.Arrow.Flight/Client/FlightClient.cs
  csharp/src/Apache.Arrow.Flight/Client/FlightRecordBatchExchangeCall.cs
  csharp/src/Apache.Arrow.Flight/Server/FlightServer.cs
  csharp/src/Apache.Arrow.Flight/Server/Internal/FlightServerImplementation.cs
  csharp/test/Apache.Arrow.Flight.TestWeb/TestFlightServer.cs
  csharp/test/Apache.Arrow.Flight.Tests/FlightTests.cs
Labels: Component: C#, awaiting committer review

#40753 GH-40751: [C++] Fix protobuf package name setting for builds with substrait
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting merge

#40434 GH-40308: [C++][Gandiva] Add support for compute module's decimal promotion rules
  cpp/src/gandiva/decimal_type_util.cc
  cpp/src/gandiva/decimal_type_util.h
  cpp/src/gandiva/tests/decimal_single_test.cc
Labels: Component: C++, Component: C++ - Gandiva, awaiting merge

#40739 GH-40623: [Python][Docs] Add workaround for autosummary
  docs/source/conf.py
Labels: Component: Documentation, awaiting committer review

#40243 GH-37720: [Format][Docs][FlightSQL] Document stateless prepared statements
  docs/source/format/FlightSql.rst
  docs/source/format/FlightSql/CommandPreparedStatementQuery.mmd
  docs/source/format/FlightSql/CommandPreparedStatementQuery.mmd.svg
  format/FlightSql.proto
Labels: Component: Documentation, awaiting change review

#40769 GH-40652: [C++] Enlarge dest buffer according to dest offset for `CopyBitmap` benchmark
  cpp/src/arrow/util/bit_util_benchmark.cc
Labels: Component: C++, awaiting merge

#40765 GH-40634: [C#] ArrowStreamReader should not be null
  csharp/src/Apache.Arrow.Flight/FlightRecordBatchStreamReader.cs
  csharp/src/Apache.Arrow.Flight/Internal/RecordBatchReaderImplementation.cs
  csharp/src/Apache.Arrow/Ipc/ArrowFileReaderImplementation.cs
  csharp/src/Apache.Arrow/Ipc/ArrowMemoryReaderImplementation.cs
  csharp/src/Apache.Arrow/Ipc/ArrowReaderImplementation.cs
  csharp/src/Apache.Arrow/Ipc/ArrowStreamReader.cs
  csharp/src/Apache.Arrow/Ipc/ArrowStreamReaderImplementation.cs
  csharp/test/Apache.Arrow.Tests/ArrowReaderVerifier.cs
  csharp/test/Apache.Arrow.Tests/ArrowStreamReaderTests.cs
Labels: Component: C#, awaiting review

#40694 GH-40693: [Go] Fix Decimal type precision loss on GetOneForMarshal
  go/arrow/array/decimal128.go
  go/arrow/array/decimal128_test.go
  go/arrow/array/decimal256.go
  go/arrow/array/decimal256_test.go
Labels: Component: Go, awaiting review

#40299 GH-40279: [C++] Reduce S3Client initialization time
  cpp/src/arrow/filesystem/s3fs.cc
Labels: Component: C++, awaiting merge

#40729 GH-40755: [JS] fix decimal conversions
  js/src/util/bn.ts
  js/test/unit/bn-tests.ts
Labels: Component: JavaScript, awaiting changes

#40692 MINOR: [R] Update maintainer in package description
  r/DESCRIPTION
Labels: Component: R, awaiting merge

#40654 GH-40630: [Go][Parquet] Enable writing of Parquet footer without closing file
  go/parquet/file/file_writer.go
  go/parquet/file/file_writer_test.go
  go/parquet/metadata/file.go
Labels: Component: Go, awaiting review

#40789 GH-40788: [C#] Override Accept in MapArray
  csharp/src/Apache.Arrow/Arrays/MapArray.cs
  csharp/test/Apache.Arrow.Tests/MapArrayTests.cs
Labels: Component: C#, awaiting committer review

#40647 GH-40783: [C++] Re-order loads and stores in MemoryPoolStats update
  cpp/src/arrow/memory_pool.cc
  cpp/src/arrow/memory_pool.h
  cpp/src/arrow/memory_pool_benchmark.cc
  cpp/src/arrow/memory_pool_test.cc
  cpp/src/arrow/memory_pool_test.h
  cpp/src/arrow/stl_allocator.h
  java/dataset/src/main/cpp/jni_util.cc
Labels: Component: Java, Component: C++, awaiting change review

#40358 GH-40357: [C++] Add benchmark for ToTensor conversions
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/tensor_benchmark.cc
Labels: Component: C++, awaiting merge

#40794 GH-40791: [Dev][CI] Use the official hadolint configuration
  .github/workflows/dev.yml
  .pre-commit-config.yaml
Labels: awaiting changes

#40793 GH-40792: [C#] Fix slicing a previously sliced array
  csharp/src/Apache.Arrow/Arrays/ArrowArrayFactory.cs
  csharp/test/Apache.Arrow.Tests/ArrowArrayTests.cs
Labels: Component: C#, awaiting committer review

#40721 GH-40720: [Python] Simplify and improve perf of creation of the column names in Table.to_pandas
  python/pyarrow/pandas_compat.py
Labels: Component: Python, awaiting committer review

#40785 GH-40784: [JS] Use bigIntToNumber
  js/src/util/bn.ts
  js/test/unit/bn-tests.ts
Labels: Component: JavaScript, awaiting committer review

#40697 GH-36026: [C++][ORC] Catch all ORC exceptions to avoid crash
  cpp/src/arrow/adapters/orc/adapter.cc
  cpp/src/arrow/adapters/orc/adapter_test.cc
  cpp/src/arrow/adapters/orc/util.cc
  cpp/src/arrow/adapters/orc/util.h
Labels: Component: C++, awaiting change review

#40482 GH-40205: [Python] ListView arrow-to-pandas conversion
  python/pyarrow/src/arrow/python/arrow_to_pandas.cc
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting merge

#40359 GH-40060: [C++][Python] Basic conversion of RecordBatch to Arrow Tensor - add support for different data types
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch_test.cc
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: C++, Component: Python, awaiting changes

#40802 GH-40719: [Go] Make `arrow.Null` non-null for `arrow.TypeEqual` to work properly with `new(arrow.NullType)`
  go/arrow/compare_test.go
  go/arrow/datatype_null.go
Labels: Component: Go, awaiting review

#40771 GH-36656: [Dev] Validate in merge script if issue has an assigned milestone already
  dev/merge_arrow_pr.py
  dev/test_merge_arrow_pr.py
Labels: awaiting merge

#39807 GH-39377: [C++] IO: Reuse same buffer in CompressedInputStream
  cpp/src/arrow/io/CMakeLists.txt
  cpp/src/arrow/io/compressed.cc
  cpp/src/arrow/io/compressed.h
  cpp/src/arrow/io/compressed_benchmark.cc
Labels: Component: C++, awaiting committer review

#40699 GH-40698: [C++] Create registry for Devices to map DeviceType to MemoryManager in C Device Data import
  cpp/src/arrow/buffer_test.cc
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/c/bridge.h
  cpp/src/arrow/device.cc
  cpp/src/arrow/device.h
  cpp/src/arrow/gpu/cuda_memory.cc
  cpp/src/arrow/gpu/cuda_memory.h
  cpp/src/arrow/gpu/cuda_test.cc
Labels: Component: C++, awaiting change review

#40810 GH-40796: [Java] set `lastSet` in `ListVector.setNull` to avoid O(n²) in ListVectors with lots of nulls
  java/vector/src/main/java/org/apache/arrow/vector/complex/ListVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestValueVector.java
Labels: Component: Java, awaiting merge

#40805 GH-40790: [C#] Account for offset and length when getting fields of a StructArray
  csharp/src/Apache.Arrow/Arrays/MapArray.cs
  csharp/src/Apache.Arrow/Arrays/StructArray.cs
  csharp/test/Apache.Arrow.Tests/StructArrayTests.cs
Labels: Component: C#, awaiting review

#40808 MINOR: [C++] Remove misleading comment on FileKeyUnwrapper constructor
  cpp/src/parquet/encryption/file_key_unwrapper.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#40809 GH-40773: [Java] add `DENSEUNION` case to StructWriters, resolves #40773
  java/vector/src/main/codegen/templates/StructWriters.java
  java/vector/src/test/java/org/apache/arrow/vector/TestValueVector.java
Labels: Component: Java, awaiting merge

#40491 MINOR: [Java] Bump Netty to 4.1.108.Final
  java/pom.xml
Labels: Component: Java, awaiting merge

#40587 GH-40586: [Dev][C++][Python][R] Use pre-commit for clang-format
  .pre-commit-config.yaml
  cpp/src/arrow/util/windows_compatibility.h
Labels: Component: C++, awaiting committer review

#40837 GH-40814: [C++] Thirdparty: bump zstd to 1.5.6
  cpp/thirdparty/versions.txt
Labels: awaiting review

#40811 MINOR: [Docs] Fix broken link in acero/options.h docstring
  cpp/src/arrow/acero/options.h
Labels: Component: C++, awaiting committer review

#40736 GH-40674: [GLib] Don't assume gint64 and int64_t use the same type
  c_glib/arrow-glib/array-builder.cpp
  c_glib/arrow-glib/composite-array.cpp
  c_glib/gandiva-glib/node.cpp
Labels: Component: C++ - Gandiva, Component: GLib, awaiting change review

#40857 GH-40806: [C++] Correctly report asimd/neon in GetRuntimeInfo
  cpp/src/arrow/config.cc
Labels: Component: C++, awaiting committer review

#40838 MINOR: [C++][Azure][FS] Document some limitations and atomicity guarantees
  cpp/src/arrow/filesystem/azurefs.h
Labels: Component: C++, awaiting merge

#40864 GH-40863: [C++] Fix TSAN link error for module library
  cpp/cmake_modules/san-config.cmake
Labels: Component: C++, awaiting committer review

#40508 GH-40507: [C++][ORC] Upgrade ORC to 2.0.0
  ci/scripts/python_wheel_macos_build.sh
  ci/scripts/python_wheel_manylinux_build.sh
  cpp/thirdparty/versions.txt
  dev/tasks/python-wheels/github.osx.yml
Labels: Component: C++, awaiting committer review

#40877 GH-40847: [Go] update readme
  go/README.md
Labels: Component: Go, Component: Documentation, awaiting committer review

#40724 GH-40716: [Java][Integration] Fix test_package_java in verification scripts
  dev/release/verify-release-candidate.sh
Labels: awaiting review
