Repository apache/arrow, pull requests merged in 2024-07, with the labels that each got.

#43087 GH-41527: [CI][Dev] Remove unncessary requirements for six
  .github/workflows/dev.yml
  dev/merge_arrow_pr.py
  dev/requirements_merge_arrow_pr.txt
Labels: awaiting committer review

#43091 GH-43076: [C#] Upgrade Xunit and change how Python integration tests are skipped
  csharp/test/Apache.Arrow.Compression.Tests/Apache.Arrow.Compression.Tests.csproj
  csharp/test/Apache.Arrow.Flight.Sql.Tests/Apache.Arrow.Flight.Sql.Tests.csproj
  csharp/test/Apache.Arrow.Flight.Tests/Apache.Arrow.Flight.Tests.csproj
  csharp/test/Apache.Arrow.Tests/Apache.Arrow.Tests.csproj
  csharp/test/Apache.Arrow.Tests/CDataInterfacePythonTests.cs
Labels: Component: C#, awaiting committer review

#43090 MINOR: [Docs] Fix wrong list formatting for Integration Testing documentation
  docs/source/format/Integration.rst
Labels: Component: Documentation, awaiting review

#42169 GH-42168: [Python][Parquet] Pyarrow store decimal as integer
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/_parquet.pxd
  python/pyarrow/_parquet.pyx
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_basic.py
Labels: Component: Python, awaiting change review

#42199 GH-42198: [C++] Fix GetRecordBatchPayload crashes for device data
  cpp/src/arrow/gpu/cuda_test.cc
  cpp/src/arrow/ipc/writer.cc
Labels: Component: C++, awaiting merge

#43093 GH-43059: [CI][Gandiva] Disable Python Gandiva tests on AlmaLinux 8
  dev/tasks/python-wheels/github.linux.yml
  dev/tasks/verify-rc/github.linux.amd64.docker.yml
Labels: awaiting committer review

#43086 GH-43092: [Swift] Update ArrowData for Nested Types (allow children)
  swift/Arrow/Sources/Arrow/ArrowData.swift
Labels: Component: Swift, awaiting merge

#43127 GH-43122: [CI][Packaging][RPM][CentOS] Use vault.centos.org for SCL
  dev/release/verify-yum.sh
  dev/tasks/linux-packages/apache-arrow/yum/centos-7/Dockerfile
Labels: awaiting committer review

#43121 GH-43119: [CI][Packaging] Update manylinux 2014 CentOS repos that have been deprecated
  ci/docker/centos-7-cpp.dockerfile
  ci/docker/python-wheel-manylinux.dockerfile
Labels: awaiting changes

#43140 MINOR: Add laurentgo to contributors list
  .asf.yaml
Labels: awaiting merge

#43071 GH-43070: [C++][Parquet] Check for valid ciphertext length to prevent segfault
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/encryption/encryption.h
  cpp/src/parquet/encryption/encryption_internal.cc
  cpp/src/parquet/encryption/encryption_internal.h
  cpp/src/parquet/encryption/encryption_internal_nossl.cc
  cpp/src/parquet/encryption/encryption_internal_test.cc
  cpp/src/parquet/encryption/internal_file_decryptor.cc
  cpp/src/parquet/encryption/internal_file_decryptor.h
  cpp/src/parquet/encryption/key_toolkit_internal.cc
  cpp/src/parquet/encryption/read_configurations_test.cc
  cpp/src/parquet/thrift_internal.h
Labels: Component: Parquet, Component: C++, Critical Fix, awaiting committer review

#43151 GH-43150: [Docs] Correct documentation of pyarrow.compute.microsecond
  cpp/src/arrow/compute/kernels/scalar_temporal_unary.cc
Labels: Component: C++, awaiting review

#43148 GH-41623: [Docs] Remove the warning for `arrow::dataset`
  docs/source/cpp/dataset.rst
Labels: Component: Documentation, awaiting review

#43120 GH-43130: [C++][ArrowFlight] Crash due to UCS thread mode
  cpp/src/arrow/flight/transport/ucx/ucx_client.cc
Labels: Component: C++, Component: FlightRPC, awaiting merge

#43136 GH-43134: [C++] Upgrade bundled google-cloud-cpp to 2.22.0
  ci/scripts/PKGBUILD
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting change review

#37822 GH-41910: [Python] Add support for Pyodide
  .pre-commit-config.yaml
  ci/docker/conda-python-emscripten.dockerfile
  ci/scripts/cpp_build.sh
  ci/scripts/install_chromedriver.sh
  ci/scripts/install_emscripten.sh
  ci/scripts/python_build_emscripten.sh
  ci/scripts/python_test_emscripten.sh
  cpp/CMakePresets.json
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  dev/tasks/tasks.yml
  docker-compose.yml
  python/CMakeLists.txt
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/_parquet.pyx
  python/pyarrow/conftest.py
  python/pyarrow/error.pxi
  python/pyarrow/includes/libarrow_python.pxd
  python/pyarrow/io.pxi
  python/pyarrow/lib.pyx
  python/pyarrow/pandas_compat.py
  python/pyarrow/src/arrow/python/helpers.cc
  python/pyarrow/src/arrow/python/helpers.h
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_cffi.py
  python/pyarrow/tests/test_compute.py
  python/pyarrow/tests/test_convert_builtin.py
  python/pyarrow/tests/test_csv.py
  python/pyarrow/tests/test_dataset.py
  python/pyarrow/tests/test_flight.py
  python/pyarrow/tests/test_fs.py
  python/pyarrow/tests/test_io.py
  python/pyarrow/tests/test_ipc.py
  python/pyarrow/tests/test_jvm.py
  python/pyarrow/tests/test_memory.py
  python/pyarrow/tests/test_misc.py
  python/pyarrow/tests/test_pandas.py
  python/pyarrow/tests/test_scalars.py
  python/pyarrow/tests/test_schema.py
  python/pyarrow/tests/test_tensor.py
  python/pyarrow/tests/test_types.py
  python/scripts/run_emscripten_tests.py
  python/setup.py
Labels: Component: C++, Component: Python, awaiting committer review

#43154 GH-43152: [Release] Require "digest/sha1" explicitly for thread safety
  dev/release/binary-task.rb
Labels: awaiting committer review

#43159 GH-43158: [Packaging] Use bundled nlohmann/json on AlmaLinux 8/CentOS Stream 8
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
Labels: awaiting committer review

#43161 GH-43160: [Swift] Add Struct Array
  swift/Arrow/Sources/Arrow/ArrowArray.swift
  swift/Arrow/Sources/Arrow/ArrowCImporter.swift
  swift/Arrow/Sources/Arrow/ArrowDecoder.swift
  swift/Arrow/Sources/Arrow/ArrowTable.swift
  swift/Arrow/Sources/Arrow/ChunkedArray.swift
  swift/Arrow/Tests/ArrowTests/CodableTests.swift
Labels: Component: Swift, awaiting committer review

#43172 GH-43153: [R] pull on a grouped query returns the wrong column
  r/R/dplyr-collect.R
  r/tests/testthat/test-dplyr-query.R
Labels: Component: R, awaiting changes

#43173 GH-43044: [R] So-called non-API entry points
  r/src/arrow_cpp11.h
Labels: Component: R, awaiting changes

#43162 GH-43163: [R] Fix bindings in Math group generics
  r/R/arrow-datum.R
  r/tests/testthat/test-compute-arith.R
Labels: Component: R, awaiting merge

#43078 GH-43075: [CI][Crossbow][Docker] Set timeout for docker-tests
  dev/tasks/docker-tests/github.cuda.yml
  dev/tasks/docker-tests/github.linux.yml
  dev/tasks/tasks.yml
Labels: awaiting committer review

#43011 GH-42149: [C++] Use FetchContent for bundled ORC
  cpp/CMakeLists.txt
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
  dev/tasks/linux-packages/apache-arrow/debian/rules
Labels: Component: C++, awaiting change review

#43189 MINOR: [R] Add news bullet for mutate() enhancement in 17.0
  r/NEWS.md
Labels: Component: R, Component: Documentation, awaiting merge

#43191 MINOR: [Java] Update issue management config in pom.xml
  .github/CONTRIBUTING.md
  java/pom.xml
Labels: Component: Java, awaiting merge

#43200 GH-43199: [CI][Packaging] dev/release/utils-create-release-tarball.sh should not include the release candidate number in the name of the tarball's top-level directory.
  dev/release/02-source-test.rb
  dev/release/utils-create-release-tarball.sh
Labels: awaiting merge

#43066 GH-41640: [Go] Implement BYTE_STREAM_SPLIT Parquet Encoding
  go/parquet/doc.go
  go/parquet/file/column_reader.go
  go/parquet/file/column_writer_test.go
  go/parquet/file/file_reader_test.go
  go/parquet/file/file_writer_test.go
  go/parquet/internal/encoding/byte_stream_split.go
  go/parquet/internal/encoding/encoding_benchmarks_test.go
  go/parquet/internal/encoding/encoding_test.go
  go/parquet/internal/encoding/fixed_len_byte_array_decoder.go
  go/parquet/internal/encoding/fixed_len_byte_array_encoder.go
  go/parquet/internal/encoding/typed_encoder.gen.go
  go/parquet/internal/encoding/typed_encoder.gen.go.tmpl
  go/parquet/types.go
Labels: Component: Go, awaiting changes

#43144 GH-43143: [C++][Parquet] Default initialize some parquet metadata variables
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/schema.cc
  cpp/src/parquet/schema.h
Labels: Component: Parquet, Component: C++, awaiting change review

#43125 GH-43129: [C++][Compute] Fix the unnecessary allocation of extra bytes when encoding row table
  cpp/src/arrow/compute/CMakeLists.txt
  cpp/src/arrow/compute/row/encode_internal.cc
  cpp/src/arrow/compute/row/row_internal.cc
  cpp/src/arrow/compute/row/row_internal.h
  cpp/src/arrow/compute/row/row_test.cc
Labels: Component: C++, awaiting committer review

#43065 GH-43046: [C++] Fix avx2 gather rows more than 2^31 issue in `CompareColumnsToRows`
  cpp/src/arrow/compute/row/compare_internal_avx2.cc
  cpp/src/arrow/compute/row/row_internal.cc
Labels: Component: C++, awaiting committer review

#43192 GH-43183: [C++] Add `date{32,64}` to `date{32,64}` cast
  cpp/src/arrow/compute/kernels/scalar_cast_temporal.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, awaiting merge

#42003 GH-41541: [Go][Parquet] More fixes for writer performance regression
  go/arrow/compute/utils.go
  go/parquet/internal/encoding/types.go
Labels: Component: Go, awaiting merge

#43208 GH-43204: [CI][Packaging] Apply vcpkg patch to fix Thrift version
  ci/vcpkg/ports.patch
Labels: awaiting committer review

#43206 GH-43186: [Go] Use auto-aligned atomic int64 for pqarrow pathbuilders
  .github/workflows/go.yml
  go/internal/utils/ref_count.go
  go/parquet/internal/bmi/bitmap_bmi2_386.go
  go/parquet/pqarrow/path_builder.go
Labels: Component: Go, awaiting merge

#42241 GH-42240: [R] Fix crash in ParquetFileWriter$WriteTable and add WriteBatch
  .github/workflows/r.yml
  r/NEWS.md
  r/R/parquet.R
  r/man/ParquetFileWriter.Rd
  r/src/r_to_arrow.cpp
  r/tests/testthat/test-parquet.R
  r/tools/check-versions.R
  r/tools/test-check-versions.R
Labels: Component: R, Component: Parquet, Component: Documentation, awaiting merge

#43216 MINOR: [Java] Remove superfluous add-source execution
  java/flight/flight-core/pom.xml
Labels: Component: Java, awaiting review

#43195 GH-43142: [C++][Parquet] Refactor Encryptor API to use arrow::util::span instead of raw pointers
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/encryption/encryption_internal.cc
  cpp/src/parquet/encryption/encryption_internal.h
  cpp/src/parquet/encryption/encryption_internal_nossl.cc
  cpp/src/parquet/encryption/encryption_internal_test.cc
  cpp/src/parquet/encryption/internal_file_encryptor.cc
  cpp/src/parquet/encryption/internal_file_encryptor.h
  cpp/src/parquet/encryption/key_toolkit_internal.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/thrift_internal.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#43219 GH-43218: [C++] Resolve Abseil like any other dependency in the build system
  ci/docker/fedora-39-cpp.dockerfile
  cpp/CMakeLists.txt
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting merge

#43225 MINOR: [Docs][Python] Add missing decimal256 docs entries
  docs/source/python/api/datatypes.rst
Labels: Component: Documentation, awaiting committer review

#43233 GH-43232: [Release][Packaging][Python] Add tzdata as conda env requirement to avoid ORC failure
  dev/release/verify-release-candidate.sh
Labels: awaiting committer review

#43156 GH-43114: [Archery][Dev] Support setuptools-scm >= 8.0.0
  dev/archery/archery/crossbow/core.py
  dev/archery/setup.py
Labels: awaiting merge

#43094 GH-43095: [C++] Update bundled vendor/datetime to support for building with libc++ and C++20
  cpp/src/arrow/vendored/datetime/README.md
  cpp/src/arrow/vendored/datetime/date.h
  cpp/src/arrow/vendored/datetime/tz.cpp
  cpp/src/arrow/vendored/datetime/tz.h
  cpp/src/arrow/vendored/datetime/tz_private.h
Labels: Component: C++, Component: Documentation, awaiting review

#43243 GH-43194: [R] R_existsVarInFrame isn't available earlier than R 4.2
  r/src/arrow_cpp11.h
Labels: Component: R, awaiting merge

#43246 GH-43245: [Packaging][deb] Add missing libabsl-dev dependency
  dev/tasks/linux-packages/apache-arrow/apt/debian-trixie/Dockerfile
  dev/tasks/linux-packages/apache-arrow/debian/control.in
Labels: awaiting committer review

#43230 GH-43164: [C++] Fix CMake link order for AWS SDK
  cpp/src/arrow/filesystem/CMakeLists.txt
Labels: Component: C++, awaiting review

#43212 GH-43211: [C++] Fix decimal benchmarks to avoid out-of-bounds accesses
  cpp/src/arrow/util/decimal_benchmark.cc
Labels: Component: C++, Component: Benchmarking, awaiting merge

#43251 MINOR: [Docs] Fix nNull typo in pyarrow.compute.sort_indices docstring
  cpp/src/arrow/compute/kernels/vector_sort.cc
Labels: Component: C++, awaiting committer review

#43237 GH-43238: [C++][FlightRPC] Reduce repetition in flight/types.cc in serde functions
  cpp/src/arrow/flight/types.cc
Labels: awaiting merge

#43176 GH-41993 [Go] IPC writer shift voffsets when offsets array does not start from zero
  go/arrow/ipc/ipc_test.go
  go/arrow/ipc/writer.go
Labels: Component: Go, awaiting merge

#43224 GH-43217: [Java] Remove flight-core shaded jars
  dev/tasks/tasks.yml
  java/flight/flight-core/pom.xml
Labels: Component: Java, awaiting merge

#40875 GH-43254: [C++] Always prefer mimalloc to jemalloc
  cpp/src/arrow/memory_pool.cc
  dev/archery/archery/benchmark/runner.py
  dev/tasks/linux-packages/github.linux.yml
  docs/source/cpp/memory.rst
  docs/source/python/memory.rst
Labels: Component: C++, Component: Documentation, awaiting merge

#43248 GH-43209: [C++] Add lint for DCHECK in public headers
  cpp/build-support/lint_cpp_cli.py
  cpp/src/arrow/acero/asof_join_node.cc
  cpp/src/arrow/acero/sorted_merge_node.cc
  cpp/src/arrow/acero/unmaterialized_table_internal.h
  cpp/src/arrow/acero/util.h
  cpp/src/arrow/util/bit_stream_utils_internal.h
  cpp/src/arrow/util/bit_util_test.cc
  cpp/src/arrow/util/logging.h
  cpp/src/arrow/util/rle_encoding_internal.h
  cpp/src/arrow/util/rle_encoding_test.cc
  cpp/src/arrow/util/tdigest.h
  cpp/src/arrow/util/vector.h
  cpp/src/gandiva/dex_visitor.h
  cpp/src/gandiva/engine.h
  cpp/src/gandiva/eval_batch.h
  cpp/src/gandiva/llvm_types.h
  cpp/src/gandiva/local_bitmaps_holder.h
  cpp/src/gandiva/selection_vector_impl.h
  cpp/src/parquet/bloom_filter.h
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/level_conversion_inc.h
Labels: Component: Parquet, Component: C++, Component: C++ - Gandiva, awaiting committer review

#43250 GH-43249: [C++][Parquet] remove useless template parameter of `DeltaLengthByteArrayEncoder`
  cpp/src/parquet/encoding.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#43226 GH-43202: [C++][Compute] Detect and explicit error for offset overflow in row table
  cpp/src/arrow/compute/row/encode_internal.cc
  cpp/src/arrow/compute/row/encode_internal.h
  cpp/src/arrow/compute/row/row_internal.cc
  cpp/src/arrow/compute/row/row_test.cc
Labels: Component: C++, Critical Fix, awaiting committer review

#43283 GH-43282: [Release][Docs][Packaging] Upload correct docs job when uploading binaries
  dev/release/binary-task.rb
Labels: awaiting committer review

#43272 MINOR: [Docs][Release] Clarification on when to run the new Update Release Notes on GH Release
  docs/source/developers/release.rst
Labels: Component: Documentation, awaiting merge

#43231 GH-43229: [Java] Update Maven project info
  dev/release/01-prepare-test.rb
  dev/release/utils-prepare.sh
  java/bom/pom.xml
  java/maven/pom.xml
  java/pom.xml
Labels: Component: Java, awaiting committer review

#43271 GH-43270: [Release] Fix input variables on post-01-tag.sh
  dev/release/post-01-tag.sh
Labels: awaiting merge

#43190 GH-43185: [C++] Suggest a cast when Concatenate fails due to offsets overflow
  cpp/src/arrow/array/concatenate.cc
  cpp/src/arrow/array/concatenate.h
  cpp/src/arrow/array/concatenate_test.cc
Labels: Component: C++, awaiting changes

#43139 GH-38051: [Java] Remove Java 8 support
  .env
  .github/workflows/java.yml
  ci/docker/conda-integration.dockerfile
  ci/docker/conda-python-hdfs.dockerfile
  ci/docker/conda-python-spark.dockerfile
  ci/docker/java-jni-manylinux-201x.dockerfile
  ci/docker/linux-apt-docs.dockerfile
  dev/conbench_envs/README.md
  dev/release/setup-rhel-rebuilds.sh
  dev/release/verify-release-candidate.sh
  dev/tasks/tasks.yml
  docker-compose.yml
  docs/source/developers/java/building.rst
  docs/source/java/flight_sql_jdbc_driver.rst
  docs/source/java/install.rst
  java/README.md
  java/adapter/jdbc/pom.xml
  java/adapter/jdbc/src/main/java/module-info.java
  java/bom/pom.xml
  java/dataset/pom.xml
  java/flight/flight-core/pom.xml
  java/flight/flight-core/src/main/java/module-info.java
  java/flight/flight-integration-tests/pom.xml
  java/flight/flight-sql-jdbc-driver/pom.xml
  java/flight/flight-sql/pom.xml
  java/flight/flight-sql/src/main/java/module-info.java
  java/flight/pom.xml
  java/maven/module-info-compiler-maven-plugin/pom.xml
  java/maven/module-info-compiler-maven-plugin/src/main/java/org/apache/arrow/maven/plugins/BaseModuleInfoCompilerPlugin.java
  java/maven/module-info-compiler-maven-plugin/src/main/java/org/apache/arrow/maven/plugins/ModuleInfoCompilerPlugin.java
  java/maven/module-info-compiler-maven-plugin/src/main/java/org/apache/arrow/maven/plugins/ModuleInfoTestCompilerPlugin.java
  java/maven/pom.xml
  java/memory/memory-core/pom.xml
  java/memory/memory-core/src/main/java/module-info.java
  java/pom.xml
  java/tools/pom.xml
  java/tools/src/main/java/module-info.java
Labels: Component: Java, Component: Documentation, awaiting change review

#43295 GH-43293: [Docs] Update code block for Installing Java Modules
  docs/source/java/install.rst
Labels: Component: Documentation, awaiting review

#43279 GH-43276: [Go][Parquet] Make DeltaBitPacking Encoders/Decoders Generic
  go/parquet/file/file_reader_test.go
  go/parquet/internal/encoding/delta_bit_packing.go
  go/parquet/internal/encoding/delta_byte_array.go
  go/parquet/internal/encoding/delta_length_byte_array.go
  go/parquet/internal/encoding/encoding_benchmarks_test.go
  go/parquet/internal/encoding/typed_encoder.gen.go
  go/parquet/internal/encoding/typed_encoder.gen.go.tmpl
Labels: Component: Go, awaiting merge

#43313 GH-43314: [CI][Java] Delete arrow-maven-plugins from release script
  dev/release/utils-prepare.sh
Labels: awaiting review

#43321 GH-43320: [Java] fix for SchemaChangeRuntimeException transferring empty FixedSizeListVector
  java/vector/src/main/java/org/apache/arrow/vector/complex/FixedSizeListVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestFixedSizeListVector.java
Labels: Component: Java, awaiting merge

#43255 GH-43258: [C++][Flight] Use a Base CRTP type for the types used in RPC calls
  cpp/src/arrow/flight/client.cc
  cpp/src/arrow/flight/flight_internals_test.cc
  cpp/src/arrow/flight/flight_test.cc
  cpp/src/arrow/flight/serialization_internal.cc
  cpp/src/arrow/flight/serialization_internal.h
  cpp/src/arrow/flight/sql/example/sqlite_server.cc
  cpp/src/arrow/flight/sql/server.cc
  cpp/src/arrow/flight/test_util.cc
  cpp/src/arrow/flight/transport/grpc/grpc_client.cc
  cpp/src/arrow/flight/transport/ucx/ucx_server.cc
  cpp/src/arrow/flight/types.cc
  cpp/src/arrow/flight/types.h
Labels: Component: C++, Component: FlightRPC, awaiting merge

#43269 GH-43266: [C#] Add LargeBinary, LargeString and LargeList array types
  csharp/README.md
  csharp/src/Apache.Arrow/Arrays/ArrowArrayFactory.cs
  csharp/src/Apache.Arrow/Arrays/LargeBinaryArray.cs
  csharp/src/Apache.Arrow/Arrays/LargeListArray.cs
  csharp/src/Apache.Arrow/Arrays/LargeStringArray.cs
  csharp/src/Apache.Arrow/C/CArrowArrayImporter.cs
  csharp/src/Apache.Arrow/C/CArrowSchemaExporter.cs
  csharp/src/Apache.Arrow/C/CArrowSchemaImporter.cs
  csharp/src/Apache.Arrow/Ipc/ArrowReaderImplementation.cs
  csharp/src/Apache.Arrow/Ipc/ArrowStreamReaderImplementation.cs
  csharp/src/Apache.Arrow/Ipc/ArrowStreamWriter.cs
  csharp/src/Apache.Arrow/Ipc/ArrowTypeFlatbufferBuilder.cs
  csharp/src/Apache.Arrow/Ipc/MessageSerializer.cs
  csharp/src/Apache.Arrow/Types/IArrowType.cs
  csharp/src/Apache.Arrow/Types/LargeBinaryType.cs
  csharp/src/Apache.Arrow/Types/LargeListType.cs
  csharp/src/Apache.Arrow/Types/LargeStringType.cs
  csharp/test/Apache.Arrow.IntegrationTest/JsonFile.cs
  csharp/test/Apache.Arrow.Tests/ArrowReaderVerifier.cs
  csharp/test/Apache.Arrow.Tests/LargeBinaryArrayTests.cs
  csharp/test/Apache.Arrow.Tests/LargeListArrayTests.cs
  csharp/test/Apache.Arrow.Tests/LargeStringArrayTests.cs
  csharp/test/Apache.Arrow.Tests/TableTests.cs
  csharp/test/Apache.Arrow.Tests/TestData.cs
  dev/archery/archery/integration/datagen.py
  docs/source/status.rst
Labels: Component: C#, Component: Documentation, awaiting change review

#43324 MINOR: [Docs][Java] Add Apache Staging url to docs
  docs/source/developers/java/building.rst
  docs/source/java/install.rst
Labels: Component: Documentation, awaiting merge

#43326 GH-39789: [Go][Parquet] Close current row group when finished writing unbuffered batch
  go/parquet/pqarrow/file_writer.go
  go/parquet/pqarrow/file_writer_test.go
Labels: Component: Go, awaiting merge

#43294 GH-43284: [Release] Fix version detection timing for bump deb package names on post-12-bump-versions.sh script
  dev/release/post-12-bump-versions-test.rb
  dev/release/post-12-bump-versions.sh
Labels: awaiting review, awaiting merge

#43348 MINOR: [R] add back `dplyr::` to `left_join` calls
  r/R/dplyr-mutate.R
Labels: Component: R, awaiting committer review

#43345 GH-43319: [R][Docs] Update packaging checklist
  r/PACKAGING.md
Labels: Component: R, Component: Documentation, awaiting merge

#43344 MINOR: [R] Update NEWS.md for 17.0.0
  r/NEWS.md
Labels: Component: R, Component: Documentation, awaiting merge

#43347 GH-43346: [Docs][Format] Update broken links
  docs/source/format/Columnar.rst
Labels: Component: Documentation, awaiting merge

#43222 GH-43221: [C++][Parquet] Refactor parquet::encryption::AesEncryptor to use unique_ptr
  cpp/src/parquet/encryption/encryption_internal.cc
  cpp/src/parquet/encryption/encryption_internal.h
  cpp/src/parquet/encryption/encryption_internal_nossl.cc
  cpp/src/parquet/encryption/internal_file_decryptor.cc
  cpp/src/parquet/encryption/internal_file_encryptor.cc
  cpp/src/parquet/encryption/internal_file_encryptor.h
  cpp/src/parquet/metadata.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#41564 GH-40557: [C++] Use `PutObject` request for S3 in OutputStream when only uploading small data
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs.h
  cpp/src/arrow/filesystem/s3fs_test.cc
Labels: Component: C++, awaiting change review

#43330 GH-43329: [C++] Order classes in flight/types.h according to Flight.proto
  cpp/src/arrow/flight/types.cc
  cpp/src/arrow/flight/types.h
  format/Flight.proto
Labels: Component: C++, Component: FlightRPC, awaiting merge

#42174 GH-42102: [C++][Parquet] Add binary that extracts a footer from a parquet file
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/metadata.h
  cpp/tools/parquet/CMakeLists.txt
  cpp/tools/parquet/parquet_dump_footer.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#43308 MINOR: [Java] Bump org.mockito:mockito-junit-jupiter from 2.25.1 to 5.12.0 in /java
  java/pom.xml
Labels: Component: Java, awaiting review

#43309 MINOR: [Java] Bump org.apache.derby:derby from 10.14.2.0 to 10.15.2.0 in /java
  java/flight/flight-sql/pom.xml
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/sql/test/TestFlightSql.java
Labels: Component: Java, awaiting review

#43310 MINOR: [Java] Bump ch.qos.logback:logback-classic from 1.3.14 to 1.4.14 in /java
  java/pom.xml
  java/tools/pom.xml
Labels: Component: Java, awaiting review

#43376 GH-41951: [Java] Add @FormatMethod annotations
  java/memory/memory-core/pom.xml
  java/memory/memory-core/src/main/java/module-info.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/BaseAllocator.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/HistoricalLog.java
  java/pom.xml
Labels: Component: Java, awaiting merge

#43360 GH-43359: [Go][Parquet] ReadRowGroups panics with canceled context
  go/parquet/pqarrow/file_reader.go
  go/parquet/pqarrow/file_reader_test.go
  go/parquet/pqarrow/helpers.go
Labels: Component: Go, awaiting merge

#43375 GH-43393: [C++][Parquet] parquet-dump-footer: Remove redundant link and fix --debug processing
  cpp/src/parquet/metadata.cc
  cpp/tools/parquet/CMakeLists.txt
  cpp/tools/parquet/parquet_dump_footer.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#43397 GH-43396: [Java] Remove/replace jsr305
  java/flight/flight-core/src/main/java/module-info.java
  java/flight/flight-sql-jdbc-core/pom.xml
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/client/ArrowFlightSqlClientHandler.java
  java/memory/memory-core/pom.xml
  java/memory/memory-core/src/main/java/module-info.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/Accountant.java
  java/pom.xml
Labels: Component: Java, awaiting merge

#43395 GH-43394: [Java][Benchmarking] Fix Java benchmarks for Java 17+
  dev/archery/archery/integration/tester_java.py
  dev/archery/archery/lang/java.py
Labels: awaiting committer review

#43399 MINOR: [Python] Remove extra import from PyCapsule Interface Doc
  docs/source/format/CDataInterface/PyCapsuleInterface.rst
Labels: Component: Documentation, awaiting committer review

#43405 MINOR: [Java] Bump org.apache:apache from 31 to 33 in /java
  java/bom/pom.xml
  java/pom.xml
Labels: Component: Java, awaiting committer review

#43411 GH-43412: [Java][Benchmarking] Use JDK_JAVA_OPTIONS for JVM arguments
  dev/archery/archery/lang/java.py
  docs/source/java/install.rst
Labels: Component: Documentation, awaiting committer review

#43381 GH-43380: [Java] Add support for cross jdk version testing
  docs/source/developers/java/building.rst
  java/flight/flight-core/pom.xml
  java/flight/flight-sql-jdbc-driver/pom.xml
  java/flight/flight-sql/pom.xml
  java/memory/memory-core/pom.xml
  java/memory/memory-core/src/test/java/org/apache/arrow/memory/TestOpens.java
  java/memory/memory-netty/pom.xml
  java/pom.xml
  java/vector/pom.xml
Labels: Component: Java, Component: Documentation, awaiting merge

#43292 GH-43291: [C++] Expand the 'take' function tests to cover more chunked-array cases
  cpp/src/arrow/compute/kernels/vector_selection_test.cc
Labels: Component: C++, awaiting change review

#42086 GH-42085: [Python] Test FlightStreamReader iterator
  python/pyarrow/tests/test_flight.py
Labels: Component: Python, awaiting change review

#43335 GH-43169: [Swift] Add StructArray to ArrowReader
  swift/Arrow/Sources/Arrow/ArrowCImporter.swift
  swift/Arrow/Sources/Arrow/ArrowReader.swift
  swift/Arrow/Sources/Arrow/ArrowReaderHelper.swift
  swift/Arrow/Tests/ArrowTests/ArrayTests.swift
Labels: Component: Swift, awaiting merge

#43385 GH-43377: [Java][CI] Java-Jars CI is Failing with a linking error on macOS
  dev/tasks/java-jars/github.yml
Labels: awaiting committer review

#43342 GH-43340: [JS] Fix build on node v22 and fix `arrow2csv` bin extension
  js/gulp/closure-task.js
  js/gulp/package-task.js
  js/gulp/util.js
  js/package.json
  js/yarn.lock
Labels: Component: JavaScript, awaiting merge

#43430 GH-43429: [C++][FlightRPC] Fix Flight UCX build issues
  cpp/src/arrow/flight/transport/ucx/ucx_client.cc
  cpp/src/arrow/flight/transport/ucx/ucx_server.cc
Labels: Component: C++, Component: FlightRPC, awaiting committer review

#43157 GH-43228: [C++] Fix Abseil compile error on GCC 13
  ci/docker/ubuntu-24.04-cpp-minimal.dockerfile
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  dev/tasks/tasks.yml
  r/configure
Labels: Component: R, Component: C++, awaiting change review

#43351 GH-43349: [R] Fix altrep string columns from readr
  r/src/arrow_cpp11.h
  r/tests/testthat/test-csv.R
Labels: Component: R, awaiting change review

#43462 MINOR: [Java][CI] Update the order of commands in Java-Jars CI
  dev/tasks/java-jars/github.yml
Labels: awaiting review

#43436 GH-43437: [Java] Update protobuf from 3.25.1 to 3.25.4
  java/flight/flight-core/src/main/java/module-info.java
  java/flight/flight-sql/src/main/java/module-info.java
  java/gandiva/src/main/java/module-info.java
  java/pom.xml
Labels: Component: Java, awaiting review

#43431 GH-43432: [Java][Packaging] Clean up java-jars job
  dev/tasks/java-jars/github.yml
  java/bom/pom.xml
Labels: Component: Java, awaiting committer review

#43424 GH-43425: [Java] Upgrade JNI to version 10
  docs/source/java/cdata.rst
  java/adapter/orc/src/main/cpp/jni_wrapper.cpp
  java/c/src/main/cpp/jni_wrapper.cc
  java/dataset/src/main/cpp/jni_util.cc
  java/dataset/src/main/cpp/jni_wrapper.cc
  java/gandiva/src/main/cpp/jni_common.cc
Labels: Component: Java, Component: Documentation, awaiting committer review

#43448 GH-43447: [C++] FIlter out zero length buffers on gRPC transport
  cpp/src/arrow/flight/transport/grpc/serialization_internal.cc
Labels: Component: C++, Component: FlightRPC, awaiting merge

#43451 GH-43450: [CI] Temporarily turn off conda jobs that are failing
  dev/tasks/tasks.yml
Labels: awaiting merge

#43452 MINOR: [CI] Add jonkeane to codeowners
  .github/CODEOWNERS
Labels: awaiting merge

#43470 GH-43449: [CI][Conan] Don't push used images
  dev/tasks/docker-tests/github.linux.yml
  dev/tasks/tasks.yml
Labels: awaiting committer review

#43465 GH-43400: [C++] Ensure using bundled GoogleTest when we use bundled GoogleTest
  cpp/cmake_modules/BuildUtils.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  dev/tasks/java-jars/github.yml
Labels: Component: C++, awaiting committer review

#41646 GH-28866: [Java] Java Dataset API ScanOptions expansion
  java/dataset/src/main/cpp/jni_wrapper.cc
  java/dataset/src/main/java/org/apache/arrow/dataset/file/FileSystemDatasetFactory.java
  java/dataset/src/main/java/org/apache/arrow/dataset/file/JniWrapper.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/JniWrapper.java
  java/dataset/src/main/java/org/apache/arrow/dataset/jni/NativeDataset.java
  java/dataset/src/main/java/org/apache/arrow/dataset/scanner/FragmentScanOptions.java
  java/dataset/src/main/java/org/apache/arrow/dataset/scanner/ScanOptions.java
  java/dataset/src/main/java/org/apache/arrow/dataset/scanner/csv/CsvConvertOptions.java
  java/dataset/src/main/java/org/apache/arrow/dataset/scanner/csv/CsvFragmentScanOptions.java
  java/dataset/src/main/java/org/apache/arrow/dataset/utils/MapUtil.java
  java/dataset/src/test/java/org/apache/arrow/dataset/TestFragmentScanOptions.java
  java/dataset/src/test/resources/data/student.csv
Labels: Component: Java, awaiting merge

#43392 GH-43391: [Python] Add bindings for memory manager and device to Context class
  python/pyarrow/_cuda.pyx
  python/pyarrow/includes/libarrow_cuda.pxd
  python/pyarrow/tests/test_cuda.py
Labels: Component: Python, awaiting merge

#43311 MINOR: [Java] Bump com.puppycrawl.tools:checkstyle from 8.29 to 10.17.0 in /java
  java/.gitattributes
  java/dev/checkstyle/checkstyle.xml
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/VectorSchemaRootTransformer.java
  java/pom.xml
  java/vector/src/main/java/org/apache/arrow/vector/BaseFixedWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseLargeVariableWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthViewVector.java
  java/vector/src/main/java/org/apache/arrow/vector/ExtensionTypeVector.java
  java/vector/src/main/java/org/apache/arrow/vector/FieldVector.java
  java/vector/src/main/java/org/apache/arrow/vector/NullVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/BaseRepeatedValueVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/LargeListVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/ListVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/RepeatedValueVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/StructVector.java
Labels: Component: Java, awaiting merge

#43480 GH-43479: [Java] Change visibility of MemoryUtil.UNSAFE
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/consumer/ClobConsumer.java
  java/algorithm/src/main/java/org/apache/arrow/algorithm/sort/FixedWidthOutOfPlaceVectorSorter.java
  java/algorithm/src/main/java/org/apache/arrow/algorithm/sort/VariableWidthOutOfPlaceVectorSorter.java
  java/c/src/test/java/org/apache/arrow/c/ArrowArrayUtilityTest.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/ArrowBuf.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/ByteFunctionHelpers.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/MemoryUtil.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/hash/MurmurHasher.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/hash/SimpleHasher.java
  java/memory/memory-core/src/test/java/org/apache/arrow/memory/DefaultAllocationManagerFactory.java
  java/memory/memory-core/src/test/java/org/apache/arrow/memory/TestBaseAllocator.java
  java/memory/memory-core/src/test/java/org/apache/arrow/memory/TestForeignAllocation.java
  java/memory/memory-unsafe/src/main/java/org/apache/arrow/memory/unsafe/UnsafeAllocationManager.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseFixedWidthVector.java
  java/vector/src/main/java/org/apache/arrow/vector/BitVectorHelper.java
  java/vector/src/main/java/org/apache/arrow/vector/Decimal256Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/DecimalVector.java
  java/vector/src/main/java/org/apache/arrow/vector/util/DecimalUtility.java
  java/vector/src/main/java/org/apache/arrow/vector/util/VectorAppender.java
  java/vector/src/test/java/org/apache/arrow/vector/TestBitVectorHelper.java
Labels: Component: Java, awaiting merge

#43471 GH-43469: [Java] Change the default CompressionCodec.Factory to leverage compression support transparently
  java/compression/src/main/java/module-info.java
  java/compression/src/main/resources/META-INF/services/org.apache.arrow.vector.compression.CompressionCodec$Factory
  java/compression/src/test/java/org/apache/arrow/compression/TestCompressionCodecServiceProvider.java
  java/vector/src/main/java/module-info.java
  java/vector/src/main/java/org/apache/arrow/vector/VectorLoader.java
  java/vector/src/main/java/org/apache/arrow/vector/compression/CompressionCodec.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/ArrowFileReader.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/ArrowReader.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/ArrowStreamReader.java
Labels: Component: Java, awaiting merge

#43468 GH-43467: [C++] Add support for the official LZ4 CMake package
  cpp/cmake_modules/Findlz4Alt.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  dev/tasks/linux-packages/apache-arrow/apt/debian-bookworm/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/debian-trixie/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-focal/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-jammy/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-noble/Dockerfile
  dev/tasks/linux-packages/apache-arrow/debian/control.in
  dev/tasks/linux-packages/apache-arrow/debian/rules
Labels: Component: C++, awaiting committer review

#43047 GH-42014: [Python] Let StructArray.from_array accept a type in addition to names or fields
  python/pyarrow/array.pxi
  python/pyarrow/tests/test_array.py
Labels: Component: Python, awaiting merge

#43445 GH-43444: [C++] Add benchmark for binary view builder
  cpp/src/arrow/array/builder_binary.h
  cpp/src/arrow/builder_benchmark.cc
  cpp/src/arrow/util/binary_view_util.h
Labels: Component: C++, awaiting change review

#43484 GH-43443: [Go] [IPC] Infer schema from first record if not specified
  go/arrow/flight/flight_test.go
  go/arrow/ipc/writer.go
  go/arrow/ipc/writer_test.go
Labels: Component: Go, awaiting changes

#43498 MINOR: [R] Work around test failure in tidyquery revdep
  r/R/dplyr-eval.R
Labels: Component: R, awaiting changes
