Repository apache/arrow, pull requests merged in 2024-05, with the labels that each got.

#41461 GH-41463: [C++] Skip TestConcurrentFillFromScalar for platforms without threading support
  cpp/src/arrow/array/array_test.cc
Labels: Component: C++, awaiting committer review

#41411 GH-41410: [C++][FS][Azure][Docs] Add AzureFileSystem to Filesystems API reference
  cpp/src/arrow/filesystem/azurefs.h
  docs/source/cpp/api/filesystem.rst
Labels: Component: C++, Component: Documentation, awaiting merge

#41452 GH-41306: [C++] Check to avoid copying when NullBitmapBuffer is Null
  cpp/src/arrow/compute/kernels/scalar_cast_string.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
Labels: Component: C++, awaiting merge

#41466 GH-41470: [C++] Reuse deduplication logic for direct registration
  cpp/src/arrow/filesystem/filesystem.cc
  cpp/src/arrow/filesystem/localfs_test.cc
  dev/tasks/java-jars/github.yml
Labels: Component: C++, awaiting merge

#41492 GH-41491: [Python] remove special methods related to buffers in python <2.6
  python/pyarrow/io.pxi
Labels: Component: Python, awaiting merge

#41468 GH-41467: [CI][Release] Don't push conda-verify-rc image
  dev/tasks/verify-rc/github.linux.amd64.docker.yml
Labels: awaiting changes

#41297 GH-39798: [C++] Optimize Take for fixed-size types including nested fixed-size lists
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/kernels/vector_selection_filter_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_internal.h
  cpp/src/arrow/compute/kernels/vector_selection_take_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_test.cc
  cpp/src/arrow/util/CMakeLists.txt
  cpp/src/arrow/util/fixed_width_internal.cc
  cpp/src/arrow/util/fixed_width_internal.h
  cpp/src/arrow/util/fixed_width_test.cc
  cpp/src/arrow/util/fixed_width_test_util.h
Labels: Component: C++, awaiting change review

#41508 GH-35888: [Java] Add FlightStatusCode.RESOURCE_EXHAUSTED
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/CallStatus.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightStatusCode.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/grpc/StatusUtils.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/grpc/TestStatusUtils.java
Labels: Component: Java, awaiting merge

#41499 MINOR: Increase the open-pull-requests-limit for dependabot
  .github/dependabot.yml
Labels: awaiting merge

#41501 GH-41462: [CI] Temporary pin azurite to v3.29.0
  ci/scripts/install_azurite.sh
Labels: awaiting merge

#41504 GH-41385: [CI][MATLAB][Packaging] Add support for MATLAB `R2024a` in CI and crossbow packaging workflows
  .github/workflows/matlab.yml
  dev/tasks/matlab/github.yml
  matlab/src/matlab/+arrow/+internal/+test/+display/makeLinkString.m
  matlab/src/matlab/+arrow/+tabular/+internal/+display/getSchemaString.m
  matlab/tools/packageMatlabInterface.m
Labels: Component: MATLAB, awaiting merge

#41530 GH-41507: [MATLAB][CI] Pass `strict: true` to `matlab-actions/run-tests@v2`
  .github/workflows/matlab.yml
Labels: Component: Continuous Integration, awaiting change review

#41532 GH-41531: [MATLAB][Packaging] Bump `matlab-actions/setup-matlab` and `matlab-actions/run-command` from `v1` to `v2` in the `crossbow` job
  dev/tasks/matlab/github.yml
Labels: Component: MATLAB, Component: Packaging, awaiting merge

#41535 GH-41534: [Go] Fix mem leak importing 0 length C Array
  go/arrow/cdata/cdata.go
Labels: Component: Go, awaiting committer review

#41528 MINOR: add jbonofre in collaborators list
  .asf.yaml
Labels: awaiting merge

#41542 MINOR: [R] fix no visible global function definition: left_join
  r/R/dplyr-mutate.R
Labels: Component: R, awaiting review

#41544 MINOR: [Dev] Add zanmato1984 and ZhangHuiGui in collaborators list
  .asf.yaml
Labels: awaiting merge

#40998 GH-40997: [C++] Get null_bit_id according to are_cols_in_encoding_order in NullUpdateColumnToRow_avx2
  cpp/src/arrow/compute/CMakeLists.txt
  cpp/src/arrow/compute/row/compare_internal.cc
  cpp/src/arrow/compute/row/compare_internal.h
  cpp/src/arrow/compute/row/compare_internal_avx2.cc
  cpp/src/arrow/compute/row/grouper_test.cc
  cpp/src/arrow/compute/row/row_internal.cc
Labels: Component: C++, awaiting merge

#41093 GH-40560: [Python] RunEndEncodedArray.from_arrays: bugfix for Array arguments (#40560)
  python/pyarrow/array.pxi
  python/pyarrow/tests/test_array.py
Labels: Component: Python, awaiting merge

#41567 GH-41566: [CI][Packaging] macOS wheel for Catalina fails to build on macOS arm64
  dev/tasks/tasks.yml
Labels: awaiting merge

#41537 GH-41540: [R] Simplify arrow_eval() logic and bindings environments
  r/R/dplyr-arrange.R
  r/R/dplyr-eval.R
  r/R/dplyr-filter.R
  r/R/dplyr-funcs-agg.R
  r/R/dplyr-funcs.R
  r/R/dplyr-mutate.R
  r/R/dplyr-summarize.R
  r/R/udf.R
  r/man/register_binding.Rd
  r/tests/testthat/test-dataset-dplyr.R
  r/tests/testthat/test-dplyr-filter.R
  r/tests/testthat/test-dplyr-funcs.R
  r/tests/testthat/test-dplyr-summarize.R
  r/tests/testthat/test-udf.R
  r/vignettes/developers/writing_bindings.Rmd
Labels: Component: R, awaiting merge

#41550 GH-41431: [C++][Parquet][Dataset] Fix repeated scan on encrypted dataset
  cpp/src/arrow/dataset/file_parquet_encryption_test.cc
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/metadata.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#40971 GH-38770: [C++][Python] RecordBatch.filter() segfaults if passed a ChunkedArray
  cpp/src/arrow/compute/kernels/vector_selection_filter_internal.cc
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, awaiting merge

#40871 GH-40750: [C++][Python] Map child Array constructed from keys and items shouldn't have offset
  cpp/src/arrow/array/array_list_test.cc
  cpp/src/arrow/array/array_nested.cc
  python/pyarrow/tests/test_array.py
Labels: Component: C++, Component: Python, awaiting merge

#41592 GH-41435: [CI][MATLAB] Add job to build and test MATLAB Interface on `macos-14`
  .github/workflows/matlab.yml
Labels: Component: MATLAB, awaiting merge

#41595 GH-41594: [Go] Support reading `date64` type & properly validate list-like types
  go/arrow/csv/common.go
  go/arrow/csv/reader.go
  go/arrow/csv/reader_test.go
  go/arrow/csv/testdata/header.csv
  go/arrow/csv/testdata/types.csv
  go/arrow/csv/transformer.go
Labels: Component: Go, awaiting merge

#41589 MINOR: [Dev] Remove Dane from collaborators list
  .asf.yaml
Labels: awaiting committer review

#41455 GH-41430: [Docs] Use sphinxcontrib-mermaid instead of generating images from .mmd
  .github/workflows/docs.yml
  .github/workflows/docs_light.yml
  ci/conda_env_sphinx.txt
  ci/docker/linux-apt-docs.dockerfile
  ci/scripts/cpp_build.sh
  ci/scripts/integration_arrow.sh
  ci/scripts/java_build.sh
  ci/scripts/java_cdata_integration.sh
  ci/scripts/js_build.sh
  ci/scripts/js_test.sh
  ci/scripts/python_build.sh
  ci/scripts/r_build.sh
  dev/archery/archery/docker/core.py
  dev/archery/archery/integration/tester_java.py
  dev/archery/archery/integration/tester_js.py
  dev/tasks/tasks.yml
  docker-compose.yml
  docs/requirements.txt
  docs/source/conf.py
  docs/source/format/Flight.rst
  docs/source/format/Flight/DoExchange.mmd
  docs/source/format/Flight/DoExchange.mmd.svg
  docs/source/format/Flight/DoGet.mmd
  docs/source/format/Flight/DoGet.mmd.svg
  docs/source/format/Flight/DoPut.mmd
  docs/source/format/Flight/DoPut.mmd.svg
  docs/source/format/Flight/PollFlightInfo.mmd
  docs/source/format/Flight/PollFlightInfo.mmd.svg
  docs/source/format/FlightSql.rst
  docs/source/format/FlightSql/CommandGetTables.mmd
  docs/source/format/FlightSql/CommandGetTables.mmd.svg
  docs/source/format/FlightSql/CommandPreparedStatementQuery.mmd
  docs/source/format/FlightSql/CommandPreparedStatementQuery.mmd.svg
  docs/source/format/FlightSql/CommandStatementIngest.mmd
  docs/source/format/FlightSql/CommandStatementIngest.mmd.svg
  docs/source/format/FlightSql/CommandStatementQuery.mmd
  docs/source/format/FlightSql/CommandStatementQuery.mmd.svg
Labels: Component: Documentation, awaiting merge

#41257 GH-41256: [Format][Docs] Add a canonical extension type specification for JSON
  docs/source/format/CanonicalExtensions.rst
Labels: Component: Documentation, Component: Format, awaiting change review

#41299 GH-41298: [Format][Docs] Add a canonical extension type specification for UUID
  docs/source/format/CanonicalExtensions.rst
Labels: Component: Documentation, awaiting change review

#41574 GH-41573: [Java] VectorSchemaRoot uses inefficient stream to copy fieldVectors
  java/vector/src/main/java/org/apache/arrow/vector/VectorSchemaRoot.java
Labels: Component: Java, awaiting merge

#41377 GH-41356: [Release][Docs] Update post release documentation task to remove the warnings banner for stable version
  dev/release/post-08-docs.sh
Labels: awaiting merge

#39438 GH-39645: [Python] Fix read_table for encrypted parquet
  python/pyarrow/_dataset_parquet.pxd
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/_dataset_parquet_encryption.pyx
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_encryption.py
  python/pyarrow/tests/test_dataset_encryption.py
Labels: Component: Python, awaiting change review

#41180 GH-41179: [Docs] Documentation for Dissociated IPC Protocol
  docs/source/format/Columnar.rst
  docs/source/format/DissociatedIPC.rst
  docs/source/format/DissociatedIPC/ClientFlowchart.mmd
  docs/source/format/DissociatedIPC/SequenceDiagramSame.mmd
  docs/source/format/DissociatedIPC/SequenceDiagramSeparate.mmd
  docs/source/format/Flight.rst
  docs/source/format/index.rst
Labels: Component: Documentation, awaiting change review

#41380 GH-41529: [C++][Compute] Remove redundant logic for ArrayData as ExecResults in ExecScalarCaseWhen
  cpp/src/arrow/compute/kernels/scalar_if_else.cc
Labels: Component: C++, awaiting merge

#41601 GH-41590: [Java] Improve BaseRepeatedValueVector function on isEmpty and isNull operations
  java/vector/src/main/java/org/apache/arrow/vector/complex/BaseRepeatedValueVector.java
Labels: Component: Java, awaiting merge

#41378 GH-41316: [CI][Python] Reduce CI time on macOS
  .github/workflows/python.yml
Labels: awaiting review

#41345 GH-41343: [C++][CMake] Remove unused ARROW_NO_DEPRECATED_API
  ci/docker/debian-12-cpp.dockerfile
  ci/docker/linux-apt-r.dockerfile
  ci/docker/ubuntu-20.04-cpp-minimal.dockerfile
  ci/docker/ubuntu-20.04-cpp.dockerfile
  ci/docker/ubuntu-22.04-cpp-minimal.dockerfile
  ci/docker/ubuntu-22.04-cpp.dockerfile
  ci/docker/ubuntu-24.04-cpp.dockerfile
  ci/scripts/c_glib_build.sh
  ci/scripts/cpp_build.sh
  cpp/CMakeLists.txt
  cpp/cmake_modules/DefineOptions.cmake
  dev/conbench_envs/benchmarks.env
  docs/source/developers/cpp/building.rst
Labels: Component: C++, Component: Documentation, awaiting change review

#41622 GH-41617: [C++][CMake] Fix ARROW_USE_BOOST detect condition
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#41394 GH-40734: [Packaging][Debian] Drop support for Debian bullseye
  c_glib/meson.build
  dev/release/binary-task.rb
  dev/release/verify-apt.sh
  dev/release/verify-release-candidate.sh
  dev/tasks/linux-packages/apache-arrow-apt-source/apt/debian-bullseye/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/debian-bullseye-arm64/from
  dev/tasks/linux-packages/apache-arrow/apt/debian-bullseye/Dockerfile
  dev/tasks/linux-packages/package-task.rb
  dev/tasks/tasks.yml
  r/tools/nixlibs.R
Labels: Component: R, Component: GLib, awaiting changes

#41451 GH-41450: [R][CI] rhub/container follow ons
  .env
  .github/workflows/r.yml
  ci/docker/linux-r.dockerfile
  ci/scripts/java_jni_manylinux_build.sh
  ci/scripts/r_docker_configure.sh
  ci/scripts/r_sanitize.sh
  ci/scripts/r_test.sh
  dev/tasks/r/azure.linux.yml
  dev/tasks/r/github.packages.yml
  dev/tasks/tasks.yml
  docker-compose.yml
  r/tools/test-nixlibs.R
  r/tools/ubsan.supp
  r/vignettes/install.Rmd
Labels: Component: R, awaiting changes

#41627 GH-41626: [R][CI] Update OpenSUSE to 15.5 from 15.3
  dev/tasks/tasks.yml
Labels: awaiting committer review

#41606 GH-40944: [Java] Implement TypeEqualsVisitor for StringView
  java/vector/src/main/java/org/apache/arrow/vector/compare/TypeEqualsVisitor.java
  java/vector/src/test/java/org/apache/arrow/vector/compare/TestTypeEqualsVisitor.java
Labels: Component: Java, awaiting merge

#41632 MINOR: [C++][ORC][CMake] Fix ORC CMake args to use LZ4_STATIC_LIB
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting review

#41588 GH-41587: [Docs][Python] Remove duplicate contents
  docs/source/python/api/arrays.rst
  docs/source/python/api/compute.rst
Labels: Component: Documentation, awaiting committer review

#41362 GH-41361: [C++][Parquet] Optimize DelimitRecords by batch execution when max_rep_level > 1
  cpp/src/parquet/column_reader.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#41631 GH-41630: [Benchmarking] Fix out-of-source build in benchmarks
  dev/conbench_envs/hooks.sh
Labels: awaiting merge

#41495 GH-41464: [Python] Fix StructArray.sort() for by=None
  python/pyarrow/array.pxi
  python/pyarrow/tests/test_array.py
Labels: Component: Python, awaiting merge

#41330 GH-41329: [C++][Gandiva] Fix gandiva cache size env var
  cpp/src/gandiva/cache.cc
  cpp/src/gandiva/cache.h
  cpp/src/gandiva/cache_test.cc
  docs/source/cpp/env_vars.rst
Labels: Component: C++, Component: C++ - Gandiva, Component: Documentation, awaiting committer review

#41352 GH-33484: [C++][Compute] Implement `Grouper::Reset`
  cpp/src/arrow/acero/hash_aggregate_test.cc
  cpp/src/arrow/compute/row/grouper.cc
  cpp/src/arrow/compute/row/grouper.h
Labels: Component: C++, awaiting committer review

#41583 GH-34484: [Substrait] add an option to disable augmented fields
  cpp/src/arrow/acero/sink_node.cc
  cpp/src/arrow/dataset/discovery_test.cc
  cpp/src/arrow/dataset/file_parquet_test.cc
  cpp/src/arrow/dataset/scanner.cc
  cpp/src/arrow/dataset/scanner.h
  cpp/src/arrow/dataset/scanner_test.cc
  cpp/src/arrow/dataset/test_util_internal.h
  cpp/src/arrow/engine/substrait/relation_internal.cc
  cpp/src/arrow/engine/substrait/serde_test.cc
Labels: Component: C++, awaiting merge

#41614 GH-41149: [C++][Acero] Fix asof join race
  cpp/src/arrow/acero/asof_join_node.cc
  cpp/src/arrow/acero/asof_join_node_test.cc
Labels: Component: C++, Critical Fix, awaiting merge

#41335 GH-41334: [C++][Acero] Use per-node basis temp vector stack to mitigate overflow
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/acero/exec_plan.cc
  cpp/src/arrow/acero/hash_join_node.cc
  cpp/src/arrow/acero/hash_join_node_test.cc
  cpp/src/arrow/acero/query_context.cc
  cpp/src/arrow/acero/query_context.h
  cpp/src/arrow/acero/swiss_join.cc
  cpp/src/arrow/compute/key_hash_internal.h
  cpp/src/arrow/compute/key_hash_test.cc
  cpp/src/arrow/compute/key_map_internal.h
  cpp/src/arrow/compute/light_array_internal.h
  cpp/src/arrow/compute/light_array_test.cc
  cpp/src/arrow/compute/row/compare_internal.h
  cpp/src/arrow/compute/row/compare_test.cc
  cpp/src/arrow/compute/row/grouper.cc
  cpp/src/arrow/compute/util.cc
  cpp/src/arrow/compute/util.h
  cpp/src/arrow/compute/util_internal.cc
  cpp/src/arrow/compute/util_internal.h
Labels: Component: C++, awaiting merge

#41645 GH-41602: [C#] Resolve build warnings
  csharp/Directory.Build.props
  csharp/feather.png
  csharp/src/Apache.Arrow/Arrays/BinaryArray.cs
  csharp/src/Apache.Arrow/Arrays/Decimal256Array.cs
  csharp/src/Apache.Arrow/Memory/NativeMemoryManager.cs
  csharp/test/Apache.Arrow.Flight.Sql.Tests/FlightSqlServerTests.cs
  csharp/test/Apache.Arrow.Flight.Tests/FlightTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowArrayTests.cs
  csharp/test/Apache.Arrow.Tests/DurationArrayTests.cs
Labels: Component: C#, awaiting review

#41597 GH-41596: [C++] fixed_width_internal.h: Simplify docstring and support bit-sized types (BOOL)
  cpp/src/arrow/compute/kernels/vector_selection_filter_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_take_internal.cc
  cpp/src/arrow/util/fixed_width_internal.cc
  cpp/src/arrow/util/fixed_width_internal.h
  cpp/src/arrow/util/fixed_width_test.cc
Labels: Component: C++, awaiting committer review

#41655 GH-41653: [MATLAB] Add new `arrow.c.Array` MATLAB class which wraps a C Data Interface format `ArrowArray` C struct
  matlab/src/cpp/arrow/matlab/c/proxy/array.cc
  matlab/src/cpp/arrow/matlab/c/proxy/array.h
  matlab/src/cpp/arrow/matlab/proxy/factory.cc
  matlab/src/matlab/+arrow/+c/Array.m
  matlab/test/arrow/c/tArray.m
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
Labels: Component: MATLAB, awaiting change review

#41661 GH-41660: [CI][Java] Restore devtoolset relatead GANDIVA_CXX_FLAGS
  ci/scripts/java_jni_manylinux_build.sh
Labels: awaiting committer review

#41638 GH-41541: [Go][Parquet] Fix writer performance regression
  go/parquet/internal/encoding/types.go
Labels: Component: Go, awaiting changes

#41561 GH-41560: [C++] ChunkResolver: Implement ResolveMany and add unit tests
  cpp/src/arrow/chunk_resolver.cc
  cpp/src/arrow/chunk_resolver.h
  cpp/src/arrow/chunked_array_test.cc
  cpp/src/arrow/compute/kernels/vector_sort.cc
Labels: Component: C++, awaiting change review

#41657 GH-39204: [Format][FlightRPC][Docs] Stabilize Flight SQL
  cpp/src/arrow/flight/client.h
  cpp/src/arrow/flight/cookie_internal.cc
  cpp/src/arrow/flight/middleware.h
  cpp/src/arrow/flight/server.h
  cpp/src/arrow/flight/server_middleware.h
  cpp/src/arrow/flight/sql/server.cc
  cpp/src/arrow/flight/sql/server.h
  cpp/src/arrow/flight/sql/server_session_middleware.h
  cpp/src/arrow/flight/transport.h
  cpp/src/arrow/flight/types.h
  cpp/src/arrow/flight/types_async.h
  docs/source/cpp/api/flightsql.rst
  docs/source/format/FlightSql.rst
  docs/source/java/overview.rst
  format/FlightSql.proto
  java/flight/flight-core/pom.xml
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/ServerSessionMiddleware.java
  java/flight/flight-sql/pom.xml
Labels: Component: Java, Component: C++, Component: FlightRPC, Component: Documentation, awaiting merge

#41636 GH-40943: [Java] Implement RangeEqualsVisitor for StringView
  java/vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthViewVector.java
  java/vector/src/main/java/org/apache/arrow/vector/compare/RangeEqualsVisitor.java
  java/vector/src/test/java/org/apache/arrow/vector/compare/TestRangeEqualsVisitor.java
Labels: Component: Java, awaiting merge

#41612 GH-41611: [Docs][CI] Enable most sphinx-lint rules for documentation
  .pre-commit-config.yaml
  docs/source/conf.py
  docs/source/cpp/acero/developer_guide.rst
  docs/source/cpp/acero/overview.rst
  docs/source/cpp/acero/user_guide.rst
  docs/source/cpp/build_system.rst
  docs/source/cpp/compute.rst
  docs/source/developers/cpp/building.rst
  docs/source/developers/documentation.rst
  docs/source/developers/guide/step_by_step/arrow_codebase.rst
  docs/source/developers/guide/step_by_step/set_up.rst
  docs/source/developers/java/development.rst
  docs/source/developers/release.rst
  docs/source/format/CanonicalExtensions.rst
  docs/source/format/Columnar.rst
  docs/source/format/FlightSql.rst
  docs/source/format/Integration.rst
  docs/source/java/algorithm.rst
  docs/source/java/flight_sql_jdbc_driver.rst
  docs/source/java/install.rst
  docs/source/java/ipc.rst
  docs/source/java/quickstartguide.rst
  docs/source/java/substrait.rst
  docs/source/java/table.rst
  docs/source/python/api/compute.rst
  docs/source/python/data.rst
  docs/source/python/extending_types.rst
  docs/source/python/filesystems.rst
  docs/source/python/install.rst
  docs/source/python/integration/extending.rst
  docs/source/python/memory.rst
  docs/source/python/timestamps.rst
Labels: Component: Documentation, awaiting merge

#41494 GH-41480: [Python] Building PyArrow: enable/disable python components by default based on availability in Arrow C++
  ci/appveyor-cpp-build.bat
  python/CMakeLists.txt
  python/setup.py
Labels: Component: Python, awaiting change review

#40392 GH-40361: [C++] Make flatbuffers serialization more deterministic
  cpp/src/arrow/ipc/CMakeLists.txt
  cpp/src/arrow/ipc/message_internal_test.cc
  cpp/src/arrow/ipc/metadata_internal.cc
Labels: Component: C++, awaiting merge

#41135 GH-41105: [Python][Docs] Update PyArrow installation docs for conda package split
  docs/source/python/flight.rst
  docs/source/python/install.rst
Labels: Component: Documentation, awaiting merge

#41701 MINOR: [C++] Revert change in ipc/CMakeLists.txt
  cpp/src/arrow/ipc/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#41538 GH-38575: [Python] Include metadata when creating pa.schema from PyCapsule
  python/pyarrow/tests/test_types.py
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting merge

#41500 MINOR: [Python][Docs] Use CMake presets to simplify Python build installation
  docs/source/developers/python.rst
  docs/source/python/data.rst
Labels: Component: Documentation, awaiting changes

#41689 GH-41688: [Dev] Include all relevant CMakeLists.txt files in cmake-format precommit hook
  .pre-commit-config.yaml
  dev/archery/archery/utils/lint.py
Labels: awaiting merge

#41621 GH-41620: [Docs] Document merge.conf usage
  dev/README.md
Labels: Component: Documentation, awaiting committer review

#41712 GH-41711: [C++] macros.h: Fix ARROW_FORCE_INLINE for MSVC
  cpp/src/arrow/util/macros.h
Labels: Component: C++, awaiting committer review

#41575 GH-41558: [C++] Improve fixed_width_test_util.h
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/kernels/test_util.cc
  cpp/src/arrow/compute/kernels/vector_selection_test.cc
  cpp/src/arrow/testing/fixed_width_test_util.cc
  cpp/src/arrow/testing/fixed_width_test_util.h
  cpp/src/arrow/util/fixed_width_test_util.h
Labels: Component: C++, awaiting merge

#41695 GH-41460: [C++] Use ASAN to poison temp vector stack memory
  cpp/src/arrow/compute/util_internal.cc
  cpp/src/arrow/compute/util_internal.h
Labels: Component: C++, awaiting merge

#41739 GH-41735: [CI][Archery] Update archery to be compatible with pygit2 1.15 API change
  dev/archery/archery/crossbow/core.py
Labels: awaiting committer review

#41718 GH-41717: [Java][Vector] fix issue with ByteBuffer rewind in MessageSerializer
  java/vector/src/main/java/org/apache/arrow/vector/ipc/message/MessageSerializer.java
Labels: Component: Java, awaiting merge

#41746 GH-41738: [C++] Fix the issue that temp vector stack may be under sized
  cpp/src/arrow/compute/CMakeLists.txt
  cpp/src/arrow/compute/util_internal.cc
  cpp/src/arrow/compute/util_internal.h
  cpp/src/arrow/compute/util_internal_test.cc
Labels: Component: C++, awaiting review

#41704 GH-41699: [Python][Parquet] Implement to_dict method on SortingColumn
  python/pyarrow/_parquet.pyx
  python/pyarrow/tests/parquet/test_metadata.py
Labels: Component: Python, awaiting committer review

#41628 GH-41571: [Java] Revert GH-41307 (#41309)
  java/adapter/avro/pom.xml
  java/adapter/jdbc/pom.xml
  java/adapter/orc/pom.xml
  java/bom/pom.xml
  java/c/pom.xml
  java/dataset/pom.xml
  java/flight/flight-core/pom.xml
  java/flight/flight-integration-tests/pom.xml
  java/flight/flight-sql-jdbc-core/pom.xml
  java/flight/flight-sql-jdbc-driver/pom.xml
  java/flight/flight-sql/pom.xml
  java/format/pom.xml
  java/gandiva/pom.xml
  java/maven/module-info-compiler-maven-plugin/pom.xml
  java/maven/pom.xml
  java/memory/memory-core/pom.xml
  java/performance/pom.xml
  java/pom.xml
  java/tools/pom.xml
  java/vector/pom.xml
Labels: Component: Java, awaiting change review

#41346 GH-41321: [C++][Parquet] More strict Parquet level checking
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader.h
  cpp/src/parquet/column_reader_test.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#41413 GH-41389: [Python] Expose byte_width and bit_width of ExtensionType in terms of the storage type
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_extension_type.py
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting change review

#41036 GH-41035: [C++] Add a grouper benchmark for preventing performance regression
  cpp/src/arrow/compute/row/CMakeLists.txt
  cpp/src/arrow/compute/row/grouper_benchmark.cc
Labels: Component: C++, awaiting change review

#41629 GH-41426: [R][CI] Install CRAN style openssl on gh runners.
  dev/tasks/r/github.packages.yml
  r/inst/build_arrow_static.sh
Labels: Component: R, awaiting review

#40807 GH-40078: [C++] Import/Export ArrowDeviceArrayStream
  cpp/src/arrow/array/array_base.h
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/data.cc
  cpp/src/arrow/array/data.h
  cpp/src/arrow/array/util.cc
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/c/bridge.h
  cpp/src/arrow/c/bridge_test.cc
  cpp/src/arrow/c/helpers.h
  cpp/src/arrow/c/util_internal.h
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch.h
  python/pyarrow/tests/test_cffi.py
Labels: Component: C++, Component: Python, awaiting change review

#41759 GH-41748: [Python][Parquet] Update BYTE_STREAM_SPLIT description in write_table() docstring
  python/pyarrow/parquet/core.py
Labels: Component: Python, awaiting merge

#41761 GH-41760: [C++][Parquet] Add file metadata read/write benchmark
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/metadata_benchmark.cc
Labels: Component: Parquet, Component: C++, Component: Benchmarking, awaiting merge

#41727 GH-41726: [C++][Parquet] Minor: moving EncodedStats by default rather than copying
  cpp/src/parquet/arrow/writer.cc
  cpp/src/parquet/column_page.h
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_writer.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#41703 GH-41702: [C++][Parquet] Thrift: generate template method to accelerate reading thrift
  cpp/build-support/update-thrift.sh
  cpp/src/generated/parquet_types.cpp
  cpp/src/generated/parquet_types.h
  cpp/src/generated/parquet_types.tcc
  cpp/src/parquet/thrift_internal.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#41776 GH-41725: [Python] CMake: ignore Parquet encryption option if Parquet itself is not enabled (fix Java integration build)
  python/CMakeLists.txt
Labels: Component: Python, awaiting merge

#41781 GH-41783: [C++] Make git-dependent definitions internal
  .pre-commit-config.yaml
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/config.cc
  cpp/src/arrow/util/config.h.cmake
  cpp/src/arrow/util/config_internal.h.cmake
  dev/archery/archery/utils/lint.py
Labels: Component: C++, awaiting review

#41788 GH-41787: Update fmpp-maven-plugin output directory
  java/vector/pom.xml
Labels: Component: Java, awaiting merge

#41768 MINOR: [Python] Increase timeout in TestThreadedCSVTableRead::test_cancellation
  python/pyarrow/tests/test_csv.py
Labels: Component: Python, awaiting review

#41754 MINOR: [Python] try harder to set up s3_server fixture
  python/pyarrow/tests/conftest.py
Labels: Component: Python, awaiting review

#41477 GH-39858: [C++][Device] Add Copy/View slice functions to a CPU pointer
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/device.cc
  cpp/src/arrow/device.h
Labels: Component: C++, awaiting merge

#41716 GH-41720: [C++][Acero] Remove an useless parameter for QueryContext::Init called in hash_join_benchmark
  ci/scripts/cpp_build.sh
  cpp/src/arrow/acero/hash_join_benchmark.cc
  docker-compose.yml
Labels: Component: C++, awaiting committer review

#41187 GH-41186: [C++][Parquet][Doc] Denote PARQUET:field_id in parquet.rst
  docs/source/cpp/parquet.rst
Labels: Component: Documentation, awaiting committer review

#41793 GH-41780: [C++][Flight][Benchmark] Ensure waiting server ready
  cpp/src/arrow/flight/flight_benchmark.cc
Labels: Component: C++, Component: FlightRPC, awaiting merge

#41548 GH-41547: [C++] Thirdparty: Upgrade xsimd to 13.0.0
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting committer review

#41802 MINOR: [Docs][Python] Fixed a typo in dataset join docs
  docs/source/python/compute.rst
Labels: Component: Documentation, awaiting committer review

#41790 GH-41789: [Java] Clean up immutables and checkerframework dependencies
  java/adapter/avro/pom.xml
  java/adapter/jdbc/pom.xml
  java/adapter/orc/pom.xml
  java/algorithm/pom.xml
  java/c/pom.xml
  java/compression/pom.xml
  java/dataset/pom.xml
  java/flight/flight-core/pom.xml
  java/flight/flight-sql/pom.xml
  java/gandiva/pom.xml
  java/memory/memory-core/pom.xml
  java/memory/memory-core/src/main/java/module-info.java
  java/memory/memory-netty/pom.xml
  java/memory/memory-unsafe/pom.xml
  java/pom.xml
  java/tools/pom.xml
  java/vector/pom.xml
Labels: Component: Java, awaiting merge

#41796 GH-40930: [Java] Implement a function to retrieve reference buffers in StringView
  java/vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthViewVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestVectorReset.java
Labels: Component: Java, awaiting merge

#41800 GH-41799: [Java] Migrate to com.gradle:develocity-maven-extension
  .gitignore
  .mvn/develocity.xml
  .mvn/extensions.xml
  java/maven/module-info-compiler-maven-plugin/pom.xml
  java/pom.xml
Labels: Component: Java, awaiting review

#41785 GH-41686: [Java] Nullability of struct child vectors not preserved in TransferPair
  java/vector/src/main/codegen/templates/StructWriters.java
  java/vector/src/test/java/org/apache/arrow/vector/TestMapVector.java
Labels: Component: Java, awaiting merge

#41732 GH-41730: [Java] Adding variadicBufferCounts to RecordBatch
  java/c/src/main/java/org/apache/arrow/c/StructVectorLoader.java
  java/c/src/main/java/org/apache/arrow/c/StructVectorUnloader.java
  java/vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthViewVector.java
  java/vector/src/main/java/org/apache/arrow/vector/TypeLayout.java
  java/vector/src/main/java/org/apache/arrow/vector/VectorLoader.java
  java/vector/src/main/java/org/apache/arrow/vector/VectorUnloader.java
  java/vector/src/main/java/org/apache/arrow/vector/ViewVarCharVector.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/JsonFileReader.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/JsonFileWriter.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/message/ArrowRecordBatch.java
  java/vector/src/main/java/org/apache/arrow/vector/validate/ValidateVectorBufferVisitor.java
  java/vector/src/test/java/org/apache/arrow/vector/TestTypeLayout.java
  java/vector/src/test/java/org/apache/arrow/vector/TestVarCharViewVector.java
Labels: Component: Java, awaiting merge

#41805 MINOR: [CI] Only try to read vcpkg version from .env if it isn't specified
  ci/scripts/install_vcpkg.sh
Labels: awaiting review

#41752 GH-40933: [Java] Enhance the copyFrom* functionality in StringView
  java/vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthViewVector.java
  java/vector/src/main/java/org/apache/arrow/vector/types/Types.java
  java/vector/src/test/java/org/apache/arrow/vector/TestVarCharViewVector.java
Labels: Component: Java, awaiting change review

#41807 GH-41770: [CI][GLib] Remove temporary files explicitly
  c_glib/test/parquet/test-arrow-file-reader.rb
  c_glib/test/parquet/test-arrow-file-writer.rb
  c_glib/test/parquet/test-boolean-statistics.rb
  c_glib/test/parquet/test-byte-array-statistics.rb
  c_glib/test/parquet/test-column-chunk-metadata.rb
  c_glib/test/parquet/test-double-statistics.rb
  c_glib/test/parquet/test-file-metadata.rb
  c_glib/test/parquet/test-fixed-length-byte-array-statistics.rb
  c_glib/test/parquet/test-float-statistics.rb
  c_glib/test/parquet/test-int32-statistics.rb
  c_glib/test/parquet/test-int64-statistics.rb
  c_glib/test/parquet/test-row-group-metadata.rb
  c_glib/test/parquet/test-statistics.rb
Labels: Component: GLib, awaiting committer review

#41422 GH-41420: [R] Update NEWS.md for 16.1.0
  r/NEWS.md
Labels: Component: R, Component: Documentation, awaiting changes

#41750 GH-41749: [GLib] Allow getting a RecordBatchReader from a Dataset or Scanner
  c_glib/arrow-dataset-glib/dataset.cpp
  c_glib/arrow-dataset-glib/dataset.h
  c_glib/arrow-dataset-glib/scanner.cpp
  c_glib/arrow-dataset-glib/scanner.h
  c_glib/test/dataset/test-file-system-dataset.rb
  c_glib/test/dataset/test-scanner.rb
Labels: Component: GLib, awaiting change review

#41767 GH-41755: [C++][ORC] Ensure setting detected ORC version
  cpp/cmake_modules/FindorcAlt.cmake
Labels: Component: C++, awaiting merge

#41838 GH-41784: [Packaging][RPM] Use SO version for -libs package name
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
Labels: awaiting committer review

#41824 GH-41771: [C++] Iterator releases its resource immediately when it reads all values
  cpp/src/arrow/util/iterator.h
  cpp/src/arrow/util/iterator_test.cc
Labels: Component: C++

#41828 GH-41841: [R][CI] Remove more defunct rhub containers
  .github/workflows/r.yml
  ci/scripts/r_install_system_dependencies.sh
  ci/scripts/r_test.sh
  dev/tasks/r/github.linux.cran.yml
  r/Makefile
Labels: Component: R, awaiting committer review

#41814 MINOR: [C++] Slight improvement for ArrayData device_type
  cpp/src/arrow/array/data.cc
  cpp/src/arrow/array/data.h
Labels: Component: C++, awaiting committer review

#41866 MINOR: [Java] Fix develocity cache directory name in .gitignore
  .gitignore
Labels: awaiting committer review

#41342 GH-37938: [Swift] Add initial C data interface implementation
  ci/docker/ubuntu-swift.dockerfile
  dev/release/rat_exclude_files.txt
  swift/.swiftlint.yml
  swift/Arrow/Package.swift
  swift/Arrow/Sources/Arrow/ArrowArray.swift
  swift/Arrow/Sources/Arrow/ArrowBuffer.swift
  swift/Arrow/Sources/Arrow/ArrowCExporter.swift
  swift/Arrow/Sources/Arrow/ArrowCImporter.swift
  swift/Arrow/Sources/Arrow/ArrowReaderHelper.swift
  swift/Arrow/Sources/Arrow/ArrowSchema.swift
  swift/Arrow/Sources/Arrow/ArrowTable.swift
  swift/Arrow/Sources/Arrow/ArrowType.swift
  swift/Arrow/Sources/Arrow/ChunkedArray.swift
  swift/Arrow/Sources/ArrowC/ArrowCData.c
  swift/Arrow/Sources/ArrowC/include/ArrowCData.h
  swift/Arrow/Tests/ArrowTests/CDataTests.swift
  swift/Arrow/Tests/ArrowTests/IPCTests.swift
  swift/Arrow/Tests/ArrowTests/RecordBatchTests.swift
  swift/Arrow/Tests/ArrowTests/TableTests.swift
  swift/ArrowFlight/Package.swift
  swift/ArrowFlight/Tests/ArrowFlightTests/FlightTest.swift
  swift/CDataWGo/.gitignore
  swift/CDataWGo/Package.swift
  swift/CDataWGo/Sources/go-swift/CDataTest.swift
  swift/CDataWGo/go.mod
  swift/CDataWGo/go.sum
  swift/CDataWGo/include/go_swift.h
  swift/CDataWGo/main.go
Labels: Component: Swift, awaiting merge

#41859 GH-41679: [Release][Packaging][deb] Update package name in 01-preparesh too
  dev/release/01-prepare-test.rb
  dev/release/01-prepare.sh
  dev/release/post-11-bump-versions-test.rb
  dev/release/post-11-bump-versions.sh
  dev/release/test-helper.rb
  dev/release/utils-prepare.sh
Labels: awaiting merge

#41677 GH-41675: [Packaging][MATLAB] Add crossbow job to package MATLAB interface on macos-14
  dev/tasks/matlab/github.yml
  dev/tasks/matlab/rename_macos_dynamic_libraries.sh
Labels: awaiting merge

#41576 GH-41834: [R] Better error handling in dplyr code
  r/R/dplyr-across.R
  r/R/dplyr-arrange.R
  r/R/dplyr-datetime-helpers.R
  r/R/dplyr-eval.R
  r/R/dplyr-filter.R
  r/R/dplyr-funcs-agg.R
  r/R/dplyr-funcs-conditional.R
  r/R/dplyr-funcs-datetime.R
  r/R/dplyr-funcs-simple.R
  r/R/dplyr-funcs-string.R
  r/R/dplyr-funcs-type.R
  r/R/dplyr-mutate.R
  r/R/dplyr-slice.R
  r/R/dplyr-summarize.R
  r/R/dplyr.R
  r/man/arrow_not_supported.Rd
  r/tests/testthat/_snaps/dataset-dplyr.md
  r/tests/testthat/_snaps/dplyr-across.md
  r/tests/testthat/_snaps/dplyr-eval.md
  r/tests/testthat/_snaps/dplyr-funcs-datetime.md
  r/tests/testthat/_snaps/dplyr-mutate.md
  r/tests/testthat/_snaps/dplyr-query.md
  r/tests/testthat/_snaps/dplyr-summarize.md
  r/tests/testthat/helper-expectation.R
  r/tests/testthat/test-dataset-dplyr.R
  r/tests/testthat/test-dplyr-across.R
  r/tests/testthat/test-dplyr-collapse.R
  r/tests/testthat/test-dplyr-eval.R
  r/tests/testthat/test-dplyr-filter.R
  r/tests/testthat/test-dplyr-funcs-conditional.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
  r/tests/testthat/test-dplyr-funcs-string.R
  r/tests/testthat/test-dplyr-mutate.R
  r/tests/testthat/test-dplyr-summarize.R
  r/vignettes/developers/matchsubstringoptions.png
  r/vignettes/developers/starts_with_docs.png
  r/vignettes/developers/startswithdocs.png
  r/vignettes/developers/writing_bindings.Rmd
Labels: Component: R, Component: Documentation, awaiting merge

#41125 GH-41190: [C++] support for single threaded joins
  cpp/src/arrow/acero/CMakeLists.txt
  cpp/src/arrow/acero/asof_join_node.cc
  cpp/src/arrow/acero/sorted_merge_node.cc
Labels: Component: C++, awaiting change review

#41878 MINOR: [Swift] cleanup some go and C++ artifacts
  swift/Arrow/Sources/ArrowC/ArrowCData.c
  swift/Arrow/Sources/ArrowC/include/ArrowCData.h
  swift/CDataWGo/go.mod
  swift/CDataWGo/go.sum
Labels: Component: Swift, awaiting review

#41877 MINOR: [R] Remove writing_bindings from _pkgdown.yml
  r/_pkgdown.yml
Labels: Component: R, awaiting review

#41880 MINOR: [Java] Update develocity access key environment variable
  .github/workflows/java.yml
  .github/workflows/java_jni.yml
Labels: awaiting merge

#41861 GH-40932: [Java] Implement TransferPair functionality for StringView
  java/vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthViewVector.java
  java/vector/src/main/java/org/apache/arrow/vector/ViewVarCharVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestSplitAndTransfer.java
  java/vector/src/test/java/org/apache/arrow/vector/TestVarCharViewVector.java
Labels: Component: Java, awaiting committer review

#41837 GH-41836: [Java] Fix an undefined symbol error when ARROW_S3=OFF
  java/dataset/src/main/cpp/jni_wrapper.cc
Labels: Component: Java, awaiting change review

#41685 GH-41126: [Python] Basic bindings for Device and MemoryManager classes
  python/pyarrow/__init__.py
  python/pyarrow/device.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/io.pxi
  python/pyarrow/lib.pxd
  python/pyarrow/lib.pyx
  python/pyarrow/tests/test_device.py
  python/pyarrow/tests/test_misc.py
Labels: Component: Python, awaiting change review

#41757 GH-41684: [C++][Python] Add optional null_bitmap to MapArray::FromArrays
  cpp/src/arrow/array/array_list_test.cc
  cpp/src/arrow/array/array_nested.cc
  cpp/src/arrow/array/array_nested.h
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_array.py
Labels: Component: C++, Component: Python, awaiting merge
