Repository apache/arrow, pull requests merged in 2024-01, with the labels that each got.

#39353 GH-39051: [C++] Use Cast() instead of CastTo() for List Scalar in test
  cpp/src/arrow/compute/kernels/scalar_cast_nested.cc
  cpp/src/arrow/scalar_test.cc
Labels: Component: C++, awaiting change review

#39376 GH-39359: [CI][C++] Remove MinGW MINGW32 C++ job
  .github/workflows/cpp.yml
Labels: awaiting committer review

#39269 GH-39268: [C++] Don't install bundled Azure SDK for C++ with CMake 3.28+
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#39414 GH-39413: [C++][Parquet] Vectorize decode plain on FLBA
  cpp/src/parquet/encoding.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#39418 MINOR: [Docs] update date in NOTICE.txt
  NOTICE.txt
Labels: awaiting review

#39331 GH-39327: [Java] define assemble descriptor for new custom maven plugin project
  java/maven/pom.xml
Labels: Component: Java, awaiting merge

#39431 GH-39430: [C++][ORC] Upgrade ORC to 1.9.2
  cpp/thirdparty/versions.txt
  java/adapter/orc/pom.xml
Labels: Component: Java, Component: C++, awaiting review

#39256 GH-39255: [JS] Allow customization of schema when passing vectors to table constructor
  js/src/builder/largebinary.ts
  js/src/table.ts
  js/test/unit/table-tests.ts
Labels: Component: JavaScript, awaiting committer review

#39388 MINOR: [Docs] Add an empty line to make `.. code-block::` work correctly
  docs/source/developers/java/development.rst
Labels: Component: Documentation, awaiting review

#39426 GH-39425: [CI] Fix import to match new substrait repo structure
  ci/scripts/integration_substrait.sh
Labels: awaiting changes

#39242 GH-38458: [Go] Add ValueLen to BinaryLike interface
  go/arrow/array/binary.go
  go/arrow/array/string.go
Labels: Component: Go, awaiting committer review

#39396 GH-34316: [Python] FixedSizeListArray.from_arrays supports mask parameter
  cpp/src/arrow/array/array_nested.cc
  cpp/src/arrow/array/array_nested.h
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_array.py
Labels: Component: C++, Component: Python, awaiting merge

#39436 GH-39435: [JS] Add Vector.nullable
  js/src/table.ts
  js/src/util/chunk.ts
  js/src/vector.ts
  js/test/unit/table-tests.ts
Labels: Component: JavaScript, awaiting committer review

#39422 GH-39421: [CI][Ruby] Update to using Ubuntu 22.04 on test-ruby and test-c-glib nightly jobs
  dev/tasks/tasks.yml
Labels: awaiting changes

#38965 GH-38964: [C++] Fix spelling (compute)
  cpp/src/arrow/compute/api_aggregate.h
  cpp/src/arrow/compute/api_scalar.h
  cpp/src/arrow/compute/api_vector.h
  cpp/src/arrow/compute/exec.cc
  cpp/src/arrow/compute/exec_internal.h
  cpp/src/arrow/compute/exec_test.cc
  cpp/src/arrow/compute/kernels/aggregate_basic.cc
  cpp/src/arrow/compute/kernels/aggregate_basic_internal.h
  cpp/src/arrow/compute/kernels/aggregate_mode.cc
  cpp/src/arrow/compute/kernels/aggregate_quantile.cc
  cpp/src/arrow/compute/kernels/aggregate_test.cc
  cpp/src/arrow/compute/kernels/hash_aggregate.cc
  cpp/src/arrow/compute/kernels/scalar_arithmetic_benchmark.cc
  cpp/src/arrow/compute/kernels/scalar_arithmetic_test.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
  cpp/src/arrow/compute/kernels/scalar_if_else_test.cc
  cpp/src/arrow/compute/kernels/scalar_round.cc
  cpp/src/arrow/compute/kernels/scalar_string_internal.h
  cpp/src/arrow/compute/kernels/scalar_string_test.cc
  cpp/src/arrow/compute/kernels/scalar_temporal_test.cc
  cpp/src/arrow/compute/kernels/vector_run_end_encode.cc
  cpp/src/arrow/compute/kernels/vector_select_k.cc
  cpp/src/arrow/compute/kernels/vector_selection_test.cc
  cpp/src/arrow/compute/key_map.cc
  cpp/src/arrow/compute/key_map.h
  cpp/src/arrow/compute/key_map_avx2.cc
  cpp/src/arrow/compute/light_array.cc
  cpp/src/arrow/compute/light_array_test.cc
  cpp/src/arrow/compute/ordering.h
  cpp/src/arrow/compute/registry_test.cc
  cpp/src/arrow/compute/row/grouper.cc
  cpp/src/arrow/compute/row/grouper.h
Labels: Component: C++, awaiting committer review

#39098 GH-37848: [C++][Gandiva] Migrate LLVM JIT engine from MCJIT to ORC v2/LLJIT
  cpp/cmake_modules/FindLLVMAlt.cmake
  cpp/src/gandiva/configuration.h
  cpp/src/gandiva/engine.cc
  cpp/src/gandiva/engine.h
  cpp/src/gandiva/engine_llvm_test.cc
  cpp/src/gandiva/filter.cc
  cpp/src/gandiva/filter.h
  cpp/src/gandiva/llvm_generator.cc
  cpp/src/gandiva/llvm_generator.h
  cpp/src/gandiva/llvm_generator_test.cc
  cpp/src/gandiva/projector.cc
  cpp/src/gandiva/projector.h
  cpp/src/gandiva/tests/micro_benchmarks.cc
  cpp/src/gandiva/tests/test_util.cc
  cpp/src/gandiva/tests/test_util.h
  python/pyarrow/gandiva.pyx
  python/pyarrow/includes/libgandiva.pxd
  python/pyarrow/tests/test_gandiva.py
Labels: Component: C++, Component: Python, Component: C++ - Gandiva, awaiting merge

#39442 GH-39114: [JS] Fix Example Code
  js/examples/read_file.html
Labels: Component: JavaScript, awaiting change review

#39448 GH-39384: [C++] Disable -Werror=attributes for Azure SDK's identity.hpp
  cpp/src/arrow/filesystem/azurefs.cc
Labels: Component: C++, awaiting merge

#39153 PARQUET-2411: [C++][Parquet] Allow reading dictionary without reading data via ByteArrayDictionaryRecordReader
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader.h
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/file_reader.h
  cpp/src/parquet/reader_test.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#39464 GH-39433: [Ruby] Add support for Table.load(format: json) options
  ruby/red-arrow/lib/arrow/table-loader.rb
  ruby/red-arrow/test/helper.rb
  ruby/red-arrow/test/test-table.rb
Labels: Component: Ruby, awaiting committer review

#39452 MINOR: [Java] Bump com.google.errorprone:error_prone_core from 2.4.0 to 2.24.0 in /java
  java/pom.xml
  java/vector/src/test/java/org/apache/arrow/vector/complex/writer/TestComplexWriter.java
Labels: Component: Java, awaiting merge

#39420 GH-39419: [C++][Parquet] Style: Using arrow::Buffer data_as api rather than reinterpret_cast
  cpp/src/parquet/encoding.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#39473 GH-39048: [JS] Re-export existing type enums
  js/src/enum.ts
Labels: Component: JavaScript, awaiting committer review

#39260 GH-39259: [JS] Remove getByteLength
  js/src/recordbatch.ts
  js/src/table.ts
  js/src/vector.ts
  js/src/visitor/bytelength.ts
  js/test/unit/table-tests.ts
Labels: Component: JavaScript, awaiting committer review

#39367 GH-39366: [JS] Add largeUtf8 to benchmark
  js/perf/config.ts
Labels: Component: JavaScript, awaiting committer review

#39470 GH-39047: [JS] Enable test for generate_primitive_large_offsets_case
  dev/archery/archery/integration/datagen.py
Labels: awaiting committer review

#39475 GH-39289: [JS] Add types to exports
  js/gulp/arrow-task.js
  js/gulp/package-task.js
Labels: Component: JavaScript, awaiting changes

#39450 GH-39449: [C++] Use default Azure credentials implicitly and support anonymous credentials explicitly
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting change review

#39164 GH-39163: [C++] Add missing data copy in StreamDecoder::Consume(data)
  cpp/src/arrow/ipc/message.cc
  cpp/src/arrow/ipc/read_write_test.cc
Labels: Component: C++, awaiting changes

#39228 GH-39225: [GLib] Use Cast() instaed of CastTo
  c_glib/arrow-glib/scalar.cpp
Labels: Component: GLib, awaiting change review

#39324 GH-39303: [Archery][Benchmarking] Allow setting C++ repetition min time
  .github/workflows/archery.yml
  dev/archery/archery/benchmark/google.py
  dev/archery/archery/benchmark/runner.py
  dev/archery/archery/cli.py
  dev/archery/archery/tests/test_benchmarks.py
  dev/archery/requirements-test.txt
Labels: awaiting merge

#39362 GH-39049: [C++] Use Cast() instead of CastTo() for Dictionary Scalar in test
  cpp/src/arrow/compute/kernels/scalar_cast_dictionary.cc
  cpp/src/arrow/dataset/partition_test.cc
  cpp/src/arrow/scalar_test.cc
Labels: Component: C++, awaiting merge

#39499 GH-39469: [CI][JS] Force node 20 on JS build on arm64 to fix build issues
  dev/tasks/verify-rc/github.macos.arm64.yml
Labels: awaiting merge

#38321 GH-38341: [Python] Remove usage of pandas internals DatetimeTZBlock
  python/pyarrow/pandas_compat.py
Labels: Component: Python, awaiting committer review

#39272 GH-30117: [C++][Python] Add "Z" to the end of timestamp print string when tz defined
  cpp/src/arrow/pretty_print_test.cc
  cpp/src/arrow/util/formatting.h
  cpp/src/arrow/util/formatting_util_test.cc
  python/pyarrow/tests/test_types.py
Labels: Component: C++, Component: Python, awaiting change review

#39356 GH-39355: [Java] Improve JdbcConsumer exceptions
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/ArrowVectorIterator.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowUtils.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/consumer/CompositeJdbcConsumer.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/consumer/exceptions/JdbcConsumerException.java
Labels: Component: Java, awaiting merge

#39065 GH-39064: [C++][Parquet] Support row group filtering for nested paths for struct fields
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/src/arrow/dataset/file_parquet.h
  cpp/src/arrow/dataset/file_parquet_test.cc
  python/pyarrow/tests/test_dataset.py
Labels: Component: C++, Component: Python, awaiting change review

#39218 GH-39217: [Python] RecordBatchReader.from_stream constructor for objects implementing the Arrow PyCapsule protocol
  python/pyarrow/ipc.pxi
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_ipc.py
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting change review

#38520 GH-33500: [Python] add `Table.to/from_struct_array`
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting change review

#39485 GH-39484: [Java] Support 256 bit decimals in JdbcToArrowUtils
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowUtils.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/consumer/Decimal256Consumer.java
Labels: Component: Java, awaiting committer review

#39498 GH-39437: [CI][Python] Update pandas tests failing on pandas nightly CI build
  python/pyarrow/tests/parquet/test_pandas.py
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting change review

#39160 GH-38663: [C++] Add support for service-specific endpoint for S3 using `AWS_ENDPOINT_URL_S3`
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs_test.cc
  docs/source/cpp/env_vars.rst
Labels: Component: C++, Component: Documentation, awaiting committer review

#39347 GH-39309: [Go][Parquet] handle nil bitWriter for DeltaBinaryPacked
  go/parquet/internal/encoding/delta_bit_packing.go
  go/parquet/pqarrow/encode_arrow_test.go
Labels: Component: Go, awaiting committer review

#39514 MINOR: [R] Default to bundled re2 build
  r/inst/build_arrow_static.sh
Labels: Component: R, Priority: Blocker, awaiting merge

#39481 GH-39385: [C++] Use more permissable return code for rename
  cpp/src/arrow/filesystem/localfs.cc
Labels: Component: C++, awaiting merge

#39397 GH-39398: [C++][Parquet] Use std::count in ColumnReader ReadLevels
  cpp/src/parquet/column_reader.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#39522 GH-39517: [C++] Disable parallelism for jemalloc external project
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting changes

#39314 GH-39313: [Python] Fix race condition in _pandas_api#_check_import
  python/pyarrow/pandas-shim.pxi
  python/pyarrow/tests/arrow_39313.py
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting committer review

#39534 GH-39531: [Python][CI] Skip failing dask tests: test_describe_empty and test_view
  ci/scripts/integration_dask.sh
Labels: awaiting merge

#37723 GH-37286: [Java] Start adding nullability/nullness annotations
  java/memory/memory-core/pom.xml
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/Accountant.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/AllocationManager.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/AllocationOutcome.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/AllocationOutcomeDetails.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/ArrowBuf.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/BaseAllocator.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/BufferAllocator.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/BufferLedger.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/DefaultAllocationManagerOption.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/LowCostIdentityHashMap.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/ArrowBufPointer.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/HistoricalLog.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/MemoryUtil.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/StackTrace.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/hash/MurmurHasher.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/hash/SimpleHasher.java
  java/memory/memory-core/src/main/java/org/apache/arrow/util/Preconditions.java
  java/pom.xml
Labels: Component: Java, awaiting merge

#39497 GH-35718: [Go][Parquet] Fix for null-only encoding panic
  go/parquet/internal/encoding/delta_byte_array.go
  go/parquet/pqarrow/encode_arrow_test.go
Labels: Component: Go, awaiting changes

#39491 GH-39489: [C++][Parquet] ConvertedType TIME and TIMESTAMP should imply adjustedToUtc
  cpp/src/parquet/arrow/arrow_schema_test.cc
  cpp/src/parquet/arrow/schema.cc
  cpp/src/parquet/arrow/schema_internal.cc
  cpp/src/parquet/types.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#39538 GH-39537: [Packaging][Python] Add a numpy<2 pin to the install requirements for the 15.x release branch
  python/setup.py
Labels: Component: Python, Component: Packaging, awaiting merge

#39535 GH-39533: [Python] NumPy 2.0 compat: remove usage of np.core
  python/pyarrow/pandas_compat.py
Labels: Component: Python, awaiting changes

#39547 MINOR: [R][Docs] Fix geoarrrow url in NEWS.md
  r/NEWS.md
Labels: Component: R, Component: Documentation

#39516 GH-39515: [Python] Pass in type to `MapType.from_arrays`
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_array.py
Labels: Component: Python, awaiting merge

#39551 MINOR: [Ruby][Gandiva][Docs] Fix syntax error in example
  ruby/red-gandiva/README.md
Labels: Component: Ruby, Component: C++ - Gandiva, Component: Documentation, awaiting merge

#38963 GH-38962: [C++] Fix spelling (array)
  cpp/src/arrow/array/array_binary.h
  cpp/src/arrow/array/array_dict.h
  cpp/src/arrow/array/array_dict_test.cc
  cpp/src/arrow/array/array_list_test.cc
  cpp/src/arrow/array/array_nested.cc
  cpp/src/arrow/array/array_run_end.h
  cpp/src/arrow/array/array_struct_test.cc
  cpp/src/arrow/array/builder_base.h
  cpp/src/arrow/array/builder_nested.h
  cpp/src/arrow/array/data.cc
Labels: Component: C++, awaiting committer review

#39271 GH-39270: [C++] Avoid creating memory manager instance for every buffer view/copy
  cpp/src/arrow/device.cc
  cpp/src/arrow/ipc/message.cc
Labels: Component: C++, awaiting change review

#39428 GH-39427: [GLib] Update script and documentation
  c_glib/README.md
  c_glib/test/run-test.sh
Labels: Component: GLib, Component: Documentation, awaiting change review

#39358 GH-39233: [Compute] Add some duration kernels
  cpp/src/arrow/compute/kernels/scalar_arithmetic.cc
  cpp/src/arrow/compute/kernels/scalar_compare.cc
  cpp/src/arrow/compute/kernels/scalar_compare_test.cc
  cpp/src/arrow/compute/kernels/scalar_temporal_test.cc
  cpp/src/arrow/compute/kernels/scalar_validity.cc
  cpp/src/arrow/compute/kernels/scalar_validity_test.cc
  docs/source/cpp/compute.rst
Labels: Component: C++, Component: Documentation, awaiting committer review

#39349 GH-38833: [C++] Avoid hash_mean overflow
  cpp/src/arrow/acero/hash_aggregate_test.cc
  cpp/src/arrow/compute/kernels/hash_aggregate.cc
Labels: Component: C++, awaiting committer review

#39550 GH-39549: [C++] Pass -jN to make in external projects
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting merge

#39526 GH-39525: [C++][Parquet] Pass memory pool to decoders
  cpp/src/parquet/column_reader.cc
Labels: Component: Parquet, Component: C++, awaiting changes

#39245 GH-39231: [C++][Compute] Add binary_slice kernel for fixed size binary
  cpp/src/arrow/compute/kernels/scalar_string_ascii.cc
  cpp/src/arrow/compute/kernels/scalar_string_internal.h
  cpp/src/arrow/compute/kernels/scalar_string_test.cc
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, awaiting committer review

#39380 GH-37164: [Python] Attach Python stacktrace to errors in `ConvertPyError`
  python/pyarrow/src/arrow/python/common.cc
  python/pyarrow/src/arrow/python/python_test.cc
  python/pyarrow/tests/test_cffi.py
Labels: Component: Python, awaiting changes

#38995 GH-38997: [Java] Modularize format and vector
  java/dataset/src/test/java/org/apache/arrow/dataset/TestAllTypes.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/FlightTestUtil.java
  java/format/src/main/java/module-info.java
  java/vector/pom.xml
  java/vector/src/main/codegen/includes/vv_imports.ftl
  java/vector/src/main/java/module-info.java
  java/vector/src/test/java/org/apache/arrow/vector/util/ArrowTestDataUtil.java
  java/vector/src/test/java/org/apache/arrow/vector/util/TestSchemaUtil.java
Labels: Component: Java, awaiting merge

#39502 GH-38470: [CI][Integration] Install jpype and build JNI c-data to run integration tests
  dev/archery/archery/integration/tester_java.py
  dev/archery/setup.py
  dev/release/verify-release-candidate.sh
Labels: awaiting merge

#39524 GH-39523: [R] Don't override explicitly set NOT_CRAN=false when on dev version
  r/tools/nixlibs.R
Labels: Component: R, awaiting merge

#39561 GH-39558: [Java] Add SQL_ALL_TABLES_ARE_SELECTABLE, SQL_NULL_ORDERING and SQL_MAX_COLUMNS_IN_TABLE support to SqlInfoBuilder
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/SqlInfoBuilder.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/TestFlightSql.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/sql/example/FlightSqlExample.java
Labels: Component: Java, awaiting changes

#39580 GH-39564: [CI][Java] Set correct version on Java BOM
  dev/tasks/java-jars/github.yml
Labels: awaiting merge

#39520 GH-39519: [Swift] Fix null count when using reader
  swift/Arrow/Sources/Arrow/ArrowReader.swift
  swift/Arrow/Sources/Arrow/ArrowReaderHelper.swift
  swift/Arrow/Tests/ArrowTests/IPCTests.swift
  swift/Arrow/Tests/ArrowTests/RecordBatchTests.swift
Labels: Component: Swift, awaiting review

#39589 GH-39588: [CI][Go] Add CGO_ENABLED=1 to cdata_integration build to fix macOS build with conda
  dev/release/verify-release-candidate.sh
Labels: awaiting merge

#39505 GH-39504: [Docs] Update footer in main sphinx docs with correct attribution
  docs/source/conf.py
Labels: Component: Documentation, awaiting changes

#39610 MINOR: [CI] Update allowed_roles for crossbow submission
  dev/archery/archery/bot.py
Labels: Component: Continuous Integration

#39602 GH-39601: [R] Don't download cmake when TEST_OFFLINE_BUILD=true
  r/DESCRIPTION
  r/tools/nixlibs.R
  r/vignettes/developers/setup.Rmd
Labels: Component: R, awaiting change review

#39587 GH-39584: [R] fallback to source gracefully
  r/inst/build_arrow_static.sh
  r/tools/nixlibs.R
Labels: Component: R, awaiting changes

#39625 GH-39624: [R][CI] Add CMake to docker file and update envvars
  ci/scripts/r_docker_configure.sh
  docker-compose.yml
Labels: awaiting committer review

#39607 GH-39604: [JS] Do not use resizable buffers yet
  js/src/builder/buffer.ts
Labels: Component: JavaScript, awaiting committer review

#39605 GH-39598: [C#] Fix verification script
  dev/release/verify-release-candidate.sh
Labels: awaiting merge

#39632 GH-39562: [C++][Parquet] Fix crash in test_parquet_dataset_lazy_filtering
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/src/arrow/dataset/file_parquet.h
Labels: Component: C++, awaiting committer review

#39629 GH-39628: [C++] Use -j1 for cmake >= 3.28
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting changes

#39606 GH-39577: [C++] Fix tail-word access cross buffer boundary in `CompareBinaryColumnToRow`
  cpp/src/arrow/compute/CMakeLists.txt
  cpp/src/arrow/compute/row/compare_internal.cc
  cpp/src/arrow/compute/row/compare_test.cc
Labels: Component: C++, awaiting committer review

#39627 GH-39626: [Docs][R] Update NEWS.md for 15.0.0
  r/NEWS.md
Labels: Component: R, Component: Documentation, awaiting change review

#39609 GH-36412: [Python][CI] Fix extra deprecation warnings in the pandas nightly build
  python/pyarrow/pandas_compat.py
  python/pyarrow/tests/parquet/test_datetime.py
  python/pyarrow/tests/test_compute.py
  python/pyarrow/tests/test_dataset.py
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting merge

#39636 GH-39599: [Python] Avoid leaking references to Numpy dtypes
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow_python.pxd
  python/pyarrow/src/arrow/python/inference.cc
  python/pyarrow/src/arrow/python/numpy_convert.cc
  python/pyarrow/src/arrow/python/numpy_convert.h
  python/pyarrow/src/arrow/python/numpy_to_arrow.cc
  python/pyarrow/src/arrow/python/python_to_arrow.cc
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting review

#39337 GH-39336: [C++][Parquet] Minor: Style enhancement for parquet::FileMetaData
  cpp/src/arrow/util/bit_stream_utils.h
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/metadata.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#39655 GH-39654: [Java] Upgrade to Netty 4.1.105.Final
  java/pom.xml
Labels: Component: Java, awaiting review

#39391 GH-39390: [C++] Thirdparty: bump default zlib to 1.3
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting committer review

#39658 GH-39640: [Docs] Pin pydata-sphinx-theme to 0.14.1
  ci/conda_env_sphinx.txt
  docs/requirements.txt
Labels: Component: Documentation, awaiting merge

#39585 GH-39583: [C++] Fix the issue of ExecBatchBuilder when appending consecutive tail rows with the same id may exceed buffer boundary (for fixed size types)
  cpp/src/arrow/compute/light_array.cc
  cpp/src/arrow/compute/light_array_test.cc
Labels: Component: C++, awaiting committer review

#39576 GH-39552: [Go] inclusion of option to use replacer when creating csv strings with go library
  go/arrow/csv/common.go
  go/arrow/csv/transformer.go
  go/arrow/csv/writer.go
  go/arrow/csv/writer_test.go
Labels: Component: Go, awaiting merge

#39657 GH-39656: [Release] Update platform tags for macOS wheels to macosx_10_15
  dev/release/verify-release-candidate.sh
Labels: awaiting merge

#39684 GH-39683: [Release] Use temporary direction with TEST_BINARY=1
  dev/release/verify-release-candidate.sh
Labels: awaiting committer review

#39383 GH-39332: [C++] Explicit error in ExecBatchBuilder when appending var length data exceeds offset limit (int32 max)
  cpp/src/arrow/compute/light_array.cc
  cpp/src/arrow/compute/light_array.h
  cpp/src/arrow/compute/light_array_test.cc
  cpp/src/arrow/testing/generator.cc
Labels: Component: C++, awaiting committer review

#39467 GH-39466: [Go][Parquet] Align Arrow and Parquet Timestamp Instant/Local Semantics
  go/arrow/array/timestamp.go
  go/arrow/array/timestamp_test.go
  go/arrow/datatype_fixedwidth.go
  go/parquet/pqarrow/encode_arrow_test.go
  go/parquet/pqarrow/schema.go
  go/parquet/pqarrow/schema_test.go
Labels: Component: Go, awaiting committer review

#39674 GH-39672: [Go] Time to Date32/Date64 conversion issues for non-UTC timezones
  go/arrow/compute/internal/kernels/cast_temporal.go
  go/arrow/datatype_fixedwidth.go
  go/arrow/datatype_fixedwidth_test.go
Labels: Component: Go, awaiting merge

#39575 GH-39574: [Go] Enable PollFlightInfo in Flight RPC
  go/arrow/flight/flightsql/client.go
  go/arrow/flight/flightsql/server.go
  go/arrow/flight/flightsql/server_test.go
Labels: Component: Go, awaiting merge

#39699 GH-39697: [R] Source build should check if offline
  dev/tasks/r/github.linux.offline.build.yml
  dev/tasks/tasks.yml
  r/NEWS.md
  r/configure
  r/tools/nixlibs.R
  r/vignettes/developers/setup.Rmd
Labels: Component: R, Component: Documentation, awaiting merge

#39726 MINOR: [C#] Update copyright year on built assembly
  csharp/Directory.Build.props
Labels: Component: C#, awaiting review

#39717 GH-39702: [GLib] Add support for time zone in GArrowTimestampDataType
  c_glib/arrow-glib/basic-data-type.cpp
  c_glib/arrow-glib/basic-data-type.h
  c_glib/arrow-glib/version.h.in
  c_glib/doc/arrow-glib/arrow-glib-docs.xml
  c_glib/test/test-timestamp-data-type.rb
Labels: Component: GLib, awaiting committer review

#39733 GH-39706: [Archery] Fix `benchmark diff` subcommand
  dev/archery/archery/benchmark/runner.py
  dev/archery/archery/cli.py
Labels: awaiting committer review

#38276 GH-35369: [Docs] Add a missing space after ref:`IPC format <format-ipc>`
  docs/source/format/Glossary.rst
Labels: Component: Documentation, awaiting change review

#39719 GH-39718: [C++][FS][Azure] Remove StatusFromErrorResponse as it's not necessary
  cpp/src/arrow/filesystem/azurefs.cc
Labels: Component: C++, awaiting merge

#39748 GH-39747: [C++][Parquet] Make BYTE_STREAM_SPLIT routines type-agnostic
  cpp/src/arrow/util/byte_stream_split_internal.h
  cpp/src/arrow/util/byte_stream_split_test.cc
  cpp/src/parquet/encoding.cc
  cpp/src/parquet/encoding_benchmark.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#39736 MINOR: Revert "GH-39628: [C++] Use -j1 for cmake >= 3.28"
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting merge

#39757 MINOR: [Docs] Fix formatting of note on Device data interface docs
  docs/source/format/CDeviceDataInterface.rst
Labels: Component: Documentation, awaiting committer review

#39360 GH-38655: [C++] "iso_calendar" kernel returns incorrect results for array length > 32
  cpp/src/arrow/compute/kernels/scalar_temporal_unary.cc
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, awaiting merge

#39764 GH-39666: [C++] Ensure CSV and JSON benchmarks present a bytes/s or items/s metric
  cpp/src/arrow/csv/writer_benchmark.cc
Labels: Component: C++, awaiting committer review

#39766 GH-39667: [C++] Ensure dataset benchmarks present a bytes/s or items/s metric
  cpp/src/arrow/dataset/file_benchmark.cc
Labels: Component: C++, awaiting merge

#39750 GH-39761: [Docs] Link to Go documentation references outdated documentation from 2018
  dev/release/post-11-bump-versions-test.rb
  dev/release/utils-prepare.sh
  docs/source/index.rst
  r/_pkgdown.yml
Labels: Component: R, Component: Documentation, awaiting change review

#39760 GH-39732: [Python][CI] Fix test failures with latest/nightly pandas
  python/pyarrow/table.pxi
Labels: Component: Python, awaiting review

#39775 GH-39774: [Go] Add public access to PreparedStatement handle
  go/arrow/flight/flightsql/client.go
  go/arrow/flight/flightsql/client_test.go
Labels: Component: Go, awaiting review

#39794 GH-39765: [C++][Dataset] Fix failures in dataset-scanner-benchmark
  cpp/src/arrow/dataset/scanner_benchmark.cc
Labels: Component: C++, awaiting committer review

#39797 MINOR: [C++] Fix conversion warnings on MSVC
  cpp/src/arrow/dataset/file_benchmark.cc
Labels: Component: C++, awaiting review

#39800 GH-39778: [C++] Fix tail-byte access cross buffer boundary in key hash avx2
  cpp/src/arrow/compute/key_hash.cc
  cpp/src/arrow/compute/key_hash.h
  cpp/src/arrow/compute/key_hash_avx2.cc
  cpp/src/arrow/compute/key_hash_test.cc
Labels: Component: C++, awaiting committer review

#39528 GH-39527: [C++][Parquet] Validate page sizes before truncating to int32
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/column_writer_test.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#39721 GH-39720: [Swift] Switch reader to use arrow field instead of proto for building arrays
  swift/Arrow/Sources/Arrow/ArrowArrayBuilder.swift
  swift/Arrow/Sources/Arrow/ArrowData.swift
  swift/Arrow/Sources/Arrow/ArrowReaderHelper.swift
  swift/Arrow/Sources/Arrow/ArrowType.swift
  swift/Arrow/Sources/Arrow/ProtoUtil.swift
  swift/Arrow/Tests/ArrowTests/ArrayTests.swift
Labels: Component: Swift, awaiting review

#39817 GH-39815: [C++] Document and micro-optimize ChunkResolver::Resolve()
  cpp/src/arrow/chunk_resolver.h
  cpp/src/arrow/compute/kernels/vector_sort.cc
Labels: Component: C++, awaiting committer review

#39795 GH-39740: [C++] Fix filter and take kernel for month_day_nano intervals
  cpp/src/arrow/compute/kernels/vector_selection_benchmark.cc
  cpp/src/arrow/compute/kernels/vector_selection_filter_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_internal.h
  cpp/src/arrow/compute/kernels/vector_selection_take_internal.cc
  cpp/src/arrow/compute/kernels/vector_selection_test.cc
Labels: Component: C++, awaiting committer review

#39827 MINOR: [Python][CI] Add upper bound on pytest version
  ci/conda_env_python.txt
  python/requirements-test.txt
  python/requirements-wheel-test.txt
Labels: Component: Python, awaiting review

#39838 GH-39837: [Go][Flight] Allow cloning existing cookies in middleware
  go/arrow/flight/cookie_middleware.go
  go/arrow/flight/cookie_middleware_test.go
Labels: Component: Go, awaiting merge

#39842 GH-39841: [GLib] Add support for GLib 2.56 again
  c_glib/arrow-glib/basic-data-type.cpp
Labels: Component: GLib, awaiting committer review

#39758 GH-39640: [Docs] Pin pydata-sphinx-theme to 0.14.*
  ci/conda_env_sphinx.txt
  docs/requirements.txt
  docs/source/python/api/compute.rst
  docs/source/python/compute.rst
  docs/source/python/pandas.rst
Labels: Component: Documentation, awaiting committer review

#39652 GH-39651: [Python] Basic pyarrow bindings for Binary/StringView classes
  docs/source/python/api/arrays.rst
  docs/source/python/api/datatypes.rst
  python/pyarrow/__init__.py
  python/pyarrow/array.pxi
  python/pyarrow/builder.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/lib.pxd
  python/pyarrow/lib.pyx
  python/pyarrow/scalar.pxi
  python/pyarrow/src/arrow/python/helpers.cc
  python/pyarrow/tests/test_builder.py
  python/pyarrow/tests/test_misc.py
  python/pyarrow/tests/test_scalars.py
  python/pyarrow/tests/test_types.py
  python/pyarrow/types.pxi
  python/pyarrow/types.py
Labels: Component: Python, Component: Documentation, awaiting merge

#39681 GH-39680: [Java] enable half float support on Java module
  docs/source/status.rst
  java/dataset/src/test/java/org/apache/arrow/dataset/TestAllTypes.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/Float16.java
  java/memory/memory-core/src/test/java/org/apache/arrow/memory/TestArrowBuf.java
  java/vector/src/main/codegen/data/ValueVectorTypes.tdd
  java/vector/src/main/codegen/templates/UnionReader.java
  java/vector/src/main/java/org/apache/arrow/vector/Float2Vector.java
  java/vector/src/main/java/org/apache/arrow/vector/types/Types.java
  java/vector/src/test/java/org/apache/arrow/vector/TestValueVector.java
Labels: Component: Java, Component: Documentation, awaiting merge
