Repository apache/arrow, pull requests merged in 2024-09, with the labels that each got.

#43889 GH-43665: [R] Remove references to bindings vignette
  docs/source/developers/guide/resources.rst
  docs/source/developers/guide/step_by_step/arrow_codebase.rst
  docs/source/developers/guide/tutorials/r_tutorial.rst
  r/vignettes/developing.Rmd
Labels: Component: R, Component: Documentation, awaiting merge

#43461 MINOR: [R] Fix monospace formatting in dplyr-funcs-doc
  r/R/arrow-package.R
  r/R/dplyr-funcs-doc.R
  r/man/acero.Rd
Labels: Component: R, awaiting merge

#43896 GH-43894: [R] format_aggregation() should print options too
  r/R/dplyr-summarize.R
  r/tests/testthat/test-dplyr-summarize.R
Labels: Component: R, awaiting merge

#43763 GH-43758: [C++] Compute: More comment in RowEncoder
  cpp/src/arrow/compute/light_array_internal.h
  cpp/src/arrow/compute/row/row_encoder_internal.cc
  cpp/src/arrow/compute/row/row_encoder_internal.h
  cpp/src/arrow/compute/row/row_internal.h
Labels: Component: C++, awaiting committer review

#43799 GH-43768: [C++] Fix the case when boolean_{any|all} meets constant input with length in Acero
  cpp/src/arrow/acero/aggregate_node_test.cc
  cpp/src/arrow/compute/kernels/aggregate_basic.cc
Labels: Component: C++, awaiting change review

#43884 GH-43883: [CI] Remove Python version guard when installing GCS testbench
  .github/workflows/cpp.yml
  ci/docker/conda-cpp.dockerfile
  ci/docker/python-wheel-manylinux-test.dockerfile
  ci/scripts/install_gcs_testbench.sh
  dev/tasks/python-wheels/github.osx.yml
Labels: awaiting merge

#43862 GH-40216: [CI][Packaging][Python] Upload pyarrow nightly wheels to scientific python channel on Anaconda
  dev/tasks/macros.jinja
  dev/tasks/python-sdist/github.yml
  dev/tasks/python-wheels/github.linux.yml
  dev/tasks/python-wheels/github.osx.yml
  dev/tasks/python-wheels/github.windows.yml
  dev/tasks/tasks.yml
Labels: awaiting merge

#43801 GH-43797: [C++] Attach `arrow::ArrayStatistics` to `arrow::ArrayData`
  cpp/src/arrow/array/array_base.h
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/data.cc
  cpp/src/arrow/array/data.h
Labels: Component: C++, awaiting changes

#43932 GH-40216: [Python][CI][Packaging] Upload nightly wheels to main label of scientific-python-nightly-wheels channel
  dev/tasks/macros.jinja
Labels: awaiting changes

#43910 GH-43907: [C#][FlightRPC] Add Grpc Call Options support on Flight Client
  csharp/src/Apache.Arrow.Flight/Client/FlightClient.cs
  csharp/test/Apache.Arrow.Flight.Tests/FlightTests.cs
Labels: Component: C#, awaiting committer review

#43928 GH-43927: [C++] Make ChunkResolver::ResolveMany output a list of ChunkLocations
  cpp/src/arrow/chunk_resolver.cc
  cpp/src/arrow/chunk_resolver.h
  cpp/src/arrow/chunked_array_test.cc
Labels: Component: C++, awaiting committer review

#43720 GH-43719: [C++] Clarify the way SIMD-enabled agg kernels come from the same code in different compilation units
  cpp/src/arrow/compute/kernels/aggregate_basic.cc
  cpp/src/arrow/compute/kernels/aggregate_basic.inc.cc
  cpp/src/arrow/compute/kernels/aggregate_basic_avx2.cc
  cpp/src/arrow/compute/kernels/aggregate_basic_avx512.cc
  cpp/src/arrow/compute/kernels/aggregate_basic_internal.h
Labels: Component: C++, awaiting change review

#43934 GH-43933: [CI] Remove docker-compose warnings
  .env
  docker-compose.yml
Labels: awaiting review

#43903 GH-43902: [Java] Support for Long memory addresses
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/AllocationReservation.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/BaseAllocator.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/ChildAllocator.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/rounding/DefaultRoundingPolicy.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/rounding/SegmentRoundingPolicy.java
  java/memory/memory-core/src/test/java/org/apache/arrow/memory/TestBaseAllocator.java
  java/memory/memory-netty-buffer-patch/src/main/java/io/netty/buffer/NettyArrowBuf.java
  java/performance/src/main/java/org/apache/arrow/memory/AllocatorBenchmarks.java
Labels: Component: Java, awaiting merge

#43729 GH-43727: [Python] RecordBatch fails gracefully on non-cpu devices
  python/.gitignore
  python/pyarrow/lib.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting change review

#43943 GH-40216: [Python][CI][Packaging] Don't upload sdist to scientific-python nightly channel (only wheels)
  dev/tasks/python-sdist/github.yml
Labels: awaiting committer review

#43935 GH-43669: [Docs][Dev] Document archery --debug flag in section about docker
  docs/source/developers/continuous_integration/docker.rst
Labels: Component: Documentation, awaiting changes

#43673 GH-43672: [C#] Schema should be optional on FlightInfo
  csharp/src/Apache.Arrow.Flight/FlightInfo.cs
  csharp/test/Apache.Arrow.Flight.Tests/FlightTests.cs
Labels: Component: C#, awaiting changes

#43795 GH-43728: [Python] ChunkedArray fails gracefully on non-cpu devices
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/lib.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting change review

#43551 GH-38255: [Java] Implement Flight SQL Bulk Ingestion
  dev/archery/archery/integration/runner.py
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/FlightSqlExtensionScenario.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/FlightSqlIngestionScenario.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/FlightSqlScenario.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/FlightSqlScenarioProducer.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/Scenarios.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/TestBufferAllocationListener.java
  java/flight/flight-integration-tests/src/test/java/org/apache/arrow/flight/integration/tests/IntegrationTest.java
  java/flight/flight-sql/pom.xml
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/FlightSqlClient.java
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/FlightSqlProducer.java
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/NoOpFlightSqlProducer.java
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/SqlInfoBuilder.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/sql/example/FlightSqlExample.java
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/sql/test/TestFlightSql.java
Labels: Component: Java, awaiting merge

#43325 GH-43299: [Release][Packaging] Only include pyarrow folder when finding packages on setuptools
  ci/docker/python-wheel-manylinux.dockerfile
  ci/scripts/python_wheel_macos_build.sh
  ci/scripts/python_wheel_manylinux_build.sh
  ci/scripts/python_wheel_unix_test.sh
  ci/scripts/python_wheel_validate_contents.py
  ci/scripts/python_wheel_windows_build.bat
  ci/scripts/python_wheel_windows_test.bat
  docker-compose.yml
  docs/source/developers/python.rst
  python/pyproject.toml
  python/setup.py
Labels: Component: Python, Component: Documentation, awaiting merge

#43938 GH-43967: [C++] Enhance error message for URI parsing
  cpp/src/arrow/filesystem/filesystem_test.cc
  cpp/src/arrow/util/uri.cc
Labels: Component: C++, awaiting committer review

#43947 GH-43946: [C++][Parquet] Guard against use of cleared decryptor/encryptor
  cpp/src/parquet/encryption/encryption_internal.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#43971 GH-43969: [CI][Dev] Prune .dockerignore
  .dockerignore
  .github/workflows/archery.yml
  .github/workflows/cpp.yml
  .github/workflows/docs_light.yml
  .github/workflows/go.yml
  .github/workflows/integration.yml
  .github/workflows/java.yml
  .github/workflows/java_jni.yml
  .github/workflows/js.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  .github/workflows/ruby.yml
  .github/workflows/swift.yml
Labels: awaiting merge

#43972 GH-40154: [C++][Parquet] Separate encoders and decoder
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/decoder.cc
  cpp/src/parquet/encoder.cc
  cpp/src/parquet/encoding.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#43975 MINOR: [CI][C++] Add C++ example builds to "cpp" Crossbow task group
  dev/tasks/tasks.yml
Labels: awaiting review

#43945 GH-43944: [C++][Parquet] Add support for arrow::ArrayStatistics: non zero-copy int based types
  cpp/src/parquet/arrow/arrow_statistics_test.cc
  cpp/src/parquet/arrow/reader.cc
  cpp/src/parquet/arrow/reader_internal.cc
  cpp/src/parquet/arrow/reader_internal.h
Labels: Component: Parquet, Component: C++, awaiting changes

#43980 MINOR: [Java] Bump com.puppycrawl.tools:checkstyle from 10.17.0 to 10.18.1 in /java Manual
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowMapDataTypeTest.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightClient.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/client/ArrowFlightSqlClientHandlerBuilderTest.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/ArrowBuf.java
  java/pom.xml
  java/vector/src/main/java/org/apache/arrow/vector/ipc/message/ArrowDictionaryBatch.java
Labels: Component: Java, awaiting merge

#43982 GH-43979: [CI][C++][Dev] Add cpplint to pre-commit
  .pre-commit-config.yaml
  CPPLINT.cfg
  cpp/CMakeLists.txt
  cpp/build-support/run_cpplint.py
Labels: Component: C++, awaiting changes

#43726 GH-43712: [C++][Parquet] Dataset: Handle num-nulls in Parquet correctly when !HasNullCount()
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/src/arrow/dataset/file_parquet_test.cc
Labels: Component: C++, awaiting merge

#43993 GH-43992: [C++] Add missing std::move() in array_nested.cc
  cpp/src/arrow/array/array_dict.cc
  cpp/src/arrow/array/array_nested.cc
Labels: Component: C++, awaiting review

#43999 GH-43814: [GLib][FlightRPC] Add `GAFlightServerClass::do_put`
  c_glib/arrow-flight-glib/client.cpp
  c_glib/arrow-flight-glib/client.hpp
  c_glib/arrow-flight-glib/server.cpp
  c_glib/arrow-flight-glib/server.h
  c_glib/arrow-flight-glib/server.hpp
  c_glib/arrow-glib/writer.cpp
  c_glib/arrow-glib/writer.h
  c_glib/test/flight/test-client.rb
  c_glib/test/helper/flight-server.rb
  c_glib/test/test-file-writer.rb
  c_glib/test/test-stream-writer.rb
  ruby/red-arrow-flight/lib/arrow-flight/client.rb
  ruby/red-arrow-flight/test/helper/server.rb
  ruby/red-arrow-flight/test/test-client.rb
Labels: Component: Ruby, Component: GLib, awaiting committer review

#43984 GH-43983: [C++][Parquet] Add support for arrow::ArrayStatistics: zero-copy types
  cpp/src/parquet/arrow/arrow_statistics_test.cc
  cpp/src/parquet/arrow/reader_internal.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#44001 GH-40860: [GLib][Parquet] Add `gparquet_arrow_file_writer_write_record_batch()`
  c_glib/parquet-glib/arrow-file-writer.cpp
  c_glib/parquet-glib/arrow-file-writer.h
  c_glib/test/parquet/test-arrow-file-writer.rb
  ruby/red-parquet/lib/parquet/arrow-file-writer.rb
  ruby/red-parquet/lib/parquet/loader.rb
  ruby/red-parquet/test/test-arrow-file-writer.rb
Labels: Component: Parquet, Component: Ruby, Component: GLib, awaiting committer review

#43968 GH-43966: [Java] Check for nullabilities when comparing StructVector
  java/vector/src/main/java/org/apache/arrow/vector/compare/RangeEqualsVisitor.java
  java/vector/src/test/java/org/apache/arrow/vector/compare/TestRangeEqualsVisitor.java
Labels: Component: Java, awaiting merge

#43988 GH-43986: [C++][Acero] Some code cleanup to `Grouper`
  cpp/src/arrow/acero/groupby_aggregate_node.cc
  cpp/src/arrow/acero/scalar_aggregate_node.cc
  cpp/src/arrow/compute/kernels/hash_aggregate.cc
  cpp/src/arrow/compute/row/grouper.cc
  cpp/src/arrow/compute/row/grouper.h
Labels: Component: C++, awaiting committer review

#44003 GH-43301: [C++][Parquet] Enhance the comment for ColumnReader/Decoder
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader.h
  cpp/src/parquet/decoder.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#43671 GH-43536: [Python][CI] Add a Crossbow job with the free-threaded build
  ci/docker/linux-apt-python-313-freethreading.dockerfile
  dev/tasks/tasks.yml
  docker-compose.yml
  python/CMakeLists.txt
Labels: Component: Python, awaiting change review

#44014 GH-44013: [Java] Consider warnings as errors for Dataset Module
  java/dataset/pom.xml
  java/dataset/src/test/java/org/apache/arrow/dataset/TextBasedWriteSupport.java
  java/dataset/src/test/java/org/apache/arrow/dataset/file/TestFileSystemDataset.java
  java/dataset/src/test/java/org/apache/arrow/dataset/jni/TestReservationListener.java
  java/dataset/src/test/java/org/apache/arrow/dataset/substrait/TestAceroSubstraitConsumer.java
Labels: Component: Java, awaiting committer review

#44012 GH-44011: [Java] Consider warnings as errors for C Module
  java/c/pom.xml
  java/c/src/main/java/org/apache/arrow/c/ArrayExporter.java
  java/c/src/main/java/org/apache/arrow/c/BufferImportTypeVisitor.java
  java/c/src/test/java/org/apache/arrow/c/DictionaryTest.java
  java/c/src/test/java/org/apache/arrow/c/RoundtripTest.java
Labels: Component: Java, awaiting committer review

#43978 GH-43576: [Java] Gandiva Tests are failing due to linking issues
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/ProjectorTest.java
Labels: Component: Java, awaiting committer review

#44019 GH-44036: [C++] IPC: ipc reader/writer code enhancement
  cpp/src/arrow/ipc/reader.cc
  cpp/src/arrow/ipc/writer.cc
Labels: Component: C++, awaiting merge

#43997 GH-43996: [Java] Mark new allocated ArrowSchema as released
  java/c/src/main/java/org/apache/arrow/c/ArrowSchema.java
  java/c/src/test/java/org/apache/arrow/c/ArrowArrayUtilityTest.java
Labels: Component: Java, awaiting merge

#44017 GH-44016: [Java] Consider warnings as errors for Format Module
  java/format/pom.xml
  java/format/src/main/java/module-info.java
Labels: Component: Java, awaiting change review

#43761 GH-43187: [C++] Support basic is_in predicate simplification
  cpp/src/arrow/compute/expression.cc
  cpp/src/arrow/compute/expression_test.cc
Labels: Component: C++, awaiting merge

#43976 GH-43956: [Format] Allow Decimal32/Decimal64 in format
  docs/source/format/Columnar.rst
  docs/source/format/Versioning.rst
  format/Schema.fbs
Labels: Component: Documentation, awaiting change review

#43937 MINOR: [CI][C++] Enable core dumps and stack traces in Linux/macOS jobs
  .github/workflows/cpp.yml
  .github/workflows/dev.yml
  .github/workflows/integration.yml
  .github/workflows/java_jni.yml
  .github/workflows/js.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  .github/workflows/ruby.yml
  .github/workflows/swift.yml
  ci/docker/fedora-39-cpp.dockerfile
  ci/docker/ubuntu-20.04-cpp-minimal.dockerfile
  ci/docker/ubuntu-22.04-cpp-minimal.dockerfile
  ci/docker/ubuntu-24.04-cpp-minimal.dockerfile
  ci/scripts/util_enable_core_dumps.sh
  cpp/build-support/run-test.sh
  dev/tasks/docker-tests/github.cuda.yml
  dev/tasks/docker-tests/github.linux.yml
  dev/tasks/python-wheels/github.linux.yml
  dev/tasks/r/github.packages.yml
  docker-compose.yml
Labels: Component: C++, awaiting merge

#44045 GH-44044: [Java] Consider warnings as errors for Vector Module
  java/vector/pom.xml
  java/vector/src/main/codegen/templates/BaseWriter.java
Labels: Component: Java, awaiting review

#43963 GH-43962: [Java] Consider warnings as errors for Adapter Module
  java/adapter/avro/pom.xml
  java/adapter/avro/src/test/java/org/apache/arrow/adapter/avro/AvroToArrowIteratorTest.java
  java/adapter/jdbc/pom.xml
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowCharSetTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowDataTypesTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowMapDataTypeTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowNullTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowOptionalColumnsTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowTimeZoneTest.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowVectorIteratorTest.java
  java/adapter/orc/pom.xml
Labels: Component: Java, awaiting merge

#44039 GH-44006: [GLib][Parquet] Add `gparquet_arrow_file_writer_new_row_group()`
  c_glib/parquet-glib/arrow-file-writer.cpp
  c_glib/parquet-glib/arrow-file-writer.h
  c_glib/test/parquet/test-arrow-file-writer.rb
Labels: Component: Parquet, Component: GLib, awaiting committer review

#43974 GH-43973: [Python] Table fails gracefully on non-cpu devices
  python/pyarrow/lib.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting changes

#13901 GH-32538: [C++][Parquet] Add JSON canonical extension type
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/array/validate.cc
  cpp/src/arrow/extension/CMakeLists.txt
  cpp/src/arrow/extension/fixed_shape_tensor_test.cc
  cpp/src/arrow/extension/json.cc
  cpp/src/arrow/extension/json.h
  cpp/src/arrow/extension/json_test.cc
  cpp/src/arrow/extension/uuid_test.cc
  cpp/src/arrow/extension_type.cc
  cpp/src/arrow/extension_type_test.cc
  cpp/src/arrow/ipc/test_common.cc
  cpp/src/arrow/ipc/test_common.h
  cpp/src/arrow/testing/gtest_util.cc
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/arrow_schema_test.cc
  cpp/src/parquet/arrow/schema.cc
  cpp/src/parquet/arrow/schema_internal.cc
  cpp/src/parquet/arrow/schema_internal.h
  cpp/src/parquet/properties.h
  docs/source/status.rst
Labels: Component: Parquet, Component: C++, Component: Documentation, awaiting change review

#44067 GH-36412: [Python][CI] Fix deprecation warning about day freq alias with latest pandas
  python/pyarrow/tests/test_compute.py
Labels: Component: Python, awaiting committer review

#43895 GH-43748: [R] Handle package_version in safe_r_metadata
  r/R/metadata.R
  r/tests/testthat/test-metadata.R
Labels: Component: R, awaiting merge

#44064 GH-44063: [Python] Deprecate the no longer used serialize/deserialize Pyarrow C++ functions
  python/pyarrow/src/arrow/python/deserialize.h
  python/pyarrow/src/arrow/python/serialize.h
Labels: Component: Python, awaiting committer review

#44073 GH-44072: [C++][Parquet] Add Float16 reading benchmarks
  cpp/src/parquet/arrow/reader_writer_benchmark.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#44082 GH-44081: [C++][Parquet] Fix reported metrics in parquet-arrow-reader-writer-benchmark
  cpp/src/parquet/arrow/reader_writer_benchmark.cc
Labels: Component: Parquet, Component: C++

#44077 GH-44076: [CI] Remove verify-rc-binaries-wheel-macos-11 which is now deprecated
  dev/tasks/tasks.yml
Labels: awaiting committer review

#44047 GH-44046: [Python] Fix threading issues with borrowed refs and pandas
  python/pyarrow/src/arrow/python/helpers.cc
  python/pyarrow/src/arrow/python/iterators.h
  python/pyarrow/src/arrow/python/numpy_convert.cc
Labels: Component: Python, awaiting committer review

#44086 MINOR: [CI] Bump actions/{download,upload}-artifact version
  dev/tasks/docker-tests/github.linux.yml
  dev/tasks/java-jars/github.yml
  dev/tasks/python-wheels/github.linux.yml
  dev/tasks/python-wheels/github.osx.yml
  dev/tasks/python-wheels/github.windows.yml
  dev/tasks/r/github.devdocs.yml
  dev/tasks/r/github.linux.arrow.version.back.compat.yml
  dev/tasks/r/github.linux.cran.yml
  dev/tasks/r/github.linux.offline.build.yml
  dev/tasks/r/github.linux.versions.yml
  dev/tasks/r/github.macos-linux.local.yml
  dev/tasks/r/github.macos.cran.yml
  dev/tasks/r/github.packages.yml
Labels: awaiting committer review

#43841 GH-43840: [CI] Add cuda group to tasks.yml and minor updates for new cuda runner image
  dev/tasks/docker-tests/github.cuda.yml
  dev/tasks/tasks.yml
Labels: awaiting changes

#43302 GH-42247: [C++] Support casting to and from utf8_view/binary_view
  cpp/src/arrow/compute/kernels/codegen_internal.h
  cpp/src/arrow/compute/kernels/scalar_cast_boolean.cc
  cpp/src/arrow/compute/kernels/scalar_cast_internal.cc
  cpp/src/arrow/compute/kernels/scalar_cast_numeric.cc
  cpp/src/arrow/compute/kernels/scalar_cast_string.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
  cpp/src/arrow/type_test.cc
  cpp/src/arrow/type_traits.h
  cpp/src/arrow/util/binary_view_util.h
  cpp/src/arrow/visit_data_inline.h
Labels: Component: C++, awaiting change review

#44080 GH-44079: [C++][Parquet] Remove deprecated APIs
  cpp/src/parquet/arrow/writer.cc
  cpp/src/parquet/arrow/writer.h
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader.h
  cpp/src/parquet/column_reader_test.cc
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/column_writer.h
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/metadata.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#44091 MINOR: [Docs] Remove mention of JIRA issues in the contributing PR checklist
  docs/source/developers/overview.rst
Labels: Component: Documentation, awaiting committer review

#44000 GH-43998: [C++][Docs] Add missing install command in building docs
  docs/source/developers/cpp/building.rst
Labels: Component: Documentation, awaiting committer review

#44102 GH-43872: [Go][CI] Disable Dependabot for Go
  .github/dependabot.yml
Labels: awaiting merge

#44093 GH-44095: [CI][Python] Enable S3 testing on Windows wheel builds
  ci/docker/python-wheel-windows-test-vs2019.dockerfile
  ci/scripts/python_wheel_windows_test.bat
Labels: awaiting merge

#44097 GH-44096: [C++] Don't use Boost.Process with Emscripten
  cpp/src/arrow/testing/process.cc
Labels: Component: C++, awaiting committer review

#44035 GH-44034: [Go][Format][FlightRPC] Update go_package in Flight.proto and FlightSql.proto
  format/Flight.proto
  format/FlightSql.proto
Labels: awaiting merge

#41348 GH-41347: [FlightRPC][C#] Allow hosting flight server in pre-Kestrel .net versions
  csharp/src/Apache.Arrow.Flight/Apache.Arrow.Flight.csproj
  csharp/src/Apache.Arrow.Flight/Server/GrpcCoreFlightServerExtensions.cs
Labels: Component: C#, awaiting committer review

#44118 MINOR: [C#] Add missing license
  csharp/src/Apache.Arrow.Flight/Server/GrpcCoreFlightServerExtensions.cs
Labels: Component: C#, awaiting review

#44033 GH-39638: [Docs][R] Add r-universe instructions
  r/README.md
Labels: Component: R, Component: Documentation, awaiting merge

#44094 GH-44069: [Docs][R] Add note to to_arrow() docs about collect/compute
  r/R/duckdb.R
  r/man/to_arrow.Rd
Labels: Component: R, awaiting review

#44100 GH-44007: [GLib][Parquet] Add `gparquet_arrow_file_writer_new_buffered_row_group()`
  c_glib/parquet-glib/arrow-file-writer.cpp
  c_glib/parquet-glib/arrow-file-writer.h
  c_glib/test/parquet/test-arrow-file-writer.rb
Labels: Component: Parquet, Component: GLib, awaiting committer review

#44123 GH-44122: [R] Don't use the new pipe yet
  r/tests/testthat/test-dplyr-summarize.R
Labels: Component: R, awaiting merge

#44117 GH-43267: [C#] Correctly import sliced arrays through the C Data interface
  csharp/src/Apache.Arrow/Apache.Arrow.csproj
  csharp/src/Apache.Arrow/C/CArrowArrayImporter.cs
  csharp/src/Apache.Arrow/RecordBatch.cs
  csharp/src/Apache.Arrow/Utility.cs
  csharp/test/Apache.Arrow.Tests/ArrowReaderVerifier.cs
  csharp/test/Apache.Arrow.Tests/CDataInterfaceDataTests.cs
  csharp/test/Apache.Arrow.Tests/CDataInterfacePythonTests.cs
Labels: Component: C#, awaiting committer review

#44087 GH-44085: [CI][R] Update Ubuntu version for R force test
  .github/workflows/r.yml
  ci/docker/linux-apt-r.dockerfile
  ci/scripts/r_test.sh
Labels: awaiting merge

#44130 MINOR: [Archery] Fix typo on docker CI comment
  dev/archery/archery/docker/cli.py
Labels: awaiting committer review

#44129 GH-44111: [CI][Python] Enable S3 tests on macOS CI
  .github/workflows/python.yml
  dev/tasks/python-wheels/github.osx.yml
Labels: awaiting merge

#43970 GH-43518: [Python][Packaging][CI] Drop Python 3.8 support
  .env
  .github/workflows/dev.yml
  .github/workflows/go.yml
  .github/workflows/integration.yml
  .github/workflows/java.yml
  .github/workflows/java_jni.yml
  .github/workflows/js.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  .github/workflows/ruby.yml
  ci/docker/conda-python-cpython-debug.dockerfile
  ci/docker/conda-python-cython2.dockerfile
  ci/docker/conda-python-dask.dockerfile
  ci/docker/conda-python-hdfs.dockerfile
  ci/docker/conda-python-jpype.dockerfile
  ci/docker/conda-python-pandas.dockerfile
  ci/docker/conda-python-spark.dockerfile
  ci/docker/conda-python.dockerfile
  ci/docker/linux-apt-python-3.dockerfile
  ci/docker/python-wheel-manylinux.dockerfile
  ci/docker/python-wheel-windows-test-vs2019.dockerfile
  ci/docker/python-wheel-windows-vs2019.dockerfile
  ci/scripts/install_python.sh
  ci/scripts/r_install_system_dependencies.sh
  dev/archery/setup.py
  dev/release/verify-release-candidate-wheels.bat
  dev/release/verify-release-candidate.bat
  dev/release/verify-release-candidate.sh
  dev/tasks/macros.jinja
  dev/tasks/python-sdist/github.yml
  dev/tasks/python-wheels/github.linux.yml
  dev/tasks/tasks.yml
  docker-compose.yml
  docs/source/developers/continuous_integration/archery.rst
  docs/source/developers/continuous_integration/crossbow.rst
  docs/source/python/install.rst
  python/asv.conf.json
  python/pyarrow/tests/test_csv.py
  python/pyarrow/tests/test_flight.py
  python/pyarrow/tests/test_types.py
  python/pyarrow/tests/util.py
  python/pyproject.toml
  r/tests/testthat/test-python.R
Labels: Component: R, Component: Python, Component: Documentation, awaiting merge

#44128 GH-44127: [CI][R] Fix util_enable_core_dumps.sh path
  dev/tasks/macros.jinja
  dev/tasks/r/github.packages.yml
Labels: awaiting merge

#44099 GH-44062: [Dev][Archery][Integration] Reduce needless test matrix
  ci/scripts/integration_arrow.sh
  dev/archery/archery/cli.py
  dev/archery/archery/integration/runner.py
Labels: awaiting change review

#44140 MINOR: [Dev][Archery][Integration] Remove debug prints
  dev/archery/archery/integration/runner.py
Labels: awaiting committer review

#44116 GH-44098: [C++] Add home made _mm256_set_m128i for compilers who are missing it
  cpp/src/arrow/acero/swiss_join_avx2.cc
  cpp/src/arrow/compute/row/compare_internal_avx2.cc
  cpp/src/arrow/util/simd.h
Labels: Component: C++, awaiting committer review

#44134 MINOR: [Docs][Python] Fix return type in docstring for Array.slice
  python/pyarrow/array.pxi
Labels: Component: Python, awaiting committer review

#44150 GH-44149: [Packaging][CI] Remove references to deprecated Ubuntu bionic
  dev/release/setup-ubuntu.sh
Labels: awaiting committer review

#44120 GH-43809: [Docs] Update extension type examples to not use UUID
  docs/source/format/Columnar.rst
  docs/source/format/Integration.rst
  docs/source/python/extending_types.rst
  python/pyarrow/types.pxi
Labels: Component: Python, Component: Documentation, awaiting merge

#43950 GH-37756: [Format][Docs] Document IPC Compression
  docs/source/format/Columnar.rst
Labels: Component: Documentation, awaiting change review

#44142 GH-43874: [CI][Integration][Go] Use apache/arrow-go
  .github/workflows/integration.yml
  ci/scripts/integration_arrow.sh
  ci/scripts/integration_arrow_build.sh
  dev/archery/archery/cli.py
  docker-compose.yml
Labels: awaiting merge

#43906 GH-43868: [CI][Python] Skip test that requires PARQUET_TEST_DATA env on emscripten
  python/pyarrow/tests/parquet/conftest.py
Labels: Component: Python, awaiting change review

#44154 GH-44153: [GLib][FlightRPC] Fix closure annotation
  c_glib/arrow-flight-glib/client.cpp
  c_glib/arrow-flight-glib/server.cpp
Labels: Component: GLib, awaiting committer review

#44053 GH-44052: [C++][Compute] Reduce the complexity of row segmenter
  cpp/src/arrow/acero/aggregate_benchmark.cc
  cpp/src/arrow/acero/aggregate_internal.h
  cpp/src/arrow/acero/hash_aggregate_test.cc
  cpp/src/arrow/compute/row/grouper.cc
  cpp/src/arrow/compute/row/grouper.h
Labels: Component: C++, awaiting committer review

#44159 MINOR: [C++][CI] Move ThreadSanitizer build to Ubuntu 24.04
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: Component: C++, awaiting review

#44163 MINOR: [Docs] Fix number of minor format versions since 1.0.0
  docs/source/format/Versioning.rst
Labels: Component: Documentation, awaiting committer review

#44143 GH-43873: [Go][CI] Remove Go related test CI
  .env
  .github/workflows/go.yml
  ci/docker/conda-integration.dockerfile
  ci/docker/debian-12-go-cgo-python.dockerfile
  ci/docker/debian-12-go.dockerfile
  ci/docker/debian-go-cgo.dockerfile
  ci/scripts/go_bench.sh
  ci/scripts/go_bench_adapt.py
  ci/scripts/go_build.sh
  ci/scripts/go_cgo_python_test.sh
  ci/scripts/go_test.sh
  ci/scripts/go_tinygo_example.sh
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: awaiting changes

#44156 GH-44155: [Archery][Integration] Rename "language" to "implementation"
  ci/scripts/integration_arrow.sh
  dev/archery/archery/cli.py
  dev/archery/archery/integration/runner.py
Labels: awaiting committer review

#44009 GH-44008: [C++][Parquet] Add support for arrow::ArrayStatistics: boolean
  cpp/src/parquet/arrow/arrow_statistics_test.cc
  cpp/src/parquet/arrow/reader_internal.cc
Labels: Component: Parquet, Component: C++, awaiting changes

#43888 GH-39982: [Java] Add RunEndEncodedVector
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/ColumnBinderArrowTypeVisitor.java
  java/c/src/main/java/org/apache/arrow/c/BufferImportTypeVisitor.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/AvaticaParameterBinder.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/ConvertUtils.java
  java/vector/src/main/codegen/data/ArrowTypes.tdd
  java/vector/src/main/codegen/templates/UnionReader.java
  java/vector/src/main/java/org/apache/arrow/vector/TypeLayout.java
  java/vector/src/main/java/org/apache/arrow/vector/compare/RangeEqualsVisitor.java
  java/vector/src/main/java/org/apache/arrow/vector/compare/TypeEqualsVisitor.java
  java/vector/src/main/java/org/apache/arrow/vector/compare/VectorVisitor.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/RunEndEncodedVector.java
  java/vector/src/main/java/org/apache/arrow/vector/extension/OpaqueType.java
  java/vector/src/main/java/org/apache/arrow/vector/types/Types.java
  java/vector/src/main/java/org/apache/arrow/vector/validate/ValidateVectorBufferVisitor.java
  java/vector/src/main/java/org/apache/arrow/vector/validate/ValidateVectorTypeVisitor.java
  java/vector/src/test/java/org/apache/arrow/vector/TestRunEndEncodedVector.java
  java/vector/src/test/java/org/apache/arrow/vector/validate/TestValidateVector.java
Labels: Component: Java, awaiting changes

#44175 MINOR: [Docs] Update implementation matrix for view types in arrow-rs
  docs/source/status.rst
Labels: Component: Documentation, awaiting merge

#44141 GH-43960: [R] fix `str_sub` binding to properly handle negative `end` values
  r/R/dplyr-funcs-string.R
  r/tests/testthat/test-dplyr-funcs-string.R
Labels: Component: R

#43446 GH-43440: [R] Unable to filter a factor column with %in%
  r/R/dplyr-funcs-conditional.R
  r/tests/testthat/test-dplyr-funcs-conditional.R
Labels: Component: R, awaiting merge

#44078 GH-44088: [Java] Fix copyFrom in BaseVariableWidthViewVector
  java/vector/src/main/java/org/apache/arrow/vector/BaseVariableWidthViewVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestVarCharViewVector.java
Labels: Component: Java, awaiting merge

#40856 GH-44186: [C++][Parquet] Fix typo in parquet/column_writer.cc
  cpp/src/parquet/column_writer.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#44090 GH-44071: [C++] Leak S3 structures if finalization happens too late
  cpp/src/arrow/filesystem/s3fs.cc
  python/pyarrow/tests/test_fs.py
  python/pyarrow/tests/wsgi_examples.py
  python/requirements-test.txt
  python/requirements-wheel-test.txt
Labels: Component: C++, Component: Python, awaiting merge

#44166 GH-44167: [C++][Acero] Add more row segmenter tests
  cpp/src/arrow/acero/hash_aggregate_test.cc
Labels: Component: C++, awaiting committer review

#44181 GH-44178: [GLib][FlightRPC] Add GAFlightCallOptions:timeout
  c_glib/arrow-flight-glib/client.cpp
  c_glib/test/flight/test-call-options.rb
Labels: Component: GLib, awaiting committer review

#43954 GH-43953: [C++] Add tests based on random data and benchmarks to ChunkResolver::ResolveMany
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/chunk_resolver.cc
  cpp/src/arrow/chunk_resolver.h
  cpp/src/arrow/chunk_resolver_benchmark.cc
  cpp/src/arrow/chunked_array.cc
  cpp/src/arrow/chunked_array_test.cc
Labels: Component: C++, awaiting change review

#43715 GH-43680: [Integration] Unskip nanoarrow in IPC integration tests
  ci/scripts/nanoarrow_build.sh
  dev/archery/archery/integration/datagen.py
  dev/archery/archery/integration/tester_nanoarrow.py
Labels: awaiting changes

#44177 GH-44158: [Archery][Integration] Add more explanation how --target-implementations works
  dev/archery/archery/cli.py
Labels: awaiting changes

#44230 GH-44229: [Docs] Add PyArrow to JAX example to the docs
  docs/source/python/dlpack.rst
Labels: Component: Documentation, awaiting committer review

#44187 GH-40937: [Java] Implement Holder-based functions for ViewVarCharVector & ViewVarBinaryVector
  java/vector/src/main/java/org/apache/arrow/vector/ViewVarBinaryVector.java
  java/vector/src/main/java/org/apache/arrow/vector/ViewVarCharVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestVariableWidthViewVector.java
Labels: Component: Java, awaiting merge

#44212 GH-44206: [CI][macOS] Drop support for macOS 12
  .github/workflows/cpp.yml
  .github/workflows/csharp.yml
  .github/workflows/java.yml
  .github/workflows/js.yml
  .github/workflows/matlab.yml
  .github/workflows/python.yml
  .github/workflows/ruby.yml
  dev/tasks/r/github.packages.yml
  dev/tasks/tasks.yml
Labels: awaiting committer review

#44238 GH-44237: [C#] Use stack allocated buffer when serializing decimal values
  csharp/src/Apache.Arrow/DecimalUtility.cs
Labels: Component: C#, awaiting committer review

#44240 MINOR: [C++][Acero] Replace acero-specific append avx2 cmake macro with generic one
  cpp/src/arrow/acero/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#44210 GH-43509: [R] Add link to ?acero from ?list_compute_functions
  r/R/compute.R
  r/man/list_compute_functions.Rd
Labels: Component: R, awaiting committer review

#44239 MINOR: [Format][Docs] Fix a typo in `JSON` extension type docs
  docs/source/format/CanonicalExtensions.rst
Labels: Component: Documentation, awaiting committer review

#44233 GH-44222: [C++][Gandiva] Accept LLVM 19.1
  cpp/CMakeLists.txt
  cpp/src/gandiva/engine.cc
Labels: Component: C++, Component: C++ - Gandiva, awaiting committer review

#44235 GH-44234: [CI][C++][AppVeyor] Use conda instead of Mamba
  ci/appveyor-cpp-setup.bat
Labels: awaiting committer review

#44151 GH-40570: [CI] Default environment to Ubuntu 22.04 instead of 20.04
  .env
  .github/workflows/python.yml
  ci/docker/ubuntu-22.04-cpp.dockerfile
  ci/docker/ubuntu-24.04-cpp.dockerfile
  dev/tasks/tasks.yml
Labels: awaiting changes

#44258 MINOR: [C#] Fix Flight to target net472 intead of net462
  csharp/src/Apache.Arrow.Flight/Apache.Arrow.Flight.csproj
  csharp/src/Apache.Arrow.Flight/Server/GrpcCoreFlightServerExtensions.cs
Labels: awaiting review

#44254 GH-44253: [CI][Release][Python] Do not verify Python on Ubuntu 20.04
  dev/tasks/tasks.yml
Labels: awaiting merge

#44220 GH-43197: [C++][AzureFS] Ignore password field in URI
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting committer review
