Repository apache/arrow, pull requests merged in 2024-02, with the labels that each got.

#39877 GH-39876: [C++] Thirdparty: Bump zlib to 1.3.1
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting merge

#39847 GH-39845: [C++][Parquet] Minor: avoid creating a new Reader object in Decoder::SetData
  cpp/src/parquet/encoding.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#39850 GH-39849: [Python] Remove the use of pytest-lazy-fixture
  ci/conda_env_python.txt
  dev/tasks/conda-recipes/arrow-cpp/meta.yaml
  python/pyarrow/tests/conftest.py
  python/pyarrow/tests/test_dataset.py
  python/pyarrow/tests/test_extension_type.py
  python/pyarrow/tests/test_fs.py
  python/pyarrow/tests/test_ipc.py
  python/requirements-test.txt
  python/requirements-wheel-test.txt
Labels: Component: Python, awaiting changes

#39819 GH-39779: [Python] Expose force_virtual_addressing in PyArrow
  python/pyarrow/_s3fs.pyx
  python/pyarrow/includes/libarrow_fs.pxd
  python/pyarrow/tests/test_fs.py
Labels: Component: Python, awaiting committer review

#39881 GH-39880: [Python][CI] Pin moto<5 for dask integration tests
  ci/scripts/install_dask.sh
Labels: awaiting merge

#39882 GH-39874: [CI][C++][Windows] Use pre-installed OpenSSL
  .github/workflows/cpp.yml
Labels: awaiting committer review

#39886 GH-39885: [CI][MATLAB] Bump matlab-actions/setup-matlab and matlab-actions/run-tests from v1 to v2
  .github/workflows/matlab.yml
Labels: awaiting review

#39772 GH-39771: [C++][Device] Generic CopyBatchTo/CopyArrayTo memory types
  cpp/src/arrow/array/array_base.cc
  cpp/src/arrow/array/array_base.h
  cpp/src/arrow/array/data.cc
  cpp/src/arrow/array/data.h
  cpp/src/arrow/buffer.h
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/c/bridge_test.cc
  cpp/src/arrow/device.cc
  cpp/src/arrow/gpu/cuda_context.cc
  cpp/src/arrow/ipc/read_write_test.cc
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch.h
Labels: Component: C++, awaiting change review

#38371 GH-37841: [Java] Dictionary decoding not using the compression factory from the ArrowReader
  java/compression/src/test/java/org/apache/arrow/compression/TestArrowReaderWriterWithCompression.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/ArrowReader.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/ArrowWriter.java
Labels: Component: Java, awaiting merge

#39887 GH-39872: [Packaging][Ubuntu] Add support for Ubuntu 24.04 Noble Numbat
  dev/release/binary-task.rb
  dev/release/verify-release-candidate.sh
  dev/tasks/linux-packages/apache-arrow-apt-source/apt/ubuntu-noble/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-noble-arm64/from
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-noble/Dockerfile
  dev/tasks/linux-packages/package-task.rb
  dev/tasks/tasks.yml
Labels: awaiting committer review

#39796 GH-39788: [Python] Validate max_chunksize in Table.to_batches
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting merge

#39755 MINOR: [C++][Docs] Fix MapBuilder docstring
  cpp/src/arrow/array/builder_nested.h
Labels: Component: C++, awaiting merge

#39844 GH-39843: [C++][Parquet] Parquet binary length overflow exception should contain the length of binary
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/encoding.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#39696 GH-39734: [Java] Bump org.codehaus.mojo:exec-maven-plugin from 1.6.0 to 3.1.1
  .env
  docker-compose.yml
  java/performance/pom.xml
  java/pom.xml
Labels: Component: Java, awaiting merge

#39896 GH-39416: [GLib][Docs] Fixed Broken Link in README Content
  c_glib/README.md
Labels: Component: GLib, Component: Documentation, awaiting merge

#39931 MINOR: [C++][Parquet] Remove undefined GetArrowType from schema_internal.h
  cpp/src/parquet/arrow/schema_internal.h
Labels: Component: Parquet, Component: C++, awaiting merge

#39934 GH-39928: [C++][Gandiva] Accept LLVM 18
  cpp/CMakeLists.txt
  cpp/src/gandiva/engine.cc
Labels: Component: C++, Component: C++ - Gandiva, awaiting committer review

#39922 GH-39921: [Go][Parquet] ColumnWriter not reset TotalCompressedBytes after Flush
  go/parquet/file/column_writer.go
  go/parquet/file/column_writer_test.go
Labels: Component: Go, awaiting merge

#39926 GH-39925: [Go][Parquet] Fix re-slicing in maybeReplaceValidity function
  go/parquet/file/column_writer.go
  go/parquet/file/column_writer_test.go
Labels: Component: Go, awaiting merge

#39866 GH-39865: [C++] Strip extension metadata when importing a registered extension
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/c/bridge_test.cc
  cpp/src/arrow/util/key_value_metadata.cc
  cpp/src/arrow/util/key_value_metadata.h
Labels: Component: C++, awaiting merge

#39694 GH-39946: [Java] Bump com.puppycrawl.tools:checkstyle from 8.19 to 8.29
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/Constants.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/MockPreparedStatement.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/ResultSetUtility.java
  java/adapter/orc/src/main/java/org/apache/arrow/adapter/orc/OrcJniUtils.java
  java/dev/checkstyle/checkstyle.xml
  java/dev/checkstyle/suppressions.xml
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightClient.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightGrpcUtils.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightStream.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/OutboundStreamListener.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/auth/AuthConstants.java
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/auth/ServerAuthWrapper.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestClientMiddleware.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/OrderedScenario.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/IntervalStringUtils.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/client/utils/ClientAuthenticationUtilsTest.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/evaluator/ConfigurationBuilder.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/evaluator/DecimalTypeUtil.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/ArrowTypeHelper.java
  java/gandiva/src/main/java/org/apache/arrow/gandiva/expression/TreeBuilder.java
  java/maven/pom.xml
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/AllocationListener.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/BaseAllocator.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/BufferLedger.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/ReferenceManager.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/ByteFunctionHelpers.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/CommonUtil.java
  java/memory/memory-core/src/main/java/org/apache/arrow/memory/util/LargeMemoryUtil.java
  java/memory/memory-core/src/main/java/org/apache/arrow/util/Collections2.java
  java/memory/memory-core/src/main/java/org/apache/arrow/util/Preconditions.java
  java/pom.xml
  java/tools/src/main/java/org/apache/arrow/tools/FileToStream.java
  java/vector/src/main/java/org/apache/arrow/vector/AllocationHelper.java
  java/vector/src/main/java/org/apache/arrow/vector/BitVectorHelper.java
  java/vector/src/main/java/org/apache/arrow/vector/GenerateSampleData.java
  java/vector/src/main/java/org/apache/arrow/vector/NullVector.java
  java/vector/src/main/java/org/apache/arrow/vector/compare/Range.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/StateTool.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/ArrowMagic.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/message/FBSerializables.java
  java/vector/src/main/java/org/apache/arrow/vector/util/DateUtility.java
  java/vector/src/main/java/org/apache/arrow/vector/util/DecimalUtility.java
  java/vector/src/main/java/org/apache/arrow/vector/util/DictionaryUtility.java
  java/vector/src/main/java/org/apache/arrow/vector/util/ObjectMapperFactory.java
  java/vector/src/main/java/org/apache/arrow/vector/util/SchemaUtility.java
  java/vector/src/test/java/org/apache/arrow/vector/testing/ValueVectorDataPopulator.java
Labels: Component: Java, awaiting merge

#39705 GH-39704: [C++][Parquet] Benchmark levels decoding
  cpp/src/parquet/column_reader_benchmark.cc
  cpp/src/parquet/column_writer_test.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#39908 GH-39860: [C++] Expression ExecuteScalarExpression execute empty args function with a wrong result
  cpp/src/arrow/compute/expression.cc
  cpp/src/arrow/compute/expression_test.cc
Labels: Component: C++, awaiting merge

#39929 GH-39883: [CI][R][Windows] Use ci/scripts/install_minio.sh with Git bash
  .github/workflows/r.yml
  ci/scripts/install_minio.sh
Labels: awaiting committer review

#39932 GH-39930: [C++] Use Requires instead of Libs for system RE2 in arrow.pc
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#39944 GH-39943: [CI][Python] Update manylinux images to avoid GPG problems downloading packages
  docker-compose.yml
Labels: awaiting committer review

#39622 GH-39621: [CI][Packaging] Update vcpkg to 2023.11.20 release
  .env
  ci/docker/python-wheel-manylinux.dockerfile
  ci/docker/python-wheel-windows-test-vs2019.dockerfile
  ci/docker/python-wheel-windows-vs2019.dockerfile
  ci/scripts/python_wheel_windows_build.bat
  ci/vcpkg/ports.patch
  ci/vcpkg/vcpkg.json
  cpp/src/gandiva/CMakeLists.txt
  dev/tasks/python-wheels/github.windows.yml
  docker-compose.yml
Labels: Component: C++, Component: C++ - Gandiva, awaiting committer review

#39762 GH-39737: [Release][Docs] Update post release documentation task
  dev/release/post-08-docs.sh
Labels: awaiting merge

#39903 GH-39057: [CI][C++][Go] Don't run jobs that use a self-hosted GitHub Actions Runner on fork
  .github/workflows/cpp.yml
  .github/workflows/go.yml
Labels: awaiting committer review

#39901 GH-39900: [Java][CI] To upload Maven and Memory Netty Buffer Patch into Apache Nightly repository
  dev/tasks/tasks.yml
Labels: awaiting review

#39956 GH-39955: [C++] Use make -j1 to install bundled bzip2
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#39892 GH-39857: [C++] Improve error message for "chunker out of sync" condition
  cpp/src/arrow/csv/parser_test.cc
  cpp/src/arrow/csv/reader.cc
  python/pyarrow/tests/test_csv.py
Labels: Component: C++, Component: Python, awaiting merge

#39959 MINOR: [Rust][Docs] Update Rust FlightSQL status doc
  docs/source/status.rst
Labels: Component: Documentation, awaiting merge

#39871 GH-24834: [C#] Support writing compressed IPC data
  csharp/README.md
  csharp/src/Apache.Arrow.Compression/CompressionCodecFactory.cs
  csharp/src/Apache.Arrow.Compression/Lz4CompressionCodec.cs
  csharp/src/Apache.Arrow.Compression/ZstdCompressionCodec.cs
  csharp/src/Apache.Arrow/Ipc/ArrowFileWriter.cs
  csharp/src/Apache.Arrow/Ipc/ArrowStreamWriter.cs
  csharp/src/Apache.Arrow/Ipc/ICompressionCodec.cs
  csharp/src/Apache.Arrow/Ipc/ICompressionCodecFactory.cs
  csharp/src/Apache.Arrow/Ipc/IpcOptions.cs
  csharp/test/Apache.Arrow.Compression.Tests/Apache.Arrow.Compression.Tests.csproj
  csharp/test/Apache.Arrow.Compression.Tests/ArrowFileWriterTests.cs
  csharp/test/Apache.Arrow.Compression.Tests/ArrowStreamWriterTests.cs
  csharp/test/Apache.Arrow.IntegrationTest/Apache.Arrow.IntegrationTest.csproj
  csharp/test/Apache.Arrow.IntegrationTest/IntegrationCommand.cs
  dev/archery/archery/integration/runner.py
  docs/source/status.rst
Labels: Component: C#, Component: Documentation, awaiting committer review

#39853 GH-39852: [Python] Support creating Binary/StringView arrays from python objects
  python/pyarrow/src/arrow/python/python_to_arrow.cc
  python/pyarrow/tests/test_convert_builtin.py
  python/pyarrow/tests/test_scalars.py
Labels: Component: Python, awaiting committer review

#39913 GH-39910: [Go] Add func to load prepared statement from ActionCreatePreparedStatementResult
  go/arrow/flight/flightsql/client.go
  go/arrow/flight/flightsql/client_test.go
  go/arrow/flight/flightsql/types.go
Labels: Component: Go, awaiting change review

#39986 GH-39987: [R] Make it possible to use a rtools libarrow on windows
  r/configure.win
Labels: Component: R, awaiting committer review

#39993 GH-39992: [CI][Docs][Java] ubuntu-docs uses Maven version in .env
  ci/docker/linux-apt-docs.dockerfile
  docker-compose.yml
Labels: awaiting committer review

#39840 GH-38703: [C++][FS][Azure] Implement DeleteFile()
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting merge

#37533 GH-37484: [Python] Add a FixedSizeTensorScalar class
  cpp/src/arrow/extension/fixed_shape_tensor.cc
  cpp/src/arrow/extension/fixed_shape_tensor.h
  cpp/src/arrow/extension/fixed_shape_tensor_test.cc
  cpp/src/arrow/extension/tensor_internal.h
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/scalar.pxi
  python/pyarrow/tests/test_extension_type.py
  python/pyarrow/types.pxi
Labels: Component: C++, Component: Python, awaiting change review

#39813 GH-39812: [Python] Add bindings for ListView and LargeListView
  docs/source/python/api/arrays.rst
  docs/source/python/api/datatypes.rst
  python/pyarrow/__init__.py
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/lib.pxd
  python/pyarrow/lib.pyx
  python/pyarrow/public-api.pxi
  python/pyarrow/scalar.pxi
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_misc.py
  python/pyarrow/tests/test_scalars.py
  python/pyarrow/tests/test_types.py
  python/pyarrow/types.pxi
  python/pyarrow/types.py
Labels: Component: Python, Component: Documentation, awaiting change review

#39997 GH-39996: [Archery] Fix Crossbow build on a PR from a fork's main branch
  dev/archery/archery/bot.py
Labels: awaiting review

#39994 GH-39976: [C++] Fix out-of-line data size calculation in BinaryViewBuilder::AppendArraySlice
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/builder_binary.cc
Labels: Component: C++, awaiting committer review

#39975 GH-39973: [C++][CI] Disable debug memory pool for ASAN and Valgrind
  ci/appveyor-cpp-build.bat
  ci/scripts/c_glib_test.sh
  ci/scripts/cpp_test.sh
  ci/scripts/python_test.sh
  ci/scripts/r_test.sh
  ci/scripts/ruby_test.sh
  cpp/src/arrow/memory_pool.cc
  docker-compose.yml
  docs/source/cpp/env_vars.rst
  python/pyarrow/tests/test_memory.py
Labels: Component: C++, Component: Python, Component: Documentation, awaiting change review

#39963 GH-39962: [C++] Small CSV reader refactoring
  cpp/src/arrow/csv/reader.cc
Labels: Component: C++, awaiting merge

#40005 GH-40004: [Python][FlightRPC] Release GIL in GeneratorStream
  python/pyarrow/_flight.pyx
Labels: Component: Python, Component: FlightRPC, awaiting merge

#40008 GH-39916: [C#] Restore support for .NET 4.6.2
  csharp/src/Apache.Arrow.Compression/Apache.Arrow.Compression.csproj
  csharp/src/Apache.Arrow/Apache.Arrow.csproj
  csharp/src/Apache.Arrow/Extensions/TupleExtensions.netstandard.cs
  csharp/test/Apache.Arrow.Tests/Apache.Arrow.Tests.csproj
  csharp/test/Apache.Arrow.Tests/BinaryArrayBuilderTests.cs
Labels: Component: C#, awaiting review

#39971 GH-39352: [FS][Azure] Enable azure in builds
  ci/docker/python-wheel-manylinux.dockerfile
  ci/scripts/cpp_build.sh
  ci/scripts/python_build.sh
  ci/scripts/python_test.sh
  ci/scripts/python_wheel_macos_build.sh
  ci/scripts/python_wheel_manylinux_build.sh
  ci/scripts/python_wheel_unix_test.sh
  ci/vcpkg/vcpkg.json
  dev/tasks/python-wheels/github.osx.amd64.yml
  dev/tasks/python-wheels/github.osx.arm64.yml
Labels: awaiting change review

#40010 GH-40009: [C++] Add missing "#include <algorithm>"
  cpp/src/arrow/filesystem/util_internal.cc
Labels: Component: C++, awaiting committer review

#39904 GH-38704: [C++] Implement Azure FileSystem Move() via Azure DataLake Storage Gen 2 API
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_test.cc
  cpp/src/arrow/filesystem/util_internal.cc
  cpp/src/arrow/filesystem/util_internal.h
  cpp/src/arrow/util/io_util.cc
  cpp/src/arrow/util/io_util.h
Labels: Component: C++, awaiting change review

#40012 GH-40011: [CI] Update Fedora to 39 from 38
  .env
  ci/docker/fedora-39-cpp.dockerfile
  dev/tasks/tasks.yml
  docker-compose.yml
  python/examples/minimal_build/Dockerfile.fedora
Labels: Component: Python, awaiting merge

#40015 GH-39919: [C++][Dataset] Add missing Protobuf static link dependency
  cpp/CMakeLists.txt
Labels: Component: C++, awaiting changes

#39989 MINOR: [Docs] Use ' and remove trailing spaces in basic_arrow.rst
  docs/source/cpp/tutorials/basic_arrow.rst
Labels: Component: Documentation, awaiting merge

#39781 GH-39780: [Python][Parquet] Support hashing for FileMetaData and ParquetSchema
  python/pyarrow/_parquet.pyx
  python/pyarrow/tests/parquet/test_metadata.py
Labels: Component: Python, awaiting committer review

#40042 GH-40039: [Java][FlightRPC] Improve performance by removing unnecessary memory copies
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/ArrowMessage.java
Labels: Component: Java, awaiting merge

#40002 GH-39996: [Archery] Fix Crossbow build on a PR from a fork's main branch
  .github/workflows/comment_bot.yml
  dev/archery/archery/bot.py
Labels: awaiting change review

#39878 GH-39863: [C++] Thirdparty: Bump google benchmark to 1.8.3
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting review

#40006 MINOR: [Docs] Tweak language in basic_arrow.rst
  docs/source/cpp/tutorials/basic_arrow.rst
Labels: Component: Documentation, awaiting review

#40030 GH-40029: [Packaging][Ubuntu] Drop support for Ubuntu 23.10 Mantic Minotaur
  dev/release/binary-task.rb
  dev/release/verify-release-candidate.sh
  dev/tasks/linux-packages/apache-arrow-apt-source/apt/ubuntu-mantic/Dockerfile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-mantic-arm64/from
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-mantic/Dockerfile
  dev/tasks/linux-packages/package-task.rb
  dev/tasks/tasks.yml
Labels: awaiting committer review

#40054 GH-40052: [C++][FS][Azure] Fix CreateDir and DeleteDir trailing slash issues on hierarchical namespace accounts
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting committer review

#40017 GH-39463: [C++] Support cast kernel from large string, (large) binary to dictionary
  cpp/src/arrow/compute/kernels/scalar_cast_dictionary.cc
  cpp/src/arrow/scalar_test.cc
Labels: Component: C++, awaiting committer review

#40056 GH-40055: [Java][Docs] Simplify use of Filter and Expression into Dataset Substrait
  docs/source/java/substrait.rst
Labels: Component: Documentation, awaiting committer review

#40129 MINOR: [Archery] Output full Docker progress when --debug is passed
  dev/archery/archery/cli.py
  dev/archery/archery/docker/cli.py
  dev/archery/archery/docker/core.py
Labels: awaiting merge

#39804 GH-39803: [C++][Acero] Fix AsOfJoin with differently ordered schemas than the output
  cpp/src/arrow/acero/asof_join_node.cc
  cpp/src/arrow/acero/asof_join_node_test.cc
Labels: Component: C++, awaiting committer review

#40131 GH-40112: [CI][Python] Ensure CPython is selected, not PyPy
  ci/docker/conda-python.dockerfile
Labels: awaiting review

#40091 GH-39663: [C++] Ensure top-level benchmarks present informative metrics
  cpp/src/arrow/builder_benchmark.cc
  cpp/src/arrow/memory_pool_benchmark.cc
  cpp/src/arrow/util/int_util_benchmark.cc
  cpp/src/arrow/util/range_benchmark.cc
Labels: Component: C++, awaiting merge

#40132 GH-40133: [C++][Parquet][Tools] Print FIXED_LEN_BYTE_ARRAY length
  cpp/src/parquet/printer.cc
  cpp/src/parquet/types.cc
  cpp/src/parquet/types.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#40146 GH-40145: [C++][Docs] Correct the console emitter link
  docs/source/developers/cpp/windows.rst
Labels: Component: Documentation, awaiting review

#39941 MINOR: [Docs][Java] Fix incorrect example
  docs/source/java/quickstartguide.rst
Labels: Component: Documentation, awaiting committer review

#39939 MINOR: [Docs][Java] Fix installation documentation for BOM file
  docs/source/java/install.rst
Labels: Component: Documentation, awaiting committer review

#40150 GH-37931: [Python] Revert "GH-37803: [CI][Dev][Python] Release and merge script errors (#37819)"
  ci/conda_env_archery.txt
  ci/conda_env_crossbow.txt
  ci/conda_env_python.txt
  dev/archery/setup.py
  dev/tasks/conda-recipes/arrow-cpp/meta.yaml
  python/pyproject.toml
  python/requirements-build.txt
  python/requirements-wheel-build.txt
  python/setup.py
Labels: Component: Python, awaiting review

#40098 GH-40097: [Go][FlightRPC] Enable disabling TLS
  go/arrow/flight/flightsql/driver/driver.go
  go/arrow/flight/flightsql/driver/utils.go
Labels: Component: Go, awaiting merge

#40162 MINOR: [Dev][Archery] Reinstate version constraint on setuptools_scm for comment bot
  dev/archery/setup.py
Labels: awaiting review

#40164 GH-40159: [Python][CI] Add 32-bit Debian build on Crossbow
  dev/tasks/tasks.yml
Labels: awaiting review

#40104 GH-38573: [Java][FlightRPC] Try all locations in JDBC driver
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightClient.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/client/ArrowFlightSqlClientHandler.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/FlightEndpointDataQueue.java
  java/flight/flight-sql-jdbc-core/src/test/java/org/apache/arrow/driver/jdbc/ResultSetTest.java
Labels: Component: Java, awaiting changes

#40075 GH-40074: [C++][FS][Azure] Implement `DeleteFile()` for flat-namespace storage accounts
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting merge

#40105 GH-39870: [Go] Include buffered pages in TotalBytesWritten
  go/parquet/file/column_writer.go
  go/parquet/file/column_writer_test.go
Labels: Component: Go, awaiting change review

#40165 GH-40153: [Python] Update size assumptions for 32-bit platforms
  python/pyarrow/tests/test_pandas.py
  python/pyarrow/tests/test_schema.py
Labels: Component: Python, awaiting committer review

#40167 GH-39291: [Docs] Remove the "Show source" links from doc pages
  docs/source/conf.py
Labels: awaiting merge

#40176 GH-40153: [Python][C++] Fix large file handling on 32-bit Python build
  cpp/src/arrow/io/file.cc
  python/pyarrow/src/arrow/python/io.cc
  python/pyarrow/tests/test_io.py
Labels: Component: C++, Component: Python, awaiting merge

#40119 GH-40037: [C++][FS][Azure] Make attempted reads and writes against directories fail fast
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting committer review

#40175 GH-40174: [C++][CI][Parquet] Fixing parquet column_writer_test building
  cpp/src/parquet/column_writer_test.cc
Labels: Component: Parquet, Component: C++, awaiting changes

#40185 MINOR: [JAVA] Add unit test for float16 into cdata interface module
  java/c/src/test/java/org/apache/arrow/c/RoundtripTest.java
  java/vector/src/test/java/org/apache/arrow/vector/testing/ValueVectorDataPopulator.java
Labels: Component: Java, awaiting merge

#40093 GH-40092: [Python] Support Binary/StringView conversion to numpy/pandas
  python/pyarrow/src/arrow/python/arrow_to_pandas.cc
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting committer review

#40201 MINOR: [C++] Add missing parenthesis in error message
  cpp/src/arrow/io/file.cc
Labels: Component: C++, awaiting review

#39960 GH-31735: [Docs][Release] Move release verification guide to developers documentation
  dev/README.md
  dev/release/02-source-test.rb
  dev/release/02-source.sh
  dev/release/README.md
  dev/release/VERIFY.md
  docs/source/developers/index.rst
  docs/source/developers/release.rst
  docs/source/developers/release_verification.rst
Labels: Component: Documentation, awaiting changes

#40080 GH-40079: [CI][Packaging] Enable Azure in more tests and builds
  .github/workflows/python.yml
  ci/conda_env_cpp.txt
  ci/docker/conda-cpp.dockerfile
  ci/scripts/cpp_test.sh
  ci/scripts/python_sdist_test.sh
  ci/scripts/python_test.sh
Labels: awaiting change review

#40191 GH-40190: [R][Docs] Update NEWS.md with build system changes
  r/NEWS.md
Labels: Component: R, Component: Documentation, awaiting change review

#39995 GH-39965: [C++] DatasetWriter avoid creating zero-sized batch when `max_rows_per_file` enabled
  cpp/src/arrow/dataset/dataset_writer.cc
  cpp/src/arrow/dataset/dataset_writer_test.cc
Labels: Component: C++, awaiting change review

#40197 GH-40199: [R] dbplyr 2.5.0 forward compatibility
  r/R/duckdb.R
Labels: Component: R, awaiting review

#40210 GH-40209: [C++][CMake] Use "RapidJSON" CMake target for RapidJSON
  cpp/CMakeLists.txt
  cpp/cmake_modules/FindRapidJSONAlt.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#40222 GH-40221: [C++][CMake] Use arrow/util/config.h.cmake instead of add_definitions()
  cpp/CMakeLists.txt
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/kernels/scalar_string_ascii.cc
  cpp/src/arrow/compute/kernels/scalar_string_test.cc
  cpp/src/arrow/compute/kernels/scalar_string_utf8.cc
  cpp/src/arrow/ipc/feather_test.cc
  cpp/src/arrow/util/compression.cc
  cpp/src/arrow/util/compression_benchmark.cc
  cpp/src/arrow/util/compression_test.cc
  cpp/src/arrow/util/config.h.cmake
  cpp/src/arrow/util/logging.cc
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/column_io_benchmark.cc
  cpp/src/parquet/column_writer_test.cc
  cpp/src/parquet/file_deserialize_test.cc
  cpp/src/parquet/file_serialize_test.cc
  cpp/src/parquet/reader_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#40225 GH-40236: [Python][CI] Disable generating C lines in Cython tracebacks
  python/CMakeLists.txt
Labels: Component: Python, awaiting committer review

#40007 GH-39582: [C++][Acero] Increase size of Acero TempStack
  cpp/src/arrow/acero/query_context.cc
  cpp/src/arrow/compute/util.cc
Labels: Component: C++, awaiting merge

#40110 GH-39897: [C++][FS][S3] Ensure `AwsInstance::EnsureInitialized` to do initialization exactly once under concurrency
  cpp/src/arrow/filesystem/s3fs.cc
  python/pyarrow/tests/test_fs.py
Labels: Component: C++, Component: Python, awaiting change review

#40219 GH-40215: [Format][Docs] Document Arrow Columnar Format version history
  docs/source/format/CanonicalExtensions.rst
  docs/source/format/Columnar.rst
  docs/source/format/Versioning.rst
  docs/source/status.rst
Labels: Component: Documentation, awaiting committer review

#40229 GH-40228: [C++][CMake] Improve description why we need to initialize AWS C++ SDK in arrow-s3fs-test
  cpp/src/arrow/filesystem/CMakeLists.txt
  cpp/src/arrow/filesystem/s3fs_test.cc
Labels: Component: C++, awaiting committer review

#40156 MINOR: [Format] Clarify that the buffers for the Binary View layout differ in the C Data Interface
  docs/source/format/CDataInterface.rst
  docs/source/format/Columnar.rst
Labels: Component: Documentation, Component: Format, awaiting merge

#40172 GH-40171: [Python] Add Type_FIXED_SIZE_LIST to _NESTED_TYPES set
  python/pyarrow/tests/test_types.py
  python/pyarrow/types.py
Labels: Component: Python, awaiting review

#40251 MINOR: [Documentation][C++][Python][R] Clarify docstrings around max_chunksize
  cpp/src/arrow/ipc/writer.h
  cpp/src/arrow/table.h
  python/pyarrow/_flight.pyx
  python/pyarrow/ipc.pxi
  python/pyarrow/table.pxi
  r/R/flight.R
  r/man/flight_put.Rd
Labels: Component: R, Component: C++, Component: Python, Component: FlightRPC, awaiting merge

#40143 GH-40142: [Python] Allow FileInfo instances to be passed to dataset init
  python/pyarrow/_dataset.pyx
  python/pyarrow/dataset.py
  python/pyarrow/includes/libarrow_dataset.pxd
  python/pyarrow/tests/test_dataset.py
Labels: Component: Python, awaiting merge

#40234 GH-40233: [C++] Fix an abort on asof_join_benchmark run for lost an arg
  cpp/src/arrow/acero/asof_join_benchmark.cc
Labels: Component: C++, awaiting committer review

#39888 GH-39864: [C++] DataType::ToString support optionally show metadata
  cpp/gdb_arrow.py
  cpp/src/arrow/engine/simple_extension_type_internal.h
  cpp/src/arrow/extension/fixed_shape_tensor.cc
  cpp/src/arrow/extension/fixed_shape_tensor.h
  cpp/src/arrow/extension_type.cc
  cpp/src/arrow/extension_type.h
  cpp/src/arrow/testing/gtest_util.cc
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
  cpp/src/arrow/type_test.cc
  python/pyarrow/src/arrow/python/extension_type.cc
  python/pyarrow/src/arrow/python/extension_type.h
Labels: Component: C++, Component: Python, awaiting change review

#40230 GH-40181: [C++] Support glog 0.7 build
  cpp/cmake_modules/FindGLOG.cmake
  cpp/src/arrow/util/logging.cc
Labels: Component: C++, awaiting committer review

#40265 GH-40266: [Python] Mark ListView as a nested type
  python/pyarrow/tests/test_types.py
  python/pyarrow/types.py
Labels: Component: Python, awaiting review

#40206 GH-40207: [C++] TakeCC: Concatenate only once and delegate to TakeAA instead of TakeCA
  cpp/src/arrow/compute/kernels/vector_selection_benchmark.cc
  cpp/src/arrow/compute/kernels/vector_selection_take_internal.cc
Labels: Component: C++, awaiting committer review

#39592 GH-39277: [Python] Fix missing byte_width attribute on DataType class
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_types.py
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting merge

#39783 GH-39782: [C++] Use correct (non-CPU) address of buffer in ExportDeviceArray
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/gpu/cuda_test.cc
Labels: Component: C++, awaiting change review

#39980 GH-39979: [Python] Low-level bindings for exporting/importing the C Device Interface
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/c/bridge.h
  python/pyarrow/array.pxi
  python/pyarrow/cffi.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_cffi.py
Labels: Component: C++, Component: Python, awaiting changes

#40277 GH-40276: [C++] Fix an simple buffer-overflow case in decimal_benchmark
  cpp/src/arrow/util/decimal_benchmark.cc
Labels: Component: C++, awaiting review

#40259 GH-40248: [R] fallback to the correct libtool when we find a GNU one
  cpp/cmake_modules/BuildUtils.cmake
  dev/tasks/r/github.macos-linux.local.yml
Labels: Component: C++, awaiting change review

#39824 GH-39823: [C++] Allow building cpp/src/arrow/**/*.cc without waiting bundled libraries
  cpp/CMakeLists.txt
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/examples/arrow/CMakeLists.txt
  cpp/examples/parquet/parquet_stream_api/stream_reader_writer.cc
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/acero/CMakeLists.txt
  cpp/src/arrow/adapters/orc/CMakeLists.txt
  cpp/src/arrow/compute/CMakeLists.txt
  cpp/src/arrow/compute/kernels/CMakeLists.txt
  cpp/src/arrow/compute/kernels/scalar_string_benchmark.cc
  cpp/src/arrow/dataset/CMakeLists.txt
  cpp/src/arrow/dataset/file_csv_test.cc
  cpp/src/arrow/filesystem/CMakeLists.txt
  cpp/src/arrow/filesystem/s3fs_test.cc
  cpp/src/arrow/flight/CMakeLists.txt
  cpp/src/arrow/integration/CMakeLists.txt
  cpp/src/arrow/io/CMakeLists.txt
  cpp/src/arrow/ipc/CMakeLists.txt
  cpp/src/arrow/ipc/read_write_benchmark.cc
  cpp/src/arrow/json/CMakeLists.txt
  cpp/src/arrow/util/CMakeLists.txt
  cpp/src/arrow/util/benchmark_main.cc
  cpp/src/gandiva/CMakeLists.txt
  cpp/src/gandiva/precompiled/CMakeLists.txt
  cpp/src/parquet/CMakeLists.txt
  cpp/src/skyhook/CMakeLists.txt
Labels: Component: Parquet, Component: C++, Component: FlightRPC, Component: C++ - Gandiva, awaiting changes

#40288 MINOR: [Python] Avoid failing pyarrow compute test on leap day
  python/pyarrow/tests/test_compute.py
Labels: Component: Python, awaiting committer review

#40223 GH-40126: [C++] Decimal types with different precisions and scales bind failed in resolve type when call arithmetic function
  cpp/src/arrow/compute/expression.cc
  cpp/src/arrow/compute/expression_test.cc
  cpp/src/arrow/compute/kernels/scalar_arithmetic.cc
Labels: Component: C++, awaiting merge

#40281 GH-40280: [C++] Specialize ResolvedChunk::Value on value-specific types instead of entire class
  cpp/src/arrow/chunk_resolver.cc
  cpp/src/arrow/chunk_resolver.h
  cpp/src/arrow/compute/kernels/chunked_internal.h
  cpp/src/arrow/compute/kernels/vector_rank.cc
  cpp/src/arrow/compute/kernels/vector_select_k.cc
  cpp/src/arrow/compute/kernels/vector_sort.cc
  cpp/src/arrow/compute/kernels/vector_sort_internal.h
Labels: Component: C++, awaiting committer review
