Repository apache/arrow, pull requests merged in 2024-08, with the labels that each got.

#43077 GH-41569: [Java] ListViewVector Implementation for UnionListViewReader
  java/vector/src/main/codegen/templates/AbstractFieldWriter.java
  java/vector/src/main/codegen/templates/AbstractPromotableFieldWriter.java
  java/vector/src/main/codegen/templates/BaseWriter.java
  java/vector/src/main/codegen/templates/ComplexCopier.java
  java/vector/src/main/codegen/templates/DenseUnionWriter.java
  java/vector/src/main/codegen/templates/PromotableViewWriter.java
  java/vector/src/main/codegen/templates/PromotableWriter.java
  java/vector/src/main/codegen/templates/StructWriters.java
  java/vector/src/main/codegen/templates/UnionListWriter.java
  java/vector/src/main/codegen/templates/UnionReader.java
  java/vector/src/main/codegen/templates/UnionVector.java
  java/vector/src/main/codegen/templates/UnionViewWriter.java
  java/vector/src/main/codegen/templates/UnionWriter.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/AbstractContainerVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/BaseRepeatedValueViewVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/ListViewVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/impl/ComplexWriterImpl.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/impl/UnionListViewReader.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/JsonFileReader.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/JsonFileWriter.java
  java/vector/src/test/java/org/apache/arrow/vector/TestListViewVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestValueVector.java
  java/vector/src/test/java/org/apache/arrow/vector/complex/writer/TestComplexWriter.java
  java/vector/src/test/java/org/apache/arrow/vector/ipc/BaseFileTest.java
  java/vector/src/test/java/org/apache/arrow/vector/testing/ValueVectorDataPopulator.java
Labels: Component: Java, awaiting merge

#43515 GH-43514: [Python] Deprecate passing build flags to setup.py
  python/setup.py
Labels: Component: Python, awaiting change review

#43504 MINOR: [R] switch on `R_VERSION`
  r/src/arrow_cpp11.h
Labels: Component: R, awaiting committer review

#43508 GH-43507: [C++] Use ViewOrCopyTo instead of CopyTo when pretty printing non-CPU data
  cpp/src/arrow/pretty_print.cc
  python/pyarrow/tests/test_cuda.py
Labels: Component: C++, Component: Python, awaiting committer review

#43457 GH-43453: [Format] Add Opaque canonical extension type
  docs/source/format/CanonicalExtensions.rst
Labels: Component: Documentation, awaiting merge

#43460 GH-43456: [Java] Add Opaque canonical extension type
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowConfigBuilder.java
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/JdbcToArrowUtils.java
  java/adapter/jdbc/src/test/java/org/apache/arrow/adapter/jdbc/h2/JdbcToArrowDataTypesTest.java
  java/vector/src/main/java/module-info.java
  java/vector/src/main/java/org/apache/arrow/vector/extension/InvalidExtensionMetadataException.java
  java/vector/src/main/java/org/apache/arrow/vector/extension/OpaqueType.java
  java/vector/src/main/java/org/apache/arrow/vector/extension/OpaqueVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestOpaqueExtensionType.java
Labels: Component: Java, awaiting committer review

#43513 GH-43512: [Java] ListViewVector Visitor-based component Integration
  java/vector/src/main/java/org/apache/arrow/vector/compare/RangeEqualsVisitor.java
  java/vector/src/main/java/org/apache/arrow/vector/compare/TypeEqualsVisitor.java
  java/vector/src/main/java/org/apache/arrow/vector/compare/VectorVisitor.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/ListViewVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestValueVector.java
  java/vector/src/test/java/org/apache/arrow/vector/compare/TestRangeEqualsVisitor.java
  java/vector/src/test/java/org/apache/arrow/vector/compare/TestTypeEqualsVisitor.java
Labels: Component: Java, awaiting review

#43415 GH-43414: [C++][Compute] Fix invalid memory access when resizing var-length buffer in row table
  cpp/src/arrow/compute/row/row_internal.cc
  cpp/src/arrow/compute/row/row_internal.h
  cpp/src/arrow/compute/row/row_test.cc
Labels: Component: C++, awaiting merge

#43477 GH-43548: [R][CI] Use grep -F to simplify matching or rchk output
  dev/tasks/r/github.linux.rchk.yml
Labels: Component: R, Component: Continuous Integration, awaiting review

#43273 GH-41909: [C++] Add arrow::ArrayStatistics
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/array/statistics.cc
  cpp/src/arrow/array/statistics.h
  cpp/src/arrow/array/statistics_test.cc
Labels: Component: C++, awaiting changes

#43550 MINOR: [Go] Fix typo in documentation in go/arrow/table.go
  go/arrow/table.go
Labels: Component: Go, awaiting committer review

#43383 GH-43382: [C++][Parquet] min-max Statistics doesn't work well when one of min-max is truncated
  cpp/src/parquet/arrow/arrow_statistics_test.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/statistics.h
  cpp/src/parquet/statistics_test.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#43566 MINOR: [CI] Replace docker-compose with `docker compose`
  .github/workflows/cpp.yml
  dev/tasks/cpp-examples/github.linux.yml
  dev/tasks/python-minimal-build/github.linux.yml
  dev/tasks/r/azure.linux.yml
Labels: awaiting merge

#43482 GH-43483: [Java][C++] Support more CsvFragmentScanOptions in JNI call
  java/dataset/src/main/cpp/jni_wrapper.cc
  java/dataset/src/main/java/org/apache/arrow/dataset/scanner/csv/CsvFragmentScanOptions.java
  java/dataset/src/test/java/org/apache/arrow/dataset/TestFragmentScanOptions.java
Labels: Component: Java, awaiting merge

#43565 GH-43559: [Python][CI] Add a Crossbow job with a debug CPython interpreter
  ci/docker/conda-python-cpython-debug.dockerfile
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: awaiting merge

#43459 GH-43455: [Go] Add Opaque canonical extension type
  go/arrow/extensions/doc.go
  go/arrow/extensions/opaque.go
  go/arrow/extensions/opaque_test.go
Labels: Component: Go, awaiting merge

#43493 GH-43492: [C++] Thirdparty: Bump lz4 to 1.10.0
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting committer review

#43579 GH-43592: [C++] Remove redundant default constructor/deconstructor in arrow::ArrayStatistics
  cpp/src/arrow/array/statistics.h
Labels: Component: C++, awaiting committer review

#43501 GH-43500: [R][CI] Bump dev docs CI job from ubuntu 20.04
  dev/tasks/r/github.devdocs.yml
Labels: awaiting committer review

#43486 GH-43388: [Python] Give precedence to pycapsule interface in pa.schema(..)
  python/pyarrow/tests/test_types.py
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting committer review

#43428 GH-43427: [C++][Parquet] Deprecate ColumnChunk::file_offset field and no longer write Metadata at end of Chunk
  c_glib/test/parquet/test-column-chunk-metadata.rb
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/metadata.h
  python/pyarrow/tests/parquet/test_metadata.py
Labels: Component: Parquet, Component: C++, Component: Python, Component: GLib, awaiting committer review

#43557 GH-43487: [Python] Sanitize Python reference handling in UDF implementation
  python/pyarrow/src/arrow/python/udf.cc
  python/pyarrow/tests/test_udf.py
Labels: Component: Python, awaiting merge

#43586 GH-43608: [CI][Archery] Prefer `docker compose` over `docker-compose`
  .github/workflows/archery.yml
  .github/workflows/cpp.yml
  .github/workflows/dev.yml
  .github/workflows/docs.yml
  .github/workflows/docs_light.yml
  .github/workflows/go.yml
  .github/workflows/integration.yml
  .github/workflows/java.yml
  .github/workflows/java_jni.yml
  .github/workflows/js.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  .github/workflows/ruby.yml
  .github/workflows/swift.yml
  dev/archery/archery/docker/cli.py
  dev/archery/archery/docker/core.py
  dev/archery/archery/docker/tests/test_docker.py
  dev/archery/requirements-test.txt
  dev/tasks/docker-tests/github.cuda.yml
  dev/tasks/java-jars/github.yml
  dev/tasks/linux-packages/github.linux.yml
  dev/tasks/macros.jinja
  dev/tasks/python-wheels/github.linux.yml
  dev/tasks/python-wheels/github.windows.yml
  dev/tasks/tasks.yml
Labels: awaiting merge

#43602 GH-43532: [Python] Remove usage of deprecated pkg_resources in setup.py
  python/setup.py
Labels: Component: Python, awaiting change review

#43544 GH-43543: [FlightRPC][C++] Reduce the number of references to protobuf::Any
  cpp/src/arrow/flight/flight_internals_test.cc
  cpp/src/arrow/flight/serialization_internal.cc
  cpp/src/arrow/flight/serialization_internal.h
  cpp/src/arrow/flight/sql/client.cc
  cpp/src/arrow/flight/sql/client.h
  cpp/src/arrow/flight/sql/server.cc
  cpp/src/arrow/flight/transport/grpc/grpc_client.cc
  cpp/src/arrow/flight/types.cc
  cpp/src/arrow/flight/types.h
Labels: Component: C++, Component: FlightRPC, awaiting merge

#43234 GH-17682: [Format] Add Bool8 Canonical Extension Type
  docs/source/format/CanonicalExtensions.rst
Labels: Component: Documentation, awaiting merge

#43615 GH-43618: [Packaging][Python] Fix vcpkg version detection in macOS wheel build jobs
  dev/tasks/python-wheels/github.osx.yml
Labels: awaiting changes

#43516 GH-41272: [Java] LargeListViewVector Implementation
  java/adapter/jdbc/src/main/java/org/apache/arrow/adapter/jdbc/binder/ColumnBinderArrowTypeVisitor.java
  java/c/src/main/java/org/apache/arrow/c/BufferImportTypeVisitor.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/AvaticaParameterBinder.java
  java/flight/flight-sql-jdbc-core/src/main/java/org/apache/arrow/driver/jdbc/utils/ConvertUtils.java
  java/vector/src/main/codegen/data/ArrowTypes.tdd
  java/vector/src/main/codegen/templates/ComplexCopier.java
  java/vector/src/main/codegen/templates/PromotableViewWriter.java
  java/vector/src/main/codegen/templates/PromotableWriter.java
  java/vector/src/main/codegen/templates/UnionListWriter.java
  java/vector/src/main/codegen/templates/UnionReader.java
  java/vector/src/main/java/org/apache/arrow/vector/BufferLayout.java
  java/vector/src/main/java/org/apache/arrow/vector/TypeLayout.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/BaseLargeRepeatedValueViewVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/LargeListViewVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/impl/UnionLargeListViewReader.java
  java/vector/src/main/java/org/apache/arrow/vector/extension/OpaqueType.java
  java/vector/src/main/java/org/apache/arrow/vector/types/Types.java
  java/vector/src/test/java/org/apache/arrow/vector/TestLargeListViewVector.java
Labels: Component: Java, awaiting merge

#42221 GH-41126: [Python] Test Buffer device/device_type access on CUDA
  python/pyarrow/tests/test_cuda.py
Labels: Component: Python, awaiting change review

#43481 GH-30058: [Python] Add StructType attribute to access all its fields
  python/pyarrow/tests/test_types.py
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting changes

#43503 GH-43502: [Java] Fix Java JNI / AMD64 manylinux2014 Java JNI test not test dataset module
  ci/scripts/java_test.sh
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/FilterProjectTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/FilterTest.java
  java/gandiva/src/test/java/org/apache/arrow/gandiva/evaluator/ProjectorDecimalTest.java
Labels: Component: Java, awaiting merge

#43338 GH-43357: [R] Fix some lints
  r/R/arrow-tabular.R
  r/R/dplyr-datetime-helpers.R
  r/R/dplyr-funcs-datetime.R
  r/R/dplyr-slice.R
  r/tests/testthat/helper-data.R
  r/tests/testthat/test-Array.R
  r/tests/testthat/test-RecordBatch.R
  r/tests/testthat/test-Table.R
  r/tests/testthat/test-compute-aggregate.R
  r/tests/testthat/test-compute-arith.R
  r/tests/testthat/test-csv.R
  r/tests/testthat/test-dataset-csv.R
  r/tests/testthat/test-dataset-json.R
  r/tests/testthat/test-dataset.R
  r/tests/testthat/test-dplyr-filter.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
  r/tests/testthat/test-dplyr-join.R
  r/tests/testthat/test-dplyr-slice.R
  r/tests/testthat/test-json.R
  r/tests/testthat/test-parquet.R
  r/tests/testthat/test-record-batch-reader.R
  r/tests/testthat/test-schema.R
  r/tests/testthat/test-utf.R
Labels: Component: R, awaiting merge

#43581 GH-43578: [C++] Simplify arrow::ArrayStatistics::ValueType
  cpp/src/arrow/array/statistics.h
  cpp/src/arrow/array/statistics_test.cc
Labels: Component: C++, awaiting merge

#43328 GH-43167: [C++] Add workaround for missing Boost dependency of Thrift
  cpp/cmake_modules/FindThriftAlt.cmake
Labels: Component: C++, awaiting committer review

#43464 GH-43463: [C++][Gandiva] Always use gdv_function_stubs.h in context_helper.cc
  cpp/src/gandiva/context_helper.cc
Labels: Component: C++, Component: C++ - Gandiva, awaiting committer review

#43593 GH-43591: [C++][GLib] Don't install arrow-cuda.pc/arrow-cuda-glib.pc on Windows
  c_glib/arrow-cuda-glib/meson.build
  cpp/src/arrow/gpu/CMakeLists.txt
Labels: Component: C++, Component: GLib, awaiting committer review

#43636 GH-43635: [R][CI] Don't install Quarto
  .github/workflows/r.yml
Labels: awaiting committer review

#43609 GH-43588: [Python] Allow tuple for rename columns
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting merge

#43323 GH-17682: [Go] Bool8 Extension Type Implementation
  go/arrow/array/builder.go
  go/arrow/array/extension_builder.go
  go/arrow/extensions/bool8.go
  go/arrow/extensions/bool8_test.go
  go/arrow/extensions/extensions_test.go
  go/internal/types/extension_types.go
  go/internal/types/extension_types_test.go
  go/parquet/pqarrow/encode_arrow_test.go
Labels: Component: Go, awaiting merge

#43642 GH-43638: [Java] LargeListViewVector RangeEqualVisitor and TypeEqualVisitor integration
  java/vector/src/main/java/org/apache/arrow/vector/compare/RangeEqualsVisitor.java
  java/vector/src/main/java/org/apache/arrow/vector/compare/TypeEqualsVisitor.java
  java/vector/src/main/java/org/apache/arrow/vector/compare/VectorVisitor.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/LargeListViewVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestValueVector.java
  java/vector/src/test/java/org/apache/arrow/vector/compare/TestRangeEqualsVisitor.java
  java/vector/src/test/java/org/apache/arrow/vector/compare/TestTypeEqualsVisitor.java
Labels: Component: Java, awaiting merge

#43606 GH-43536: [Python] Declare support for free-threading in Cython
  cpp/cmake_modules/UseCython.cmake
  python/CMakeLists.txt
Labels: Component: C++, Component: Python, awaiting merge

#43674 GH-43378: [Java][CI] Don't configure multithreading when building javadocs
  ci/scripts/java_build.sh
Labels: awaiting review

#43098 GH-43097: [C++] Implement `PathFromUri` support for Azure file system
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting change review

#43678 GH-43677: [C++][FlightRPC] Move the FlightTestServer to its own .cc and .h files
  cpp/src/arrow/flight/CMakeLists.txt
  cpp/src/arrow/flight/flight_test.cc
  cpp/src/arrow/flight/integration_tests/test_integration.cc
  cpp/src/arrow/flight/test_auth_handlers.cc
  cpp/src/arrow/flight/test_auth_handlers.h
  cpp/src/arrow/flight/test_definitions.cc
  cpp/src/arrow/flight/test_flight_server.cc
  cpp/src/arrow/flight/test_flight_server.h
  cpp/src/arrow/flight/test_server.cc
  cpp/src/arrow/flight/test_util.cc
  cpp/src/arrow/flight/test_util.h
Labels: Component: C++, Component: FlightRPC, awaiting changes

#43583 GH-43577: [Java] getBuffers method needs correction on clear flag usage
  java/vector/src/main/java/org/apache/arrow/vector/complex/AbstractStructVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/BaseRepeatedValueVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/FixedSizeListVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/LargeListVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/LargeListViewVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/ListVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/ListViewVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/StructVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestVectorReset.java
Labels: Component: Java, awaiting merge

#43458 GH-43454: [C++][Python] Add Opaque canonical extension type
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/kernels/scalar_cast_numeric.cc
  cpp/src/arrow/extension/CMakeLists.txt
  cpp/src/arrow/extension/opaque.cc
  cpp/src/arrow/extension/opaque.h
  cpp/src/arrow/extension/opaque_test.cc
  docs/source/python/api/arrays.rst
  docs/source/python/api/datatypes.rst
  python/pyarrow/__init__.py
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/lib.pxd
  python/pyarrow/public-api.pxi
  python/pyarrow/scalar.pxi
  python/pyarrow/tests/test_extension_type.py
  python/pyarrow/tests/test_misc.py
  python/pyarrow/types.pxi
Labels: Component: C++, Component: Python, Component: Documentation, awaiting change review

#43637 GH-41291: [Java] LargeListViewVector Implementation transferPair implementation
  java/vector/src/main/java/org/apache/arrow/vector/complex/BaseLargeRepeatedValueViewVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/LargeListViewVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestLargeListViewVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestSplitAndTransfer.java
Labels: Component: Java, awaiting merge

#43681 GH-43643: [Java] LargeListViewVector IPC Integration
  java/vector/src/main/java/org/apache/arrow/vector/ipc/JsonFileReader.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/JsonFileWriter.java
  java/vector/src/test/java/org/apache/arrow/vector/ipc/TestJSONFile.java
Labels: Component: Java, awaiting committer review

#43649 GH-43627: [R] Fix summarize() performance regression (pushdown)
  r/R/dplyr-summarize.R
Labels: Component: R, awaiting merge

#43621 GH-38041: [C++][CI] Improve IPC fuzzing seed corpus
  cpp/src/arrow/ipc/CMakeLists.txt
  cpp/src/arrow/ipc/generate_fuzz_corpus.cc
  cpp/src/arrow/ipc/generate_tensor_fuzz_corpus.cc
Labels: Component: C++

#43704 GH-43687: [C++] Compute: fix register kernel SimdLevel for AddMinMax512AggKernels
  cpp/src/arrow/compute/kernels/aggregate_basic_avx512.cc
Labels: Component: C++, awaiting merge

#41580 GH-41579: [C++][Python][Parquet] Support reading/writing key-value metadata from/to ColumnChunkMetaData
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/column_writer.h
  cpp/src/parquet/column_writer_test.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/metadata.h
  cpp/src/parquet/printer.cc
  python/pyarrow/_parquet.pxd
  python/pyarrow/_parquet.pyx
  python/pyarrow/tests/parquet/conftest.py
  python/pyarrow/tests/parquet/test_metadata.py
Labels: Component: Parquet, Component: C++, Component: Python, awaiting committer review

#43710 MINOR: [CI] Fix ubuntu-lint to not install into system Python
  docker-compose.yml
Labels: awaiting review

#43706 GH-43688: [C++] Prevent Snappy from disabling RTTI when bundled
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting change review

#43721 GH-41396: [Ruby] Add workaround for re2.pc on Ubuntu 20.04
  ruby/red-arrow/ext/arrow/extconf.rb
Labels: Component: Ruby, awaiting committer review

#43595 GH-43594: [C++] Remove std::optional from arrow::ArrayStatistics::is_{min,max}_exact
  cpp/src/arrow/array/statistics.h
  cpp/src/arrow/array/statistics_test.cc
Labels: Component: C++, awaiting changes

#43597 MINOR: [Docs][Python] Add LargeListType to Data Types docs
  docs/source/python/api/datatypes.rst
Labels: Component: Documentation, awaiting merge

#43725 MINOR: [Go][Doc] fix code format in the readme
  go/README.md
Labels: Component: Go, Component: Documentation, awaiting committer review

#43634 GH-43633: [R] Add tests for packages that might be tricky to roundtrip data to Tables + Parquet files
  dev/tasks/r/github.linux.extra.packages.yml
  dev/tasks/tasks.yml
  r/tests/testthat/test-extra-package-roundtrip.R
Labels: Component: R, awaiting change review

#43723 GH-43702: [C++][FS][Azure] Use the latest Azurite and update the bundled Azure SDK for C++ to azure-identity_1.9.0
  ci/scripts/install_azurite.sh
  cpp/src/arrow/filesystem/azurefs_test.cc
  cpp/thirdparty/versions.txt
  python/pyarrow/tests/conftest.py
Labels: Component: C++, Component: Python, awaiting merge

#43724 GH-43175: [C++] Skip not Emscripten ready tests in CSV tests
  ci/scripts/cpp_test.sh
  cpp/src/arrow/csv/column_decoder_test.cc
  cpp/src/arrow/csv/converter_test.cc
Labels: Component: C++, awaiting committer review

#43737 MINOR: [R] Fix a package namespace warning
  .github/workflows/r.yml
  r/tests/testthat/test-extra-package-roundtrip.R
Labels: Component: R, awaiting committer review

#43739 GH-43738: [GLib] Add `GArrowAzureFileSytem`
  c_glib/arrow-glib/file-system.cpp
  c_glib/arrow-glib/file-system.h
Labels: Component: GLib, awaiting committer review

#43639 GH-43506: [Java] Fix TestFragmentScanOptions result not match
  java/dataset/src/main/cpp/jni_wrapper.cc
  java/dataset/src/test/java/org/apache/arrow/dataset/TestFragmentScanOptions.java
Labels: Component: Java, awaiting merge

#43736 GH-43735: [R] AWS SDK fails to build on one of CRAN's M1 builders
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  dev/tasks/r/github.macos.cran.yml
  dev/tasks/tasks.yml
Labels: Component: C++, awaiting change review

#43555 GH-43554: [Go] Handle excluded fields
  go/arrow/util/messages/types.proto
  go/arrow/util/protobuf_reflect.go
  go/arrow/util/protobuf_reflect_test.go
  go/arrow/util/util_message/types.pb.go
Labels: Component: Go, awaiting merge

#43734 GH-43733: [C++] Fix Scalar boolean handling in row encoder
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/acero/asof_join_node_test.cc
  cpp/src/arrow/acero/hash_join.cc
  cpp/src/arrow/acero/hash_join_benchmark.cc
  cpp/src/arrow/acero/hash_join_dict.h
  cpp/src/arrow/acero/hash_join_node_test.cc
  cpp/src/arrow/acero/swiss_join.cc
  cpp/src/arrow/acero/swiss_join_internal.h
  cpp/src/arrow/acero/tpch_node_test.cc
  cpp/src/arrow/compute/CMakeLists.txt
  cpp/src/arrow/compute/kernels/hash_aggregate.cc
  cpp/src/arrow/compute/row/grouper.cc
  cpp/src/arrow/compute/row/row_encoder_internal.cc
  cpp/src/arrow/compute/row/row_encoder_internal.h
  cpp/src/arrow/compute/row/row_encoder_internal_test.cc
  cpp/src/arrow/compute/row/row_test.cc
Labels: Component: C++, awaiting committer review

#43765 GH-43707: [Python] Fix compilation on Cython<3
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting committer review

#43600 MINOR: [Documentation] Add installation of ninja-build to Python Development docs
  docs/source/developers/python.rst
Labels: Component: Documentation, awaiting review

#43488 GH-17682: [C++][Python] Bool8 Extension Type Implementation
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/extension/CMakeLists.txt
  cpp/src/arrow/extension/bool8.cc
  cpp/src/arrow/extension/bool8.h
  cpp/src/arrow/extension/bool8_test.cc
  cpp/src/arrow/extension_type.cc
  python/pyarrow/__init__.py
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/lib.pxd
  python/pyarrow/public-api.pxi
  python/pyarrow/scalar.pxi
  python/pyarrow/tests/test_extension_type.py
  python/pyarrow/tests/test_misc.py
  python/pyarrow/types.pxi
Labels: Component: C++, Component: Python, awaiting merge

#43767 GH-43069: [Python] Use Py_IsFinalizing from pythoncapi_compat.h
  python/pyarrow/src/arrow/python/udf.cc
Labels: Component: Python, awaiting merge

#42223 GH-42222: [Python] Add bindings for CopyTo on RecordBatch and Array classes
  python/pyarrow/array.pxi
  python/pyarrow/device.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/lib.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_cuda.py
  python/pyarrow/tests/test_device.py
Labels: Component: Python, awaiting changes

#43772 GH-43776: [C++] Add chunked Take benchmarks with a small selection factor
  cpp/src/arrow/compute/kernels/vector_selection_benchmark.cc
Labels: Component: C++, awaiting merge

#43413 GH-43141: [C++][Parquet] Replace use of int with int32_t in the internal Parquet encryption APIs
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/encryption/crypto_factory.cc
  cpp/src/parquet/encryption/encryption_internal.cc
  cpp/src/parquet/encryption/encryption_internal.h
  cpp/src/parquet/encryption/encryption_internal_nossl.cc
  cpp/src/parquet/encryption/encryption_internal_test.cc
  cpp/src/parquet/encryption/file_key_wrapper.cc
  cpp/src/parquet/encryption/internal_file_decryptor.cc
  cpp/src/parquet/encryption/internal_file_decryptor.h
  cpp/src/parquet/encryption/internal_file_encryptor.cc
  cpp/src/parquet/encryption/internal_file_encryptor.h
  cpp/src/parquet/encryption/key_toolkit_internal.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/thrift_internal.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#43718 GH-43717: [Java][FlightSQL] Add all ActionTypes to FlightSqlUtils.FLIGHT_SQL_ACTIONS
  java/flight/flight-sql/src/main/java/org/apache/arrow/flight/sql/FlightSqlUtils.java
Labels: Component: Java, awaiting merge

#43691 GH-43690: [Python][CI] Simplify python/requirements-wheel-test.txt file
  python/requirements-wheel-test.txt
Labels: Component: Python, awaiting changes

#43786 GH-43785: [Python][CI] Correct PARQUET_TEST_DATA path in wheel tests
  ci/scripts/python_wheel_unix_test.sh
  ci/scripts/python_wheel_windows_test.bat
Labels: awaiting committer review

#43788 GH-43787: [C++] Register the new Opaque extension type by default
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/extension/CMakeLists.txt
  cpp/src/arrow/extension/bool8.h
  cpp/src/arrow/extension/bool8_test.cc
  cpp/src/arrow/extension/fixed_shape_tensor.h
  cpp/src/arrow/extension/opaque.h
  cpp/src/arrow/extension/opaque_test.cc
  cpp/src/arrow/extension_type.cc
  python/pyarrow/tests/test_extension_type.py
Labels: Component: C++, Component: Python, awaiting merge

#43539 GH-43519: [Python] Set up wheel building for Python 3.13
  .env
  ci/docker/python-wheel-manylinux-test.dockerfile
  ci/docker/python-wheel-manylinux.dockerfile
  ci/docker/python-wheel-windows-test-vs2019.dockerfile
  ci/docker/python-wheel-windows-vs2019.dockerfile
  ci/scripts/install_gcs_testbench.sh
  ci/scripts/install_python.sh
  ci/scripts/python_wheel_macos_build.sh
  dev/release/verify-release-candidate.sh
  dev/tasks/python-wheels/github.linux.yml
  dev/tasks/python-wheels/github.osx.yml
  dev/tasks/tasks.yml
  docker-compose.yml
  python/pyproject.toml
  python/requirements-wheel-build.txt
  python/requirements-wheel-test.txt
Labels: Component: Python, awaiting changes

#43730 MINOR: [CI][R] Undo #43636 now that the action is approved
  .github/workflows/r.yml
Labels: awaiting committer review

#43780 MINOR: [GO] fixup test case name in cast_test.go
  go/arrow/compute/cast_test.go
Labels: Component: Go, awaiting review

#43781 GH-43764: [Go][FlightSQL] Add NewPreparedStatement function
  go/arrow/flight/flightsql/client.go
  go/arrow/flight/flightsql/client_test.go
Labels: Component: Go, awaiting merge

#43679 GH-43624: [Go] Add JSON/UUID extension types, extend arrow -> parquet logical type mapping
  docs/source/status.rst
  go/arrow/array/array_test.go
  go/arrow/array/diff_test.go
  go/arrow/array/extension_test.go
  go/arrow/avro/reader_types.go
  go/arrow/avro/schema.go
  go/arrow/compute/exec/span_test.go
  go/arrow/csv/reader_test.go
  go/arrow/csv/writer_test.go
  go/arrow/datatype_extension_test.go
  go/arrow/extensions/bool8_test.go
  go/arrow/extensions/extensions.go
  go/arrow/extensions/json.go
  go/arrow/extensions/json_test.go
  go/arrow/extensions/opaque_test.go
  go/arrow/extensions/uuid.go
  go/arrow/extensions/uuid_test.go
  go/arrow/internal/flight_integration/scenario.go
  go/arrow/ipc/cmd/arrow-json-integration-test/main.go
  go/arrow/ipc/metadata_test.go
  go/internal/types/extension_types.go
  go/internal/types/extension_types_test.go
  go/parquet/cmd/parquet_reader/main.go
  go/parquet/metadata/app_version.go
  go/parquet/pqarrow/encode_arrow_test.go
  go/parquet/pqarrow/path_builder_test.go
  go/parquet/pqarrow/schema.go
  go/parquet/pqarrow/schema_test.go
  go/parquet/schema/converted_types.go
  go/parquet/schema/logical_types.go
  go/parquet/schema/logical_types_test.go
  go/parquet/schema/schema_element_test.go
Labels: Component: Go, Component: Documentation, awaiting changes

#43789 MINOR: [CI][C++][Python] Fix Cuda builds on git main
  dev/tasks/docker-tests/github.cuda.yml
Labels: awaiting review

#43794 MINOR: [C++] Ensure setting the default CMAKE_BUILD_TYPE
  cpp/CMakeLists.txt
  cpp/examples/minimal_build/CMakeLists.txt
Labels: Component: C++, awaiting review

#43804 MINOR: [Go] Fix Flakey TestRowsPrematureCloseDuringNextLoop Test
  go/arrow/flight/flightsql/driver/driver.go
  go/arrow/flight/flightsql/driver/driver_test.go
Labels: Component: Go, awaiting merge

#43803 GH-43802: [GLib] Add `GAFlightRecordBatchWriter`
  c_glib/arrow-flight-glib/common.cpp
  c_glib/arrow-flight-glib/common.h
  c_glib/arrow-flight-glib/common.hpp
Labels: awaiting committer review

#43744 GH-43743: [CI][Docs] Ensure creating build directory
  dev/tasks/docs/github.linux.yml
  dev/tasks/tasks.yml
Labels: awaiting changes

#43686 GH-41584: [Java] ListView Implementation for C Data Interface
  dev/archery/archery/integration/datagen.py
  java/c/src/main/java/org/apache/arrow/c/BufferImportTypeVisitor.java
  java/c/src/main/java/org/apache/arrow/c/Format.java
  java/c/src/test/java/org/apache/arrow/c/RoundtripTest.java
  java/c/src/test/python/integration_tests.py
  java/vector/src/main/java/org/apache/arrow/vector/complex/BaseLargeRepeatedValueViewVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/BaseRepeatedValueViewVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/LargeListViewVector.java
  java/vector/src/main/java/org/apache/arrow/vector/complex/ListViewVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestLargeListViewVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestListViewVector.java
  java/vector/src/test/java/org/apache/arrow/vector/testing/ValueVectorDataPopulator.java
Labels: Component: Java, awaiting change review

#43811 MINOR: [R] Add missing PR num to news.md item
  r/NEWS.md
Labels: Component: R, Component: Documentation

#37298 GH-15058: [C++][Python] Native support for UUID
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/acero/hash_join_node_test.cc
  cpp/src/arrow/extension/CMakeLists.txt
  cpp/src/arrow/extension/fixed_shape_tensor_test.cc
  cpp/src/arrow/extension/uuid.cc
  cpp/src/arrow/extension/uuid.h
  cpp/src/arrow/extension/uuid_test.cc
  cpp/src/arrow/extension_type.cc
  cpp/src/arrow/extension_type_test.cc
  cpp/src/arrow/integration/json_integration_test.cc
  cpp/src/arrow/ipc/test_common.cc
  cpp/src/arrow/ipc/test_common.h
  cpp/src/arrow/scalar_test.cc
  cpp/src/arrow/testing/extension_type.h
  cpp/src/arrow/testing/gtest_util.cc
  dev/archery/archery/integration/datagen.py
  docs/source/format/CanonicalExtensions.rst
  docs/source/status.rst
  python/pyarrow/__init__.py
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/lib.pxd
  python/pyarrow/public-api.pxi
  python/pyarrow/scalar.pxi
  python/pyarrow/src/arrow/python/gdb.cc
  python/pyarrow/tests/extensions.pyx
  python/pyarrow/tests/test_extension_type.py
  python/pyarrow/tests/test_gdb.py
  python/pyarrow/types.pxi
Labels: Component: C++, Component: Python, Component: Documentation, awaiting change review

#43697 GH-43667: [Java] Keeping Flight default header size consistent between server and client
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/FlightServer.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestFlightService.java
Labels: Component: Java, awaiting merge

#43839 MINOR: [Java] Downgrade gRPC to 1.65
  java/pom.xml
Labels: Component: Java, awaiting committer review

#43813 GH-41056: [GLib][FlightRPC] Add gaflight_client_do_put() and related APIs
  c_glib/arrow-flight-glib/client.cpp
  c_glib/arrow-flight-glib/client.h
  c_glib/arrow-flight-glib/client.hpp
  c_glib/arrow-flight-glib/common.cpp
  c_glib/arrow-flight-glib/common.h
  c_glib/arrow-glib/writer.hpp
Labels: Component: GLib, awaiting committer review

#43816 GH-43815: [CI][Packaging][Python] Avoid uploading wheel to gemfury if version already exists
  dev/tasks/macros.jinja
Labels: awaiting merge

#43835 GH-43790: [Go][Parquet] Add support for LZ4_RAW compression codec
  go/parquet/compress/compress.go
  go/parquet/compress/compress_test.go
  go/parquet/compress/lz4_raw.go
  go/parquet/file/file_reader_test.go
  go/parquet/file/file_writer_test.go
  go/parquet/pqarrow/reader_writer_test.go
Labels: Component: Go, awaiting changes

#43844 MINOR: [CI] Use `docker compose` on self-hosted ARM builds
  .github/workflows/cpp.yml
  .github/workflows/go.yml
  dev/tasks/java-jars/github.yml
  dev/tasks/linux-packages/github.linux.yml
  dev/tasks/python-wheels/github.linux.yml
Labels: awaiting merge

#43806 GH-43805: [C++] Enable filesystem automatically when one of ARROW_{AZURE,GCS,HDFS,S3}=ON is specified
  cpp/cmake_modules/DefineOptions.cmake
Labels: Component: C++, awaiting committer review

#43842 MINOR: [Java] Logback dependency upgrade
  java/memory/memory-netty/pom.xml
  java/pom.xml
  java/tools/pom.xml
Labels: Component: Java, awaiting committer review

#43861 GH-43860: [Go][Parquet] Handle the error correctly
  go/parquet/file/file_reader_test.go
  go/parquet/file/record_reader.go
Labels: Component: Go, awaiting merge

#43853 GH-43854: [C++] Expose the set of device types where a ChunkedArray is allocated
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/chunked_array.cc
  cpp/src/arrow/chunked_array.h
  cpp/src/arrow/chunked_array_test.cc
  cpp/src/arrow/compute/function.cc
  cpp/src/arrow/compute/kernel.cc
  cpp/src/arrow/compute/kernel.h
  cpp/src/arrow/datum.cc
  cpp/src/arrow/datum.h
  cpp/src/arrow/device.h
  cpp/src/arrow/device_allocation_type_set.cc
  cpp/src/arrow/device_allocation_type_set.h
  cpp/src/arrow/type_fwd.h
Labels: Component: C++, awaiting merge

#43852 GH-38183: [CI][Python] Use pipx to install GCS testbench
  .github/workflows/cpp.yml
  appveyor.yml
  ci/appveyor-cpp-build.bat
  ci/docker/conda-cpp.dockerfile
  ci/docker/conda-python.dockerfile
  ci/docker/python-wheel-windows-test-vs2019.dockerfile
  ci/docker/ubuntu-20.04-cpp-minimal.dockerfile
  ci/docker/ubuntu-22.04-cpp-minimal.dockerfile
  ci/docker/ubuntu-24.04-cpp-minimal.dockerfile
  ci/scripts/install_gcs_testbench.bat
  ci/scripts/install_gcs_testbench.sh
  ci/scripts/python_wheel_windows_test.bat
  cpp/src/arrow/filesystem/gcsfs_test.cc
  python/pyarrow/tests/conftest.py
  python/scripts/run_emscripten_tests.py
  r/tests/testthat/test-gcs.R
Labels: Component: R, Component: C++, Component: Python, awaiting review

#43882 GH-43877: [Ruby] Add support for 0 decimal value
  ruby/red-arrow/lib/arrow/decimal128-array.rb
  ruby/red-arrow/lib/arrow/decimal256-array.rb
  ruby/red-arrow/test/test-decimal128-array.rb
  ruby/red-arrow/test/test-decimal256-array.rb
Labels: Component: Ruby, awaiting changes

#43871 GH-43870: [C++][Acero] Fix typos in join benchmark
  cpp/src/arrow/acero/hash_join_benchmark.cc
Labels: Component: C++, awaiting merge

#43137 GH-41696: [Python][Packaging] Bump MACOSX_DEPLOYMENT_TARGET to 12 instead of 11
  .github/workflows/python.yml
  ci/scripts/python_wheel_macos_build.sh
  ci/vcpkg/arm64-osx-static-debug.cmake
  ci/vcpkg/arm64-osx-static-release.cmake
  ci/vcpkg/universal2-osx-static-debug.cmake
  ci/vcpkg/universal2-osx-static-release.cmake
  cpp/src/arrow/flight/CMakeLists.txt
  dev/tasks/tasks.yml
  dev/tasks/verify-rc/github.macos.yml
  python/CMakeLists.txt
  ruby/red-arrow/ext/arrow/extconf.rb
Labels: Component: C++, Component: Python, Component: Ruby, Component: FlightRPC, awaiting merge

#43864 GH-43732: [Go] Require Go 1.22 or above
  .env
  .github/workflows/go.yml
  ci/docker/conda-integration.dockerfile
  ci/docker/debian-12-go.dockerfile
  dev/release/verify-release-candidate.sh
  dev/tasks/tasks.yml
  go/arrow/compute/cast_test.go
  go/arrow/scalar/parse.go
  go/go.mod
  go/parquet/file/file_reader.go
  go/parquet/schema/reflection.go
Labels: Component: Go, awaiting review

#43760 GH-43759: [C++] Acero: Minor code enhancement for Join
  cpp/src/arrow/acero/hash_join_dict.cc
  cpp/src/arrow/acero/hash_join_node.cc
  cpp/src/arrow/acero/hash_join_node.h
  cpp/src/arrow/acero/swiss_join.cc
  cpp/src/arrow/compute/light_array_internal.cc
  cpp/src/arrow/compute/light_array_internal.h
  cpp/src/arrow/compute/light_array_test.cc
Labels: Component: C++, awaiting committer review

#43850 GH-43869: [Java][CI] Flight related failure in the AMD64 Windows Server 2022 Java JDK 11 CI
  java/flight/flight-sql/src/test/java/org/apache/arrow/flight/sql/example/FlightSqlExample.java
Labels: Component: Java, awaiting change review
