Repository apache/arrow, pull requests merged in 2024-11, with the labels that each got.

#43784 GH-43547: [R][CI] Add recheck workflow for checking reverse dependencies on GHA
  dev/tasks/r/github.recheck.yml
  dev/tasks/tasks.yml
Labels: awaiting merge

#44602 GH-44601: [GLib] Fix the wrong GARROW_AVAILABLE_IN declaration
  c_glib/arrow-glib/decimal.h
Labels: Component: GLib, awaiting review

#44605 GH-44603: [GLib] Add GArrowDecimal64Array and GArrowDecimal64ArrayBuilder
  c_glib/arrow-glib/array-builder.cpp
  c_glib/arrow-glib/array-builder.h
  c_glib/arrow-glib/basic-array.cpp
  c_glib/arrow-glib/basic-array.h
  c_glib/test/test-decimal64-array.rb
Labels: Component: GLib, awaiting review

#44593 GH-44578: [Release][Packaging] Verify wheel version
  ci/scripts/python_wheel_unix_test.sh
  dev/release/verify-release-candidate.sh
Labels: awaiting merge

#44617 GH-44604: [GLib] Add Decimal32Array
  c_glib/arrow-glib/array-builder.cpp
  c_glib/arrow-glib/array-builder.h
  c_glib/arrow-glib/basic-array.cpp
  c_glib/arrow-glib/basic-array.h
  c_glib/test/test-decimal32-array.rb
Labels: Component: GLib, awaiting review

#44620 GH-44618: [GLib] Add GArrowDecimal64Scalar
  c_glib/arrow-glib/scalar.cpp
  c_glib/arrow-glib/scalar.h
  c_glib/test/test-decimal64-scalar.rb
Labels: Component: GLib, awaiting review

#43601 GH-43535: [C++] Support the AWS S3 SSE-C encryption
  cpp/src/arrow/filesystem/s3_internal.h
  cpp/src/arrow/filesystem/s3_test_cert_internal.h
  cpp/src/arrow/filesystem/s3_test_util.cc
  cpp/src/arrow/filesystem/s3_test_util.h
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs.h
  cpp/src/arrow/filesystem/s3fs_benchmark.cc
  cpp/src/arrow/filesystem/s3fs_test.cc
  cpp/src/arrow/testing/util.cc
  cpp/src/arrow/testing/util.h
Labels: Component: C++, awaiting merge

#44628 GH-44619: [GLib] Add GArrowDecimal32Scalar
  c_glib/arrow-glib/scalar.cpp
  c_glib/arrow-glib/scalar.h
  c_glib/test/test-decimal32-scalar.rb
Labels: Component: GLib, awaiting change review

#44625 GH-44624: [CI][JS] Increase "AMD64 macOS 13 NodeJS 18" timeout
  .github/workflows/js.yml
Labels: awaiting committer review

#44596 GH-23995: [C#] Make PrimitiveArrayBuilder constructor public
  csharp/src/Apache.Arrow/Arrays/PrimitiveArrayBuilder.cs
Labels: Component: C#, awaiting committer review

#44649 GH-44648: [CI] Remove autotune and rebase from commentbot
  .github/workflows/comment_bot.yml
Labels: awaiting merge

#44631 GH-44344: [Java] fix VectorSchemaRoot.getTransferPair for NullVector
  java/vector/src/main/java/org/apache/arrow/vector/NullVector.java
  java/vector/src/main/java/org/apache/arrow/vector/ValueVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestSplitAndTransfer.java
Labels: Component: Java, awaiting merge

#44477 GH-44464: [C++] Added rvalue-reference-qualified overload for arrow::Result::status() returning value instead of reference
  cpp/src/arrow/result.h
Labels: Component: C++, awaiting merge

#43632 GH-43631: [C][Format] Add ArrowAsyncDeviceStreamHandler interface
  cpp/src/arrow/c/abi.h
  docs/source/format/CDeviceDataInterface.rst
Labels: Component: C++, Component: Documentation, awaiting merge

#44622 MINOR: [Docs][Python] Update `python_test.cc` reference
  docs/source/developers/python.rst
Labels: Component: Documentation, awaiting review

#44659 GH-44656: [GLib] Add GArrowBinaryViewDataType
  c_glib/arrow-glib/basic-data-type.cpp
  c_glib/arrow-glib/basic-data-type.h
  c_glib/arrow-glib/type.cpp
  c_glib/arrow-glib/type.h
  c_glib/test/test-binary-view-data-type.rb
Labels: Component: GLib, awaiting changes

#44666 MINOR: [Release] Support GitHub token in download_rc_binaries.py
  dev/release/download_rc_binaries.py
Labels: awaiting committer review

#44670 GH-44668: [Docs] Fix ColumnChunkMetaData offset documentation in pyarrow
  python/pyarrow/_parquet.pyx
Labels: Component: Python, awaiting committer review

#43537 GH-36954: [Python] Add more FlightInfo / FlightEndpoint attributes
  python/examples/flight/client.py
  python/pyarrow/_flight.pyx
  python/pyarrow/includes/chrono.pxd
  python/pyarrow/includes/libarrow_flight.pxd
  python/pyarrow/includes/libarrow_python.pxd
  python/pyarrow/src/arrow/python/datetime.h
  python/pyarrow/src/arrow/python/flight.cc
  python/pyarrow/src/arrow/python/flight.h
  python/pyarrow/tests/test_flight.py
  python/pyarrow/tests/test_flight_async.py
Labels: Component: Python, Component: FlightRPC, awaiting merge

#44627 GH-44626: [Java] fix SplitAndTransfer throws for empty MapVector
  java/vector/src/main/java/org/apache/arrow/vector/complex/MapVector.java
  java/vector/src/test/java/org/apache/arrow/vector/TestSplitAndTransfer.java
Labels: Component: Java, awaiting merge

#44613 GH-44606: [C++] Add find module for abseil that handles missing version
  cpp/cmake_modules/FindabslAlt.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting merge

#44675 GH-44674: [R] Fix R CMD check failure with dev testthat
  r/tests/testthat/test-Array.R
  r/tests/testthat/test-extension.R
  r/tests/testthat/test-parquet.R
Labels: Component: R, awaiting committer review

#44669 GH-44667: [Archery] Suppress pull/push progress logs
  dev/archery/archery/docker/core.py
  dev/archery/archery/docker/tests/test_docker.py
Labels: awaiting change review

#44687 GH-44686: [GLib] Add GArrowStringViewDataType
  c_glib/arrow-glib/basic-data-type.cpp
  c_glib/arrow-glib/basic-data-type.h
  c_glib/arrow-glib/type.cpp
  c_glib/arrow-glib/type.h
  c_glib/test/test-string-view-data-type.rb
Labels: Component: GLib, awaiting review

#43599 GH-43598: [C++][Parquet] Parquet Metadata Printer supports print sort-columns
  cpp/src/parquet/printer.cc
  cpp/src/parquet/reader_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#44678 GH-44677: [C++][Acero] Enhance partition sort example
  cpp/src/arrow/acero/partition_util.h
Labels: Component: C++, awaiting committer review

#44542 GH-44541: [C++] NumericArray<T> should not use ctor from parent directly
  cpp/src/arrow/array/array_primitive.h
  cpp/src/arrow/array/array_test.cc
Labels: Component: C++, awaiting merge

#44584 GH-44526: [C++][Acero] Fix crash when thread in asof_join is not running
  cpp/src/arrow/acero/asof_join_node.cc
  cpp/src/arrow/acero/asof_join_node_test.cc
Labels: Component: C++, awaiting change review

#44694 MINOR: [Dev] Remove Rossi from collaborators list
  .asf.yaml
Labels: awaiting merge

#44685 GH-44607: [C++][Dev] Update bundled Thrift, update mirrors to use CDN
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting committer review

#44495 GH-43631: [C++] Add C++ implementation of Async C Data Interface
  cpp/src/arrow/c/abi.h
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/c/bridge.h
  cpp/src/arrow/c/bridge_test.cc
  cpp/src/arrow/record_batch.h
  cpp/src/arrow/type_fwd.h
  docs/source/format/CDeviceDataInterface.rst
Labels: Component: C++, Component: Documentation, awaiting changes

#44702 GH-44614: [Python][C++] Add version suffix to libarrow_python* libraries
  python/CMakeLists.txt
Labels: Component: Python, awaiting committer review

#44707 GH-44706: [Release][Archery][Packaging] Add "so_version" variable
  dev/archery/archery/crossbow/core.py
  dev/release/01-prepare-test.rb
  dev/release/post-12-bump-versions-test.rb
  dev/release/utils-prepare.sh
  dev/tasks/tasks.yml
Labels: awaiting merge

#44681 GH-44679: [C++][Python] Fix Flight Timestamp precision, revert workaround from #43537
  cpp/src/arrow/flight/flight_internals_test.cc
  cpp/src/arrow/flight/types.h
  python/pyarrow/_flight.pyx
  python/pyarrow/includes/chrono.pxd
  python/pyarrow/includes/libarrow_flight.pxd
  python/pyarrow/includes/libarrow_python.pxd
  python/pyarrow/src/arrow/python/datetime.h
  python/pyarrow/tests/test_flight.py
Labels: Component: C++, Component: Python, Component: FlightRPC, Breaking Change, awaiting merge

#44717 GH-44716: [Dev][Integration] Add numpy to archery integration deps
  dev/archery/setup.py
Labels: awaiting review

#44718 MINOR: [Release] Proactively remove java-jni-dist directory in verification script
  dev/release/verify-release-candidate.sh
Labels: awaiting review

#44691 GH-44479: [CI][Archery] Add missing Flight integration targets
  dev/archery/archery/integration/runner.py
Labels: awaiting committer review

#44722 GH-44223: [Dev] Use "Gandiva" instead of "C++ - Gandiva" label
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/ISSUE_TEMPLATE/usage_question.yaml
  .github/workflows/dev_pr/labeler.yml
Labels: awaiting merge

#44723 MINOR: [Docs] Add Opaque to implementation status matrix
  docs/source/status.rst
Labels: Component: Documentation, awaiting merge

#44724 GH-43080: [CI][Dev] Enable shellcheck
  .pre-commit-config.yaml
  ci/scripts/c_glib_build.sh
Labels: awaiting committer review

#44727 GH-44726: [CI] Update substrait consumer call to use updated producer and consumer parameters
  ci/scripts/integration_substrait.sh
Labels: awaiting committer review

#44621 GH-43808: [C++] skip `-0117` in StrptimeZoneOffset for old glibc
  cpp/src/arrow/util/value_parsing_test.cc
Labels: Component: C++, awaiting change review

#43575 GH-43570: [CI][Dev][Docs] Update references to "docker-compose" with "docker compose"
  .env
  cpp/examples/minimal_build/README.md
  dev/README.md
  dev/archery/README.md
  dev/archery/archery/crossbow/tests/fixtures/azure-linux.yaml
  dev/archery/archery/crossbow/tests/fixtures/crossbow-job-no-failure.yaml
  dev/archery/archery/crossbow/tests/fixtures/crossbow-job.yaml
  dev/archery/archery/crossbow/tests/test_reports.py
  dev/archery/archery/docker/cli.py
  dev/archery/archery/docker/core.py
  dev/tasks/python-wheels/github.linux.yml
  docker-compose.yml
  docs/source/developers/continuous_integration/archery.rst
  docs/source/developers/continuous_integration/docker.rst
  docs/source/developers/cpp/development.rst
  docs/source/developers/java/building.rst
  docs/source/developers/release.rst
  docs/source/format/Integration.rst
  python/examples/minimal_build/README.md
  r/tests/testthat/test-backwards-compatibility.R
  r/vignettes/developers/docker.Rmd
  r/vignettes/install.Rmd
Labels: Component: R, Component: C++, Component: Python, Component: Documentation, awaiting merge

#44644 GH-43951: [CI][Python] Use GitHub Packages for vcpkg cache
  ci/docker/python-wheel-manylinux.dockerfile
  ci/scripts/install_vcpkg.sh
  dev/tasks/java-jars/github.yml
  dev/tasks/python-wheels/github.linux.yml
  dev/tasks/python-wheels/github.osx.yml
  dev/tasks/python-wheels/github.windows.yml
  docker-compose.yml
Labels: awaiting changes

#44704 GH-44703: [CI][MATLAB][Packaging] Update MATLAB CI and `crossbow` packaging workflows to build against MATLAB `R2024b`
  .github/workflows/matlab.yml
  dev/archery/archery/crossbow/core.py
  dev/tasks/matlab/github.yml
  dev/tasks/tasks.yml
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
  matlab/tools/packageMatlabInterface.m
Labels: Component: MATLAB, awaiting change review

#44721 GH-27919: [CI][C++] Add a nightly job to test offline build
  ci/scripts/cpp_build.sh
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: awaiting changes

#44743 MINOR: [Java] Bump `orc-core` to 1.9.5
  java/adapter/orc/pom.xml
  java/dataset/pom.xml
Labels: Component: Java, awaiting review

#44755 GH-44754: [C++] Use lowercased `windows.h` to enable cross-platform builds
  cpp/src/arrow/util/io_util.cc
Labels: Component: C++, awaiting review

#44756 MINOR: [Docs][Python] Fix a few minor typos
  python/pyarrow/_fs.pyx
  python/pyarrow/_s3fs.pyx
  python/pyarrow/io.pxi
  python/pyproject.toml
Labels: Component: Python, awaiting review

#44745 GH-44744: [C++] Upgrade ORC to 2.0.3
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting review

#44747 MINOR: [C++] Fix the simple typo in the test
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting review

#44750 GH-44749: [CI][Dev] Apply ShellCheck lint to ci/scripts/c_glib_test.sh
  .pre-commit-config.yaml
  ci/scripts/c_glib_test.sh
Labels: awaiting committer review

#44701 GH-44651: [Python] Allow from_buffers to work with StringView on Python
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_types.py
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting changes

#44768 GH-44767: [C++] Fix Float16.To{Little,Big}Endian on big endian machines
  cpp/src/arrow/util/float16.h
  cpp/src/arrow/util/float16_test.cc
Labels: Component: C++, awaiting committer review

#44737 GH-44734: [C++][CI] Fix arrow-c-bridge-test timeout with threading disabled
  cpp/src/arrow/c/bridge_test.cc
Labels: Component: C++, awaiting committer review

#43771 GH-43410: [Python] Support Arrow PyCapsule stream objects in write_dataset
  python/pyarrow/_dataset.pyx
  python/pyarrow/dataset.py
  python/pyarrow/tests/test_dataset.py
Labels: Component: Python, awaiting merge

#44775 GH-44770: [Java] Update minor protobuf version to avoid CVE-2024-7254
  java/pom.xml
Labels: Component: Java, awaiting merge

#44763 GH-44742: [Ruby] Fix a bug that empty struct list value can't be built
  ruby/red-arrow/lib/arrow/list-array-builder.rb
  ruby/red-arrow/test/test-list-array-builder.rb
Labels: Component: Ruby, awaiting committer review

#44764 GH-44710: [Docs][C++] Add `arrow::ArrayStatistics` to API doc
  cpp/src/arrow/array/statistics.h
  docs/source/cpp/api/array.rst
Labels: Component: C++, Component: Documentation, awaiting committer review

#44772 GH-44700: [C++][Parquet] Remove obsolete parquet_constants generated files from old thrift
  cpp/build-support/lint_exclusions.txt
  cpp/src/generated/parquet_constants.cpp
  cpp/src/generated/parquet_constants.h
  cpp/src/parquet/CMakeLists.txt
  dev/release/rat_exclude_files.txt
Labels: Component: Parquet, Component: C++, awaiting committer review

#43123 GH-43124: [C++] Initialize offset vector head as 0 after memory allocated in grouper.cc
  cpp/src/arrow/compute/row/grouper.cc
  cpp/src/arrow/compute/row/grouper_test.cc
Labels: Component: C++, awaiting committer review

#44785 GH-44784: [C++][Parquet] Add `arrow::Result` version of `parquet::arrow::OpenFile()`
  c_glib/parquet-glib/arrow-file-reader.cpp
  cpp/examples/arrow/parquet_read_write.cc
  cpp/examples/parquet/parquet_arrow/reader_writer.cc
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/reader.cc
  cpp/src/parquet/arrow/reader.h
  cpp/src/parquet/arrow/reconstruct_internal_test.cc
Labels: Component: Parquet, Component: C++, Component: GLib, awaiting change review

#44794 GH-44690: [C++] NumericBuilder::AppendValues append vector prevent from ub
  cpp/src/arrow/array/builder_primitive.h
Labels: Component: C++, awaiting committer review

#44787 GH-44769: [C++][Parquet] Fix read/write of metadata length footer on big-endian systems
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/file_writer.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#44793 GH-44728: [Python] Trigger manual Garbage collection before checking allocated bytes for dlpack tests
  python/pyarrow/tests/test_dlpack.py
Labels: Component: Python, awaiting merge

#44798 GH-44797: [CI] Update pkg-config to pkgconf on Homebrew
  .github/workflows/cpp.yml
  .github/workflows/python.yml
  .github/workflows/ruby.yml
  cpp/Brewfile
Labels: Component: C++, awaiting merge

#44789 GH-44788: [C++] Fix a couple of maybe-uninitialized warnings
  cpp/src/arrow/compute/expression.cc
  cpp/src/arrow/util/iterator.h
Labels: Component: C++, awaiting changes

#44807 GH-44802: [C++][CI] Migrate to `arrow::Result` based `parquet::arrow::OpenFile() API` in example tutorials
  cpp/examples/tutorial_examples/file_access_example.cc
Labels: Component: C++, awaiting review

#44809 GH-44808: [C++][Parquet] Add `arrow::Result` version of `parquet::arrow::FileReader::GetRecordBatchReader()`
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/reader.cc
  cpp/src/parquet/arrow/reader.h
Labels: Component: Parquet, Component: C++, awaiting changes

#44587 GH-44555: [C++][Compute] Allow casting struct to bigger nullable struct
  cpp/src/arrow/compute/kernels/scalar_cast_nested.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
  cpp/src/arrow/dataset/scanner_test.cc
Labels: Component: C++, awaiting merge

#44313 GH-40713: [Docs] Trim down ADBC page
  docs/source/conf.py
  docs/source/format/ADBC.rst
  docs/source/format/ADBC/C.rst
  docs/source/format/ADBC/Go.rst
  docs/source/format/ADBC/Java.rst
  format/adbc.h
Labels: Component: Documentation, awaiting changes

#44823 MINOR: [Dev][Release] Stop post-04-website.sh script if archery isn't available
  dev/release/post-04-website.sh
Labels: awaiting change review

#44821 GH-44820: [CI] Uninstall pkg-config entirely on macOS jobs
  .github/workflows/cpp.yml
  .github/workflows/python.yml
  .github/workflows/ruby.yml
Labels: awaiting committer review

#44832 GH-44830: [Java][CI] Disable Java Dependabot
  .github/dependabot.yml
Labels: awaiting merge

#44847 MINOR: [C++][Parquet] Add table->ValidateFull() to LegacyTwoLevelList test
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#44845 GH-44844: [CI] Uninstall pkg-config entirely on verification and java-jars macOS jobs
  dev/tasks/java-jars/github.yml
  dev/tasks/verify-rc/github.macos.yml
Labels: awaiting committer review

#44816 GH-44815: [C++][Parquet] Add an example to dump statistics read as `arrow::ArrayStatistics`
  cpp/tools/parquet/CMakeLists.txt
  cpp/tools/parquet/parquet_dump_arrow_statistics.cc
Labels: Component: C++, awaiting committer review

#44217 GH-44084: [C++] Improve merge step in chunked sorting
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/chunk_resolver.cc
  cpp/src/arrow/chunk_resolver.h
  cpp/src/arrow/compute/kernels/chunked_internal.cc
  cpp/src/arrow/compute/kernels/chunked_internal.h
  cpp/src/arrow/compute/kernels/vector_rank.cc
  cpp/src/arrow/compute/kernels/vector_sort.cc
  cpp/src/arrow/compute/kernels/vector_sort_internal.h
Labels: Component: C++, awaiting committer review

#44858 GH-44705: [MATLAB][PACKAGING] Update the crossbow MATLAB workflow to use `macOS 13` instead of `macOS 12`
  dev/tasks/matlab/github.yml
Labels: awaiting merge

#44861 GH-44585: [JS][Release] Skip bin dir in npm-release.sh
  js/npm-release.sh
Labels: Component: JavaScript, awaiting committer review

#44812 GH-44811: [C++] minor optimize cancel and thread pool
  cpp/src/arrow/util/cancel.cc
  cpp/src/arrow/util/cancel.h
  cpp/src/arrow/util/thread_pool.cc
Labels: Component: C++, awaiting committer review

#44720 GH-39914: [pyarrow] Reorder to_pandas extension dtype mapping
  python/pyarrow/pandas_compat.py
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting change review

#44876 MINOR: [C++] Add missing header for ORC adapter
  cpp/src/arrow/adapters/orc/util.cc
Labels: Component: C++, awaiting committer review

#44865 GH-44878: [Archery] Only suppress Docker progress logs when running on CI
  dev/archery/archery/docker/core.py
  dev/archery/archery/docker/tests/test_docker.py
  dev/archery/archery/utils/logger.py
Labels: awaiting merge

#44862 GH-44885: [Dev][Release] Update test condition in utils-prepare.sh
  dev/release/post-12-bump-versions-test.rb
  dev/release/test-helper.rb
  dev/release/utils-prepare.sh
Labels: awaiting merge
