Repository apache/arrow, pull requests merged in 2024-12, with the labels that each got.

#44904 GH-44903: [C++] Add the Expm1(exponent) scalar arithmetic function
  cpp/src/arrow/compute/api_scalar.cc
  cpp/src/arrow/compute/api_scalar.h
  cpp/src/arrow/compute/kernels/base_arithmetic_internal.h
  cpp/src/arrow/compute/kernels/scalar_arithmetic.cc
  cpp/src/arrow/compute/kernels/scalar_arithmetic_test.cc
  docs/source/cpp/compute.rst
Labels: Component: C++, Component: Documentation, awaiting changes

#44912 GH-44911: [C#] Choose port numbers dynamically for ArrowStreamWriterTests
  csharp/test/Apache.Arrow.Tests/ArrowStreamWriterTests.cs
Labels: Component: C#, awaiting review

#44854 GH-44828: [Java][Release] Remove Java from release scripts
  dev/release/01-prepare-test.rb
  dev/release/02-source-test.rb
  dev/release/02-source.sh
  dev/release/06-java-upload.sh
  dev/release/06-matlab-upload.sh
  dev/release/07-binary-verify.sh
  dev/release/post-04-website.sh
  dev/release/post-10-docs.sh
  dev/release/post-12-bump-versions-test.rb
  dev/release/setup-rhel-rebuilds.sh
  dev/release/setup-ubuntu.sh
  dev/release/utils-prepare.sh
  dev/release/verify-release-candidate.sh
  docs/source/developers/release.rst
Labels: Component: Documentation, awaiting merge

#44921 GH-41667: [C++][Parquet] Refuse writing non-nullable column that contains nulls
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/column_writer.cc
  java/dataset/src/test/java/org/apache/arrow/dataset/TestAllTypes.java
Labels: Component: Java, Component: Parquet, Component: C++, awaiting merge

#44946 GH-44829: [Java][CI] Remove Java related test CI except integration test
  .github/workflows/dev_pr/labeler.yml
  .github/workflows/java.yml
  .github/workflows/java_jni.yml
  .github/workflows/java_nightly.yml
  ci/scripts/install_substrait_consumer.sh
  ci/scripts/integration_spark.sh
  dev/tasks/java-jars/README.md
  dev/tasks/java-jars/github.yml
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: Component: Documentation, awaiting merge

#44936 GH-44934: [Dev] Remove JIRA remnants
  .github/CONTRIBUTING.md
  .github/pull_request_template.md
  .github/workflows/dev.yml
  .github/workflows/dev_pr.yml
  .github/workflows/dev_pr/helpers.js
  .github/workflows/dev_pr/issue_check.js
  .github/workflows/dev_pr/link.js
  .github/workflows/dev_pr/title_check.md
  CONTRIBUTING.md
  dev/README.md
  dev/merge.conf.sample
  dev/merge_arrow_pr.py
  dev/requirements_merge_arrow_pr.txt
  dev/test_merge_arrow_pr.py
  r/vignettes/install.Rmd
Labels: Component: R, Component: Documentation, awaiting change review

#44899 GH-44898: [C++] Fix compilation error on GCC 8
  cpp/src/arrow/util/span.h
Labels: Component: C++, awaiting merge

#44955 GH-44954: [C++][CI] Silence protobuf-generated deprecations
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/engine/substrait/expression_internal.h
  cpp/src/arrow/engine/substrait/extended_expression_internal.h
  cpp/src/arrow/engine/substrait/plan_internal.h
  cpp/src/arrow/engine/substrait/relation_internal.h
  cpp/src/arrow/engine/substrait/test_plan_builder.cc
  cpp/src/arrow/engine/substrait/util_internal.h
  cpp/src/arrow/flight/sql/client.cc
  cpp/src/arrow/flight/sql/protocol_internal.cc
  cpp/src/arrow/flight/sql/protocol_internal.h
  cpp/src/arrow/flight/sql/server.cc
Labels: Component: C++, Component: FlightRPC, awaiting change review

#44652 GH-29642: [R] Support for .keep_all = TRUE with distinct()
  r/R/arrow-package.R
  r/R/dplyr-distinct.R
  r/R/dplyr-funcs-agg.R
  r/tests/testthat/test-dplyr-distinct.R
Labels: Component: R, awaiting merge

#44933 GH-44918: [Ruby] Fix a bug that empty list is ignored in builder
  ruby/red-arrow/lib/arrow/list-array-builder.rb
  ruby/red-arrow/test/test-list-array-builder.rb
Labels: Component: Ruby, awaiting committer review

#44880 GH-44711: [Docs][Python] Add missing canonical extension types to PyArrow arrays and datatypes docs
  docs/source/python/api/arrays.rst
  docs/source/python/api/datatypes.rst
Labels: Component: Documentation, awaiting change review

#44972 GH-44968: [CI][Dev] Remove nonexistent `getJiraInfo` reference
  .github/workflows/dev_pr/helpers.js
Labels: awaiting committer review

#44906 GH-44915: [C++] Add WithinUlp testing functions
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/testing/gtest_util_test.cc
  cpp/src/arrow/testing/math.cc
  cpp/src/arrow/testing/math.h
  cpp/src/arrow/util/string_builder.h
Labels: Component: C++, awaiting change review

#44973 MINOR: [C++] Make argument name consistent
  cpp/src/arrow/testing/math.cc
  cpp/src/arrow/testing/math.h
Labels: awaiting committer review

#44960 MINOR: [R] Fix headers
  r/NEWS.md
Labels: awaiting merge

#44975 GH-44974: [Dev] Fix minor issue handling
  .github/workflows/dev_pr/link.js
Labels: awaiting changes

#44630 GH-44952: [C++][Python] Add Hyperbolic Trig functions
  cpp/src/arrow/compute/api_scalar.cc
  cpp/src/arrow/compute/api_scalar.h
  cpp/src/arrow/compute/kernels/scalar_arithmetic.cc
  cpp/src/arrow/compute/kernels/scalar_arithmetic_test.cc
  cpp/src/arrow/engine/substrait/extension_set.cc
  docs/source/cpp/compute.rst
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, Component: Documentation, awaiting change review

#44951 GH-44976: [C++] Enable mimalloc by default, disable jemalloc by default and more
  cpp/CMakePresets.json
  cpp/cmake_modules/DefineOptions.cmake
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/CMakeLists.txt
Labels: Component: C++, awaiting change review

#44987 MINOR: [Dev] Fix handling minor issues on Dev PR worflow
  .github/workflows/dev_pr/issue_check.js
Labels: awaiting committer review

#44977 GH-44985: [C++] Use recommended downloads URLs for ORC and Thrift
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting merge

#44983 GH-44982: [C++] Add support for building system OpenTelemetry
  ci/docker/debian-12-cpp.dockerfile
  ci/docker/fedora-39-cpp.dockerfile
  ci/docker/ubuntu-20.04-cpp.dockerfile
  ci/docker/ubuntu-22.04-cpp.dockerfile
  ci/docker/ubuntu-24.04-cpp.dockerfile
  ci/scripts/cpp_build.sh
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#44984 GH-44994: [C++][CMake] Use librt only for Linux
  cpp/src/arrow/CMakeLists.txt
Labels: Component: C++, awaiting review

#44981 GH-44980: [CI] Remove retrieval of Arrow version from Java on Spark integration and update test structure for PySpark
  ci/scripts/integration_spark.sh
Labels: awaiting changes

#44963 GH-44962: [Python] Clean-up name / field_name handling in pandas compat
  python/pyarrow/pandas_compat.py
Labels: Component: Python, awaiting merge

#45000 GH-44843: [CI][Doc] Remove building Java documentation from this repository
  docker-compose.yml
Labels: awaiting committer review

#45004 GH-45003: [Python][Docs] Update docstrings for metadata methods on Field and Schema classes
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting committer review

#45007 GH-45006: [CI][Python] Fix test_memory failures
  ci/docker/conda-cpp.dockerfile
  ci/docker/debian-12-cpp.dockerfile
  ci/docker/fedora-39-cpp.dockerfile
  ci/docker/ubuntu-20.04-cpp.dockerfile
  ci/docker/ubuntu-22.04-cpp.dockerfile
  ci/docker/ubuntu-24.04-cpp.dockerfile
  ci/scripts/cpp_build.sh
  docker-compose.yml
  python/pyarrow/tests/test_memory.py
Labels: Component: Python, awaiting merge

#45014 GH-43956: [C++][Compute] Add Decimal32/64 Casts
  cpp/src/arrow/compute/kernels/scalar_cast_numeric.cc
  cpp/src/arrow/compute/kernels/scalar_cast_string.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
  cpp/src/arrow/util/basic_decimal.h
Labels: Component: C++, awaiting merge

#45031 GH-45027: [C++] Include path in the documentation is wrong
  cpp/examples/arrow/parquet_read_write.cc
Labels: Component: C++, awaiting review

#45016 GH-45015: [C++][Parquet] Allow configuring the default footer read size
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/properties.h
  cpp/src/parquet/properties_test.cc
Labels: Component: Parquet, Component: C++, awaiting changes

#44897 GH-15233: [C++] Fix CopyFiles when destination is a FileSystem with background_writes
  cpp/src/arrow/filesystem/azurefs_test.cc
  cpp/src/arrow/filesystem/filesystem.cc
  cpp/src/arrow/filesystem/test_util.cc
  cpp/src/arrow/filesystem/test_util.h
  cpp/src/arrow/io/interfaces.cc
  cpp/src/arrow/util/parallel.h
  cpp/src/arrow/util/thread_pool.cc
  cpp/src/arrow/util/thread_pool_test.cc
Labels: Component: C++, awaiting committer review

#45035 GH-45034: [C++] Remove Parquet requirement from Arrow Acero and from Arrow Dataset when not necessary
  cpp/src/arrow/acero/ArrowAceroConfig.cmake.in
  cpp/src/arrow/dataset/ArrowDatasetConfig.cmake.in
  cpp/src/arrow/dataset/CMakeLists.txt
Labels: Component: C++, awaiting merge

#45044 MINOR: [Docs] Fix a typo in memory.rst
  docs/source/java/memory.rst
Labels: Component: Documentation, awaiting merge

#43832 GH-43693: [C++][Acero] Support AVX2 swiss join decoding
  cpp/src/arrow/acero/hash_join_benchmark.cc
  cpp/src/arrow/acero/swiss_join.cc
  cpp/src/arrow/acero/swiss_join_avx2.cc
  cpp/src/arrow/acero/swiss_join_internal.h
  cpp/src/arrow/compute/light_array_internal.h
Labels: Component: C++, awaiting committer review

#45046 GH-45041: [Packaging][Python] Use ORC from vcpkg instead of bundled on Linux and macOS
  ci/docker/python-wheel-manylinux.dockerfile
  ci/scripts/python_wheel_macos_build.sh
  ci/scripts/python_wheel_manylinux_build.sh
  dev/tasks/python-wheels/github.osx.yml
Labels: awaiting merge

#45021 GH-44308: [C++][FS][Azure] Implement SAS token authentication
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs.h
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting merge

#45022 MINOR: [Format] Schema.fbs comment typo -- s/intented/intended/
  format/Schema.fbs
Labels: awaiting review

#45023 MINOR: [Format] Schema.fbs typo -- s/maybe/may be/
  format/Schema.fbs
Labels: awaiting committer review

#45025 MINOR: [Format] Schema.fbs typo -- s/two number/two numbers/
  format/Schema.fbs
Labels: awaiting review

#45026 MINOR: [Format] Schema.fbs grammar -- replace i.e. with e.g.
  format/Schema.fbs
Labels: awaiting review

#45057 GH-45053: [C++] Add support for Boost 1.87.0
  cpp/src/arrow/testing/process.cc
Labels: Component: C++, awaiting committer review

#45051 GH-40633: [C++][Python] Fix ORC crash when file contains unknown timezone
  cpp/src/arrow/adapters/orc/adapter.cc
  python/pyarrow/tests/test_orc.py
Labels: Component: C++, Component: Python, awaiting merge

#44796 GH-44795: [C++] Use arrow::util::span on arrow::util::bitmap_builders_utilities instead of std::vector
  cpp/src/arrow/array/array_list_test.cc
  cpp/src/arrow/ipc/json_simple_test.cc
  cpp/src/arrow/util/bitmap_builders.cc
  cpp/src/arrow/util/bitmap_builders.h
  cpp/src/parquet/column_writer_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#45060 GH-45059: [C++][CI] Fix test-build-cpp-fuzz failures
  dev/tasks/fuzz-tests/github.oss-fuzz.yml
Labels: awaiting review

#45019 GH-41536: [C++] Replace std::aligned_storage that is deprecated in C++23
  cpp/cmake_modules/SetupCxxFlags.cmake
  cpp/src/arrow/util/aligned_storage.h
Labels: Component: C++, awaiting review

#45008 GH-45005 [C++] Support for fixed-size list in conversion of range tuple
  cpp/src/arrow/stl.h
  cpp/src/arrow/stl_test.cc
  cpp/src/arrow/type_traits.h
Labels: Component: C++, awaiting committer review

#39213 GH-39212: [Release] Retry download binary subprocess in case of OpenSSL error
  dev/release/download_rc_binaries.py
Labels: awaiting change review

#45070 GH-45069: [R][CI] Fix r-binary-packages crossbow job
  dev/tasks/r/github.packages.yml
Labels: awaiting review

#45066 GH-45075: [C++] Remove result_internal.h
  cpp/src/arrow/csv/writer.cc
  cpp/src/arrow/csv/writer_test.cc
  cpp/src/arrow/ipc/writer.cc
  cpp/src/arrow/result_internal.h
  cpp/src/parquet/arrow/schema.cc
Labels: Component: Parquet, Component: C++, awaiting review

#45052 GH-45050: [CI][Dev] Apply ShellCheck lint to c_glib/test/run-test.sh
  .pre-commit-config.yaml
  c_glib/test/run-test.sh
Labels: Component: GLib, awaiting change review

#45072 GH-45071: [Packaging][Docs] Fix NumPy v2 include directory for Emscripten, and update Pyodide-related documentation
  ci/docker/conda-python-emscripten.dockerfile
  docs/source/developers/cpp/emscripten.rst
  python/CMakeLists.txt
Labels: Component: Python, Component: Documentation, awaiting review

#45077 GH-45076: [CI][Packaging][Python] Simplify dev/tasks/python-wheels/github.linux.yml
  dev/tasks/python-wheels/github.linux.yml
Labels: awaiting merge

#45091 GH-44948: [Dev][Archery] Remove JIRA remnants from Archery
  dev/archery/archery/release/core.py
  dev/archery/archery/release/tests/test_release.py
  dev/archery/archery/templates/release_changelog.md.j2
  dev/archery/archery/testing.py
  dev/archery/setup.py
Labels: awaiting committer review

#45080 GH-45079: [FlightRPC][C++] Deprecate InitializeFlightUcx before removing UCX
  cpp/src/arrow/flight/transport/ucx/ucx.h
  docs/source/cpp/flight.rst
  docs/source/format/Flight.rst
  docs/source/status.rst
Labels: Component: C++, Component: FlightRPC, Component: Documentation, awaiting changes

#45068 GH-44923: [MATLAB] Add IPC `RecordBatchStreamReader` MATLAB class
  matlab/src/cpp/arrow/matlab/error/error.h
  matlab/src/cpp/arrow/matlab/io/ipc/proxy/record_batch_stream_reader.cc
  matlab/src/cpp/arrow/matlab/io/ipc/proxy/record_batch_stream_reader.h
  matlab/src/cpp/arrow/matlab/proxy/factory.cc
  matlab/src/matlab/+arrow/+io/+ipc/RecordBatchStreamReader.m
  matlab/test/arrow/io/ipc/tRecordBatchStreamReader.m
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
Labels: Component: MATLAB, awaiting merge

#45100 GH-45099: [C++] Avoid static const variable in the status.h
  cpp/src/arrow/status.cc
  cpp/src/arrow/status.h
Labels: Component: C++, awaiting committer review

#45107 MINOR: [C++] Remove wrong comment in swiss join avx2
  cpp/src/arrow/acero/swiss_join_avx2.cc
Labels: Component: C++, awaiting merge

#45111 MINOR: [C++] Fix the wrong comment in #45104
  cpp/src/arrow/compute/key_map_internal.cc
Labels: Component: C++, awaiting merge

#45109 MINOR: [Docs] Small grammar fix in Intro.rst
  docs/source/format/Intro.rst
Labels: Component: Documentation, awaiting committer review

#45112 MINOR: [Docs] Add "Field" as a term to "Overview of Arrow Terminology"
  docs/source/format/Intro.rst
Labels: Component: Documentation, awaiting committer review

#45097 GH-45096: [C++] Apply a cstdint patch to bundled Thrift for GCC 15
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/cmake_modules/thrift-cstdint.patch
Labels: Component: C++, awaiting merge

#45125 MINOR: [C++][Parquet] Remove unused SerializedPageReader::current_page_
  cpp/src/parquet/column_reader.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#45131 GH-45118: [Packaging] Use armored keyring for APT repository
  dev/release/verify-apt.sh
  dev/tasks/linux-packages/apache-arrow-apt-source/debian/rules
Labels: awaiting committer review

#45094 GH-44579: [C++] Use array type to compute min/max statistics Arrow type
  cpp/src/arrow/array/statistics.h
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch_test.cc
Labels: Component: C++, awaiting changes

#45127 GH-45126: [C++][Parquet] Fix undefined behavior in the FormatStatValue
  cpp/src/parquet/types.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#45133 GH-45119: [Ruby] Use #size for Arrow::Column#size backend
  ruby/red-arrow/lib/arrow/column.rb
  ruby/red-arrow/test/test-column.rb
  ruby/red-arrow/test/test-record-batch.rb
Labels: Component: Ruby, awaiting committer review

#45058 GH-38837: [Format] Add the specification for statistics schema
  docs/source/format/Columnar.rst
  docs/source/format/StatisticsSchema.rst
  docs/source/format/index.rst
Labels: Component: Documentation, awaiting changes

#45136 GH-45135: [C++] Remove useless "hash table ready" states in swiss join
  cpp/src/arrow/acero/swiss_join.cc
Labels: Component: C++, awaiting merge
