Repository apache/arrow, pull requests merged in 2024-10, with the labels that each got.

#44270 GH-44268: [Release][Ruby][CI] Pin version of glib used in verification script
  dev/release/verify-release-candidate.sh
Labels: awaiting merge

#44272 GH-44271: [C#] Add support for Decimal32 and Decimal64
  csharp/src/Apache.Arrow/Arrays/ArrowArrayBuilderFactory.cs
  csharp/src/Apache.Arrow/Arrays/ArrowArrayFactory.cs
  csharp/src/Apache.Arrow/Arrays/Decimal32Array.cs
  csharp/src/Apache.Arrow/Arrays/Decimal64Array.cs
  csharp/src/Apache.Arrow/C/CArrowSchemaExporter.cs
  csharp/src/Apache.Arrow/C/CArrowSchemaImporter.cs
  csharp/src/Apache.Arrow/Ipc/ArrowStreamWriter.cs
  csharp/src/Apache.Arrow/Ipc/ArrowTypeFlatbufferBuilder.cs
  csharp/src/Apache.Arrow/Ipc/MessageSerializer.cs
  csharp/src/Apache.Arrow/RecordBatch.Builder.cs
  csharp/src/Apache.Arrow/Types/Decimal32Type.cs
  csharp/src/Apache.Arrow/Types/Decimal64Type.cs
  csharp/src/Apache.Arrow/Types/IArrowType.cs
  csharp/test/Apache.Arrow.IntegrationTest/JsonFile.cs
  csharp/test/Apache.Arrow.Tests/ArrowArrayConcatenatorTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowReaderVerifier.cs
  csharp/test/Apache.Arrow.Tests/CDataInterfacePythonTests.cs
  csharp/test/Apache.Arrow.Tests/Decimal32ArrayTests.cs
  csharp/test/Apache.Arrow.Tests/Decimal64ArrayTests.cs
  csharp/test/Apache.Arrow.Tests/TableTests.cs
  csharp/test/Apache.Arrow.Tests/TestData.cs
  dev/archery/archery/integration/datagen.py
  docs/source/status.rst
Labels: Component: C#, Component: Documentation, awaiting review

#41593 GH-41673: [Format][Docs] Add arrow format introductory page
  docs/source/format/Columnar.rst
  docs/source/format/Glossary.rst
  docs/source/format/Intro.rst
  docs/source/format/images/all-diagrams.svg
  docs/source/format/images/bool-diagram.svg
  docs/source/format/images/columnar-diagram_1.svg
  docs/source/format/images/columnar-diagram_2.svg
  docs/source/format/images/columnar-diagram_3.svg
  docs/source/format/images/dense-union-diagram.svg
  docs/source/format/images/dictionary-diagram.svg
  docs/source/format/images/fixed-list-diagram.svg
  docs/source/format/images/fixed-string-diagram.svg
  docs/source/format/images/map-diagram.svg
  docs/source/format/images/primitive-diagram.svg
  docs/source/format/images/ree-diagram.svg
  docs/source/format/images/sparse-union-diagram.svg
  docs/source/format/images/struct-diagram.svg
  docs/source/format/images/var-list-diagram.svg
  docs/source/format/images/var-list-view-diagram.svg
  docs/source/format/images/var-string-diagram.svg
  docs/source/format/images/var-string-view-diagram.svg
  docs/source/format/index.rst
Labels: Component: Documentation, awaiting merge

#44226 MINOR: [CI][Python] Install pyuwsgi instead of uwsgi
  python/requirements-test.txt
  python/requirements-wheel-test.txt
Labels: Component: Python, awaiting merge

#44236 GH-34529: [C++][Compute] Replace explicit checking with DCHECK for invariants in row segmenter
  cpp/src/arrow/compute/row/grouper.cc
Labels: Component: C++, awaiting merge

#44278 GH-44277: [CI] Use Miniforge instead of Mambaforge
  ci/docker/conda.dockerfile
  ci/scripts/install_conda.sh
  dev/release/verify-release-candidate.sh
  dev/tasks/conda-recipes/azure.win.yml
  python/examples/minimal_build/build_conda.sh
Labels: Component: Python, awaiting merge

#44225 GH-41922: [CI][C++] Update Minio version
  .github/workflows/cpp.yml
  ci/appveyor-cpp-setup.bat
  ci/docker/python-wheel-windows-test-vs2019.dockerfile
  ci/scripts/cpp_build.sh
  ci/scripts/install_minio.sh
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs_test.cc
  cpp/src/arrow/filesystem/test_util.cc
  cpp/src/arrow/filesystem/test_util.h
  python/pyarrow/tests/conftest.py
  python/pyarrow/tests/parquet/test_dataset.py
  python/pyarrow/tests/test_dataset.py
  python/pyarrow/tests/test_fs.py
  python/pyarrow/tests/util.py
Labels: Component: C++, Component: Python, awaiting change review

#44280 GH-44276: [C++] Fix UBSAN error introduced by Decimal32
  cpp/src/arrow/util/decimal_test.cc
Labels: Component: C++, awaiting committer review

#44274 GH-44269: [C++][FS][Azure] Catch missing exceptions on HNS support check
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting committer review

#44250 GH-44249: [C++] Unify simd header includings
  cpp/build-support/cpplint.py
  cpp/src/arrow/acero/bloom_filter.cc
  cpp/src/arrow/acero/bloom_filter.h
  cpp/src/arrow/acero/bloom_filter_avx2.cc
  cpp/src/arrow/compute/key_hash_internal.h
  cpp/src/arrow/compute/key_hash_internal_avx2.cc
  cpp/src/arrow/compute/key_map_internal_avx2.cc
  cpp/src/arrow/compute/row/encode_internal_avx2.cc
  cpp/src/arrow/compute/util.h
  cpp/src/arrow/compute/util_avx2.cc
  cpp/src/arrow/util/bit_util.h
  cpp/src/arrow/util/macros.h
  cpp/src/arrow/util/prefetch.h
Labels: Component: C++, awaiting committer review

#44288 MINOR: [Python][CI] Avoid unconditional use of precompiled headers
  python/CMakeLists.txt
  python/pyarrow/src/arrow/python/udf.cc
Labels: Component: Python, awaiting change review

#41892 GH-41891: [C++] Clean up implicit fallthrough warnings
  cpp/cmake_modules/SetupCxxFlags.cmake
  cpp/src/arrow/c/bridge.cc
  cpp/src/arrow/util/utf8_internal.h
  cpp/src/gandiva/precompiled/hash.cc
  python/pyarrow/tests/test_cffi.py
Labels: Component: C++, Component: Python, Component: C++ - Gandiva, awaiting committer review

#44289 GH-30863: [JS] Use a singleton StructRow proxy handler
  js/src/row/struct.ts
Labels: Component: JavaScript, awaiting merge

#44172 GH-43878: [Go][Release] Remove Go related codes from our release scripts
  dev/release/01-prepare-test.rb
  dev/release/post-12-bump-versions-test.rb
  dev/release/post-13-go.sh
  dev/release/post-13-msys2.sh
  dev/release/post-14-homebrew.sh
  dev/release/post-15-vcpkg.sh
  dev/release/post-16-conan.sh
  dev/release/utils-prepare.sh
  dev/release/verify-release-candidate.sh
  docs/source/developers/release.rst
  docs/source/index.rst
  r/_pkgdown.yml
Labels: Component: R, Component: Documentation, awaiting committer review

#44301 GH-44300: [Integration][Archery] Don't import unused testers
  dev/archery/archery/integration/runner.py
Labels: awaiting merge

#44305 MINOR: [Docs] Refine docs for some compute functions
  docs/source/cpp/compute.rst
Labels: Component: Documentation, awaiting merge

#44302 GH-44256: [C++][FS][Azure] Fix edgecase where GetFileInfo incorrectly returns NotFound on flat namespace and Azurite
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: awaiting review

#44307 GH-44303: [C++][FS][Azure] Fix minor hierarchical namespace bugs
  cpp/src/arrow/filesystem/azurefs.cc
  cpp/src/arrow/filesystem/azurefs_test.cc
Labels: Component: C++, awaiting change review

#44291 GH-44290: [Java][Flight] Add ActionType description getter
  java/flight/flight-core/src/main/java/org/apache/arrow/flight/ActionType.java
  java/flight/flight-core/src/test/java/org/apache/arrow/flight/TestActionType.java
Labels: Component: Java, awaiting merge

#44316 MINOR: [CI][R] Increase timeout for ubuntu-r-valgrind
  dev/tasks/tasks.yml
Labels: awaiting committer review

#43740 GH-43684: [Python][Dataset] Python / Cython interface to C++ arrow::dataset::Partitioning::Format
  python/pyarrow/_dataset.pyx
  python/pyarrow/includes/libarrow_dataset.pxd
  python/pyarrow/tests/test_dataset.py
Labels: Component: Python, awaiting committer review

#44215 GH-44214: [C++] JsonExtensionType equality check ignores storage type
  cpp/src/arrow/extension/json.cc
  cpp/src/arrow/extension/json.h
  cpp/src/arrow/extension/json_test.cc
  cpp/src/parquet/arrow/arrow_schema_test.cc
  cpp/src/parquet/arrow/schema.cc
Labels: Component: Parquet, Component: C++, awaiting changes

#44335 GH-44334: [C++] Fix S3 error handling in `ObjectOutputStream`
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs_test.cc
Labels: Component: C++, awaiting committer review

#44341 GH-44337: [CI][GLib] Fix a flaky StreamDecoder and Buffer test
  c_glib/test/test-stream-decoder.rb
Labels: Component: GLib, awaiting changes

#44275 GH-44273: [C++][Decimal] Use 0E+1 not 0.E+1 for broader compatibility
  cpp/src/arrow/util/decimal.cc
  cpp/src/arrow/util/decimal_test.cc
  cpp/src/arrow/util/formatting_util_test.cc
  ruby/red-arrow/lib/arrow/decimal128-array.rb
  ruby/red-arrow/lib/arrow/decimal256-array.rb
Labels: Component: C++, Component: Ruby, awaiting committer review

#44359 GH-44358: [Packaging][Debian] Add workaround for CUDA include path
  dev/tasks/linux-packages/apache-arrow/apt/debian-trixie/Dockerfile
Labels: awaiting committer review

#44348 GH-44347: [Packaging][C++] Enable Azure file system for deb/rpm
  dev/tasks/linux-packages/apache-arrow/debian/rules
  dev/tasks/linux-packages/apache-arrow/yum/almalinux-8/Dockerfile
  dev/tasks/linux-packages/apache-arrow/yum/almalinux-9/Dockerfile
  dev/tasks/linux-packages/apache-arrow/yum/amazon-linux-2023/Dockerfile
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
  dev/tasks/linux-packages/apache-arrow/yum/centos-7/Dockerfile
  dev/tasks/linux-packages/apache-arrow/yum/centos-8-stream/Dockerfile
  dev/tasks/linux-packages/apache-arrow/yum/centos-9-stream/Dockerfile
Labels: awaiting committer review

#44362 GH-44355: [Packaging][Python] Disable interactive deb configuration in wheel-manylinux-*-cp313t-*
  ci/docker/python-free-threaded-wheel-manylinux-test-imports.dockerfile
Labels: awaiting committer review

#44354 MINOR: [Docs] Update URL to Go libraries in README.md
  README.md
Labels: Component: Documentation, awaiting review

#44148 GH-43846: [Python][Packaging] Remove numpy dependency from pyarrow packaging
  docs/source/python/install.rst
  python/pyproject.toml
Labels: Component: Python, Component: Documentation, awaiting merge

#44193 GH-43519: [Python][CI][Packaging] Use released versions to build and test wheels on Python 3.13
  ci/docker/python-wheel-manylinux.dockerfile
  ci/scripts/python_wheel_macos_build.sh
  python/requirements-wheel-build.txt
  python/requirements-wheel-test.txt
Labels: Component: Python, Priority: Blocker, awaiting merge

#44370 GH-44369: [CI][Python] Remove ds requirement from test collection on test_dataset.py
  python/pyarrow/tests/test_dataset.py
Labels: Component: Python, awaiting merge

#44315 GH-44314: [Packaging][Python] Use macOS 12 as deployment target to have macOS 12 pyarrow wheels
  dev/tasks/tasks.yml
Labels: awaiting merge

#44374 GH-44373: [Packaging][Java] Fix brew link to Python 3.13 on macOS
  dev/tasks/java-jars/github.yml
Labels: awaiting committer review

#44192 GH-43519: [Python][CI] Add Python 3.13 conda test build
  ci/docker/conda-python.dockerfile
  dev/tasks/tasks.yml
Labels: awaiting change review

#44382 GH-44381: [Ruby][Release] Pin not only glib but also python on verification jobs
  dev/release/verify-release-candidate.sh
Labels: awaiting changes

#44388 GH-44386: [Integration][Release] Pin Python 3.12 for Integration verification when using Conda
  dev/tasks/verify-rc/github.macos.yml
Labels: awaiting changes

#44380 GH-44342: [C++] Disable jemalloc by default on ARM
  ci/scripts/python_wheel_manylinux_build.sh
  cpp/cmake_modules/DefineOptions.cmake
  python/pyarrow/tests/test_memory.py
Labels: Component: C++, Component: Python, awaiting committer review

#44390 GH-44353: [Java] Implement `map()` for `UnionMapWriter`
  java/vector/src/main/codegen/templates/UnionMapWriter.java
  java/vector/src/test/java/org/apache/arrow/vector/TestMapVector.java
Labels: Component: Java, awaiting merge

#44413 GH-44412: [CI][R] Use Ubuntu 22.04 not 24.04 for Arrow C++ 15.0.2 deb packages
  .github/workflows/r.yml
Labels: awaiting committer review

#44407 GH-44415: [Release][Ruby] Remove pins from glib section of release verification script
  dev/release/verify-release-candidate.sh
Labels: awaiting merge

#44411 GH-44396: [CI][C++] Use setup-python on hosted runner
  .github/workflows/cpp.yml
Labels: awaiting merge

#44377 GH-44361: [C#][Integration] Include .NET in Flight integration tests
  csharp/Apache.Arrow.sln
  csharp/src/Apache.Arrow.Flight/FlightRecordBatchStreamWriter.cs
  csharp/test/Apache.Arrow.Flight.IntegrationTest/Apache.Arrow.Flight.IntegrationTest.csproj
  csharp/test/Apache.Arrow.Flight.IntegrationTest/FlightClientCommand.cs
  csharp/test/Apache.Arrow.Flight.IntegrationTest/FlightServerCommand.cs
  csharp/test/Apache.Arrow.Flight.IntegrationTest/GrpcResolver.cs
  csharp/test/Apache.Arrow.Flight.IntegrationTest/JsonTestScenario.cs
  csharp/test/Apache.Arrow.Flight.IntegrationTest/Program.cs
  csharp/test/Apache.Arrow.Flight.TestWeb/Startup.cs
  csharp/test/Apache.Arrow.Flight.TestWeb/TestFlightServer.cs
  dev/archery/archery/integration/datagen.py
  dev/archery/archery/integration/runner.py
  dev/archery/archery/integration/tester_csharp.py
  dev/release/rat_exclude_files.txt
Labels: Component: C#, awaiting committer review

#44385 GH-44384: [C++] Use CMAKE_LIBTOOL on macOS
  cpp/cmake_modules/BuildUtils.cmake
Labels: Component: C++, awaiting merge

#44427 GH-44416: [C++][Docs] Update the URL to C++ Development in README.md
  cpp/README.md
Labels: Component: C++, Component: Documentation, awaiting review

#44431 GH-44430: [CI][Swfit] Use setup-python to use "pip install"
  .github/workflows/swift.yml
Labels: awaiting committer review

#44429 GH-44428: [CI][C#] Use setup-python to use "pip install"
  .github/workflows/csharp.yml
Labels: awaiting committer review

#44391 GH-44368: [C++] Use "lib" for generating bundled dependencies even with "clang-cl"
  cpp/cmake_modules/BuildUtils.cmake
Labels: Component: C++, awaiting committer review

#44365 GH-44364: [C++] Don't export template class
  cpp/src/arrow/array/builder_nested.h
  cpp/src/arrow/compute/row/row_encoder_internal.h
  cpp/src/arrow/io/concurrency.h
  cpp/src/arrow/scalar.h
  cpp/src/arrow/type.h
  cpp/src/arrow/util/basic_decimal.h
Labels: Component: C++, awaiting committer review

#44425 GH-44422: [Packaging][Release][Linux] Upload artifacts before test
  dev/tasks/linux-packages/github.linux.yml
Labels: awaiting committer review

#44433 GH-44432: [Swift] Use flatbuffers v24.3.7
  swift/Arrow/Package.swift
Labels: Component: Swift, awaiting committer review

#41693 GH-41692: [Python] Improve substrait extended expressions support
  cpp/src/arrow/engine/substrait/serde.cc
  docs/source/python/api/substrait.rst
  docs/source/python/integration.rst
  docs/source/python/integration/substrait.rst
  python/pyarrow/_compute.pyx
  python/pyarrow/_dataset.pyx
  python/pyarrow/_substrait.pyx
  python/pyarrow/includes/common.pxd
  python/pyarrow/includes/libarrow_substrait.pxd
  python/pyarrow/substrait.py
  python/pyarrow/tests/test_dataset.py
  python/pyarrow/tests/test_substrait.py
Labels: Component: C++, Component: Python, Component: Documentation, awaiting change review

#44442 GH-44441: [Release] Add missing `--repo apache/arrow` in `02-source.sh`
  dev/release/02-source.sh
Labels: awaiting committer review

#44126 GH-44125: [Python] Add concat_batches function
  docs/source/python/api/tables.rst
  python/pyarrow/__init__.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_table.py
Labels: Component: Python, Component: Documentation, awaiting change review

#44405 GH-44404: [CI] Stop running CI "push" jobs for Dependabot
  .github/workflows/archery.yml
  .github/workflows/cpp.yml
  .github/workflows/csharp.yml
  .github/workflows/dev.yml
  .github/workflows/integration.yml
  .github/workflows/java.yml
  .github/workflows/java_jni.yml
  .github/workflows/js.yml
  .github/workflows/matlab.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  .github/workflows/ruby.yml
  .github/workflows/swift.yml
Labels: awaiting committer review

#44241 GH-44065: [Java] Implement C Data Interface for RunEndEncodedVector
  dev/archery/archery/integration/datagen.py
  java/c/src/main/java/org/apache/arrow/c/BufferImportTypeVisitor.java
  java/c/src/main/java/org/apache/arrow/c/Format.java
  java/c/src/test/java/org/apache/arrow/c/RoundtripTest.java
  java/c/src/test/python/integration_tests.py
  java/vector/src/main/java/org/apache/arrow/vector/complex/RunEndEncodedVector.java
  java/vector/src/main/java/org/apache/arrow/vector/ipc/JsonFileReader.java
  java/vector/src/main/java/org/apache/arrow/vector/validate/ValidateVectorBufferVisitor.java
  java/vector/src/test/java/org/apache/arrow/vector/TestRunEndEncodedVector.java
  java/vector/src/test/java/org/apache/arrow/vector/testing/ValueVectorDataPopulator.java
Labels: Component: Java, awaiting merge

#44445 GH-44444: [Java][CI] Add Java implementation of Flight do_exchange integration test
  dev/archery/archery/integration/runner.py
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/DoExchangeEchoScenario.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/DoExchangeProducer.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/IntegrationAssertions.java
  java/flight/flight-integration-tests/src/main/java/org/apache/arrow/flight/integration/tests/Scenarios.java
  java/flight/flight-integration-tests/src/test/java/org/apache/arrow/flight/integration/tests/IntegrationTest.java
Labels: Component: Java, awaiting review

#44452 GH-44451: [Release] Retry on HTTP error in Java upload
  dev/release/06-java-upload.sh
Labels: awaiting merge

#44460 GH-44459: [Release][Packaging] Do not check wheel content when verifying binary wheels
  dev/release/verify-release-candidate.sh
Labels: awaiting committer review

#44450 GH-44449: [Release] Retry on HTTP error in binary upload
  dev/release/binary-task.rb
Labels: awaiting committer review

#44475 GH-44465: [GLib][C++] Meson searches libraries with specific versions.
  c_glib/meson.build
Labels: Component: GLib, awaiting review

#44484 GH-44483: [GLib] Don't check invalid decimal precision message in test
  c_glib/test/test-decimal128-data-type.rb
  c_glib/test/test-decimal256-data-type.rb
Labels: Component: GLib, awaiting review

#44357 GH-34535: [C++] Move ChunkResolver to the public API
  cpp/src/arrow/chunk_resolver.cc
  cpp/src/arrow/chunk_resolver.h
  cpp/src/arrow/chunk_resolver_benchmark.cc
  cpp/src/arrow/chunked_array.h
  cpp/src/arrow/chunked_array_test.cc
  cpp/src/arrow/compute/kernels/chunked_internal.h
  cpp/src/arrow/compute/kernels/vector_sort.cc
  cpp/src/arrow/compute/kernels/vector_sort_internal.h
  cpp/src/arrow/stl_iterator.h
  docs/source/cpp/api/array.rst
  r/src/altrep.cpp
Labels: Component: R, Component: C++, Component: Documentation, awaiting merge

#44492 GH-44474: [Website] Improve project description
  .asf.yaml
Labels: awaiting committer review

#44481 GH-44480: [Release][Packaging] Use `--platform` explicitly for `docker run`
  dev/release/verify-release-candidate.sh
Labels: awaiting committer review

#44498 GH-44478: [GLib] Prevent Arrow::ExtensionType.new
  c_glib/arrow-glib/basic-data-type.cpp
  c_glib/test/test-extension-data-type.rb
Labels: Component: GLib, awaiting change review

#44505 GH-44506: [Docs][C++] Fix documentation directive for ChunkLocation
  docs/source/cpp/api/array.rst
Labels: Component: Documentation, awaiting committer review

#44507 GH-44448: [C++] Add support for overwriting grpc_cpp_plugin path for cross-compiling
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#44512 MINOR: [Docs][Python] Document type aliasing in pa.field/pa.schema
  python/pyarrow/tests/test_types.py
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting committer review

#44522 GH-44474: [Website][Docs] Improve project description in more places
  README.md
  docs/source/index.rst
  docs/source/python/index.rst
Labels: Component: Documentation, awaiting committer review

#44387 GH-43949: [C++] io::BufferedInput: Fix invalid state after SetBufferSize
  cpp/src/arrow/io/buffered.cc
  cpp/src/arrow/io/buffered.h
  cpp/src/arrow/io/buffered_test.cc
Labels: Type: bug, Component: C++, awaiting committer review

#44476 GH-44018: [R] Treat builds on R-universe as like `NOT_CRAN=true`
  r/tools/nixlibs.R
Labels: Component: R, awaiting review

#44529 GH-44528: [Dev] Introduce a new feature: specific language reformatting
  .pre-commit-config.yaml
Labels: awaiting merge

#44462 GH-44461: [Release][Packacing][Python] Set PARQUET_TEST_DATA on verify-release-candidate-wheels.bat
  ci/scripts/download_tz_database.sh
  dev/release/verify-release-candidate-wheels.bat
  dev/tasks/verify-rc/github.win.yml
Labels: awaiting changes

#44520 GH-44518: [R] Update NEWS for 18.0.0
  r/NEWS.md
Labels: Component: R, Component: Documentation, awaiting committer review

#44537 MINOR: [Docs][Python] Document example for pc.index
  python/pyarrow/compute.py
Labels: Component: Python, awaiting review

#44562 MINOR: [R] Trim news for 18.0 release
  r/NEWS.md
Labels: Component: R, Component: Documentation, awaiting merge

#44083 GH-41706: [C++][Acero] Enhance asof_join to work in multi-threaded execution by sequencing input
  cpp/src/arrow/acero/accumulation_queue.h
  cpp/src/arrow/acero/asof_join_node.cc
  cpp/src/arrow/acero/asof_join_node_test.cc
  cpp/src/arrow/acero/options.h
  cpp/src/arrow/acero/source_node.cc
  cpp/src/arrow/acero/test_util_internal.cc
  cpp/src/arrow/dataset/scanner.cc
  python/pyarrow/_dataset.pyx
  python/pyarrow/acero.py
  python/pyarrow/includes/libarrow_dataset.pxd
Labels: Component: C++, Component: Python, awaiting merge

#44567 MINOR: [Release] Fix issue listing versions in post-10-docs.sh
  dev/release/post-10-docs.sh
Labels: awaiting review

#44566 MINOR: [Java] Update mockito version to 5.14.2
  java/flight/flight-sql-jdbc-core/pom.xml
  java/pom.xml
Labels: Component: Java, awaiting review

#44503 GH-32206: [C++] GcsFileSystem::Make should return Result
  cpp/src/arrow/filesystem/gcsfs.cc
  cpp/src/arrow/filesystem/gcsfs.h
  cpp/src/arrow/filesystem/gcsfs_test.cc
  r/src/filesystem.cpp
Labels: Component: R, Component: C++, awaiting change review

#44576 GH-44575: [C#] Replace LINQ expression with for loop
  csharp/src/Apache.Arrow/Schema.cs
Labels: Component: C#, awaiting review

#44565 GH-44564: [Java][FlightSQL] Fix native libraries relocation
  java/flight/flight-sql-jdbc-driver/pom.xml
  java/flight/flight-sql-jdbc-driver/src/test/java/org/apache/arrow/driver/jdbc/ITDriverJarValidation.java
Labels: Component: Java, awaiting merge

#44559 GH-44558: [Release][Website] Remove needless "Apache Arrow ${VERSION}" section
  dev/release/post-04-website.sh
Labels: awaiting committer review

#44557 GH-44556: [Release][MSYS2] Update python-pyarrow too
  dev/release/post-13-msys2.sh
Labels: awaiting committer review

#44577 GH-44574: [Release] Ensure using the release tag to build binaries
  dev/release/03-binary-submit.sh
Labels: awaiting committer review

#44580 GH-44392: [GLib] Add GArrowDecimal32DataType
  c_glib/arrow-glib/basic-data-type.cpp
  c_glib/arrow-glib/basic-data-type.h
  c_glib/arrow-glib/type.cpp
  c_glib/arrow-glib/type.h
  c_glib/test/test-decimal32-data-type.rb
Labels: Component: GLib, awaiting changes

#44582 GH-44581: [C++] Minor: ArrayData ctor can assign null_count directly
  cpp/src/arrow/array/data.h
  cpp/src/arrow/extension_type.h
Labels: Component: C++, awaiting merge

#44532 GH-44101: [C++][Parquet] Tools: Debug Print for Json should be valid JSON
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/printer.cc
  cpp/src/parquet/printer.h
  cpp/src/parquet/reader_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#44591 GH-44588: [GLib] Add GArrowDecimal64 Class
  c_glib/arrow-glib/decimal.cpp
  c_glib/arrow-glib/decimal.h
  c_glib/arrow-glib/decimal.hpp
  c_glib/test/test-decimal64.rb
Labels: Component: GLib, awaiting change review

#44597 GH-44589: [GLib] Add GArrowDecimal32 class
  c_glib/arrow-glib/decimal.cpp
  c_glib/arrow-glib/decimal.h
  c_glib/arrow-glib/decimal.hpp
  c_glib/test/test-decimal32.rb
Labels: Component: GLib, awaiting review

#44572 GH-44570: [Release][R][Docs] Update `r/pkgdown/assets/versions.html`
  dev/release/01-prepare-test.rb
  dev/release/post-12-bump-versions-test.rb
  dev/release/utils-prepare.sh
  r/pkgdown/assets/versions.html
  r/pkgdown/assets/versions.json
Labels: Component: R, awaiting merge

#44592 GH-44590: [C++] Add `const` and `&` to `arrow::Array::statistics()` return type
  cpp/src/arrow/array/array_base.h
Labels: Component: C++, awaiting committer review
