Repository apache/arrow, pull requests merged in 2025-04, with the labels that each got.

#45977 GH-45897: [Ruby] Unify test for table in raw_records and each_raw_record
  ruby/red-arrow/test/each-raw-record/test-table.rb
  ruby/red-arrow/test/raw-records/test-table.rb
Labels: Component: Ruby, awaiting review

#45748 GH-45746: [C++] Remove deprecated functions in 20.0 (C++ subset)
  cpp/src/arrow/filesystem/gcsfs.h
  cpp/src/arrow/io/memory.cc
  cpp/src/arrow/io/memory.h
  cpp/src/gandiva/cache.cc
  cpp/src/gandiva/cache.h
Labels: Component: C++, Component: Gandiva

#46000 GH-45999: [C++][Gandiva] Fix crashes on LLVM 20.1.1
  cpp/src/gandiva/llvm_generator.cc
Labels: Component: C++, Component: Gandiva, awaiting review

#45981 GH-45980: [C++] Bump Bundled Snappy version to 1.2.2
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting merge

#45963 GH-45961: [Release][Docs] Upload generated docs to GitHub Releases not apache.jfrog.io
  .pre-commit-config.yaml
  dev/release/05-binary-upload.sh
  dev/release/binary-task.rb
  dev/release/post-03-binary.sh
  dev/release/post-10-docs.sh
Labels: awaiting committer review

#46012 MINOR: [C++][Docs] Fix doxygen issue in ree_util.h
  cpp/src/arrow/util/ree_util.h
Labels: Component: C++, Component: Documentation, awaiting review

#45996 GH-45986: [C++] Update bundled GoogleTest
  .github/workflows/cpp.yml
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting review, awaiting merge

#45900 GH-45735: [C++] Broken tests for extract_regex compute funcion
  cpp/src/arrow/compute/kernels/scalar_string_ascii.cc
  cpp/src/arrow/compute/kernels/scalar_string_test.cc
Labels: Component: C++, awaiting committer review

#46033 GH-46023: [CI][MATLAB] libmexclass doesn't work with CMake 4.0.0
  matlab/tools/cmake/BuildMatlabArrowInterface.cmake
Labels: Component: MATLAB, awaiting committer review

#46026 GH-45714: [CI][R] Don't run tests that use reticulate on CRAN
  ci/scripts/r_test.sh
  r/tests/testthat/helper-skip.R
Labels: Component: R, awaiting merge

#46032 GH-45992: [C++] Bump bundled utf8proc version to 2.10.0
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting committer review

#45951 GH-45949: [R] Fix CRAN warnings for 19.0.1 about compiled code
  r/src/altrep.cpp
  r/src/arrow_types.h
  r/src/r_to_arrow.cpp
  r/tests/testthat/test-altrep.R
Labels: Component: R, awaiting change review

#46028 GH-46022: [C++] Fix build error with g++ 7.5.0
  cpp/src/arrow/compute/kernels/pivot_internal.cc
Labels: Component: C++, awaiting merge

#46006 GH-45994: [CI][GLib] Fix vcpkg configuration for Windows job
  .github/workflows/ruby.yml
  c_glib/meson.build
  c_glib/vcpkg.json
  ci/scripts/c_glib_build.sh
  cpp/CMakeLists.txt
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/acero/CMakeLists.txt
  cpp/src/arrow/acero/arrow-acero.pc.in
  cpp/src/arrow/dataset/CMakeLists.txt
  cpp/src/arrow/dataset/arrow-dataset.pc.in
  cpp/src/arrow/engine/CMakeLists.txt
  cpp/src/arrow/engine/arrow-substrait.pc.in
  cpp/src/arrow/flight/CMakeLists.txt
  cpp/src/arrow/flight/arrow-flight.pc.in
  cpp/src/arrow/flight/sql/CMakeLists.txt
  cpp/src/arrow/flight/sql/arrow-flight-sql.pc.in
  cpp/src/gandiva/CMakeLists.txt
  cpp/src/gandiva/gandiva.pc.in
  cpp/vcpkg.json
  dev/tasks/vcpkg-tests/cpp-build-vcpkg.bat
  dev/tasks/vcpkg-tests/github.windows.yml
Labels: Component: C++, Component: FlightRPC, Component: Gandiva, Component: GLib, awaiting merge

#46029 GH-45292: [Python] test_dtypes hypotesis test fails sporadically
  python/pyarrow/tests/interchange/test_interchange_spec.py
  python/pyarrow/tests/test_strategies.py
Labels: Component: Python, awaiting review

#45973 MINOR: [Docs][MATLAB] update README failing example code snippets
  matlab/doc/matlab_interface_for_apache_arrow_design.md
Labels: Component: MATLAB, Component: Documentation, awaiting merge

#46030 GH-46025: [C++] Use ARROW_CUDA_EXPORT instead of ARROW_EXPORT for libarrow_cuda
  .env
  cpp/CMakeLists.txt
  cpp/src/arrow/gpu/CMakeLists.txt
  cpp/src/arrow/gpu/arrow-cuda.pc.in
  cpp/src/arrow/gpu/cuda_arrow_ipc.h
  cpp/src/arrow/gpu/cuda_context.h
  cpp/src/arrow/gpu/cuda_internal.h
  cpp/src/arrow/gpu/cuda_memory.h
  cpp/src/arrow/gpu/visibility.h
Labels: Component: C++, awaiting merge

#45375 GH-45937: [C++][Parquet] Variant logical type definition
  cpp/src/generated/parquet_types.cpp
  cpp/src/generated/parquet_types.h
  cpp/src/generated/parquet_types.tcc
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/arrow/arrow_schema_test.cc
  cpp/src/parquet/arrow/schema.cc
  cpp/src/parquet/arrow/variant_internal.cc
  cpp/src/parquet/arrow/variant_internal.h
  cpp/src/parquet/arrow/variant_test.cc
  cpp/src/parquet/parquet.thrift
  cpp/src/parquet/schema.cc
  cpp/src/parquet/schema_test.cc
  cpp/src/parquet/types.cc
  cpp/src/parquet/types.h
Labels: Component: Parquet, Component: C++, awaiting change review

#46053 GH-46052: [C++][Benchmarking] Don't build grouper benchmark without ARROW_COMPUTE=ON
  cpp/src/arrow/compute/row/CMakeLists.txt
Labels: Component: C++, awaiting merge

#46055 GH-46050: [R] Add windows to set of paths in Makevars.in
  r/src/Makevars.in
Labels: Component: R, awaiting review

#46059 GH-46058: [Python] Run Python in AppVeyor outside of source directory
  ci/appveyor-cpp-build.bat
Labels: awaiting review

#46060 MINOR: [R] Update backwards compat job for 19.0.1.1
  dev/tasks/r/github.linux.arrow.version.back.compat.yml
Labels: awaiting merge

#45909 GH-45865: [C++] Create dedicated benchmark dependency in Meson
  cpp/src/arrow/c/meson.build
  cpp/src/arrow/csv/meson.build
  cpp/src/arrow/io/meson.build
  cpp/src/arrow/meson.build
  cpp/src/arrow/testing/meson.build
Labels: Component: C++, awaiting merge

#46071 GH-46070: [C++] Remove duplicate storage_type in JsonExtension
  cpp/src/arrow/extension/json.h
Labels: Component: C++, awaiting committer review

#46066 GH-46065: [Release] Don't use `--verify-tag` for `gh release upload` in `02-source.sh`
  dev/release/02-source.sh
Labels: awaiting merge

#46069 GH-46068: [Release] Remove needless `docs:rc` task from 05-binary-upload.sh
  dev/release/05-binary-upload.sh
Labels: awaiting committer review

#46038 GH-46019: [Python] Raise TypeError on feather read_table if columns is not a Sequence
  python/pyarrow/feather.py
  python/pyarrow/tests/test_feather.py
Labels: Component: Python, awaiting changes

#46057 GH-44366: [Python][Acero] RecordBatch.filter on expression raises error if result set is empty
  python/pyarrow/acero.py
  python/pyarrow/tests/test_compute.py
Labels: Component: Python, awaiting committer review

#46027 GH-37891: [C++] Followup Buffer change to use sptr move
  cpp/src/arrow/buffer.h
  cpp/src/arrow/chunked_array.cc
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch.h
  cpp/src/arrow/table.cc
  cpp/src/arrow/type.cc
Labels: Component: C++, awaiting merge

#45797 GH-45796: [C++] Add integration directory to Meson configuration
  cpp/meson.build
  cpp/meson.options
  cpp/src/arrow/integration/meson.build
  cpp/src/arrow/meson.build
  cpp/subprojects/gflags.wrap
Labels: Component: C++, awaiting merge

#46079 GH-45716: [R][CI] Refactor skip_on_python_older_than to not initialize reticulate
  r/tests/testthat/helper-skip.R
Labels: Component: R

#46105 GH-46067: [CI][C++] Remove system Flatbuffers from macOS
  cpp/Brewfile
Labels: Component: C++, awaiting merge

#46082 GH-46081: [Release] Don't generate needless `uploaded-files.txt` for Maven repository
  dev/release/binary-task.rb
Labels: awaiting committer review

#45719 GH-39811: [R] better documentation for col_types argument in open_delim_dataset
  r/R/csv.R
  r/R/dataset-format.R
  r/R/dataset.R
  r/R/util.R
  r/man/open_delim_dataset.Rd
  r/tests/testthat/test-dataset-csv.R
  r/tests/testthat/test-util.R
Labels: Component: R, awaiting merge

#46106 GH-46077: [CI][C++] Disable -Werror on macos-13
  .github/workflows/cpp.yml
  .github/workflows/python.yml
Labels: awaiting merge

#46109 GH-46054: [Python][Packaging] Re-enable pandas on Windows free-threaded wheel
  ci/docker/python-free-threaded-wheel-windows-test-vs2022.dockerfile
  ci/scripts/python_wheel_windows_test.bat
Labels: awaiting committer review

#45535 GH-45534: [C++] Test: `RunEndEncodeTableColumns` should update REE columns' schema types
  cpp/src/arrow/testing/gtest_util.cc
  cpp/src/arrow/testing/gtest_util_test.cc
Labels: Component: C++, awaiting committer review

#46112 GH-45991: [C++] Bump bundled nlohmann_json to v3.12.0
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting committer review

#46114 GH-46090: [C++] Set default IPC option to enabled in Meson
  cpp/meson.options
Labels: Component: C++, awaiting review

#46122 GH-46121: [Python] Add missing `column_index` argument to `ArrowReaderProperties::read_dictionary`'s Cython binding
  python/pyarrow/_parquet.pxd
Labels: Component: Python, awaiting merge

#45533 GH-45532: [C++] `RunEndEncodedBuilder` should clear dimensions after a `Finish()` call
  cpp/src/arrow/array/array_run_end_test.cc
  cpp/src/arrow/array/builder_run_end.cc
Labels: Component: C++, awaiting committer review

#46113 GH-46111: [C++][CI] Fix boost 1.88 on MinGW
  cpp/src/arrow/testing/process.cc
Labels: Component: C++, awaiting merge

#46119 GH-46118: [C++] Add tensor directory to Meson
  cpp/src/arrow/meson.build
  cpp/src/arrow/tensor/meson.build
Labels: Component: C++, awaiting merge

#46108 GH-46083: [Release][Packages] Use Artifactory for APT/Yum repositories again
  dev/release/.env.example
  dev/release/02-source-test.rb
  dev/release/02-source.sh
  dev/release/05-binary-upload.sh
  dev/release/binary-task.rb
  dev/release/download_rc_binaries.py
  dev/release/post-03-binary.sh
  dev/release/verify-apt.sh
  dev/release/verify-yum.sh
  dev/tasks/linux-packages/apache-arrow-apt-source/debian/rules
  dev/tasks/linux-packages/apache-arrow-release/yum/Apache-Arrow.repo
  ruby/red-arrow/red-arrow.gemspec
Labels: Component: Ruby, awaiting committer review

#46101 GH-46092: [C++] Add filesystem related options to Meson
  cpp/cmake_modules/DefineOptions.cmake
  cpp/meson.build
  cpp/meson.options
  cpp/src/arrow/filesystem/meson.build
  cpp/src/arrow/meson.build
  cpp/src/arrow/testing/meson.build
  cpp/subprojects/azure.wrap
Labels: Component: C++, awaiting merge

#46136 GH-46134: [CI][C++] Explicit conversion of possible `absl::string_view` on protobuf methods to `std::string`
  cpp/src/arrow/engine/substrait/expression_internal.cc
  cpp/src/arrow/engine/substrait/serde.cc
  cpp/src/arrow/engine/substrait/util_internal.cc
Labels: Component: C++, awaiting committer review

#46143 GH-46127: [CI][Release] Make 02-source.sh test passable on fork
  dev/release/02-source-test.rb
Labels: awaiting committer review

#46144 GH-41672: [Python][Doc] Clarify docstring of FixedSizeListArray.values that it ignores the offset
  python/pyarrow/array.pxi
Labels: Component: Python, awaiting committer review

#46133 GH-46132: [C++][Parquet] Remove deprecated parquet APIs from 19.0.0
  cpp/examples/arrow/parquet_read_write.cc
  cpp/src/arrow/filesystem/s3fs_benchmark.cc
  cpp/src/parquet/arrow/reader.cc
  cpp/src/parquet/arrow/reader.h
  cpp/src/parquet/arrow/writer.h
Labels: Component: Parquet, Component: C++

#46131 GH-46130: [Python] Remove `use_legacy_format` in favour of setting `IpcWriteOptions`
  python/pyarrow/_flight.pyx
  python/pyarrow/ipc.py
  python/pyarrow/tests/test_ipc.py
Labels: Component: Python, Component: FlightRPC, awaiting merge

#46168 GH-46167: [R][CI] Update Artifacts for R 4.5 in task.yml
  dev/tasks/tasks.yml
Labels: awaiting review

#46158 MINOR: [C++][Parquet] Fix incorrect comments about dictionary encoding fallback behaviour
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/properties.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#46175 GH-46174: [Python] Failing tests in python minimal builds
  python/pyarrow/tests/test_acero.py
  python/pyarrow/tests/test_compute.py
Labels: Component: Python, awaiting review

#46160 GH-46159: [CI][C++] Stop using possibly missing boost/process/v2.hpp on boost 1.88 and use individual includes
  cpp/src/arrow/testing/process.cc
Labels: Component: C++, awaiting merge

#46170 GH-45531: [Python] Add the `dim_names` argument to `from_numpy_ndarray`
  python/pyarrow/array.pxi
  python/pyarrow/tests/test_extension_type.py
Labels: Component: Python, awaiting merge

#46176 MINOR: [Dev] Add pyarrow codeowners
  .github/CODEOWNERS
Labels: awaiting change review

#46124 GH-46123: [C++] Undefined behavior in `compare_internal.cc` and `light_array_internal.cc`
  ci/scripts/r_sanitize.sh
  cpp/src/arrow/compute/light_array_internal.cc
  cpp/src/arrow/compute/row/compare_internal.cc
  dev/tasks/docker-tests/github.linux.yml
  dev/tasks/r/github.macos.m1san.yml
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: Component: C++, awaiting change review

#46191 GH-46192: [C++] Add `substrait` dep to third party download script
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting review

#46201 GH-46197: [C++] Tests use legacy timezones
  cpp/src/arrow/compute/kernels/scalar_temporal_test.cc
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, awaiting committer review

#46145 GH-38903: [R][Docs] Improve documentation of col_types
  r/R/dataset.R
  r/R/util.R
  r/man/open_dataset.Rd
  r/man/open_delim_dataset.Rd
  r/tests/testthat/test-csv.R
Labels: Component: R, awaiting changes

#46213 MINOR: [C++][Dev] Remove obsolete clang-tidy option
  .clang-tidy
Labels: awaiting committer review

#46018 MINOR: [Dev] Add apt/yum build directories to `.gitignore`
  dev/tasks/linux-packages/.gitignore
Labels: awaiting change review

#46031 GH-45664: [C++] Allow LargeString,LargeBinary,FixedSizeBinary,StringView and BinaryView for RecordBatch::MakeStatisticsArray()
  cpp/src/arrow/array/statistics.h
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch_test.cc
  cpp/src/arrow/testing/gtest_util.h
Labels: Component: C++, awaiting changes

#45246 GH-45028: [C++][Compute] Allow cast to reorder struct fields
  cpp/src/arrow/compute/kernels/scalar_cast_nested.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
  docs/source/cpp/compute.rst
Labels: Component: C++, Component: Documentation, awaiting merge

#46232 GH-46231: [C++][CMake] Fix `arrow_bundled_dependencies` to be externally accessible by FetchContent
  cpp/cmake_modules/BuildUtils.cmake
Labels: Component: C++, awaiting merge

#46239 GH-46238: [Release][Python] Use array to avoid empty argument in `dev/release/post-11-python.sh`
  dev/release/post-11-python.sh
Labels: awaiting committer review

#46225 MINOR: [Python] Clarify reasoning in Python dev docs
  docs/source/developers/python.rst
Labels: Component: Documentation, awaiting committer review

#46243 GH-46242: [Release] Don't show gpg signature when getting release time
  dev/tasks/linux-packages/helper.rb
Labels: awaiting review

#46234 GH-46233: [C++] Fix missing nested braces in QueuedTask initialization
  cpp/src/arrow/util/thread_pool.cc
Labels: Component: C++, awaiting merge

#46260 GH-46259: [CI] Remove deprecated flag from mamba info
  python/examples/minimal_build/build_conda.sh
Labels: Component: Python, awaiting committer review

#46264 GH-45608: [C++][Flight] Fix compilation for clang
  cpp/src/arrow/flight/types.h
Labels: Component: C++, Component: FlightRPC, awaiting merge

#46161 GH-46157: [C++] Move test utility RunEndEncodeTableColumns that uses REE to test_util_internal on acero instead of common gtest_util
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/acero/CMakeLists.txt
  cpp/src/arrow/acero/test_util_internal.cc
  cpp/src/arrow/acero/test_util_internal.h
  cpp/src/arrow/acero/test_util_internal_test.cc
  cpp/src/arrow/testing/gtest_util.cc
  cpp/src/arrow/testing/gtest_util.h
  cpp/src/arrow/testing/gtest_util_test.cc
Labels: Component: C++, awaiting change review
