Repository apache/arrow, pull requests merged in 2025-01, with the labels that each got.

#45143 GH-45142: [C++] Ensure using `cpp/cmake_modules/*.cmake`
  cpp/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#45138 GH-45137: [CI][C++] Add a GCC 15 job
  .env
  ci/docker/debian-experimental-cpp.dockerfile
  ci/docker/linux-apt-r.dockerfile
  ci/docker/ubuntu-22.04-cpp.dockerfile
  ci/docker/ubuntu-24.04-cpp.dockerfile
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: awaiting change review

#45152 GH-45151: [C++][Parquet] Fix Null-dereference READ in parquet::arrow::ListToSchemaField
  cpp/src/parquet/arrow/arrow_schema_test.cc
  cpp/src/parquet/arrow/schema.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#35323 GH-44855: [Python][Packaging] Use delvewheel to repair Windows wheels
  ci/scripts/python_wheel_windows_build.bat
  ci/scripts/python_wheel_windows_test.bat
  dev/tasks/python-wheels/github.windows.yml
Labels: awaiting merge

#45165 GH-45164: [CI][Integration] Remove "java_" prefix from Java build scripts
  ci/scripts/integration_arrow_build.sh
Labels: awaiting committer review

#45093 GH-45092: [C++][Parquet] Add GetReadRanges function to FileReader
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/file_reader.h
Labels: Component: Parquet, Component: C++, awaiting merge

#45174 GH-41141: [C++] Reduce string inlining in Substrait serde
  cpp/src/arrow/engine/substrait/expression_internal.cc
Labels: Component: C++, awaiting review

#45171 GH-44563: [C++] `FunctionOptions::{Serialize,Deserialize}()` return an error without `ARROW_IPC`
  cpp/src/arrow/compute/function_internal.cc
Labels: Component: C++, awaiting committer review

#45182 GH-45178: [CI] Remove clcache related codes
  ci/docker/python-wheel-windows-vs2019.dockerfile
  ci/scripts/python_wheel_windows_build.bat
  docker-compose.yml
Labels: awaiting committer review

#45168 GH-45166: [CI][C++] Upgrade Alpine Linux to 3.18 from 3.16
  .env
  ci/docker/alpine-linux-3.18-cpp.dockerfile
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/compute/kernels/scalar_temporal_test.cc
  cpp/src/arrow/testing/process.cc
  docker-compose.yml
Labels: Component: C++, awaiting changes

#45188 MINOR: [C++] Fix typo in partition sort comment
  cpp/src/arrow/acero/partition_util.h
Labels: Component: C++, awaiting merge

#45176 GH-45175: [Python] Honor the strings_to_categorical keyword in to_pandas for string view type
  python/pyarrow/src/arrow/python/arrow_to_pandas.cc
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting merge

#45141 GH-45140: [Dev][Release] Release guide improvements
  docs/source/developers/release.rst
Labels: Component: Documentation, awaiting changes

#45197 GH-45196: [C++][Acero] Small refinement to hash join
  cpp/src/arrow/acero/hash_join.cc
  cpp/src/arrow/acero/hash_join_node.cc
  cpp/src/arrow/acero/swiss_join.cc
Labels: Component: C++, awaiting merge

#45199 GH-45164: [CI][Integration] Follow build script name change in apache/arrow-java
  ci/scripts/integration_arrow_build.sh
Labels: awaiting committer review

#45085 GH-45045: [C++][Parquet] Add a benchmark for size_statistics_level
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/arrow/size_stats_benchmark.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#45213 GH-45212: [C++][Parquet] Fix uninitialized size_statistics_level property
  cpp/src/parquet/properties.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#45202 GH-45201: [C++][Parquet] Improve performance of generating size statistics
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/size_statistics.cc
  cpp/src/parquet/size_statistics.h
  cpp/src/parquet/size_statistics_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#45170 GH-45169: [Python] Adapt to modified pytest ignore collect hook api
  python/pyarrow/conftest.py
Labels: Component: Python, awaiting committer review

#44195 GH-43683: [Python] Use pandas StringDtype when enabled (pandas 3+)
  dev/tasks/tasks.yml
  docker-compose.yml
  python/pyarrow/array.pxi
  python/pyarrow/pandas-shim.pxi
  python/pyarrow/pandas_compat.py
  python/pyarrow/tests/test_compute.py
  python/pyarrow/tests/test_feather.py
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting change review

#45220 GH-45219: [C++][Examples] Update examples to disable mimalloc
  cpp/examples/minimal_build/build_arrow.sh
  cpp/examples/tutorial_examples/build_arrow.sh
Labels: Component: C++, awaiting merge

#45210 GH-45209: [C++][CMake] Fix the issue that allocator not disabled for sanitizer cmake presets
  cpp/CMakePresets.json
Labels: Component: C++, awaiting merge

#45217 GH-45216: [C++][Compute] Refactor Rank implementation
  cpp/src/arrow/compute/kernels/vector_rank.cc
  cpp/src/arrow/compute/kernels/vector_sort.cc
  cpp/src/arrow/compute/kernels/vector_sort_internal.h
  cpp/src/arrow/type_traits.h
Labels: Component: C++, awaiting committer review

#45228 GH-45230: [Docs] Add LinkedIn social link and fix top nav scaling problems
  docs/source/_static/theme_overrides.css
  docs/source/conf.py
Labels: Component: Documentation, awaiting merge

#45108 GH-44513: [C++] Fix overflow issues for large build side in swiss join
  cpp/src/arrow/compute/key_map_internal.cc
  cpp/src/arrow/compute/key_map_internal.h
  cpp/src/arrow/compute/key_map_internal_avx2.cc
Labels: Component: C++, Critical Fix, awaiting committer review

#45240 GH-41002: [Python] Remove pins for pytest-cython and conda-docs pytest
  ci/conda_env_sphinx.txt
  docker-compose.yml
Labels: awaiting committer review

#45222 GH-45155: [Python][CI] Fix path for scientific nightly windows wheel upload
  dev/tasks/macros.jinja
  dev/tasks/python-wheels/github.windows.yml
Labels: awaiting merge

#45221 GH-45215:[C++][Acero]Export SequencingQueue and SerialSequencingQueue
  cpp/src/arrow/acero/accumulation_queue.h
Labels: Component: C++, awaiting committer review

#45226 GH-45225: [C++] Upgrade ORC to 2.1.0
  ci/docker/debian-12-cpp.dockerfile
  ci/docker/ubuntu-20.04-cpp.dockerfile
  ci/docker/ubuntu-22.04-cpp.dockerfile
  ci/docker/ubuntu-24.04-cpp.dockerfile
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/cmake_modules/orc.diff
  cpp/src/arrow/adapters/orc/adapter_test.cc
  cpp/thirdparty/versions.txt
  python/pyarrow/tests/test_orc.py
Labels: Component: C++, Component: Python, awaiting change review

#45223 MINOR: [Docs][C++] replace_with_mask links to replace functions
  docs/source/cpp/compute.rst
Labels: Component: Documentation, awaiting review

#45256 MINOR: [Dev] Remove current committer from collaborators list
  .asf.yaml
Labels: awaiting merge

#45265 MINOR: [Docs] Correct ListView example doc in Columnar.rst
  docs/source/format/Columnar.rst
Labels: Component: Documentation, awaiting committer review

#45088 GH-45048: [C++][Parquet] Deprecate unused `chunk_size` parameter in `parquet::arrow::FileWriter::NewRowGroup()`
  c_glib/parquet-glib/arrow-file-writer.cpp
  c_glib/parquet-glib/arrow-file-writer.h
  c_glib/test/parquet/test-arrow-file-writer.rb
  cpp/src/arrow/dataset/file_parquet_test.cc
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/writer.cc
  cpp/src/parquet/arrow/writer.h
  python/pyarrow/_parquet.pxd
Labels: Component: Parquet, Component: C++, Component: Python, Component: GLib, awaiting merge

#44394 GH-44393: [C++][Compute] Vector selection functions `inverse_permutation` and `scatter`
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/api_vector.cc
  cpp/src/arrow/compute/api_vector.h
  cpp/src/arrow/compute/function_test.cc
  cpp/src/arrow/compute/kernels/CMakeLists.txt
  cpp/src/arrow/compute/kernels/codegen_internal.h
  cpp/src/arrow/compute/kernels/vector_swizzle.cc
  cpp/src/arrow/compute/kernels/vector_swizzle_test.cc
  cpp/src/arrow/compute/registry.cc
  cpp/src/arrow/compute/registry_internal.h
  docs/source/cpp/compute.rst
Labels: Component: C++, Component: Documentation, awaiting change review

#45271 GH-45270: [C++][CI] Disable mimalloc on Valgrind builds
  docker-compose.yml
Labels: awaiting committer review

#45280 GH-45279: [C++][Compute] Move all Grouper tests to grouper_test.cc
  cpp/src/arrow/acero/CMakeLists.txt
  cpp/src/arrow/acero/aggregate_node.h
  cpp/src/arrow/acero/aggregate_node_test.cc
  cpp/src/arrow/acero/asof_join_node_test.cc
  cpp/src/arrow/acero/hash_aggregate_test.cc
  cpp/src/arrow/acero/hash_join_node_test.cc
  cpp/src/arrow/acero/plan_test.cc
  cpp/src/arrow/acero/test_util_internal.cc
  cpp/src/arrow/acero/test_util_internal.h
  cpp/src/arrow/acero/tpch_node_test.cc
  cpp/src/arrow/compute/CMakeLists.txt
  cpp/src/arrow/compute/kernels/CMakeLists.txt
  cpp/src/arrow/compute/kernels/aggregate_test.cc
  cpp/src/arrow/compute/kernels/scalar_arithmetic_benchmark.cc
  cpp/src/arrow/compute/kernels/scalar_arithmetic_test.cc
  cpp/src/arrow/compute/kernels/scalar_boolean_benchmark.cc
  cpp/src/arrow/compute/kernels/scalar_boolean_test.cc
  cpp/src/arrow/compute/kernels/scalar_cast_benchmark.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
  cpp/src/arrow/compute/kernels/scalar_compare_benchmark.cc
  cpp/src/arrow/compute/kernels/scalar_compare_test.cc
  cpp/src/arrow/compute/kernels/scalar_if_else_test.cc
  cpp/src/arrow/compute/kernels/scalar_nested_test.cc
  cpp/src/arrow/compute/kernels/scalar_random_benchmark.cc
  cpp/src/arrow/compute/kernels/scalar_random_test.cc
  cpp/src/arrow/compute/kernels/scalar_round_arithmetic_test.cc
  cpp/src/arrow/compute/kernels/scalar_round_benchmark.cc
  cpp/src/arrow/compute/kernels/scalar_set_lookup_benchmark.cc
  cpp/src/arrow/compute/kernels/scalar_set_lookup_test.cc
  cpp/src/arrow/compute/kernels/scalar_string_benchmark.cc
  cpp/src/arrow/compute/kernels/scalar_string_test.cc
  cpp/src/arrow/compute/kernels/scalar_temporal_benchmark.cc
  cpp/src/arrow/compute/kernels/scalar_temporal_test.cc
  cpp/src/arrow/compute/kernels/scalar_validity_test.cc
  cpp/src/arrow/compute/kernels/select_k_test.cc
  cpp/src/arrow/compute/kernels/test_util_internal.cc
  cpp/src/arrow/compute/kernels/test_util_internal.h
  cpp/src/arrow/compute/kernels/vector_cumulative_ops_test.cc
  cpp/src/arrow/compute/kernels/vector_hash_test.cc
  cpp/src/arrow/compute/kernels/vector_nested_test.cc
  cpp/src/arrow/compute/kernels/vector_pairwise_test.cc
  cpp/src/arrow/compute/kernels/vector_partition_benchmark.cc
  cpp/src/arrow/compute/kernels/vector_replace_test.cc
  cpp/src/arrow/compute/kernels/vector_selection_benchmark.cc
  cpp/src/arrow/compute/kernels/vector_selection_test.cc
  cpp/src/arrow/compute/kernels/vector_sort_benchmark.cc
  cpp/src/arrow/compute/kernels/vector_sort_test.cc
  cpp/src/arrow/compute/kernels/vector_swizzle_test.cc
  cpp/src/arrow/compute/kernels/vector_topk_benchmark.cc
  cpp/src/arrow/compute/row/grouper_test.cc
  cpp/src/arrow/compute/test_util_internal.cc
  cpp/src/arrow/compute/test_util_internal.h
  cpp/src/arrow/dataset/CMakeLists.txt
  cpp/src/arrow/dataset/file_test.cc
  cpp/src/arrow/dataset/test_util_internal.cc
  cpp/src/arrow/dataset/test_util_internal.h
Labels: Component: C++, awaiting committer review

#45238 GH-45237: [Python] Raise minimum supported cython to >=3
  .github/workflows/dev.yml
  ci/conda_env_python.txt
  ci/docker/conda-python-cython2.dockerfile
  dev/tasks/tasks.yml
  docker-compose.yml
  python/CMakeLists.txt
  python/pyarrow/_azurefs.pyx
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/_fs.pyx
  python/pyarrow/_gcsfs.pyx
  python/pyarrow/_hdfs.pyx
  python/pyarrow/_s3fs.pyx
  python/pyarrow/io.pxi
  python/pyarrow/scalar.pxi
  python/pyproject.toml
  python/requirements-build.txt
  python/requirements-wheel-build.txt
  python/setup.py
Labels: Component: Python, awaiting merge

#45289 GH-45288: [Python][Packaging][Docs] Update documentation for PyArrow nightly wheels
  docs/source/developers/python.rst
Labels: awaiting merge

#45274 GH-45263: [MATLAB] Add ability to construct `RecordBatchStreamReader` from `uint8` array
  matlab/src/cpp/arrow/matlab/error/error.h
  matlab/src/cpp/arrow/matlab/io/ipc/proxy/record_batch_stream_reader.cc
  matlab/src/cpp/arrow/matlab/io/ipc/proxy/record_batch_stream_reader.h
  matlab/src/matlab/+arrow/+io/+ipc/RecordBatchStreamReader.m
  matlab/test/arrow/io/ipc/tRecordBatchStreamReader.m
Labels: Component: MATLAB, awaiting changes

#45294 GH-45293: [CI] Install patch command to base conda.dockerfile required in case of bundled ORC
  ci/docker/conda.dockerfile
Labels: awaiting committer review

#45252 GH-31992: [C++][Parquet] Handling the special case when DataPageV2 values buffer is empty
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader_test.cc
  cpp/src/parquet/column_writer_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#45311 GH-45305: [CI][Python] Temporarily avoid newer boto3 version
  ci/appveyor-cpp-setup.bat
  ci/conda_env_python.txt
Labels: awaiting merge

#45309 GH-38694: [Release][C#] Release Apache.Arrow.Flight.Sql
  dev/release/post-08-csharp.sh
  dev/tasks/tasks.yml
Labels: awaiting committer review

#45285 GH-45283: [C++][Parquet] Omit level histogram when max level is 0
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/size_statistics.cc
  cpp/src/parquet/size_statistics_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#45249 GH-45227: [C++][Parquet] Enable Size Stats and Page Index by default
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/size_stats_benchmark.cc
  cpp/src/parquet/properties.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#45308 GH-45307: [CI] Use GitHub hosted arm runner
  .github/workflows/cpp.yml
  dev/tasks/linux-packages/github.linux.yml
  dev/tasks/macros.jinja
  dev/tasks/python-wheels/github.linux.yml
Labels: awaiting merge

#45315 GH-44363: [C#] Handle Flight data with zero batches
  csharp/src/Apache.Arrow.Flight/Client/FlightClient.cs
  csharp/src/Apache.Arrow.Flight/FlightRecordBatchStreamWriter.cs
  csharp/src/Apache.Arrow.Flight/Internal/FlightDataStream.cs
  csharp/test/Apache.Arrow.Flight.IntegrationTest/Scenarios/JsonTestScenario.cs
  csharp/test/Apache.Arrow.Flight.TestWeb/TestFlightServer.cs
  csharp/test/Apache.Arrow.Flight.Tests/FlightTests.cs
  dev/archery/archery/integration/datagen.py
Labels: Component: C#, awaiting committer review

#45320 GH-45305: [CI] Bump Minio version and unpin boto3
  ci/appveyor-cpp-setup.bat
  ci/conda_env_python.txt
  ci/scripts/install_minio.sh
Labels: awaiting review

#45189 GH-45129: [Python][C++] Fix usage of deprecated C++ functionality on pyarrow
  python/pyarrow/_parquet.pxd
  python/pyarrow/_parquet.pyx
  python/pyarrow/src/arrow/python/python_test.cc
Labels: Component: Python, awaiting committer review

#45251 GH-45250: [JS] Fix denominator precision loss and remove unnecessary safe integer check for fractional part
  js/src/util/bn.ts
  js/test/unit/bn-tests.ts
Labels: Component: JavaScript, awaiting merge

#45328 GH-44757: [GLib] Add garrow_array_validate()
  c_glib/arrow-glib/basic-array.cpp
  c_glib/arrow-glib/basic-array.h
  c_glib/test/test-array.rb
Labels: Component: GLib, awaiting change review

#45310 GH-45304: [C++][S3] Workaround compatibility issue between AWS SDK and MinIO
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs_test.cc
Labels: Component: C++, awaiting committer review

#45317 GH-45316: [Release][C#] Use GitHub Releases for artifacts
  .github/workflows/csharp.yml
  .github/workflows/release.yml
  .github/workflows/release_candidate.yml
  .pre-commit-config.yaml
  dev/release/02-source-test.rb
  dev/release/02-source.sh
  dev/release/05-binary-upload.sh
  dev/release/binary-task.rb
  dev/release/download_rc_binaries.py
  dev/release/post-08-csharp.sh
  dev/release/utils-create-release-tarball.sh
  dev/release/utils-generate-checksum.sh
  dev/release/utils-watch-gh-workflow.sh
  dev/tasks/tasks.yml
Labels: awaiting change review

#45259 GH-45190: [C++][Compute] Add rank_quantile function
  cpp/src/arrow/compute/api_vector.cc
  cpp/src/arrow/compute/api_vector.h
  cpp/src/arrow/compute/kernels/vector_rank.cc
  cpp/src/arrow/compute/kernels/vector_sort_internal.h
  cpp/src/arrow/compute/kernels/vector_sort_test.cc
  docs/source/cpp/compute.rst
Labels: Component: C++, Component: Documentation, awaiting change review

#44043 GH-44042: [C++][Parquet] Limit num-of row-groups when building parquet for encrypted file
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/file_writer.cc
  cpp/src/parquet/metadata.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#45342 GH-44758: [GLib] Add garrow_array_validate_full()
  c_glib/arrow-glib/basic-array.cpp
  c_glib/arrow-glib/basic-array.h
  c_glib/test/test-array.rb
Labels: Component: GLib, awaiting change review

#45349 GH-39023: [C++][CMake] Add missing launcher path conversion for ExternalPackage
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#45353 GH-44759: [GLib] Add garrow_record_batch_validate()
  c_glib/arrow-glib/record-batch.cpp
  c_glib/arrow-glib/record-batch.h
  c_glib/test/test-record-batch.rb
Labels: Component: GLib, awaiting change review

#45355 GH-45354: [GLib] Fix garrow_record_batch_validate() definied location
  c_glib/arrow-glib/record-batch.cpp
Labels: Component: GLib, awaiting review

#45348 GH-45347: [Packaging][Linux] Use cpp/CMakeLists.txt instead of java/pom.xml to detect version
  dev/tasks/linux-packages/helper.rb
Labels: awaiting committer review

#45232 GH-45357: [C++] Disable Flight test
  cpp/src/arrow/flight/test_definitions.h
Labels: Component: C++, Component: FlightRPC, awaiting review

#45359 GH-45358: [C++][Python] Add MemoryPool method to print statistics
  cpp/src/arrow/memory_pool.cc
  cpp/src/arrow/memory_pool.h
  cpp/src/arrow/memory_pool_internal.h
  cpp/src/arrow/memory_pool_jemalloc.cc
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/memory.pxi
  python/pyarrow/tests/test_memory.py
Labels: Component: C++, Component: Python, awaiting merge

#45336 GH-45334: [C++][Acero] Fix swiss join overflow issues in row offset calculation for fixed length and null masks
  cpp/src/arrow/acero/hash_join_node_test.cc
  cpp/src/arrow/acero/swiss_join.cc
  cpp/src/arrow/acero/swiss_join_avx2.cc
  cpp/src/arrow/acero/swiss_join_internal.h
  cpp/src/arrow/compute/row/compare_internal.cc
  cpp/src/arrow/compute/row/compare_internal_avx2.cc
  cpp/src/arrow/compute/row/compare_test.cc
  cpp/src/arrow/compute/row/encode_internal.cc
  cpp/src/arrow/compute/row/encode_internal.h
  cpp/src/arrow/compute/row/encode_internal_avx2.cc
  cpp/src/arrow/compute/row/row_internal.cc
  cpp/src/arrow/compute/row/row_internal.h
  cpp/src/arrow/compute/row/row_test.cc
  cpp/src/arrow/compute/row/row_util_avx2_internal.h
Labels: Component: C++, awaiting committer review

#45323 GH-45278: [Python][Packaging] Updated delvewheel install command and updated flags used with delvewheel repair
  ci/scripts/python_wheel_validate_contents.py
  ci/scripts/python_wheel_windows_build.bat
Labels: awaiting merge

#45081 GH-45361: [CI][C++] Curate `ci/vcpkg/vcpkg.json`
  .env
  ci/vcpkg/vcpkg.json
Labels: awaiting review

#45363 GH-45356: [CI][R] Update MACOSX_DEPLOYMENT_TARGET to 11.6
  dev/tasks/r/github.packages.yml
Labels: awaiting merge

#45350 GH-45339: [Parquet][C++] Fix statistics load logic for no row group and multiple row groups
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/arrow_statistics_test.cc
  cpp/src/parquet/arrow/reader.cc
  cpp/src/parquet/arrow/reader_internal.cc
  cpp/src/parquet/arrow/reader_internal.h
  cpp/src/parquet/arrow/test_util.h
  cpp/src/parquet/properties.h
Labels: Component: Parquet, Component: C++, awaiting changes

#45134 MINOR: [Docs] Update docs to point to separate Java codebase
  README.md
  docs/source/developers/guide/step_by_step/arrow_codebase.rst
Labels: Component: Documentation, awaiting change review

#45383 GH-45296: [Python] Only enable the string dtype on pandas export for pandas>=2.3
  python/pyarrow/pandas-shim.pxi
Labels: Component: Python, awaiting committer review

#45391 GH-45390: [GLib] Use hyphen-separated words for error tag
  c_glib/arrow-glib/basic-array.cpp
  c_glib/test/test-array.rb
Labels: Component: GLib, awaiting review

#45386 GH-44760: [GLib] Add garrow_record_batch_validate_full()
  c_glib/arrow-glib/record-batch.cpp
  c_glib/arrow-glib/record-batch.h
  c_glib/test/test-record-batch.rb
Labels: Component: GLib, awaiting change review

#45395 GH-45388: [CI][MATLAB] Can we use Ubuntu 22.04 or 24.04 for Ubuntu CI
  .github/workflows/matlab.yml
  dev/tasks/matlab/github.yml
Labels: awaiting review

#45387 GH-45381: [CI][Packaging][Conan] Use the latest supported image
  .env
  ci/conan/all/conandata.yml
  ci/conan/all/conanfile.py
  ci/conan/all/patches/1.0.0-0003-fix-shared-msvc.patch
  ci/conan/all/patches/1.0.0-0005-fix-make12-namespace.patch
  ci/conan/all/patches/1.0.0-0006-fix-cmake.patch
  ci/conan/all/patches/11.0.0-0001-fix-cmake.patch
  ci/conan/all/patches/16.0.0-0001-fix-cmake.patch
  ci/conan/all/patches/18.0.0-0001-fix-cmake.patch
  ci/conan/all/patches/2.0.0-0003-fix-shared-msvc.patch
  ci/conan/all/patches/2.0.0-0005-gandiva-engine.patch
  ci/conan/all/patches/2.0.0-0008-fix-cmake.patch
  ci/conan/all/patches/7.0.0-0006-install-utils.patch
  ci/conan/all/patches/7.0.0-0007-fix-cmake.patch
  ci/conan/all/patches/8.0.0-0005-install-utils.patch
  ci/conan/all/patches/8.0.0-0006-fix-cmake.patch
  ci/conan/all/test_package/CMakeLists.txt
  ci/conan/all/test_v1_package/CMakeLists.txt
  ci/conan/all/test_v1_package/conanfile.py
  ci/conan/config.yml
  ci/conan/merge_status.sh
  ci/scripts/conan_build.sh
  ci/scripts/conan_setup.sh
  docker-compose.yml
Labels: awaiting committer review
