Repository apache/arrow, pull requests merged in 2025-03, with the labels that each got.

#45650 GH-45649: [GLib] Add GArrowBinaryViewArray
  c_glib/arrow-glib/basic-array.cpp
  c_glib/arrow-glib/basic-array.h
  c_glib/test/test-binary-view-array.rb
Labels: Component: GLib, awaiting merge

#45660 GH-45659: [GLib][Ruby] Fix Ruby lint violation(add space after comma)
  c_glib/test/test-record-batch.rb
  c_glib/test/test-take.rb
  ruby/red-arrow/test/test-array.rb
Labels: Component: Ruby, Component: GLib, awaiting review

#45662 GH-45661: [GLib][Ruby][Dev] Add Ruby lint rule (add space after comma)
  .rubocop.yml
Labels: awaiting review

#45612 GH-45611: [C++][Acero] Improve Swiss join build performance by partitioning batches ahead to reduce contention
  cpp/src/arrow/acero/swiss_join.cc
  cpp/src/arrow/acero/swiss_join_internal.h
Labels: Component: C++, awaiting merge

#36701 GH-35289: [Python] Support large variable width types in numpy conversion
  python/pyarrow/src/arrow/python/numpy_to_arrow.cc
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_schema.py
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting merge

#45658 MINOR: Remove gzip compression reference from Pyarrow Orc doc
  docs/source/python/orc.rst
Labels: Component: Documentation, awaiting committer review

#45562 GH-45269: [C++][Compute] Add "pivot_wider" and "hash_pivot_wider" functions
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/acero/groupby_aggregate_node.cc
  cpp/src/arrow/acero/hash_aggregate_test.cc
  cpp/src/arrow/compute/api_aggregate.cc
  cpp/src/arrow/compute/api_aggregate.h
  cpp/src/arrow/compute/kernels/aggregate_pivot.cc
  cpp/src/arrow/compute/kernels/aggregate_test.cc
  cpp/src/arrow/compute/kernels/hash_aggregate.cc
  cpp/src/arrow/compute/kernels/pivot_internal.cc
  cpp/src/arrow/compute/kernels/pivot_internal.h
  cpp/src/arrow/compute/registry.cc
  cpp/src/arrow/compute/registry_internal.h
  cpp/src/arrow/compute/type_fwd.h
  docs/source/cpp/compute.rst
  docs/source/python/api/compute.rst
  python/pyarrow/_compute.pyx
  python/pyarrow/compute.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, Component: Documentation, awaiting change review

#45421 GH-45652: [C++][Acero] Unify ConcurrentQueue and BackpressureConcurrentQueue API
  cpp/src/arrow/acero/asof_join_node.cc
  cpp/src/arrow/acero/concurrent_queue_internal.h
  cpp/src/arrow/acero/sorted_merge_node.cc
  cpp/src/arrow/acero/util_test.cc
Labels: Component: C++, awaiting committer review

#45671 GH-45670: [Release][Archery] Crossbow bot accepts `--prefix`
  dev/archery/archery/bot.py
Labels: awaiting committer review

#45367 GH-45366: [C++][Parquet] Set is_compressed to false when data page v2 is not compressed
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/column_writer_test.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#45667 GH-45665: [Docs] Add kapa AI bot to the docs
  docs/source/_templates/kapa-ai-bot.html
  docs/source/conf.py
  r/_pkgdown.yml
Labels: Component: R, Component: Documentation, awaiting changes

#45333 MINOR: [Docs] Update implementation status for nanoarrow
  docs/source/status.rst
Labels: Component: Documentation, awaiting merge

#45703 MINOR: [R] Update github.linux.arrow.version.back.compat.yml
  dev/tasks/r/github.linux.arrow.version.back.compat.yml
Labels: awaiting merge

#45677 GH-45676: [C++][Python][Compute] Add skew and kurtosis functions
  cpp/src/arrow/acero/hash_aggregate_test.cc
  cpp/src/arrow/compute/api_aggregate.cc
  cpp/src/arrow/compute/api_aggregate.h
  cpp/src/arrow/compute/kernels/aggregate_internal.h
  cpp/src/arrow/compute/kernels/aggregate_test.cc
  cpp/src/arrow/compute/kernels/aggregate_var_std.cc
  cpp/src/arrow/compute/kernels/aggregate_var_std_internal.h
  cpp/src/arrow/compute/kernels/hash_aggregate.cc
  cpp/src/arrow/testing/gtest_util_test.cc
  cpp/src/arrow/testing/math.cc
  cpp/src/arrow/util/math_internal.h
  cpp/src/arrow/util/math_test.cc
  docs/source/cpp/compute.rst
  python/pyarrow/_compute.pyx
  python/pyarrow/compute.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, Component: Documentation, awaiting committer review

#45684 GH-45669: [C++][Parquet] Add missing `ParquetFileReader::GetReadRanges()` definition
  cpp/src/parquet/file_reader.cc
Labels: awaiting committer review

#45699 GH-45675: [Release] Run binary RC verification jobs in apache/arrow
  .github/workflows/verify_rc.yml
  dev/release/verify-release-candidate.sh
  dev/tasks/tasks.yml
  dev/tasks/verify-rc/github.linux.amd64.yml
Labels: awaiting changes

#45697 GH-45696: [C++][Gandiva] Accept LLVM 20.1
  cpp/CMakeLists.txt
  cpp/src/gandiva/decimal_ir.cc
  cpp/src/gandiva/engine.cc
  cpp/src/gandiva/engine.h
  cpp/src/gandiva/function_ir_builder.h
  cpp/src/gandiva/llvm_generator.cc
  cpp/src/gandiva/llvm_generator.h
  cpp/src/gandiva/llvm_types.h
Labels: Component: C++, Component: Gandiva, awaiting merge

#45549 GH-36628: [Python][Parquet] Fail when instantiating internal Parquet metadata classes
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/_parquet.pxd
  python/pyarrow/_parquet.pyx
  python/pyarrow/tests/parquet/test_metadata.py
Labels: Component: Python, awaiting committer review

#45711 GH-45710: [GLib] Add GArrowStringViewArray
  c_glib/arrow-glib/basic-array.cpp
  c_glib/arrow-glib/basic-array.h
  c_glib/test/test-string-view-array.rb
Labels: Component: GLib, awaiting change review

#45687 GH-45694: [C++] Bump vendored flatbuffers to 24.3.6
  cpp/src/arrow/ipc/feather.cc
  cpp/src/arrow/ipc/message.cc
  cpp/src/arrow/ipc/metadata_internal.cc
  cpp/src/arrow/ipc/metadata_internal.h
  cpp/src/arrow/ipc/read_write_test.cc
  cpp/src/arrow/ipc/reader.cc
  cpp/src/generated/File_generated.h
  cpp/src/generated/Message_generated.h
  cpp/src/generated/Schema_generated.h
  cpp/src/generated/SparseTensor_generated.h
  cpp/src/generated/Tensor_generated.h
  cpp/src/generated/feather_generated.h
  cpp/src/skyhook/protocol/ScanRequest_generated.h
  cpp/thirdparty/flatbuffers/README.md
  cpp/thirdparty/flatbuffers/include/flatbuffers/base.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/flatbuffer_builder.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/flatbuffers.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/stl_emulation.h
  cpp/thirdparty/flatbuffers/include/flatbuffers/string.h
Labels: Component: C++, Component: Documentation, awaiting review

#45726 GH-45724: [Docs] Fix docs image name from ubuntu-docs to debian-docs
  docs/source/developers/documentation.rst
Labels: Component: Documentation, awaiting review

#45565 GH-45564: [C++][Acero] Add size validation for names and expressions vectors in ProjectNode
  cpp/src/arrow/acero/plan_test.cc
  cpp/src/arrow/acero/project_node.cc
Labels: Component: C++, awaiting committer review

#45725 GH-45563: [C++][Compute] Split up hash_aggregate.cc
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/kernels/hash_aggregate.cc
  cpp/src/arrow/compute/kernels/hash_aggregate_internal.h
  cpp/src/arrow/compute/kernels/hash_aggregate_numeric.cc
  cpp/src/arrow/compute/kernels/hash_aggregate_pivot.cc
  cpp/src/arrow/compute/registry.cc
  cpp/src/arrow/compute/registry_internal.h
Labels: Component: C++, awaiting merge

#45740 GH-45739: [C++][Python] Fix crash when calling hash_pivot_wider without options
  cpp/src/arrow/compute/kernels/hash_aggregate_pivot.cc
  python/pyarrow/tests/test_table.py
Labels: Component: C++, Component: Python, awaiting merge

#45577 GH-44615: [C++][Compute] Add extract_regex_span function
  cpp/src/arrow/compute/api_scalar.cc
  cpp/src/arrow/compute/api_scalar.h
  cpp/src/arrow/compute/kernels/scalar_string_ascii.cc
  cpp/src/arrow/compute/kernels/scalar_string_test.cc
  docs/source/cpp/compute.rst
  python/pyarrow/_compute.pyx
  python/pyarrow/compute.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, Component: Documentation, awaiting committer review

#45600 GH-45689: [C++][Thirdparty] Bump Apache ORC to 2.1.1
  ci/docker/conda.dockerfile
  ci/docker/debian-12-cpp.dockerfile
  ci/docker/ubuntu-22.04-cpp.dockerfile
  ci/docker/ubuntu-24.04-cpp.dockerfile
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/cmake_modules/orc.diff
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting merge

#45745 GH-45744: [C++] Remove deprecated GetNextSegment
  cpp/src/arrow/compute/row/grouper.cc
  cpp/src/arrow/compute/row/grouper.h
Labels: Component: C++, awaiting committer review

#45742 GH-44790: [Python] Remove use_legacy_dataset from code base
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_basic.py
Labels: Component: Python, awaiting merge

#45595 GH-43135: [R] Change the binary type mapping to `blob::blob`
  r/R/metadata.R
  r/src/arrow_types.h
  r/src/r_to_arrow.cpp
  r/src/symbols.cpp
  r/src/type_infer.cpp
  r/tests/testthat/test-Array.R
  r/tests/testthat/test-RecordBatch.R
  r/tests/testthat/test-chunked-array.R
Labels: Component: R, awaiting merge

#45685 GH-30302: [C++][Parquet] Preserve the bitwidth of integer dictionary indices on round-trip to Parquet
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/reader_internal.cc
  cpp/src/parquet/arrow/schema.cc
  r/tests/testthat/helper-arrow.R
  r/tests/testthat/test-dataset.R
Labels: Component: R, Component: Parquet, Component: C++, awaiting committer review

#45738 GH-45548: [Release][Dev][Packaging] Omit APT/Yum repositories check on local in the RC verification script
  dev/release/verify-release-candidate.sh
Labels: awaiting merge

#45706 GH-45705: [Python] Add support for SAS token in AzureFileSystem
  python/pyarrow/_azurefs.pyx
  python/pyarrow/includes/libarrow_fs.pxd
  python/pyarrow/tests/test_fs.py
Labels: Component: Python, awaiting committer review

#45688 GH-45690: [C++][Parquet] Consolidate Arrow write functions under `TypedColumnWriterImpl`
  cpp/src/parquet/column_writer.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#45774 GH-45772: [C++] Export Arrow as dependency from Meson configuration
  cpp/src/arrow/meson.build
Labels: Component: C++, awaiting review

#45776 GH-45775: [C++] Use dict.get() in Meson configuration
  cpp/src/arrow/meson.build
Labels: Component: C++, awaiting review

#45695 GH-45693: [C++][Gandiva] Fix aes_encrypt/decrypt algorithm selection
  cpp/src/gandiva/encrypt_utils.cc
  cpp/src/gandiva/encrypt_utils.h
  cpp/src/gandiva/encrypt_utils_test.cc
  cpp/src/gandiva/gdv_function_stubs.cc
  cpp/src/gandiva/gdv_function_stubs_test.cc
  cpp/src/gandiva/tests/projector_test.cc
Labels: Component: C++, Component: Gandiva, awaiting change review

#45780 GH-45779: [C++] Add testing directory to Meson configuration
  cpp/meson.build
  cpp/src/arrow/meson.build
  cpp/src/arrow/testing/meson.build
Labels: Component: C++, awaiting merge

#45773 GH-45771: [C++] Add tests to top level Meson configuration
  cpp/src/arrow/meson.build
  cpp/src/arrow/util/meson.build
Labels: Component: C++, awaiting changes

#45701 GH-45700: [C++][Compute] Added nullptr check in Equals method to handle null impl_ pointers
  cpp/src/arrow/compute/expression.cc
  cpp/src/arrow/compute/expression_test.cc
Labels: Component: C++, awaiting change review

#43297 GH-43296: [C++][FlightRPC] Remove Flight UCX transport
  ci/docker/conda-cpp.dockerfile
  ci/scripts/cpp_build.sh
  cpp/cmake_modules/DefineOptions.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/flight/CMakeLists.txt
  cpp/src/arrow/flight/flight_benchmark.cc
  cpp/src/arrow/flight/perf_server.cc
  cpp/src/arrow/flight/transport/ucx/CMakeLists.txt
  cpp/src/arrow/flight/transport/ucx/flight_transport_ucx_test.cc
  cpp/src/arrow/flight/transport/ucx/ucx.cc
  cpp/src/arrow/flight/transport/ucx/ucx.h
  cpp/src/arrow/flight/transport/ucx/ucx_client.cc
  cpp/src/arrow/flight/transport/ucx/ucx_internal.cc
  cpp/src/arrow/flight/transport/ucx/ucx_internal.h
  cpp/src/arrow/flight/transport/ucx/ucx_server.cc
  cpp/src/arrow/flight/transport/ucx/util_internal.cc
  cpp/src/arrow/flight/transport/ucx/util_internal.h
  cpp/src/arrow/util/config.h.cmake
  cpp/thirdparty/versions.txt
  docs/source/format/Flight.rst
  docs/source/status.rst
Labels: Component: C++, Component: FlightRPC, Component: Documentation, awaiting merge

#45759 GH-45758 [Python] Add AzureFileSystem documentation
  docs/source/python/api/filesystems.rst
  docs/source/python/filesystems.rst
Labels: Component: Documentation, awaiting committer review

#45790 GH-45787: [Integration][CI] Remove pin for Rust 1.77 on conda integration tests
  ci/docker/conda-integration.dockerfile
Labels: awaiting merge

#45793 GH-45792: [C++] Add benchmarks to Meson configuration
  cpp/meson.build
  cpp/meson.options
  cpp/src/arrow/meson.build
  cpp/subprojects/google-benchmark.wrap
Labels: Component: C++, awaiting changes

#45770 GH-45769:[C#][flight] add FlightInfo ByteString serialization
  csharp/src/Apache.Arrow.Flight/Extensions/FlightInfoExtensions.cs
Labels: Component: C#, awaiting committer review

#45766 GH-45530: [Python][Packaging] Add pyarrow.libs dir to get_library_dirs
  python/pyarrow/__init__.py
Labels: Component: Python, awaiting merge

#45692 GH-45691: [R][Packaging] Update R packaging checklist with latest process
  r/PACKAGING.md
Labels: Component: R, Component: Documentation, awaiting committer review

#45826 GH-45825: [C++] Add c directory to Meson configuration
  cpp/src/arrow/c/meson.build
  cpp/src/arrow/meson.build
Labels: Component: C++, awaiting review

#45832 GH-45831: [C++] Add CSV directory to Meson configuration
  cpp/meson.build
  cpp/meson.options
  cpp/src/arrow/csv/meson.build
  cpp/src/arrow/meson.build
Labels: Component: C++, awaiting review

#45785 GH-45784: [C++] Unpin LLVM and OpenSSL in Brewfile
  cpp/Brewfile
Labels: awaiting committer review

#45781 GH-43876: [Swift] Use apache/arrow-go
  .github/dependabot.yml
  .github/workflows/swift.yml
  ci/docker/ubuntu-swift.dockerfile
  swift/CDataWGo/go.mod
  swift/CDataWGo/go.sum
  swift/CDataWGo/main.go
  swift/data-generator/swift-datagen/go.mod
  swift/data-generator/swift-datagen/go.sum
  swift/data-generator/swift-datagen/main.go
Labels: Component: Swift, awaiting merge

#45762 GH-45733: [C++][Python] Add biased/unbiased toggle to skew and kurtosis functions
  cpp/src/arrow/acero/hash_aggregate_test.cc
  cpp/src/arrow/compute/api_aggregate.cc
  cpp/src/arrow/compute/api_aggregate.h
  cpp/src/arrow/compute/kernels/aggregate_test.cc
  cpp/src/arrow/compute/kernels/aggregate_var_std.cc
  cpp/src/arrow/compute/kernels/aggregate_var_std_internal.h
  cpp/src/arrow/compute/kernels/hash_aggregate_numeric.cc
  python/pyarrow/_compute.pyx
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, awaiting changes

#45828 GH-45827: [C++] Add io directory to Meson configuration
  cpp/meson.build
  cpp/meson.options
  cpp/src/arrow/io/meson.build
  cpp/src/arrow/meson.build
  cpp/src/arrow/testing/meson.build
Labels: Component: C++, awaiting changes

#45852 GH-45820: [C++] Add optional out_offset for Buffer-returning CopyBitmap function
  cpp/src/arrow/util/bit_util_test.cc
  cpp/src/arrow/util/bitmap_ops.cc
  cpp/src/arrow/util/bitmap_ops.h
Labels: Component: C++, awaiting changes

#45789 GH-45788: [C++][Acero] Fix data race in aggregate node
  cpp/src/arrow/acero/aggregate_internal.cc
  cpp/src/arrow/acero/aggregate_internal.h
  cpp/src/arrow/acero/aggregate_node_test.cc
Labels: Component: C++, awaiting committer review

#45783 GH-45782: [GLib] Check only the first line for validation error
  c_glib/test/test-array.rb
  c_glib/test/test-record-batch.rb
  c_glib/test/test-table.rb
Labels: Component: GLib, awaiting committer review

#45870 GH-45850: Fix r-devel note about symbols in .a libs
  r/src/Makevars.in
Labels: Component: R, awaiting merge

#45712 GH-43118: [JS] Add interval for unit MONTH_DAY_NANO (#43117)
  dev/archery/archery/integration/datagen.py
  js/src/Arrow.dom.ts
  js/src/Arrow.ts
  js/src/builder/interval.ts
  js/src/enum.ts
  js/src/interfaces.ts
  js/src/type.ts
  js/src/util/interval.ts
  js/src/visitor.ts
  js/src/visitor/builderctor.ts
  js/src/visitor/get.ts
  js/src/visitor/indexof.ts
  js/src/visitor/iterator.ts
  js/src/visitor/jsonvectorassembler.ts
  js/src/visitor/set.ts
  js/src/visitor/typecomparator.ts
  js/src/visitor/typector.ts
  js/src/visitor/vectorloader.ts
  js/test/data/tables.ts
  js/test/generate-test-data.ts
  js/test/unit/builders/builder-tests.ts
  js/test/unit/generated-data-tests.ts
  js/test/unit/vector/interval-month-day-nano-tests.ts
Labels: Component: JavaScript, awaiting committer review

#45874 GH-45718: [R][CI] Fix compilation error on opensuse155
  cpp/src/arrow/compute/kernels/aggregate_pivot.cc
Labels: Component: C++, awaiting merge

#45861 GH-37563: [Ruby] Unify tests about basic arrays for `raw_records` and `each_raw_record`
  ruby/red-arrow/test/each-raw-record/test-basic-arrays.rb
  ruby/red-arrow/test/raw-records/test-basic-arrays.rb
Labels: Component: Ruby, awaiting change review

#45878 GH-45877: [C++][Acero] Cleanup 64-bit temp states of Swiss join by using 32-bit
  cpp/src/arrow/acero/swiss_join.cc
  cpp/src/arrow/acero/swiss_join_internal.h
Labels: Component: C++, awaiting merge

#45281 GH-45282: [Python][Parquet] Remove unused readonly properties of ParquetWriter
  python/pyarrow/_parquet.pyx
Labels: Component: Python, awaiting committer review

#45811 GH-45813: [Docs] Enable discussions
  .asf.yaml
Labels: awaiting merge

#45884 GH-45883: [Docs] Update GitHub Issue Template for GitHub Discussions
  .github/ISSUE_TEMPLATE/usage_question.yaml
Labels: awaiting review

#45743 GH-43587: [Python] Remove no longer used serialize/deserialize PyArrow C++ code
  python/CMakeLists.txt
  python/pyarrow/includes/libarrow_python.pxd
  python/pyarrow/src/arrow/python/api.h
  python/pyarrow/src/arrow/python/deserialize.cc
  python/pyarrow/src/arrow/python/deserialize.h
  python/pyarrow/src/arrow/python/serialize.cc
  python/pyarrow/src/arrow/python/serialize.h
Labels: Component: Python, awaiting committer review

#45763 GH-45755: [C++][Python][Compute] Add winsorize function
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/api_vector.cc
  cpp/src/arrow/compute/api_vector.h
  cpp/src/arrow/compute/kernels/CMakeLists.txt
  cpp/src/arrow/compute/kernels/aggregate_mode.cc
  cpp/src/arrow/compute/kernels/aggregate_quantile.cc
  cpp/src/arrow/compute/kernels/aggregate_test.cc
  cpp/src/arrow/compute/kernels/codegen_internal.h
  cpp/src/arrow/compute/kernels/scalar_cast_boolean.cc
  cpp/src/arrow/compute/kernels/scalar_cast_string.cc
  cpp/src/arrow/compute/kernels/vector_statistics.cc
  cpp/src/arrow/compute/kernels/vector_statistics_test.cc
  cpp/src/arrow/compute/registry.cc
  cpp/src/arrow/compute/registry_internal.h
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
  docs/source/cpp/compute.rst
  python/pyarrow/_compute.pyx
  python/pyarrow/compute.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, Component: Documentation, awaiting merge

#45822 GH-45821: [C++][Compute] Grouper improvements
  cpp/src/arrow/compute/key_map_internal.h
  cpp/src/arrow/compute/row/grouper.cc
  cpp/src/arrow/compute/row/grouper.h
  cpp/src/arrow/compute/row/grouper_test.cc
Labels: Component: C++, awaiting committer review

#45904 GH-45890: [Ruby] Unify test for dense union array in raw_records and each_raw_record
  ruby/red-arrow/test/each-raw-record/test-dense-union-array.rb
  ruby/red-arrow/test/raw-records/test-dense-union-array.rb
Labels: Component: Ruby, awaiting review

#45898 GH-45879: [CI][Release][Ruby] Omit Flight related tests on x86_64 macOS
  c_glib/test/flight-sql/test-client.rb
  c_glib/test/flight/test-client.rb
  c_glib/test/flight/test-stream-reader.rb
  ruby/red-arrow-flight-sql/test/test-client.rb
  ruby/red-arrow-flight/test/test-client.rb
Labels: Component: Ruby, Component: GLib, awaiting merge

#45929 GH-45926: [Python] Use pytest.approx for float values on unbiased skew and kurtosis tests
  python/pyarrow/tests/test_compute.py
Labels: Component: Python, awaiting committer review

#45907 GH-45906: [Docs] Document GitHub Discussions in Developer's Guide
  docs/source/developers/guide/communication.rst
Labels: Component: Documentation, awaiting merge

#45889 GH-45862: [JS] Fix FixedSizeListBuilder behavior for null slots
  js/src/builder/fixedsizelist.ts
  js/test/unit/vector/vector-tests.ts
Labels: Component: JavaScript, awaiting merge

#45916 GH-45915: [JS] Ensure UnionBuilder yields chunks with correct length
  js/src/builder/union.ts
  js/test/unit/builders/utils.ts
Labels: Component: JavaScript, awaiting merge

#45925 GH-45924: [CI] Update chrome_version for emscripten job to latest stable (v134)
  docker-compose.yml
Labels: awaiting committer review

#45927 GH-45891: [Ruby] Unify test for dictionary array in raw_records and each_raw_record
  ruby/red-arrow/test/each-raw-record/test-dictionary-array.rb
  ruby/red-arrow/test/raw-records/test-dictionary-array.rb
Labels: Component: Ruby, awaiting review

#45918 GH-45917: [C++][Acero] Add flush taskgroup to enable parallelization
  cpp/src/arrow/acero/swiss_join.cc
  cpp/src/arrow/acero/swiss_join_internal.h
Labels: Component: C++, awaiting committer review

#45944 GH-41166: [CI][Packaging] Remove unmaintained conda-recipes
  dev/tasks/conda-recipes/.ci_support/linux_64_cuda_compiler_version11.2.yaml
  dev/tasks/conda-recipes/.ci_support/linux_64_cuda_compiler_versionNone.yaml
  dev/tasks/conda-recipes/.ci_support/linux_aarch64_cuda_compiler_version11.2.yaml
  dev/tasks/conda-recipes/.ci_support/linux_aarch64_cuda_compiler_versionNone.yaml
  dev/tasks/conda-recipes/.ci_support/linux_ppc64le_cuda_compiler_version11.2.yaml
  dev/tasks/conda-recipes/.ci_support/linux_ppc64le_cuda_compiler_versionNone.yaml
  dev/tasks/conda-recipes/.ci_support/osx_64_.yaml
  dev/tasks/conda-recipes/.ci_support/osx_arm64_.yaml
  dev/tasks/conda-recipes/.ci_support/win_64_cuda_compiler_version11.2.yaml
  dev/tasks/conda-recipes/.ci_support/win_64_cuda_compiler_versionNone.yaml
  dev/tasks/conda-recipes/.scripts/logging_utils.sh
  dev/tasks/conda-recipes/README.md
  dev/tasks/conda-recipes/arrow-cpp/LLVM_LICENSE.txt
  dev/tasks/conda-recipes/arrow-cpp/activate.sh
  dev/tasks/conda-recipes/arrow-cpp/build-arrow.bat
  dev/tasks/conda-recipes/arrow-cpp/build-arrow.sh
  dev/tasks/conda-recipes/arrow-cpp/build-pyarrow.bat
  dev/tasks/conda-recipes/arrow-cpp/build-pyarrow.sh
  dev/tasks/conda-recipes/arrow-cpp/meta.yaml
  dev/tasks/conda-recipes/arrow-cpp/test_read_parquet.py
  dev/tasks/conda-recipes/azure.clean.yml
  dev/tasks/conda-recipes/azure.linux.yml
  dev/tasks/conda-recipes/azure.osx.yml
  dev/tasks/conda-recipes/azure.win.yml
  dev/tasks/conda-recipes/azure.yml
  dev/tasks/conda-recipes/build_steps.sh
  dev/tasks/conda-recipes/clean.py
  dev/tasks/conda-recipes/conda-forge.yml
  dev/tasks/conda-recipes/parquet-cpp/meta.yaml
  dev/tasks/conda-recipes/run_docker_build.sh
  dev/tasks/tasks.yml
Labels: Component: Documentation, awaiting committer review

#45941 GH-37891: [C++] Followup SliceBuffer shared_ptr move usage
  cpp/src/arrow/compute/row/grouper.cc
  cpp/src/arrow/csv/reader.cc
  cpp/src/arrow/io/transform.cc
  cpp/src/arrow/ipc/writer.cc
  cpp/src/arrow/util/delimiting.cc
  cpp/src/parquet/encoder.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#45942 GH-45939: [C++][Benchmarking] Fix compilation failures
  cpp/src/arrow/acero/aggregate_benchmark.cc
  cpp/src/arrow/c/bridge_benchmark.cc
  cpp/src/arrow/compute/kernels/scalar_list_benchmark.cc
  cpp/src/arrow/util/bit_util_benchmark.cc
  cpp/src/parquet/arrow/reader_writer_benchmark.cc
  cpp/src/parquet/arrow/size_stats_benchmark.cc
  cpp/src/parquet/benchmark_util.cc
  cpp/src/parquet/benchmark_util.h
  cpp/src/parquet/bloom_filter_benchmark.cc
  cpp/src/parquet/column_io_benchmark.cc
  cpp/src/parquet/column_reader_benchmark.cc
  cpp/src/parquet/page_index_benchmark.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#45940 GH-45892: [Ruby] Unify test for list array in raw_records and each_raw_record
  ruby/red-arrow/test/each-raw-record/test-list-array.rb
  ruby/red-arrow/test/raw-records/test-list-array.rb
Labels: Component: Ruby, awaiting review

#45849 GH-45848: [C++][Python][R] Remove deprecated PARQUET_2_0
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/metadata.cc
  cpp/src/parquet/type_fwd.h
  python/pyarrow/_parquet.pxd
  python/pyarrow/_parquet.pyx
  python/pyarrow/tests/parquet/test_data_types.py
  python/pyarrow/tests/parquet/test_metadata.py
  python/pyarrow/tests/parquet/test_pandas.py
  python/pyarrow/tests/test_pandas.py
  r/R/enums.R
  r/R/parquet.R
  r/man/enums.Rd
  r/man/write_parquet.Rd
  r/tests/testthat/test-parquet.R
Labels: Component: R, Component: Parquet, Component: C++, Component: Python, awaiting merge

#45955 GH-45893: [Ruby] Unify test for map array in raw_records and each_raw_record
  ruby/red-arrow/test/each-raw-record/test-map-array.rb
  ruby/red-arrow/test/raw-records/test-map-array.rb
Labels: Component: Ruby, awaiting review

#45952 GH-45930: [C++] Don't use ICU C++ API in Azure SDK C++
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting changes

#45903 GH-40760: [Release] Use repository.apache.org
  dev/release/.env.example
  dev/release/05-binary-upload.sh
  dev/release/binary-task.rb
  dev/release/copy-binary.rb
  dev/release/download_rc_binaries.py
  dev/release/post-03-binary.sh
  dev/release/verify-apt.sh
  dev/release/verify-yum.sh
  dev/tasks/linux-packages/apache-arrow-apt-source/debian/rules
  dev/tasks/linux-packages/apache-arrow-release/yum/Apache-Arrow.repo
Labels: awaiting committer review

#45965 GH-45894: [Ruby] Unify test for multiple columns in raw_records and each_raw_record
  ruby/red-arrow/test/each-raw-record/test-multiple-columns.rb
  ruby/red-arrow/test/raw-records/test-multiple-columns.rb
Labels: Component: Ruby, awaiting review

#45932 GH-45922: [C++][Flight] Remove deprecated Authenticate and StartCall
  cpp/src/arrow/flight/CMakeLists.txt
  cpp/src/arrow/flight/server_auth.h
  cpp/src/arrow/flight/server_middleware.cc
  cpp/src/arrow/flight/server_middleware.h
  cpp/src/arrow/flight/sql/server_session_middleware.cc
  cpp/src/arrow/flight/sql/server_session_middleware_factory.h
  python/pyarrow/src/arrow/python/flight.cc
  python/pyarrow/src/arrow/python/flight.h
Labels: Component: C++, Component: Python, Component: FlightRPC, awaiting change review

#45960 GH-45959: [C++][CMake] Fix Protobuf dependency in Arrow::arrow_static
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/flight/CMakeLists.txt
Labels: Component: C++, Component: FlightRPC, awaiting merge

#45970 GH-45895: [Ruby] Unify test for sparse union array in raw_records and each_raw_record
  ruby/red-arrow/test/each-raw-record/test-sparse-union-array.rb
  ruby/red-arrow/test/raw-records/test-sparse-union-array.rb
Labels: Component: Ruby, awaiting merge

#45962 GH-45920: [Release][Python] Upload sdist and wheels to GitHub Releases not apache.jfrog.io
  .pre-commit-config.yaml
  .shellcheckrc
  dev/release/.env.example
  dev/release/05-binary-upload.sh
  dev/release/binary-task.rb
  dev/release/post-03-binary.sh
  dev/release/post-11-python.sh
Labels: awaiting committer review

#45974 GH-45896: [Ruby] Unify test for struct array in raw_records and each_raw_record
  ruby/red-arrow/test/each-raw-record/test-struct-array.rb
  ruby/red-arrow/test/raw-records/test-struct-array.rb
Labels: Component: Ruby, awaiting changes

#45668 GH-41985: [Python][Docs] Clarify docstring of pyarrow.compute.scalar()
  docs/source/python/api/compute.rst
  python/pyarrow/compute.py
Labels: Component: Python, Component: Documentation, awaiting merge

#45976 GH-45975: [Ruby] Add support for rubygems-requirements-system
  ruby/red-arrow/README.md
  ruby/red-arrow/ext/arrow/extconf.rb
  ruby/red-arrow/red-arrow.gemspec
Labels: Component: Ruby, Component: Documentation, awaiting committer review
