Repository apache/arrow, pull requests merged in 2025-05, with the labels that each got.

#45834 GH-45833: [C++] Add JSON directory to Meson configuration
  cpp/src/arrow/json/meson.build
  cpp/src/arrow/meson.build
Labels: Component: C++, awaiting merge

#46278 GH-46262: [CI][Ruby] Don't update GCC of MSYS2
  ci/scripts/msys2_setup.sh
Labels: awaiting changes

#45795 GH-45794: [C++] Add array directory to Meson configuration
  cpp/src/arrow/array/meson.build
  cpp/src/arrow/meson.build
Labels: Component: C++, awaiting change review

#46252 GH-46250: [Swift] Update `swift-tools-version` to 5.10
  swift/Arrow/Package.swift
  swift/ArrowFlight/Package.swift
  swift/CDataWGo/Package.swift
Labels: Component: Swift, awaiting review

#46246 GH-46245: [Swift] Upgrade `FlatBuffers` to v25.2.10
  swift/Arrow/Package.swift
  swift/Arrow/Sources/Arrow/File_generated.swift
  swift/Arrow/Sources/Arrow/Message_generated.swift
  swift/Arrow/Sources/Arrow/Schema_generated.swift
  swift/Arrow/Sources/Arrow/SparseTensor_generated.swift
  swift/Arrow/Sources/Arrow/Tensor_generated.swift
Labels: Component: Swift, awaiting review

#45858 GH-45853: [C++][Dev] Fix Meson compilation issues in Docker builds
  ci/scripts/cpp_build.sh
  dev/tasks/tasks.yml
Labels: awaiting changes

#46164 GH-46163: [C++] Add vendored directory to Meson
  cpp/src/arrow/meson.build
  cpp/src/arrow/vendored/datetime/meson.build
  cpp/src/arrow/vendored/double-conversion/meson.build
  cpp/src/arrow/vendored/meson.build
  cpp/src/arrow/vendored/pcg/meson.build
  cpp/src/arrow/vendored/portable-snippets/meson.build
  cpp/src/arrow/vendored/xxhash/meson.build
Labels: Component: C++, awaiting review

#46277 GH-46241: [Release][Packaging] Add support for regenerating metadata of APT repositories
  .pre-commit-config.yaml
  dev/release/binary-recover.sh
  dev/release/binary-task.rb
Labels: awaiting committer review

#46291 GH-46290: [Swift] Upgrade `grpc-swift` to `1.25.0` and `swift-protobuf` to `1.29.0`
  swift/ArrowFlight/Package.swift
Labels: Component: Swift, awaiting review

#45830 GH-45829: [C++] Add compute directory to Meson configuration
  cpp/meson.build
  cpp/meson.options
  cpp/src/arrow/compute/kernels/meson.build
  cpp/src/arrow/compute/meson.build
  cpp/src/arrow/compute/row/meson.build
  cpp/src/arrow/meson.build
  cpp/src/arrow/util/meson.build
Labels: Component: C++, awaiting committer review

#46294 GH-46293: [R][CI] Backwards compatibility job updates
  .github/workflows/r.yml
  dev/tasks/r/github.linux.arrow.version.back.compat.yml
  r/extra-tests/test-read-files.R
  r/tests/testthat/helper-skip.R
  r/tests/testthat/test-compute-arith.R
  r/tests/testthat/test-dplyr-funcs-math.R
Labels: Component: R, awaiting merge

#46110 GH-46087: [FlightSQL] Allow returning column remarks in FlightSQL's CommandGetTables
  cpp/src/arrow/flight/integration_tests/test_integration.cc
  cpp/src/arrow/flight/sql/column_metadata.cc
  cpp/src/arrow/flight/sql/column_metadata.h
  format/FlightSql.proto
Labels: Component: C++, Component: FlightRPC, awaiting merge

#46302 GH-46296: [Swift] Add support for reading struct
  swift/Arrow/Sources/Arrow/ArrowType.swift
  swift/Arrow/Sources/Arrow/ProtoUtil.swift
  swift/Arrow/Tests/ArrowTests/IPCTests.swift
  swift/data-generator/swift-datagen/go.mod
  swift/data-generator/swift-datagen/main.go
Labels: Component: Swift, awaiting review

#46271 GH-46268: [C++] Improve ArrayData docstrings
  cpp/src/arrow/array/data.h
Labels: Component: C++, awaiting change review

#46194 GH-46193: [Flight][Format] Extend Flight Location URI Semantics
  docs/source/format/Flight.rst
  format/Flight.proto
Labels: Component: Documentation, awaiting change review

#46287 GH-46240: [Release][Packaging] Fix a bug that existing APT repositories' metadata are lost
  dev/release/binary-task.rb
Labels: awaiting committer review

#46307 GH-46306: [C++][Parquet] Should use LoadEnumSafe for geo enum
  cpp/src/parquet/thrift_internal.h
  cpp/src/parquet/types.cc
Labels: Component: Parquet, Component: C++, awaiting merge

#46319 GH-46318: [Docs][C++] Add Extension Array/Type documents
  docs/source/cpp/api.rst
  docs/source/cpp/api/extension.rst
Labels: Component: Documentation, awaiting change review

#46154 GH-46153: [C++] Implement acero directory in Meson
  cpp/meson.build
  cpp/meson.options
  cpp/src/arrow/acero/meson.build
  cpp/src/arrow/meson.build
Labels: Component: C++, awaiting change review

#46305 GH-35419: [GLib] Add GArrowFixedShapeTensorDataType
  c_glib/arrow-glib/basic-data-type.cpp
  c_glib/arrow-glib/basic-data-type.h
  c_glib/test/test-fixed-shape-tensor-data-type.rb
Labels: Component: GLib, awaiting change review

#46117 GH-46116: [C++] Implement IPC directory in Meson
  ci/scripts/cpp_build.sh
  cpp/meson.build
  cpp/meson.options
  cpp/src/arrow/ipc/meson.build
  cpp/src/arrow/meson.build
Labels: Component: C++, awaiting review

#46216 GH-46215: [C++][Docs] Add README for Meson subprojects directory
  cpp/subprojects/README.md
Labels: Component: C++, Component: Documentation, awaiting changes

#46332 GH-46321: [C++][Doc] Better explain ArrayData IsValid and GetNullCount
  cpp/src/arrow/array/data.h
Labels: Component: C++, awaiting committer review

#46345 GH-46344: [CI][Python] Skip doctest for s3.get_file_info to avoid bucket restrictions
  python/pyarrow/_s3fs.pyx
Labels: Component: Python, awaiting changes

#46035 GH-40278: [C++] Support casting string to duration in CSV converter
  cpp/src/arrow/csv/converter.cc
  cpp/src/arrow/csv/converter_test.cc
  docs/source/cpp/csv.rst
  docs/source/python/csv.rst
Labels: Component: C++, Component: Documentation, awaiting review

#46360 GH-46359: [C++][Thirdparty] Bump Apache ORC to 2.1.2
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting committer review

#46352 GH-46351: [Archery][Docs] Fix the cli argument parsing bug in docker subcommand
  dev/archery/archery/docker/cli.py
  docs/source/developers/continuous_integration/docker.rst
Labels: Component: Documentation, awaiting merge

#46358 GH-46115: [C++] Implement compression libraries in Meson
  ci/scripts/cpp_build.sh
  cpp/meson.build
  cpp/meson.options
  cpp/src/arrow/ipc/meson.build
  cpp/src/arrow/meson.build
  cpp/src/arrow/util/meson.build
  cpp/subprojects/bzip2.wrap
  cpp/subprojects/google-brotli.wrap
  cpp/subprojects/google-snappy.wrap
  cpp/subprojects/lz4.wrap
  cpp/subprojects/zlib.wrap
  cpp/subprojects/zstd.wrap
Labels: Component: C++, awaiting review

#46366 GH-46362: [CGLib][Packaging] Use -fPIE explicitly for g-ir-scanner
  c_glib/arrow-cuda-glib/meson.build
  c_glib/arrow-dataset-glib/meson.build
  c_glib/arrow-flight-glib/meson.build
  c_glib/arrow-flight-sql-glib/meson.build
  c_glib/arrow-glib/meson.build
  c_glib/gandiva-glib/meson.build
  c_glib/meson.build
  c_glib/parquet-glib/meson.build
Labels: awaiting committer review

#46335 MINOR: [Docs] Fix typos in rst files
  docs/source/cpp/env_vars.rst
  docs/source/developers/benchmarks.rst
  docs/source/developers/bug_reports.rst
  docs/source/developers/continuous_integration/overview.rst
  docs/source/developers/python.rst
  docs/source/developers/release.rst
  docs/source/format/DissociatedIPC.rst
Labels: Component: Documentation, awaiting review

#46303 GH-46299: [C++][Compute] Don't use `static inline const` for default options
  cpp/src/arrow/compute/kernels/vector_rank.cc
  cpp/src/arrow/compute/kernels/vector_sort_test.cc
Labels: Component: C++, awaiting changes

#46292 GH-46289: [Release][Packaging] Verify APT/Yum repositories keeps working for old versions
  .github/workflows/verify_rc.yml
Labels: awaiting committer review

#46206 GH-45643: [R] Implement hms functions to create and manipulate time of day variables
  r/R/dplyr-funcs-datetime.R
  r/R/dplyr-funcs-doc.R
  r/man/acero.Rd
  r/tests/testthat/test-dplyr-funcs-datetime.R
Labels: Component: R, awaiting merge

#46379 GH-46378: [Docs] Remove references to autotune from the docs
  docs/source/developers/continuous_integration/overview.rst
  docs/source/developers/cpp/development.rst
  r/vignettes/developers/workflow.Rmd
Labels: Component: R, Component: Documentation, awaiting merge

#46381 GH-46380: [GLib] Add GArrowFixedShapeDataType#shape
  c_glib/arrow-glib/basic-data-type.cpp
  c_glib/arrow-glib/basic-data-type.h
  c_glib/test/test-fixed-shape-tensor-data-type.rb
Labels: Component: GLib, awaiting change review

#46387 GH-46386: [C++] Ensure using our CMake packages not Find*.cmake
  cpp/src/arrow/ArrowTestingConfig.cmake.in
  cpp/src/arrow/acero/ArrowAceroConfig.cmake.in
  cpp/src/arrow/dataset/ArrowDatasetConfig.cmake.in
  cpp/src/arrow/engine/ArrowSubstraitConfig.cmake.in
  cpp/src/arrow/flight/ArrowFlightConfig.cmake.in
  cpp/src/arrow/flight/ArrowFlightTestingConfig.cmake.in
  cpp/src/arrow/flight/sql/ArrowFlightSqlConfig.cmake.in
  cpp/src/arrow/gpu/ArrowCUDAConfig.cmake.in
  cpp/src/gandiva/GandivaConfig.cmake.in
  cpp/src/parquet/ParquetConfig.cmake.in
Labels: Component: Parquet, Component: C++, Component: FlightRPC, Component: Gandiva, awaiting merge

#46389 GH-46388: [C++] Check `Snappy::snappy{,-static}` in `FindSnappyAlt.cmake`
  cpp/cmake_modules/FindSnappyAlt.cmake
Labels: Component: C++, awaiting committer review

#46364 GH-46363: [CI][Packaging] Use mono from community repository on Alpine instead of from testing
  ci/docker/python-wheel-musllinux.dockerfile
Labels: awaiting merge

#46354 GH-46222: [Python] Allow to specify footer metadata when opening IPC file for writing
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/ipc.pxi
  python/pyarrow/ipc.py
  python/pyarrow/tests/test_ipc.py
Labels: Component: Python, awaiting change review

#46346 GH-46149: [C++] Opening dataset fails with sshfs-3.7.3 due to F_RDADVISE error
  cpp/src/arrow/io/caching.cc
Labels: Component: C++, awaiting changes

#46210 GH-46209: [Documentation][C++][Compute] Add cpp developer documentation for row table
  docs/source/cpp/index.rst
  docs/source/developers/cpp/compute.rst
  docs/source/developers/cpp/index.rst
Labels: Component: Documentation, awaiting change review

#46401 GH-46400: [GLib] Add GArrowFixedShapeDataType#permutation
  c_glib/arrow-glib/basic-data-type.cpp
  c_glib/arrow-glib/basic-data-type.h
  c_glib/test/test-fixed-shape-tensor-data-type.rb
Labels: Component: GLib, awaiting change review

#46418 GH-46417: [C++][Parquet] Fix UB in LoadEnumSafe for EdgeInterpolationAlgorithm
  cpp/src/parquet/thrift_internal.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#46392 GH-46304: [Release][Packaging] Use optimized debug build for .deb
  dev/tasks/linux-packages/apache-arrow/debian/rules
Labels: awaiting changes

#46402 GH-46376: [Docs] Replace Xitter link with BlueSky link
  README.md
  docs/source/conf.py
  docs/source/developers/release.rst
  r/_pkgdown.yml
Labels: Component: R, Component: Documentation, awaiting merge

#45400 GH-46419: [C++] Remove duplicate declaration and sync arg names on acero test_util_internal functions
  cpp/src/arrow/acero/test_util_internal.h
Labels: Component: C++, awaiting change review

#46425 GH-46424: [C++][Parquet] Fix erroneous unit test skip
  cpp/src/parquet/statistics_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#46347 GH-38914: [Python] Add EncryptionConfiguration.uniform_encryption
  python/pyarrow/_parquet_encryption.pyx
  python/pyarrow/includes/libparquet_encryption.pxd
  python/pyarrow/tests/parquet/test_encryption.py
Labels: Component: Python, awaiting merge

#46397 GH-46394: [C++][R] gcc-UBSAN errors on CRAN
  cpp/src/arrow/csv/parser.cc
  dev/tasks/r/github.linux.sanitizers.yml
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: Component: C++, awaiting change review

#45360 GH-45750: [C++][Python][Parquet] Implement Content-Defined Chunking for the Parquet writer
  .gitattributes
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/chunker_internal.cc
  cpp/src/parquet/chunker_internal.h
  cpp/src/parquet/chunker_internal_codegen.py
  cpp/src/parquet/chunker_internal_generated.h
  cpp/src/parquet/chunker_internal_test.cc
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/properties.h
  cpp/src/parquet/properties_test.cc
  cpp/src/parquet/schema.cc
  docs/source/python/parquet.rst
  python/pyarrow/_parquet.pxd
  python/pyarrow/_parquet.pyx
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_parquet_writer.py
Labels: Component: Parquet, Component: C++, Component: Python, Component: Documentation, awaiting change review

#46434 GH-46433: [GLib] Add GArrowFixedShapeDataType#dim_names
  c_glib/arrow-glib/basic-data-type.cpp
  c_glib/arrow-glib/basic-data-type.h
  c_glib/test/test-fixed-shape-tensor-data-type.rb
Labels: Component: GLib, awaiting change review

#44470 GH-26818: [C++][Python] Preserve order when writing dataset multi-threaded
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/dataset/file_base.h
  cpp/src/arrow/dataset/file_test.cc
  python/pyarrow/_dataset.pyx
  python/pyarrow/dataset.py
  python/pyarrow/includes/libarrow_dataset.pxd
  python/pyarrow/tests/test_dataset.py
Labels: Component: C++, Component: Python, awaiting merge

#46180 GH-45908: [C++][Docs] Rename and expose basic {Array,...}FromJSON helpers as public APIs
  cpp/examples/arrow/CMakeLists.txt
  cpp/examples/arrow/from_json_string_example.cc
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/c/bridge_benchmark.cc
  cpp/src/arrow/c/bridge_test.cc
  cpp/src/arrow/compute/kernels/vector_hash_test.cc
  cpp/src/arrow/dataset/test_util_internal.h
  cpp/src/arrow/ipc/CMakeLists.txt
  cpp/src/arrow/ipc/api.h
  cpp/src/arrow/ipc/generate_fuzz_corpus.cc
  cpp/src/arrow/ipc/json_simple.h
  cpp/src/arrow/json/CMakeLists.txt
  cpp/src/arrow/json/from_string.cc
  cpp/src/arrow/json/from_string.h
  cpp/src/arrow/json/from_string_test.cc
  cpp/src/arrow/meson.build
  cpp/src/arrow/testing/gtest_util.cc
  cpp/src/arrow/testing/matchers.h
  docs/source/cpp/api/array.rst
  docs/source/cpp/arrays.rst
  python/pyarrow/src/arrow/python/gdb.cc
  python/pyarrow/tests/extensions.pyx
Labels: Component: C++, Component: Python, Component: Documentation, awaiting merge

#46300 GH-46224: [C++][Acero] Fix the hang in asof join
  cpp/src/arrow/acero/asof_join_node.cc
  cpp/src/arrow/acero/asof_join_node_test.cc
Labels: Component: C++, awaiting committer review

#46451 GH-46450: [GLib] Add GArrowFixedShapeDataType#strides
  c_glib/arrow-glib/basic-data-type.cpp
  c_glib/arrow-glib/basic-data-type.h
  c_glib/test/test-fixed-shape-tensor-data-type.rb
Labels: Component: GLib, awaiting change review

#46139 GH-46420: [C++][Dataset] Fix DatasetWriter deadlock on writting batch greater than max_rows_queued
  cpp/src/arrow/dataset/dataset_writer.cc
  cpp/src/arrow/dataset/dataset_writer_test.cc
Labels: Component: C++, awaiting committer review

#46413 GH-45229: [Python] skip scipy.sparse roundtrip tests for float16
  python/pyarrow/tests/test_sparse_tensor.py
Labels: Component: Python

#46437 GH-46349: [Python] Move parquet definitions to pyarrow/includes/libparquet.pxd
  python/pyarrow/_parquet.pxd
  python/pyarrow/includes/libparquet.pxd
Labels: Component: Python

#46443 GH-46442: [R] hms::as_hms tests fail on some of our crossbow builds
  r/tests/testthat/test-dplyr-funcs-datetime.R
Labels: Component: R

#46452 GH-40756: [C++] Remove dead Boost urls
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting merge

#46457 GH-46456: [GLib] Add missing `since:` tag
  c_glib/arrow-glib/basic-data-type.cpp
Labels: Component: GLib, awaiting review

#46445 GH-46444: [Documentation][C++][Acero] Move internal Swiss table doc into public C++ developer doc
  cpp/src/arrow/acero/doc/key_map.md
  docs/source/developers/cpp/acero.rst
  docs/source/developers/cpp/img/swiss_table_1.jpg
  docs/source/developers/cpp/img/swiss_table_10.jpg
  docs/source/developers/cpp/img/swiss_table_11.jpg
  docs/source/developers/cpp/img/swiss_table_2.jpg
  docs/source/developers/cpp/img/swiss_table_3.jpg
  docs/source/developers/cpp/img/swiss_table_4.jpg
  docs/source/developers/cpp/img/swiss_table_5.jpg
  docs/source/developers/cpp/img/swiss_table_6.jpg
  docs/source/developers/cpp/img/swiss_table_7.jpg
  docs/source/developers/cpp/img/swiss_table_8.jpg
  docs/source/developers/cpp/img/swiss_table_9.jpg
  docs/source/developers/cpp/index.rst
Labels: Component: C++, Component: Documentation, awaiting merge

#46479 GH-46478: [C++] Implement recent JSON changes into Meson configuration
  cpp/src/arrow/ipc/meson.build
  cpp/src/arrow/json/meson.build
Labels: Component: C++, awaiting merge

#46474 GH-46473: [C++][Docs] Fix typos in decimal comments
  cpp/src/arrow/util/decimal.h
Labels: Component: C++, awaiting merge

#46416 GH-46414: [C++] Fix GCS filesystem getFileInfo method
  cpp/src/arrow/filesystem/gcsfs.cc
  cpp/src/arrow/filesystem/gcsfs_test.cc
Labels: Component: C++, awaiting committer review

#46483 GH-46482: [CI][Dev] Add shellcheck files without change
  .pre-commit-config.yaml
Labels: awaiting review

#46390 GH-46487: [C++] Refactor lz4 from ExternalProject to FetchContent
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting merge

#46492 GH-46490: [CI][Dev] Add shellcheck ci/scripts/install_ccache.sh
  .pre-commit-config.yaml
  ci/scripts/install_ccache.sh
Labels: awaiting review

#46467 GH-46084: [C++] Always use ARROW_VCPKG to detect vcpkg mode
  cpp/cmake_modules/FindBrotliAlt.cmake
  cpp/cmake_modules/Findutf8proc.cmake
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#46495 GH-46494: [CI][Dev] Add shellcheck files without change
  .pre-commit-config.yaml
Labels: awaiting change review

#44279 GH-32276: [C++][FlightRPC] Add option to align RecordBatch buffers given to IPC reader
  cpp/src/arrow/flight/integration_tests/flight_integration_test.cc
  cpp/src/arrow/flight/integration_tests/test_integration.cc
  cpp/src/arrow/ipc/options.h
  cpp/src/arrow/ipc/reader.cc
  cpp/src/arrow/util/align_util.cc
  docs/source/cpp/flight.rst
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/ipc.pxi
  python/pyarrow/ipc.py
  python/pyarrow/tests/test_ipc.py
Labels: Component: C++, Component: Python, Component: FlightRPC, Component: Documentation, awaiting change review

#46489 GH-46481: [C++][Python] Allow nullable schema in FlightInfo
  cpp/src/arrow/flight/flight_internals_test.cc
  cpp/src/arrow/flight/test_util.cc
  cpp/src/arrow/flight/test_util.h
  cpp/src/arrow/flight/types.cc
  cpp/src/arrow/flight/types.h
  python/pyarrow/_flight.pyx
  python/pyarrow/src/arrow/python/flight.cc
  python/pyarrow/tests/test_flight.py
Labels: Component: C++, Component: Python, Component: FlightRPC, awaiting merge

#45029 GH-44910: [Swift] Fix IPC stream reader and writer impl
  swift/Arrow/Sources/Arrow/ArrowReader.swift
  swift/Arrow/Sources/Arrow/ArrowReaderHelper.swift
  swift/Arrow/Sources/Arrow/ArrowWriter.swift
  swift/Arrow/Tests/ArrowTests/IPCTests.swift
Labels: Component: Swift, awaiting change review

#46502 GH-46500: [CI][Java] Remove CI scripts for Java
  ci/scripts/java_build.sh
  ci/scripts/java_cdata_integration.sh
  ci/scripts/java_full_build.sh
  ci/scripts/java_jni_build.sh
  ci/scripts/java_jni_macos_build.sh
  ci/scripts/java_jni_manylinux_build.sh
  ci/scripts/java_jni_windows_build.sh
  ci/scripts/java_test.sh
Labels: awaiting review

#46511 GH-46343: [CI] Avoid installing gdb 16.3 on python 3.10 jobs to fix CI
  ci/docker/conda-python.dockerfile
Labels: awaiting committer review

#46399 GH-46398: [GLib] Add GArrowFixedShapeTensorDataType#n_dimensions
  c_glib/arrow-glib/basic-data-type.cpp
  c_glib/test/test-fixed-shape-tensor-data-type.rb
Labels: Component: GLib, awaiting review, awaiting change review

#46470 GH-46396: [C++][Documentation][Statistics] Revise the documentation to clarify that arrow::ArrayStatistics is ignored during arrow::Array comparisons
  cpp/src/arrow/array/array_base.h
  cpp/src/arrow/compare.h
Labels: Component: C++, awaiting review

#46524 GH-46523: [GLib] Fix compiler warning: use gsize instead of int
  c_glib/arrow-glib/basic-data-type.cpp
Labels: awaiting merge

#46525 GH-46512: [CI][C++] Install the llvm package explicitly on MSYS2
  ci/scripts/msys2_setup.sh
Labels: awaiting merge

#46476 GH-46475: [Documentation][C++][Compute] Consolidate Acero developer docs
  docs/source/cpp/acero.rst
  docs/source/cpp/acero/developer_guide.rst
  docs/source/cpp/user_guide.rst
  docs/source/developers/cpp/acero.rst
  docs/source/developers/cpp/acero/img/swiss_table_1.jpg
  docs/source/developers/cpp/acero/img/swiss_table_10.jpg
  docs/source/developers/cpp/acero/img/swiss_table_11.jpg
  docs/source/developers/cpp/acero/img/swiss_table_2.jpg
  docs/source/developers/cpp/acero/img/swiss_table_3.jpg
  docs/source/developers/cpp/acero/img/swiss_table_4.jpg
  docs/source/developers/cpp/acero/img/swiss_table_5.jpg
  docs/source/developers/cpp/acero/img/swiss_table_6.jpg
  docs/source/developers/cpp/acero/img/swiss_table_7.jpg
  docs/source/developers/cpp/acero/img/swiss_table_8.jpg
  docs/source/developers/cpp/acero/img/swiss_table_9.jpg
  docs/source/developers/cpp/acero/swiss_table.rst
  docs/source/developers/cpp/img/async.md
  docs/source/developers/cpp/img/async.svg
  docs/source/developers/cpp/img/dist_plan.svg
  docs/source/developers/cpp/img/microbatch.svg
  docs/source/developers/cpp/img/ordered.svg
  docs/source/developers/cpp/img/pipeline.svg
  docs/source/developers/cpp/img/pipeline_task.svg
  docs/source/java/substrait.rst
  docs/source/python/api/acero.rst
  docs/source/python/integration/substrait.rst
Labels: Component: Documentation, awaiting merge

#46535 GH-44801: [Docs] Help visitors find other `apache/arrow-___` repos
  README.md
  docs/source/developers/guide/step_by_step/arrow_codebase.rst
Labels: Component: Documentation, awaiting merge

#46539 GH-46538: [CI][Packaging][AlmaLinux8] Ensure pip3
  dev/tasks/linux-packages/apache-arrow/yum/almalinux-8/Dockerfile
Labels: awaiting committer review

#46541 GH-43132: [CI] Fix pre-commit Rat check
  .pre-commit-config.yaml
  dev/release/run-rat.sh
Labels: awaiting committer review

#46540 GH-46537: [Docs][C++] Add RunEndEncodedArray, FlatArray, and PrimitiveArray API Docs
  docs/source/cpp/api/array.rst
Labels: Component: Documentation, awaiting merge

#46553 GH-46551: [C++] Use `std::string_view` for type schema API
  cpp/src/arrow/type.cc
  cpp/src/arrow/type.h
Labels: Component: C++, awaiting merge

#46565 GH-46564: [C++] Export ARROW_VCPKG in ArrowConfig.cmake
  cpp/src/arrow/ArrowConfig.cmake.in
Labels: Component: C++, awaiting merge

#46570 GH-46569: [CI][Integration] Use apache/arrow-js for JS
  .github/workflows/integration.yml
  ci/scripts/integration_arrow.sh
  ci/scripts/integration_arrow_build.sh
  dev/archery/archery/cli.py
Labels: awaiting merge

#46552 GH-46544: [CI][Dev][Python] Use pre-commit for autopep8
  .pre-commit-config.yaml
  c_glib/tool/generate-version-header.py
  python/pyarrow/_parquet.pyx
  python/pyarrow/tests/test_fs.py
Labels: Component: Python, Component: GLib, awaiting merge

#46549 GH-46548: [CI][Dev][R] Use pre-commit for cpplint
  .pre-commit-config.yaml
Labels: awaiting committer review

#46558 GH-46556: [GLib] Add GArrowUUIDDataType
  c_glib/arrow-glib/basic-data-type.cpp
  c_glib/arrow-glib/basic-data-type.h
  c_glib/test/test-uuid-data-type.rb
Labels: Component: GLib, awaiting change review

#46491 GH-43623: [R] remove libarrow backwards compatibility enforcement
  .github/workflows/r.yml
  r/PACKAGING.md
  r/src/altrep.cpp
  r/src/extension-impl.cpp
  r/src/filesystem.cpp
Labels: Component: R, Component: Documentation, awaiting changes

#46588 GH-46587: [CI][JS] Remove JS related test CI
  .github/workflows/js.yml
  ci/docker/debian-12-js.dockerfile
  ci/scripts/js_build.sh
  ci/scripts/js_test.sh
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: awaiting committer review

#46581 GH-46547: [CI][Dev][R] Use pre-commit for lintr
  .github/workflows/dev.yml
  .pre-commit-config.yaml
  r/tools/lint.R
Labels: Component: R, awaiting merge

#46532 GH-43041: [C++][Python] Read/write Parquet BYTE_ARRAY as Large/View types directly
  cpp/src/arrow/compute/expression_test.cc
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/src/arrow/dataset/file_parquet.h
  cpp/src/arrow/testing/gtest_util.h
  cpp/src/arrow/type_traits.h
  cpp/src/arrow/util/bit_run_reader.h
  cpp/src/parquet/CMakeLists.txt
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/arrow_schema_test.cc
  cpp/src/parquet/arrow/reader.cc
  cpp/src/parquet/arrow/reader_internal.cc
  cpp/src/parquet/arrow/reader_writer_benchmark.cc
  cpp/src/parquet/arrow/schema.cc
  cpp/src/parquet/arrow/schema_internal.cc
  cpp/src/parquet/arrow/schema_internal.h
  cpp/src/parquet/column_reader.cc
  cpp/src/parquet/column_reader.h
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/decoder.cc
  cpp/src/parquet/encoder.cc
  cpp/src/parquet/encoding.h
  cpp/src/parquet/encoding_benchmark.cc
  cpp/src/parquet/encoding_test.cc
  cpp/src/parquet/encryption/encryption_internal.cc
  cpp/src/parquet/file_writer.cc
  cpp/src/parquet/geospatial/util_json_internal.cc
  cpp/src/parquet/geospatial/util_json_internal.h
  cpp/src/parquet/properties.h
  cpp/src/parquet/statistics.cc
  docs/source/cpp/parquet.rst
  python/pyarrow/_dataset_parquet.pyx
  python/pyarrow/_parquet.pyx
  python/pyarrow/includes/libarrow_dataset_parquet.pxd
  python/pyarrow/includes/libparquet.pxd
  python/pyarrow/lib.pxd
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_data_types.py
  python/pyarrow/tests/test_dataset.py
Labels: Component: Parquet, Component: C++, Component: Python, Component: Documentation, awaiting change review

#46190 GH-46189 [C#] Use pooled buffers in ArrowStreamWriter
  csharp/src/Apache.Arrow.Compression/Lz4CompressionCodec.cs
  csharp/src/Apache.Arrow.Compression/ZstdCompressionCodec.cs
  csharp/src/Apache.Arrow/Ipc/ArrowStreamWriter.cs
  csharp/src/Apache.Arrow/Ipc/ITryCompressionCodec.cs
  csharp/test/Apache.Arrow.Compression.Tests/ArrowStreamReaderTests.cs
  csharp/test/Apache.Arrow.Compression.Tests/ArrowStreamWriterTests.cs
  csharp/test/Apache.Arrow.Tests/ArrowStreamWriterTests.cs
  csharp/test/Apache.Arrow.Tests/TestMemoryAllocator.cs
Labels: Component: C#, awaiting committer review

#46559 GH-46529: [C++] Convert static inline type trait functions to constexpr
  cpp/src/arrow/tensor.h
  cpp/src/arrow/type.h
  cpp/src/arrow/type_traits.h
  cpp/src/gandiva/arrow.h
  cpp/src/parquet/thrift_internal.h
Labels: Component: Parquet, Component: C++, Component: Gandiva, awaiting committer review

#46484 GH-46477: [C++] Use vendored flatbuffers in Meson configuration
  cpp/src/arrow/meson.build
  cpp/subprojects/flatbuffers.wrap
Labels: Component: C++, awaiting review

#46604 GH-46603: [JS][Release] Remove JavaScript related release code
  dev/release/01-prepare-test.rb
  dev/release/post-07-csharp.sh
  dev/release/post-07-js.sh
  dev/release/post-08-remove-old-artifacts.sh
  dev/release/post-09-docs.sh
  dev/release/post-10-python.sh
  dev/release/post-11-bump-versions-test.rb
  dev/release/post-11-bump-versions.sh
  dev/release/post-12-msys2.sh
  dev/release/post-13-homebrew.sh
  dev/release/post-14-vcpkg.sh
  dev/release/post-15-conan.sh
  dev/release/utils-prepare.sh
  dev/release/verify-release-candidate.sh
  docs/source/developers/release.rst
Labels: Component: Documentation, awaiting committer review

#46621 GH-46610: [CI][Release] Use Python 3.12 on AlmaLinux 8
  dev/release/setup-rhel-rebuilds.sh
Labels: awaiting committer review

#46622 GH-46576: [C++] Suppress `codecvt_utf8` deprecation warning
  cpp/cmake_modules/DefineOptions.cmake
  cpp/src/arrow/flight/sql/odbc/odbcabstraction/include/odbcabstraction/encoding.h
  cpp/src/arrow/flight/sql/odbc/odbcabstraction/include/odbcabstraction/odbc_impl/attribute_utils.h
Labels: Component: C++, Component: FlightRPC, awaiting merge

#46594 GH-46593: [CI][Integration] Disable nested log grouping
  ci/scripts/util_log.sh
Labels: awaiting committer review

#45859 MINOR: [C++] Fix OTel 1.19 compat after silent breaking change
  cpp/src/arrow/util/tracing_internal.cc
Labels: Component: C++, awaiting change review

#46644 MINOR: [C++] Fix an obvious opentelemetry CMake typo
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting review

#46156 GH-46155: [C++] Implement Tensorflow directory in Meson
  cpp/meson.options
  cpp/src/arrow/adapters/tensorflow/meson.build
  cpp/src/arrow/meson.build
Labels: Component: C++, awaiting review, CI: Extra
