Repository apache/arrow, pull requests merged in 2025-08, with the labels that each got.

#47245 GH-47244: [CI][Dev] Fix shellcheck errors in the ci/scripts/msys2_setup.sh
  .pre-commit-config.yaml
  ci/scripts/msys2_setup.sh
Labels: awaiting review

#47250 MINOR: [Release] Make post-08-remove-old-artifacts.sh crossplatform
  dev/release/post-08-remove-old-artifacts.sh
Labels: awaiting change review

#47233 GH-47232: [Ruby] Suppress warnings in test with Ruby 3.5
  ruby/red-arrow/test/test-buffer.rb
  ruby/red-arrow/test/test-ractor.rb
Labels: Component: Ruby, awaiting committer review

#47260 GH-47258: [Release] Set `date:` for apache/arrow-site's `_release/${VERSION}.md`
  dev/release/post-04-website.sh
Labels: awaiting merge

#46997 GH-46942: [Docs] Replace the directive versionadded with note
  docs/source/format/Columnar.rst
Labels: Component: Documentation, awaiting review

#47264 GH-47263: [MATLAB] Add `NumNulls` property to `arrow.array.ChunkedArray` class
  matlab/src/cpp/arrow/matlab/array/proxy/chunked_array.cc
  matlab/src/cpp/arrow/matlab/array/proxy/chunked_array.h
  matlab/src/matlab/+arrow/+array/ChunkedArray.m
  matlab/test/arrow/array/tChunkedArray.m
Labels: Component: MATLAB, awaiting merge

#47267 GH-47265: [Ruby] Fix wrong `Time` object detection
  ruby/red-arrow/lib/arrow/timestamp-array-builder.rb
Labels: Component: Ruby, awaiting committer review

#47285 GH-47096: [CI][R] Drop support for R 4.0
  dev/tasks/r/github.linux.versions.yml
  dev/tasks/r/github.packages.yml
  r/DESCRIPTION
Labels: Component: R, awaiting merge

#47261 GH-47208: [C++][CI] Add a CI job for C++23
  .github/workflows/cpp_extra.yml
Labels: awaiting changes, CI: Extra

#47295 MINOR: [C++][Compute] Fix kernel docstring typo
  cpp/src/arrow/compute/kernel.h
Labels: Component: C++, awaiting review

#47299 GH-47277: [C++] r-binary-packages nightly failures due to incompatibility with old compiler
  cpp/src/arrow/util/secure_string.h
Labels: Component: C++, awaiting merge

#47290 GH-47289: [CI][Dev] Fix shellcheck errors in the ci/scripts/python_build_emscripten.sh
  .pre-commit-config.yaml
  ci/scripts/python_build_emscripten.sh
Labels: awaiting change review

#47217 GH-47213: [R] Require CMake 3.26 or later
  r/DESCRIPTION
  r/tools/nixlibs.R
Labels: Component: R, awaiting merge

#47304 GH-47303: [C++] Don't install arrow-compute.pc twice
  cpp/src/arrow/compute/CMakeLists.txt
Labels: Component: C++, awaiting committer review

#47292 GH-47291: [C++] Update bundled aws-c-common to 0.12.4
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/cmake_modules/aws-c-common-1208.patch
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting committer review

#47286 GH-47205: [C++] Suppress GNU variadic macro warnings
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/cmake_modules/thrift-3187.patch
  cpp/src/arrow/util/tracing_internal.h
Labels: Component: C++, awaiting committer review

#47148 GH-47052: [CI][C++] Use Alpine Linux 3.22 instead of 3.18
  .env
  ci/docker/alpine-linux-3.22-cpp.dockerfile
  cpp/src/arrow/dataset/CMakeLists.txt
  docker-compose.yml
Labels: Component: C++, awaiting merge, CI: Extra

#47318 GH-47317: [C++][C++23][Gandiva] Use pointer for Cache test
  .github/workflows/cpp_extra.yml
  ci/docker/debian-13-cpp.dockerfile
  cpp/src/gandiva/cache_test.cc
Labels: Component: C++, Component: Gandiva, awaiting committer review, CI: Extra

#47305 GH-47222: [CI][C++] Add a CI job that uses the same build options for JNI on macOS
  .github/workflows/cpp_extra.yml
  cpp/CMakePresets.json
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/examples/minimal_build/CMakeLists.txt
Labels: Component: C++, awaiting change review

#47150 GH-47128: [Python] Numba-CUDA interop with NVIDIA bindings
  .env
  ci/docker/linux-apt-python-3.dockerfile
  ci/scripts/install_numba.sh
  docker-compose.yml
  python/pyarrow/_cuda.pyx
Labels: Component: Python, awaiting review

#47333 GH-47332: [C++][Compute] Fix the issue that the arguments of function call become invalid before wrapping results
  cpp/src/arrow/compute/expression.cc
  cpp/src/arrow/compute/expression_test.cc
Labels: Component: C++, awaiting merge

#47145 GH-47143: [Dev] Ignore `apache-arrow.tar.gz`
  .gitignore
Labels: awaiting review

#47324 MINOR: [R] Update NEWS for 21.0.0.1 Release
  r/NEWS.md
Labels: Component: R, Component: Documentation, awaiting merge

#47322 GH-47321: [CI][Dev] Fix shellcheck errors in the ci/scripts/python_sdist_test.sh
  .pre-commit-config.yaml
  ci/scripts/python_sdist_test.sh
Labels: awaiting change review

#47152 GH-45860: [C++] Respect CPU affinity in cpu_count and ThreadPool default capacity
  cpp/src/arrow/result.h
  cpp/src/arrow/util/io_util.cc
  cpp/src/arrow/util/io_util.h
  cpp/src/arrow/util/io_util_test.cc
  cpp/src/arrow/util/thread_pool.cc
  cpp/src/arrow/util/thread_pool.h
  cpp/src/arrow/util/thread_pool_test.cc
  docs/source/cpp/threading.rst
Labels: Component: C++, Component: Documentation, awaiting committer review

#47297 GH-47287: [C++][Compute] Add constraint for kernel signature matching and use it for binary decimal arithmetic kernels
  cpp/src/arrow/compute/function.cc
  cpp/src/arrow/compute/function.h
  cpp/src/arrow/compute/kernel.cc
  cpp/src/arrow/compute/kernel.h
  cpp/src/arrow/compute/kernel_test.cc
  cpp/src/arrow/compute/kernels/scalar_arithmetic.cc
  cpp/src/arrow/compute/kernels/scalar_arithmetic_test.cc
  cpp/src/arrow/compute/kernels/test_util_internal.cc
  cpp/src/arrow/compute/kernels/test_util_internal.h
Labels: Component: C++, awaiting changes

#47354 GH-43355: [C++] Don't require `__once_proxy` in `symbols.map`
  cpp/src/gandiva/symbols.map
  cpp/src/parquet/symbols.map
Labels: Component: Parquet, Component: C++, Component: Gandiva, awaiting committer review

#47406 MINOR: [Docs] Remove needless "version" from "New in version Arrow Columnar Format"
  docs/source/format/Columnar.rst
Labels: Component: Documentation, awaiting committer review

#47278 GH-47257: [R] Fix truncation of time variables to work with numeric subseconds time with hms bindings
  r/R/dplyr-funcs-datetime.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
Labels: Component: R, awaiting merge

#47242 GH-47241: [C++][Parquet] Fix VariantExtensionType conversion
  cpp/src/parquet/arrow/arrow_schema_test.cc
  cpp/src/parquet/arrow/schema.cc
  cpp/src/parquet/schema_test.cc
  cpp/src/parquet/types.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#47302 GH-47301: [Python] Fix FileFragment.open() seg fault behavior for file-like objects
  python/pyarrow/_dataset.pyx
  python/pyarrow/includes/libarrow_dataset.pxd
  python/pyarrow/tests/test_dataset.py
Labels: Component: Python, awaiting merge

#47405 GH-47404: [Ruby] Remove needless `require "extpp/setup"`
  ruby/red-arrow/lib/arrow/ruby.rb
Labels: Component: Ruby, awaiting committer review

#47407 GH-47401: [C++] Remove needless Snappy patch
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/cmake_modules/snappy.diff
Labels: Component: C++, awaiting committer review

#47316 GH-41476: [Python][C++] Impossible to specify `is_adjusted_to_utc` for `Time` type when writing to Parquet
  cpp/src/parquet/arrow/arrow_schema_test.cc
  cpp/src/parquet/arrow/schema.cc
  cpp/src/parquet/properties.h
Labels: Component: Parquet, Component: C++, awaiting committer review

#47227 GH-47243: [C++] Initialize arrow::compute in execution_plan_documentation_examples
  cpp/examples/arrow/dataset_documentation_example.cc
  cpp/examples/arrow/execution_plan_documentation_examples.cc
Labels: Component: C++, awaiting changes

#47284 GH-47268: [C++][Compute] Fix discarded bad status for call binding
  cpp/src/arrow/compute/expression.cc
  cpp/src/arrow/compute/expression_test.cc
Labels: Component: C++, awaiting merge

#47411 GH-47157: [Docs] Improve presentation of Other available packages section in build_system.rst
  docs/source/cpp/build_system.rst
Labels: Component: Documentation, awaiting committer review
