Repository apache/arrow, pull requests merged in 2025-07, with the labels that each got.

#46948 GH-46947: [R][Packaging] Add src/arrow/flight/sql/odbc to source excludes
  r/bootstrap.R
Labels: Component: R, awaiting merge

#45756 MINOR: [R] Remove whitespace after operator""
  r/src/filesystem.cpp
Labels: Component: R, awaiting committer review

#46917 GH-46916: [R] Test for negative fractional dates fails on older R versions due to change in base R as.Date()
  r/tests/testthat/test-Array.R
Labels: Component: R, awaiting merge

#46815 GH-46683: [C++][Python] Add utf8_zero_fill compute function for sign-aware zero padding
  cpp/src/arrow/compute/api_scalar.cc
  cpp/src/arrow/compute/api_scalar.h
  cpp/src/arrow/compute/kernels/scalar_string_test.cc
  cpp/src/arrow/compute/kernels/scalar_string_utf8.cc
  docs/source/cpp/compute.rst
  docs/source/python/api/compute.rst
  python/pyarrow/_compute.pyx
  python/pyarrow/compute.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, Component: Documentation, awaiting committer review

#46813 GH-46207: [C++] Rename arrow::util::StringBuilder and move to internal namespace
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/flight/transport/grpc/util_internal.cc
  cpp/src/arrow/flight/types.cc
  cpp/src/arrow/meson.build
  cpp/src/arrow/status.h
  cpp/src/arrow/testing/gtest_util.h
  cpp/src/arrow/util/bitmap.h
  cpp/src/arrow/util/bitset_stack_internal.h
  cpp/src/arrow/util/meson.build
  cpp/src/arrow/util/string_util.cc
  cpp/src/arrow/util/string_util.h
  cpp/src/parquet/exception.h
Labels: Component: Parquet, Component: C++, Component: FlightRPC, awaiting merge

#45089 GH-44900: [Python] Support explicit `fsspec+{protocol}` and `hf://` filesystem URIs
  docs/source/python/filesystems.rst
  python/pyarrow/_fs.pyx
  python/pyarrow/fs.py
  python/pyarrow/parquet/core.py
  python/pyarrow/tests/parquet/test_parquet_file.py
  python/pyarrow/tests/test_fs.py
Labels: Component: Python, Component: Documentation, awaiting changes

#46953 GH-46952: [Packaging] Drop support for CentOS Stream 8
  dev/release/verify-release-candidate.sh
  dev/release/verify-yum.sh
  dev/tasks/linux-packages/apache-arrow-release/yum/apache-arrow-release.spec.in
  dev/tasks/linux-packages/apache-arrow-release/yum/centos-8-stream/Dockerfile
  dev/tasks/linux-packages/apache-arrow/yum/centos-8-stream-aarch64/from
  dev/tasks/linux-packages/apache-arrow/yum/centos-8-stream/Dockerfile
  dev/tasks/linux-packages/package-task.rb
  dev/tasks/tasks.yml
Labels: awaiting changes

#46715 GH-46714: [C++] Use hidden symbol visibility in Meson configuration
  cpp/src/arrow/acero/meson.build
  cpp/src/arrow/array/array_base.h
  cpp/src/arrow/compute/expression.cc
  cpp/src/arrow/compute/expression.h
  cpp/src/arrow/compute/expression_test.cc
  cpp/src/arrow/compute/kernels/ree_util_internal.h
  cpp/src/arrow/compute/util.h
  cpp/src/arrow/filesystem/azurefs_internal.h
  cpp/src/arrow/filesystem/mockfs.cc
  cpp/src/arrow/meson.build
  cpp/src/arrow/util/decimal.cc
  cpp/src/arrow/util/float16.cc
Labels: Component: C++, awaiting change review, CI: Extra

#46883 GH-45290: [Docs][Release] Change show_version_warning_banner substitution
  dev/release/post-09-docs.sh
Labels: awaiting merge

#46870 GH-46863: [CI][C++] Suppress a false positive UBSAN error in AWS SDK for C++
  r/tools/ubsan.supp
Labels: Component: R, awaiting change review

#46966 GH-46968: [CI][Packaging] Synchronize conan files for 20.0.0
  ci/conan/all/conandata.yml
  ci/conan/all/conanfile.py
  ci/conan/all/patches/20.0.0-0001-fix-downloaded-mimalloc.patch
  ci/conan/config.yml
  ci/conan/merge_status.sh
Labels: awaiting committer review

#44184 GH-35166: [C++][Compute] Increase precision of decimals in sum aggregates
  cpp/src/arrow/acero/hash_aggregate_test.cc
  cpp/src/arrow/compute/kernels/aggregate_basic.cc
  cpp/src/arrow/compute/kernels/aggregate_basic.inc.cc
  cpp/src/arrow/compute/kernels/aggregate_test.cc
  cpp/src/arrow/compute/kernels/codegen_internal.cc
  cpp/src/arrow/compute/kernels/codegen_internal.h
  cpp/src/arrow/compute/kernels/codegen_internal_test.cc
  cpp/src/arrow/compute/kernels/hash_aggregate_numeric.cc
  docs/source/cpp/compute.rst
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, Component: Documentation, awaiting committer review

#46977 MINOR: [Docs] Disable tracking in kapa AI bot
  docs/source/_templates/kapa-ai-bot.html
  r/_pkgdown.yml
Labels: Component: R, Component: Documentation, awaiting committer review

#46975 GH-46974: [Integration][Archery] Add support for ARROW_JS_ROOT
  ci/scripts/integration_arrow.sh
  dev/archery/archery/integration/tester_js.py
Labels: awaiting merge

#46932 GH-46869: [C++][Parquet] Deprecate `arrow::Status parquet::arrow::FileReadeder::GetRecordBatchReader()`
  cpp/src/parquet/arrow/reader.h
Labels: Component: Parquet, Component: C++, awaiting merge

#46987 GH-46986: [CI][C++] Fix a build error with C++20
  cpp/src/arrow/compute/kernels/scalar_string_test.cc
Labels: Component: C++, awaiting changes

#46922 GH-46915: [C++][Compute] Initialize Compute kernels on benchmarks that require extra kernels
  cpp/cmake_modules/BuildUtils.cmake
  cpp/src/arrow/acero/CMakeLists.txt
  cpp/src/arrow/compute/CMakeLists.txt
  cpp/src/arrow/compute/benchmark_main.cc
  cpp/src/arrow/compute/kernels/CMakeLists.txt
  cpp/src/arrow/dataset/CMakeLists.txt
Labels: Component: C++, awaiting change review

#46999 GH-46998: [C++] Fix mockfs.cc compiling error with C++23
  cpp/src/arrow/filesystem/mockfs.cc
Labels: Component: C++, awaiting merge

#47011 GH-47009: [C#] ExportedAllocationOwner should use 64-bit integer to track total allocated memory.
  csharp/src/Apache.Arrow/Memory/ExportedAllocationOwner.cs
  csharp/test/Apache.Arrow.Tests/CDataInterfaceDataTests.cs
Labels: Component: C#, awaiting review

#46898 GH-46897: [Docs][C++][Python] Fix asof join documentation
  cpp/src/arrow/acero/options.h
  python/pyarrow/_acero.pyx
  python/pyarrow/_dataset.pyx
  python/pyarrow/table.pxi
Labels: Component: C++, Component: Python, awaiting committer review

#47026 GH-47025: [C++][Docs] Increase minimum gcc for building from 7.1 to 9
  docs/source/developers/cpp/building.rst
Labels: Component: Documentation, awaiting review

#46912 GH-46745: [C++] Update bundled Boost to 1.88.0 and Apache Thrift to 0.22.0
  .env
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/cmake_modules/thrift-cstdint.patch
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/acero/meson.build
  cpp/src/arrow/flight/sql/CMakeLists.txt
  cpp/src/arrow/testing/process.cc
  cpp/src/arrow/util/meson.build
  cpp/thirdparty/update.rb
  cpp/thirdparty/versions.txt
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-jammy/Dockerfile
  dev/tasks/linux-packages/apache-arrow/yum/amazon-linux-2023/Dockerfile
  dev/tasks/linux-packages/apache-arrow/yum/centos-7/Dockerfile
Labels: Component: C++, Component: FlightRPC, awaiting merge, CI: Extra

#47013 GH-47012: [C++][Parquet] Reserve values correctly when reading BYTE_ARRAY and FLBA
  ci/scripts/cpp_test.sh
  cpp/build-support/run-test.sh
  cpp/src/parquet/column_reader.cc
Labels: Component: Parquet, Component: C++

#47038 GH-47037: [CI][C++] Fix Fedora 39 CI jobs
  ci/docker/fedora-39-cpp.dockerfile
Labels: awaiting merge

#47044 GH-46938: [C++] Enhance arrow::ChunkedArray::Equals to support floating-point comparison when values share the same memory
  cpp/src/arrow/chunked_array.cc
  cpp/src/arrow/chunked_array_test.cc
Labels: Component: C++, awaiting review

#47060 GH-38211: [MATLAB] Add support for creating an empty `arrow.tabular.RecordBatch` by calling `arrow.recordBatch` with no input arguments
  matlab/src/matlab/+arrow/recordBatch.m
  matlab/test/arrow/tabular/tRecordBatch.m
Labels: Component: MATLAB

#47066 GH-47065: [Release] Fix timeout key in verify_rc.yml
  .github/workflows/verify_rc.yml
Labels: awaiting committer review

#47072 GH-47071: [Release] Dereference all hard links in source archive
  .github/workflows/release_candidate.yml
  dev/release/utils-create-release-tarball.sh
Labels: awaiting committer review

#47076 GH-47074: [Release] Use reproducible mtime for csharp/ in source archive
  dev/release/utils-create-release-tarball.sh
  dev/release/verify-release-candidate.sh
Labels: awaiting committer review

#47006 GH-47005: [C++] Disable exporting CMake packages
  cpp/CMakeLists.txt
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#47098 GH-41110: [C#] Handle empty stream in ArrowStreamReaderImplementation
  csharp/src/Apache.Arrow/Ipc/ArrowStreamReaderImplementation.cs
  csharp/test/Apache.Arrow.Tests/ArrowStreamReaderTests.cs
Labels: Component: C#, awaiting review

#47032 GH-47027: [C++][Parquet] Fix repeated column pages not being written when reaching page size limit
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/column_writer_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#47089 GH-47088: [CI][Dev] Fix shellcheck errors in the ci/scripts/integration_arrow.sh
  .pre-commit-config.yaml
  ci/scripts/integration_arrow.sh
Labels: awaiting review

#46017 GH-31603: [C++] Wrap Parquet encryption keys in SecureString
  cpp/examples/arrow/parquet_column_encryption.cc
  cpp/examples/parquet/low_level_api/encryption_reader_writer.cc
  cpp/examples/parquet/low_level_api/encryption_reader_writer_all_crypto_options.cc
  cpp/src/arrow/dataset/file_parquet_encryption_test.cc
  cpp/src/parquet/encryption/crypto_factory.cc
  cpp/src/parquet/encryption/encryption.cc
  cpp/src/parquet/encryption/encryption.h
  cpp/src/parquet/encryption/file_key_unwrapper.cc
  cpp/src/parquet/encryption/file_key_unwrapper.h
  cpp/src/parquet/encryption/file_key_wrapper.cc
  cpp/src/parquet/encryption/file_key_wrapper.h
  cpp/src/parquet/encryption/internal_file_decryptor.cc
  cpp/src/parquet/encryption/internal_file_decryptor.h
  cpp/src/parquet/encryption/internal_file_encryptor.cc
  cpp/src/parquet/encryption/internal_file_encryptor.h
  cpp/src/parquet/encryption/key_encryption_key.h
  cpp/src/parquet/encryption/key_management_test.cc
  cpp/src/parquet/encryption/key_toolkit.h
  cpp/src/parquet/encryption/key_toolkit_internal.cc
  cpp/src/parquet/encryption/key_toolkit_internal.h
  cpp/src/parquet/encryption/key_wrapping_test.cc
  cpp/src/parquet/encryption/kms_client.h
  cpp/src/parquet/encryption/local_wrap_kms_client.cc
  cpp/src/parquet/encryption/local_wrap_kms_client.h
  cpp/src/parquet/encryption/properties_test.cc
  cpp/src/parquet/encryption/read_configurations_test.cc
  cpp/src/parquet/encryption/test_encryption_util.cc
  cpp/src/parquet/encryption/test_encryption_util.h
  cpp/src/parquet/encryption/test_in_memory_kms.cc
  cpp/src/parquet/encryption/test_in_memory_kms.h
  cpp/src/parquet/encryption/write_configurations_test.cc
  cpp/src/parquet/file_reader.cc
  cpp/src/parquet/metadata.cc
Labels: Component: Parquet, Component: C++, awaiting change review

#47109 GH-38572: [Docs][MATLAB] Update `arrow/matlab/README.md` with the latest change.
  matlab/README.md
  matlab/doc/matlab_interface_for_apache_arrow_design.md
Labels: Component: MATLAB, Component: Documentation, awaiting changes

#47107 GH-38213: [MATLAB] Create a superclass for tabular type MATLAB tests (i.e. for `Table` and `RecordBatch`)
  matlab/test/arrow/tabular/hTabular.m
  matlab/test/arrow/tabular/tRecordBatch.m
  matlab/test/arrow/tabular/tTable.m
Labels: Component: MATLAB, awaiting merge

#47116 GH-38422: [MATLAB] Add `NumNulls` property to `arrow.array.Array` class
  matlab/src/cpp/arrow/matlab/array/proxy/array.cc
  matlab/src/cpp/arrow/matlab/array/proxy/array.h
  matlab/src/matlab/+arrow/+array/Array.m
  matlab/test/arrow/array/hNumericArray.m
  matlab/test/arrow/array/tBooleanArray.m
  matlab/test/arrow/array/tDate32Array.m
  matlab/test/arrow/array/tDate64Array.m
  matlab/test/arrow/array/tListArray.m
  matlab/test/arrow/array/tStringArray.m
  matlab/test/arrow/array/tStructArray.m
  matlab/test/arrow/array/tTime32Array.m
  matlab/test/arrow/array/tTime64Array.m
  matlab/test/arrow/array/tTimestampArray.m
Labels: Component: MATLAB, awaiting merge

#47004 GH-47040: [C++] Refine reset of Span to be reusable
  cpp/src/arrow/util/tracing.cc
  cpp/src/arrow/util/tracing_internal.h
  cpp/src/arrow/util/tracing_test.cc
Labels: Component: C++, awaiting merge

#47122 MINOR: [R] Add Bryce to authors list
  r/DESCRIPTION
Labels: Component: R, awaiting merge

#47142 GH-46374: [Python][Doc] Improve docs to specify that source argument on parquet.read_table can also be a list of strings
  python/pyarrow/parquet/core.py
Labels: Component: Python, awaiting review

#47126 GH-47125: [CI][Dev] Fix shellcheck errors in the ci/scripts/integration_hdfs.sh
  .pre-commit-config.yaml
  ci/scripts/integration_hdfs.sh
Labels: awaiting review

#47166 GH-47165: [Python] Update s3 test with new non-existent bucket
  python/pyarrow/tests/test_fs.py
Labels: Component: Python, awaiting merge

#47170 MINOR: [Docs][Python] Fix usage of pyarrow and PyArrow in extending_types.rst
  docs/source/python/extending_types.rst
Labels: Component: Documentation, awaiting committer review

#47115 GH-45055: [C++][Flight] Update Flight Server RecordBatchStreamImpl to reuse ipc::RecordBatchWriter with custom IpcPayloadWriter instead of manually generating FlightPayload
  cpp/src/arrow/flight/server.cc
  cpp/src/arrow/flight/sql/example/sqlite_tables_schema_batch_reader.cc
  python/pyarrow/tests/test_flight.py
Labels: Component: C++, Component: Python, Component: FlightRPC, awaiting merge

#47194 GH-47193: [R] Update R Makefile to exclude flight odbc from cpp sync
  r/Makefile
Labels: Component: R, awaiting committer review

#47221 GH-47175: [C++] Require xsimd 13.0.0 or later
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#47209 GH-47203: [C++] Restore CMAKE_DEBUG_POSTFIX in building bundled Apache Thrift
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#47183 GH-47101: [Statistics][C++] Implement Statistics specification attribute ARROW:distinct_count:approximate
  c_glib/arrow-glib/basic-array.cpp
  c_glib/arrow-glib/basic-array.h
  c_glib/test/test-array-statistics.rb
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/statistics.h
  cpp/src/arrow/array/statistics_test.cc
  cpp/src/arrow/compare.cc
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch_test.cc
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/parquet/test_parquet_file.py
  ruby/red-arrow/lib/arrow/array-statistics.rb
  ruby/red-arrow/lib/arrow/libraries.rb
  ruby/red-parquet/test/test-array-statistics.rb
Labels: Component: Parquet, Component: C++, Component: Python, Component: Ruby, Component: GLib, awaiting change review

#47017 GH-47016: [C++][FlightSQL] Fix negative timestamps to date types
  cpp/src/arrow/flight/sql/odbc/flight_sql/accessors/date_array_accessor.cc
  cpp/src/arrow/flight/sql/odbc/flight_sql/accessors/date_array_accessor_test.cc
  cpp/src/arrow/flight/sql/odbc/flight_sql/accessors/time_array_accessor.cc
  cpp/src/arrow/flight/sql/odbc/flight_sql/accessors/time_array_accessor_test.cc
  cpp/src/arrow/flight/sql/odbc/flight_sql/accessors/timestamp_array_accessor.cc
  cpp/src/arrow/flight/sql/odbc/flight_sql/accessors/timestamp_array_accessor_test.cc
  cpp/src/arrow/flight/sql/odbc/odbcabstraction/calendar_utils.cc
  cpp/src/arrow/flight/sql/odbc/odbcabstraction/include/odbcabstraction/calendar_utils.h
Labels: Component: C++, Component: FlightRPC, awaiting change review

#47247 MINOR: [R] Update backwards compat job for 21.0.0
  dev/tasks/r/github.linux.arrow.version.back.compat.yml
Labels: awaiting committer review
