Repository apache/arrow, pull requests merged in 2025-06, with the labels that each got.

#46657 GH-46656: [CI][Dev] Fix shellcheck SC2034 and SC2086 errors in ci/scripts directory
  .pre-commit-config.yaml
  ci/scripts/install_conda.sh
  ci/scripts/integration_spark.sh
  ci/scripts/nanoarrow_build.sh
Labels: awaiting change review

#46595 GH-46546: [CI][Dev][Python] Use pre-commit for numpydoc
  .pre-commit-config.yaml
  python/pyproject.toml
Labels: Component: Python, awaiting changes

#46638 GH-46633: [Docs][C++][Python] Update CombineChunks documentation to specify that binary columns can be combined into multiple chunks
  cpp/src/arrow/table.h
  python/pyarrow/table.pxi
Labels: Component: C++, Component: Python, awaiting committer review

#46635 GH-46623: [C++][Compute] Fix the failure of large memory test in arrow-compute-row-test
  cpp/src/arrow/compute/row/compare_test.cc
Labels: Component: C++, awaiting committer review

#46648 GH-46632: [R][Docs] Add docs for arrow::one
  r/R/dplyr-funcs-agg.R
  r/man/one.Rd
Labels: Component: R, awaiting merge

#46640 MINOR: [R][Docs] Fix package title text not showing
  r/pkgdown/extra.css
Labels: Component: R, awaiting merge

#46680 GH-46679: [C++][Meson] Use WrapDB entry for gflags instead of CMake wrapper
  cpp/subprojects/gflags.wrap
Labels: Component: C++, awaiting review, CI: Extra

#46685 GH-46684: [C++] Fix Meson configuration issue on Windows
  cpp/src/arrow/util/meson.build
Labels: Component: C++, awaiting review, CI: Extra

#46566 GH-46572: [Python] expose filter option to python for join
  python/pyarrow/_acero.pyx
  python/pyarrow/acero.py
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_acero.py
Labels: Component: Python, awaiting merge

#46408 GH-46407: [C++] Fix IPC serialization of sliced list arrays
  cpp/src/arrow/ipc/feather_test.cc
  cpp/src/arrow/ipc/read_write_test.cc
  cpp/src/arrow/ipc/test_common.cc
  cpp/src/arrow/ipc/test_common.h
  cpp/src/arrow/ipc/writer.cc
Labels: Component: C++, awaiting committer review

#46694 GH-46693: [CI] Update GitHub hosted runner from deprecated windows-2019 to windows-2022
  .github/workflows/cpp.yml
  .github/workflows/csharp.yml
  .github/workflows/r.yml
  .github/workflows/ruby.yml
  dev/release/verify-release-candidate.bat
  dev/tasks/tasks.yml
  dev/tasks/vcpkg-tests/cpp-build-vcpkg.bat
  dev/tasks/vcpkg-tests/github.windows.yml
  dev/tasks/verify-rc/github.win.yml
  docs/source/developers/cpp/windows.rst
Labels: Component: Documentation, awaiting merge

#46682 GH-46673: [CI][R][Docs] Accept empty INSTALL_ARGS again
  ci/scripts/r_build.sh
Labels: awaiting change review

#46695 GH-46439: [C++] Remove unneeded namespace prefix in test_util_internal.h
  cpp/src/arrow/dataset/test_util_internal.h
Labels: Component: C++, awaiting review

#46618 GH-46611: [Python][C++] Allow building float16 arrays without numpy
  python/pyarrow/includes/common.pxd
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/includes/libarrow_python.pxd
  python/pyarrow/scalar.pxi
  python/pyarrow/src/arrow/python/helpers.cc
  python/pyarrow/src/arrow/python/helpers.h
  python/pyarrow/src/arrow/python/python_to_arrow.cc
  python/pyarrow/src/arrow/python/type_traits.h
  python/pyarrow/tests/test_array.py
  python/pyarrow/tests/test_pandas.py
  python/pyarrow/tests/test_scalars.py
Labels: Component: Python, awaiting changes

#46696 GH-46439: [C++] Use result pattern for all FromJSONString Helpers
  cpp/examples/arrow/from_json_string_example.cc
  cpp/src/arrow/json/from_string.cc
  cpp/src/arrow/json/from_string.h
  cpp/src/arrow/json/from_string_test.cc
  cpp/src/arrow/testing/gtest_util.cc
  python/pyarrow/src/arrow/python/gdb.cc
Labels: Component: C++, Component: Python, awaiting merge

#46700 GH-46699: [CI][Dev] fix shellcheck errors in the ci/scripts/cpp_test.sh
  .pre-commit-config.yaml
  ci/scripts/cpp_test.sh
Labels: awaiting review, CI: Extra

#46731 GH-46729: [Python] Allow constructing InMemoryDataset from RecordBatchReader
  python/pyarrow/_dataset.pyx
  python/pyarrow/dataset.py
  python/pyarrow/tests/test_dataset.py
Labels: Component: Python, awaiting merge

#46142 GH-46141: [C++] Add flight directory to Meson configuration
  cpp/meson.build
  cpp/meson.options
  cpp/src/arrow/flight/meson.build
  cpp/src/arrow/meson.build
  cpp/subprojects/abseil-cpp.wrap
  cpp/subprojects/c-ares.wrap
  cpp/subprojects/grpc.wrap
  cpp/subprojects/protobuf.wrap
Labels: Component: C++, Component: FlightRPC, awaiting change review, CI: Extra

#46422 GH-46395: [C++][Statistics] Use EqualOptions for min and max in arrow::ArrayStatistics::Equals()
  cpp/src/arrow/array/statistics.h
  cpp/src/arrow/array/statistics_test.cc
  cpp/src/arrow/compare.cc
  cpp/src/arrow/compare.h
Labels: Component: C++, awaiting merge

#46706 GH-46704: [C++] Fix OSS-Fuzz build failure
  cpp/build-support/fuzzing/pack_corpus.py
  cpp/src/arrow/ipc/test_common.cc
  cpp/src/arrow/ipc/writer.cc
Labels: Component: C++, awaiting merge

#46744 GH-46736: [CI] Disable Parquet in conan-minimum
  ci/scripts/conan_build.sh
Labels: awaiting committer review

#46727 GH-46726: [CI][Dev] fix shellcheck errors in the ci/scripts/conan_build.sh
  .pre-commit-config.yaml
  ci/scripts/conan_build.sh
Labels: awaiting merge

#45818 GH-45653: [Python] Scalar subclasses should implement Python protocols
  docs/source/python/compute.rst
  python/pyarrow/scalar.pxi
  python/pyarrow/tests/test_scalars.py
Labels: Component: Python, Component: Documentation, awaiting change review

#46770 GH-46516: [CI][Python] Force Cython>3.1.1 for docs builds
  ci/conda_env_sphinx.txt
  docs/requirements.txt
  python/pyarrow/types.pxi
Labels: Component: Python, Component: Documentation

#46765 GH-46764: [C++][Gandiva] Fix wrong `.bc` depends
  cpp/cmake_modules/GandivaAddBitcode.cmake
Labels: Component: C++, awaiting committer review

#46766 GH-46763: [CI][Dev] fix shellcheck errors in the ci/scripts/ccache_setup.sh
  .github/workflows/cpp.yml
  .github/workflows/cpp_extra.yml
  .github/workflows/ruby.yml
  .pre-commit-config.yaml
  ci/scripts/ccache_setup.sh
Labels: awaiting review

#46711 GH-46710: [C++] Fix ownership and lifetime issues in Dataset Writer
  cpp/src/arrow/dataset/dataset_writer.cc
  cpp/src/arrow/util/async_util.cc
Labels: Component: C++, awaiting committer review

#46790 GH-46787: [CI][Integration] Use Node.js 20
  ci/docker/conda-integration.dockerfile
Labels: awaiting committer review

#46686 GH-46528: [CI][Dev] Remove "archery lint"
  .github/workflows/dev.yml
  .github/workflows/r.yml
  .pre-commit-config.yaml
  LICENSE.txt
  NOTICE.txt
  ci/docker/linux-apt-lint.dockerfile
  ci/scripts/install_iwyu.sh
  cpp/CMakeLists.txt
  cpp/build-support/cpplint.py
  cpp/build-support/iwyu/iwyu-filter.awk
  cpp/build-support/iwyu/iwyu.sh
  cpp/build-support/iwyu/iwyu_tool.py
  cpp/build-support/iwyu/mappings/arrow-misc.imp
  cpp/build-support/iwyu/mappings/boost-all-private.imp
  cpp/build-support/iwyu/mappings/boost-all.imp
  cpp/build-support/iwyu/mappings/boost-extra.imp
  cpp/build-support/iwyu/mappings/gflags.imp
  cpp/build-support/iwyu/mappings/glog.imp
  cpp/build-support/iwyu/mappings/gmock.imp
  cpp/build-support/iwyu/mappings/gtest.imp
  cpp/build-support/lint_cpp_cli.py
  cpp/build-support/lint_exclusions.txt
  cpp/build-support/lintutils.py
  cpp/build-support/run-infer.sh
  cpp/build-support/run_clang_format.py
  cpp/build-support/run_clang_tidy.py
  cpp/build-support/run_cpplint.py
  cpp/cmake_modules/DefineOptions.cmake
  dev/archery/archery/cli.py
  dev/archery/archery/lang/cpp.py
  dev/archery/archery/lang/python.py
  dev/archery/archery/utils/lint.py
  dev/archery/archery/utils/rat.py
  dev/archery/setup.py
  docker-compose.yml
  docs/source/developers/cpp/development.rst
  docs/source/developers/guide/step_by_step/styling.rst
  docs/source/developers/guide/tutorials/python_tutorial.rst
  docs/source/developers/python.rst
  r/lint.sh
  r/tools/lint.R
  r/vignettes/developers/workflow.Rmd
Labels: Component: R, Component: C++, Component: Documentation, awaiting changes

#46799 GH-46798: [CI][Dev] Add support for pre-commit 2.17.0
  .github/workflows/dev.yml
  .pre-commit-config.yaml
Labels: awaiting committer review

#46802 GH-46801: [Dev] Remove some leftovers for Java, Go, JS and Swift on some config files
  .editorconfig
  .github/CODEOWNERS
  .github/workflows/dev_pr/labeler.yml
Labels: awaiting merge

#46812 GH-46805: [CI][Dev] Fix caching for R hooks in lint job
  .github/workflows/dev.yml
Labels: awaiting review, awaiting merge

#46810 GH-46809: [CI][Packaging] Stop trying to add headers from arrow/compu…
  dev/tasks/linux-packages/apache-arrow/yum/arrow.spec.in
Labels: awaiting committer review

#46758 GH-46757: [CI][Packaging][Conan] Synchronize upstream conan
  ci/conan/all/conandata.yml
  ci/conan/all/conanfile.py
  ci/conan/all/patches/19.0.1-0001-fix-cmake.patch
  ci/conan/all/patches/19.0.1-0002-fix-downloaded-mimalloc.patch
  ci/conan/all/test_package/CMakeLists.txt
  ci/conan/config.yml
  ci/conan/merge_status.sh
Labels: awaiting change review

#46821 GH-46820: [CI][Integration] Use Node.js 20 by default
  .env
  ci/docker/conda-integration.dockerfile
  ci/scripts/integration_arrow.sh
Labels: awaiting merge

#46855 GH-46854: [CI][MATLAB][Packaging] Add support for MATLAB `R2025a` in CI and crossbow packaging workflows
  .github/workflows/matlab.yml
  dev/tasks/matlab/github.yml
Labels: awaiting review

#46850 MINOR: [Ruby] Simplify dense union array RecordBatch creation in tests
  ruby/red-arrow/test/raw-records/test-dense-union-array.rb
Labels: Component: Ruby, awaiting changes

#46862 GH-37561: [Ruby] Add empty chunked array tests for Arrow::Table#each_raw_records
  ruby/red-arrow/test/raw-records/test-dense-union-array.rb
  ruby/red-arrow/test/raw-records/test-dictionary-array.rb
  ruby/red-arrow/test/raw-records/test-list-array.rb
  ruby/red-arrow/test/raw-records/test-map-array.rb
  ruby/red-arrow/test/raw-records/test-multiple-columns.rb
  ruby/red-arrow/test/raw-records/test-sparse-union-array.rb
  ruby/red-arrow/test/raw-records/test-struct-array.rb
Labels: Component: Ruby

#46845 GH-46843: [C++] Don't use unity build for bundled AWS SDK for C++
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting merge

#46778 GH-46771: [Python][C++] Implement pa.arange function to generate array sequences
  python/CMakeLists.txt
  python/pyarrow/__init__.py
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow_python.pxd
  python/pyarrow/src/arrow/python/api.h
  python/pyarrow/src/arrow/python/util.cc
  python/pyarrow/src/arrow/python/util.h
  python/pyarrow/tests/test_array.py
Labels: Component: Python, awaiting merge

#46834 GH-46831: [C++][R] Remove some pending references to CMake < 3.25 (docs + minor CMake references)
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/examples/minimal_build/CMakeLists.txt
  docs/source/developers/cpp/building.rst
  r/DESCRIPTION
Labels: Component: R, Component: C++, Component: Documentation, awaiting merge

#46675 GH-46674: [C++] Construct Array from ExtensionType Scalar
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/util.cc
Labels: Component: C++, awaiting merge

#46842 GH-46841 [C++][Gandiva] Fix date trunc edge case
  cpp/src/gandiva/precompiled/time.cc
  cpp/src/gandiva/precompiled/time_test.cc
Labels: Component: C++, Component: Gandiva, awaiting merge

#46876 GH-45713: [GLib] Add garrow_chunked_array_(import|export)()
  c_glib/arrow-glib/chunked-array.cpp
  c_glib/arrow-glib/chunked-array.h
  c_glib/test/test-chunked-array.rb
Labels: Component: GLib, awaiting review

#46874 GH-46094: [C++][Docs] Add note to RleDecoder::Get's doc comment
  cpp/src/arrow/util/rle_encoding_internal.h
Labels: Component: C++, awaiting review

#46847 GH-46846: [CI][Dev] Fix shellcheck errors in the ci/scripts/install_dask.sh
  .pre-commit-config.yaml
  ci/scripts/install_dask.sh
Labels: awaiting review

#46868 GH-46871: [C++][Parquet] Restore implementation of 3 arrow::FileReader::GetRecordBatchReader() functions
  cpp/src/parquet/arrow/reader.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#46885 GH-46877: [MATLAB] Add `arrow.tabular.Table.fromRecordBatches` static method
  matlab/src/cpp/arrow/matlab/error/error.h
  matlab/src/cpp/arrow/matlab/tabular/proxy/table.cc
  matlab/src/matlab/+arrow/+tabular/Table.m
  matlab/src/matlab/+arrow/table.m
  matlab/test/arrow/tabular/tTable.m
Labels: Component: MATLAB, awaiting merge

#46742 GH-46746: [C++] Assume AWS SDK >= 1.11.0
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/src/arrow/filesystem/s3_internal.h
  cpp/src/arrow/filesystem/s3fs.cc
Labels: Component: C++, awaiting merge, CI: Extra

#46896 GH-46895: [CI][Dev] Fix shellcheck errors in the ci/scripts/install_minio.sh
  .pre-commit-config.yaml
  ci/scripts/install_minio.sh
Labels: awaiting review

#46723 GH-46214: [C++] Improve S3 client initialization
  cpp/src/arrow/filesystem/s3fs.cc
  cpp/src/arrow/filesystem/s3fs.h
  cpp/src/arrow/filesystem/s3fs_test.cc
Labels: Component: C++, awaiting review

#46866 GH-45083: [C++] Add HalfFloat kernels for is_nan, is_inf, is_finite, negate, negate_checked, sign
  cpp/src/arrow/compute/kernels/base_arithmetic_internal.h
  cpp/src/arrow/compute/kernels/codegen_internal.h
  cpp/src/arrow/compute/kernels/scalar_arithmetic.cc
  cpp/src/arrow/compute/kernels/scalar_arithmetic_test.cc
  cpp/src/arrow/compute/kernels/scalar_validity.cc
  cpp/src/arrow/compute/kernels/scalar_validity_test.cc
  cpp/src/arrow/compute/kernels/vector_cumulative_ops.cc
  cpp/src/arrow/util/float16.h
  cpp/src/arrow/util/hashing.h
  cpp/src/arrow/util/value_parsing.cc
  cpp/src/arrow/util/value_parsing.h
  cpp/src/arrow/util/value_parsing_test.cc
  docs/source/cpp/compute.rst
Labels: Component: C++, Component: Documentation, awaiting merge

#45881 GH-40754: [Python] Expose tls_ca_file_path to S3FileSystem
  python/pyarrow/_s3fs.pyx
  python/pyarrow/includes/libarrow_fs.pxd
  python/pyarrow/tests/test_fs.py
Labels: Component: Python, awaiting committer review

#46789 GH-46788: [C++][Parquet] Enable SIMD for byte stream split with 2 streams
  cpp/src/arrow/util/byte_stream_split_internal.h
  cpp/src/arrow/util/byte_stream_split_test.cc
  cpp/src/arrow/util/type_traits.h
  cpp/src/parquet/encoding_benchmark.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#46894 GH-44435: [GLib] Add distinct count support to GArrowArrayStatistics
  c_glib/arrow-glib/basic-array.cpp
  c_glib/arrow-glib/basic-array.h
  c_glib/test/test-array-statistics.rb
Labels: Component: GLib, awaiting change review

#45799 GH-45798: [C++] Add extension directory to Meson
  cpp/src/arrow/extension/meson.build
  cpp/src/arrow/meson.build
  cpp/src/arrow/util/meson.build
Labels: Component: C++, awaiting changes, CI: Extra

#46779 GH-46767: [C++] Enable EqualOptions::use_atol_ for arrow::Array, arrow::Scalar, arrow::RecordBatch, and arrow::ChuckedArray
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/statistics_test.cc
  cpp/src/arrow/chunked_array.cc
  cpp/src/arrow/chunked_array_test.cc
  cpp/src/arrow/compare.cc
  cpp/src/arrow/compare.h
  cpp/src/arrow/record_batch_test.cc
  cpp/src/arrow/scalar_test.cc
Labels: Component: C++, awaiting merge
