Repository apache/arrow, pull requests merged in 2025-02, with the labels that each got.

#45397 GH-45396: [C++] Use Boost with ARROW_FUZZING
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#45403 GH-45402: [CI][Dev][Ruby] Reformat codes before apply lint
  c_glib/test/dataset/test-file-system-dataset.rb
  c_glib/test/test-array.rb
  c_glib/test/test-chunked-array-datum.rb
  c_glib/test/test-large-list-array.rb
  c_glib/test/test-record-batch-datum.rb
  c_glib/test/test-record-batch.rb
  c_glib/test/test-struct-field-options.rb
  c_glib/test/test-uint-array-builder.rb
  dev/release/01-prepare-test.rb
  dev/release/post-12-bump-versions-test.rb
  ruby/red-arrow/test/each-raw-record/test-map-array.rb
  ruby/red-arrow/test/raw-records/test-map-array.rb
  ruby/red-arrow/test/test-table.rb
  ruby/red-arrow/test/values/test-map-array.rb
Labels: Component: Ruby, Component: GLib, awaiting merge

#45417 GH-45398: [CI][Dev][Ruby] Add Ruby lint
  .pre-commit-config.yaml
  .rubocop.yml
Labels: awaiting change review

#45114 GH-45132: [C++][Gandiva] Update LLVM to 18.1
  .env
  ci/vcpkg/ports.patch
  ci/vcpkg/vcpkg.json
Labels: awaiting committer review

#45384 GH-26648: [C++] Optimize union equality comparison
  cpp/src/arrow/array/array_union_test.cc
  cpp/src/arrow/compare.cc
Labels: Component: C++, awaiting committer review

#45414 GH-44761: [GLib] Add garrow_table_validate()
  c_glib/arrow-glib/table.cpp
  c_glib/arrow-glib/table.h
  c_glib/test/test-table.rb
Labels: Component: GLib, awaiting merge

#45372 GH-45371: [C++] Fix data race in `SimpleRecordBatch::columns`
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch_test.cc
Labels: Component: C++, awaiting committer review

#45370 GH-45362: [C++] Fix identity cast for time and list scalar
  cpp/src/arrow/scalar.cc
  cpp/src/arrow/scalar_test.cc
Labels: Component: C++, awaiting committer review

#45428 GH-45427: [Python] Fix version comparison in pandas compat for pandas 2.3 dev version
  python/pyarrow/pandas-shim.pxi
Labels: Component: Python, awaiting merge

#45392 GH-45380: [Python] Expose RankQuantileOptions to Python
  cpp/src/arrow/compute/api_vector.cc
  python/pyarrow/_acero.pyx
  python/pyarrow/_compute.pxd
  python/pyarrow/_compute.pyx
  python/pyarrow/compute.py
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, awaiting committer review

#45437 GH-45433: [Python] Remove Cython workarounds
  python/pyarrow/__init__.py
  python/pyarrow/_flight.pyx
  python/pyarrow/_parquet_encryption.pyx
  python/pyarrow/includes/common.pxd
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/includes/libarrow_flight.pxd
  python/pyarrow/io.pxi
  python/pyarrow/lib.pxd
Labels: Component: Python, Component: FlightRPC, awaiting merge

#45424 GH-45423: [C++] Don't require Boost library with ARROW_TESTING=ON/ARROW_BUILD_SHARED=OFF
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting changes

#45084 GH-14932: [Python] Add python bindings for JSON streaming reader
  docs/source/python/api/formats.rst
  docs/source/python/json.rst
  python/pyarrow/_csv.pyx
  python/pyarrow/_json.pyx
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/json.py
  python/pyarrow/tests/test_csv.py
  python/pyarrow/tests/test_json.py
Labels: Component: Python, Component: Documentation, awaiting committer review

#45456 GH-45455: [GLib] Fix returns positive memory-pool utilization
  c_glib/test/test-memory-pool.rb
Labels: Component: GLib, awaiting change review

#45461 MINOR: [Dev] Remove non-active collaborator and add active collaborator
  .asf.yaml
Labels: awaiting committer review

#45460 GH-45416: [CI][C++][Homebrew] Backport the latest formula changes
  dev/tasks/homebrew-formulae/apache-arrow-glib.rb
  dev/tasks/homebrew-formulae/apache-arrow.rb
Labels: awaiting review

#45450 MINOR: [Dev] Minor edits and slight reorganization of usage_question issue template
  .github/ISSUE_TEMPLATE/usage_question.yaml
Labels: awaiting merge

#45448 GH-45447: [CI][GLib] Use `meson format` for Meson configuration files
  .pre-commit-config.yaml
  c_glib/arrow-cuda-glib/meson.build
  c_glib/arrow-dataset-glib/meson.build
  c_glib/arrow-flight-glib/meson.build
  c_glib/arrow-flight-sql-glib/meson.build
  c_glib/arrow-glib/meson.build
  c_glib/doc/meson.build
  c_glib/example/lua/meson.build
  c_glib/example/meson.build
  c_glib/example/vala/meson.build
  c_glib/gandiva-glib/meson.build
  c_glib/meson.build
  c_glib/parquet-glib/meson.build
Labels: Component: Parquet, Component: Gandiva, Component: GLib, awaiting change review

#45458 GH-45451: [C#] Integration with Grpc.Net.ClientFactory
  csharp/src/Apache.Arrow.Flight/Client/FlightClient.cs
  csharp/test/Apache.Arrow.Flight.Tests/Apache.Arrow.Flight.Tests.csproj
  csharp/test/Apache.Arrow.Flight.Tests/FlightTests.cs
Labels: Component: C#, awaiting review

#45468 GH-44762: [GLib] Add garrow_table_validate_full()
  c_glib/arrow-glib/table.cpp
  c_glib/arrow-glib/table.h
  c_glib/test/test-table.rb
Labels: Component: GLib, awaiting changes

#45473 GH-45393: [C++][Compute] Fix wrong decoding for 32-bit column in row table
  cpp/src/arrow/compute/row/encode_internal.cc
  cpp/src/arrow/compute/row/grouper_test.cc
Labels: Component: C++, awaiting committer review

#45345 GH-45344: [C++][Testing] Generic `StepGenerator`
  cpp/src/arrow/acero/order_by_node_test.cc
  cpp/src/arrow/acero/sorted_merge_node_test.cc
  cpp/src/arrow/testing/CMakeLists.txt
  cpp/src/arrow/testing/generator.cc
  cpp/src/arrow/testing/generator.h
  cpp/src/arrow/testing/generator_test.cc
Labels: Component: C++, awaiting merge

#45481 GH-45436: [Docs][Packaging][Linux] Update how to build .deb/.rpm
  dev/tasks/linux-packages/README.md
Labels: Component: Documentation, awaiting change review

#45483 GH-45482: [CI][Python] Don't use Ubuntu 20.04 for wheel test
  dev/tasks/python-wheels/github.linux.yml
Labels: awaiting merge

#45480 GH-45479: [CI][Release] Use Ubuntu 24.04 instead of 20.04
  ci/docker/ubuntu-20.04-verify-rc.dockerfile
  dev/release/setup-ubuntu.sh
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: awaiting committer review

#45477 GH-45476: [Packaging][Linux] Drop support for Ubuntu 20.04
  dev/release/binary-task.rb
  dev/release/verify-release-candidate.sh
  dev/tasks/linux-packages/apache-arrow-apt-source/apt/ubuntu-focal/Dockerfile
  dev/tasks/linux-packages/apache-arrow/Rakefile
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-focal-arm64/from
  dev/tasks/linux-packages/apache-arrow/apt/ubuntu-focal/Dockerfile
  dev/tasks/linux-packages/apache-arrow/debian/control.in
  dev/tasks/linux-packages/package-task.rb
  dev/tasks/tasks.yml
Labels: awaiting committer review

#45475 GH-45389: [CI][R] Use Ubuntu 22.04 for test-r-versions
  dev/tasks/r/github.linux.versions.yml
Labels: awaiting committer review

#45425 GH-45295: [Python][CI] Make download_tzdata_on_windows more robust and use tzdata package for tzinfo database on Windows for ORC
  ci/scripts/python_wheel_windows_test.bat
  python/pyarrow/tests/conftest.py
  python/pyarrow/util.py
  python/requirements-wheel-test.txt
Labels: Component: Python, awaiting merge

#44616 GH-44629: [C++][Acero] Use `implicit_ordering` for `asof_join` rather than `require_sequenced_output`
  cpp/src/arrow/acero/options.h
  cpp/src/arrow/acero/source_node.cc
  cpp/src/arrow/dataset/scanner.cc
  cpp/src/arrow/dataset/scanner.h
  python/pyarrow/_dataset.pyx
  python/pyarrow/acero.py
  python/pyarrow/includes/libarrow_dataset.pxd
Labels: Component: C++, Component: Python, awaiting committer review

#45444 GH-45301: [C++] Change PrimitiveArray ctor to protected
  cpp/src/arrow/array/array_base.h
Labels: Component: C++, awaiting committer review

#45330 GH-37630: [C++][Python][Dataset] Allow disabling fragment metadata caching
  cpp/src/arrow/acero/options.h
  cpp/src/arrow/acero/source_node_test.cc
  cpp/src/arrow/dataset/dataset.cc
  cpp/src/arrow/dataset/dataset.h
  cpp/src/arrow/dataset/dataset_test.cc
  cpp/src/arrow/dataset/discovery.cc
  cpp/src/arrow/dataset/file_base.cc
  cpp/src/arrow/dataset/file_parquet.cc
  cpp/src/arrow/dataset/file_parquet.h
  cpp/src/arrow/dataset/file_parquet_test.cc
  cpp/src/arrow/dataset/scanner.cc
  cpp/src/arrow/dataset/scanner.h
  cpp/src/arrow/dataset/scanner_test.cc
  cpp/src/arrow/engine/substrait/util.cc
  cpp/src/arrow/io/test_common.cc
  cpp/src/arrow/io/test_common.h
  cpp/src/arrow/util/async_generator.h
  cpp/src/arrow/util/async_generator_fwd.h
  cpp/src/arrow/util/iterator.h
  cpp/src/arrow/util/type_fwd.h
  python/pyarrow/_dataset.pyx
  python/pyarrow/includes/libarrow_dataset.pxd
Labels: Component: C++, Component: Python, awaiting committer review

#45500 GH-45499: [CI] Bump actions/cache version on GHA
  .github/workflows/cpp.yml
  .github/workflows/docs.yml
  .github/workflows/docs_light.yml
  .github/workflows/integration.yml
  .github/workflows/python.yml
  .github/workflows/r.yml
  .github/workflows/r_nightly.yml
  .github/workflows/ruby.yml
Labels: awaiting merge

#45268 GH-45266: [C++][Acero] Fix the running tasks count of Scheduler when get error tasks in multi-threads
  cpp/src/arrow/acero/task_util.cc
  cpp/src/arrow/acero/task_util_test.cc
Labels: Component: C++, awaiting committer review

#45464 GH-45377: [CI][R] Ensure install R on ubuntu-24.04 runner for R nightly build jobs
  .github/workflows/r_nightly.yml
Labels: awaiting changes

#45511 GH-45510: [CI][C++] Fix LLVM APT repository preparation on Debian
  ci/docker/debian-12-cpp.dockerfile
Labels: awaiting merge

#45498 GH-45497: [C++][CSV] Avoid buffer overflow when a line has too many columns
  cpp/src/arrow/csv/parser.cc
  cpp/src/arrow/csv/parser_test.cc
Labels: Component: C++, Critical Fix, awaiting change review

#45492 GH-45491: [GLib] Require Meson 0.61.2 or later
  c_glib/meson.build
  dev/release/01-prepare-test.rb
  dev/release/post-12-bump-versions-test.rb
  dev/release/utils-prepare.sh
Labels: Component: GLib, awaiting committer review

#45518 GH-45517: [GLib] garrow_data_type_new_raw() returns GARROW_TYPE_STRING_VIEW_DATA_TYPE
  c_glib/arrow-glib/basic-data-type.cpp
  c_glib/test/test-string-view-data-type.rb
Labels: Component: GLib, awaiting review

#45513 GH-45512: [C++] Clean up undefined symbols in libarrow without IPC
  cpp/src/arrow/compute/expression.cc
Labels: Component: C++, awaiting review

#45463 GH-45159: [CI][Integration] Remove substrait consumer-testing integration job
  ci/docker/conda-python-substrait.dockerfile
  ci/scripts/install_substrait_consumer.sh
  ci/scripts/integration_substrait.sh
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: awaiting committer review

#43782 GH-33592: [C++] support casting nullable fields to non-nullable if there are no null values
  cpp/src/arrow/compute/kernels/scalar_cast_nested.cc
  cpp/src/arrow/compute/kernels/scalar_cast_test.cc
Labels: Component: C++, awaiting committer review

#45520 GH-45514: [CI][C++][Docs] Set CUDAToolkit_ROOT explicitly in debian-docs
  ci/docker/linux-apt-docs.dockerfile
  ci/scripts/cpp_build.sh
Labels: awaiting merge

#45529 GH-45528: [GLib] garrow_data_type_new_raw() returns GARROW_TYPE_BINARY_VIEW_DATA_TYPE
  c_glib/arrow-glib/basic-data-type.cpp
  c_glib/test/test-binary-view-data-type.rb
Labels: Component: GLib, awaiting review

#45519 GH-45478: [CI][C++] Drop support for Ubuntu 20.04
  .github/workflows/cpp.yml
  ci/docker/ubuntu-20.04-cpp-minimal.dockerfile
  ci/docker/ubuntu-20.04-cpp.dockerfile
  ci/docker/ubuntu-22.04-cpp.dockerfile
  ci/docker/ubuntu-24.04-cpp.dockerfile
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: awaiting merge

#45538 GH-45537: [CI][C++] Add missing includes (iwyu) to file_skyhook.cc
  cpp/src/skyhook/client/file_skyhook.cc
Labels: Component: C++, awaiting committer review

#45509 GH-45508: [CI][R] Remove Ubuntu version from sanitizer jobs
  dev/tasks/tasks.yml
  docker-compose.yml
Labels: awaiting changes

#45524 GH-45521: [CI][Dev][R] Install required cyclocomp package to be used with R lintr
  .github/workflows/r.yml
  ci/docker/linux-apt-lint.dockerfile
Labels: awaiting merge

#45542 GH-45541: [Doc][C++] Render ASCII art as-is
  cpp/src/arrow/type.h
Labels: Component: C++, awaiting committer review

#45544 GH-45543: [Release][C#] Remove NuGet references in script
  dev/release/post-03-binary.sh
Labels: awaiting merge

#44375 GH-43519: [Python][CI] Update Python 3.13 rc to final 3.13.2
  ci/scripts/install_python.sh
  dev/tasks/python-wheels/github.linux.yml
Labels: awaiting change review

#45507 GH-45505: [CI][R] Use Ubuntu 22.04 instead of 20.04 as much as possible for nightly jobs
  dev/tasks/r/github.linux.arrow.version.back.compat.yml
  dev/tasks/r/github.linux.offline.build.yml
  dev/tasks/r/github.linux.rchk.yml
  dev/tasks/r/github.macos-linux.local.yml
  dev/tasks/r/github.packages.yml
Labels: awaiting merge

#45556 GH-45536: [Dev][R] Update code to match new linters on lintr=3.2.0
  .github/workflows/r.yml
  dev/release/rat_exclude_files.txt
  r/.lintr
  r/tests/testthat/test-dplyr-collapse.R
Labels: Component: R, awaiting changes

#45261 GH-44924: [R] Remove usage of cpp11's HAS_UNWIND_PROTECT
  r/src/safe-call-into-r-impl.cpp
  r/src/safe-call-into-r.h
Labels: Component: R, awaiting merge

#45575 MINOR: [R] Clean up a linting issue from #45261
  r/src/safe-call-into-r-impl.cpp
Labels: Component: R, awaiting committer review

#45554 GH-45545: [C++][Parquet] Add missing includes
  cpp/src/parquet/size_statistics.cc
Labels: awaiting committer review

#45579 GH-45578: [C++] Use max not min in MakeStatisticsArrayMaxApproximate test
  cpp/src/arrow/record_batch_test.cc
Labels: Component: C++, awaiting review

#45573 GH-45572: [C++][Compute] Add rank_normal function
  LICENSE.txt
  cpp/src/arrow/CMakeLists.txt
  cpp/src/arrow/compute/kernels/vector_rank.cc
  cpp/src/arrow/compute/kernels/vector_sort_test.cc
  cpp/src/arrow/util/CMakeLists.txt
  cpp/src/arrow/util/math_internal.cc
  cpp/src/arrow/util/math_internal.h
  cpp/src/arrow/util/math_test.cc
  docs/source/cpp/compute.rst
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, Component: Documentation, awaiting change review

#45571 GH-45570: [Python] Allow Decimal32/64Array.to_pandas
  python/pyarrow/src/arrow/python/arrow_to_pandas.cc
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting change review

#45471 GH-39010: [Python] Introduce `maps_as_pydicts` parameter for `to_pylist`, `to_pydict`, `as_py`
  python/pyarrow/array.pxi
  python/pyarrow/scalar.pxi
  python/pyarrow/table.pxi
  python/pyarrow/tests/test_extension_type.py
  python/pyarrow/tests/test_scalars.py
  python/pyarrow/tests/test_table.py
Labels: Component: Python, awaiting committer review

#45585 GH-45584: [C++][Thirdparty] Bump zstd to v1.5.7
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting committer review

#45567 GH-45566: [C++][Parquet][CMake] Remove a workaround for Windows in FindThriftAlt.cmake
  ci/scripts/PKGBUILD
  ci/scripts/r_windows_build.sh
  cpp/cmake_modules/FindThriftAlt.cmake
  r/configure.win
Labels: Component: R, Component: C++, awaiting merge

#45588 GH-45587: [C++][Docs] Fix the statistics schema link in `arrow::RecordBatch::MakeStatisticsArray()`'s docstring
  cpp/src/arrow/record_batch.h
Labels: Component: C++, awaiting review

#45593 GH-45591: [C++][Acero] Refine hash join benchmark and remove openmp from the project
  ci/scripts/cpp_build.sh
  cpp/CMakePresets.json
  cpp/cmake_modules/DefineOptions.cmake
  cpp/src/arrow/acero/CMakeLists.txt
  cpp/src/arrow/acero/accumulation_queue.h
  cpp/src/arrow/acero/hash_join.h
  cpp/src/arrow/acero/hash_join_benchmark.cc
  cpp/src/arrow/acero/swiss_join_internal.h
Labels: Component: C++, awaiting change review

#45599 GH-45485: [Dev] Simplify pull request template
  .github/pull_request_template.md
Labels: Component: Documentation, awaiting committer review

#45607 MINOR: [R] Bump the timeout for library download
  r/tools/nixlibs.R
Labels: Component: R, awaiting committer review

#45606 GH-45605: [R][C++] Fix identifier ... preceded by whitespace warnings
  ci/scripts/r_test.sh
  cpp/src/arrow/vendored/datetime/README.md
  cpp/src/arrow/vendored/datetime/date.h
  dev/tasks/r/github.linux.cran.yml
  dev/tasks/tasks.yml
  r/src/filesystem.cpp
Labels: Component: R, Component: C++, Component: Documentation, awaiting change review

#45617 MINOR: [R] Make update-checksums.R work on macOS out of the box
  r/tools/update-checksums.R
Labels: Component: R, awaiting committer review

#45442 GH-45156: [Python][Packaging] Refactor Python Windows wheel images to use newer base image
  .env
  .pre-commit-config.yaml
  ci/docker/python-free-threaded-wheel-windows-test-vs2022.dockerfile
  ci/docker/python-free-threaded-wheel-windows-vs2022.dockerfile
  ci/docker/python-wheel-windows-test-vs2019-base.dockerfile
  ci/docker/python-wheel-windows-test-vs2022-base.dockerfile
  ci/docker/python-wheel-windows-test-vs2022.dockerfile
  ci/docker/python-wheel-windows-vs2019-base.dockerfile
  ci/docker/python-wheel-windows-vs2022-base.dockerfile
  ci/docker/python-wheel-windows-vs2022.dockerfile
  ci/scripts/python_wheel_windows_build.bat
  dev/tasks/python-wheels/github.windows.yml
  docker-compose.yml
Labels: awaiting change review

#45550 GH-45457: [Python] Add `pyarrow.ArrayStatistics`
  python/pyarrow/array.pxi
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/lib.pxd
  python/pyarrow/tests/parquet/test_parquet_file.py
Labels: Component: Python, awaiting changes

#45627 GH-45626: [CI][Docs] Remove Java related configurations from `ci/docker/linux-apt-docs.dockerfile`
  ci/docker/linux-apt-docs.dockerfile
  docker-compose.yml
Labels: awaiting merge

#45632 GH-45631: [CI] Remove unused `java-jni-manylinux-201x.dockerfile`
  ci/docker/java-jni-manylinux-201x.dockerfile
Labels: awaiting committer review

#45561 GH-45560: [Docs] Fix Statistics schema's "column" examples
  ci/conda_env_sphinx.txt
  ci/docker/conda-python-pandas.dockerfile
  docs/requirements.txt
  docs/source/conf.py
  docs/source/format/StatisticsSchema.rst
Labels: Component: Documentation, awaiting committer review

#45583 GH-45582: [Python] Preserve decimal32/64/256 metadata in Schema.metadata
  python/pyarrow/pandas_compat.py
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting committer review

#44171 GH-44188: [Python] Fix pandas roundtrip with bytes column names
  python/pyarrow/pandas_compat.py
  python/pyarrow/tests/test_pandas.py
Labels: Component: Python, awaiting committer review

#45637 GH-45628: [C++] Ensure specifying Boost include directory for bundled Thrift
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review
