Repository apache/arrow, pull requests merged in 2025-10, with the labels that each got.

#47680 GH-47679: [C++] Register arrow compute calls in ODBC
  cpp/src/arrow/flight/sql/odbc/flight_sql/CMakeLists.txt
  cpp/src/arrow/flight/sql/odbc/flight_sql/flight_sql_connection_test.cc
  cpp/src/arrow/flight/sql/odbc/flight_sql/flight_sql_driver.cc
  cpp/src/arrow/flight/sql/odbc/flight_sql/include/flight_sql/flight_sql_driver.h
  cpp/src/arrow/flight/sql/odbc/flight_sql/utils_test.cc
Labels: Component: C++, Component: FlightRPC, awaiting change review

#47627 GH-47614: [CI] Upgrade vcpkg on our CI
  .env
  ci/docker/python-wheel-windows-test-vs2022-base.dockerfile
  ci/scripts/python_wheel_windows_build.bat
  ci/vcpkg/ports.patch
  cpp/src/arrow/flight/CMakeLists.txt
  dev/tasks/python-wheels/github.linux.yml
  dev/tasks/python-wheels/github.osx.yml
Labels: Component: C++, Component: FlightRPC, awaiting merge

#47601 GH-47602: [Python] Make Schema hashable even when it has metadata
  python/pyarrow/tests/test_schema.py
  python/pyarrow/types.pxi
Labels: Component: Python, awaiting committer review

#47622 GH-47106: [R] Update R package to use R 4.1+ native forward pipe syntax
  r/R/dataset-write.R
  r/R/dplyr-funcs-augmented.R
  r/R/dplyr-funcs-type.R
  r/R/dplyr-summarize.R
  r/R/dplyr.R
  r/R/duckdb.R
  r/R/type.R
  r/R/udf.R
  r/data-raw/codegen.R
  r/data-raw/docgen.R
  r/tests/testthat/_snaps/dataset-dplyr.md
  r/tests/testthat/_snaps/dplyr-across.md
  r/tests/testthat/_snaps/dplyr-funcs-datetime.md
  r/tests/testthat/_snaps/dplyr-glimpse.md
  r/tests/testthat/_snaps/dplyr-mutate.md
  r/tests/testthat/_snaps/dplyr-summarize.md
  r/tests/testthat/helper-filesystems.R
  r/tests/testthat/test-RecordBatch.R
  r/tests/testthat/test-Table.R
  r/tests/testthat/test-compute-sort.R
  r/tests/testthat/test-csv.R
  r/tests/testthat/test-dataset-csv.R
  r/tests/testthat/test-dataset-dplyr.R
  r/tests/testthat/test-dataset-json.R
  r/tests/testthat/test-dataset-uri.R
  r/tests/testthat/test-dataset-write.R
  r/tests/testthat/test-dataset.R
  r/tests/testthat/test-dplyr-across.R
  r/tests/testthat/test-dplyr-arrange.R
  r/tests/testthat/test-dplyr-collapse.R
  r/tests/testthat/test-dplyr-count.R
  r/tests/testthat/test-dplyr-distinct.R
  r/tests/testthat/test-dplyr-filter.R
  r/tests/testthat/test-dplyr-funcs-conditional.R
  r/tests/testthat/test-dplyr-funcs-datetime.R
  r/tests/testthat/test-dplyr-funcs-math.R
  r/tests/testthat/test-dplyr-funcs-string.R
  r/tests/testthat/test-dplyr-funcs-type.R
  r/tests/testthat/test-dplyr-glimpse.R
  r/tests/testthat/test-dplyr-group-by.R
  r/tests/testthat/test-dplyr-join.R
  r/tests/testthat/test-dplyr-mutate.R
  r/tests/testthat/test-dplyr-query.R
  r/tests/testthat/test-dplyr-select.R
  r/tests/testthat/test-dplyr-slice.R
  r/tests/testthat/test-dplyr-summarize.R
  r/tests/testthat/test-dplyr-union.R
  r/tests/testthat/test-duckdb.R
  r/tests/testthat/test-extension.R
  r/tests/testthat/test-metadata.R
  r/tests/testthat/test-parquet.R
  r/tests/testthat/test-python.R
  r/tests/testthat/test-query-engine.R
  r/tests/testthat/test-udf.R
  r/vignettes/arrow.Rmd
  r/vignettes/data_wrangling.Rmd
  r/vignettes/dataset.Rmd
  r/vignettes/flight.Rmd
Labels: Component: R, Component: Documentation, awaiting committer review

#47454 GH-47380: [Python] Apply maps_as_pydicts to Nested MapScalar Values
  python/pyarrow/scalar.pxi
  python/pyarrow/tests/test_scalars.py
Labels: Component: Python, awaiting merge

#47730 GH-47705: [R][CI] Migrate rhub debian-gcc-release to equivalent supported image
  dev/tasks/tasks.yml
Labels: awaiting merge

#47743 GH-47742: [C++][CI] Silence Valgrind leak on protobuf initialization
  cpp/valgrind.supp
Labels: Component: C++, awaiting committer review

#47725 GH-47697: [C++][FlightRPC] Add ODBC API placeholders
  cpp/src/arrow/flight/sql/odbc/entry_points.cc
  cpp/src/arrow/flight/sql/odbc/flight_sql/ui/dsn_configuration_window.cc
  cpp/src/arrow/flight/sql/odbc/odbc_api.cc
  cpp/src/arrow/flight/sql/odbc/odbc_api_internal.h
  cpp/src/arrow/flight/sql/odbc/odbcabstraction/include/odbcabstraction/odbc_impl/odbc_handle.h
Labels: Component: C++, Component: FlightRPC, awaiting changes

#47744 GH-47747: [C++] Bump Apache ORC to 2.2.1
  cpp/cmake_modules/ThirdpartyToolchain.cmake
  cpp/thirdparty/versions.txt
Labels: Component: C++, awaiting merge
