Repository apache/arrow, pull requests merged in 2025-09, with the labels that each got.

#47396 GH-47370: [Python] Require Cython 3.1
  .github/workflows/dev.yml
  ci/conda_env_python.txt
  python/pyproject.toml
  python/requirements-build.txt
  python/requirements-wheel-build.txt
  python/setup.py
Labels: Component: Python, awaiting merge

#47178 GH-47179: [Python] Revert FileSystem.from_uri to be a staticmethod again
  python/pyarrow/_fs.pyx
  python/pyarrow/tests/test_fs.py
Labels: Component: Python, awaiting merge

#47313 GH-47256: [Python] Do not use cffi in free-threaded 3.13 builds
  ci/docker/linux-apt-python-313-freethreading.dockerfile
  ci/docker/python-free-threaded-wheel-windows-test-vs2022.dockerfile
  python/requirements-test-3.13t.txt
  python/requirements-wheel-test-3.13t.txt
Labels: Component: Python, awaiting merge

#47204 GH-46835: [C++] Add more configuration options to arrow::EqualOptions
  cpp/src/arrow/compare.h
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch.h
  cpp/src/arrow/record_batch_test.cc
  docs/source/cpp/api/utilities.rst
Labels: Component: C++, Component: Documentation, awaiting changes

#47468 GH-47440: [C++] Accept gflags::gflags as system gflags CMake target
  cpp/cmake_modules/ThirdpartyToolchain.cmake
Labels: Component: C++, awaiting committer review

#47473 GH-47469: [C++][Gandiva] Add support for LLVM 21.1.0
  cpp/CMakeLists.txt
  cpp/src/gandiva/engine.cc
  cpp/src/gandiva/llvm_types.h
Labels: Component: C++, Component: Gandiva, awaiting committer review

#47470 GH-43904: [CI][Python] Stop uploading nightly wheels to gemfury
  dev/tasks/macros.jinja
  dev/tasks/python-sdist/github.yml
  dev/tasks/python-wheels/github.linux.yml
  dev/tasks/python-wheels/github.osx.yml
  dev/tasks/python-wheels/github.windows.yml
Labels: awaiting merge

#47427 GH-44345: [C++][Parquet] Add Decimal32/64 support to Parquet
  cpp/src/parquet/arrow/arrow_reader_writer_test.cc
  cpp/src/parquet/arrow/reader_internal.cc
  cpp/src/parquet/arrow/schema.cc
  cpp/src/parquet/arrow/schema_internal.cc
  cpp/src/parquet/arrow/schema_internal.h
  cpp/src/parquet/arrow/test_util.h
  cpp/src/parquet/column_writer.cc
  cpp/src/parquet/properties.h
  docs/source/cpp/parquet.rst
Labels: Component: Parquet, Component: C++, Component: Documentation, awaiting committer review

#47479 GH-41336: [C++][Compute] Fix case_when kernel dispatch for decimals with different precisions and scales
  cpp/src/arrow/compute/expression_test.cc
  cpp/src/arrow/compute/kernel.cc
  cpp/src/arrow/compute/kernel.h
  cpp/src/arrow/compute/kernel_test.cc
  cpp/src/arrow/compute/kernels/scalar_if_else.cc
  cpp/src/arrow/compute/kernels/scalar_if_else_test.cc
Labels: Component: C++, awaiting merge

#47476 GH-47483: [C++] Bump vendored xxhash to 0.8.3
  cpp/CMakeLists.txt
  cpp/src/arrow/vendored/xxhash/README.md
  cpp/src/arrow/vendored/xxhash/xxhash.c
  cpp/src/arrow/vendored/xxhash/xxhash.h
Labels: Component: C++, Component: Documentation, awaiting committer review

#47448 GH-47446: [C++] Update Meson configuration with compute swizzle change
  cpp/src/arrow/meson.build
Labels: Component: C++, awaiting review, CI: Extra

#47459 GH-41011: [C++][Compute] Fix the issue that comparison function could not handle decimal arguments with different scales
  cpp/src/arrow/compute/expression_test.cc
  cpp/src/arrow/compute/kernels/scalar_compare.cc
Labels: Component: C++, awaiting committer review

#47339 GH-47338: [C++][Python] Remove deprecated string-based Parquet encryption methods
  cpp/src/parquet/encryption/encryption.cc
  cpp/src/parquet/encryption/encryption.h
  cpp/src/parquet/encryption/file_key_unwrapper.cc
  cpp/src/parquet/encryption/file_key_unwrapper.h
  cpp/src/parquet/encryption/internal_file_decryptor.cc
  cpp/src/parquet/encryption/key_wrapping_test.cc
  cpp/src/parquet/encryption/kms_client.h
  cpp/src/parquet/encryption/local_wrap_kms_client.cc
  cpp/src/parquet/encryption/local_wrap_kms_client.h
  cpp/src/parquet/encryption/properties_test.cc
  cpp/src/parquet/encryption/test_in_memory_kms.cc
  cpp/src/parquet/encryption/test_in_memory_kms.h
  python/pyarrow/_parquet_encryption.pyx
  python/pyarrow/includes/libarrow.pxd
  python/pyarrow/includes/libparquet_encryption.pxd
  python/pyarrow/src/arrow/python/parquet_encryption.cc
  python/pyarrow/src/arrow/python/parquet_encryption.h
Labels: Component: Parquet, Component: C++, Component: Python, awaiting committer review

#47463 GH-47102: [Statistics][C++] Implement Statistics specification attribute ARROW:max_byte_width:{exact,approximate} Component: C++
  cpp/src/arrow/array/array_test.cc
  cpp/src/arrow/array/statistics.h
  cpp/src/arrow/array/statistics_test.cc
  cpp/src/arrow/compare.cc
  cpp/src/arrow/record_batch.cc
  cpp/src/arrow/record_batch_test.cc
Labels: Component: C++, awaiting change review

#47507 GH-47506: [CI][Packaging] Fix Amazon Linux 2023 packages verification
  dev/release/verify-yum.sh
Labels: awaiting committer review

#47508 GH-47505: [CI][C#][Integration] Use apache/arrow-dotnet
  .github/workflows/integration.yml
  ci/scripts/integration_arrow.sh
  ci/scripts/integration_arrow_build.sh
  dev/archery/archery/cli.py
  dev/archery/archery/integration/datagen.py
  dev/archery/archery/integration/runner.py
  dev/archery/archery/integration/tester_dotnet.py
Labels: awaiting committer review

#47484 GH-47367: [Packaging][Python] Patch vcpkg to show logs and install newer Windows SDK for vs_buildtools
  .env
  ci/docker/python-wheel-windows-test-vs2022-base.dockerfile
  ci/docker/python-wheel-windows-vs2022-base.dockerfile
  ci/scripts/install_vcpkg.sh
  ci/vcpkg/vcpkg.patch
Labels: awaiting changes

#47538 GH-47537: [C++] Use pkgconfig name for benchmark in Meson
  cpp/src/arrow/meson.build
Labels: Component: C++, awaiting review, CI: Extra

#47478 GH-47443: [Python][Packaging] Drop Python 3.9 support
  .env
  .github/workflows/archery.yml
  .github/workflows/cpp.yml
  .github/workflows/docs_light.yml
  .github/workflows/python.yml
  ci/docker/conda-python-cpython-debug.dockerfile
  ci/docker/conda-python-dask.dockerfile
  ci/docker/conda-python-hdfs.dockerfile
  ci/docker/conda-python-jpype.dockerfile
  ci/docker/conda-python-pandas.dockerfile
  ci/docker/conda-python-spark.dockerfile
  ci/docker/conda-python.dockerfile
  ci/docker/python-sdist.dockerfile
  ci/docker/python-wheel-manylinux.dockerfile
  ci/docker/python-wheel-musllinux.dockerfile
  ci/docker/python-wheel-windows-test-vs2022.dockerfile
  ci/docker/python-wheel-windows-vs2022.dockerfile
  ci/scripts/install_python.sh
  ci/scripts/python_sdist_test.sh
  ci/scripts/python_wheel_macos_build.sh
  ci/scripts/r_install_system_dependencies.sh
  dev/archery/setup.py
  dev/release/verify-release-candidate-wheels.bat
  dev/release/verify-release-candidate.bat
  dev/release/verify-release-candidate.sh
  dev/tasks/linux-packages/apache-arrow/yum/almalinux-8/Dockerfile
  dev/tasks/macros.jinja
  dev/tasks/python-wheels/github.linux.yml
  dev/tasks/tasks.yml
  docker-compose.yml
  docs/source/developers/continuous_integration/archery.rst
  docs/source/developers/continuous_integration/crossbow.rst
  docs/source/python/install.rst
  python/pyproject.toml
  python/requirements-build.txt
  python/requirements-wheel-build.txt
  r/tests/testthat/test-python.R
Labels: Component: R, Component: Python, Component: Documentation, awaiting change review

#47540 GH-47539: [C++] Detect Snappy and bzip2 in Meson CI
  cpp/src/arrow/meson.build
Labels: Component: C++, awaiting merge, CI: Extra

#47544 GH-47543: [C++] Search for system install of Azure libraries with Meson
  cpp/src/arrow/meson.build
Labels: Component: C++, awaiting review, CI: Extra

#47249 GH-47234: [C++][Python] Add test for fill_null regression on Windows
  cpp/src/arrow/compute/kernels/scalar_if_else_test.cc
  python/pyarrow/tests/test_compute.py
Labels: Component: C++, Component: Python, awaiting change review

#47456 GH-46908: [Docs][Format] Add variant extension type docs
  docs/source/format/CanonicalExtensions.rst
  docs/source/format/CanonicalExtensions/Examples.rst
  docs/source/status.rst
Labels: Component: Documentation, awaiting changes

#47567 GH-42137 [CI][Python] Add Python Windows GitHub Action and remove AppVeyor
  .github/workflows/python.yml
  appveyor.yml
  ci/appveyor-cpp-build.bat
  ci/appveyor-cpp-setup.bat
  ci/scripts/python_build.bat
  ci/scripts/python_test.bat
Labels: awaiting changes

#47585 GH-47584: [C++][CI] Remove "large memory" mark from TestListArray::TestOverflowCheck
  cpp/src/arrow/array/array_list_test.cc
Labels: Component: C++, awaiting committer review

#47386 GH-47384: [C++][Acero] Isolate BackpressureHandler from ExecNode
  cpp/src/arrow/acero/asof_join_node.cc
  cpp/src/arrow/acero/backpressure_handler.h
  cpp/src/arrow/acero/concurrent_queue_internal.h
  cpp/src/arrow/acero/sorted_merge_node.cc
  cpp/src/arrow/acero/util_test.cc
Labels: Component: C++, awaiting committer review

#47619 GH-47596: [C++][Parquet] Fix printing of large Decimal statistics
  cpp/src/parquet/types.cc
  cpp/src/parquet/types_test.cc
Labels: Component: Parquet, Component: C++, awaiting committer review

#47629 GH-46928: [C++] Retry on EINTR while opening file in FileOpenReadable
  cpp/src/arrow/util/io_util.cc
Labels: Component: C++, awaiting committer review

#47647 MINOR: Update docs site footer for new ASF logo
  docs/source/conf.py
Labels: Component: Documentation, awaiting merge

#47651 GH-47650: [Archery][Integration] Add option to generate gold files
  dev/archery/archery/cli.py
  dev/archery/archery/integration/datagen.py
  dev/archery/archery/integration/runner.py
  docs/source/format/Integration.rst
Labels: Component: Documentation, awaiting merge

#47656 GH-47655: [C++][Parquet][CI] Fix failure to generate seed corpus
  cpp/src/parquet/arrow/generate_fuzz_corpus.cc
Labels: Component: Parquet, Component: C++, awaiting review

#47541 GH-47431: [C++] Improve Meson configuration for WrapDB distribution
  cpp/src/arrow/acero/meson.build
  cpp/src/arrow/adapters/tensorflow/meson.build
  cpp/src/arrow/csv/meson.build
  cpp/src/arrow/filesystem/meson.build
  cpp/src/arrow/json/meson.build
  cpp/src/arrow/meson.build
Labels: Component: C++, awaiting review, CI: Extra

#45964 GH-45921: [Release][R] Use GitHub Release not apache.jfrog.io
  ci/scripts/r_windows_build.sh
  dev/release/05-binary-upload.sh
  dev/release/binary-task.rb
  dev/release/post-03-binary.sh
  dev/tasks/macros.jinja
  dev/tasks/r/github.packages.yml
  dev/tasks/tasks.yml
  r/configure.win
  r/tools/nixlibs.R
  r/tools/test-nixlibs.R
  r/tools/update-checksums.R
Labels: Component: R, awaiting change review

#47645 GH-47518: [C++][FlightRPC] Replace `spdlogs` with Arrow's Internal Logging
  cpp/src/arrow/flight/sql/odbc/CMakeLists.txt
  cpp/src/arrow/flight/sql/odbc/flight_sql/flight_sql_driver.cc
  cpp/src/arrow/flight/sql/odbc/flight_sql/include/flight_sql/flight_sql_driver.h
  cpp/src/arrow/flight/sql/odbc/flight_sql/ui/dsn_configuration_window.cc
  cpp/src/arrow/flight/sql/odbc/odbcabstraction/CMakeLists.txt
  cpp/src/arrow/flight/sql/odbc/odbcabstraction/include/odbcabstraction/logger.h
  cpp/src/arrow/flight/sql/odbc/odbcabstraction/include/odbcabstraction/spd_logger.h
  cpp/src/arrow/flight/sql/odbc/odbcabstraction/include/odbcabstraction/utils.h
  cpp/src/arrow/flight/sql/odbc/odbcabstraction/logger.cc
  cpp/src/arrow/flight/sql/odbc/odbcabstraction/spd_logger.cc
  cpp/src/arrow/flight/sql/odbc/odbcabstraction/utils.cc
  cpp/vcpkg.json
Labels: Component: C++, Component: FlightRPC, awaiting merge

#47626 GH-47625: [Python] Free-threaded musllinux and manylinux wheels started failing with cffi 2.0.0
  ci/docker/python-free-threaded-wheel-manylinux-test-unittests.dockerfile
  ci/docker/python-free-threaded-wheel-musllinux-test-unittests.dockerfile
  ci/scripts/python_wheel_unix_test.sh
Labels: awaiting merge
